[2017-09-30 13:06] nonintanon commented on #1428
interesting.. isn't it supposed to be part of gitignore in the first place?

[2017-10-02 03:13] Janidbest commented on #724
I have 4 related entities ( we want to leave aspnetusers table flexible for any future changes in the framework), I'm sure this will be grow more soon, having context to use to include related data always a performance constraint. The aspnet identity framework should support to include the related entities when wanted.

[2017-10-02 14:29] yodasad commented on #1448
Thank you! I got it.

[2017-10-02 14:29] #1448 closed

[2017-10-03 09:43] mattthr opened #1450 "Allow two-factor challenges at random intervals"
Some sites which use two factor authentication - Steam is a good example - do not challenge the user for the authentication code on every visit. This retains many of the advantages of increased security but is less inconvenient for the user.

As far as I can tell, Asp.Net identity does not support this out of the box. I tried to roll my own version:

[code]

But this does not work, for reasons I'v

[2017-10-03 20:24] CybrZr00 commented on #1364
Hi,

I tried as described... well everywhere! Seems I'm missing something, I have roles and users to add (ApplicationUser: IdentityUser & ApplicationRole: IdentityRole) in addiction to the navigation properties in Application User I also added navigation in ApplicationRole but I get

 I can remove that section and it will build but I cant do things such as get all roles and include users, which is

[2017-10-04 07:56] CybrZr00 commented on #1364
fixed it!

Changed my nav properties to match:
applicationuser:
[code]
ApplicationRole:

[code]
updated my DbContext:

[code]
Ensured the initial migration looked ok. and it all worked.

[2017-10-04 15:38] thdotnet opened #1451 "Warning maximum key length for a clustered index"
I'm running SQL script to create the aspnet identity tables, but I'm getting the following warnings on Management Studio:

Is that right? Is there any fix for that?

[2017-10-05 10:44] alonstar opened #1452 "How to get access_token from HttpContext.GetTokenAsync("access_token") while external login"
I want to get access_token from external login (using OpenIdConnect). I can see tokens in external login info,  but I can't get access_token from HttpContext.GetTokenAsync("access_token").

My ExternalLoginCallback is :

        [HttpGet]
        [AllowAnonymous]
        public async Task<IActionResult> ExternalLoginCallback(string returnUrl = null, string remoteError = null)
        {

[2017-10-05 16:37] HaoK commented on #1452
You just need to specify the authentication scheme that matches the external cookie to:
`HttpContext.GetTokenAsync(IdentityConstants.ExternalScheme, "access_token")`

[2017-10-05 18:56] blowdart commented on #1428
The gitignore files were created long before VS Code was available

[2017-10-05 19:02] blowdart commented on #1451
What sql script? There's no sql script in ASP.NET Core identity. Do you perhaps mean the one in the .NET framework?

[2017-10-05 19:09] blowdart commented on #1450
Yea, this isn't supported out of the box, because we view it as a bad idea security wise.

In your code you could call SignInManager.SigninAsync() if you decide you don't want to be secure.

[2017-10-05 19:12] blowdart commented on #1445
This is a limitation of the .NET framework. Instead you'd have to implement your own IPasswordValidator and inject it into DI to override the default one.

[2017-10-05 19:14] blowdart commented on #1444
It should :) @mkArtak did this work for you?

[2017-10-05 19:16] blowdart commented on #1443
Assigning to @ajcvickers because EF :)

[2017-10-05 19:17] blowdart commented on #1441
It's just how we do things in a lot of places. Is this causing an actual issue, or is it just flagging FXcop?

[2017-10-05 19:19] blowdart commented on #1440
Normalization is there for index comparisons/lookups/uniqueness. When it goes into a claim we use the real value, because fidelity is important. What ClaimsIdentity does isn't something under our control.

[2017-10-05 19:19] #1440 closed

[2017-10-05 19:21] blowdart commented on #1439
If we end up writing a base that implements something, what would you choose to implement? Everyone would want something different. You're not meant to hit the not implemented exception, or use our classes to derive from and then attempt to pick and choose, instead you start from your own simplest implementation then layers features on as you need them.

[2017-10-05 19:21] #1439 closed

[2017-10-05 19:23] blowdart commented on #1433
This is really up to your code. We give you a code which must match. How you render the tag in your email is up to you. UrlEncode is wrong for example, because you're passing it as a query string, and UrlEncode is for path parts.

[2017-10-05 19:23] #1433 closed

[2017-10-05 19:26] blowdart commented on #1429
Implement your own IUserTwoFactorTokenProvider, add it options.ProviderMap.Add with a name and set options.EmailConfirmationTokenProvider to the name.

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.Extensions.Identity.Core/IUserTwoFactorTokenProvider.cs

[2017-10-05 19:27] blowdart commented on #1415
As this is related to IdentityServer closing.

[2017-10-05 19:27] #1415 closed

[2017-10-05 19:28] #1414 closed

[2017-10-05 20:02] dfederm commented on #1441
It's pretty difficult to Mock using Moq actually because of this.

I wouldn't really say "it's just how we do things" is a good answer to using a bad practice tbh. FxCop rules aren't there just to annoy people :).

Is there a specific reason this prop needs to be virtual, ie is there a subclass that would have a valid reason to override it rather than just set it? The other props on this class are

[2017-10-05 20:06] javiercn commented on #1428
I will just add it to the .gitignore when I get to this

[2017-10-05 20:11] HaoK commented on #1441
Well, making properties non virtual is a breaking change

[2017-10-05 21:00] Risbot opened #1453 "Cannot consume scoped service Microsoft.AspNetCore.Identity.UserManager from singleton"
Why is can not use UserManager in the singleton?

[2017-10-05 22:10] nonintanon commented on #1428
ah.. undertood. thanks.

[2017-10-05 22:41] dfederm commented on #1441
3.0 can have breaking changes from 2.0.

[2017-10-06 09:00] alonstar commented on #1452
wow, I got it, thanks.

[2017-10-06 09:00] #1452 closed

[2017-10-06 13:19] thepinkmile commented on #1409
Am I right in thinking these changes will eventually allow me to configure Identity to use my Jwt Token Authentication?
I am using this in an API to enable authentication for the API, however it breaks my Jwt authentication because it is setting the Default Schemes and forcing the addition of cookies which are completely useless for an API.

[2017-10-06 16:50] HaoK commented on #1409
Yes it will make that easier, but you already can use `AddIdentityCore` and add whatever pieces of identity you need in 2.0, this will just make it a lot smoother

[2017-10-07 08:02] alikuli commented on #1388
I am using NINJECT and MVC 5. I am beginning to get a strange error from GenerateChangePhoneNumberToken (UserId, PhoneNumber) --- Note, the signature is different to the one you have pointed out earlier in this thread.

I get the following error:

Actual Method where error happened 'GenerateChangePhoneNumberToken'  --- System.ArgumentNullException: String reference not set to an instance of a Stri

[2017-10-08 14:28] tura08 commented on #1079
I'm currently implementing a site in Razor Pages and I think the current template makes sense for social logins. However, because I had the RequireConfirmedEmail option set to true in the identity options, after a user would sign out after registering with facebook, they could never sign in again because they never confirmed their email. I had to add confirm email code into the register button han

[2017-10-08 21:01] chadwackerman2 commented on #1388
@ptrstpp950 How the hell did you figure that out?

@ajcvickers What is the status of 2.0.1? 2.0.0 barely got release notes or all the basic open source notes.

And why didn't @HaoK triage this better? It's a one line fix.

[2017-10-09 01:14] Eilon commented on #1388
@chadwackerman2 we're working on getting a build of the 2.0.1 patch out to our MyGet feed but we're having some infrastructure issues. I will update all the 2.0.1 issues with package feed details when we have it ready.

[2017-10-09 22:52] pakrym opened #1456 "KeyVault extension should provide an overload that takes KeyVaultClient and doesn't require IIdentityBuilder"
Required for:
https://github.com/aspnet/specs/issues/90

1. We don't have `TUser, TRole` in light-up so there is no way to call `AddIdentity`.
2. When using MSI (https://docs.microsoft.com/en-us/azure/active-directory/msi-overview) we get auth callback for  `KeyVaultClient` instead of ClientSecret/ClientID

/cc @javiercn

[2017-10-10 11:45] ActionJ4ckson opened #1457 "Default DataProtectionProvider"
I am working on an application built on MVC 5, .Net 4.5, Identity 2.2.1 using Visual Studio 2017.

Assume that I have started with a fresh application and not altered the default Startup.Auth neither have changed any configuration for ApplicationUserManager.DataproctectionProvider. When I debug the application, in ApplicationUserManager.Create the default value of `options.DataProtectionProvider`

[2017-10-10 14:40] popsovy opened #1458 "Multiple calls to userManager result in Disposed error"
I have this code that's called from Startup.Configure:

[code]

At random, I get the Accessing Disposed Exception from userManager.CreateAsync or userManager.AddToRoleAsync

The class where Initialize is declared is registered with AddScoped in Startup.ConfiguredServices and is passed as an argument to Startup.Configure.

What am I doing wrong that I am getting the Disposed exceptions?

Thank you.

[2017-10-10 19:23] #1426 closed

[2017-10-11 12:12] mcgiany opened #1459 "ChangePasswordAsync Optimistic concurrency failure, object has been modified"
Hi,

we experiencing weird issue with changing password in our MVC Web App.
The error "Optimistic concurrency failure, object has been modified" occurs when we try change password with ChangePasswordAsync method.

This is the code in controller:
[code]
It fails on the error i describe above at this line:
`var result = await _userManagerStore.ChangePasswordAsync(user, viewModel.CurrentPassword, vie

[2017-10-11 14:14] hikalkan opened #1460 "What is Microsoft.AspNetCore.Identity.Service.* packages?"
Is it a replacement for IdentityServer4? Is there any documentation for that? How and why we use that?

Thanks.

[2017-10-11 21:56] Eilon commented on #1460
@danroth27 do we have a pointer to the current state of this?

[2017-10-12 00:08] brockallen commented on #1460
I can only speak for the IdentityServer side of things, but IdentityServer is not going anywhere. We will continue to provide a flexible, customizable, and spec-compliant OIDC and OAuth2 token server.

[2017-10-12 19:09] blowdart commented on #1459
Can we see your startup.cs? Did you customise anything? Is BindViewModel doing anything with the userManagerStore?

[2017-10-12 19:12] blowdart commented on #1458
Can we see your complete startup.Configure? Where is your user manager coming from? Is this called on every request? UserManager et al are request scoped.

Are you trying to seed data here?

[2017-10-12 19:16] blowdart commented on #1457
This is not an identity issue or a .NET Core issue.  The articles you're reading are for Data Protection in ASP.NET Core, which does try autodetection. As you're not using ASP.NET Core you don't get this feature and what you see in debug is correct, it uses a machine key from web.config. Azure Web Apps set this to a consistent value so you don't have to, so it'll just work.

[2017-10-12 19:16] #1457 closed

[2017-10-12 19:17] blowdart commented on #1453
Because UserManager is scoped to requests. You cannot use scoped things in Singletons.

[2017-10-12 19:17] #1453 closed

[2017-10-12 19:27] blowdart commented on #1300
Upon discussion we feel this is giving too much information in an error message, and a failure is failure. Considering the check for new password 1 and new password 2 is outside of this error you could instead implement yourself.

[2017-10-12 19:27] #1300 closed

[2017-10-12 21:44] grahamehorner opened #1461 "TwoFactor/MultiFactor Authentication without asp.net core Identity"
The current TwoFactor authentication is strongly link to the asp.net core identity, please consider allowing TwoFactor/MultiFactor authentication wihout using asp.net core Identity.

example: sites configured to use external oauth/authentication providers such as Facebook, Twitter, Google and Microsoft accounts where a authenticator application is needed to allow the uses to gain access or elevat

[2017-10-12 21:46] HaoK commented on #1461
How would you imagine this to work without identity as the abstraction used to store user information in the app?

[2017-10-12 21:58] grahamehorner commented on #1461
The repository that store the TwoFactor/MultiFactor security keys would dependency injected and provide methods to store/retrieve security keys a string (the oauth provide name & user identit)  (no need to store anything else) when a user signs in for the first time (using the provide they have chosen) the application would generate and store the key under the oauth provider user identity  email/d

[2017-10-12 22:18] HaoK commented on #1461
This sounds like implementing a very bare bones identity store that only supports TFA and external logins.

[2017-10-13 01:34] ronydj opened #1462 "CheckPasswordAsync returns false after second call"
Hi Guys,

I have this part of the code checking the user's password:

var isValidPassword = await Manager.CheckPasswordAsync(user, password);

my manager is a singleton instance.

After the second call, this line is always returning false. It will only return true if I restart my application. Am I doing something wrong? I am not finding anything in the documentation...

[2017-10-13 01:43] #1462 closed

[2017-10-13 03:33] popsovy commented on #1458
DbInitializer.Initialized is called from Startup.Configure. I hope it's called only once, not on every request. Yes, I am trying to seed the admin account for the site. Normally, I seed using MERGE SQL statements, but in this case of creating an account, it seemed that using UserManager from .NET core code is better.

Here is my Startup.cs

`        public void ConfigureServices(IServiceCollection

[2017-10-13 07:10] mcgiany commented on #1459
Our startup.cs is little bit longer, so i shortened it, but contains all relevant things to this issue.
The only thing i customize is, that i use sequences for Identity entities except auto increment value in database.
BindViewModel doesnt anything with the userManagerStore. This method just get the posted data from the form.

startup.cs
[code]

[2017-10-13 09:20] Sathiyamm opened #1463 "How to generate mobile 4 digit token in .net core?"

[2017-10-13 12:33] naveddeshmukh opened #1464 "How to change Type from String to Int and Auto-generated UserName and NormalizedUserName Properties?"
I intended to use UserName property as Employee Codes (integers and auto-incrementing).

As per policy, My application requires the employee to be able to log in using their employee code (which are integer values of 5 digits, if that's relevant ).

I was using UserName property to store the employee codes, but now the requirement is to automatically generate an Employee Code (similar behavior of

[2017-10-13 21:08] grahamehorner commented on #1450
@blowdart would an option not be to create a policy that after a period of time the user is redirected to a two factor code verification screen, with the return uri of the page/action they came from ?

[2017-10-13 21:09] blowdart commented on #1450
No, because either someone is authorized, or not, not a half way in between.

[2017-10-13 21:16] grahamehorner commented on #1450
what I was thinking is like passport control, a person shows their passport and is allowed in and randomly gets checked by customs officials with additional checks; so authentication is the first step with a random second factoehttps://www.facebook.com/sam.francis.393/posts/10203596562870769:0

[2017-10-13 21:20] mattthr commented on #1450
That's a good analogy.

I understand the concern here about weakening the model, but it would be an option, down to the choice of the implementation to use full, occasional or no two-factor checks. And some site which encourage the use of two factor do carry out random spot checks rather than on every visit.

[2017-10-13 21:24] blowdart commented on #1450
It should be possible, an "upgrade", you'd override the forbidden page to prompt for extra auth, and if it works, add a new claim, but it's not something we'd do in the templates.

[2017-10-14 12:33] dallancarr commented on #1458
Something along those lines....scope the objects inside the configure.
[code]

[2017-10-14 12:38] dallancarr commented on #1458
Also async void is not a good pattern. Return a Task and wait if needed.

[2017-10-15 02:20] chadwackerman2 commented on #1463
See https://github.com/aspnet/Identity/issues/1388#issuecomment-330964418 for workaround.

[2017-10-15 15:41] heku opened #1465 "Best practice to integrate Identity into a multiple-layers project?"
Hi,

I have google/bing this but no good solution/suggestion found, as all examples just demonstrate the usage in one project, I'm wondering what's the best practice for integrate Identity with a real solution like below.

- UI Layer (MVC)
- Domain/Models Layer (i.e. `AppUser`, and we may want to keep this layer POCOs)
- Infrastructures Layers (i.e. `AppDbContext`)

In this case, we cannot define

[2017-10-15 20:43] paulhickman-a365 opened #1466 "Suggestion: Support migrating to new Password Hashers over time"
Over time, password hashes that were once considered secure are no longer considered so. Therefore, it would be desirable to be able to support multiple hashes in a single identity database, and transparently re-encrypt users' passwords as they login if a more secure hash function is available.

A newer hash function may mean a new algorithm (e.g. Argon2), or simply more iterations / different con

[2017-10-16 15:23] maqduni opened #1467 "Add alternative ASP.NET Identity RavenDB Provider to the README file"
What's the process for adding an alternative provider? There already is a RavenDB Provider listed in the repository description, I'd like to list my package [https://github.com/maqduni/AspNetCore.Identity.RavenDb](https://github.com/maqduni/AspNetCore.Identity.RavenDb) there as well, it's also the most downloaded and complete RavenDB provider.

Should I list it in parenthesis by the existing link?

[2017-10-17 13:47] yigith commented on #86
Any update on this issue?

[2017-10-18 18:13] andrenpt commented on #1364
I followed the guide to update Identity in .NET Core 2.0 (https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x) but I get this error:

`InvalidOperationException: The entity type 'IdentityUserLogin<int>' requires a primary key to be defined.
Microsoft.EntityFrameworkCore.Infrastructure.ModelValidator.ValidateNonNullPrimaryKeys(IModel model)
Microsoft.EntityFrameworkCore.Infr

[2017-10-18 20:04] javiercn opened #1469 "Push login and session management abstractions into the core application tokens libraries"
* Identify required user principal claims.
* Define an interface for getting the currently logged in user.
* Define an interface for generating a link to the login endpoint. (Maybe)
* Define an interface for managing sessions (required for back channel logout functionality).

[2017-10-18 20:07] javiercn opened #1470 "Decouple application tokens from identity"
Provide default implementations of the components that identity currently implements.

[2017-10-18 20:08] javiercn opened #1471 "Add in-memory layer for applications"
Convention based scenario

[2017-10-18 20:10] javiercn opened #1472 "Update SigningCredentialsManager and SigningCredentialsProvider"
Make it a two step process first ask providers for existing credentials. If no one returns a set of valid credentials, ask providers to generate new ones.

[2017-10-18 20:11] javiercn opened #1473 "Move template code into a library and plug-in the code through a gesture"

[2017-10-18 20:14] javiercn opened #1474 "Define default values for every configuration setting we can"
Define the issuer dynamically based on the current host.
Define default values for all openid/oauth parameters of the applications defined by convention.
Plug-in MVC endpoints/etc through IApplicationModelProvider

[2017-10-18 20:14] javiercn opened #1475 "Support client credentials flow"

[2017-10-18 20:16] javiercn opened #1476 "Support discovery for provisioning client credentials at runtime"

[2017-10-18 20:17] javiercn opened #1477 "Create IdentityClient for querying user data from a client application"

[2017-10-19 00:44] ajcvickers commented on #993
Sorry for being slow responding--we had some internal team changes. This can be done, but requires that you choose one context that will manage the UserInfo table through Migrations and manually remove anything generated for it by the other context. More info and a better experience for this is tracked by https://github.com/aspnet/EntityFrameworkCore/issues/2725

[2017-10-19 00:44] #993 closed

[2017-10-19 00:59] ajcvickers commented on #1067
Sorry for being slow responding--we had some internal team changes. This works for me with the latest bits--the discriminator correctly gets set to 1 or 0 appropriately. If this is still failing for you, please feel free to re-open or file a new issue and we can investigate further,

[2017-10-19 00:59] #1067 closed

[2017-10-19 01:03] ajcvickers commented on #1089
Sorry for being slow responding--we had some internal team changes. When value conversions are implemented in EF Core 2.1, then it should be possible to put a value converter on the property that will ensure all IDs are converted to upper or lower case before being sent to the database. Until then, I think the best fix would be to run a pass on the client data and put it in a consistent state.

Cl

[2017-10-19 01:03] #1089 closed

[2017-10-19 01:10] ajcvickers commented on #1195
@Looooooka In general, if the Identity model is going to be modified to add/remove relationships or keys that participate in relationships, then other parts of the model will need to be changed to make it consistent again. So, in this case, any entity that has a relationship with the IdentityServerUserLogin will need to be changed to use the new PK as the reference for it's FK. This will require m

[2017-10-19 01:10] #1195 closed

[2017-10-19 01:13] ajcvickers commented on #1290
@rmja's answer is essentially the correct way to do this. In general, if the Identity model is going to be modified to add/remove relationships or keys that participate in relationships, then other parts of the model will need to be changed to make it consistent again.

Issue #1447 is about improving the documentation for this.

[2017-10-19 01:13] #1290 closed

[2017-10-19 05:44] heku commented on #1465
Current, I use a separated `DbContext` for identity stuffs, and keep all identity models into an infra project, so that these don't break my domain models.

Still hope to hear your suggestions/practices on this.

[2017-10-19 19:09] blowdart commented on #1467
Sure, send a PR

[2017-10-19 19:12] blowdart commented on #1466
We have this in Core, if we rev the password hashers, we have a requires upgrade and in Identity Core it automatically will update the hash.

You can replace the hashers entirely yourself, and implement this, but we're not about to make this generic, because now you're going to have databases created in one project not readable by another.

[2017-10-19 19:12] #1466 closed

[2017-10-19 19:14] blowdart commented on #1465
This is probably best asked on StackOverflow, this is not something we have support for natively, and we don't have best practice for this.

[2017-10-19 19:14] #1465 closed

[2017-10-19 19:17] blowdart commented on #1464
We don't design for this flow, because what you'd need is the ability to create a user with no username in order to get the auto increment working. So no, we don't believe this is possible, we'd approach it as a separate table, and link through.

[2017-10-19 19:17] #1464 closed

[2017-10-19 19:17] blowdart commented on #1463
Dupe of #1388

[2017-10-19 19:17] #1463 closed

[2017-10-19 19:40] HaoK commented on #1245
@blowdart @ajcvickers we should move this out if we aren't planning on making any schema changes for Identity in 2.1

[2017-10-19 19:42] thdotnet commented on #1451
My bad, It's missing some important details. I want to use Identity without the Code First Approach. So what I did. I've created a sample app using the code first approach and let it creates the identity tables. Using SQL Management studio, I've generated the script from the previous step in order to create the tables on my real app (the one that does not use Code First).

It generates the errors

[2017-10-22 15:59] CarbonFactory opened #1478 "ASP.NET Core 2.0 Identity Expiration"
There is a cookie with the name ".AspNetCore.Identity.Application" added after I login the user and it's expiration time is set to 14 days from now, `2017-11-05T15:52:03.669Z`

[code]

Above is the related part of the code for brevity.

How do I ensure that after 10 mins, if the user refreshes the webpage, he is logged out and re-directed to login.

The `ConfigureApplicationCookie` values seem to

[2017-10-23 22:48] Eilon commented on #1396
Hi, we have a public test feed that you can use to try out the ASP.NET/EF Core 2.0.3 patch!

To try out the pre-release patch, please refer to the following guide:
* https://github.com/aspnet/Announcements/issues/274 (info)
* https://github.com/aspnet/Home/issues/2254 (discussions and questions)

We are looking for feedback on this patch. We'd like to know if you have any issues with this patch by

[2017-10-23 22:48] Eilon commented on #1395
Hi, we have a public test feed that you can use to try out the ASP.NET/EF Core 2.0.3 patch!

To try out the pre-release patch, please refer to the following guide:
* https://github.com/aspnet/Announcements/issues/274 (info)
* https://github.com/aspnet/Home/issues/2254 (discussions and questions)

We are looking for feedback on this patch. We'd like to know if you have any issues with this patch by

[2017-10-23 22:50] HaoK opened #1480 "AddEntityFrameworkStores with only User specifies too many generic arguments"
Reported by https://github.com/aspnet/Identity/pull/1479

[2017-10-24 01:32] Janidbest commented on #1451
@thdotnet  do you mind elaborating on the missing important details?
I have come across this issue today. Though it is a code first approach. As a part of our deployment plan, we are exporting the scripts from the migrations into a file and handing it over to DB admin so  this way we can prevent the application db access user will have low permissions.

[2017-10-24 01:40] ajcvickers commented on #1451
I will investigate this.

[2017-10-24 22:03] tancevsasa commented on #716
Correct, code you are using does create entry in the AspNetRoles table but does **not** populate the NormalizedName column.

Replace this code:
[code]

with following:
[code]

[2017-10-26 07:00] clausjensen opened #1482 "IUserStore<TUser, TKey> seems to be missing"
Reading the documentation regarding changing the primary key of the users using `ApplicationUser : IdentityUser<int>` at https://docs.microsoft.com/en-us/aspnet/identity/overview/extensibility/overview-of-custom-storage-providers-for-aspnet-identity when using a custom UserStore.

This seems applicable to Identity Core, until you get to the part with having the custom `UserStore` implement `IUserS

[2017-10-26 12:56] turboka4 commented on #1478
Experiencing same issue. Expire time just equals session.

[2017-10-26 13:29] PinpointTownes commented on #1395
Erf, this "patch" introduces a terribad regression: it's no longer possible to create a custom provider for the "phone number tokens" as `GenerateChangePhoneNumberTokenAsync()` now directly calls the internal `Rfc6238AuthenticationService` class instead of the usual providers thingy.

Why was it fixed this way?

[2017-10-26 14:21] Wesam18 commented on #1451
I am experiencing the same problem
![image](https://user-images.githubusercontent.com/5215710/32058201-06c8f338-ba2f-11e7-99e7-d94bd4709179.png)

[2017-10-26 15:04] blowdart commented on #1395
@HaoK was this deliberate?

[2017-10-26 15:04] #1395 closed

[2017-10-26 15:09] PinpointTownes opened #1483 "Revert the fix introduced in https://github.com/aspnet/Identity/issues/1395"
When @HaoK fixed https://github.com/aspnet/Identity/issues/1388, he decided to update the `GenerateChangePhoneNumberTokenAsync()`/`ValidateChangePhoneNumberTokenAsync()` methods to directly use the internal Rfc6238AuthenticationService class instead of using the provider configured in the options.

Unfortunately this fix is bad and will break apps using a custom token provider (e.g not based on TO

[2017-10-26 15:09] PinpointTownes commented on #1483
/cc @blowdart @Eilon @HaoK

[2017-10-26 17:16] HaoK commented on #1483
Hrm this code was just reverted to what it looked like in 1.1.2

https://github.com/aspnet/Identity/blob/rel/1.1.2/src/Microsoft.AspNetCore.Identity/UserManager.cs#L1550

I guess I must have introduced ChangePhoneNumberTokenProvider in 2.0 to make things consistent at some point, as it doesn't appear to exist in 1.1.2's TokenOptions.  https://github.com/aspnet/Identity/blob/rel/1.1.2/src/Microsoft

[2017-10-26 19:21] blowdart commented on #1483
@Eilon has decided we'll patch this but quirk it.

[2017-10-26 19:23] PinpointTownes commented on #1483
A quirk to use the logic added in the "previous" iteration of 2.0.3 or the logic used in 2.0.0?

In both cases, I'm not sure it makes much sense.

[2017-10-26 19:25] blowdart commented on #1482
Identity in Core always uses a string as a key, removing TKey was a specific design decision.

So yes, you must convert to an int before doing a lookup.

[2017-10-26 19:25] #1482 closed

[2017-10-26 19:34] blowdart commented on #1478
You need to be setting `options.ExpireTimeSpan` rather than `options.Cookie.Expiration`.

This confusion arises because we have a common cookie builder, but identity actually controlling the cookie expiration ourselves. We realize this is confusing, and even though there are intellisense docs, they're not discoverable.

[2017-10-26 19:59] HaoK commented on #1483
Its going to be a quirk that lets you get the old 2.0.0 default value, basically if for whatever reason they want the 2.0 DefaultProvider instead of the DefaultPhoneProvider from token options.  Instead of using the quirk they could just set the option too, but this is the pattern that is used for breaking changes generally (add a quirk mode)

[2017-10-26 20:05] PinpointTownes commented on #1483
lol, are there people that are crazy enough to force their users to enter a token protected by Data Protection in a web form?

Adding a quirk doesn't harm anyone, so... :trollface:

[2017-10-26 20:10] HaoK commented on #1483
I argued against the quirk mode as well, but what can you do :)

[2017-10-26 21:51] HaoK commented on #1483
Merged into 2.0.3. via https://github.com/aspnet/Universe/commit/60d604580c4e6ca944390ad6fc760e1e2624c283

[2017-10-26 21:51] #1483 closed

[2017-10-27 11:50] derth opened #1487 "Changing required password length"
I’m using the following code:

`
services.AddIdentity<ApplicationUser, IdentityRole>(options =>
{
	// Password settings
	options.Password.RequiredLength = 8;
	options.Password.RequireNonAlphanumeric = false;
	options.Password.RequireUppercase = false;
})
.AddEntityFrameworkStores<ApplicationDbContext>()
.AddDefaultTokenProviders();
`

When i go to register, and click a single letter for password,

[2017-10-27 12:57] thdotnet commented on #1451
@Janidbest I already did that:

@Wesam18  is facing the same problem

[2017-10-27 13:26] PinpointTownes commented on #1483
Thanks for fixing that :+1:

[2017-10-27 16:49] gustyn opened #1488 "Authentication Cookie not deleted when using HttpContext.SignOutAsync();"
Whenever I call the said function, the cookies are never deleted.  I have to delete the cookies manually by calling the following:

`await HttpContext.SignOutAsync();
HttpContext.Response.Cookies.Delete(IdentityServerConstants.DefaultCookieAuthenticationScheme);
HttpContext.Response.Cookies.Delete(IdentityServerConstants.DefaultCheckSessionCookieName);
HttpContext.Response.Cookies.Delete(IdentityS

[2017-10-27 17:00] Eilon commented on #1483
@PinpointTownes thanks for reporting it! 😄

[2017-10-27 19:05] HaoK commented on #1488
SignOutAsync only signs out the DefaultScheme, it won't sign out multiple schemes for sure.

[2017-10-28 21:48] Conner05 opened #1489 "JWT in Request Header is not the same in receiving API"
When I make a request to my .Net Core 2 API from my Angular app the JWT is not the same as the one sent in the request header.

**Startup.cs**

	public class Startup
	{
		public Startup(IHostingEnvironment env)
		{
			var builder = new ConfigurationBuilder()
				.SetBasePath(env.ContentRootPath)
				.AddJsonFile("appsettings.json", optional: false, reloadOnChange: true)
				.AddJsonFile($"appsetti

[2017-10-29 04:42] mkArtak commented on #1444
@VahidN , persisting the key indeed helped. For now I'm storing it in Azure Storage Blob. In the future will be switching to Azure KeyVault.

Thanks for your help !

[2017-10-29 04:42] #1444 closed

[2017-10-29 12:51] Conner05 commented on #1489
After thinking about this a little longer - I've thought I could create my own middleware that sets the `HttpContext.User` to have the Claims from the `context.Request.Headers["Authorization"]`.

My assumption was the JwtBearerMiddleware was supposed to be doing that behind the scenes for me.

[2017-10-30 13:56] pushist1y opened #1490 "IdentityConstants"
Consider redeclaring `IdentityConstants` class properties as actual constants instead of static readonly fields.

These fields are used as authentication schema names. If the application uses more than one auth scheme it can specify the scheme to be used (or multiple) in `Authorize` attribute but the attribute only accepts compile-time constants as parameters.

I've run into this issue when creati

[2017-10-30 18:44] HaoK commented on #1487
The code you have included changes the server side validation, you will also need to update the equivalent client side validation to reflect the new length, its usually a data annotation on the model

[2017-10-30 18:44] #1487 closed

[2017-10-30 22:12] Conner05 commented on #1489
I have figured out part of my problem.

I was wrong in saying the token coming from the UI was different than what the .net API was receiving. I said I was inspecting the Header in the Network tab, and I was, but just not the correct request. My UI was sending several requests - from different Angular modules. I was injecting a new authentication service (where my token is stored) in each module.

[2017-10-30 22:12] #1489 closed

[2017-10-30 22:42] HaoK commented on #1341
Mocked up a minimal new Privacy tab in the manage controller, that has a link to download personal data, and a button to delete the user.

The download just calls an action that returns a placeholder string ("This is the user data for user.UserName").  It would be up to the app to plug real user serialization code.

The delete button just calls `userManager.Delete(user)` which is sufficient for th

[2017-10-31 08:06] derth commented on #1487
But i don't have access to the user model, it's built in asp.net. How am i supposed to change it?

[2017-11-01 09:21] lurumad commented on #1410
Hi @ActionJ4ckson

How did you resolve the issue? I have the same problem with two web applications

Regards!

[2017-11-01 10:22] lurumad opened #1493 "ASP.NET Core Identity in multiple ASP.NET Core Applications: Invalid Token"
Hi,

I have two web applications, an administration app and Identity Server app. In the administration app, administrators create new users accounts and this app generates a token for email confirmation:

[code]
I want to confirm email and reset the password in the identity server app, but I always recieved an InvalidToken error.

I've configured Identity in both apps:

[code]

If I generate and c

[2017-11-03 07:20] ActionJ4ckson commented on #1410
Hey @lurumad

In my case, it was a silly mistake made by a developer in my team. I had a shared UserManager class across a Windows Service (token generator) and a Web application (token consumer) so that they refers to the same UserManager settings including the DataProtectionProvider. But an year later in the web application another developer added few lines below my code overwriting the "UserMan

[2017-11-04 12:48] chassq commented on #1493
We are having the same issue but with the reset password tokens. When we look a the token going out and coming back in they are the exact same. Why is this failing?

[2017-11-04 17:12] Triwaters commented on #1451
I noted this problem in my own work and got curious enough to search out this conversation.

I'm new to ASP.NET Identity, but not new to SQL Server.
The three errors noted (all of which I see every time I propagate tables, etc. to a new database) are being thrown because ASP.NET Identity is breaking SQL Server rules. As SQL Server keeps patiently explaining every time one builds the ASP.Net Identi

[2017-11-06 08:33] seven1986 opened #1494 "GenerateChangePhoneNumberTokenAsync too long!"
I am use identity add a phone number, and generate an token, but when I send sms, the supplier told me the token it's too long!

![image](https://user-images.githubusercontent.com/20808494/32431720-7f0b35c0-c30f-11e7-8873-d7b637c15451.png)

![image](https://user-images.githubusercontent.com/20808494/32431770-a8b9438a-c30f-11e7-9f12-9128f52f746d.png)

Could provide a method it can generate some  nu

[2017-11-06 11:06] AshleyPoole commented on #1493
We have this same issue with a single application with the verification tokens. We are using dependency injection and are creating a new instance of the user manager for every request.

At first we thought it was our code but checked, and it's appears to be a issue someone else. Could it be something like each instance of the user manager is getting a different data protector that's using a differ

[2017-11-06 12:44] AshleyPoole commented on #1493
In my case, the tokens were the same length but weren't being encoded on the links being sent out, so the plus symbols for example were being replaced with spaces. Might be worth checking that.

[2017-11-06 12:55] lurumad commented on #1493
In my case, I'he tried to encode the tokens but anyway I always received "Invalid Token"

Regards!

[2017-11-06 15:36] chassq commented on #1493
For us we made sure we were including the SecurityStamp (on the User) when generating and getting the token to compare. Once we did this we saw our issue resolve. I think there is a way to disable SecurityStamp checking on the SignInManager if you need. Look at https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.identity.signinmanager-1.validatesecuritystampasync?view=aspnetcore-2.0 a

[2017-11-06 15:42] scottsauber opened #1495 "Email Confirmation Checked Before Password Issue"
If I require an email to be confirmed before logging in, this check happens before the password is validated, and if the Email is not confirmed then it shortcircuits the password check [here](https://github.com/aspnet/Identity/blob/52dfb0217597ae18efd5958e380fe8e56cde3163/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L138).

This has me a little nervous about a small account enumeration risk.

[2017-11-06 15:45] scottsauber commented on #1495
Sorry this appears to be a duplicate of #1265.  I'll close this one.

[2017-11-06 15:45] #1495 closed

[2017-11-06 15:46] scottsauber commented on #1265
Just +1'ing the flow mentioned here:

I'm running up against this today where I don't want to expose that the Email is not confirmed unless the password they entered is valid.

[2017-11-06 22:22] HaoK commented on #1467
Merged thanks

[2017-11-06 22:22] #1467 closed

[2017-11-06 22:23] HaoK commented on #1494
Yeah this has been fixed in 2.0.3 and 2.1 nightly builds, dupe of https://github.com/aspnet/Identity/issues/1388

[2017-11-06 22:23] #1494 closed

[2017-11-07 01:36] maqduni commented on #1467
Thank you!

[2017-11-07 04:53] mkArtak opened #1496 "[Question] HttpContext?.User?.Identity?.Name casing differs when run on Mac OS vs Windows"
Hi.

I have a controller action, which uses current user's name internally. While running on Windows, I got used to getting the result of HttpContext?.User?.Identity?.Name in uppercase. However, just discovered, that the same API returns the value in lowercase on Mac.

The project runs on the latest ASPNET Core framework.

Is this by design ?

Thanks,
Artak

[2017-11-07 23:15] Ponant commented on #1269
@HaoK , I think that will be for 2.1 Milestone (?)

[2017-11-07 23:23] Ponant commented on #581
Sure that Roles have no advantages over claims?
https://stackoverflow.com/questions/46910693/how-to-remove-the-role-related-tables-from-asp-net-identity-core-2-0/46910903

[2017-11-08 19:59] Triwaters opened #1497 "multipe nvarchar(450) fields unsuitable for clustered index / primary key"
The worst offender is dbo.AspNetUserLogins, with three (3) nvarchar(450) fields making up the primary key. SQL Server balks at this and it's a design flaw that contents that can legally fit in these fields could (together) make the record unsavable, due to a violation of the 900-byte maximum length for clustered indexes.

I can imagine this is all rather baked into the system at this point, but it

[2017-11-08 20:12] AfkAtm opened #1498 "Using Azure Active Directory OAuth with Identity ASP.NET Core 2.0"
As part of the built in libraries that comes with ASP.NET Core 2.0 there is the ability to add OAuth using Microsoft accounts into the identity model.  The same way you can add Facebook, Google or Twitter.  I've used these before without issues and they are really easy to set up.  However, I've ran into no end of trouble trying to implement Azure Active Directory OAuth tying into the Identity mode

[2017-11-08 20:21] HaoK commented on #1498
What's your startup like?

[2017-11-08 23:02] AfkAtm commented on #1498
Since I had to write some custom code to handle the request to the auth and token endpoints there is quite a lot of code related to this issue which is all included on the Stack Overflow question.  Here's the start-up piece that adds the OAuth handler to the AuthenticationBuilder:
`services.AddAuthentication()
.AddAzureAd(options =>
{
    options.ClientId = Configuration["AzureAd:ClientId"];
    o

[2017-11-08 23:38] HaoK commented on #1498
Yeah that doesn't really matter to identity, are you just using the normal AddIdentity(), are you seeing the normal external redirection and bounce back to your external login callback?  Are you seeing an external cookie sent?  That's what the GetExternalLoginInfo call is basically lookin for.

[2017-11-09 11:13] Ponant commented on #1187
@danroth27 , any idea on when Identity as a Service will come up now that it is removed from 2.0?
Is it expected for 2.1?

[2017-11-09 14:44] AfkAtm commented on #1498
Here's the Identity and Cookie part of the Start-Up, it is pretty much just the normal AddIdentity with custom objects mixed in.

[code]

Yes

Yes

Here are screenshots of the flow:

![authorizeflow01](https://user-images.githubusercontent.com/13768212/32610823-86e89e60-c529-11e7-94f9-40f584715936.png)

![authorizeflow02](https://user-images.githubusercontent.com/13768212/32610855-a01a7ea8-c529-11

[2017-11-09 18:15] danroth27 commented on #1187
It's being actively developed, but when it will ship is still TBD.

[2017-11-09 18:24] gregoryagu commented on #1187
@danroth27 Can I beta test it for you?

[2017-11-09 18:34] danroth27 commented on #1187
There's no beta to test yet. It's still very much a work in progress.

[2017-11-09 19:18] brockallen commented on #1187
Turns out that building a token service is a lot of work :)

[2017-11-09 21:31] HaoK commented on #1498
Okay well you are pretty close then if you are getting the external cookie, then we just need to figure out why its not getting returned...

So look at https://github.com/aspnet/Identity/blob/rel/2.0.0/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L555

Can you try explicitly calling await Context.AuthenticateAsync(IdentityConstants.ExternalScheme);  since you have the cookie, that should ret

[2017-11-09 23:16] mcquiggd commented on #1187
@brockallen

That's why I admire the people that open-source theirs...

[2017-11-09 23:21] brockallen commented on #1187
Well, OSS is not free and not typically a charity. You have to evaluate the motivations of those that do. Ours is to sell consulting and services. Microsoft's is to sell Azure.

[2017-11-10 00:04] mcquiggd commented on #1187
@brockallen

The difference being I can use your OSS without paying for the optional consultancy... and assess it's the quality of it's implementation.

[2017-11-10 14:19] Triwaters commented on #1451
Not being one to leave "problems waiting to happen" (however remote) in my databases, not least because they usually surface at the wrong time of day or while I'm on vacation... I have been digging into how to improve the situation (see my prior comment).

I've some outstanding resources out there that helped me over the hurdles. In case anyone else is interested:
https://docs.microsoft.com/en-us/

[2017-11-10 14:26] AfkAtm commented on #1498
This is where it is failing:
https://github.com/aspnet/Identity/blob/rel/2.0.0/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L577
It would appear that none of the claims are getting populated. So when it looks for the name identifier claim it doesn't find it and returns null.
![authorizeflow05](https://user-images.githubusercontent.com/13768212/32662437-291a7070-c5f0-11e7-9cb7-60784489672c.pn

[2017-11-10 16:51] brockallen commented on #1187
Sure, but Microsoft will (if not already) OSS theirs.

The most important thing, which you've somewhat gotten at, is what's the right token server for you. If you plan to use and move to Azure B2C, then I suspect the Microsoft on will be the right choice. But if you're not sure, or you need more features or flexibility than Azure B2C, then the Microsoft token server will probably not be the right

[2017-11-10 19:11] Ponant commented on #1187
@brockallen , in what do you want MS to be clear on and how can you know what they are doing in the details? I know there are lots of discussions on this topic and surely they are not the most glorifying ones, but my point is that if you are concerned about their implementation then why not explaining what are those limitations of their future OSS. Otherwise it is perceived as a negative critic fo

[2017-11-10 22:12] AfkAtm commented on #1498
Got it working.  My issues were multiple.
In my initial example I had the resource being set to my application ID, I should have be passing in the graph URL.
My scope was fine but then I hadn't set up a mapping for the ClaimTypes.NameIdentifier claim.
Then finally I had to update the User Information Endpoint to point to the same as the Resource Graph uri that I provided.

Now it works like a char

[2017-11-10 22:12] #1498 closed

[2017-11-10 22:36] brockallen commented on #1187
@Ponant I thought I was clear... the Microsoft token service (from their own words if you piece enough of it together) is designed for eventually moving your users to be hosted in Azure B2C. It's not a more general purpose or flexible token server. That's all.

What I'm trying to protect against if when people are told half-truths and manipulated in order to sell a product that's not appropriate f

[2017-11-11 00:21] Ponant commented on #1187
While I considered using AB2C, I decided not to do it (priced too high and lack of customization and unclear data sovereignty). You may be right but I understood their answers differently, quoting parts from @danroth27 and @Eilon ,

I think what they are doing is an invariant OIDC-compliant protocol, I recall Dan made this demo
https://github.com/danroth27/ProjectConstruction/tree/master/IdentityS

[2017-11-11 02:53] brockallen commented on #1187
I think what you are referring to is the MVC/ASP.NET Identity templates that consume an OIDC token service, which is separate from the token service itself that is being provided as the migration path to Azure B2C.

And I think, in a sense, your slight confusion has illustrated the exact concern I'm trying to raise. By blurring the distinction between the consuming app and the token service itself

[2017-11-11 06:13] Bartmax commented on #1187
@brockallen asking/saying/hoping that ms will be clear in their strategy is **not for free** because MS wasn't clear and _lied_ in the past about this.

bonus: my opinion shouldn't _feel_ biased.

[2017-11-11 10:31] chassq commented on #1187
IMHO,

1) MS needs to lower the cost of Azure B2C drastically and make it along the lines of the cost of say a storage account (store users) + a function execution (per auth) + email/sms call (optional for multi-fac) + AD/365 Integration (optional). If they did that then AD B2C becomes a **more** viable option for what is really needed and there is no more feeling that they are leading us into ove

[2017-11-11 13:45] brockallen commented on #1187
The problem is that identity is just as much a business feature as anything else, while also concerning security. The reason IdentityServer is so popular is that because identity is not something you can productize as a cloud hosted SaaS offering *and* control and customize. IdentityServer does take care of the security stuff, while designed to allow the developer to do the customization they need

[2017-11-11 14:12] chassq commented on #1187
Hey @brockallen ,

I guess its perspective. I think I was more talking about implementation than security in general. Agreed security is part of requirements. But I see ASP NET Identity/IDS4 today as a frameworks a dev can employ, not quite like custom business specific logic to meet a set of consumer feature requirements. Much like we put custom logic in using frameworks (e.g. EF Core is to data

[2017-11-11 14:34] brockallen commented on #1187
From the client app perspective, I think you're right and that can be achieved in the templates or just by adding the `AddOpenIdConnect` authentication handler into DI. It's minimal code, so in a sense, there's already not much ceremony to it.

[2017-11-12 22:41] rvandulek opened #1501 "Password backward compatibility"
I'm in the process of creating a new MVC application that has to plug in to our existing SQL Server based user store.  The problem is old user accounts can't be used in the new website, trying to log in with one results in "failure". New accounts can be created, but can't be used by the existing MVC web sites, try to login in with one results in "failure".  I'm guessing this is a compatibility iss

[2017-11-13 21:01] HaoK commented on #1501
Are you trying to create a new MVC Core application and have it plug into an older Identity 2.2 database?

[2017-11-13 21:20] rvandulek commented on #1501
No, just a new MVC 5 application (using whatever the current template is in the latest VS 2017).  Our existing apps are also MVC 5, but were created 2-3 years ago (but have been updated, for the most part, via Nuget to the latest component versions).  Existing apps are using .Net 4.5.1.

[2017-11-14 13:36] Ponant commented on #1187
Well, then it is maybe a good time to sell IdentityServer to MS :) Cheers

[2017-11-14 13:39] Bartmax commented on #1187
@Ponant it's free...

[2017-11-14 13:46] Ponant commented on #1187
@Bartmax , their expertise is not for free and valuable. Anyway, that was a (half) joke to stop turning in circles until MS clarifies or outputs a "template".

[2017-11-15 01:09] atpyk commented on #1493
services.AddIdentity<User, Role>(config =>
            {
                config.Tokens.EmailConfirmationTokenProvider = TokenOptions.DefaultEmailProvider;
            }).AddEntityFrameworkStores<ApplicationDbContext>()

[2017-11-15 16:21] lurumad commented on #1493
Hi folks,

I've resolved the problem. After debugging the source code of AspNetIdentity, I've seen that the problem is related with DataProtectionApi, and to be more precise with the IApplicationDiscriminator [see](https://github.com/aspnet/DataProtection/blob/46dadbb18683164a918873f43624aee3b5b0510c/src/Microsoft.AspNetCore.DataProtection/DataProtectionServiceCollectionExtensions.cs#L79). Uses a

[2017-11-15 16:21] #1493 closed

[2017-11-15 16:48] daniel-tikhonov opened #1503 "IdentityServiceCollectionExtensions ambiguous reference"
The type 'IdentityServiceCollectionExtensions' exists in both 'Microsoft.AspNetCore.Identity, Version=2.0.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' and 'Microsoft.Extensions.Identity.Core, Version=2.0.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'

Just trying to access IdentityServiceCollectionExtensions class in my project and it throws error. How can I get this class?

[2017-11-15 18:26] HaoK commented on #1503
What are you trying to do actually, those are just static extension classes, you can just call the method you want off of IServiceCollection with a using typically.

[2017-11-15 18:32] brockallen commented on #1503
I bet VS auto added the nuget reference, thus the conflict...?

[2017-11-16 08:11] daniel-tikhonov commented on #1503
@HaoK I know about extensions, but I really need to call this class directly.

[2017-11-16 08:16] daniel-tikhonov commented on #1503
@brockallen Microsoft.Extensions.Identity.Core is dependency of Microsoft.AspNetCore.Identity so it need to be added

[2017-11-16 10:21] andrew-vandenbrink opened #1504 "Using both identity and cookie authentication on the same time is not working"
Startup.cs
[code]

Index.cshtml
[code]

If I use both identity and cookie authentication, the cookie authentication won't work

If change the Startup.cs like this, then it will work
Startup.cs
[code]

Is this by design?

[2017-11-17 22:01] blowdart commented on #1504
Identity already adds cookie auth. Why are you trying to do here?

[2017-11-17 22:03] blowdart commented on #1501
Moving as this isn't an identity core issue.

[2017-11-17 22:04] blowdart commented on #1501
This issue was moved to aspnet/AspNetIdentity#2

[2017-11-17 22:04] #1501 closed

[2017-11-17 22:06] blowdart commented on #1496
What authentication is in use, is it actually ASP.NET identity, or is it something else?

[2017-11-17 22:10] blowdart commented on #1490
This is an interesting design discussion. Constants are generally things that will never change, like the speed of light. We're kind of inconsistent here, and lots of things are constants that shouldn't be, so if anything we ought to move to static readonly unfortunately. So I'm afraid this is not something we're going to do.

[2017-11-17 22:10] #1490 closed

[2017-11-17 22:11] blowdart commented on #1488
Closing due to lack of response.

[2017-11-17 22:11] #1488 closed

[2017-11-17 22:11] blowdart commented on #1478
Closing due to lack of response.

[2017-11-17 22:11] #1478 closed

[2017-11-20 06:53] andrew-vandenbrink commented on #1504
Within 1 domain, imagine content management system,

I have 2 logins, one for anonymous users and one for administrator
Administrator will use identity
Anonymous users will use claims

valid use case?

[2017-11-20 10:41] twenzel opened #1505 "Describe default hashing logik in docs"
Please describe the currently used (v3) logic how a password is hashed (which algorythm and what salt) is used.
There is no official documentation about those information. Only some blog entries from users/non-officials. You have to dig into the code trying to find those information.

Please extend the offical docs  (https://docs.microsoft.com/de-de/aspnet/core/security/authentication/identity)

[2017-11-20 20:47] mkArtak commented on #1496
It is ASP.Net core identity

[2017-11-21 03:19] Singularity222 opened #1507 "Login Providers Question"
For the different social logins, a provider key is saved in the AspNetUserLogins table. What does the provider key refer to when using a Google account to sign in? Is it the user ID or something like that?

[2017-11-21 12:17] FaizulHussain opened #1508 "Lock user for using invalid credentials in ChangePasswordAsync"
Is it possible to add the lockout feature during password change if the currentPassword is not valid? Similar to the lockout during signin (if enabled).

Thx

[2017-11-21 15:42] ozonni commented on #628
is there some updates on this issue? We also face the same issue with including additional claims during the signup.

[2017-11-21 19:44] patsadow2 opened #1509 "Loading relations from usermanager"
Hello, is there any way to load relations ?

    public class ApplicationUser : IdentityUser<Guid>
    {
        public virtual Customer Customer { get; set; }
    }

after

[code]

when set value by new and next query the same

user.Customer still null

Any advices ? BR

The same problem here : https://stackoverflow.com/questions/39837355/eager-loading-using-usermanager-with-ef-core

I used :
[co

[2017-11-22 03:22] china-live opened #1510 "谁能解释一下为什么用户管理可以批量添加Claim而角色管理却不能呢？"
谁能解释一下为什么用户管理可以批量添加Claim而角色管理不能呢？
这个是bug还是有什么特别的考虑？

![1111](https://user-images.githubusercontent.com/12002799/33108460-2f962ae4-cf77-11e7-939b-72bb9a9e69cf.png)
![2222](https://user-images.githubusercontent.com/12002799/33108461-2fc9c070-cf77-11e7-8018-65fdf457fe19.png)

[2017-11-22 07:54] prashantham opened #1511 "@ missing in AccessDenied page"
@{
     ViewData["Title"] = "Access denied";
    }
    <header>
    <h2 class="text-danger">ViewData["Title"]</h2>
    <p class="text-danger">You do not have access to this resource.</p>
    </header>

    Should have been
    <h2 class="text-danger">@ViewData["Title"]</h2>

[2017-11-26 05:01] RainingNight commented on #1460
+1

[2017-11-27 10:26] andrew-vandenbrink opened #1513 "Identity cookie expired for no reason even during active usage"
My web app hosted in free azure web app has a strange issue where the user need to re-login again even during active usage

The code to login is
[code]
even with rememberMe being set to true, user still need to relogin

Some google said that it could be machine key issue but I don't think azure moved my free instance to anothe machine so often.

I restarted the instance for to test and the cookie

[2017-11-27 10:41] andrew-vandenbrink commented on #1513
Is this the reason? 30 minutes?
![image](https://user-images.githubusercontent.com/12871379/33262792-d497dfe4-d367-11e7-9e36-d23e815ccdb8.png)

[2017-11-27 10:42] andrew-vandenbrink commented on #1513
Testing again with rememberMe set to true

Expired in the next 2 weeks, lets see
![image](https://user-images.githubusercontent.com/12871379/33262835-f7123d30-d367-11e7-896a-9f5c92f418a4.png)

[2017-11-27 11:14] andrew-vandenbrink commented on #1513
ok identity cookie gone after 30 minutes even rememberMe being set to true

this thread say something about securityStamp
https://github.com/aspnet/Identity/issues/900

[2017-11-27 11:28] andrew-vandenbrink commented on #1513
testing with this code
[code]

[2017-11-27 11:38] andrew-vandenbrink commented on #1513
Authentication indeed gone after 1 minute! Nice new feature eh, not even in the documentation

https://github.com/aspnet/Identity/issues/999
https://github.com/aspnet/Identity/issues/1478

[2017-11-27 11:51] michaelkaye opened #1514 "Enhancement: Provide more information in the result from the UserManager.Verify*TokenAsync() methods"
Hi there,

As an enhancement, I'd like to see more information returned from the Verify*Token methods on UserManager, such that richer information on failures can be recorded in metrics, or the flow updated to ease user interactions.

Rather than returning a boolean true/false from UserManager.verifyUserToken(), I'd be interested in a richer object that's a pair of true/false + some sort of status

[2017-11-27 11:59] andrew-vandenbrink commented on #1513
What is the **security** impact setting ValidationInterval to 2 weeks?

[2017-11-27 16:19] HaoK commented on #1513
Just means if you were to change a user's role, or remove the ability for a particular user to login, it wouldn't take effect until after 2 weeks (i.e. the maximum time a stale cookie can be used is the validation interval).

[2017-11-27 18:38] andrew-vandenbrink commented on #1513
Is this **intended** feature?

I think what people expect is that the authentication login should be as long as
- without rememberMe set to true, when session end
- with rememberMe set to true, default TimeSpan of cookies expired date (default 2 weeks)

Change a user's role or remove the ability for user to login should be **direct** effect
It will be crazy that we need to wait 30 minutes
Now I ha

[2017-11-28 07:36] qibucloud opened #1515 "saas application as used Identity？"
我做的工作是一个saas应用,有一个Site表，通过SiteId区分，我如何使用Identity，达到每一个站点管理对应的用户列表
The job I'm doing is a saas application with a Site table that distinguishes it by SiteId and how I use Identity to reach the list of users for each site management

[2017-11-28 18:00] scottsauber commented on #1364
When I try to follow this and just want the Roles Nav Prop added to the user, I get a migration trying to get me to add another UserID foreign key.  Can anyone tell me what I'm doing wrong?

User class:
[code]

UserRole class
[code]

Config class:
[code]

Thanks

[2017-11-28 18:08] tgourley opened #1516 "Change the UserManager context connection string"
I am looking for a way to change the DbContext object that is used by the UserManager/SignInManager that is injected into the AccountController.  As far as I can tell, the underlying context is inaccessible from the AccountController.  I am setting up a multitenant website, and as such, I need to switch the identity context per the request.

Any thoughts?

I have also asked this question on StackO

[2017-11-30 18:57] weitzhandler commented on #1361
I read the whole thing and didn't come to a conclusion, is it possible to have `ICollection<TRole> Roles` in `User` like we used to have in the previous version of ASP.NET Identity?

[2017-11-30 18:57] weitzhandler commented on #1361
@ajcvickers I read the whole thing and didn't come to a conclusion, is it possible to have `ICollection<TRole> Roles` in `User` like we used to have in the previous version of ASP.NET Identity?

[2017-11-30 21:40] scottsauber commented on #1364
Turns out my issue had to do with overriding all the strings from nvarchar to varchar (because DBA's).

Not quite sure why Identity doesn't like this and was forcing me to create another User ID property on the User Roles table.

[code]

[2017-12-01 09:01] weitzhandler commented on #1361
I'm burning so many hours trying to find an adequate solution!
When you remove a feature, please at least provide some basic guidance on how to work around it.

I followed the instructions [here](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x#add-identityuser-poco-navigation-properties), but when calling `dbContext.Database.MigrateAsync()`, I'm getting the following ex

[2017-12-01 10:18] gustyn commented on #1488
OK thanks.  Sorry missed the response.

[2017-12-01 15:23] scottaddie commented on #1364
@ajcvickers See the 2 comments from @scottsauber ☝️. Is this expected behavior?

[2017-12-01 18:08] ajcvickers commented on #1364
@scottaddie Not as described. However, I believe that the migration shipped with the 2.0.x release does not have an entry for the FK that it should have, which means that it will be added when the first new migration is added--this might be a symptom of that. It's on my list to figure out what to do for 2.1 to fix several related issues around the way Identity is defining its model and using Migra

[2017-12-02 14:21] whizkidwwe1217 opened #1518 "Unable to add duplicate usernames with different company IDs"
**Use case**: I'm using a multi-tenancy for my asp.net core app however, different tenants/companies are stored on the same schema and the same database. Since each tenant/company is different from each other and have no access to each other, the app should allow registering users that are unique within a company. In otherwords, it should allow saving users to the database with the same username b

[2017-12-04 04:11] MaximBalaganskiy commented on #1361
@weitzhandler I think it has to be 'ICollection<TUserRole> Roles`

[2017-12-04 05:28] weitzhandler commented on #1361
I got it to work.
Here's my set up:

    public partial class User : IdentityUser<int>, IUser
    {
      public virtual ICollection<UserRole> UserRoles { get; set; }
    }

    public partial class Role : IdentityRole<int>
    {  }

    public partial class UserRole : IdentityUserRole<int>
    {
      public virtual User User { get; set; }
      public virtual Role Role { get; set; }
    }

    p

[2017-12-05 00:30] dallancarr commented on #1489
https://github.com/aspnet/Security/issues/1043

[2017-12-05 14:55] erandros commented on #1389
I had this problem as well when updating to 2.0, but the cause was that I using `signInManager.SignInAsync` with a non existent user (I'm handling the logins manually using an API, not a good idea).
I'm not using existent users and it works fine when setting the cookie opt `ExpireTimeSpan` to higher than 30 minutes.

[2017-12-06 14:05] tempywritescode commented on #1113
This:

is particularly unintuitive, because the signature of all the mutators in this interface returns a Task. Which, to the implementer, looks like the framework expects IO to be performed within the mutators. Would be clearer if only Create/Update/Delete returned Tasks.

[2017-12-06 15:05] Liero opened #1519 "Core CLR crashes when using Authorize attribute and OpenIdConnect"
I've described my problem here: https://stackoverflow.com/questions/47674101/asp-net-core-2-0-app-crashes-when-role-based-authorization-faild

Basically, when I use `[Authorize(Roles = "Administrator")]` AND I use OpenIdConnect to authenticate agains AAD:

    services.AddAuthentication(sharedOptions =>
    {
        sharedOptions.DefaultScheme = CookieAuthenticationDefaults.AuthenticationScheme;

[2017-12-07 08:25] seven1986 opened #1521 "AspNetCore.Authentication.QQ no email, So identity RequireConfirmedEmail = true not work?"
I achived QQ Authentication(base on Microsoft.AspNetCore.Authentication.Google/Microsoft.AspNetCore.Authentication.MicrosoftAccount) and work well, but QQ API don't give us user email.
Question 1:  when the user sign in success by QQ, we still do not have email
So, I just generate an Temp Email which is just like '{UserIdentifer}@qq.com', is it OK?

Qustion 2: Even though I give the user an Email

[2017-12-07 08:59] seven1986 commented on #1521
I just review th whole logic, got it, no problem, thanks

[2017-12-07 08:59] #1521 closed

[2017-12-07 11:09] blackadder1000 commented on #1508
I have exactly the same issue, has anyone got an answer?

[2017-12-07 20:06] JunTaoLuo commented on #1510
@blowdart The user is wondering why you can add an `IEnumberable` of `Claims` in the `IUserStore` but only individual claims in `IRoleStore`

[2017-12-07 20:07] blowdart commented on #1504
That's "odd" but possible. You would cookie a second time, just use a unique scheme name and *not* the default as you are doing; you'd also have to configure it so it's not automatic in any way, and then specify the scheme in the authorize attributes when you want to use it.

[2017-12-07 20:09] blowdart commented on #1505
As we may, in future, change the algorithms used the source is the prime, err, source for this. If you want the docs updated then please file an issue in the docs repo - https://github.com/aspnet/Docs/issues

[2017-12-07 20:09] #1505 closed

[2017-12-07 20:13] blowdart commented on #1507
It's whatever google, or an external provider sends us as their ID for a user. It might be a login, an email, or something entirely unique per user per applications. For Oauth/OIDC it's the subject claim.

In [their docs](https://developers.google.com/identity/protocols/OpenIDConnect) google says

[2017-12-07 20:13] #1507 closed

[2017-12-07 20:14] blowdart commented on #1511
@pranavkm As you're updating templates right now, could you validate this, and move the issue to templates and fix if it's a problem?

[2017-12-07 20:15] blowdart commented on #1514
We'll pop this in the backlog for visiting in a new major version

[2017-12-07 20:17] blowdart commented on #1518
@ajcvickers This looks like an EF question really, so here you go :)

[2017-12-07 20:18] blowdart commented on #1519
This issue was moved to aspnet/Security#1566

[2017-12-07 20:18] #1519 closed

[2017-12-07 20:24] blowdart commented on #1510
Thank you :) @HaoK do you remember why?

[2017-12-07 23:04] pranavkm commented on #1511
Moved to https://github.com/aspnet/templating/issues/183

[2017-12-07 23:04] #1511 closed

[2017-12-08 06:32] natemcmaster opened #1522 "Merge all changes from release/2.0.0 back to dev"
I'm not sure https://github.com/aspnet/Identity/pull/1485 made it back into dev. I tried merge the branches and there were a bunch of conflicts. We should look into this closer.

[2017-12-08 06:40] andrew-vandenbrink commented on #1504
I think I did try with changing the scheme name but it doesn't work...

[2017-12-08 06:40] #1504 closed

[2017-12-08 07:40] HaoK commented on #1522
I'll double check that everything we wanted from #1485 made it back, but most of that change shouldn't come back to dev as it was a quirks mode fix

[2017-12-08 13:59] whizkidwwe1217 commented on #1518
@blowdart I don't think this is an issue with EF core or a question but an issue with Identity

Issue: A unique constraint is hard-coded to the IdentityUserContext. This means that it does not allow me to implement a multi-tenant users. The current architecture is only good for multi-tenant apps where each tenant database is being hosted to different servers. But in the case of multi-tenancy where

[2017-12-08 14:12] blowdart commented on #1518
True, Identity was never designed for, nor meant for multi-tenancy. We've had people do it, via various unsupported means, and you can override that OnModelBuilding to try a composite key, but, again, you're heading down the unsupported route. I tagged Arthur in case it had details on how you'd change the model to do what you want.

[2017-12-08 14:19] whizkidwwe1217 commented on #1518
Thanks @blowdart I actually tried to override the OnModelBuilding but it's giving me errors like the image below:
![image](https://user-images.githubusercontent.com/1977391/33769551-9ace4c88-dc65-11e7-9ad1-b45bde69b10b.png)

Anyway, I already filed a similar issue in EF core repo and I hope
@ajcvickers can help me with this. Thanks! :)
https://github.com/aspnet/EntityFrameworkCore/issues/10511

[2017-12-08 16:01] natemcmaster commented on #1522
Ok good to know. Also, this change shouldn't come back to dev either. It was a 2.0.x infrastructure-only change. https://github.com/aspnet/Identity/commit/becf1df9c5a3b908e28ec3c1272b072d8801e3dc

[2017-12-08 16:49] balticer commented on #1113
Agree @tempywritescode
Also naming an interface I....**Store** makes me think to save/read something into anything. For what is the SetPasswordHashAsync needed? To make a `IUser<TKey>.PasswordHash = passwordHash;`? That implicits to have property PasswordHash in my IUser implementation (maybe a bad idea - also ever not needed to hold this hash in a object - IMHO).

Intuitive i thought that impleme

[2017-12-09 01:29] aous77 opened #1523 "WinHttpException: A security error occurred"
asp.net core 2 external authentication is throwing the following exception on production server only: `WinHttpException: A security error occurred
System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
System.Threading.Tasks.RendezvousAwaitable.GetResult()
System.Net.Http.WinHttpHandler+<StartRequest>d__105.MoveNext()

HttpRequestException: An error occurred while sending the request.
Micr

[2017-12-09 06:40] Biarity opened #1524 "How to customize GenerateUserTokenAsync token lifespan? What about brute-force protection?"
I'm using `GenerateUserTokenAsync` and `VerifyUserTokenAsync` with `provider="Email"`. How can I customize token expiry so tokens last longer/shorter before they aren't valid?

Additionally, how would you implement token lockout to prevent someone from brute-forcing the token? With `provider="Email"`, the tokens are just 6 digits which should be easy to brute-force (<1 million possibilities, ~11 m

[2017-12-10 17:05] irashid25 opened #1525 "Return users and their roles"
Hi all,

I am trying to return a list of users and their associated roles for an administration screen of my application. The problem is the user manager by default does not eagerly load the roles (which is fine). I am using Entity framework and have custom classes for my application user and role. I have been trying to add a role list property to my custom user class, but I'm not sure how i would

[2017-12-11 07:15] tianxiaode opened #1526 "Specified key was too long; max key length is 767 bytes"
Microsoft.EntityFrameworkCore.Database.Command:Error: Failed executing DbCommand (5ms) [Parameters=[], CommandType='Text', CommandTimeout='30']
CREATE UNIQUE INDEX `UserNameIndex` ON `AspNetUsers` (`NormalizedUserName`);

MySql.Data.MySqlClient.MySqlException (0x80004005): Specified key was too long; max key length is 767 bytes ---> MySql.Data.MySqlClient.MySqlException (0x80004005): Specified key

[2017-12-11 16:44] Costo commented on #1360
We do use multiple user types and multiple managers in our app so we have this problem too.

What is the guidance then? Create one application per user type?

[2017-12-11 23:19] ajcvickers commented on #1518
@whizkidwwe1217 It might be possible to change that index and retain an EF model that still works correctly, but this will be more than a simple change in OnModelCreating and would require an intimate knowledge of how Identity is currently using the model. I don't have enough knowledge to do that, and based on my understanding from others there is little chance of getting it to work correctly sinc

[2017-12-11 23:19] #1518 closed

[2017-12-11 23:26] abhishekchouksey opened #1527 "IdentityServer3 based SSO server does not connect with ASP.net Core 2.0 based client"
IdentityServer3 based SSO server does not work with ASP.net CORE based client, we have been migrating our product from MVC 5 to ASP.net core 2.0 and have noticed that SSO server failed to provide login page.

This is request i have got from MVC 5 based application, which uses OWIN middle ware

[code]

This is request from ASP.net CORE 2.0

[code]

So I wrote the test version of IdentityServer4 bas

[2017-12-12 06:43] YodasMyDad commented on #1361
Any further official update on this?

[2017-12-12 08:24] weitzhandler commented on #1361
@YodasMyDad
Achieving a `Roles` property in the `User` entity, involves a greater issue which is the lack of support for many-to-many relationship without a join table in EF Core.

The issue is tracked here: https://github.com/aspnet/EntityFrameworkCore/issues/1368, so please vote there.

[2017-12-12 09:39] twenzel opened #1528 "UserManager does not follow DI rules / Can't decorate IUserStore"
The [UserManager](https://github.com/aspnet/Identity/blob/87bbff65867710b5a49265fdf09de4a6d539ac8d/src/Microsoft.Extensions.Identity.Core/UserManager.cs#L66) requires an `IUserStore<TUser>` as constructor paramter. But somewhere in [code](https://github.com/aspnet/Identity/blob/87bbff65867710b5a49265fdf09de4a6d539ac8d/src/Microsoft.Extensions.Identity.Core/UserManager.cs#L2277) the store will be c

[2017-12-12 09:47] YodasMyDad commented on #1361
@weitzhandler I don't think that is the issue in this case, as identity in EF Core 2 has a AspNetUserRole table? This is the join table is it not?

[2017-12-12 09:58] weitzhandler commented on #1361
@YodasMyDad
It is, hence you can't have a reference of `ICollection<Role>` in your `User` entity directly and a `ICollection<User>` in your `Role` entity, as we were used to when using EF6.
You will always need to manually load the join and the reference (`UserRole`+`Role` for `User`).

[2017-12-12 14:23] gabosistvanpwc opened #1529 "Preserve/Copy/Transfer Claims received during external authentication to the "Identity.Application" Identity"
Hi,

I need a way to preserve the claims received from the external identity provider when using the WsFederation authentication scheme.

The claims received after a successful authentication with the external Identity Provider can not be found in the new "Identity.Application" identity created by the SignInManager.ExternalLoginSignInAsync method.

I'm using the basic ASP.NET Core Web Application

[2017-12-12 14:33] gabosistvanpwc opened #1530 "Detect if an external authentication provider was used at sign in or not"
Hi,

Is there any way to tell after login if the current user was signing in by using the regular authentication flow or an external authentication provider?

Thank you

[2017-12-12 14:54] grahamehorner commented on #1530
the claims for the user identity should have the login provider information?

[2017-12-12 15:12] gabosistvanpwc commented on #1530
Unfortunately it doesn't.

I'm using the basic ASP.NET Core Web Application project template with the Individual User Accounts authentication option. As the external provider I have configured the WsFederation middleware as follows:

services.AddAuthentication()
.AddWsFederation(options =>
{
options.Wtrealm = "xxxx";
options.MetadataAddress = "xxxx";
})
.AddCookie();

After the request is going th

[2017-12-12 17:59] HaoK commented on #1518
Something you can try is to use a convention like {tenantId}-{userName} as the user name for identity

[2017-12-12 18:16] HaoK commented on #1510
Its just an additional sugar method that we added to the user store.  Its a breaking change to add it to the interface now.

[2017-12-12 20:36] HaoK commented on #628
I'll prob add a sample "soonish" via https://github.com/aspnet/AuthSamples/issues/6, I don't think we'll be adding any built in feature support for this in 2.1 at this point.

[2017-12-13 09:26] angelsix opened #1531 "More efficient password hashing check?"
You may have a reason such as purposely making it less-efficient as your comment in the function mentions not optimizing the loop, but I presume that is not for the same reason.

https://github.com/aspnet/Identity/blob/8cbda5a23dd594116fcd2f60c486d15fa50051af/src/Microsoft.Extensions.Identity.Core/PasswordHasher.cs#L81

Should

[code]

Not be better as:

[code]

So that the loop returns as soon as

[2017-12-13 10:31] angelsix commented on #1531
Ah yeah, makes sense. Thanks for the link

[2017-12-13 10:31] #1531 closed

[2017-12-14 05:06] papyr opened #1532 "Under Membership, please support Groups/tenants for SAAS apps memberships"
This feature is _incorrectly_ named, its supposed to be `Membership `-

With so many SaaS apps, adoption of ASP is so far behind, primarily **leaving out membership components for groups/tenants** (with the turn of a switch/configurable).

![image](https://user-images.githubusercontent.com/12733414/33976237-76f7e198-e061-11e7-9f3b-dc21bcb3ee8c.png)

Many will argue its not membership, however - a

[2017-12-14 09:35] groege commented on #999
We have the same problem in my company and think it is the worker process lifetime.
It seems like after 20 minutes the worker is killed (if not used)... should the token not be valid even if the worker has been killed?
Maybe someone can verify? Because we may be wrong.

[2017-12-14 19:23] blowdart commented on #1532
As we've said, ASP.NET identity is not aimed at multi-tenancy. It's identity, because that's what it is, it provides a database schema and support for logging in with either a local or federated identity. There's nothing to stop you adding your own groups support, it is, after all, just a bunch of EF models.

[2017-12-14 19:39] blowdart commented on #1527
This issue was moved to aspnet/Security#1572

[2017-12-14 19:39] #1527 closed

[2017-12-14 19:58] blowdart commented on #1523
This issue was moved to aspnet/Security#1573

[2017-12-14 19:58] #1523 closed

[2017-12-14 19:59] blowdart commented on #1526
How long is the username here?

[2017-12-14 20:00] #1510 closed

[2017-12-14 20:08] blowdart commented on #1530
This issue was moved to aspnet/Security#1574

[2017-12-14 20:08] #1530 closed

[2017-12-14 20:11] blowdart commented on #1528
Afraid so, this was designed before DI was put into ASP.NET, so it's "quirky". Unfortunately there's nothing you can, you can inherit, but not decorate, and it'd be a huge breaking change for us to move it now.

[2017-12-14 20:11] #1528 closed

[2017-12-14 20:16] blowdart commented on #1524
You can plug-in your own token provider for "Email" or any other purpose, and implement shorter lifetimes, or indeed increase the token length.

However I'm a bit confused, we have a specific email token provider which is NOT 6 digits. it is horribly long and would be really hard to brute force. This sounds like you're using the TOTP / Phone one for email? Could we see some configuration and use c

[2017-12-14 20:17] blowdart commented on #1516
We don't support this, Identity was not designed for multi-tenancy.

[2017-12-14 20:17] #1516 closed

[2017-12-14 20:18] blowdart commented on #1515
Identity isn't aimed as SAAS - you could prefix the usernames in the identity database and then hide/add it from the users using your own convention.

[2017-12-14 20:18] #1515 closed

[2017-12-14 20:20] blowdart commented on #1513
This is intended. You can hook into the cookie middleware ValidatePrinciple event - https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x#reacting-to-back-end-changes

[2017-12-14 20:20] #1513 closed

[2017-12-14 20:22] blowdart commented on #1508
You would simply call the lockout apis you see in the login code. https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L313

[2017-12-14 20:22] #1508 closed

[2017-12-14 20:22] #1503 closed

[2017-12-14 20:24] blowdart commented on #1496
Do you have a repro? What template was your app generated from? What databases are being used? Can you upload a sample to github?

[2017-12-14 20:40] HaoK commented on #1529
Dupe of https://github.com/aspnet/AuthSamples/issues/6

[2017-12-14 20:40] #1529 closed

[2017-12-14 23:04] Biarity commented on #1524
Yeah, that's what I'll try doing next. I am currently using `provider="Email"`.  This generates a 6 digit code, which is equivalent to using `provider="Phone"`. This might be a bug since using `provider="Default"` generates a long GUID-esque token, which I think is the one you're referring to?

Do you mind pointing me to the source code for the `"Email"` or `"Phone"` (ie. 6-digit) providers? I'd l

[2017-12-15 05:58] tianxiaode commented on #1526
I found this reply by searching for "Max key length is 767 bytes": https://stackoverflow.com/questions/1814532/1071- Specified-key-was-too-long-max-key-length-is-767-bytes

In identity, the default field length for username and Normalizedusername is 256, so I'll change the length of the field to 200 in the migration file. If you use UTF8MB4, it is estimated that you want to change the length of th

[2017-12-15 23:54] irashid25 commented on #1525
For anyone who is interested, i was able to solve my issue temporarily using the following answer.

https://stackoverflow.com/a/46013305

I queried the 'Identity' tables directed using the following:

[code]

I'm not sure if this is the best way to go about it, but i was able to get the job done. Like i mentioned, i tried adding UserRoles collection to the AppUser class and tried to get EF to play

[2017-12-16 00:00] #1525 closed

[2017-12-17 21:49] postb99 opened #1533 "[DOC] Please fix doc sample"
Please fix the "Add IdentityUser POCO Navigation Properties" example code on [this page](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x) register entities: in my case I have derivated types for IdentityUser, IdentityRole, IdentityUserRole, IdentityUserToken, IdentityUserLogin (they have int primary/foreign  key), with "long" naming of navigation properties (User has a

[2017-12-18 08:57] LindaLawton opened #1534 "Cant build project VS 17 windows 10"
I have been trying to build this all morning.   I have updated .net core

I have updated Visual Stuido.

Annoying error:

What am i missing? Yes i have tried rebooting.  This is quite annoying

[2017-12-18 09:01] HaoK commented on #1534
Try running build.cmd first, that should pull down everything you need https://github.com/aspnet/Identity/blob/dev/build.cmd

[2017-12-18 09:27] LindaLawton commented on #1534
Well that downloaded an impressive amount of stuff.

[code]

Looks like the tests are throwing a bunch of errors.   When i try and build the solution its throwing more errors now than before.

Any other ideas?

[2017-12-18 18:37] blowdart commented on #1533
This issue was moved to aspnet/Docs#5028

[2017-12-18 18:37] #1533 closed

[2017-12-18 19:24] dpedrelli opened #1535 "Multiple sets of Identity tables from one MVC app."
Hi,

I have three MVC apps, which all share a single database.  I remapped the names of the Identity tables.  Each MVC app has its own set of Identity tables, in the single database.  I want to be able to create users, in any of the three AspNetUser tables, from a single MVC app.  Can I specify the AspNetUser table name, when I instantiate a UserManager?  What is the best way to do this?

Thanks,

[2017-12-18 21:06] HaoK commented on #1535
Not easily since identity assumes there's only one single `UserManager<TUser>` you can have multiple DbContext's that point to the tables with different user table names mapped.  But you might be able to get this to work with different TUser types, basically:

[code]

@ajcvickers does that sound reasonable?

[2017-12-18 21:10] HaoK commented on #1509
Yeah that seems fine, basically any of the approaches shown here should be fine:  Identity won't load related data, its up to you to do that:

https://docs.microsoft.com/en-us/ef/core/querying/related-data

[2017-12-18 21:10] #1509 closed

[2017-12-18 21:12] HaoK commented on #1534
@natemcmaster is there anything else someone needs to do (feeds or environment or other pre build.cmd steps to build from a clean cloned dev enlistment)?

[2017-12-18 21:17] natemcmaster commented on #1534
The most common error is not setting up PATH correct. https://github.com/aspnet/Home/wiki/Building-from-source#path

@LindaLawton did build.cmd issue a warning like this?

![image](https://user-images.githubusercontent.com/2696087/34128509-d00209de-e3f5-11e7-94af-99e427eedee6.png)

[2017-12-18 23:35] dpedrelli commented on #1535
@HaoK that could work.  I want to extended two of the AspNetUser tables, but differently.  So, I really do need three different ApplicationUser classes.  The ApplicationDbContext.OnModelCreating() is where I remap the tables.  I will try that.  Thanks.

[2017-12-19 08:26] LindaLawton commented on #1534
@natemcmaster Yes I was getting that error.   I have fixed that.   Its bulding now.

Its still running Tests are throwing a lot of errors.

[2017-12-20 17:40] MV10 commented on #1079
In my opinion, the real problem is that Identity's persistence model is broken.

A User is a ClaimsPrinciple, but Identity doesn't persist multiple associated ClaimsIdentities and their discrete claims, which is really what should be happening here -- and that's not a template issue, although I agree the template UX isn't very good either. (I'm new to Identity, but I gather multiple identities wer

[2017-12-21 19:32] blowdart commented on #1524
@HaoK is email really not giving the right token here?

[2017-12-21 19:32] #1526 closed

[2017-12-21 19:44] HaoK commented on #1524
Ok sorry I got the defaults mixed up:

"default" is using DataProtection (really long token)
https://github.com/aspnet/Identity/blob/e6f3ebf5810c793edc6f3b4ca3438194786b86a2/src/Microsoft.AspNetCore.Identity/DataProtectionTokenProvider.cs

"email", "phone" are using TOTP (6 digits) https://github.com/aspnet/Identity/blob/dev/src/Microsoft.Extensions.Identity.Core/TotpSecurityStampBasedTokenProvide

[2017-12-21 22:23] #1473 closed

[2017-12-22 01:16] natemcmaster opened #1538 "Add xmldocs for Microsoft.AspNetCore.Identity.UI"
A fit-n-finish item TODO before RTM.

cc @javiercn

[2017-12-22 03:16] javiercn commented on #1538
A user will not interact with the types on this assembly with the exception of https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.UI/IdentityBuilderUIExtensions.cs#L27 which is documented.

These types are public just because MVC needs them to be public to properly function, but essentially everything except for that method is not something a user will interact with.

I

[2017-12-22 03:29] HaoK commented on #1538
Seems fine to just document the AddDefaultUI method then

[2017-12-22 17:54] natemcmaster commented on #1538
Is the undocumented API in a namespace that ends in .Internal? As a rule, we always document API that is "public". Even if it shouldn't be used by developers, how would a developer know?

[2017-12-22 20:58] eklam commented on #868
I'm experiencing the same issue. I'm not using the context myself to retreive anything, just calling UpdateAsync. If I change the username field it works as expected, changing any other field causes the problem:

Here's the stack trace:

[code]

[2017-12-24 14:31] zmjack opened #1539 "How can I make the Identity working correctly thought a reverse proxy server?"
I run a demo MVC project which using ASP.NET Identity under a private network (192.168.200.1). And I setup a reverse proxy server (192.168.200.201) to visit it.

I use IIS 6.1 with Application Request Routing (ARR) 2.5 as the reverse proxy server.

In the Identity library, the default LoginPath is **"/Account/Login"**. I don't change it, but when I visit some Actions which need Authorized in **192

[2017-12-24 16:41] dpedrelli opened #1540 "An error occurred while calling method 'BuildWebHost' on class 'Program'. Continuing without the application service provider. Error: Scheme already exists: Identity.Application"
With Entity Framework Core 2.0.0 libraries, I was able to add multiple Identity instances and create a migration.

[code]

I added a library that used Entity Framework Core 2.0.1 and I upgraded all of my libraries to 2.0.1.  Now, the above codes produces

[code]

When I try to create a migration.

I am using the format:

[code]

If one package references 2.0.1 and the other packages reference 2.0.

[2017-12-24 17:59] dpedrelli commented on #1540
Apparently, when I was able to create the migrations, initially, I only had one services.AddIdentity() call.  Adding three of them, even though they use different ApplicationUser classes and different ApplicationDbContext, produces the error:

`An error occurred while calling method 'BuildWebHost' on class 'Program'. Continuing without the application service provider. Error: Scheme already exists

[2017-12-25 20:27] fe-c opened #1541 "User name and email confusing"
Hello!
I was created ASP.Net Core project with individual accounts.
After user registration User Name and Email are same.
I was edit Profile page to change User Name, becouse I want to display user name, not email in top navbar.
At now I cant login, cause signInManager.PasswordSignIn need user_email in user name field.
When I change user email, I still need to signin with user_name=old_user_email.

[2017-12-26 13:29] samarmir opened #1542 "sample project needs more"
I find it dissapointing that the sample code does not show how to extend the applicationuser with extra properties.

[2017-12-26 18:35] HaythemJ opened #1543 "Aspnet Core 2.0 Authorization issues after deploying to IIS"
I have a Aspnet Core 2.0 application. I configured both Identity and Jwt as below:

      `// Register identity framework services and also Mongo storage.
            services.AddIdentityWithMongoStores(settings)
                .AddDefaultTokenProviders();
            services.ConfigureApplicationCookie(options =>
            {
                options.LoginPath = "/Account/Login";

[2017-12-26 22:37] HaythemJ commented on #1543
For a raison that I ignore, it works when I started the application using my host name instead of "localhost/". Is there a configuration for a such thing?

[2017-12-27 00:07] embryologist opened #1546 "Optimistic concurrency failure upon using RoleManager DeleteAsync!"
My implementation,

**`ApplicationRole Class`**

      public class ApplicationRole: IdentityRole
        {
            public string Description { get; set; }
        }
**`ApplicationRoleViewModel class`**

    public class ApplicationRoleViewModel
    {
        public string RoleId { get; set; }
        [Required]
        [DataType(DataType.Text)]
        [Display(Name = "Role Name")]
        pu

[2017-12-27 00:55] embryologist opened #1547 "How to get all Roles using asp.net core 2 Identity?"
**This is a question, Not an Issue**
I have a custom `IdentityRole` called `ApplicationRole`. I created a RoleManager Service and I was successful in creating new roles using `CreateAsync` method but I am facing  I can't get all roles using this implementation (`GetAllRolesAsync`). I keep getting this error,

I am posting the relevant code for this implementation.

  **`ApplicationRole Class`**

[2017-12-27 13:28] dallancarr commented on #1543
I think this is IIS setup and not an identity issue. Probably default website configured incorrectly,

[2017-12-27 19:14] natemcmaster commented on #1428
FYI - VSCode files are designed to be okay to commit to source. Even the VSCode repo itself commits their files. https://github.com/Microsoft/vscode/tree/master/.vscode. It's a nice way to share the debugger setup, common tasks, common editor settings, etc.

But in this repo, it looks like the VSCode settings were added by accident. So yeah, probably good to remove.

[2017-12-28 16:12] dpedrelli commented on #1535
@HaoK I implemented this, but I get an error with multiple calls to services.AddIdentity(), as referenced it [https://github.com/aspnet/Identity/issues/1540](https://github.com/aspnet/Identity/issues/1540)

[2017-12-28 16:38] mdekrey commented on #1335
Given the line linked, it looks like it uses `CancellationToken.None` my default; it doesn't look like the code has changed since @HaoK's comment, either.

I'm curious on the design decision here as opposed to having default parameters of `CancellationToken cancellationToken = default(CancellationToken)` that I see in most other areas of the framework. Can someone enlighten me? Thanks in advance!

[2017-12-28 18:33] dallancarr commented on #1540
AddIdentityCore bypasses the default auth setup but that means more boilerplate code. Paste your start-up for others to see.

[2017-12-29 00:44] dpedrelli commented on #1540
@dallancarr

Currently, I have:

[code]

How do I use services.AddIdentityCore()?

Thanks.

[2017-12-29 01:09] dpedrelli commented on #1540
@dallancarr I tried the following startup code and still get the error:  "InvalidOperationException: Scheme already exists: Identity.Application."

[code]

[2017-12-29 10:20] HaythemJ commented on #1543
It works fine on a VM having the same environment. And was not obliged accessing the Application using the host name of an FQN. My site on IIS is the default (running on port 80)

[2017-12-29 11:08] dallancarr commented on #1540
There is no need to new up IdentityBuilder as AddIdentityCore is doing that but that is still not your issue.  Looks like you are still configuring authentication somewhere. For the sake of clarity someone has posted a stack question: https://stackoverflow.com/questions/47433269/multiple-identities-in-asp-net-core-2-0

[2017-12-30 00:42] javiercn commented on #1428
7ccc463f6d6240684e1af37cb5e5d2cd51e5f095

[2017-12-30 00:42] #1428 closed

[2017-12-30 00:48] #1390 closed

[2017-12-30 00:50] HaoK commented on #1374
Are you trying to authenticate on the same request?  You need to authenticate on the following request to get anything back

[2017-12-30 00:51] #1159 closed

[2017-12-30 00:55] HaoK commented on #1547
this.roleManager.Roles.ToList() would be an `List<ApplicationRole>` which is not a  `List<ApplicationRoleViewModel>`

[2017-12-30 00:55] #1547 closed

[2017-12-30 05:42] embryologist commented on #1546
It was a wrong implementation in the service,
buggy code of mine,
I am closing this issue

[2017-12-30 05:42] #1546 closed

[2017-12-30 13:09] whizkidwwe1217 commented on #1532
@blowdart Yes you're right, those are all just bunch of EF models but there's actually something that stops us from adding our own groups/tenants support and it's the 'UsernameIndex'/'RoleNameIndex' in the IdentityDbContext. You could've just provide us a way to override it in the OnModelCreating. We're not gonna use a bloated ASP.NET Boilerplate 3rd party library or reinvent the Identity library

[2017-12-30 16:03] whizkidwwe1217 commented on #1518
I actually managed to make it work by creating a custom user validator and I didn't use IdentityDbContext. Instead, I derived a new db context from DbContext class and copied all dbsets and configurations from identity context. Kind of a hack actually but it works.

[2017-12-30 17:14] dpedrelli commented on #1540
I resolved this by making the following calls:

[code]

[2017-12-30 17:15] #1540 closed

[2017-12-30 22:08] dallancarr commented on #1540
Glad you sorted the problem...but small refactoring might be in order. 😊

[code]

[2017-12-31 14:10] aneequrrehman opened #1549 "Changing the primary key of IdentityUserClaim<> and IdentityRoleClaim<>"
Well, I have updated everything necessary to change all the Identity tables' primary keys to be `Guid`s, but I couldn't find any way to change the primary keys' types for `IdentityUserClaim<>` and `IdentityRoleClaim<>` tables.

I have added this line in `ApplicationUser.cs`

    public virtual ICollection<IdentityUserClaim<Guid>> Claims { get; } = new List<IdentityUserClaim<Guid>>();

There should

[2018-01-02 18:32] javiercn opened #1550 "Productionize IEmailSender interface"
We need to refactor the interface that we had on the template (now on the UI package) into a shape that we like, and find the right place for it. (probably the M.A.I package).

My proposal
[code]

The idea of using a class is to allow for adding new members if necessary in the future without causing breaking changes.

/cc: @HaoK

[2018-01-02 18:33] HaoK commented on #1550
What package do you mean by M.A.I, one of the core Identity packages?

[2018-01-02 19:52] blowdart commented on #1543
302 is the redirect, so that's an expected status code. Have you tried using fiddler and seeing if an auth cookie is created?

[2018-01-02 19:55] blowdart commented on #1539
You need to config the proxy server to pass on X-Forwarded-For and then wire that in using the [.UseForwardedHeaders](https://github.com/aspnet/BasicMiddleware/blob/dev/samples/HttpOverridesSample/Startup.cs) middleware.

[2018-01-02 20:11] javiercn commented on #1550
Yep

[2018-01-02 20:53] HaoK commented on #1550
Doesn't really belong there, the rest of  identity has nothing to do with sending emails (only the default UI does).  What's wrong with keeping it in the UI package, its really just meant to be an adapter interface for a real email service...

But now that this is all in the UI package, we are free to change how this works if we have better ideas/names now since the code doesn't show up in the app

[2018-01-02 21:00] javiercn commented on #1550
Is the name what you don't like?

The concept of email registration/etc is already part of identity, so I think it's ok to have the interface at the same layer. If not, where would we put this?

[2018-01-02 21:07] HaoK commented on #1550
The only reason you would ever want to use this interface, is if you were configuring the UI, so it really belongs with the UI package.  Its not a general purpose email sender interface, its purely an adapter which the UI code uses to send email.

[2018-01-02 21:08] HaoK commented on #1550
If there was a general purpose email sending interface, we could use that... but I don't think we should build that as part of identity...

[2018-01-02 21:40] blowdart commented on #1550
Needs CC and BCC list. Also PlainText/HTML property, and maybe a headers property.

But yea, needs to be somewhere other than Identity, which would then take a dependency.

[2018-01-03 01:56] grahamehorner commented on #1550
@blowdart  @HaoK I personally think the email interfaces should be in a System.Net namespace and should have support for digital signatures etc. the transport implementation should also be separated from the data structures 🤔

[2018-01-03 22:36] HaoK commented on #1387
@natemcmaster is this still an issue we want to fix? I can submit a PR with some shortened names if we still want to do this...  I personally hate seeing this warning too so I'm all for it

[2018-01-03 22:39] natemcmaster commented on #1387
Yes, let's fix it. I think we held off on this because there was expected to be a lot of churn. But that should have settled by now, right?

[2018-01-03 22:42] natemcmaster commented on #1387
FYI - since the issue was almost always a file in obj/ or bin/, another solution that works well is setting BaseIntermediateOutputPath and BaseOutputPath using Directory.Build.props. Maybe we should try that first. We did this in aspnet/DotNetTools and haven't had problems so far.

https://github.com/aspnet/DotNetTools/blob/dev/Directory.Build.props#L23-L24

[2018-01-03 22:50] HaoK commented on #1387
here's what I'm thinking, I don't think you lose any meaning by just going with these folders:

[code]

[2018-01-04 09:56] horbel opened #1553 "Microsoft.Owin.Security.OAuth Version=3.0.0 Tokens support"
Hi all. I have Authorization server which built on .NET 4.5.1 and use Microsoft.Owin.Security.OAuth Version=3.0.0
http://prntscr.com/hvwhl4
Tokens protected via machinkey (OAuthAuthorizationServerOptions.AccessTokenFormat is null). I also have few application-consumers(resource servers) on .NET 4.5.1 which validate these tokens via custom AuthorizeAttribute (System.Web.Http Version=5.2.3.0) http:/

[2018-01-04 15:58] tonyawad88 commented on #1459
We have the same issue with RoleManager.DeleteAsync(...) and UserManager.DeleteAsync(...)
Error Code: ConcurrencyFailure
Error Description: Optimistic concurrency failure, object has been modified.

[code]

Any help is greatly appreciated. Thank you!

[2018-01-04 17:14] horbel commented on #1553
I think I find a kind of solution. I use AspNet.Security.OAuth.Validation assembly: http://prntscr.com/hw1u5m

But I still don't find out how to use machine key to "decode" bearer token from my Auth server

[2018-01-04 18:09] blowdart commented on #1553
This issue was moved to aspnet/Security#1592

[2018-01-04 18:09] #1553 closed

[2018-01-04 20:05] blowdart commented on #1497
Discussion results - new templates could limit the string lengths to a more reasonable length, so this wouldn't appear in new projects, but the potential for data loss in older projects is a concern. Primary keys would never swap to integers.

@ajcvickers to discuss with @HaoK

[2018-01-04 20:08] #1532 closed

[2018-01-04 20:08] blowdart commented on #1534
@HaoK could you answer the outstanding questions, and then close once @LindaLawton is happy with your answers?

[2018-01-04 20:11] blowdart commented on #1541
Can you post a small repro of the changes you made?

[2018-01-04 20:11] blowdart commented on #1542
@ajcvickers This would fall into your documentation updates.

[2018-01-04 20:44] fe-c commented on #1541
I just make user name editable. signInManager.PasswordSignIn don't have ability to login with email, so i revert this chanhes.

[2018-01-04 20:54] Triwaters commented on #1497
Yes, I never figured the switch to integers would happen, and that's just personal preference for me. Glad you're looking into fixing the field lengths, however!

[2018-01-04 21:16] HaoK commented on #1534
IdentityCore is the slimmed down sln that doen'st include the identity service stuff which hasn't been shipped yet.  You can launch using the sln or attach, either way should work

[2018-01-04 21:16] #1534 closed

[2018-01-04 21:17] HaoK commented on #1535
looks like you got it working in the other issue

[2018-01-04 21:17] #1535 closed

[2018-01-04 21:21] HaoK commented on #1541
Yes so in the templates, it conflates UserName and Email, registering a user using the email as the initial user name.  So if you add the ability to change the email, that does not affect the user name for the user.  You could try updating both UserName and Email at the same time in your app.

[2018-01-04 21:25] HaoK commented on #1542
We should wait to see how the new UI stuff in 2.1 ends up before updating the documentation since otherwise the documentation updates might be obsolete immediately :)

[2018-01-04 21:35] HaoK commented on #1522
I think we are good, I looked at the changes in rel/2.0.1 and the two fixes we took are already in dev:

87bbff65867710b5a49265fdf09de4a6d539ac8d
b865d5878623077eeb715e600d75fa9c24dbb5a1

Was there any other commits in particular that you wanted me to review/ensure we have in dev from the release branches?

[2018-01-04 22:11] natemcmaster commented on #1522
Here are the only important changes I'm still seeing when comparing the two branches. Everything else is build infrastructure improvements

https://github.com/aspnet/Identity/compare/release/2.0.0#diff-57b020cd354da4b1e16f9d9e056d92f6
https://github.com/aspnet/Identity/compare/release/2.0.0#diff-aed72f60743ee817f0aef869518022fb

[2018-01-04 22:18] HaoK commented on #1522
Strange since this looks like it should have been ported in https://github.com/aspnet/Identity/commit/73afa0af5e27b09aeaea684731bbe7a338e21903

never the less, dev has the right code since the fix went in there first anyways, so I don't think that diff is an issue.  The second diff is a release only test for the release only quirks mode so that one we definitely don't want in dev.

[2018-01-04 22:20] HaoK commented on #1522
Oh maybe the first fix went into 2.0.1 not 2.0?

https://github.com/aspnet/Identity/compare/dev...patch/2.0.1

[2018-01-04 22:21] natemcmaster commented on #1522
Release/2.0.0 is poorly named. It should release be named "release/2.0". It is used to build any 2.0.x patch. (We'll fix this in 2.1 by naming the branch release/2.1). Also, I need to clean all of our stale branches. patch/2.0.1 might be one of those.

Then to close this out, let's make one of those no-change merges from release/2.0.0 to dev. That should help us move patches from 2.0 to dev if the

[2018-01-04 22:22] natemcmaster commented on #1522
BTW, the latest public release of 2.0.x used this. https://github.com/aspnet/Identity/tree/8c47b90677c0f544844151418ba94f24d9f2a094

[2018-01-04 22:23] HaoK commented on #1522
I assume we want to do the no-change merge before I do the rename push?

[2018-01-04 22:25] natemcmaster commented on #1522
yes please

[2018-01-04 23:12] HaoK commented on #1522
Ok cherry picked your empty merge and pushed: 79de498dcb740f9930adb2218f75df3babec2ba6

[2018-01-04 23:12] #1522 closed

[2018-01-05 07:39] fe-c commented on #1541
Yes, I can change them at the same time. I can also add one more field for the real user name, and so on.

Perhaps a better solution would be to create a "Login" field, into which you can write a login, email or phone? and use it to sign in methods.

[2018-01-05 07:49] LindaLawton commented on #1549
On a side note i am curious on how you intend to populate that.

[2018-01-05 08:02] lpinter commented on #1361
@weitzhandler
Where is iUser defined? I cannot find it in the EF 2.0 or on this page.

[2018-01-05 10:29] sboopal commented on #104
can i use userid and password to find the user. In our application username are not unique and hence this requirement.

[2018-01-05 13:32] Triwaters commented on #1497
One more stupid question -- why use nvarchar to store a Guid? I can understand varchar (for legacy compatibility) or (preferably, for those who want Guids) uniqueidentifier... but why nvarchar??

[2018-01-05 15:07] irriss commented on #1364
@mattgross76

I faced the same issue. Have you found a solution?

[2018-01-05 16:24] scottsauber commented on #1265
Any update on where we are at with fixing this issue?  This is a bit of an account enumeration risk with not checking the password first before checking if the Email is confirmed (or Phone # is confirmed if you have that turned on).

[2018-01-05 19:57] HaoK commented on #1265
In general we haven't been worrying about account enumeration I don't think, @blowdart thoughts?

[2018-01-08 20:23] HaoK commented on #1387
85f8a49aef68bf9763cd9854ce1dd4a26a7c5d3c

[2018-01-08 20:23] #1387 closed

[2018-01-09 05:56] Wayne-Mather opened #1556 "Identity 2.0 and sub domains"
Hi,

I have several sites on the same server just using a different subdomain. An example may look like this:

- sales.contoso.com
- customers.contoso.com
- invoicing.contoso.com

I cannot use an identity server because while these sites are also replicated (SQL Server) to remote sites in remote areas (behind a satellite).

What I want to be able to do is to allow the authenticated cookie to be sh

[2018-01-09 18:52] pranavkm opened #1558 "Port fix to broken link in individual auth template"
While porting changes to Identity UI, we need to port the fix to https://github.com/aspnet/templating/issues/226 over.

[2018-01-09 18:55] swisszeni commented on #991
@NinoFloris there alreday is one. See the SO answer @abasarab linked two posts above.

Though still would like to have some translation for the most common languages. And/or a simpler way to inject my own resx.

[2018-01-09 20:52] NinoFloris commented on #991
That's basically what I've said right? I want it in the box is all

[2018-01-10 09:37] guylando opened #1560 "Middleware reports wrong user"
I am using identity with cookies authentication.
I have registered a middleware after UseAuthentication so that the User in the context will already be authenticated and I have an issue where user A makes a request and the middleware reports that context.User.Identity.Name is user B. Then user A makes again THE SAME REQUEST and this time the middleware reports context.User.Identity.Name is user A.

[2018-01-10 14:00] guylando commented on #1560
Moved the issue to the aspnet security https://github.com/aspnet/Security/issues/1602

[2018-01-10 14:00] #1560 closed

[2018-01-11 07:27] SychevIgor opened #1563 "update wiki page. it's showing code for asp.net core RC1"
Please, update or delete this page
![image](https://user-images.githubusercontent.com/578954/34813158-e419ad06-f6b9-11e7-850a-34a765a390d4.png)

https://github.com/aspnet/Identity/wiki/Using-Identity-in-ASP.NET-applications

you are using namespaces no longer available starting from RC2... it's not a good sign for wiki.

[2018-01-11 09:53] marcobarbero commented on #1422
I have post a simplified example for user Jwt authentication on Asp Net Core 2.0 and Angular with a custom repository here:
https://expertcodeblog.wordpress.com/2018/01/11/implement-jwt-authentication-on-asp-net-core-2-0-and-angular/.
This is a simplified example of what I used on my project that work correctly.
I hope it can help you.

[2018-01-11 10:55] grahamehorner commented on #1283
I'm in the process of doing something like this; the flow I'm using is this:-

- user signs in user any approved/configured provider/middelware (Facebook,Google,Microsoft,Twitter,OpenID, ...) or they supplies an
email address/phone number;

registration
- system generates and stores (securely) the user identity (email/mobile) with the shared secret
- system sends (via email/sms) to the user with t

[2018-01-11 11:00] grahamehorner commented on #1283
BTW, my implementation is for a IoT so I really don't wish to have a compute/store requirement of the identity implementation or store passwords.

[2018-01-11 13:02] grahamehorner opened #1564 "RFC6238 Pin Length"
IMHO the service should allow for a configurable PIN length 6/8 and be public; the GenerateCode/ValidateCode should also return/accept a string; the length of the pin is important
is current controlled by the RFC6238 as a const, service which may result in a number that requires padding with 0s and a consumer of the service many not realise resulting in the wrong length code getting passed up the

[2018-01-11 16:55] alexsorokoletov commented on #1283
@grahamehorner thank you, Grahame!
I would love to see a sample project and dive into how it works. I assume your system is based on ASPNET Identity, right?

[2018-01-11 20:00] blowdart commented on #1564
@GrabYourPitchforks thoughts?

[2018-01-11 20:02] blowdart commented on #1563
@Eilon Can you just delete the wiki?

[2018-01-11 20:29] blowdart commented on #1556
This isn't just a matter of setting the cookie. The cookie is encrypted with data protection so in addition to replicating your user database you must also replicate your encryption keys, and in order to do that you're going to need to [write a SQL store for data protection](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/extensibility/key-management?tabs=aspnetcore2x), somet

[2018-01-11 21:22] Eilon commented on #1563
As in, completely hide the wiki? I can do that. It'll mean any existing links to it will be broken. Are you ok with that?

[2018-01-11 22:43] grahamehorner opened #1565 "Improve test ability of TOTP"
IMHO TOTP needs to use ISystemClock to allow for testing to skew clock outside TOTP TimeStep, also at present the TimeStep is fixed at 3 mins which result in a window of 9 mins either side of the time the code was issued, this should be configurable with a note that a larger worn is less secure and a smaller windows is more prone to expire.

ie. when using an authenticator application a small wind

[2018-01-12 11:52] sebastianbk opened #1568 "Expose ASP.NET Identity via LDAP interface (.NET Core 2.0)"
I have an ASP.NET Core 2.0 application where I am using the stock implementation of ASP.NET Identity to manage and authenticate my users.

I would like to use my application as an identity provider for 3rd party service that I am planning on using. The only issue is that this service can only communicate with identity providers over LDAP.

Is there a way to stand up an LDAP server as part of my AS

[2018-01-12 23:12] GrabYourPitchforks commented on #1564
I don't have any security concerns with allowing 7- or 8-digit codes. Historically, the reason most people settled on 6 as the default is that at one time many mobile authenticator apps were hardcoded to generate only 6-digit codes. I haven't looked at this space in a while but I'm hopeful that modern authenticator apps don't have these same restrictions. :)

Re: the wrong code being returned up t

[2018-01-12 23:38] grahamehorner commented on #1564
IMHO it should be responsibility of the Rfc6238AuthenticationService to pad the returned value not the caller as the Rfc6238AuthenticationService is the location where the token is created and this could/may change if the implementation was to support 7- or 8- digit codes; if the consumer is unaware of the modulo used and applies the wrong padding this would cause issues; and especially if the RFC

[2018-01-13 23:58] javiercn opened #1569 "Investigate functional test issues in netcoreapp2.1"
The tests are failing to run with a BadImageFormatException on netcoreapp2.1.

[2018-01-13 23:59] javiercn opened #1570 "Add functional tests to the default embedded UI"

[2018-01-14 00:04] javiercn opened #1571 "Bundle and minimize javascript and CSS assets for the default identity UI"

[2018-01-14 00:06] javiercn opened #1572 "Improve the extensibility of the default identity UI"
Support changing the user type from IdentityUser to TUser while using the default UI.

[2018-01-14 09:25] akarzazi commented on #1113
Implicit `TransactionScope` may help achieve consistency seamlessly, regardless of the UserManager operations order.
[https://docs.microsoft.com/en-us/dotnet/api/system.transactions.transactionscope?view=netcore-2.0](https://docs.microsoft.com/en-us/dotnet/api/system.transactions.transactionscope?view=netcore-2.0)

[2018-01-15 02:53] benrhere commented on #1509
But what if you want to access related data when you're adding your own custom claims in GenerateClaimsAsync (which gets passed the user object and has no access to db context)?

[2018-01-15 03:34] HaoK commented on #1509
DbContext's are scoped services so your custom objects should be able to just get them in its ctor

[2018-01-15 03:38] benrhere commented on #1509
That makes good sense. Thank you!

[2018-01-16 16:10] pranavkm opened #1574 "Functional test discovery fails on build"
Fails both locally and on the CI. From http://aspnetci/viewLog.html?buildId=387311&buildTypeId=Lite_Identity&tab=buildLog&_focus=407#_state=407:

[code]

[2018-01-16 16:53] pranavkm commented on #1574
@javiercn this is caused by the Mvc test target overriding the SDK's platform selection - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Testing/build/netstandard2.0/Microsoft.AspNetCore.Mvc.Testing.targets#L19-L20. The issue that you're attempting to workaround has been fixed. Can you verify that you still need the target?

[2018-01-16 16:54] pranavkm commented on #1574
https://github.com/dotnet/sdk/issues/1729 might also be a result of the test target. Can you investigate \ close if it's an issue with Mvc's target and not the SDK?

[2018-01-16 17:44] pranavkm commented on #1569
Here you go - https://github.com/aspnet/Identity/issues/1574

[2018-01-16 17:44] #1569 closed

[2018-01-16 20:22] HaoK commented on #1342
@blowdart stumbled on this old bug, are there any of these that we want to still take a look at for 2.1?  I have a PR for voiding TFA cookies when security stamp rolls, so I'll work on getting that in soon

[2018-01-16 20:23] blowdart commented on #1342
Backout and forget this machine as well.

[2018-01-16 20:28] HaoK commented on #1011
@blowdart punt to 2.2?

[2018-01-16 20:33] HaoK commented on #1342
What do you want the UI/flow to look like for backout and forget?

[2018-01-16 21:36] blowdart commented on #1342
A cancel button on the scan this image page for backout. An extra page mid logout for forget this machine?

[2018-01-16 21:43] blowdart commented on #1563
There's nothing in it but a single page, so yes, kill it please :)

[2018-01-16 22:19] blowdart commented on #1011
Ugh, if we have to.

[2018-01-16 22:23] HaoK commented on #1011
Well from your comments earlier: "It'll take a new API, which means it won't be quick" given how this is low pri since we don't need this for any of the features we currently are targetting, seems very unlikely we are going to even look at this for 2.1

[2018-01-16 22:24] HaoK commented on #1011
I'm just trying to clean up my plate and get rid of all the issues that are still in 2.1 but clearly not going to be done for 2.1

[2018-01-16 22:26] blowdart commented on #1011
Sure. But let's not put it off to 2.3 when the time comes :D

[2018-01-16 22:31] HaoK commented on #1011
Well, aren't you the one who's setting priorities as the PM? :)  Moving to 2.2

[2018-01-16 23:21] HaoK commented on #1342
I'm not sure I understand the desired flow for the back out...

We are talking about the Reset authenticator app flow right?

So today, you click Reset App: there's a button that says Reset key which if you click immediately nukes your app.  or are you referring to a different rolling of keys?

[2018-01-16 23:22] HaoK commented on #1342
Or are you talking about rolling the recovery keys?

[2018-01-17 19:48] Eilon commented on #1563
Wiki is gone.

[2018-01-17 23:17] Ruslan-Ba commented on #1478
Experiencing same issue

[2018-01-17 23:18] Ruslan-Ba opened #1575 "ASP.NET Core 2.0 Identity Expiration"
Please, see:
https://github.com/aspnet/Identity/issues/1478

[code]

AccessDeniedPath  is ignored when cookie expires.
401 returns but is it expected to be redirected to AccessDeniedPath ?

[2018-01-18 06:01] #1563 closed

[2018-01-18 07:15] simont789 opened #1576 "Using EntityFramework Core to store Identity Database in Azure sql"
Hi Community,

As mentioned, I'm trying to store all my Identity information in Azure Sql using Ef Core. Thought it would have been smooth but I've been facing a lot of difficulties. Research online has shown me ways to edit the migration file, since there are some wrong data type when it is mapped. However I'm still stuck with the "System.Data.SqlClient.SqlException (0x80131904): String or binary

[2018-01-18 20:07] blowdart commented on #1568
That's not something we'd consider supporting I'm afraid. LDAP isn't an HTTP based protocol, so it wouldn't be an ASP.NET concern at all. I'm unaware of any .net core based library for this.

[2018-01-18 20:07] #1568 closed

[2018-01-18 20:11] blowdart commented on #1575
That issue is about expiring cookies. Please give us more information to go on, and post your app configuration

[2018-01-18 20:22] blowdart commented on #1155
@javiercn Apparently you are doing this now. Can you tag what preview it will appear in, if it appears at all?

[2018-01-18 20:27] blowdart commented on #1265
We don't care about account enumeration because there are lots of ways to do it - like trying to register a new user

[2018-01-18 20:35] blowdart commented on #1409
Blocked awaiting Virtual Scheme review

[2018-01-18 21:50] javiercn commented on #1155
It'll be preview2

[2018-01-19 08:52] Ponant commented on #1265
What we are talking about here is a flow which is superior to the current one while maintaining a liberty in configuration.

[2018-01-21 03:30] javiercn opened #1580 "Add assembly metadata attributes to the precompiled views assembly for the default UI"
All these missing assembly attributes are causing nuget package verifier to fail

{
  "Microsoft.AspNetCore.Identity.UI": {
    "Exclusions": {
      "ASSEMBLY_COMPANY": {
        "lib/netstandard2.0/Microsoft.AspNetCore.Identity.UI.PrecompiledViews.dll": "Enter justification"
      },
      "ASSEMBLY_COPYRIGHT": {
        "lib/netstandard2.0/Microsoft.AspNetCore.Identity.UI.PrecompiledViews.dll":

[2018-01-21 03:31] javiercn commented on #1580
@rynowak Is there a way to achieve this today? I think its interesting to have for libraries, I'm not sure if this is a blocker for us. @Eilon can you comment on this? I'm going to try and add exclusions for all these things for now.

[2018-01-21 03:32] rynowak commented on #1580
`<RazorCompile Include="..." />`

[2018-01-21 09:28] Wayne-Mather commented on #1556
This is an intranet app, so protection of the cookie is not necessary for my circumstances.

Pity there is no way to setup the data protection with your own IV/seed bytes (or disable encrypting the cookie). That way the cookie can be successfully decrypted by all running servers.

If I understand correctly any sub-domain servers are reading the cookie, but because it cannot be decrypted (due to th

[2018-01-21 09:44] HaoK commented on #1556
If you really want, you can plug in your own data protection for cookies via

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationOptions.cs#L123

[2018-01-21 17:51] javiercn opened #1581 "Switch identity UI to use precompiled views instead of embedded file provider"

[2018-01-21 18:29] FanrayMedia opened #1582 "IdentityUserToken table PK and expiration date"
For IdentityUserToken table is there a plan to add an Id as PK and some sort of expiration date for the tokens?  Also where could I find a sample that uses this table?  Thanks.

[2018-01-21 19:23] javiercn opened #1583 "Add authorization to the default razor UI"

[2018-01-21 19:45] javiercn opened #1584 "Travis not enabled in Identity?"
For some reason it doesn't seem to be triggered @HaoK @Eilon

![image](https://user-images.githubusercontent.com/6995051/35198212-64051ad0-fea0-11e7-86df-6249a08ce705.png)

[2018-01-21 22:21] Ruslan-Ba commented on #1575
I updated the issue

[2018-01-22 03:16] Wayne-Mather commented on #1556
@HaoK Is there an example any where on how to do this? app.UseCookieAuthentication() is deprecated so this can only be setup when configuring services.

I have tried several things such as even creating my own AddCustomDefaultProviders() method. But nothing allows me to share the cookie with different instantiated Kestral sites running under the same top-level domain.  I am thinking of a refactor

[2018-01-22 03:53] HaoK commented on #1556
services.ConfigureApplicationCookie(options =>
{
    options.TicketDataFormat = new WhateverSecureDateFormatYouWant()
});

[2018-01-22 04:49] Wayne-Mather commented on #1556
@HaoK  Thanks I did try that before but got stuck on how serialise the AuthenticationTicket. It took me an hour of searching to finally find that Microsoft.AspNetCore.Authentication nuget package is in the ASPNET/Security github solution.

Once I found that I all I needed to implement the class and drop it it. Worked like a treat in my initial POC testing. I will consider this closed for my scenar

[2018-01-22 04:49] #1556 closed

[2018-01-22 16:35] grahamehorner opened #1585 "IUserStore/IUserRoleStore"
IMHO IUserRoleStore<T> shouldn't inherit for IUserStore<T> as this could case issues where user roles have a different storage provider to that of the UserStore; ie. a centralised user store for multiple applications; with each application having an implementation of the role store.

[2018-01-23 04:57] slaneyrw commented on #1480
Just hit this bug, using 2.0.1.  Any timeframe of when this will be released?

Is there a work around ?

[2018-01-23 05:28] HaoK commented on #1480
You can just add the concrete UserOnlyStore in ConfigureServices, something like, or one of the other overloads

[code]

[2018-01-23 18:38] itzAnish commented on #1341
Hello,
Is it possible to store the email column in AspNetUsers table to be encrypted using Application level i.e System.Security.Cryptography or Database level i.e. Always Excrypted (SQL Server 2016)
We are using ASP Identity with our ecommerce application and need to follow GDPR for customer data.

Thanks.

[2018-01-23 23:22] simont789 commented on #1576
Found the problem. I was using the default migration that was created for SqLite. Was fine when I created another migration file. Cheers!

[2018-01-24 10:34] zmjack commented on #1539
I tried, but it doesn't work in IIS with ARR 2.5.

So, I have to find another solution.

I use ngnix as reverse proxy server to visit the http server. I can't belive that it's working correctly!

I don't know what happened, but it's a right way to make Identity work correctly on ngnix.

Thank you!

[2018-01-24 14:20] wiktor-golonka opened #1589 "FindByIdAsync uses string instead of TKey"
Method FindByIdAsync still uses string as a type of id instead of using type from TKey.

I am implementing my custom UserStore like that:
[code]

All of the models above are using int as a key.

[2018-01-24 14:27] blowdart commented on #1576
That's somewhat strange, any chance you could post your startup.cs - it should use the provider you wired up, or did you bring the default migration from another project?

[2018-01-24 18:01] HaoK commented on #1589
This is by design, the interface is always a string, stores are free to persist the keys using whatever type they want, but they are responsible for converting it to/from a string.

The base stores have virtual ConvertIdTo/FromString methods to make this easier:
https://github.com/aspnet/Identity/blob/dev/src/Stores/UserStoreBase.cs#L239

[2018-01-24 18:01] #1589 closed

[2018-01-24 18:03] HaoK commented on #1585
IUserStore has the only methods that should be updating/committing the user (Create/Update/Delete), the IUserRoleStore methods should only be updating the entity, but the changes shouldn't be 'persisted' until Update is called.

[2018-01-24 18:03] #1585 closed

[2018-01-24 18:08] #1374 closed

[2018-01-24 18:10] #1186 closed

[2018-01-24 18:10] #1175 closed

[2018-01-24 18:11] #1135 closed

[2018-01-24 18:13] #1113 closed

[2018-01-24 18:15] HaoK commented on #1584
This must be specific to some of PRs, travis is showing up in typically in mine: https://github.com/aspnet/Identity/pull/1577

[2018-01-24 18:17] #1445 closed

[2018-01-24 19:42] #1333 closed

[2018-01-24 19:43] #1283 closed

[2018-01-24 19:43] #1191 closed

[2018-01-24 19:44] #1450 closed

[2018-01-24 22:52] ajcvickers opened #1590 "ApplicationUser Inheritance requires discriminator property"
Moving from https://github.com/aspnet/EntityFrameworkCore/issues/7035 to investigate as an Identity issue.

Hi everyone,
I am running a standard asp.net core 1.0.1 with EF core 1.0.1 with sapient.EntityFramework.MySql nuget installed. I have 5 users in my application that inherit from ApplicationUser namely student, staff, teacher, guardian and admin. When I run migrations, I get the following err

[2018-01-24 22:54] blowdart commented on #1575
And this is a browser based request?

In any case when the cookie expires I would expect it to redirect to login - at that point the user is now unauthenticated, so they are treated as anonymous.

Whats does auth configuration look like? i.e. everything before you are calling .ConfigureApplicationCookie?

[2018-01-24 23:07] Ruslan-Ba commented on #1575
"And this is a browser based request?" - Yes
"I would expect it to redirect to login" - We do it with JS

The question is: Why do we need AccessDeniedPath if it does not do anything?
I expected to be redirected to AccessDeniedPath.
Please, correct me if I am wrong.

[2018-01-24 23:55] blowdart commented on #1575
Sorry, you do what with JS? This isn't an HTTP Post form submit? It's an ajax request?

[2018-01-24 23:58] Ruslan-Ba commented on #1575
Yes, it is an ajax request.

[2018-01-25 15:33] blowdart commented on #1575
Then it's doing what it's supposed to. AJAX doesn't follow redirects, so you're going to get a status code back, and it's a 401 because the cookie no longer exists, therefore the user is unauthenticated, therefore you get a 401.

[2018-01-25 18:52] joeizang commented on #1590
I was gloomy that this issue was even forgotten. Thanks for all the work being done @ajcvickers

[2018-01-25 21:44] HaoK commented on #1342
Forget this machine added via ae127558b55d227e3b496db52db8412f4e821e30

[2018-01-26 04:27] HaoK opened #1596 "Consider adding optional cancellationToken to manager APIs"
See: https://github.com/aspnet/SignalR/issues/1345#issuecomment-360663449

If we do this in 3.0, we could probably also get rid of the automatic HttpRequest.Aborted hookup, which would let us get rid of the AspNetUserManager entirely.

[2018-01-26 16:01] robfarmergt opened #1597 "SignInManager.IsSignedIn(User) returns false after signing in"
I'm having an issue where after creating a user and signing in the `SignInManager.IsSignedIn(User)` method returns false.

I'm using the new 2.0.0 preview of the SPA Angular CLI template and I've added all the identity config based on what I've read in the docs and using some of the other Visual Studio templates as a guide.

Below is my `Startup` class.

[code]
Here are the steps I follow to test

[2018-01-26 19:48] pranavkm opened #1598 "Identity UI package includes all cshtml files as content"
These get added as content to the project via NuGet. Presumably this is undesirable behavior

[2018-01-27 01:22] #1572 closed

[2018-01-27 01:24] #1598 closed

[2018-01-28 00:26] Ruslan-Ba commented on #1575
Thank you.
You may close the issue.

[2018-01-28 00:26] #1575 closed

[2018-01-28 15:50] sandrey80 opened #1601 "netcore 1.3 WebListener + WIndows Auth: Safe handle has been closed"
Windows Identity with ASP.net Core 1.3 self-hosted app with WebListener

[code]
Some times i'm getting error

at methods like 'User.IsInRole(group)' or 'User.Identity.Name' and app crashed at this dumb method

[code]
The stack trace looks like that:

[code]
Can't reproduce it on debug, but at production get crashed once a week.

Any suggestions?

[2018-01-29 06:20] Eilon commented on #1584
I think this is the reason: https://github.com/aspnet/Identity/blob/dev/.travis.yml#L17-L23

[2018-01-29 07:33] javiercn commented on #1584
Should we remove that?

[2018-01-29 16:56] wiktor-golonka opened #1602 "Consider changing the 'purpose' to device identifier"
Hi,
Currently the method `ValidateAsync `from the `IUserTwoFactorTokenProvider<TUser>` contains a parameter called 'purpose' which is always equals to 'TwoFactory' if the default method in `UserManager `is not overridden.

This is because the default implementation inside the `Microsoft.AspNetCore.Identity.UserManager<TUser>`
of the method `VerifyTwoFactorTokenAsync(TUser user,string tokenProvider

[2018-01-29 17:49] Eilon commented on #1584
Yes we ought to tweak the list of branches there (and remove old bogus ones). But please in `dev` only because we don't want to cause spurious builds in the patch branch.

[2018-01-29 17:54] blowdart commented on #1601
This issue was moved to aspnet/HttpSysServer#426

[2018-01-29 17:54] #1601 closed

[2018-01-31 09:53] brechtb86 opened #1607 "No DbContext named 'xxx' was found"
I have multiple contexts and one of them works, but the other three cannot be found.

I'm using `PM> Add-Migration InitialCreateLdapIdentity -context LdapIdentityDbContext<LdapUser, LdapUserRole> -verbose`

This is what it outputs:

[code]

The funny thing is when I run `Add-Migration InitialCreateCountries -context CountriesDbContext` then this works.

I also tried without the generic parameters

[2018-01-31 11:20] brechtb86 commented on #1607
Found it, turns out you cannot user type parameters in the IdentityDbContext.

[2018-01-31 11:20] #1607 closed

[2018-01-31 22:15] HaoK opened #1611 "[UI] 2fa: Forget this browser button is broken"
@javiercn this was probably introduced with your extensibility changes due to the base model not having OnPost defined so clicking the button doesn't run the server side handler to clear the remember me cookie.

https://github.com/aspnet/Identity/blob/dev/src/UI/Areas/Identity/Pages/Account/Manage/TwoFactorAuthentication.cshtml.cs#L27

I thought it was a bug in the new totp/security stamp code i w

[2018-01-31 22:26] javiercn commented on #1611
@HaoK Good catch. I'm going to start the process to get this into preview1

[2018-01-31 22:30] javiercn commented on #1611
Actually, this is only on dev, isn't it? I think it was a bad merge on my part.

[2018-01-31 22:32] HaoK commented on #1611
I didn't look at other branches, I'm only in dev, I already fixed it in my branch so I'm not blocked on this...

[2018-02-01 11:00] arisliang commented on #1478
Same confusion exists for 1.x too. How to properly set the application expiry cookie in 1.x?

[2018-02-01 19:23] #1597 closed

[2018-02-01 19:27] robfarmergt opened #1612 "Cookie expiration always set to Session"
Seems like the Identity application cookie is always set to `Session` even when the expiration TimeSpan is set. I'm using .NET Core 2.0.

[code]

[2018-02-02 20:54] javiercn opened #1613 "Add additional functional tests to Identity UI"
This is a tracking issue for all the remaining automation we want to add.
* Validation (ensure that all forms that we render validate data correctly).
* Login/Register with 3rd party login provider (We need to fake a provider, but that should be relatively trivial)
    * Create a "social auth handler".
    * Make it redirect to some URL.
    * Make that URL redirect to the callback URI
    * Make

[2018-02-02 21:04] javiercn commented on #1584
Is @ryanbrandenburg the right person to do this? (I have absolutely no idea how this works). I checked MVC and we probably have to also do it there, so I'm inclined to think this is a change across all our repos

[2018-02-02 21:39] HaoK commented on #1584
What's the issue exactly, your private branches don't get verified?  Can't you just create a PR with a merge against dev to trigger the CI build?

[2018-02-02 21:50] Eilon commented on #1613
Can you make this a checklist?

[2018-02-03 17:18] blowdart commented on #1612
ExpireTimeSpan and SlidingExpiration are mutually exclusive.

Making it permanent is a function of the call to SignIn

[code]

The third parameter, RememberMe is what you want

[2018-02-03 18:04] robfarmergt commented on #1612
Thank you @blowdart. What I'm trying to achieve is for Identity to authorize the user for sliding time period of 30 minutes.

With the settings above and setting `rememberMe: true` during `SignIn` is that achieved? I can see the cookie being set with an expiration date and that it "slides" with additional requests but I want to make sure Identity is also set to have the authorization work the same

[2018-02-03 18:09] blowdart commented on #1612
I believe you don't need to set options.Cookie.Expiration, just the ExpireTimeSpan and set Sliding. Is that right @HaoK ?

[2018-02-03 18:17] robfarmergt commented on #1612
As far as the cookie on the client that seems to be the case. I can remove it and behavior stays the same.

What I want to confirm too is that even though the cookie is set to expire, if someone were to try to use that cookie after the expiration will the server invalidate the request?

[2018-02-03 18:17] HaoK commented on #1612
Yeah options.SlidingExpiration  = true and options.ExpireTimeSpan

[2018-02-03 18:18] HaoK commented on #1612
Yes, see https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationOptions.cs#L140

[2018-02-03 18:24] robfarmergt commented on #1612
Thanks so much @blowdart and @HaoK ! Really impressed with the work being done! Thanks again!

[2018-02-03 18:24] #1612 closed

[2018-02-03 18:48] blowdart commented on #1612
Just to be clear for others who end up here the expiry of a ticket is a property of the ticket itself, not the cookie. So even if the cookie lives on the expiry date is baked into the data it contains, so after it expires, it's dead regardless.

[2018-02-03 18:52] robfarmergt commented on #1612
@blowdart meaning the expiration of the cookie is tied to the expiration of the ticket. So even if someone tried to fudge the cookie expiration the server will reject it?

[2018-02-03 18:53] blowdart commented on #1612
Correct :)

[2018-02-03 19:15] HaoK commented on #1612
Yeah this is why the options.Cookie.Expiries property is ignored for cookie authentication, its that embedded expiry date in the data that matters.

[2018-02-04 19:39] prostakov commented on #1361
I've just read through entire thread. If there's no official update, and no simple workaround, why the issue is closed? Maybe it should be reopened, @andrew-vandenbrink?

[2018-02-04 20:08] MaximBalaganskiy commented on #1361
@postakov https://github.com/aspnet/Identity/issues/1361#issuecomment-322928934

[2018-02-04 22:01] weitzhandler commented on #1361
@MaximBalaganskiy
I think the issue really lies on supporting implicit many to many relations.

[2018-02-05 13:28] ondrejspilka opened #1614 "How to get ctx.ProtocolMessage.Code ?"
For PowerBI access token we need AAD Access Code.
For the time being workaround is to implement OpenId provider and extract code in OnAuthorizationCodereceived like this:

[code]
How to get the ctx.ProtocolMessage.Code from standard AAD provider?

Thanks
Ond5ej

[2018-02-05 21:51] HaoK commented on #1409
Running out of time in 2.1, will look at this again in 2.2 as we will want to rationalize this across all of the other auth handlers as well.

[2018-02-05 22:09] jbagga opened #1616 "Replace SignIn with RefreshSignIn in UI"
See https://github.com/aspnet/Identity/pull/1615#issuecomment-363236876

cc @HaoK

[2018-02-05 22:16] HaoK commented on #1616
Cool, are you planning on fixing this @jbagga ?

[2018-02-06 21:29] HaoK commented on #1342
Rolling the authenticator key now also rolls the security stamp, which causes sign out everywhere.  Everything we wanted to do for 2.1 is now done.  Moving the issue to 2.2 for the tracking the nice to haves

[2018-02-07 19:01] jbagga commented on #1616
I'll let it be triaged first. @Eilon

[2018-02-07 19:22] Eilon commented on #1616
Yeah seems like a good idea.

[2018-02-07 19:47] jbagga opened #1617 "Razor Pages individual auth template page LoginModel missing [AllowAnonymous]"
_From @Rick-Anderson on January 18, 2018 4:51_

To Repo:

1.  Create a RP (Razor Pages) app with individual user accounts.
1.  Add  [RequireAuthenticatedUser](https://github.com/Rick-Anderson/QS2_long2/blob/master/QS2long/Startup.cs#L46-L59) to StartUp.
1.  Add [AllowAnonymous] to *Pages/Index.cshtml.cs*

Run the app. Tap Register/Login/About and it trys to redirect you to the Login page, but the

[2018-02-07 19:47] jbagga commented on #1617
_From @Tratcher on January 24, 2018 16:15_

Infinite redirect

Module | RequestFilteringModule
-- | --
Notification | BeginRequest
Handler | aspNetCore
Error   Code | 0x00000000
Requested   URL | https://localhost:44379/Account/Login?ReturnUrl=%2FAccount%2FLogin%3FReturnUrl%3D%252FAccount%252FLogin%253FReturnUrl%253D%25252FAccount%25252FLogin%25253FReturnUrl%25253D%2525252FAccount%2525252FLogin%25

[2018-02-07 19:47] jbagga commented on #1617
_From @Eilon on February 2, 2018 0:46_

We should change the code to do this so that everything works better once people make changes:

[code]

We also need to change it in the Identity.UI package in the Identity repo (cc @javiercn FYI).

[2018-02-07 19:47] jbagga commented on #1617
_From @javiercn on February 2, 2018 1:6_

Yeah, we should do this

[2018-02-07 19:47] jbagga commented on #1617
Will it be too presumptuous to add `[AllowAnonymous]` to `Index.cshtml` in the templates by default? The landing page is usually safe to be allowed to viewed anonymously and it can be easily deleted to go back to requiring auth. @javiercn

[2018-02-07 19:47] jbagga commented on #1617
_From @javiercn on February 7, 2018 19:23_

This is related to the login, register and logout pages I would presume (check if there is anything else that needs to be available without authorization). because you need to be able to access them in all cases.
If you are doing [Authorize] globally that's likely what you want.
If we add [AllowAnonymous] to random pages that defeats the purpose of havin

[2018-02-07 19:47] jbagga commented on #1617
I don't think Logout should be included. You should be logged in to log out, right? Am I missing an edge case? I'll add it to Login and Register and check for others.

[2018-02-07 19:47] jbagga commented on #1617
_From @javiercn on February 7, 2018 19:31_

When you logout you are unauthorized and you shouldn't be sent back to the login page.
Please try out all possibilities and come up with a list (Social login, 2FA, etc.)

[2018-02-07 19:47] jbagga commented on #1617
_From @Rick-Anderson on February 7, 2018 19:36_

Login and Register. Don't put it on Index, folks know to do that.

[2018-02-07 22:09] pranavkm opened #1618 "[IdentityUI] Consider returning a 404 in the DownloadPersonalData.OnGet"
We render the DownloadPersonalData page, but it has no content. The page is meant to only have an OnPost handler which is reached via the Personal Data page. Here's what you see if you visit /Identity/Account/Manage/DownloadPersonalData from the browser:

![image](https://user-images.githubusercontent.com/174281/35944193-70e478a4-0c10-11e8-9d1d-c3dc39642f6a.png)

[2018-02-07 22:27] pranavkm opened #1619 "[IdentityUI]: Consider showing a landing page that says account was successfully deleted before redirecting to the home page"
When deleting personal data succeeds, the page immediately redirects to the site root allowing no opportunity to show a success message. We should consider showing a success page (*Sorry to see you go 😦*) that redirects to the site root.

[2018-02-07 22:59] pranavkm opened #1620 "[IdentityUI]: Experience for using a custom ApplicationUser : IdentityUser has room for improvement"
Writing the release verification plan for Identity that involves using a custom ApplicationUser type with additional properties. To do this, it seems like I have to override the following files in my application:

* https://github.com/aspnet/Identity/blob/dev/samples/IdentitySample.DefaultUI/Areas/Identity/Pages/_ViewImports.cshtml
* https://github.com/aspnet/Identity/blob/dev/samples/IdentitySamp

[2018-02-08 19:39] HaoK commented on #1611
Fixed as part of c6a82ad19a0bdb80b7358dc843b66664bbf33f96

[2018-02-08 19:39] #1611 closed

[2018-02-08 20:02] blowdart commented on #1614
This issue was moved to aspnet/Security#1642

[2018-02-08 20:02] #1614 closed

[2018-02-08 20:13] blowdart commented on #1619
Why? During customization you could add this anyway. Why give people an extra screen, they're deleted, they "don't matter"

[2018-02-08 20:14] #1619 closed

[2018-02-08 20:52] HaoK opened #1621 "Add an optional [PersonalData] attribute for use in the User type."
As part of the extensbility work, we should add some mechanism to easily attribute data which is considered personal data.

By default we would use this for the default pocos, so the default UI can include these for personal download, and also wire them up automatically in the upcoming personal data encryption hooks.

[2018-02-08 20:55] HaoK commented on #1621
Basic idea would be something like this, which would take care of doing the wireup needed for ValueConverters and personal data download
[code]

[2018-02-08 22:40] javiercn commented on #1570
ac3bea16fdf6bb44f4811d327482c49d94d84cd2

[2018-02-08 22:40] #1570 closed

[2018-02-09 20:34] HaoK commented on #1409
Trying to fit this into 2.1-preview 2 again

[2018-02-11 14:41] Amethi opened #1622 "How to perform additional checks on cookie login?"
Hello. I’ve got a UserStatus claim that says if the user is Activ/Suspended/Banned. I use this to check if a user can sign-in or not. This works fine for controller-based logins, i.e. external or username & password as I can add my custom check code there, but how can I add this check when a user is signing in using a cookie?

[2018-02-13 12:53] StingyJack commented on #1341
Please do not lock everyone into using EF.

[2018-02-13 16:36] PacmanLazy opened #1624 "Asp .Netcore 2.0 Auth Cookie doesn't expire in Chrome"
I used that code below to manage cookies behaviour.
But if I don't use "RememberMe" cookie which expires on session end doesn't expire in Google.
I can't find any solution.
For example, in django I could use request.session.set_expiry(expiration_time)
`services.AddAuthentication(CookieAuthenticationDefaults.AuthenticationScheme)
    .AddCookie(options =>
    {
        // Cookie settings
        op

[2018-02-13 23:15] HaoK opened #1625 "Add: AddDefaultIdentity()"
Based on discussions with @davidfowl

Consider something like:

[code]

For auth consider adding a new options class with 4 `IOptionsBuilder` properties that allow configuration of each cookie.

cc @ajcvickers @blowdart

[2018-02-14 18:02] dougbu opened #1626 "Setting `RazorPagesOptions.AllowAreas` to `false` does not disable area pages"
_From @dougbu on February 10, 2018 21:26_

Change `Startup.ConfigureServices` to include
[code]

Expected: All area-related pages result in 404s.
Actual: See the usual content of pages such as https://localhost:44312/Identity/Account/Manage or https://localhost:44312/MyArea

Note either `CompatibilityVersion.Version_2_0` or `AllowAreas == false` should have been sufficient to disable areas.

_Copi

[2018-02-14 18:02] dougbu commented on #1626
_From @pranavkm on February 14, 2018 15:55_

Is this specifically with pages from a precompiled class library? I can't reproduce this with files on disk.

[2018-02-14 18:02] dougbu commented on #1626
No, problem wasn't specific to area pages in a library. I also cleaned and rebuilt my solution a few times to ensure I wasn't testing older code. Then again, my test app does use area pages from a library -- the Identity.UI pages in particular.

Which SDK build are you testing with? I'm using 2.1.300-preview1-008117.

I'll test this again with 2.1.300-preview1-008123 later today.

[2018-02-14 18:02] dougbu commented on #1626
Turns out the problem was my `Startup` calls `IdentityBuilder.AddDefaultUI()`. This has the unexpected behaviour of enabling a `IPostConfigureOptions<RazorPagesOptions>` implementation (`IdentityDefaultUIConfigureOptions<{IdentityUserType}>`) which **overrides** this user's `RazorPagesOptions.AllowAreas` setting.

Side note: That configuration setup also overrides user `StaticFileOptions.FileProvi

[2018-02-14 18:02] dougbu commented on #1626
_From @mkArtakMSFT on February 14, 2018 18:1_

@dougbu, can you please confirm this is not the case for usual (local) views? /cc @javiercn

[2018-02-14 18:05] dougbu commented on #1626
Not sure of your exact question @mkArtakMSFT. But, the effect of setting `RazorPagesOptions.AllowAreas` to `true` unconditionally is global -- affecting area pages on disk as well as those in the Identity.UI library. And, it overrides the user's chosen compatibility version as well as any implicit or explicit change they've made to `AllowAreas`.

[2018-02-14 18:08] HaoK commented on #1626
This is sort of expected, AddDefaultUI is really forcing some opinionated settings on MVC as well.

cc @davidfowl I think this is another point in favor of making one uber `AddDefaultIdentityEntityFrameworkUI<TUser, TRole, ApplicationDbContext>()` method since now its just not auth settings that identity will clobber, its also clobbering razor and static files

[2018-02-14 18:11] dougbu commented on #1626
@HaoK how would that uber method help here? The issue is the unexpected clobbering, not the number of extension methods needed to thoroughly clobber anything.

My suggestion is for `dentityDefaultUIConfigureOptions<{IdentityUserType}>` to also implement `IConfigureOptions<RazorPagesOptions>` and `IConfigureOptions<StaticFileOptions>`. Those new methods would handle `RazorPagesOptions.AllowAreas` a

[2018-02-14 18:15] HaoK commented on #1626
I think the default UI requires areas so I don't think its unreasonable for that to set allow areas = true.

If you want to override it, you can still turn it off again after you call AddDefaultUI right?

Basically my point is mostly just that identity sets up a bunch of opinionated defaults to make things 'work' by default.

[2018-02-14 18:17] HaoK commented on #1626
Oh I see, so you are just complaining about the fact that the UI is doing the stomping in post configure?  So users would have to override by adding a `PostConfigure(o = > o.AllowAreas = false)`...  but its kind of nonsensical to use both DefaultUI and try to turn areas off....

[2018-02-14 19:04] dougbu commented on #1626
Not sure I buy that. It's an internal implementation detail of the Identity UI that it uses areas. Why would a user think the two features are related?

Separately, we could also go at this by removing the *global* option's impact on area pages in libraries. Users could then set the option however they like. See also aspnet/Mvc#7346. (Note `IdentityDefaultUIConfigureOptions<{IdentityUserType}>` do

[2018-02-14 19:13] HaoK commented on #1626
So AllowAreas = false with AddDefaultUI would result in blocking areas except for ones added by libraries?

I fully agree that its a mystery what AddDefaultUI does...  I pushed strongly for naming it something explicit like AddRazor/MVCUI, but Dan/Damian liked a more generic name rather than mention any implementation details in the name...

[2018-02-14 19:15] dougbu commented on #1626
Yup, that's what I'm suggesting.

[2018-02-14 20:26] allownulls commented on #1376
I've tried to move from `services.AddIdentity<User, Role>` to `services.AddIdentityCore<User>`, because the first one didn't allow me to use JWT.
1. The first weird thing to struggle with was passing the Role POCO to the Core method, it looks a bit tricky:

[code]

2. The second problem appeared in runtime, the methods `SignInManager.PasswordSignInAsync` and `SignInManager.SignInAsync` were produc

[2018-02-14 20:35] pavansingh1991 opened #1627 "How to save plain text password in database using mvc default authentication"
I am new in developement and I dont want save hash password in aspnetuser table. please help me out

[2018-02-14 21:39] javiercn opened #1628 "Avoid stomping on an existing FileProvider"
https://github.com/aspnet/Identity/blob/dev/src/UI/IdentityDefaultUIConfigureOptions.cs#L62

[2018-02-14 21:49] javiercn commented on #1626
Areas are not an implementation detail of how the Identity UI works, it is part the contract that we choose to have at the MVC level with other parts of your application.

We don't consider the scenario of turning off areas to be a common case and we favor an experience in which AddDefaultUI always gives you a result that works. In other words, we prefer doing anything we need to do to make it wor

[2018-02-14 22:14] dougbu commented on #1626
That contract (between Identity and MVC) doesn't equate to user understanding.

[2018-02-15 00:19] ryanbrandenburg opened #1630 "Flaky tests: BadData"
http://aspnetci/httpAuth/app/rest/builds?locator=tag:BadData,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)

The above link lists a set of builds which have failed due to an exception thrown from the Identity `CryptographyHelpers` class. They don't seem to be isolated to a particular set of tests, or to a particular machine, but they happen quite

[2018-02-15 00:20] ryanbrandenburg commented on #1630
An example failure:
[code]

[2018-02-15 05:04] vgponline commented on #1184
Hi,

If you have any sample implementation for this customer api call with identityserver4, please share it.

Thanks

[2018-02-15 05:39] Eilon commented on #1626
Is the issue here that the DefaultUI is modifying MVC settings to make sure that it will work? That seems reasonable to me.

Is there any other issue being discussed here?

[2018-02-15 06:10] dougbu commented on #1626
@Eilon my concern is more about user expectations and their ability to configure the application as they wish. `AddDefaultUI(...)` isn't just changing MVC settings so it will work, it's also resetting changes users may make.

The more I think about this, the more I like the idea of splitting user decisions about their application from provider decisions about libraries they provide. That's more ge

[2018-02-15 08:20] DeluxZ commented on #1627
You don't want to save plain text password in a database.

Or let me ask this. WHY do you want to save it plain text?

[2018-02-15 11:54] Moobylicious commented on #1376
@allownulls - yes.  I had all the same issues.  I did in fact ask this on SO (and ended up answering it myself)
https://stackoverflow.com/questions/46323844/net-core-2-0-web-api-using-jwt-adding-identity-breaks-the-jwt-authentication

[2018-02-15 11:57] Werner-Swart-83 opened #1632 "TOTP without cookies (using tokens)"
Is it possible to implement TOTP authentication without using cookies?

I am currently using the _signInManager.GetTwoFactorAuthenticationUserAsync() method to get the user from the cookie being sent back from the SPA which is fine. There are however business scenarios where clients do not allow the use of cookies (legal reason or what not).

Would it be possible to generate a PasswordSignIn token

[2018-02-15 13:18] Sathiyamm opened #1633 "The old token is not expire in GenerateChangePhoneNumberTokenAsync method?"
I'm facing this issue,
GenerateChangePhoneNumberTokenAsync(user, PhoneNumber)-This method is for generate the Confirmation Code
ChangePhoneNumberAsync(user, PhoneNumber, code);-This method is for Confirmation Code

Scenario:
1.Sending Verification Code(First Verification is Code sent to mobile)
2.Again Clicking Resend the Verification Code(Second Code is sent to Mobile)
3.If I give the first verif

[2018-02-15 19:38] Eilon commented on #1626
They absolutely are. Last person to change an option wins. The user's customizations of options should come last.

[2018-02-15 19:55] dougbu commented on #1626
Not true in this case.

Because Identity uses `IPostConfigureOptions<RazorPagesOptions>`, the only way users can change things would be to also implement `IPostConfigureOptions<RazorPagesOptions>` and add their instance after calling `AddDefaultUI(...)`. That's not particularly discoverable or friendly and is why I earlier suggested having `IdentityDefaultUIConfigureOptions<{IdentityUserType}>` se

[2018-02-15 19:59] Eilon commented on #1626
Ah, fair point, I did not realize that.

However, if this option isn't set, the UI won't work, right? So why would you want to disable it *and* use the UI?

[2018-02-15 20:03] blowdart commented on #1627
You don't. This is a horrible idea we don't support.

[2018-02-15 20:03] #1627 closed

[2018-02-15 20:06] blowdart commented on #1633
TOTP codes are based on time, not on usage. It'll roll over on its own without invalidating. You could write your own provider that implements one shot tokens by implementing [IUserTwoFactorTokenProvider.cs](https://github.com/aspnet/Identity/blob/dev/src/Core/IUserTwoFactorTokenProvider.cs)

[2018-02-15 20:06] #1633 closed

[2018-02-15 20:11] blowdart commented on #1632
At the minute you can't, we have a long term goal to separate everything. The flow right now is we drop a cookie that says "Hey you've authenticated, but you still need to give me an MFA code". This necessitates cookies, you'd have to implement your own custom flow for this which has a persistence mechanism for this saving of state. If your clients want to disallow cookies, well then you're going

[2018-02-15 20:11] #1632 closed

[2018-02-15 20:16] blowdart commented on #1602
We have no plans to add support for multiple devices which have different tokens.

[2018-02-15 20:16] #1602 closed

[2018-02-15 20:19] blowdart commented on #1622
You could add a validator, or an event. A validator would probably be better because it'll allow you to sign out users when you change their status.

Start with https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x#reacting-to-back-end-changes - and then if you are using ASP.NET Core Identity let us know and we'll help you wire it up.

[2018-02-15 20:20] blowdart commented on #1624
Why can't you use remember me when you're signing in, which as you say, works?

[2018-02-15 20:32] HaoK commented on #1626
So its a little odd that its post configure instead of normal configure, but its not that hard for them to override, they just do `servives.PostConfigure(o => o.AllowAreas = false)`

[2018-02-16 00:08] javiercn opened #1635 "Social login provider options disappear after failed login attempt"
* With a social login provider enabled, go to login.
* You'll see the social login provider listed.
* Try to log in with user name and an incorrect password
*The social login provider will disappear when the page
gets re-rendered.

[2018-02-16 00:10] javiercn opened #1636 "Social login provider options don't show up in register"
* With a social login provider enabled, go to register.
* No social login provider is displayed.
* It shows up in the login view.

[2018-02-16 00:11] javiercn opened #1637 "Email confirmation doesn't get send if the user registers with a social login provider"
* With a social login provider enabled and email confirmation set to required, go to login.
* Click on the social login provider.
* After successful login with your provider, you'll be prompted to introduce your email to finish login/registration.
* Introduce your email and continue.
* No email got sent.
* Logout.
* Try to log-in with your social login provider.
* You'll be prompted again to intro

[2018-02-16 00:12] javiercn opened #1638 "Send confirmation email doesn't generate the callback URI correctly"
* On the manage/index page. The send email link sends an email confirmation message with an incorrect callback URI of id=<<user-id>> instead of userId=<<userId>> causing email confirmation to fail.
* The email confirmation handlers redirects the user using RedirectToPage("/Index") which is not correct for MVC based pages.

[2018-02-16 00:12] javiercn opened #1639 "Reset password doesn't work"
* The ResetPassword view doesn't send the code as a hidden field of the reset password form, so it doesn't get modelbound.
* The reset password handlers are incorrectly defined on the ResetPasswordModel and the behavior is as if they weren't there.

[2018-02-16 00:27] natemcmaster commented on #1538
@mkArtakMSFT can we have this triaged? This broke the build again. http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=407343&_focus=1098

cc @ryanbrandenburg , we may need to put aspnet/identity back on the naughtly list so aspnet/Universe doesn't automatically update its submodule.

[2018-02-16 01:58] javiercn commented on #1620
@pranavkm I do believe this is covered by the scaffolder. It will allow you to choose individual views to scaffold in the future. If that sounds good to you, feel free to close this.

[2018-02-16 02:10] javiercn commented on #1538
That break doesn't have anything to do with this item.

The error points to an assembly with precompiled views. (An assembly with types that represent the compiled razor pages that is generated code based on your cshtml files). It likely broke because something on the razor SDK changed and the name went from *.PrecompiledViews.dll to *.Views.dll. @pranavkm and @rynowak will know more about this.

[2018-02-16 03:11] javiercn commented on #1538
This is fixed now http://aspnetci/viewLog.html?buildId=407551&tab=buildResultsDiv&buildTypeId=CoherenceSigned

[2018-02-16 11:53] TechSavvySam commented on #1142
I've seen this recommendation somewhere else.  IMO you should only return Locked Out, if the account is locked out *and* the username and password were correct.  I tested how identity works and I see that it returns locked out status regardless, so I will now have to write a wrapper for SignInManager.PasswordSignInAsync that does exactly that.

Seems like this would be reasonable functionality to

[2018-02-16 15:09] PacmanLazy commented on #1624
But what if I want different time cookies/sessions? I tried to modify
headers, but it doesn't work. I can't find the way to control or modify
that not only with startup file.

2018-02-15 22:20 GMT+02:00 Barry Dorrans <notifications@github.com>:

[2018-02-16 16:38] natemcmaster commented on #1538
Ah, thanks @javiercn!

[2018-02-16 18:20] pranavkm commented on #1538
Thanks for fixing it @javiercn

[2018-02-16 18:22] pranavkm commented on #1620
Cool, I didn't know about the Scaffolding experience whilst I created the issue. There were a couple of ideas thrown around as part of https://github.com/aspnet/Release/issues/235 to customize `ApplicationUser`. Do we want to use this issue to track those? I don't think there was a follow up to the conversation.

Tagging @HaoK  since he was also on that thread.

[2018-02-16 19:45] javiercn commented on #1620
@pranavkm I would suggest filing independent bugs for those things. I have scanned the thread but I wasn't sure what you meant.

[2018-02-18 15:48] Amethi commented on #1622
Thanks. I'm using ASP.NET Core Identity with Identity Server 4 to service OIDC clients.

I did try the CustomCookieAuthenticationEvents approach from that article but it didn't fire for me. For now I'd be happy with a sign-in event I could hook into.

[2018-02-19 00:37] javiercn commented on #1630
@ryanbrandenburg A couple of things:
Seems like these tests started failing on February.
Can you confirm (I can't tell for sure from the build logs) that they are failing on full framework?
Has .NET Framework been updated on the CI agents recently? (BTW, I just started seeing this error on AppVeyor too).

This is code that we haven't touch in months, so I'm a bit worried is a regression on a patch

[2018-02-19 00:58] javiercn commented on #1630
I'll be skipping the test for now

[2018-02-19 12:38] andrew-vandenbrink commented on #1361
To people who say it doesn't work, it works, just read the thread properly...

Once you make it work, you can make a query to show users and its role
[code]

[2018-02-19 18:44] prostakov commented on #1361
@andrew-vandenbrink, @MaximBalaganskiy, thanks, guys! I just hadn't had any time lately to test your proposed solutions... I will certainly take a look!

[2018-02-19 19:18] Amethi commented on #1622
I've solved this. I needed to do it this way:

Startup.cs:
`services.AddSingleton<IConfigureOptions<CookieAuthenticationOptions>, ConfigureCookieOptions>();`

NEW: ConfigureCookieOptions.cs:
[code]

New: DatabaseCookieAuthenticationEvents.cs:
[code]

Not very elegant, but I couldn't work out how to get UserManager into the ConfigureCookieOptions singleton.

[2018-02-20 17:26] ryanbrandenburg commented on #1630
We had a period where we were cleaning up our history after ~ a month because our log files are 200mb and the disks were filling up, so there's no history older than that.

[2018-02-20 17:37] javiercn commented on #1630
This makes this issue way harder to debug :(. I haven't seen these tests fail in the past and we haven't changed the code in at least 6 months.

[2018-02-20 18:53] mguinness commented on #1361
@prostakov There is way too much confusion regarding these navigation properties.  See https://github.com/aspnet/Identity/issues/1364#issuecomment-334077681 for a little more detail.  The next step for MSFT should be to get these added to the default templates that are defined for new projects using individual user accounts.

[2018-02-20 23:44] #1638 closed

[2018-02-20 23:44] #1639 closed

[2018-02-21 18:59] javiercn opened #1643 "Add third party notice to identity UI package"

[2018-02-22 01:00] ryanbrandenburg commented on #1630
I spot checked some instances of this and only saw it in net461 test runs. To my knowledge we haven't updated .NET Framework on the CI agents.

[2018-02-22 02:17] javiercn commented on #1630
@ryanbrandenburg Are you confirming what I said before, that this is likely net461?

Windows will update .net framework for you you automatically through windows update.

[2018-02-22 13:03] brgrz opened #1645 "Default provided claims in System.IdentityModel is missing new claims from JWT"
The claims provided in System.IdentityModel.JwtRegisteredClaimNames are only a few of those currently provided by IANA

Here is the current full list for JWT claims:
https://www.iana.org/assignments/jwt/jwt.xhtml

My question is if, when and how are you going to introduce new claims to ASP.NET Core or IdentityModel in general?

[2018-02-22 14:24] enemyofthedawn opened #1646 "Difference between Microsoft.Extensions.Identity.Stores and Microsoft.AspNetCore.Identity"
On Nuget there are 2 packages that seem identical. What is the difference between them?

https://www.nuget.org/packages/Microsoft.AspNetCore.Identity/
https://www.nuget.org/packages/Microsoft.Extensions.Identity.Stores/

[2018-02-22 16:49] scottsauber opened #1647 "Issue When Configuring Alternate Key for User Role"
**Scenario:**
- I have an Admin Role (among others)
- That Admin Role can be assigned to a specific company.  So someone can be an Admin at Company 1,2 and 4, but not 3.

**Problem:**
When I try to add a User with the Roles above, I get this error:

"The instance of entity type 'UserRole' cannot be tracked because another instance with the same key value for {'UserId', 'RoleId'} is already being t

[2018-02-22 18:21] HaoK commented on #1646
The stores only contain base classes and helper base class implementations of stores that use those pocos.  AspNetCore.Identity is the main package that you would use that brings in SignInManager and the asp.net core specific implementations of identity (without any stores, those come in the EntityFrameworkCore package)

[2018-02-22 18:21] #1646 closed

[2018-02-22 18:39] ryanbrandenburg commented on #1630
Yes, I was confirming that this is likely net461 specific.

[2018-02-22 20:30] HaoK commented on #1647
How is your store/db context configured, what's your AddIdentity full call look like?

[2018-02-22 22:35] scottsauber commented on #1647
Thanks for the quick response @HaoK.  Here it is.

[code]

[2018-02-22 22:37] HaoK commented on #1647
Can you include your ApplicationDbContext?

[2018-02-22 22:42] scottsauber commented on #1647
[code]

[2018-02-22 22:51] HaoK commented on #1647
Strange, everything looks reasonable, can you try getting rid of the base configure and just configuring everything explicitly yourself to see if that at least works?

[2018-02-22 22:58] scottsauber commented on #1647
:( I was hoping it was something dumb I did.

I'm on Central Time so I'm about to head home.  Will try it late tonight or tomorrow morning and will report back.  Thanks for being so responsive!

If the OnConfiguring doesn't work, I can make you a minimal repro if it would help.

[2018-02-22 23:02] HaoK commented on #1647
Sure a repro never hurts :)

[2018-02-23 00:20] natemcmaster opened #1648 "Flaky test: TraditionalWebApplicationTests.CanPerform_IdToken_Flow"
This test currently has a 6% failure rate on release/2.1 for Windows.

[code]

http://aspnetci/project.html?tab=testDetails&testNameId=-4945557580194386605&projectId=Releases_21Public&buildTypeId=Releases_21Public_Win2012

cc @ryanbrandenburg @javiercn

[2018-02-23 07:22] javiercn commented on #1648
I do believe this is related to another issue we are talking about in another issue. Does this fail on full framework and on Windows Server 2012?
https://github.com/aspnet/Identity/issues/1630

[2018-02-23 17:57] natemcmaster commented on #1648
The most recent failure was Windows Server 2012 on .NET Core 2.1.

http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=411823&_focus=102467

[2018-02-23 19:28] ryanbrandenburg commented on #1648
I'll tag future instances of this so that they show up in [this](http://aspnetci/httpAuth/app/rest/builds?locator=tag:InternalServerTokenFlow,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)) query.

[2018-02-23 21:01] scottsauber commented on #1647
removing `base.OnConfiguring(optionsBuilder);` did not help.  Will work on a repro.

If I don't inherit from IdentityDbContext and add the config it's adding myself, am I in for a world of hurt in some spot?

[2018-02-23 21:22] HaoK commented on #1647
There's not too much going on other than defining the db sets in the model, and the on configuring:

https://github.com/aspnet/Identity/blob/dev/src/EF/IdentityUserContext.cs

[2018-02-23 21:57] #1617 closed

[2018-02-23 22:03] scottsauber commented on #1647
Perfect.  I had a once over the code, but just making sure I wasn't missing anything that was looking specifically for something inheriting from IdentityDbContext.  Glad to hear there's not much there.

Repro here: https://github.com/scottsauber/AspNetCoreIdentityUserRoleRepro

Repro steps:
1. Run the app
2. Register a user
3. Go to the root Index page (should redirect on Register) where it will a

[2018-02-24 04:16] embryologist opened #1650 "Why ef keeps generating a nullable foreign key to an extended IdentityRole class?"
I am trying to add another key to my roles identity table, `DatabaseId`. ef keeps generating the key as `nullable`, I tried to enforce it with `DataAnnotations` using `[Required]` tag but its not working, what am I doing wrong here?
I followed this article as well, [Relationships, Navigation Properties, and Foreign Keys][1] but its not working in this case,

These are my entities,

[code]

this is

[2018-02-24 08:37] H4Himanshu opened #1651 "aspnet/identity issue"
Hello I am following a tutorial on udemy and instructor was explaining the identity. He added the same in the tutorial and i am getting some error when i am trying to add this. Can someone help me out ? I am attaching all the relevant information i can about my project and error.

Screenshot of error which i am getting in browser.
![image](https://user-images.githubusercontent.com/6859459/36627616

[2018-02-24 08:54] H4Himanshu commented on #1364
Hello I am following a tutorial on udemy and instructor was explaining the identity. He added the same in the tutorial and i am getting some error when i am trying to add this. Can someone help me out ? I am attaching all the relevant information i can about my project and error.

Screenshot of error which i am getting in browser.
![image](https://user-images.githubusercontent.com/6859459/36627616

[2018-02-25 12:20] Ibro commented on #1364
You _ApplicationRole_ class should inherit from _IdentityRole_ and _Customer_ class should inherit from _IdentityUser_.

[2018-02-26 19:20] ryanbrandenburg commented on #1630
@javiercn I think you had said that you wanted to remove these tests because they were low-value. Am I remembering that correctly?

[2018-02-26 19:34] blowdart commented on #1651
Well the error is quite clear. You're attempting to add a role class, but you're not inheriting from IdentityRole, you're inheriting from IdentityUser.

[2018-02-26 22:23] Jurabek commented on #1283
Here is phone number authentication with IdentityServer4 https://github.com/Jurabek/IdentityServer4.PhoneNumberAuth

[2018-02-26 22:36] javiercn commented on #1630
@ryanbrandenburg That's not the case.

[2018-02-27 05:46] Eilon commented on #1643
Given that the Identity UI package pretty much just has stuff from our templates, you can use https://github.com/aspnet/templating/blob/dev/src/THIRD-PARTY-NOTICES as a starting point. Please trim out any references to 3rd party libs that aren't there (note: some of these libs are just part of other libs, such as HTML5 Boilerplate being included in Bootstrap). Also, make sure the versions are *exa

[2018-02-27 06:57] TDDinAction opened #1652 "Don't work reference for Microsoft.AspNet.Identity.AspNetCoreCompat"
Don't work reference for open source code of package Microsoft.AspNet.Identity.AspNetCoreCompat: https://github.com/aspnet/Identity/tree/dev/src/Microsoft.AspNet.Identity.AspNetCoreCompat

Please repair it or specefy new path.

[2018-02-27 09:46] HaoK commented on #1652
https://github.com/aspnet/Identity/tree/dev/src/AspNetCoreCompat

[2018-02-27 09:46] #1652 closed

[2018-02-27 18:46] fe-c opened #1653 "Microsoft.AspNetCore.Identity.EntityFrameworkCore nuget reference"
Microsoft.AspNetCore.Identity.EntityFrameworkCore (v2.0.1)  uses Microsoft.EntityFrameworkCore.SqlServer (e.g. SqlServerValueGenerationStrategy atribute), but last not refernced by nuget packet of Microsoft.AspNetCore.Identity.EntityFrameworkCore.

[2018-02-28 07:09] TDDinAction commented on #1652
Ok, thanks)

[2018-02-28 21:22] mkArtakMSFT commented on #1648
@javiercn, is this confirmed to be a dupe? If so, please close this. Thanks!

[2018-03-01 20:07] #1651 closed

[2018-03-01 20:11] blowdart commented on #1645
This is not ASP.NET, this is System.Identity. You should ask your question at https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2018-03-01 20:11] #1645 closed

[2018-03-01 22:12] brgrz opened #1654 "Core Identity and the User.Identity.Name problem"
After spending a couple of hours debugging the issue when the User.Identity.Name property was null (even when all the required claims were present on the ClaimsPrincipal) I discovered the following blog post which I was able to follow and solve the issue.

https://cerkit.com/2017/07/25/asp-net-core-jwt-tokens-and-user-identity-name-property/

Is there a specific reason why this isn't included by d

[2018-03-01 23:29] brockallen commented on #1654
A more in-depth look at the issue: https://leastprivilege.com/2016/08/21/why-does-my-authorize-attribute-not-work/

[2018-03-02 19:04] blowdart commented on #1654
That would be a question for the JWT parser owners ... https://github.com/IdentityModel

[2018-03-02 19:04] #1654 closed

[2018-03-02 19:10] brgrz commented on #1654
@brockallen @blowdart two answers neither of which detailing why this is implemented as it is (wrong, imo) and an immediate closure of this issue.

Seriously, what part of the issue, which is described in enough detail and probably bugs lots of ppl, don’t the two of you understand?

[2018-03-02 19:11] brgrz commented on #1654
@blowdart what does identityserver have to do with asp.net core Identity internal code and VS templates?

[2018-03-02 19:13] blowdart commented on #1654
hah, oops, wrong repo link. My bad :)

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

I closed it because we, that is, asp.net don't implement this, the AD team does.

[2018-03-02 19:17] brgrz commented on #1654
Not really, greenfield asp.net core projects, created from templates, could easily and safely include it, you would not break anything. Only save probably hundreds of developer hours monthly worldwide.

[2018-03-02 19:18] brgrz commented on #1654
Who actually maintains the templates? What repo are they in?

[2018-03-02 19:37] blowdart commented on #1654
We've been through this before with templates, and it also depends on the JWT token actually containing that claim, but sure, have at it https://github.com/aspnet/templating

[2018-03-02 23:08] HaoK commented on #1647
So I debugged this, and it looks like the issue is that calling HasKey again doesn't remove the keys added by IdentityDbContext.  So the ApplicationUserRole has 2 keys defined:
the composite userId + roleId, in addition to the new long id property that you added.

@ajcvickers is there a way to remove/replace a primary key in the builder?

// Specifically
[code]

[2018-03-05 01:06] 313686310 opened #1657 "sql"

[2018-03-05 01:38] iAmBipinPaul opened #1658 "Identity-UI MVC scaffolder"
scaffolding UI in the from of MVC pattern, so that it will be easy to manage for application that is built using MVC template instead of Razor Page template.

[2018-03-05 02:05] kapr1k0rn opened #1659 "Identity UI Scaffolding Code Bug: duplicate "_LoginPartial.cshtml" cause some Anti-forgery token error."
I searched and did not see this bug was mentioned.
Following the instruction in the [2.1 Identity UI](https://blogs.msdn.microsoft.com/webdev/2018/03/02/aspnetcore-2-1-identity-ui/), I added the identity code back to my project, then found this: if I logout from any of the "Manage your account" pages, an anti-forgery token error would happen and caused a 400 status page. It turned out that there w

[2018-03-05 02:12] #1657 closed

[2018-03-05 02:12] Eilon commented on #1659
@javiercn ?

[2018-03-05 02:12] Eilon commented on #1658
@javiercn ?

[2018-03-05 05:04] javiercn commented on #1658
Is there any reason/scenario that prevents you from just using the Razor pages version? Razor pages are designed to seamlessly inter-operate with traditional MVC controllers/views. Is there any place where you are running into issues?

We are not planning at this time to provide an MVC version of the scaffolder at this time unless we get significant feedback about it. Maintaining two parallel vers

[2018-03-05 05:05] javiercn commented on #1658
@DamianEdwards

[2018-03-05 05:12] javiercn commented on #1659
@prafullbhosale Can you take a look at this? If there's a login partial in ` /Views/Shared/` we should not generate one in `/Pages/Shared/`.
/cc: @danroth27

[2018-03-05 14:14] markrendle opened #1660 "[Identity UI] Consider adding more id or similar attributes"
These packaged UI elements are going to need to be style-able using CSS, so maybe it's worth adding more `id` or `class` or even just `data-xyz` attributes to various elements (for example, the `section`s on the Login page with the user/password and the external providers, or the individual buttons for the providers), and documenting those attributes for designers to work with.

Happy to contribut

[2018-03-05 17:20] blowdart commented on #1660
We'll happily accept contributions :)

[2018-03-05 18:18] markrendle commented on #1660
@blowdart What are the chances I can introduce 0-day vulnerabilities by adding HTML attributes? 🙀

[2018-03-05 18:23] Eilon opened #1661 "Show external providers on the Register page"
_From @Eilon on October 24, 2017 21:53_

_From @Tratcher on April 8, 2016 22:13_

The individual auth template has a login page and a register page. Login shows a password login and external providers. Register only shows a password login. Register should also show external providers, as this is where new users will go to sign-up.

_Copied from original issue: aspnet/Templates#490_

_Copied from o

[2018-03-05 18:24] Eilon opened #1662 "UX issues related to Identity"
_From @Eilon on October 24, 2017 21:51_

_From @SteveSandersonMS on May 9, 2016 16:32_

It's debatable to what extent any of these are "bugs", since the template is just a starting point and not meant to be a finished, polished app. But many of them can be fixed easily.
1. **Default "External Logins" UX is confusing**

   It says "External logins: 0 [Manage]". When you click 'Manage', it takes you

[2018-03-05 18:24] Eilon commented on #1662
_From @peterblazejewicz on May 9, 2016 19:29_

To help to visualize that problem: here is a pen: http://codepen.io/blazejewicz/full/972a6dae4af0b0fe5d22421535130635/ that uses static markup to provide insight on current markup:
If/else are removed and their relevant content is rendered. remark: The `Two-Form Authentication` is cropped by default BS rendering for data list titles (nowrap, ellipsis)

[2018-03-05 18:24] Eilon commented on #1662
_From @rustd on May 9, 2016 20:13_

Thank you for the feedback. #6 is by design.  If you have a suggestion for fixing #2 then please do send a PR for it.
I agree that we can improve upon the rest.

[2018-03-05 18:24] Eilon commented on #1662
_From @phenning on May 17, 2016 18:42_

I'm working on some of these issues along with some other UI improvements.

[2018-03-05 18:24] Eilon commented on #1662
_From @SteveSandersonMS on June 16, 2016 18:35_

Some more observations from the current round of verification:

**Forgot password flow doesn't send emails to people whose emails aren't confirmed, but doesn't tell them that**
It acts as if it has sent the email, but hasn't. This would be extremely confusing for a user who didn't realise they had to click the original confirmation link and was tryi

[2018-03-05 18:24] Eilon commented on #1662
_From @Rick-Anderson on April 22, 2017 0:16_

Can we address many of these issues by documenting this page?  You could add a fwlink to the management page. Let me know if I should create an issue in https://github.com/aspnet/Docs to document  how all this works and maybe some tips on customizing it.

[2018-03-05 18:24] Eilon commented on #1662
_From @Ponant on June 9, 2017 7:30_

OK, a template is a template but if a template is to be given it should at least be self-consistent from a-z, otherwise the lack of consistency in identity/security mgt will backfire on MS sooner or later.
Here is a list of issues which could be gathered here (at least for the purpose of cleaning up things in the repos):
https://github.com/aspnet/Templates/issu

[2018-03-05 18:27] HaoK commented on #1661
Alternatively you could just add some text that says you can directly login with an existing social provider

[2018-03-05 18:30] HaoK commented on #1661
This is likely a dupe of https://github.com/aspnet/Identity/issues/1636

[2018-03-05 18:30] HaoK commented on #1628
You fixed this already right?

[2018-03-05 18:47] HaoK commented on #628
The sample demonstrating this flow is https://github.com/aspnet/AuthSamples/tree/dev/samples/Identity.ExternalClaims

We can revisit if we need additional framework support for this in the future

[2018-03-05 18:47] #628 closed

[2018-03-05 18:48] HaoK commented on #1451
This should be now fixed in the latest templates initial migration in 2.1

[2018-03-05 18:49] #1429 closed

[2018-03-05 18:57] PinpointTownes commented on #628
The sample doesn't demonstrate how to flow claims from the external cookie to the application one: it just stores them in the database so they are later restored when building the application cookie identity.

There are cases where storing claims in the database is not appropriate (e.g because you correlate a remote session with the local session). And in this case, it's a huge PITA to implement,

[2018-03-05 18:57] PinpointTownes commented on #628
TL;DR: please re-open.

[2018-03-05 19:09] HaoK commented on #628
In the case you describe where you are trying to override SignInAsync, can your app just use a custom SignInManager to have it do what it needs?

[2018-03-05 19:26] PinpointTownes commented on #628
That's what I meant by this:

https://github.com/aspnet/Identity/blob/dev/src/Identity/SignInManager.cs#L186-L197

Implementing such a method is absolutely not trivial for beginners as the external identity is not available from this method (you have to retrieve it manually using `AuthenticateAsync([external cookie scheme]`). Since it's a frequent demand, I don't see why we don't have a built-in h

[2018-03-05 19:34] Eilon commented on #1661
Yeah closing as a dup of https://github.com/aspnet/Identity/issues/1636, it looks the same.

[2018-03-05 19:34] #1661 closed

[2018-03-05 21:31] #1628 closed

[2018-03-05 23:15] Eilon opened #1663 "AccountController ForgotPassword should check the UserId before ResetPassword"
_From @Eilon on October 24, 2017 21:36_

_From @HaoK on January 25, 2017 19:32_

Moved from: https://github.com/aspnet/Home/issues/1911#issuecomment-275184195

Today we are passing in the userId from ForgotPassword:  https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/AccountController.cs#L282

But not using it when we reset: https://github.com/aspnet/Templ

[2018-03-06 02:40] iambipinpaul commented on #1658
@javiercn
No there isn't any reason/scenario as  of now  that prevents me from using Razor page version with MVC. It's just my personal preference to have everything in one stack.

I'm thinking in this way later it can have some flags to generate Razor Page/MVC/ or JUST Controller and Models (API).

[2018-03-06 19:01] javiercn commented on #1626
We are not planning to change how this works. I chatted at the time with @danroth27 and @DamianEdwards about this and we want an experience in which AddDefaultUI makes everything it can to make ensure that the UI is plugged-in and functional.

[2018-03-06 19:01] #1626 closed

[2018-03-06 20:33] javiercn commented on #1658
I'll let @DamianEdwards chime in

[2018-03-06 21:28] Eilon commented on #1451
@HaoK can this bug be closed?

[2018-03-06 21:39] #1451 closed

[2018-03-06 23:35] Eilon commented on #682
@blowdart / @HaoK / @divega - this bug is ~1.5 years old, should we just close it?

[2018-03-06 23:36] Eilon opened #1665 "Web App with Individual Auth uses Web Helper instead of TagHelper"
_From @mlorbetske on September 22, 2017 18:18_

_From @phenning on July 6, 2017 17:26_

In the Individual Auth template for Core Web Application, there is exactly one Web Helper, at line 38 in Views/Accout/Login.cshtml.

This should be changed to a TagHelper.

[code]

_Copied from original issue: dotnet/templating#1024_

_Copied from original issue: aspnet/templating#25_

[2018-03-06 23:36] Eilon commented on #1665
No tag helper currently exists for this. If we add one, we can consider it. Here's the related issue: https://github.com/aspnet/Mvc/issues/6782

[2018-03-06 23:37] Eilon commented on #1665
The new feature still doesn't exist yet, so this can probably sit in some future milestone.

[2018-03-06 23:37] HaoK commented on #682
yeah its already covered by https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/cookie-sharing?tabs=aspnetcore2x and there are issues tracking improving that to target interop

[2018-03-06 23:37] #682 closed

[2018-03-06 23:41] Eilon opened #1666 "Cannot link external logins in 1.0.0/1.0.1 Individual auth templates"
_From @Eilon on October 24, 2017 21:42_

_From @HaoK on October 27, 2016 18:41_

Repro:
- New Individual Auth App
- Add 2 external auth providers (i.e. facebook/twitter/google)
- Register a local user and password
- Manage -> Add External Login -> First Facebook/twitter/google will work
- Second will result in access failed.

Original issue: https://github.com/aspnet/Identity/issues/1005

This has

[2018-03-06 23:41] Eilon commented on #1666
_From @HaoK on October 27, 2016 18:43_

@Tratcher @blowdart @Eilon @muratg @divega we should probably discuss this one at triage today

[2018-03-06 23:41] Eilon commented on #1666
_From @divega on October 27, 2016 23:55_

Was there a triage discussion about this today? What was the conclusion?

[2018-03-06 23:41] Eilon commented on #1666
@divega we have a thread with the tooling folks that I just added you to.

[2018-03-06 23:41] Eilon commented on #1666
_From @brockallen on December 7, 2016 1:38_

This seems to still be a problem in 1.1.0, but under a different scenario. A locally logged in user (with uid/pwd) wants to now associate an external provider with their account. They click "Google", which triggers a challenge. Since they are currently logged in, they get the access denied page (which doesn't exist in the template).

This should allow t

[2018-03-06 23:41] Eilon commented on #1666
_From @Tratcher on December 7, 2016 4:44_

@brockallen I can't repro that with the 1.1 packages. I am able to create a user with a password and then add an external identity. I only get AccessDenied if I remove the external identity and try to re-add it, which is a known variation of this issue.

The password login and the external logins use separate cookies, so there's no reason they should conf

[2018-03-06 23:41] Eilon commented on #1666
_From @brockallen on December 7, 2016 12:53_

Ok, you are right -- I retested and confirm what you describe. Thank goodness. Thanks.

[2018-03-06 23:41] Eilon commented on #1666
_From @brockallen on December 7, 2016 21:10_

I just grabbed this change to the manage controller and still see the issue I described above.

[2018-03-06 23:41] Eilon commented on #1666
_From @Tratcher on December 7, 2016 21:54_

I think the new SignOutAsync needs to go in ManageLogins instead of LinkLogin. You can't SignOut and Challenge on the same response, SignOut requires a round trip to remove the identity.

[2018-03-06 23:42] Eilon opened #1667 "Authentication workflow problem when email confirmation is required."
_From @Eilon on October 24, 2017 21:48_

_From @Bartmax on October 21, 2015 8:23_

**TL;DR:**
User using external login provider and application with email confirmation required will be able to login the first time (on user creation) without confirming email and he/she won't be able to log in again.

---

When a visitor enter the page and hit login, then choosing an external provider, it's then re

[2018-03-06 23:42] Eilon commented on #1667
_From @rustd on February 18, 2016 19:2_

The user should not get an Associate form when they login.

[2018-03-06 23:43] Eilon commented on #1667
FYI this bug is from 2015... so take that into account.

[2018-03-07 14:07] marcwittke opened #1668 "Support a synchronous API"
I know about the benefits of having async methods. But, however, there are always situations, that do not allow using the async/await pattern, often outside your control. My case is an encapsulated business domain that raises an event, that should be handled synchronously by `UserManager`.

I also know there are various techniques to make this happen, however, I spent various days to find a possib

[2018-03-08 11:26] waiseman commented on #1361
this may help you : http://johnatten.com/2014/06/22/asp-net-identity-2-0-customizing-users-and-roles/

[2018-03-08 18:15] mguinness commented on #1361
@waiseman That blog post is 4 years old and isn't for ASP.NET Identity Core.  I suppose some concepts carry forward but it just adds to the confusion IMHO.

[2018-03-08 18:32] marcwittke opened #1669 "Misleading exception message in Identity 2.0.1"
[code]

The framework in reality requires an implementation of `IUserTwoFactorTokenProvider<TUser>`

[2018-03-08 20:14] HaoK commented on #1341
Encryption extensbility added via https://github.com/aspnet/Identity/pull/1562

[2018-03-09 00:48] ryanbrandenburg commented on #1630
CC @davidfowl who was asking about this.

[2018-03-09 05:22] slaneyrw opened #1670 "Support password migration"
I'm investigating a solution to migrating legacy passwords ( SHA256 cyptro provider, not Dbkdf2), MS ID v2, and MS ID v3 passwords to a new algorithm ( specifically Argon2 ) with the requirement to not store the old hash details post migration.

My thoughts are that during migration we...

1. Take existing hash from the old algorithm and rehash the hash using the new algorithm
2. Store the new pas

[2018-03-09 23:26] jeremyBass commented on #1082
I hate to bring up what seems to be an old topic, but I have follow these threads, and all SO's on this, and still end up with the error

Here are the basics I have going:

## *in Startup.cs*
[code]

## *all store and services for the user*

[code]

## And my DB context
[code]

I still end up with `Cannot instantiate implementation type 'WSU.Models.User.AppRoleStore' for service type 'Microsoft.As

[2018-03-11 08:18] jenyayel opened #1673 "Compiled Razor views won't override default UI"
I wonder if it is by design.

I'm trying out [Identity UI as a library](https://blogs.msdn.microsoft.com/webdev/2018/03/02/aspnetcore-2-1-identity-ui/).

It works fine unless I want to add some customization. Instead of scaffolding, I'm using `AddDefaultUI()` and then handpicking which views to override within my app. If I override, for instance, by adding a new file in my app `Areas/Identity/Page

[2018-03-11 10:11] MonaLarsen opened #1674 "AggregateException occurs after converting User Id to int in ApplicationUser/ApplicationRole"
By following this tutorial [Here](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-primary-key-configuration?tabs=aspnetcore2x) I got to succesfully convert the User Id to int so i can use Linq with operations done on users in my application.

Everything worked fine here, but after creating default users in startup.cs like this:

[code]

i am getting an error in ` Crea

[2018-03-11 12:51] Tamaletjie opened #1675 "Lockout doesn't work if email address is invalid."
I'm developing an ASP.NET MVC app using ASP.Net Identity 2.2.1 in Visual Studio 2017. The app is for internal use only, does not use 2FA or password recovery and will have accounts managed by the user's manager.

In light of this I changed the login page to use the UserName field instead of the Email address field to identify the user. When I create users in dbo.AspNetUsers I populated the Email f

[2018-03-13 03:38] slaneyrw opened #1677 "Support Async password hashers"
The latest set of hashing algorithms ( like Argon2 ) feature work, memory and parallelism hardness.

The C# / .NET Core implementation of Argon2 hashing is Task based, but the IPasswordHasher interface isn't.

Any plans on making the IPasswordHasher async ?  I know this would be a breaking change

[2018-03-13 20:12] HaoK commented on #1409
Done via https://github.com/aspnet/Identity/pull/1442

[2018-03-13 20:12] #1409 closed

[2018-03-13 23:32] Eilon commented on #1648
@javiercn do you have an update on this? 8 days since last action. Flaky tests are killing us.

[2018-03-13 23:32] Eilon commented on #1266
@javiercn do you have an update on this?

[2018-03-14 14:49] PinpointTownes commented on #1572
Why is it limited to entities that inherit from `IdentityUser`? Why can't we use the default UI with totally custom entities?

/cc @HaoK

[2018-03-14 16:22] HaoK commented on #1572
The decision was made for 2.0 templates to start using the properties on IdentityUser directly instead going thru the user manager for things like user.Id for some of the exception messages.  That binds the views to IdentityUser.  I did bring this up at the time the change was made so it was intentional, You can ask @DamianEdwards / @danroth27 to consider revisit that decision

[2018-03-14 16:25] DamianEdwards commented on #1572
Now that the UI in is hidden away in a library, I'd be OK with revisiting that. We'd need to consider what to do with the scaffolder content though.

[2018-03-14 16:25] PinpointTownes opened #1679 "Consider allowing using entities that don't derive from IdentityUser with the default UI"
So... @DamianEdwards @danroth27 please reconsider this decision :sweat_smile:

[2018-03-14 16:25] PinpointTownes commented on #1572
Okay, I opened a new ticket to track that: https://github.com/aspnet/Identity/issues/1679.

[2018-03-14 21:38] jbagga commented on #1616
Assigning cost: S as I expect to wrap this up within a day or two.

[2018-03-14 23:02] Gengadook opened #1682 "Allow specifying the default authorization scheme on a controller action without the authorize attribute"
This would be useful in the situation where I have some api controllers hosted within an MVC app that already uses a default cookies authorization scheme. In this scenario, the api controllers would use a JWT Bearer token for auth rather than the default cookie scheme used by the rest of the web app.

Normally the way to do this would be to decorate the controller or action with [Authorize(Authent

[2018-03-15 12:24] farhadibehnam opened #1683 "System.Data.SqlClient.SqlException: 'Invalid column name 'ApplicationRoleId'.'"
I'm working on my project it's based on ASP.net Core 2.0. I've created ApplicationRole and ApplicationUser class. I've wrote a snippet code for making roles when I run my project I've got this error:

But the same code that I use in ASP.net Core 1.1 didn't have any problem.

I think it has a problem with this line of code:

Because when I comment this code project works fine, but I need count of u

[2018-03-15 13:53] farhadibehnam commented on #1683
My problem is fixed.the navigation property Users in your ApplicationRole class isn't needed.

The relationship between AspNetUsers and AspNetRoles tables is present in a separate table AspNetUserRoles as foreign keys. So, when you want to query the number of users in a given role, you need to interrogate that table AspNetUserRoles. In order to achieve that you can call

`_userManager.GetUsersInRo

[2018-03-15 21:36] HaoK opened #1685 "Improve external login token/claim flow to identity in default templates"
While we have various features today to make this possible it requires a fair bit of wire up and its pretty complex.  See (https://github.com/aspnet/AuthSamples/tree/dev/samples/Identity.ExternalClaims)

This issue is to track making the two following scenarios easier:
1. Ability to flow any AuthenticationTokens(i.e. refresh/access) to the Identity database
2. Ability to flow any claims that are p

[2018-03-15 21:38] HaoK commented on #628
Yeah I filed https://github.com/aspnet/Identity/issues/1685 to be a larger issue trying to address the whole thing, as opposed to just addressing this at purely a sign in manager level