[2018-03-15 22:20] javiercn commented on #1630
I've skipped all the tests affected by this and created a test experiment for it to run on the CI and see if we can repro it:
https://github.com/aspnet/Identity/pull/1686

[2018-03-15 23:02] javiercn commented on #1266
These are related to identity as a service, they only fail on Linux because of System.Uri having a different behavior. Given that we are not shipping it on 2.1 I'm moving it out the milestone.

[2018-03-15 23:25] javiercn commented on #1648
I've skipped all the tests affected by this and created a test experiment for it to run on the CI and see if we can repro it:
#1686

[2018-03-15 23:26] javiercn commented on #1630
I don't think there's more action for preview2 here (other than watch the CI) or skip any additional test if I missed any.

[2018-03-15 23:27] javiercn commented on #1648
I don't think there's more action for preview2 here (other than watch the CI) or skip any additional test if I missed any.

[2018-03-16 00:05] Eilon commented on #1648
@javiercn sounds good, I moved this item to 2.1.0, but let's keep an eye on it.

[2018-03-16 17:05] #1616 closed

[2018-03-16 22:32] mkArtakMSFT commented on #1630
Another hard-to-repro issue. Additional telemetry is added to identify the reason on the next failure. Moving this to the `rc` milestone to give it more time to show up. If this won't show up, we'll just close it during `rc` milestone.

[2018-03-16 23:51] HaoK commented on #1625
Met with @davidfowl @Eilon @DamianEdwards and we decided to add a new

`AddDefaultIdentity<TUser>()` method which will collapse today's identity methods down except for the stores, roles will no longer be enabled by default as well.

Startup in the templates will now look like:
[code]

Its will be functionally the same as:
[code]

The rest of auth changes will be looked at in 2.2

[2018-03-17 00:33] snoopydo opened #1688 "Identity mismatch between Email and Username"
When using Identity it generates views and methods that confuse Email and Username.

The register view and methods ask for an Email and Password, assigns Username the value of Email.

The login view asks for Email and Password, but uses the email as a Username, via call to _signInManager.PasswordSignInAsync(...) which takes a Username and Password.

The Account/Manage view allows you to change you

[2018-03-17 11:15] Ponant commented on #1658
Attribute routing is lacking in Pages (at least a few month ago), would that be a good reason?

[2018-03-17 14:17] ngohungphuc opened #1689 "[Question] Get current user login info in ASP.Net Core 2.0"
I want to get current user login info like username, id. The following code work good but is there any cleaner way to achieve it.
[code]

[2018-03-18 16:58] jeffhube opened #1690 "AddDefaultUI() throws when using IdentityUser<T>"
If your user and role inherit from IdentityUser\<T\> / IdentityRole\<T\> instead of IdentityUser / IdentityRole, then AddDefaultUI() throws.

Project to reproduce here: https://github.com/jeffhube/aspnet-identity-test

[code]

[code]

[2018-03-18 17:51] HaoK commented on #1690
So I think the main issue is that all the places in the UI that directly use the Id, i.e. https://github.com/aspnet/Identity/blob/641dfe3b629dfb4acd484d24d21d2040e1aeb31b/src/UI/Areas/Identity/Pages/Account/Manage/Index.cshtml.cs#L100

need to be updated to use GetUserId, and more generally never access any of the IdentityUser properties directly, and then https://github.com/aspnet/Identity/blob/d

[2018-03-18 19:06] blowdart commented on #1690
Considering that we've had a lot of comments on how hard it is already to change primary keys Hao is right, we can't make it even worse, not even by a little.

[2018-03-18 19:07] blowdart commented on #1689
Where do you want to get the information? Inside a controller? Inside something else?

[2018-03-19 00:51] ngohungphuc commented on #1689
I want to get in service class

[2018-03-19 10:06] binhghi5 opened #1691 "Asp identity not working without https"
- Open Visual Studio 2017
- Create new ASP Web App (net core 2.0) with Individual User Account (Authentication)
- Run the app with default url (https://localhost:44330)
- Create new user (UserName: user1@gmail.com | Password: Abc@1234) and login ==> success!!
- Stop the app
- Open Properties tab -> Debug -> uncheck "Enable SSL" -> copy text from "App URL" textbox to "Launch browser" textbox
- Run

[2018-03-19 18:15] blowdart commented on #1691
What is happening here is cookies are aware of the protocol they are written on. If a cookie is written during an HTTPS request then by default it will limit itself to HTTPS. This is deliberate, once you go HTTPS you really should switch back.

However in dev environments that can be common. You can fix it by clearing the cookies for localhost.

[2018-03-19 18:16] blowdart commented on #1689
Then injecting the accessor is the right wya to go.

[2018-03-20 02:30] ngohungphuc commented on #1689
@blowdart is there any cleanner way to achieve it

[2018-03-20 12:44] blowdart commented on #1689
@HaoK is this what you'd expect?

[2018-03-20 14:39] Misiu commented on #307
I know that this is an old thread, but I have similar situation.
I have WebAPI, every method is called from javascript.
When user clicks on (expired) link I'd like to show him information that link is expired or code is invalid.
Can I validate code in some way to check if it has valid length, syntax? Ideally as @ljwagerfield mention I'd like to know that code expired.

[2018-03-20 15:13] HaoK commented on #1689
I wouldn't enumerate the claims multiple times, you can just select the claim you want directly, i.e. `_currentUserGuid = _httpContextAccessor.HttpContext.User.Claims.FindFirst(UserClaimsKey.Sub)`

[2018-03-20 15:13] #1689 closed

[2018-03-20 15:15] Misiu commented on #307
I've searched a bit and found [this article](https://www.stevejgordon.co.uk/asp-net-core-identity-token-providers), reading it I found that in ASP.NET Core this is possible (read validating the token part), but not in 2.1 (https://github.com/aspnet/AspNetIdentity/blob/9c48993a446288032f9824633e6dae81257da06e/src/Microsoft.AspNet.Identity.Core/TotpSecurityStampBasedTokenProvider.cs#L69)

Are there

[2018-03-20 16:01] ngohungphuc commented on #1689
@HaoK ok so how how about multi role for 1 users

[2018-03-20 16:04] ngohungphuc commented on #1689
@HaoK your suggest not working
![devenv_2018-03-20_23-04-07](https://user-images.githubusercontent.com/13591213/37666785-ff8b51b6-2c92-11e8-8974-fd898149a1db.png)

[2018-03-20 17:11] #1625 closed

[2018-03-20 17:22] HaoK commented on #1689
FindFirst is off of ClaimsPrincipal, this isn't the appropriate place for questions like this, I suggest you try something like stackoverflow if you are stuck

[2018-03-20 22:28] HaoK opened #1699 "Investigate EF warning from tests about 20+ service providers"
You'll see these during many of the Identity functional tests

[code]

cc @ajcvickers

[2018-03-21 09:45] xrkolovos opened #1700 "TFA Recovery codes discussion"
Hello,

my Version
`<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.6" />`

I created the latest startup project of asp.net core with Identity (local stored account in my sql). I created a new user and went to enable TFA. I got the recovery code and tryied the TFA. Login wokrs fine, but LoginWithRecoveryCode always fail with message "Invalid recovery code entered".

My recovery c

[2018-03-21 10:02] xrkolovos commented on #1700
I think that 1,2,3 ways should all work

[2018-03-21 13:41] brockallen commented on #1700
Did you try to just enter one of the codes, instead all of them?

[2018-03-21 13:55] blowdart commented on #1691
Have you captured a fiddler trace to see if the cookies are actually being set in the response?

[2018-03-21 15:20] brockallen commented on #1700
yes, i opened an issue for that a while ago

[2018-03-21 15:54] xrkolovos commented on #1700
#836 #1341

[2018-03-21 19:37] kodithuwa opened #1702 "Maximum limit of Role Claims"
I have used Role Claims for authorize our system, but, problem is role claim table growing rapidly and sometimes there are more than 200 claims for some roles. and it has given error (HTTP Error 400. The size of the request headers is too long.) when a user going to login the site. HOW CAN I FIX THIS ????

[2018-03-21 23:33] ryanbrandenburg commented on #1630
The tests you added are [not running](http://aspnetci/viewLog.html?buildId=425741&buildTypeId=Lite_EntityFrameworkTest&tab=testsInfo).

[2018-03-21 23:48] javiercn commented on #1630
@ryanbrandenburg Can you be a bit more clear?

[2018-03-21 23:56] ryanbrandenburg commented on #1630
You added tests which we figured would prove your hypothesis about what was causing this, but because you did `[ConditionalFact(Skip = "...")]` they will never run, and we'll never figure out what's happening here.

[2018-03-21 23:58] javiercn commented on #1630
ah, ok. Thanks. Will fix it.

[2018-03-22 11:38] DianaKoenraadt opened #1705 "Where's the ASP.Net Identity 2.2.1 source code?"
Sorry to put this in the issue tracker, but it's my last resort. I can't seem to find the Microsoft.AspNet.Identity.Core version 2.2.1 (NuGet) source code.

This NuGet package was released on 4/7/2015.
If I look at the releases of this here repo, at that date no specific release was done. If I do download the closest release, that's 1.1.2, not 2.2.1. And I see that UserManager has only one generic

[2018-03-22 11:46] DianaKoenraadt commented on #1705
Ah. I've been searching for an hour, but hadn't realized that the Identity 2.0 source code is not on github. It apparently needs to be downloaded as .zip file from https://archive.codeplex.com/?p=aspnetidentity. Download archive did the trick.

My apologies.

[2018-03-22 11:46] #1705 closed

[2018-03-22 12:46] blowdart commented on #1700
What do you think encrypting the codes would give you here? You still need a valid password, they're for use when you don't have your 2fa app.

[2018-03-22 12:48] blowdart commented on #1702
That's a really really big number of roles. So aside from reducing those you could not store them in the cookie, and have your policies go off to your role store instead when authorization happens., Would that work for you?

[2018-03-22 13:18] #836 closed

[2018-03-22 13:19] HaoK commented on #1341
Currently the GDPR work only enabled protections for the user table by default, we need to add additional logic to also protect the contents of the user token table... and should also review potentially any other tables to protect

[2018-03-22 15:58] brockallen commented on #1700
I always try to protect the identity system with the assumption an attacker has read-only access to the DB. Thus, protecting access tokens, 2FA codes, 2FA reset codes, email confirmation codes, etc. In ASP.NET Identity some of these values are protected by virtue of data protection and not storing them in the DB. But many other values are in the DB... in plain text.

[2018-03-22 15:59] brockallen commented on #1702
Perhaps with a separation of concerns: http://policyserver.io/. Consider the identity system separate from the authorization system. The video in the link above elaborates on this design.

[2018-03-23 02:38] binhghi5 commented on #1691
I created new project and disabled SSL in the beginning. Now i'm fine.

[2018-03-23 03:33] #1691 closed

[2018-03-23 10:43] marspd commented on #307
HI there
I have exactly the same issue as Misiu.

I have an angular front end that talks to my WebAPI and I would like to validate the token before forcing the user to enter their e-mail address and new password to then find the token has expired.

[2018-03-23 10:47] Misiu commented on #307
@marspd You can do one additional request and inside that method You can call:
[code]
but I'd like to avoid that one extra request. I don't mind showing inputs for new password, but I'd liek to give better feedback to user - message that link expired

[2018-03-23 11:05] marspd commented on #307
Thanks Misiu, I hadn't spotted that method, I will give it a go.

[2018-03-23 16:07] baseless opened #1706 "Unable to disable the defaultUI in asp.net core 2.1"
Hi!

I am uncertain if im missing soemthing but removing the default UI should be as simple as removing `AddDefaultUI()` but it odes not seem to be enough.
If i remove this line from the default template and  try to access /Identity/Account/Register i recieve "InvalidOperationException: A suitable constructor for type 'Microsoft.AspNetCore.Identity.UI.Pages.Account.Internal.RegisterModel' could no

[2018-03-23 18:17] Eilon commented on #1706
@javiercn can you help answer this?

[2018-03-23 18:18] Eilon commented on #1706
@baseless if you can show the stack trace of the exception that would also be helpful. Thanks!

[2018-03-23 18:29] javiercn commented on #1706
And the startup code you are using

[2018-03-23 18:41] baseless commented on #1706
@Eilon the only steps i did was:

1. Create new 2.1 Web application (installed vs2017 preview 2 update earlier) with individual user accounts auth.
2. Remove the 'AddDefaultUI()' and deleted the 'Areas' folder.
3. Run project and visit /Identity/Account/Register in browser.

The raw exception details are:

[code]

I guess it should be easily reproducable (if it isnt caused by something locally on

[2018-03-23 19:30] javiercn commented on #1706
This is enough to investigate I think. We changed this area substantially on Preview2, so it might not be super relevant. But I'll make sure we look into it.

Thanks for bringing it up.

[2018-03-24 02:06] javiercn commented on #1706
At a minimum we should have an in-memory E2E test that checks this. Given the churn that we had in the area I'm going to suggest here that we start by adding a test on the new implementation to confirm the behavior.

[2018-03-24 22:56] xrkolovos commented on #1700
Reading the data from the db would give you access to any account with TFA enabled. If the codes are one-way encrypted that adds an extra layer of security.

[2018-03-24 23:02] xrkolovos opened #1708 "Add an option in Identity System, so we can define the length of TFA Recovery codes"
As, i see in method [TwoFactorRecoveryCodeSignInAsync](https://github.com/aspnet/Identity/blob/c6a82ad19a0bdb80b7358dc843b66664bbf33f96/src/Identity/SignInManager.cs), they don't protect against brute force attacks.
8 char long strings are venerable to brute force attacks.

Add an option in Identity System, so we can define the length of TFA Recovery codes, and i thing you should raise the number.

[2018-03-26 02:10] javiercn commented on #1659
Closing as this is a scaffolding issue.

See
https://github.com/aspnet/Scaffolding/issues/714
for details.

[2018-03-26 02:10] #1659 closed

[2018-03-26 02:11] javiercn commented on #1667
This is still an issue. I filed a similar issue not too long ago. I'll point this one to that one and close it.
https://github.com/aspnet/Identity/issues/1637

[2018-03-26 02:11] #1667 closed

[2018-03-26 02:12] javiercn commented on #1637
https://github.com/aspnet/Identity/issues/1667

[2018-03-26 02:19] javiercn commented on #1663
Relevant pieces of code
https://github.com/aspnet/Identity/blob/dev/src/UI/Areas/Identity/Pages/Account/ForgotPassword.cshtml.cs#L48
https://github.com/aspnet/Identity/blob/dev/src/Core/UserManager.cs#L1708

I do believe this is done. @HaoK @blowdart Can you confirm?

[2018-03-26 02:25] javiercn commented on #1620
@pranavkm I'm closing this issue. Can you file individual issues for your specific suggestions is they still apply?

[2018-03-26 02:25] #1620 closed

[2018-03-26 02:25] javiercn commented on #1620
@pranavkm Or please confirm they don't apply anymore.

[2018-03-26 02:28] javiercn commented on #1584
Closing this. It's likely due to the base branch the branch was getting merged into.

[2018-03-26 02:28] #1584 closed

[2018-03-26 02:38] javiercn commented on #1550
Following up on this. I'm ok with this living on the UI package, so the work here is to do the following:
1) Update the interface to look like the snippet below. (This interface as called out above is not a general purpose email sending interface but an adapter for the UI). The only point of having a class for email is in case we need to extend it in the future, hence the DTO.

[code]
2) Change th

[2018-03-26 03:26] javiercn commented on #1574
This is done I believe. Closing as no further action is required.

[2018-03-26 03:26] #1574 closed

[2018-03-26 08:26] trailmax opened #1709 "Online Source Code for Identity V2"
Hello Team!

I have noticed that CodePlex is in archive mode now and source code is  no longer available to browse online (though you can download the whole archive).

What would be good is to have source code of v2 available online, so it can be referenced online. I'm mostly interested in ability to point people to a specific file or line of code in answers on StackOverflow.

Do you think it woul

[2018-03-26 15:24] HaoK commented on #1709
Yup, its here: https://github.com/aspnet/AspNetIdentity

[2018-03-26 15:24] #1709 closed

[2018-03-26 16:48] HaoK commented on #1550
If we change the interface we should probably change the name just to avoid conflicts with existing `IEmailSender` classes, maybe just add an UI `IUIEmailSender` and `UIEmail`?

Is it really better to make it optional instead of a default no-op?  What happens when there's no email sender, do we stop rendering ForgotPassword links, or just have it throw?  We'd have to probably throw if requireEmail

[2018-03-26 16:51] HaoK commented on #1708
You should just add a derived UserManager that generates the TFA codes how you like by overriding this method:

https://github.com/aspnet/Identity/blob/c6a82ad19a0bdb80b7358dc843b66664bbf33f96/src/Core/UserManager.cs#L2199

[2018-03-26 16:51] #1708 closed

[2018-03-26 18:28] mkArtakMSFT commented on #1690
@kichalla can you please handle this, thanks!

[2018-03-26 18:29] mkArtakMSFT commented on #1643
@kichalla can you please look into this, thanks!

[2018-03-26 18:30] mkArtakMSFT commented on #1637
@kichalla , can you please look into this, thanks!

[2018-03-26 20:29] javiercn commented on #1637
@kichalla Make sure you chat with @haok about this

[2018-03-26 20:30] javiercn commented on #1637
This doesn't need to be preview2 I think, btw

[2018-03-26 20:31] HaoK commented on #1637
This could really be 2.2 as well since this is how the templates have worked for a long time

[2018-03-26 20:44] xrkolovos commented on #1708
You don't think this should be configurable?

[2018-03-26 20:48] trailmax commented on #1709
So it is. How did I miss it?? total "duh!" on my part!

[2018-03-26 20:49] HaoK commented on #1708
@blowdart ?  In general we haven't make these things configurable historically, only via extensibility,

[2018-03-26 20:50] HaoK commented on #1709
The name isn't exactly super obvious :)

[2018-03-26 20:55] blowdart commented on #1708
Looking at my recovery codes, Dropbox, Facebook, Instagram, Gmail, Slack and Wordpress are all 8 characters, so I'd dispute the "larger strings" assertions, excluding Github which is 10. So yea, I think this would be a really low priority.

[2018-03-26 20:57] blowdart commented on #1700
No it wouldn't allow any access with just the codes. Those recovery codes still need a correct username and password, they're for occasions when you don't have access to your 2fa generator.

[2018-03-26 20:58] trailmax commented on #1709
Maybe that link should be on Codeplex page (can you still update the landing page?) and on readme in this repo, clearly stating that it is for MVC5 only?

[2018-03-26 21:08] blowdart commented on #1709
Done

[2018-03-27 04:44] #1700 closed

[2018-03-27 07:10] yellareddy-allcloud commented on #685
I started to develop an Web Core Application and i am trying to Install microsoft.Aspnet.Diagnostics package for exception handling, but i am unable to install this pickage.

[2018-03-27 13:20] olugt opened #1710 "Authorization Points (i.e. authorization on at-the-point-of-authorization basis) as an improvement on current methodologies"
I have a proposal for the Identity team to include a feature, especially as an optional feature and upgrade, that would enable authorizing based on at-the-point-of-authorization basis, for example...

`[Authorize(AuthorizationPointId = "UniqueIdOfThisAuthorizationPoint")]//The value of the unique authorization point ID could be a GUID string or something familiar and human-readable, as chosen by t

[2018-03-27 13:55] olugt commented on #1710
@pranavkm @HaoK Please, this is worth your attention, unless I'm not knowledgeable enough about if Identity already has a scalable and viable solution to this.

[2018-03-27 13:58] olugt commented on #1710
The great part of this proposal is that authentication point IDs scale with the solution since they don't have to be changed, only the roles and users associated with it have to be re-enlisted.

[2018-03-27 16:28] Eilon commented on #626
@blowdart - this is a pretty old bug. Do we plan to fix in 2.1.0? If not, recommend moving to 2.2.0 or closing.

[2018-03-27 16:30] HaoK commented on #626
Ah I missed this one since it wasn't assigned to me...  it should be an easy fix, one liner type, I'll get a PR out for this today.

[2018-03-27 16:32] HaoK commented on #626
Well there's 2 parts to this... @blowdart are you ok if we split this work?  basically change how we generate security stamps now to move away from guids, but leave the TOTP entropy to be against security stamps for 2.1

[2018-03-27 16:35] HaoK commented on #626
@blowdart how do you feel about return a new authenicator key whenever we want to generate new security stamps?

https://github.com/aspnet/Identity/blob/dev/src/Core/UserManager.cs#L2226

[2018-03-27 16:50] Eilon commented on #801
@blowdart - plans for this bug for 2.1.0-preview2? Is it a task, discussion, doc issue, or something else?

[2018-03-27 16:51] Eilon commented on #1168
@HaoK / @ajcvickers - needed for preview2, or revisit in 2.1.0-rc1? @ryanbrandenburg - does your work with ApiCheck cover everything here anyway?

[2018-03-27 16:57] blowdart commented on #626
Both work.

[2018-03-27 16:58] PinpointTownes commented on #1710
It's already supported and known as policy-based authorization: https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies.

[2018-03-27 16:59] HaoK commented on #1168
@ryanbrandenburg already updated the baselines, so I think we just need to turn EnableApiCheck on again...I'll do that today and hopefully nothing fails :)

[2018-03-27 17:13] HaoK opened #1711 "Consider moving to a per login factor secret for TFA"
See https://github.com/aspnet/Identity/issues/626 for more context

[2018-03-27 17:13] HaoK commented on #1711
Parking in 2.2 for triage

[2018-03-27 17:14] HaoK commented on #626
Filed https://github.com/aspnet/Identity/issues/1711 to track looking into moving to per login factor secret which is more involved (and likely requires schema changes)

[2018-03-27 17:28] HaoK commented on #1168
@ryanbrandenburg @javiercn what do we want to do about the ui package, should we wait until closer to rtm to generate baselines + enable api check for this since its new in 2.1?

[2018-03-27 17:32] Eilon commented on #1168
I think the new packages, such as the UI ones, should get *empty* baselines.

[2018-03-27 17:33] Eilon commented on #1168
(That way we know it needs to be checked, but there will be no breaking changes detected, because everything is an 'add'.)

[2018-03-27 17:33] HaoK commented on #1168
So getting one breaking change with constants moving from protected to public...

     public class Microsoft.AspNetCore.Identity.UserManager<T0> : System.IDisposable where T0 : class
          protected const System.String ChangePhoneNumberTokenPurpose = "ChangePhoneNumber"
          protected const System.String ConfirmEmailTokenPurpose = "EmailConfirmation"
          protected const System.Stri

[2018-03-27 17:33] HaoK commented on #1168
They were protected in 2.0, and were made public in 2.1...

[2018-03-27 17:38] HaoK commented on #1168
@Eilon don't we still have to do an update to add the final 2.1 shape?  I mean I guess it doesn't hurt to turn it on with an empty baseline, but that's basically just having it no-op instead of waiting to turning it on when we actually want it to do something?  I'll file a separate issue for tracking the 2.1 final baseline update to UI since we need that regardless

[2018-03-27 17:39] HaoK opened #1712 "Generate final 2.1 UI baseline for api check"
See https://github.com/aspnet/Identity/issues/1168 for more context

[2018-03-27 17:49] Eilon commented on #1168
Re: The existing breaking changes. I would vote to avoid the breaking change, because it doesn't seem worthwhile. But please work with the mgr/PM to resolve it one way or another.

We will update to the final 2.1 shape *after* we ship 2.1. I don't think we need https://github.com/aspnet/Identity/issues/1712 to track it because it will be a bulk update of all baselines. (That's why we want the empt

[2018-03-27 17:49] HaoK commented on #1712
Will be done automatically in bulk

[2018-03-27 17:49] #1712 closed

[2018-03-27 17:50] HaoK commented on #1168
Ok cool, bulk update will be nice, I'll add empty baselines as part of the PR reenabling the checks

[2018-03-27 17:51] HaoK commented on #1168
Is making a constant public from protected really considered a breaking change?

[2018-03-27 17:53] Eilon commented on #1168
Ah, you know what, maybe it isn't.

[2018-03-27 17:54] Eilon commented on #1168
https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md#members

[2018-03-27 17:55] Eilon commented on #1168
So these are fine - just add the breaking change exceptions and then I think log a bug in the BuildTools repo to improve ApiCheck's behavior.

[2018-03-27 17:57] HaoK commented on #1168
Cool, let me just double check on why we did this, I vaguely remember there might have been a customer ask for this, I want to make sure it wasn't accidental before updating the baselines

[2018-03-27 18:08] HaoK commented on #1168
Ok updating the baselines, we did this as part of https://github.com/aspnet/Identity/issues/1325

[2018-03-27 18:37] Eilon commented on #1254
Any further work planned in 2.1.0-preview2?

[2018-03-27 19:17] olugt commented on #1710
@PinpointTownes Thank you.

Policy-based authentication does not entirely tackle all of what I'm asking for. How about having to hard-code role names? And besides, what I am asking for qualifies as an entirely new feature if critically looked at.@PinpointTownes Thank you.

Policy-based authentication does not entirely tackle all of what I'm asking for. How about having to hard-code role names? And

[2018-03-27 19:22] olugt commented on #1710
@PinpointTownes Thank you.

Policy-based authentication does not entirely tackle all of what I'm asking for. How about having to hard-code role names? And besides, what I am asking for qualifies as an entirely new feature if critically looked at.@PinpointTownes Thank you.

Policy-based authentication does not entirely tackle all of what I'm asking for. How about having to hard-code role names? And

[2018-03-27 19:50] olugt commented on #1710
@PinpointTownes Thank you.

Policy-based authentication does not entirely tackle all of what I'm asking for. How about having to hard-code role names? And besides, what I am asking for qualifies as an entirely new feature if critically looked at.

[2018-03-27 20:12] Eilon commented on #1254
@ajcvickers / @blowdart - move to RC1/RTM? Or 2.2.0?

[2018-03-27 21:08] blowdart commented on #1710
I'm with @PinpointTownes on this, you can do this with policies as of now, you're just replacing a policy name with another type of ID. Policies mean you don't hard code role names.

Roles based authorization via attributes is there for backwards compatibility.

[2018-03-27 21:33] olugt commented on #1710
@blowdart Thanks.

But when you create policies, somewhere along the way you hard-code role names. And that's still a problem.

For now, what I personally do is, in a database, I assign a GUID as ID to every role name, so that when I change role names their reference will still be maintained. Then, I enlist the IDs of roles under IDs of Authentication Points, which I then use instead of policies.

[2018-03-27 21:36] blowdart commented on #1710
No you don't. You can quite happily get the current roles from a database.

You're hung up on roles. You don't have to use roles at all, we'd rather you didn't, we'd rather you look at claims, something the user is, and then turn those into permissions within the policy handler, which is basically what you want for your hard coded guid, you can do that *now* if you want to write the code.

[2018-03-27 22:00] olugt commented on #1710
@blowdart Thanks, again.

Actually, I now get it more clearly that claims and policies solve the problem if used cleverly. They make the problem of hard-coding gone too. In the documentation, there should have been more on claims and policies, but there's very little. Roles can essentially be done away with because claims can actually replace the use of roles, as you rightly said. This should also

[2018-03-27 22:07] olugt commented on #1710
@blowdart

Although most claim values are essentially permanent and don't need to change, e.g. setting an age limit, etc. But I am still concerned about having to hard-code something that should be changeable as claim values.

I'm not yet satisfied but I can/would improvise on top of what claims and policies now provide.

[2018-03-27 22:46] mkArtakMSFT commented on #1648
Moved it to `rc` milestone just to monitor and close then, if no reproes will be observed.

[2018-03-27 23:31] blowdart commented on #1710
You don't have to hard code anything at all. What comparisons you do inside a policy could come from XML, SQL, MongoDB, JSON, whatever, you just need to provide the parsing code. In fact we have people building products on that flexibility, https://policyserver.io/ is one such product.

[2018-03-27 23:39] javiercn commented on #1168
@Eilon I had an idea for this actually.
For new projects we can have a property
`<ApiCheckVersionThreshold>`
If the assembly we are producing has <= than the version, we don't run API check.
Once the Version goes higher, we run it and fail/produce warnings because there's no baseline.

I don't like having empty baselines because it silently disables the tool.

[2018-03-28 00:43] AlejandroFlorin commented on #1361
@weitzhandler Thanks for that. I had to make a correction in order to add the nav property to the Role entity as well:

- I added the collection to the Role Class
- Changed the model builder code from  `role.HasMany<UserRole>()` to `role.HasMany(r => r.UserRoles)`

[2018-03-28 01:09] ajcvickers commented on #1254
@Eilon It would be good to test this as part of preview2 validation, but if @HaoK can't fit it in then I'm okay punting to RC1. I'll sync up with @HaoK tomorrow.

[2018-03-28 01:15] Eilon commented on #1254
Not trying to push either way, just reminding that time is running out 😄

[2018-03-28 01:16] Eilon commented on #1168
I thought empty baselines are fine because the tool *will* run, but will always pass. Then when we finish 2.1.0 and start on 2.2.0 we will update all the existing baselines (even if empty) to 2.1.0-RTM.

[2018-03-28 02:15] blowdart commented on #1710
Closing as this isn’t something we’d want to persue

[2018-03-28 02:15] #1710 closed

[2018-03-28 02:16] blowdart commented on #1702
Closing as the only answers that work are given. Please reopen if you need further help.

[2018-03-28 02:16] #1702 closed

[2018-03-28 04:32] javiercn commented on #1168
That's why it silently disables the tool. If we update the baselines when we release 2.1 then sure, but we need to do that.

[2018-03-28 05:07] olugt commented on #1710
OK. Great. That's pretty much what's to be done, getting data from other sources.

[2018-03-28 05:14] Eilon commented on #1168
Yes we have to do that anyway for every repo.

[2018-03-28 15:12] ajcvickers commented on #1168
Empty baselines seems like the way to go to me as well. If we don't update baselines after releases we will have more problems than just this.

[2018-03-28 17:48] blowdart commented on #1254
RC1, definitely can't be pushed to 2.2 as it's checking 2.1 functions :p

[2018-03-28 18:55] #626 closed

[2018-03-28 19:37] HaoK commented on #1168
c7711c2515c22be25f615eca60ab3348c9ffbd47

[2018-03-28 19:37] #1168 closed

[2018-03-28 19:39] Eilon opened #1716 "Token based authentication in ASP.NET Core"
_From @aswanevelder on March 28, 2018 18:58_

Is it possible to build in the ability to generate tokens for APIs as is done in standard ASP.NET? There are plenty of examples online of building a JWT Authentication middleware but it will be greatly appreciated if this is just standard included.

_Copied from original issue: aspnet/Mvc#7567_

[2018-03-28 19:39] Eilon commented on #1716
_From @pranavkm on March 28, 2018 19:11_

cc @blowdart \ @HaoK

[2018-03-28 19:39] Eilon commented on #1716
_From @blowdart on March 28, 2018 19:13_

It's possible, it's not something we provide in the box

For prebuilt things I suggest looking at [Identity Server](http://identityserver.io/) or [openiddict](https://github.com/openiddict).

[2018-03-28 20:21] westerncj opened #1717 "Can't access the AddToRolesAsync method"
Is there a way to access the `AddToRolesAsync` method? I can currently only access `AddToRoleAsync`.

[2018-03-28 20:40] #1717 closed

[2018-03-28 21:01] Phrohdoh opened #1718 "Attempting to override a view included in the default UI results in incorrect anchor tags"
I have scaffolded out an ASP.NET Core MVC project with Individual auth.

The below code-blocks are unaltered from the templated code and markup.

#### _LoginPartial.cshtml
[code]

#### Startup.cs
[code]

If I create `Areas/Identity/Pages/Account/Register.cshtml` in an attempt to provide a custom registration UI the target of the `Register` anchor above is set to the *current route*.

What that mea

[2018-03-28 21:58] Eilon commented on #1341
Any work here for preview2?

[2018-03-28 22:01] HaoK commented on #1341
So @blowdart @ajcvickers the question is basically should we be protecting things like the user tokens table automatically when ProtectData is on as well.  My guess is yes since things like your recovery codes and access tokens and what not are all potentially stored here... in the clear...

And if so, is this something we need to address for preview2, or is this ok to fix in rc1?  I think either

[2018-03-28 22:01] ajcvickers commented on #1341
I defer to @blowdart

[2018-03-28 22:02] HaoK commented on #1341
I guess the reality is this might not be a simple fix if we want to do this, so assuming this is something we want to do, it likely should be done in rc1 as I doubt this is something we want to ram in tomorrow :)

[2018-03-28 22:02] blowdart commented on #1341
Rc1

[2018-03-28 22:10] HaoK commented on #1341
So the full list of tables we should consider if we need to protect additional data:

Roles (role id, role name)
UserRoles (userid, role id)
UserClaims (userid, claim name, claim type)
RoleClaims (role id, claim name, claim type)
UserTokens (userid, token name, token value)
UserLogin (userid, providerName, providerKey)

@blowdart any of these stand out that should be protected, maybe user login si

[2018-03-28 22:45] blowdart commented on #1341
Adding the attribute does nothing unless something is wired up right? Then being over cautious won't be a bad thing.

[2018-03-28 22:54] HaoK commented on #1341
Ignoring the attribute for now, the top level switch is identityOptions.ProtectUserData = true, do we want any columns in these additional tables to be protected

[2018-03-29 03:57] DamianEdwards commented on #1673
@javiercn @Eilon @mkArtakMSFT

[2018-03-29 12:19] blowdart commented on #1677
It would be breaking and honestly we didn't expect async on this, the password hash comparison is a blocking call, because nothing else should take place until the authorization is done, it doesn't need to be async in anyway.

[2018-03-29 12:32] #1622 closed

[2018-03-29 12:35] blowdart commented on #1624
You can configure an absolute expiry via the options, or use remember me to make it persistent. Those are the only options I'm afraid.

[2018-03-29 12:35] #1624 closed

[2018-03-29 12:37] blowdart commented on #1496
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-03-29 12:37] #1496 closed

[2018-03-29 12:37] blowdart commented on #1543
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-03-29 12:37] #1543 closed

[2018-03-29 12:38] blowdart commented on #1370
Closing as external

[2018-03-29 12:38] #1370 closed

[2018-03-29 15:03] javiercn commented on #1673
@pranavkm Is looking into this.

[2018-03-29 15:04] javiercn commented on #1558
@pranavkm Is this done?

[2018-03-29 15:10] javiercn commented on #1682
This is more of a question for security than for here, but I would say that you can do two things. Add [AllowAnonymous] and call `HttpContext.AuthenticateAsync(scheme)` within the action method. Then decide what to do.

The second things is that you can use the upcoming authentication policy to achieve this. @HaoK can provide more details

[2018-03-29 15:40] pranavkm commented on #1673
@jenyayel this was likely a bug in the order of compiled views discovered from the library and the ones from the app. In preview1, the semantics were along the lines of Runtime Compiled Views -> Views from the Identity Library (it had an attribute that made it special) -> all views from .PrecompiledViews.dll. That explains the behavior you're seeing. Using the switch to disable precompilation in t

[2018-03-29 15:48] pranavkm commented on #1558
Fixed in https://github.com/aspnet/Identity/commit/e44cba9b752cf54ef75504051d291ae299a17779

[2018-03-29 15:48] #1558 closed

[2018-03-29 19:07] blowdart opened #1721 "Consider option to treat email as the username"
And automatically keep in sync. We got so many issues because the templates conflate the two in a poor way, and the mirroring of this is manual and patchy.

[2018-03-29 19:08] blowdart commented on #1683
@ajcvickers Navigation properties again :) Docs?

[2018-03-29 19:10] blowdart commented on #1682
This issue was moved to aspnet/Security#1710

[2018-03-29 19:10] #1682 closed

[2018-03-29 19:12] blowdart commented on #1675
When you say Identity 2.2.1 do you meant Identity Core, or the non-core versions?

[2018-03-29 19:16] blowdart commented on #1674
We more information please, your startup, your configuration and your classes for the user and role.

[2018-03-29 19:18] blowdart commented on #1670
We have migration in our hashers, where we upgrade from an old hash and rehash the password with the new algorithm. We don't support chaining of hashes like you wish to do.

[2018-03-29 19:18] #1670 closed

[2018-03-29 19:20] blowdart commented on #1668
It's this way because at it's core (pun intended) ASP.NET Core is async. "That's how it should be done today. Marc" :)

So we have no plans to write sync wrappers.

[2018-03-29 19:20] #1668 closed

[2018-03-29 19:22] blowdart commented on #1582
No there's not. Could you explain your reasoning why you would want it?

[2018-03-29 19:25] blowdart commented on #1539
You reopened this.

So what isn't working? It certainly does work with IIS with ARR, that's how Azure Web Apps work. For nginx you need to configure nginx to forward the headers, for example https://www.nginx.com/resources/wiki/start/topics/examples/forwarded/

[2018-03-29 19:25] #1539 closed

[2018-03-29 19:25] #1524 closed

[2018-03-29 20:59] pranavkm commented on #1673
Ok, verified this is no longer an issue with preview2 bits. (Microsoft.AspNetCore.App: `2.1.0-preview2-30500`). I dropped in a file and was able to verify it is overriden both during build and publish times.

[2018-03-29 20:59] #1673 closed

[2018-03-29 23:40] HaoK opened #1722 "Simplify using a custom TUser with DefaultUI"
This came up as a part of investigating the fix to https://github.com/aspnet/Identity/issues/1679

Today to add additional basic data to a custom user requires:
- overriding the Register/Manage pages, see https://github.com/aspnet/Identity/tree/dev/samples/IdentitySample.DefaultUI/Areas/Identity/Pages/Account, to hand craft the InputModel and update the actions.

[code]

I think we can simplify th

[2018-03-29 23:57] HaoK commented on #1722
Thoughts @DamianEdwards @danroth27 @javiercn @ajcvickers @blowdart @kichalla  @mkArtakMSFT ?

[2018-03-30 01:18] mkArtakMSFT commented on #1722
I've assigned this to rc1 milestone independent on the actual design decision here. We just know that there is some work to be done here.

[2018-03-30 03:31] thegodliek opened #1723 "The ability to use different types for the Users table's pk and the roles table pk"
As per this SO question:

[https://stackoverflow.com/questions/49567477/](https://stackoverflow.com/questions/49567477/)

We cannot use different types for the primary keys in the users table and the roles table.
This can cause some limitations for people like me if for example wanted to use int for the Users key and enum for the Roles key.

[2018-03-30 10:20] Tamaletjie commented on #1675
I am working with the Identity non-core version.

[2018-03-30 14:20] kichalla opened #1724 "Check loglevel for some log statements in DefaultUI"
Currently we have log statements in DefaultUI where we try to log user id, but we try to get the user id irrespective of whether the loglevel was enabled or not.

[2018-03-30 14:22] kichalla opened #1725 "Add functional tests for different user types in DefaultUI"
Some user types to think of:
- `class IdentityUser`
- `class TestUser : IdentityUser`
- `class TestUser : IdentityUser<Guid>`
- `class TestUser`

[2018-03-30 14:22] #1690 closed

[2018-03-30 14:24] kichalla commented on #1679
Done as part of fixing https://github.com/aspnet/Identity/issues/1690

[2018-03-30 14:24] #1679 closed

[2018-03-30 14:31] PinpointTownes commented on #1679
Great news, thanks!

[2018-03-30 14:40] #1618 closed

[2018-03-30 15:13] weedkiller opened #1726 "Add sample views for Managing Roles, Users in Roles etc."
Please add some additional sample views for roles, users in roles, roles containing user.
Number of failed login attempts in one hour. with lock out option.

https://github.com/aspnet/Identity/tree/dev/samples/IdentitySample.Mvc/Views/Account

[2018-03-30 17:26] FanrayMedia commented on #1582
Hi @blowdart, I have a scenario where I want to extend the current identity models where I could have a base type say Entity that have an Id property for all the derived types, for example [here](https://github.com/FanrayMedia/Fanray/blob/3db3760dff2754d17eb07bb96c135c619dc09da6/src/Fan/Data/EntityRepository.cs), so it would be helpful to also have an Id column. Thanks.

[2018-03-30 17:32] blowdart commented on #1582
OK cool. I'll have to move this further out then, because it'd be schema breaking (the username is the primary key).

Token expiry is a property of the tokens themselves, but I can see why you'd want that, but again, schema breaks, so it'll be looked at in 2.2.

[2018-03-30 20:48] blowdart commented on #1726
We don't really aim anything at administration of a whole user database, only user self management. This would be a huge new feature. So I'm putting this in the backlog for eventual consideration.

[2018-03-30 22:38] weedkiller commented on #1726
I was asking about user management with a view, it used to be in the original web forms.

[2018-03-30 23:32] #1643 closed

[2018-03-31 02:16] slaneyrw commented on #1677
The Argon2 hashing algorithm is multi-threaded.  All the methods above the VerifyPasswordHash are async ( SignInManager, UserManager ) ... why not extend it all the way.  The SignIn manager waits for the async call to finish so it blocks anyway.

And I assume you meant Authentication, not Authorization.

I have already prototyped converting the entire chain to async, and I have also implemented an

[2018-03-31 02:19] slaneyrw commented on #1670
I know... but this leaves the old hash in the system - a requirement we cannot live with.

Like the Async password hashing I have already prototyped this and works without any change to the UserManager or SignInManager.

[2018-04-01 11:36] filoe commented on #1062
Still having the same problem.

[2018-04-01 19:52] aneequrrehman opened #1729 "Expose some internal helpers on UserManager"
Referring to #1348 by @HaoK

Shouldn't `ValidateUserAsync` and `ValidatePasswordAsync` be virtual as well?

[2018-04-01 19:57] #1729 closed

[2018-04-01 19:59] aneequrrehman commented on #1729
Sorry, my bad, just figured I could just register `IUserValidator` and `IPasswordValidator`  implementations to be used in the aforementioned methods.

[2018-04-02 17:47] kichalla opened #1730 "Update IdentityUI's _ValidationScripts.cshtml to have the correct CDN urls for the scripts"
Found this during verification, we updated the scirpts under the lib folder to following versions:
jquery.validate.unobtrusive: from 3.2.6 to 3.2.9
jquery.validate: from 1.14.0 to 1.17.0

We should update the CDN urls in the following partial to match this.
https://github.com/aspnet/Identity/blob/release/2.1/src/UI/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml

cc @mkArtakMSFT

[2018-04-02 18:30] Eilon commented on #801
Moving to RC1.

[2018-04-02 19:15] jholovacs commented on #344
Isn't that a bit ridiculous to mock what should be a simple interface?  There should be an `IUserManager<TUser>` that `UserManager<TUser>` implements, instead of going umpteen levels deep into mocking hell.  Nobody is trying to test the functionality of the `UserManager`, we should definitely not be instantiating this class to run unit tests.

[2018-04-02 19:23] #1730 closed

[2018-04-02 20:01] jholovacs opened #1732 "Make UserManager<TUser> implement IUserManager<TUser>"
We have to go through an insane amount of mocking (see #344) and creating fake testing classes to get around the fact that UserManager<TUser> does not implement a service interface like just about everything else does when we want to test our code that consumes UserManager<TUser>'s services.  This is silly.  We are not testing UserManager<TUser>, we should not have to mock its dependencies, or inc

[2018-04-02 22:15] gehbeez commented on #814
how did it work for you

[2018-04-04 03:49] HaoK commented on #1732
You can just mock UserManager directly, whether or not there is an interface shouldn't really affect the unit testing, since you can just treat `UserManager<TUser>` as the service you mock.

[2018-04-04 03:52] HaoK commented on #1732
We aren't going to be adding an interface at this point, but if we ever rewrite identity in the future we likely would have a bunch of smaller interfaces instead of a single user manager.

[2018-04-04 03:52] #1732 closed

[2018-04-04 17:29] HaoK commented on #1732
Modifying interfaces with new methods are breaking changes, so having one monolithic IUserManager interface means we wouldn't be able to add methods to the manager.

It depends on what you are mocking, you can look at https://github.com/aspnet/Identity/blob/dev/test/Shared/MockHelpers.cs#L19 for how we mock it typically.

Sometimes its easier to mock the store and just use the real manager

[2018-04-05 05:13] DamianEdwards opened #1735 "Localize the default UI"
Now that we have Identity UI in a library, we should consider having it use `IViewLocalizer` and `IStringLocalizer` to support localization of the various strings. I think it might be possible to just wrap all strings with calls to these interfaces, but **not** provide any resources, but rather have them picked up via the app if they're provided and configured correctly (we added features in 2.0 i

[2018-04-05 20:02] dougbu opened #1736 "/Identity/Account/ResetPassword page is not reachable when auth required globally"
Looks like at least one page was missed when fixing #1617
## Repro steps
1. `dotnet new mvc --name netcoreIndividualAuth --auth Individual --use-local-db` (doubt `--use-local-db` is mandatory)
2. `cd netcoreIndividualAuth`
3. Open project in Visual Studio
4. Edit `Startup.ConfigureServices(...)` to require an authenticated user globally i.e. change `services.AddMvc().SetCompatibilityVersion(Compat

[2018-04-05 20:47] Eilon commented on #1736
So... is the suggestion to just add AllowAnonymous to the two pages that should allow anonymous?

[2018-04-05 21:42] dougbu commented on #1736
Yes, exactly. Sorry for leaving that out.

[2018-04-05 22:40] dougbu commented on #1736
It's a 2-line fix unless other pages involved in resetting a password also need to be accessible before user logs in again.

[2018-04-05 23:36] dougbu commented on #1736
After lowering the lockout attempts to `2` i.e. `services.AddDefaultIdentity<IdentityUser>(options => options.Lockout.MaxFailedAccessAttempts = 2)`, I found the /Identity/Account/Lockout page also needs `[AllowAnonymous]` on its page model class. Without this, user is redirected to login page again.

[2018-04-05 23:38] dougbu commented on #1736
Related question: Should the /Identity/Account/AccessDenied page have `[AllowAnonymous]`? This page doesn't appear to be used by default and I'm unsure where it would be used.

Might have missed other pages that should allow anonymous access for specific scenarios.

[2018-04-06 00:08] kichalla opened #1737 "[Preview2-Validation] Pages under Account/Manage loose the 'Title' information from ViewData"
For example, when we go to `Manage` page, we should see the title of the html page to be like `Profile - <application-name>` but we only get ` - <application-name>`.

@pranavkm and I debugged through this and think that the cause of this issue could be with how Identity UI uses a model type(abstract) on the view versus the actual type(implementation). Following line of code is a suspect:
https://g

[2018-04-06 00:53] mderriey opened #1738 "Would it be possible to separate the Compat DbContext and CookieInterop classes in separate NuGet packages?"
Hi there :wave:,

We have an existing EF6-, Identity v2-based solution that targets .NET 4.5.1.

We want to create a new ASP.NET Core 2.0 application that targets the same database.
Since ASP.NET Core only supports Identity v3, it means the schema needs to be updated.

This is where the `Microsoft.AspNet.Identity.AspNetCoreCompat` comes into play.
From what I understand, this package allows an app

[2018-04-06 06:42] ngohungphuc commented on #1364
How can I get user role name since is just return id
![devenv_2018-04-06_13-41-45](https://user-images.githubusercontent.com/13591213/38406652-4badb61e-39a0-11e8-9c1c-936c3e94057d.png)

[2018-04-06 07:09] maxwang opened #1739 "Cookie is broken when there are too many permission for a user."
Dear Sir/Madam,

We use Asp.Net Identity framework as our ACL and wrote some custom code to fit our requirement.  The framework works fine. We use Claims-based authorisation.

We found a very strange issue today. There is a user who belongs many roles which have lots of permission claims. And this use keep getting:

 "HTTP Error 400. The size of the request headers is too long." error.

And I chec

[2018-04-06 08:39] Niels-V commented on #1739
There are limits to the size of your request headers. Both IIS as Kestrel have options to configure these limits. So you have the option to increase this limit.

[2018-04-06 08:49] maxwang commented on #1739
Hi Niels,

Thanks for your information. I have changed IIS request limit size but does not work. I will check Kestrel options.

Thanks again.

[2018-04-06 11:13] Niels-V commented on #1739
There might also be restriction by http.sys. Check these SO posts:
https://stackoverflow.com/questions/35749180/do-web-config-header-size-limits-override-http-sys-limits-in-the-registry

https://stackoverflow.com/questions/37112367/size-of-the-request-headers-is-too-long

But for another, more robust, solution you can also look into implementing a SessionStore. It is a settable property on the Coo

[2018-04-06 11:15] maxwang commented on #1739
Hi Niels,

Thanks for help. It seemed that this is IIS issue. It works after I modified registry entry for MaxFieldLength,MaxRequestBytes.

It is very strange that modified httpRuntime maxRequestLength with IIS Configuration Editor does not work. But this is not Asp.net Identity problem.

Thanks again.

Regards,
Max

[2018-04-06 19:31] ivanstamenic opened #1740 "RoleManager.CreateAsync throw an Exception when role with the same name already exists."
When role with the same name already exists _RoleManager.CreateAsync_ throw an Exception "Object reference not set to an instance of an object.".

[2018-04-06 20:53] blowdart commented on #1739
How many claims do you have? If you're seeing a cookie of that size your user claims must be *huge* Do you really need that many? Are you treating claims as permissions perhaps?

The server and even the browser itself will set limits on header sizes and lengths. As @Niels-V suggests you could move to using a session store; there's a sample in https://github.com/aspnet/Security/tree/dev/samples/Coo

[2018-04-09 16:01] zhulien-ivanov opened #1741 "IUserStore.GetNormalizedUserNameAsync / IUserEmailStore.GetNormalizedEmailAsync not used anywhere"
So, basically the required to implement methods:  **IUserStore.GetNormalizedUserNameAsync** and **IUserEmailStore.GetNormalizedEmailAsync** aren't used anywhere in the source code(UserManager, SignInManager, etc...). What's the purpose of having them required by the interface? Am I missing something?

[2018-04-09 16:34] dougbu opened #1742 "Logout must redirect instead of just rendering the page so that the identity in the request gets properly updated"
Logout.cshtml and Logout.cshtml.cs are used before _and after_ the user is logged out. If user posts to the Logout page without a `returnUrl` value, the page displays a message: `You have successfully logged out of the application.` Unfortunately, the page is unreachable after logging out (i.e. requires authentication) due to the following line in the generated `IdentityDefaultUIConfigureOptions.P

[2018-04-09 16:35] dougbu commented on #1742
Found while validating aspnet/Release#265

[2018-04-09 18:26] HaoK commented on #1722
Chatted with @ajcvickers today he suggested we just make a small tweak to future proof the user factory without having to build everything, basically use an abstract base class as the dependency instead of an interface

`IUserFactory<TUser>` => abstract `UserFactoryBase<TUser>`

This means we can add additional methods in 2.2 without having to deal with breaking changes.

[2018-04-09 21:30] HaoK commented on #1341
We will protect:
- all UserTokens
- the providerKey for UserLogins

And include these in the default DownloadPersonalData page

[2018-04-09 21:53] kichalla commented on #1737
cc @javiercn

[2018-04-10 01:09] javiercn commented on #1737
Can you guys provide more data on what's going on?

[2018-04-10 02:37] HaoK commented on #1441
We can consider this in 3.0

[2018-04-10 02:40] HaoK commented on #1675
Closing as this isn't an issue with Core, we won't be changing something like this with older versions of identity templates, but its possible we will revisit this for future Core versions of identity in the linked #1721

[2018-04-10 02:40] #1675 closed

[2018-04-10 02:41] HaoK commented on #1674
Feel free to reopen this with more details to repro this

[2018-04-10 02:41] #1674 closed

[2018-04-10 02:42] HaoK commented on #1636
This seems like a feature at this point, should probably move to 2.2?

[2018-04-10 02:50] HaoK commented on #1699
Moving to mq, since this doesn't seem critical for RC1/RTM

[2018-04-10 02:58] HaoK commented on #1635
@javiercn has this issue been fixed yet?

[2018-04-10 05:34] Eilon commented on #1737
Sounds like the HTML `<title>` tag is missing some data because it's not in ViewData maybe?

[2018-04-10 12:39] blowdart commented on #1739
As you're unblocked I'm closing the issue.

[2018-04-10 12:39] #1739 closed

[2018-04-10 12:41] blowdart commented on #1736
Access denied is for someone whose permissions failed auth - so they are logged in, just they don't have access. So it doesn't need allow anonymous, it's point is that someone is logged in.

[2018-04-10 12:43] blowdart commented on #1663
@HaoK  did this get done?

[2018-04-10 12:46] blowdart commented on #1735
@DamianEdwards is this blocking, or can it move to 2.2?

[2018-04-10 16:12] javiercn commented on #1666
@Eilon Can we close this?

[2018-04-10 16:14] javiercn commented on #1663
@HaoK PING

[2018-04-10 16:14] Eilon commented on #1666
Dunno. Why?

[2018-04-10 16:26] HaoK commented on #1663
Doesn't look like we are checking the user id here, but I think there was another bug that removed passing the user id that we weren't using :)

See it passed in here: https://github.com/dotnet/templating/blob/VS2017.4-Preview1/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/Controllers/AccountController.cs#L425

And not here: https://github.com/aspnet/Identity/bl

[2018-04-10 16:29] javiercn commented on #1663
Yeah. Sounds good to me.

[2018-04-10 16:29] #1663 closed

[2018-04-10 16:31] javiercn commented on #1666
This doesn't apply to the current bits. We'll revisit post 2.1.0

[2018-04-10 23:35] kieronlanning commented on #1699
Yet to find a definitive resolution for this.

[2018-04-11 10:22] nm-1216 opened #1746 "loop to change user"
foreach (var item in list)
            {
                var model = new {headimgurl = "", nickname = ""};
                item.WxAvatar = model.headimgurl;
                item.WxName = model.nickname;
                await userManager.UpdateAsync(item);
            }

System.InvalidOperationException: Invalid operation. The connection is closed.

[2018-04-11 15:13] ajcvickers commented on #1699
@kieronlanning This issue is just about the Identity tests. If you are getting the exception in your application then the most common reason is [setting a new LoggerFactory on every context instance](https://docs.microsoft.com/en-us/ef/core/miscellaneous/logging).

[2018-04-11 15:55] javiercn commented on #1718
I'm not able to repro this with our Defaul UI sample. Can you provide a repro project for it?

[2018-04-11 16:47] Guymestef opened #1747 "Q: Is WebAuthn planned to be implemented by aspnet.identity?"
Hello,

The API should be available in Chrome and Firefox May release.
Starting to look at it and be ready for it could be a good idea?

[webauthn specs](https://www.w3.org/TR/webauthn/)

(Question initially posted on [aspnet/Security here](https://github.com/aspnet/Security/issues/1725#issuecomment-380487325))

[2018-04-11 17:30] blowdart commented on #1747
Maybe. As we've finally implemented TOTP it be an interesting fit, but it's not high in the priority list right now.

[2018-04-11 19:15] natelaff opened #1748 "Can't scaffold identity in new project."
Using 2.1 Preview 2.

Following directions from blog post, want to scaffold identity using the command
dotnet aspnet-codegenerator identity -dc WebApplication1.Data.ApplicationDbContext

I receive this error:
dotnet : No executable found matching command "dotnet-aspnet-codegenerator"

What does my csproj file need to look like to find this command? I've tried installing all sorts of packages and a

[2018-04-11 21:53] blowdart commented on #1748
@javiercn who owns this bit?

[2018-04-11 21:56] blowdart commented on #1746
OK, guessing here, but you're trying to update a user in asp.net identity?

This will only work when you retrieve an instance of the user from the user manager, update the fields on the user class you got back, then pass that to update. Without doing that there's no way to even lookup your user, this type of anonymous type simply will not work.

[2018-04-11 22:02] mskurnik commented on #859
For me I had to add an a little bit more info when adding the identity in order to force the new token provider on password create and update.

[code]

[2018-04-11 22:48] javiercn commented on #1748
@seancpeters Owns this.

I think the blog post might be missing instructions. If I remember correctly, the scaffolder is a global tool now. So it needs to be installed with dotnet intall tool dotnet-aspnet-codegenerator --version 2.1.0-preview2-final" @natemcmaster can confirm

[2018-04-11 22:59] javiercn commented on #1722
Moving this to 2.2

[2018-04-11 23:06] javiercn commented on #1722
For 2.1
* We will remove UserFactory<TUser>
* We will create users by calling Activator.CreateInstance<TUser>() and set the properties through store methods in our internal implementation.
* On the scaffolded code, we will rely on the properties available through IdentityUser.

This enables using the Default UI with Identity provided that:
* TUser has a parameter-less constructor or the user overr

[2018-04-11 23:31] javiercn commented on #1699
@ajcvickers This I believe is because of the way we setup the functional tests. I spoke to @bricelam about it and he explained to me how to fix it (although I don't remember the details). I believe it has a relatively easy solution, we'll get to it on MQ as its not critical.

[2018-04-11 23:32] javiercn commented on #1725
Moving this to RC1 as I've already done it as part of making the tests more generally applicable

[2018-04-11 23:35] ajcvickers commented on #1699
@javiercn Yeah, it's a test issue, and not even a really significant one. I'll take care of it in MQ.

[2018-04-12 00:38] natemcmaster commented on #1748
I'm not sure of the answer here, but dotnet-aspnet-codegenerator was cut from preview2 due to issues in the global tools feature in the CLI. We hope to ship it in RC

[2018-04-12 00:45] javiercn commented on #1748
@natemcmaster Ah, you are right. @blowdart Who wrote the documentation for this? @danroth27?

In any case, I'll figure out what to do here.

[2018-04-12 02:35] HaoK commented on #1748
You should be able to go thru Add New Scaffolded Item -> Identity

[2018-04-12 02:46] thiennn opened #1751 "Upgrade to Bootstrap 4"
Bootstrap 4 has been released for a while. It would be nice if Identity UI support it by default

[2018-04-12 04:43] danroth27 commented on #1748
You have to add scaffolding as a DotNetCliToolReference. If you run the Identity scaffolder from VS it will take care of that for you. In Preview1 we didn't have the VS experience so the command-line was your only option, but our main focus is on the VS experience.

[2018-04-12 04:45] danroth27 commented on #1748
To see how to add the DotNetCliToolReference, add the following item in your project file:

[code]

[2018-04-12 04:45] #1748 closed

[2018-04-12 13:05] natelaff commented on #1748
Ahhh. Yep, it's there and worked great. I suppose an updated Preview 2 blog post will go into such a thing when posted, but that Preview 1 one was all I had to work on :) Thanks

[2018-04-12 15:39] blowdart commented on #1751
This would be wider than just identity, so I'm going to move it to the templating repo.

[2018-04-12 15:39] blowdart commented on #1751
This issue was moved to aspnet/templating#468

[2018-04-12 15:39] #1751 closed

[2018-04-12 18:41] kinosang commented on #1278
Will this feature be add back for 2.1?

[2018-04-12 19:07] blowdart commented on #1550
I'm moving this out to 2.2

[2018-04-12 19:53] HaoK commented on #1550
I think @javiercn was planning on doing something about this in rc1

[2018-04-12 21:13] javiercn commented on #1550
@blowdart Id rather address this for 2.1 just to make sure we have something that doesn't corner us in the future.

[2018-04-12 21:20] blowdart commented on #1550
Talk to @mkArtakMSFT - I feel this has been left too late now

[2018-04-12 22:33] HaoK commented on #1550
One cheap thing you could do for future proofing in 2.1 is just to make it not an interface... so you can revisit things later

[code]

Lets you just always register a no-op one, and they can plug in a real one if they want, and you aren't rushed into defining the IEmailSender interface

[2018-04-12 22:36] HaoK commented on #1550
I also suggest something really specific like DefaultUIEmailSender

[2018-04-12 22:42] HaoK commented on #1341
Done via https://github.com/aspnet/Identity/pull/1745 we can't actually protect the provider keys for logins at this time, I'll file a new issue to revisit that in 2.2

[2018-04-12 22:42] #1341 closed

[2018-04-12 22:44] HaoK opened #1753 "Figure out how to protect login provider key"
We were unable to do this in 2.1 due to key rotation issues.

Potential solns: Modify the scheme or make changes to the value converters to allow passing context ("the key to use")

@ajcvickers do you want me to file a bug in EF about value converter changes?

[2018-04-12 22:45] HaoK commented on #1341
https://github.com/aspnet/Identity/issues/1753 for tracking protecting the provider keys

[2018-04-12 22:56] ajcvickers commented on #1753
@HaoK Yes, please.

[2018-04-12 22:57] javiercn commented on #1550
@HaoK I would just change it to what we discussed above. Switch from parameters to object is cheap, swiching to a class is also cheap, but then you still have to live with the old methods.

[2018-04-13 06:16] javiercn commented on #1648
@mkArtakMSFT I'm moving this to MQ. I'll take care of them next week as they are not product related issues nor anything we're shipping

[2018-04-13 06:16] javiercn commented on #1630
@mkArtakMSFT I'm moving this to MQ. I'll take care of them next week as they are not product related issues nor anything we're shipping

[2018-04-13 07:47] 54414D49TAMI commented on #1389
@gtarsia
I had this problem when I am using Cookie authentication without identity setup. Does anyone know what is the maximum value for the ValidationInterval. I set it like 7 days, but it expires already in 30 minutes or redirected me to log in page.

` services.AddAntiforgery(options =>
            {
                options.Cookie.Expiration = TimeSpan.FromDays(1);

                options.Cook

[2018-04-13 12:18] LiamDotPro opened #1755 "Validating a hash made in Identity Server on nodeJS / Javascript"
I'm trying to write out a library that mimics the validation functionality of `identity server 3` in `nodeJS` but I'm struggling to verify the buffer generated.

 1. I'm not sure why but I'm getting a different length buffer completely despite following along with what I believe is the equivalent.
 2. The `pbkdf2` function being run as an async task might have different behaviour over the iteratio

[2018-04-13 14:37] blowdart commented on #1755
This is probably a question for Stack Overflow, we don't code in node every day, but others there might.

[2018-04-13 15:32] umutesen commented on #640
How can one mock user manager/ signin manager in .net core?

[2018-04-13 17:19] guythetechie opened #1756 "Why does PasswordValidator<TUser>.ValidateAsync() require a user in the input?"
Here's a link to the corresponding function:
https://github.com/aspnet/Identity/blob/5a2eb3becdf6e25601f984542fc2f95a780314f0/src/Core/PasswordValidator.cs#L39

My understanding is that this function checks whether a password is valid (regardless of the user). As far as I can tell, the input **TUser user** isn't used anywhere in the function. Using **ValidateAsync(UserManager<TUser> manager, strin

[2018-04-13 17:44] HaoK commented on #1756
Yes its meant to validate the password for a particular user, the default implementation doesn't use the user, but there were requests to make it possible to do things like password history requirements which may required access to the user, so its relevant to some validators, you can just ignore it if you don't need it in your validator

[2018-04-13 17:44] #1756 closed

[2018-04-13 17:49] mkArtakMSFT commented on #1635
Talked to @javiercn  regarding this and it seems this has been the case for a while now. Pushing out to 2.2.0.

[2018-04-13 17:50] javiercn commented on #1737
This is likely an MVC bug. Looking into it

[2018-04-13 21:31] #1669 closed

[2018-04-13 21:35] HaoK commented on #1740
I don't see this behavior, we also have a unit test covering this, so this is most likely something specific to your app/code, if you provider a repro I can take a look

https://github.com/aspnet/Identity/blob/dev/src/Specification.Tests/IdentitySpecificationTestBase.cs#L385

[2018-04-13 21:35] #1740 closed

[2018-04-13 22:47] #1742 closed

[2018-04-13 22:48] #1725 closed

[2018-04-13 22:48] #1688 closed

[2018-04-13 23:47] #1736 closed

[2018-04-15 14:55] benrhere opened #1757 "ASP.NET Identity Core 2.0: Custom usermanager causing problems with security stamp?"
Hi,

I'm generating custom claims with the following method:

        protected override async Task<ClaimsIdentity> GenerateClaimsAsync(TUser user)
        {
            var id = await base.GenerateClaimsAsync(user);
            var myOrgs = user.OrganizationMemberships;
            var myAdminOrgs = myOrgs?.Where(om => om.Role == Data.Enums.OrganizationMembershipRole.Admin || om.Role == Data.Enum

[2018-04-15 16:02] blowdart commented on #1757
@HaoK

[2018-04-16 13:28] vladimirlapacek opened #1758 "AuthenticationMethod for 2FA"
I wonder if the the `SignInManager.DoTwoFactorSignInAsync` should be adding an explicit `AuthenticationMethod` to the `SignInMAnager.SignInAsync` call to indicate that the login used 2FA.

Currently, it is difficult for an application using aspnet Identity to determine, whether 2FA was used during the sign in. The `amr` claim contains only `password`, regardless of whether the login was 1FA or 2FA

[2018-04-16 13:49] Phrohdoh commented on #1718
Thanks @javiercn - if I get some free-time soon I'll attempt to create a simple repro project.

[2018-04-16 19:11] blowdart commented on #1758
@HaoK sounds like a bug, can we address this in 2.1 or is it too late?

[2018-04-16 19:18] HaoK commented on #1758
Doesn't seem like an ask mode fix, but adding this behavior for 2.2 seems fine... @ajcvickers thoughts?

[2018-04-16 19:43] blowdart commented on #1758
I'm ok with 2.2

[2018-04-17 08:22] #1755 closed, assigned to nobody

[2018-04-17 08:27] diymine opened #1759 "why identity use user name to login in"
When I call the register code of identity to register a user, the code will update the normal name and user name same, and after I alter the user name, then re-login the system with email address, my login will fail,
It seemed identity logined by username not email, so why identity use user name to login in?

[2018-04-17 08:27] diymine commented on #1759
or my understanding is wrong?

[2018-04-17 16:15] blowdart commented on #1759
No you're right. The templates end up with username and email being the same during registration, but fail to keep them in sync. There's work scheduled for 2.2 to fix this ugly mess.

Dupe of https://github.com/aspnet/Identity/issues/1721

[2018-04-17 16:15] #1759 closed

[2018-04-17 18:10] FXFernandes opened #1760 "ASP.NET Identity Core 2.0 - Expiration phone token"
One of the methods exposed by UserManager is GenerateChangePhoneNumberTokenAsync.

Looking to the code, I noticed that the method mentioned is calling Rfc6238AuthenticationService.GenerateCode. It seems to me that the lifetime of the token is hardcoded to 3 minutes as showed bellow.

[code]

Source: https://github.com/aspnet/Identity/blob/85f8a49aef68bf9763cd9854ce1dd4a26a7c5d3c/src/Core/Rfc6238Au

[2018-04-17 18:11] Mozart-Alkhateeb commented on #1361
Hi there i think the problem is about where to place this line of code:
` base.OnModelCreating(modelBuilder);`

when placed at the beginning of the method everything works fine, else it creates duplicate foreign keys.

[2018-04-18 16:36] blowdart commented on #1746
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-04-18 16:36] #1746 closed

[2018-04-18 18:53] jbagga opened #1762 "External login provider and confirm email page are not accessible when using global authorize filter"
When an external login provider is configured, and a global authorize filter is applied, clicking the button to navigate to the provider (say Twitter sign in) redirects back to the current Login page.

To allow anonymous users to log in to an external provider while using a global authorize filter, the user can scaffold the `ExternalLogin.cshtml.cs` page and add the `AllowAnonymous` attribute to t

[2018-04-19 02:13] sirajmansour commented on #1034
Are there any plans to support this ?

[2018-04-19 05:07] p2atran opened #1763 "UserManager.FindByNameAsync doesn't get roles [QUESTION]"
I recently just migrated my .NET Core 1.1.4 app over to .NET Core 2. Everything builds and compiles, but my identity stuff are all messed up. When I do a call to `UserManage.FindByNameAsync(email)`, The correct user is found. However, his role count is 0.

I read somewhere that Net Core 2 no longer eager/lazy loads. I'm still new to .NET Core environment and have been put in the deep end. How woul

[2018-04-19 05:08] p2atran commented on #1763
Here are my applicationUser, ApplicationRole classes and the dbContext creater
[code]

[code]

[code]

[2018-04-19 12:40] DevelAx commented on #1414
Where is that stated in the documentation?

[2018-04-19 18:51] ngohungphuc opened #1764 "LockoutEnabled not enable after fail login attempt"
I have turn on user login attempt in controller
[code]

Startup
[code]

But when user login fail only the LockoutEnd have data. The LockoutEnabled column is always false so user can keep login back again. Any idea about this. Thank you

[2018-04-19 19:15] HaoK commented on #1764
It should get set on your user after you CreateAsync the user, see: https://github.com/aspnet/Identity/blob/dev/src/Core/UserManager.cs#L477

[2018-04-19 21:37] benrhere commented on #1757
Working as expected; I found the problem on my end. Sorry for the trouble.

[2018-04-19 21:37] #1757 closed

[2018-04-20 02:30] ngohungphuc commented on #1764
@HaoK I mean when I already have account I want to login to system and the LockoutEnabled is set to true after 2 times login fail

[2018-04-21 07:56] worldbeater commented on #1414
Why does the order affect behavior?
This isn't obvious at all and is driving me insane.

[2018-04-21 16:38] justin-ruffin commented on #1414
The reason the order matters, is because "AddIdentity" configures the application cookie.

If you "ConfigureApplicationCookie" prior to "AddIdentity" then your custom configuration is overwritten.

See Below:

![image](https://user-images.githubusercontent.com/24457439/39086485-f239f464-4546-11e8-84df-dedfdb6e51b5.png)

[2018-04-21 19:06] scottsauber commented on #1647
@HaoK - circling back to this... so when I just stop inheriting from IdentityDbContext and add the EF configuration myself... when PasswordSignInAsync is called I get this:

[code]

It appears that my custom UserRole class is not being respected.... any ideas?

[2018-04-21 19:37] scottsauber commented on #1647
@HaoK - never mind, I got around this by still inheriting from `IdentityDbContext` but just not calling `base.OnModelCreating`

[2018-04-21 21:07] ClassicDarkChocolate opened #1765 "The change of SecurityStamp in ASP.NET Core 2.1"
What is the main reason for changing SecurityStamp generating method? I originally parse it and store as a GUID type variable in my custom mongo identity provider and now it changes.

2.0: https://github.com/aspnet/Identity/blob/rel/2.0.0/src/Microsoft.Extensions.Identity.Core/UserManager.cs#L2342
Current: https://github.com/aspnet/Identity/blob/dev/src/Core/UserManager.cs#L2414

[2018-04-22 12:30] CoderJason123 opened #1766 "stay logged in for longer than 30 minutes - expire what?"
Hello.  So there's a ton of information regarding cookies and expiration, and the ticket vs the cookie containing the ticket.  I get that.

I just need my users to be able to stay logged in, for let's say for 8 hours, if they choose "remember" me, which then gets passed to signinmanager.signinasync().  My "cookie" shows 2 weeks of life in the browser .. which I believe this is from the options.exp

[2018-04-23 13:26] ClassicDarkChocolate commented on #1765
Found it. https://github.com/aspnet/Identity/pull/1714

[2018-04-23 13:26] #1765 closed

[2018-04-23 21:33] HSchwichtenberg opened #1767 "Wrong file name _Layout.chstml after scafolding Identity"
Visual Studio 2017 15.7 Preview 4, .NET Core SDK 2.1.300-preview2-008533

New Project
ASP.NET Core Web Application
WebApplication with indvidual Accounts
New Scaffolded Item
Identity
Check only "Account/Login"
There is a typo now in Areas/Identity/Pages/_ViewStart.cshtml

@{
    Layout = "/Pages/Shared/_Layout.**chstml**";
}

**Should be:**

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

[2018-04-23 22:02] javiercn commented on #1767
This belongs to the scaffolding repo. Adding @seancpeters to confirm as he's the owner. I believe this is fixed post preview2. Thanks for bringing it up.

[2018-04-23 22:02] #1767 closed

[2018-04-23 22:02] blowdart commented on #1763
@HaoK

[2018-04-23 22:04] blowdart commented on #1762
This should be allowed by default, otherwise you can't login. Can you create the corresponding bug please?

[2018-04-23 22:04] blowdart commented on #1762
Never mind, I'm told I can move it :D

[2018-04-23 22:04] blowdart commented on #1762
This issue was moved to aspnet/Scaffolding#769

[2018-04-23 22:18] blowdart commented on #1762
@mkArtakMSFT it'd be good to get this fixed, it's an unexpected side effect, most people who want to add global authentication would still expect logins to work, otherwise what's the point?

[2018-04-23 23:33] mkArtakMSFT commented on #1762
@jbagga, can you please prepare a PR for this? Thanks!

[2018-04-24 10:55] Misanthrop87 opened #1768 "Map asp.net core 2.0 Identity to existing DB schema"
I have built a small web application with asp.net core 2.0 MVC. In this web application, I did not implement any authentication methods so far.

Right now I have an MSSQL database running in the background and I can add/view/edit/delete users from the database. I adapted the following tutorial: https://www.c-sharpcorner.com/article/crud-operation-with-asp-net-core-mvc-web-app-using-ado-net/ and fo

[2018-04-24 15:31] blowdart commented on #1768
You don't need ASP.NET Identity for this. You could just use the [cookie auth pieces directly](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-2.1&tabs=aspnetcore2x) if all you want is authn, this is probably easier for the scenario you describe.

[2018-04-24 15:58] datobu commented on #1768
I just implemented a check if the AD username is in my user table in a middle ware and it seems to work pretty well. Tomorrow I will have a look on how to read the roles of the user out of the database... I guess I do need Identity for that, don't I?

[2018-04-24 16:15] blowdart commented on #1768
Oh I see, you're enhancing AD. So ... if that's the case, why not use AD for the roles? That's what it's there for. Generally IT departments end up getting really upset when an app rolls its own roles (no pun intended) because that moves away from the whole point of having a centrally managed user infrastructure.

[2018-04-24 17:58] jbagga commented on #1762
While using the global authorization filter, `ConfirmEmail` is not accessible when clicking the verification email link (when logged out). So adding the attribute to it as well.

[2018-04-24 18:00] jbagga commented on #1762
@mkArtakMSFT PR #1769 addresses the issue

[2018-04-25 05:37] Misanthrop87 commented on #1768
I tend to agree, however there exist 2 reasons which I don't really know how to argument against:
-This intranet will include a ton of different IT-Systems which consist of different modules and I guess hundreds of different roles will therefore exist. The IT team so far says this will be a lot of AD-groups and they don't like it.
-As we are a bigger firm, I am not sure whether our internal IT-dep

[2018-04-25 12:51] melvillo opened #1770 "2fa recovery code is not working (invalid)"
Hi,
Seems there is an issue with 2fa recovery code as it's not working.
1. Create a new ASP.NET Core Web project with built-in authentication, and deploy the db as default schema
2. Create a new user, and enable it's 2fa by using Microsoft Authentication app or Google's, copy the 2fa recovery code
3. Log out, and re-Log in, but use the 2fa recovery code to reset the 2fa settings, then you can get

[2018-04-26 01:58] unruledboy commented on #1770
Same problem, I reckon it is a logic problem with RedeemCodeAsync.

[2018-04-26 15:47] AurelianGaiu commented on #1035
Hello @capiono did you solved the problem because i've tried also using the same method as [here](https://github.com/aspnet/Identity/issues/1018) but with no result.

[2018-04-27 01:33] diymine commented on #1759
I find a way to login user by email, first get the user by email, then call login method by PasswordSignInAsync(TUser user, string password, bool isPersistent, bool lockoutOnFailure) method

[2018-04-27 15:55] ajcvickers opened #1773 "Changing TKey broken in RC1"
Do a normal File-New Project with individual auth. Modify the ApplicationDbContext like so:

[code]

Attempt to use any Migrations command:
[code]

[2018-04-27 17:38] HaoK commented on #1773
Yeah not good, is this something specific new in rc1 that worked in preview2?

[2018-04-27 17:39] HaoK commented on #1773
We do have functional tests in identity exercising these kinds of scenarios, so is it something in how the migration is generated now?

[2018-04-27 17:39] ajcvickers commented on #1773
I didn't try it in preview2. It's not related to the generated migration.

[2018-04-27 17:40] ajcvickers commented on #1773
I suspect something internally is constrained to `IdentityUser` instead of `IdentityUser<TKey>`.

[2018-04-27 17:40] HaoK commented on #1773
Ok I still have preview2 bits, I'll try it

[2018-04-27 17:47] HaoK commented on #1773
System.ArgumentException: GenericArguments[0], 'Microsoft.AspNetCore.Identity.IdentityUser', on 'Microsoft.AspNetCore.Identity.EntityFrameworkCore.UserOnlyStore`6[TUser,TContext,TKey,TUserClaim,TUserLogin,TUserToken]' violates the constraint of type 'TUser'. ---> System.TypeLoadException: GenericArguments[0], 'Microsoft.AspNetCore.Identity.IdentityUser', on 'Microsoft.AspNetCore.Identity.UserStore

[2018-04-27 17:54] ajcvickers commented on #1773
That was it. I didn't update my startup to:
[code]
Once it did this it worked. More stuff for the document!

[2018-04-27 17:54] #1773 closed

[2018-04-27 17:55] HaoK commented on #1773
Whew :)

[2018-04-27 17:55] HaoK commented on #1773
That would have been a pretty big regression

[2018-04-27 17:55] HaoK commented on #1773
But yeah changing primary keys still requires a bunch of coordinated changes :/

[2018-04-27 18:00] ajcvickers commented on #1773
There's also this bug in EF: https://github.com/aspnet/EntityFrameworkCore/issues/11832, but as I am writing the docs I am settling on this approach anyway, which seems to work:
* Do it before you create the database; changing key types in an existing database is a world of pain
* Remove the initial-migration (Just call `Remove-Migration`)
* Change the key type of your context and user _and modify

[2018-04-27 18:58] blowdart commented on #1770
Here's what I tried to do to reproduce this.

1. Created a new ASP.NET Core 2.0 web application (so using Razor) with individual accounts in-app. '
2. Ran the app
3. Created the database via the apply migrations web page that pops up
4. Created a new user
5. Turned on 2fa
6. Saved recovery codes
7. Logged out
8. Logged in again
9. Redeemed code

Now ... is this a UI problem? In each line there are

[2018-04-27 19:14] blowdart commented on #1768
Oh! @Rick-Anderson doc suggestion for you :)

[2018-04-27 19:15] blowdart commented on #1768
If you want your own local database, I'd stick with no identity and integrated auth, then use DI to inject your role provider into the policy handlers. You would avoid a bunch of overhead from identity you don't honestly need.

[2018-04-28 01:28] smitpatel opened #1774 "Migration Table name override not honored"
_From @snovak7 on April 27, 2018 20:25_

First I create my custom DbContext

[code]

My User looks like this

[code]

I setup environment that I can generate my migration code.
For the test case I included Schema, which worked...

[code]

[code]

### Further technical details
EF Core version: 2.0.2-rtm
Database Provider: Microsoft.EntityFrameworkCore.SqlServer, Npsql.EntityFrameworkCore.PostgreSQL

[2018-04-28 01:28] smitpatel commented on #1774
Identity defines the schema and configuration in `OnModelCreating`. One of those thing is setting table for `ApplicationUser` to `AspNetUsers`. Since it is configured explicitly, you cannot use Data Annotations to override it.
To set the custom table name, add this to `ApplicationDbContext.OnModelCreating` method
`builder.Entity<ApplicationUser>().ToTable("MyCustomUser", "users");`

[2018-04-28 09:57] melvillo commented on #1770
OK. Then, that's interesting. Actually looks like I don't need to copy and store all of these recovery codes, but just any one of them. And when recovery I just need to use any one, not all.
Hmm, if the UI can tell it more clear, that would be better.
Thanks.

[2018-04-28 09:57] #1770 closed

[2018-04-30 13:48] renatoprogramer opened #1775 "I feel tied up there is a class with wrong entity column names by intentional pattern"
I would like you to be able to customize my user ID class

Can not do this

    public class User
    {
        [Key]
        public long id { get; set; }
        public string name { get; set; }
        public string lastname { get; set; }
        [EmailAddress]
        public string email { get; set; }
        public string password { get; set; }
        public string tel { get; set; }
        p

[2018-04-30 13:57] smoro88 opened #1776 "Create UserManager in Static Class"
I am trying to get a list of Users back from UserManager but I am having issues understanding how this is accomplished.

public class Util
    {
		private readonly UserManager<ApplicationUser> _userManager;

		public Util(UserManager<ApplicationUser> userManager)
        {
            _userManager = userManager;
        }

		public  List<ApplicationUser> GetAllUserList()
        {
            var

[2018-04-30 14:04] ekhtiari commented on #1706
@javiercn Hi
I have same problem but i receive this error on my windows server not in my visual studio
is there any thing to update or some component to register or something else ?
Thanks

[2018-04-30 18:31] ekhtiari commented on #1706
@javiercn i find main problem
I init new project with identity module ( New default UI for identity).
everything is good in visual studio or when i use dotnet run command in project folder
but when i publish project i receive this error
i try many things like :
1.use this line in view file @model Microsoft.AspNetCore.Identity.UI.Pages.Account.Internal.LoginModel
instance @model Loginmodel
2. add t

[2018-04-30 20:29] javiercn commented on #1706
@ekhtiari I don't think I have enough information to help you troubleshoot the issue you're running into. Can you provide a repro project showing the issue?

[2018-05-01 02:08] ekhtiari commented on #1706
@javiercn
in this repro if you run project in tool folder everything is good and login part and register part is work correctly
but if run project in published folder ( bin/Release/PublishOutput/) and use login or register you see my error.
[identity ui](https://github.com/ekhtiari/identityuirl)
a question :
is global tooling cause my problem ? i forgot any thing to install ? i install last versio

[2018-05-01 13:09] blowdart commented on #1776
As UserManager needs a connection to the database, and that's scoped to per request you're not going to be able to do this, even if you did manage to put your utility class in DI.

Remember DI can only inject into other classes in DI.

If all you want this that function why not consider an [extension method](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/exten

[2018-05-01 18:37] smoro88 commented on #1776
I ended up using DI in my Controller and loading the info into a ViewBag and then referencing it in the View.
Thanks for suggestion.
Steve

[2018-05-01 19:02] smoro88 commented on #1776
I did not know you can DI into View.  Thanks for the suggestion because that was even easier. Learn new things every day.

@inject UserManager<ApplicationUser> userManager
userManager.Users.Select(s=>s.Email)

Much appreciated.
Steve

[2018-05-01 19:30] #1762 closed

[2018-05-01 20:03] HaoK commented on #1764
I don't understand what you are asking.

So there are two lockout related properties on the user.

LockoutEnabled must be set to true for the feature to be enabled for the user at all.
If lockoutEnabled = True and LockoutEnd date is set to a time later than now, the user should be considered locked out.

[2018-05-02 08:01] Externaluse opened #1779 "SignInManager: XML Doc wrong description of parameter"
Just stumbled across this

    /// <param name="logger">The logger used to log messages, warnings and errors.</param>
    /// <param name="schemes">The logger used to log messages, warnings and errors.</param>
in
https://github.com/aspnet/Identity/blob/15a82284ce52dc8932c49f3246763f3ea05a3568/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L33

The description for schemes is wrong.

[2018-05-02 21:30] blowdart commented on #1779
Oh dear, we'll take care of that, thank you.

[2018-05-04 19:03] blowdart commented on #1775
Not really, no. To be honest the database is just an object store for us, its somewhere data gets serialized. You could implement your own store and your own mappings, but this isn't something we feel is needed.

[2018-05-04 19:03] #1775 closed

[2018-05-04 19:05] blowdart commented on #1768
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-05-04 19:05] #1768 closed

[2018-05-04 19:06] blowdart commented on #1766
@HaoK can you explain how this all hangs together, and then @Rick-Anderson and I can get this documented in a friendly form?

[2018-05-04 20:48] ajcvickers opened #1782 "AddDefaultIdentity should be in the D.I. namespace"
It's currently in the Identity namespace. Note that the templates already use both namespaces, so there is no need to update there.

[2018-05-04 20:57] HaoK commented on #1782
PR is: https://github.com/aspnet/Identity/pull/1781

[2018-05-04 21:14] #1782 closed

[2018-05-04 21:40] CoderJason123 commented on #1766
So let me throw this out there just as a quick recap --- i just want someone to stay "logged in", including if they close their browser.  I'd like them to stay logged in for anywhere from 8-24 hours.

It's extremely confusing between cookie lifetime, authentication ticket, security validator.

What "pieces" do i need to hook up/ modify / etc, to make this work?  Thank you kindly.

[2018-05-04 22:00] brockallen commented on #1766
Set the IsPersistent flag on the AuthenticationOptions that you pass into SignInAsync. For example:

https://github.com/IdentityServer/IdentityServer4/blob/dev/src/Host/Quickstart/Account/AccountController.cs#L124

[2018-05-04 22:04] HaoK commented on #1766
Yeah the overview of all the settings are here: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-2.1&tabs=aspnetcore2x

But the general idea is if you want the cookie to survive closing the browser, you need to set IsPersistent on the AuthenticationProperties passed to SignIn.

How long the cookie is valid is set by the ExpireTimeSpan.

The security valid

[2018-05-04 22:07] CoderJason123 commented on #1766
@HaoK  -- ok -- then i must still be doing something wrong, because I have all of those settings completed.  I am running this on linux, and I also have set up a file store for the machine key, which works great by the way.

So, the cookie expiretimespan --- is this how long the cookie is valid (mine seems to default to 2 weeks, so i would have assumed i can stay logged in with is persistent = tru

[2018-05-04 22:08] HaoK commented on #1766
Its easiest just to show your startup code, its very easy to set the wrong thing that looks like the right thing :)

[2018-05-04 22:12] CoderJason123 commented on #1766
`
    public class Startup
    {
        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { get; }

        // This method gets called by the runtime. Use this method to configure the HTTP request pipeline.
        public void Configure(IApplicationBuilder app, IHostingEnvironment env)
        {

[2018-05-04 22:30] HaoK commented on #1766
And how about your SignIn call, that's where IsPersistent needs to be specified

[2018-05-05 13:53] CoderJason123 commented on #1766
@HaoK -- yes, that flag is set as well, when the user checks the box of course!  i'm not having a problem with IsPersistent.  I'm having a problem with users being signed out.  Are you saying it is simply a matter of setting expiretimespan and that setting alone (with is persistent set to true), say to a value of TimeSpan.FromHours(8), will provide me a token embedded in the cookie, and that's all

[2018-05-05 15:06] brockallen commented on #1766
The one setting on the cookie options is used for both persistent and non-persistent (which is sort of silly since they need to work two different ways). In short, when you set the persistent value you should also set the expiration on the auth options.

[2018-05-07 05:25] louislewis2 commented on #1760
Hi @Eilon @HaoK, I also ran into a scenario just last week, where I needed more control over the timeStep.

As a suggestion, could this value not move to tokenOptions and simply have it default there to 3 minutes, to ensure backward compatibility, which will also then allow users to change it if and when required?

Or is there something I am missing?

[2018-05-07 21:56] CoderJason123 commented on #1766
@brockallen @HaoK  -- here's an update.  I have now set the expire time span property on the cookie options.  I deleted my browser cache and cookies, redeployed, and logged back in.  I notice that the cookie expiration shows as 12-31-1969 23:59:59, as it did before I set this value.  I personally don't care what this date means.

However, I'm going to try hitting a secured url in a few hours, and

[2018-05-08 17:34] Ruud-cb opened #1784 "Identity core in ASP.NET MVC 6"
I am trying to port a class library to .NET Standard, this library includes all repositories, entities and my DbContext. This will be used by both .NET Core applications and .NET Framework applications.
The library itself is done and EF code-first migrations can be created successfully. Now I am trying to use the AspNetCore.Identity.EntityFrameworkCore inside my ASP.NET MVC Framework application.

[2018-05-08 18:16] HaoK commented on #1784
I don't think you will be able to easily (if at all) use IdentityCore without asp.net core, have you tried using the old precore Identity 2.2.x instead?  That likely would be a better fit, you probably would still be able to use EFCore with old identity by plugging in a custom identity store that was implemented using EFCore.

[2018-05-08 18:59] Ruud-cb commented on #1784
Hi Haok,
you refer to these?:
https://www.nuget.org/packages/Microsoft.AspNet.Identity.Owin/
and https://www.nuget.org/packages/Microsoft.AspNet.Identity.EntityFramework/
I must admit I didn't update them to the latest version but what do you suggest exactly?

Everything within the .NET Standard library is now using the AspNetCore.Identity.xx things, how would a custom identity store look like tha

[2018-05-08 20:14] HaoK commented on #1784
My point mostly is that old MVC needs to work against old Identity/OWIN/Auth, Identity Core is designed to work against new auth/Asp.NET Core.

[2018-05-08 20:15] HaoK commented on #1784
EF is the only framework out of these 3 that you can mix into either MVC/Identity combination

[2018-05-09 09:10] Ruud-cb commented on #1784
Ok thanks for clarifying this, saves some time trying to use the new Identity stuff in .NET Framework. I would need to, like you said, write some custom 'conversion' so that for example the old UserManager is using the new UserManager. Do you perhaps have some guidance on doing this? Since in .NET Core I think it is not really recommended to create your own UserManager due  the high amount of addi

[2018-05-09 16:29] HaoK commented on #1784
Not quite, so what I'm saying is you don't mix.  If you are using old precore MVC, you need to use the old precore Identity 2.x, you can't use the new core identity objects at all unless you use ASP.Net core

[2018-05-09 16:32] Ruud-cb commented on #1784
Yea I eventually managed to solve it by having 1 DB context specifically for the authentication and the rest all in EFCore, then creating interfaces for IApplicationUser to facilitate the UserManager's, I will some day update my stackoverflow with an answer for new readers. Thanks for the help anyway.

[2018-05-09 16:32] #1784 closed

[2018-05-09 19:40] Yeeler opened #1786 "Microsoft.AspNetCore.Identity.UI.csproj failed to load"
git clone code, then load it in VS 2017 ver 15.7.1
Microsoft.AspNetCore.Identity.UI.csproj load failed.

![image](https://user-images.githubusercontent.com/5031611/39835715-a0f6e776-5403-11e8-857d-17086584219f.png)

[2018-05-10 05:00] Alienroid commented on #1658
I can think of an use case. I am pretty new with Razor Pages, so please correct me if I am wrong. My thought is that Razor Pages is for HTML and MVC is good for all sorts of calls. If that's the case, then there's a use case of using identity not for HTML.

Few projects I worked on have only mobile applications as client that uses identity. In this case, since it's not HTML, doesn't make sense to

[2018-05-10 19:15] SimonOrdo commented on #1364
@HaoK
I just migrated from 1.x to 2.x and I'm trying to follow your directions, regarding configuration for the Role Poco properties in the DBContext configuration, but I don't see where IdentityUserRole ever has a .Users property.  Here is my setup, perhaps you can tell me what's wrong:

**ApplicationUser:**
[code]
**ApplicationDbContext:**
[code]
![roles2](https://user-images.githubusercontent.c

[2018-05-10 22:04] blowdart commented on #1786
@javiercn ?

[2018-05-10 22:05] blowdart commented on #1786
Did you try running the build.cmd file first, rather than using VS?

[2018-05-10 23:17] javiercn commented on #1786
Yes. Also %userprofile%/.dotnet/x64 needs to be on the path when you launch Visual Studio for it to pick up the right dotnet to use.

[2018-05-11 04:33] Yeeler commented on #1786
Thanks guys. I missed that path. After I add it and run build.cmd, I can compile the code without errors.
Is there a document can walk me through how to use it? Which project should I use to generate database? I am new to .Net core. Thanks for the help.

[2018-05-11 12:35] Yeeler commented on #1786
I have set default project to 'sample\IdentitySample.DefualtUI in Package Manager Console, and run 'update-database'.
I got an error 'The EntityFramework package is not installed on project 'Identity.DefaultUI.WebSite'.'
I checked its dependency which has 'Microsoft.EntityFrameworkCore.Tools;.
Why I cannot run 'Update-Database'?

[2018-05-11 13:48] javiercn commented on #1786
Can you run add migration and then update database? Also try from the command-line “dotnet ef database update” on the project folder.

[2018-05-11 15:28] Yeeler commented on #1786
D:\_GIT\Identity\samples\IdentitySample.DefaultUI>dotnet ef database update
No executable found matching command "dotnet-ef"

PM> Add-Migration ddd
The EntityFramework package is not installed on project 'IdentitySample.DefaultUI'.

I am really confused. Normally, I do update-database in EF6.

[2018-05-11 15:30] Yeeler commented on #1786
This is my dotnet, not sure if I have the right version
![image](https://user-images.githubusercontent.com/5031611/39932624-3c8b194e-5573-11e8-8a30-b059c4f4c681.png)

[2018-05-11 16:44] javiercn commented on #1786
is that after running build.cmd?
You should do dotnet --info which will give you the exact information.

[2018-05-11 18:07] AdamAnandUS opened #1787 "Invalid Token Error when hosted on thrid-party Server"
var result = await _userManager.ConfirmEmailAsync(user, code);

This code will never work and always ends up with "Invalid Token" when hosted from a third-party hosting provider where there is no RDP and where I cannot change any IIS Server Settings. Even if you submit the token manually using a POST instead of get it will fail. I have used encode/decode and examined the token thoroughly.

It work

[2018-05-11 20:40] blowdart commented on #1787
Does the app shutdown or recycle in any way between registration and confirmation? It sounds like you might be losing your data protection keys, which might be possible if they're clearing out directories and not allowing persistence. Can you at least get logs from the server? The startup log might confirm data protection had to fall back to in in-memory.

[2018-05-11 21:48] kspearrin opened #1788 "Consider using URL safe base64 tokens instead of URL encoding for email verification"
As shown in this email verification example, it is required to URL encode the base64 email confirmation token before sending them in an email:

https://github.com/aspnet/Identity/blob/47060f5e529ee4b872d9fcf66774935dafb051fc/samples/IdentitySample.DefaultUI/Areas/Identity/Pages/Account/Register.cshtml.cs#L100

This works the majority of the time. However, at no fault of our own, there are email pr

[2018-05-11 22:45] AdamAnandUS commented on #1787
Here is the Log. Items to notice.

===========
VerifyUserTokenAsync() failed with purpose: "EmailConfirmation" for user "53a70644-1ccd-4497-8e3b-146b8d7a7354".
===========
My generated token and the posted token exactly matches as per the Log. In other words nothing lost in email transit.

Below I have the full log.

Thanks for your feedback.

Best,
Adam

Request finished in 444.3335ms 200 text/ht

[2018-05-11 22:48] AdamAnandUS commented on #1788
My token is fine. I am using manual copy and pasting of the token. I am using POST operation just to avoid url encode/decode issues. Please check my log in the main post. It fails only on the hosted third-party server. Works fine in my development machine. It fails with this error.

VerifyUserTokenAsync() failed with purpose: "EmailConfirmation" for user "53a70644-1ccd-4497-8e3b-146b8d7a7354".

[2018-05-11 23:29] HaoK commented on #1787
The code that's doing the generation/verification is here: https://github.com/aspnet/Identity/blob/dev/src/Identity/DataProtectionTokenProvider.cs#L66

The only inputs should be the user's ID, the user's security stamp, and the data protection keys.

I'm assuming purposes is fixed and the token isn't expired

[2018-05-12 00:33] Yeeler commented on #1786
![image](https://user-images.githubusercontent.com/5031611/39951698-e2301dea-55be-11e8-8abe-1c6504b5340e.png)

why can't I use ' dotnet ef database update'?

[2018-05-12 00:34] AdamAnandUS commented on #1787
This is how I generate the Token.

`
var code = await _userManager.GenerateEmailConfirmationTokenAsync(user);
_logger.LogInformation("Generated TOKEN : " + code);
var callbackUrl = Url.Action(nameof(ConfirmEmail), "Account", new { userId = user.Id }, protocol: HttpContext.Request.Scheme);
await _emailSender.SendEmailAsync(model.Email, "Confirm your e-mail account", $"Here is your e-mail confirmati

[2018-05-12 00:43] javiercn commented on #1786
You are on an older version of dotnet. You need to run build.cmd and use the version on %userprofile%/.dotnet/x64

[2018-05-12 03:27] Yeeler commented on #1786
thanks for the help @javiercn
I found the following url. It helped, just like you said I should replace the default .net core with whatever in %userprofile%/.dotnet/x64.  I can start the sample now.

https://github.com/aspnet/Home/wiki/Building-from-source#path

[2018-05-13 01:26] natelaff opened #1789 "Guidance on new 2.1 stuff"
Can we get guidance on adding user properties, renaming Identity tables and changing key types with all of these changes for 2.1 (i.e. #1690, #1679)

It seems like this was made easier, right? Can we see how it all comes together now?

Thanks!

[2018-05-13 18:34] eriksendc opened #1790 "Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware An unhandled exception has occurred: Failed to retrieve Facebook user information (BadRequest) Please check if the authentication information is correct and the corresponding Facebook Graph API is enabled."
Hi All,

Starting May 1st at approximately 1:33pm Eastern US time we started seeing the following error reported in  our logs:

`Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware An unhandled exception has occurred: Failed to retrieve Facebook user information (BadRequest) Please check if the authentication information is correct and the corresponding Facebook Graph API is enabled.`

We

[2018-05-13 21:30] weedkiller commented on #1207
Hello, Can you also add manage roles and users per app scope or at least in general.

[2018-05-14 15:58] tsirkin commented on #1207
+1 for @weedkiller idea

[2018-05-14 19:51] Tratcher commented on #1790
Stack trace?

[2018-05-14 20:08] Tratcher commented on #1790
No repro, 2.0.1 works fine locally.

Note 2.0.1 uses v2.6 of Facebook's API which will expire on July 13th. This shouldn't be a problem as it will gracefully roll forward to 2.7.
https://developers.facebook.com/docs/graph-api/changelog

[2018-05-14 22:11] Eirenarch opened #1791 "Consider adding overloads of IsInRole(Async) and other methods which accept user id"
The old version of ASP.NET Identity had a lot of overloads of different methods that accepted user id instead of user object. In the current version only the User object overloads are left. This forces us to write code like this

`UserManager.IsInRoleAsync(new User { Id = userId }, "Admin");`

Please consider adding the overloads that accept userId.

[2018-05-15 16:53] adams-hub opened #1792 "ApplicationUser properties not added to AspNetUsers"
I'm using the following code to try extend identity user, but the properties are not being added to the user table. How do I accomplish this?

[code]
[code]

[code]

[code]

[2018-05-15 17:31] #1792 closed

[2018-05-16 00:54] DamianEdwards commented on #1658
We don't have any plans to invest in a version of the scaffolders that emit controllers & views at this time. Maintaining two copies of the functionality in two different patterns is obviously a cost and right now it seems the only benefit to being to use controllers & views is one of "preference" rather than a concrete lack of capability.

[2018-05-16 05:48] alexsorokoletov commented on #1283
Few articles on the subject: https://andrewlock.net/implementing-custom-token-providers-for-passwordless-authentication-in-asp-net-core-identity/ and https://www.scottbrady91.com/ASPNET-Identity/Implementing-Mediums-Passwordless-Authentication-using-ASPNET-Core-Identity

[2018-05-16 06:43] #1658 closed

[2018-05-16 11:44] tidyui opened #1793 "Primary Key in RoleClaim & UserClaim provider dependent"
This probably belongs in the EntityFrameworkCore repo, but I haven't bumped into it before using Identity. The migration generated for `RoleClaim` and `UserClaim` is provider dependent on the provider that was used when generating the migration.

For example the primary keys are generated with `Annotation(Sqlite:Autoincrement, true)` when using SQLite, and `Annotation("SqlServer:ValueGenerationStr

[2018-05-16 16:03] chrisdpratt commented on #1706
I'm running 2.1.0-rc1-final, and I cannot disable the default UI. I have no Areas directory, no Pages directory, and I'm not explicitly calling `AddDefaultUI()` in Startup.cs. Still, when I go to a protected action, I get redirected to `/Identity/Account/Login`, which actually loads just fine with the default UI. However, I have my own MVC controllers and actions, specific my own sign in action th

[2018-05-16 17:49] javiercn commented on #1706
Can you share a small repro project for this?
The only time when we update the cookie paths is when you call to AddDefaultIdentity()

[2018-05-17 11:29] adams-hub opened #1796 "Scaffold: Missing ShowRecoveryCodes"
Scaffolding is missing the ShowRecoveryCodes page.

[2018-05-18 12:15] blowdart commented on #1796
@javiercn

[2018-05-18 15:11] javiercn commented on #1796
This issue was moved to aspnet/Scaffolding#799

[2018-05-18 15:11] #1796 closed

[2018-05-18 18:03] javiercn commented on #1786
Closing this as there's no further action required.

[2018-05-18 18:03] #1786 closed

[2018-05-18 18:34] blowdart commented on #1793
I'm afraid you're right, this is an EF problem, and as there's an issue there already I'd suggest taking it there. We're not going to roll a new identifier class, when that's really a function of the database.

[2018-05-18 18:34] #1793 closed

[2018-05-18 18:35] blowdart commented on #1789
@ajcvickers This is your bailiwick

[2018-05-18 19:52] eriksendc commented on #1790
Hi @Tratcher . The latest round of these errors stopped occurring early in the morning of 15 May. We can't reproduce. Definitely works fine for us locally, too. I was assuming that it wasn't a problem with the code per se but thought someone might recognize the error and know how to contact Facebook to have them fix whatever's going on. Anyways, I'm happy to close this given that there's nothing t

[2018-05-18 19:52] #1790 closed

[2018-05-18 23:40] chrisckc opened #1797 "Issues with Personal Data page (does not delete saved tokens when deleting user)"
It looks like the personal data pages were added with the EU GDPR regulations in mind, the pull is here:
[https://github.com/aspnet/Identity/pull/1559](https://github.com/aspnet/Identity/pull/1559)

However using the dotnet-sdk-2.1.300-rc1 identity scaffolded files, when deleting a user, any saved tokens for the user that are stored in the database table "AspNetUserTokens" are left behind so it is

[2018-05-18 23:42] chrisckc commented on #1797
Accidentally posted this in the wrong place, too many tabs open!
It is now where it should be:
[https://github.com/aspnet/Scaffolding/issues/800](https://github.com/aspnet/Scaffolding/issues/800)

[2018-05-20 11:24] CraigCarpenter opened #1798 "AddRoles<CustomRoleType> does not correctly add EntityFrameworkCore.RoleStore<CustomRoleType> for non-string keys"
The following code:

[code]

Results in the exception:

[code]

If you explicit add a `RoleStore<IdentityRole<Guid>>` the issue is resolved.

[code]

This is probably because the classes

[code]
in [RoleStore.cs](https://github.com/aspnet/Identity/blob/dev/src/EF/RoleStore.cs) require a the key to be a string.

[2018-05-20 17:01] HaoK commented on #1798
Did you change ApplicationDbContext to reflect the guid key?

https://github.com/aspnet/Identity/blob/dev/test/EF.Test/SqlStoreTestBase.cs#L63

[2018-05-20 17:09] HaoK commented on #1797
Some of these are limitations in identity, we don't have a way to enumerate a user's tokens right now from the user manager which is why they aren't downloaded.

I would think they should be deleted when the user is deleted via cascading delete behavior due to the foreign key @ajcvickers ?

https://github.com/aspnet/Identity/blob/dev/src/EF/IdentityUserContext.cs#L152

cc @blowdart

[2018-05-20 17:49] CraigCarpenter commented on #1798
Yes

[2018-05-21 03:07] HaoK commented on #1798
Can you include your full startup.cs and db context?

[2018-05-21 04:05] CraigCarpenter commented on #1798
Here's an example:

[code]

[2018-05-21 05:10] HaoK commented on #1798
What version of ASP.NET Core are you trying this on?

[2018-05-21 06:33] HaoK commented on #1798
Mostly just interested in what version of the identity packages are in your csproj?

[2018-05-21 07:26] HaoK commented on #1798
I'll add a test in 2.1 to make sure this is covered before closing the bug

[2018-05-21 07:47] CraigCarpenter commented on #1798
Thanks.

On Mon, 21 May 2018 at 14:26, Hao Kung <notifications@github.com> wrote:

[2018-05-21 10:01] kamilwattoo opened #1799 "Unusual behavior when implementing IUserSecurityStampStore"
I am implementing Custom Stores without Entity Framework. But there seems to be a problem because `UserManager` always changes `SecurityStamp` prior to calling `IUserStore.Update`. Which results in failing of `IUserStore.Update` because persisted `SecurityStamp` and Current Security Stamp do not match. This behavior forces implementation of Custom Stores to use Entity Framework or some other equiv

[2018-05-21 15:06] HaoK commented on #1799
The behavior is by design, its probably your implementation of Update that is causing issues.  Update should be what's persisting the user.  updating the security stamp should just be setting the property or equivalent on the user entity.

[2018-05-21 15:36] adams-hub opened #1800 "Identity errors not displayed properly when using UseStatusCodePagesWithReExecute"
When using UseStatusCodePagesWithReExecute, custom error StatusCodes like those found in GenerateRecoveryCodes.cshtml.cs do not display using the route as defined by UseStatusCodePagesWithReExecute  in the startup config.

Eg. `return NotFound($"Unable to load user with ID '{_userManager.GetUserId(User)}'.");`

Retuning a StatusCode(404) without an object displays fine in the custom error layout,

[2018-05-21 15:36] kamilwattoo commented on #1799
When updating an entity it requires to check `SecurityStamp` is same or not. But `UserManager` change `SecurityStamp` before calling `Update` so my method fails everytime.

[code]

How can I avoid this issue?

[2018-05-21 15:50] HaoK commented on #1799
As you have noticed, that constraint where security stamp = security stamp is invalid.  It will never work, so remove it?

[2018-05-21 15:51] HaoK commented on #1799
The security stamp isn't something that stores can use in a way differently from how its used by identity, its something that the user manger/identity use for invalidating cookies

[2018-05-21 15:51] kamilwattoo commented on #1799
Then how can I assure that nobody else have modified the record?

[2018-05-21 16:02] kamilwattoo commented on #1799
I thought `SecurtyStamp` is for optimistic concurrency. My bad

[2018-05-21 21:35] msdkool commented on #1381
Is there any update on this AddIdentity overriding issue? It's driving me nut, need it for Usermanager DI and also using OpenIdConnect for IdentityServer Login page redirect.

[2018-05-21 22:02] HaoK commented on #1798
This is the code that appears to work fine in 2.1:

[code]

I'll add it to the tests to make sure we don't ever regress this just in case

[2018-05-21 22:02] #1798 closed

[2018-05-21 22:09] HaoK commented on #1381
In 2.1 you can do something like this to avoid stomping on defaults (where you can specify the default scheme in AddAuthentication yourself):

[code]

[2018-05-21 22:17] #1799 closed

[2018-05-21 22:46] msdkool commented on #1381
Thank you so much, just tried that now and no infinite loop anymore, however, the DI seems not to be working for UserManager and RoleManager

[2018-05-21 22:57] msdkool commented on #1381
Thanks @HaoK , @Tratcher helped resolved the issue, I'm now able to mix AddIdentity and AddAuthentication in my Startup.cs. Really appreciate your help.

[2018-05-22 05:45] weedkiller commented on #1518
This should be groups or tenants so that the users are nested under different companies
Identity is missing this..

so many people are requesting groups and tenants
 https://github.com/aspnet/Identity/issues?utf8=%E2%9C%93&q=is%3Aissue+group , https://github.com/aspnet/Identity/issues/1532 ,
https://github.com/aspnet/Identity/issues/545 ,
https://github.com/aspnet/Identity/issues/184 ,
https://git

[2018-05-22 05:54] weedkiller commented on #443
Blowdart is an idiot ...
so many people are requesting groups and tenants
 https://github.com/aspnet/Identity/issues?utf8=%E2%9C%93&q=is%3Aissue+group , https://github.com/aspnet/Identity/issues/1532 ,
https://github.com/aspnet/Identity/issues/545 ,
https://github.com/aspnet/Identity/issues/184 ,
https://github.com/aspnet/Identity/issues/586 ,
https://github.com/aspnet/Identity/issues/184 ,
https:

[2018-05-22 11:44] TETYYS opened #1802 "Cannot create a DbSet for 'IdentityUserClaim<string>' because this type is not included in the model for the context"
2.1.0-rc1-final version throws `Cannot create a DbSet for 'IdentityUserClaim<string>' because this type is not included in the model for the context` exeption on `SignInManager<TUser>.PasswordSignInAsync`:

[code]

Issue does not occur on Windows, but occurs on Linux (both using Kestrel), downgrading to current stable version solves the issue.

Failing:
[code]
Passing:
[code]

[2018-05-22 17:34] kichalla opened #1803 "Upgrade Identity UI to use 3.2.10 version of jquery unobtrusive scripts"

[2018-05-23 12:15] chrisckc commented on #628
@HaoK @PinpointTownes , just found this issue, also wanted to pass the claims through to the application cookie but had to use _userManager.AddClaimAsync() to add them to the database first as in the sample supplied by @HaoK.

Some i would like to be in the database, others not so there needs to be a way to do this.

I have just found a way to add claims by overriding the UserClaimsPrincipalFactor

[2018-05-23 14:40] chrisckc commented on #1685
@HaoK Using the code from the sample:

[code]
I found that the token is also stored in the database as well as being made available in the AuthenticationProperties and the HttpContext using HttpContext.GetTokenAsync("access_token");

I was using:
`_signInManager.UpdateExternalAuthenticationTokensAsync(info);`
Which stored the token in the database but did not make it available in the HttpContext o

[2018-05-23 15:47] chrisckc commented on #1685
After modifying the scaffolded Identity code, here is what i came up with for adding the claims and the token to the database on signup and updating them on every login:

[https://gist.github.com/chrisckc/354c010780f23f0067f7e6a0d84c063a](https://gist.github.com/chrisckc/354c010780f23f0067f7e6a0d84c063a)

With this code the only way to get the token for the current authentication method is from th

[2018-05-23 23:06] MetalBreaker opened #1804 "Role being cached for too long"
### Roles are cached for too long
So, I wanted to create an admin-only panel. That's all fine and dandy, and the mechanism ended up working. However, ASP.NET Core caches the role for too long (at first I thought it was my code), and if I add or remove the role, I have to either log out and then log back in or wait around ~10 minutes (don't quote me on that) for the admin-only panel to appear/disap

[2018-05-29 20:18] krijnm opened #1806 "FindByIdAsync vs FindByNameAsync"
I have noticed a difference in implementation between FindByIdAsync and FindByNameAsync.

FindByIdAsync executes UsersSet.FindAsync(new object[] { id },.. which will attach and track the user, if found. FindByNameAsync uses the DbSet IQueryable method Users.FirstOrDefaultAsync(u => u.NormalizedUserName == normalizedUserName, .. which does not track the user.

The flow UserManager => FindById + Upd

[2018-05-30 04:32] eswise commented on #1364
I'm migrating an MVC6 application to .NET Core.  All I want to do is:

`context.Users.Include(u=>u.UserRoles).Include(ur => ur.Roles)`

That's it, nothing fancy.  I tried adding the nav properties per inheriting from IdentityUser, IdentityUserRole, and IdentityRole and it complains about not having a primary key for IdentityUserRole.  Add a primary key to the builder and it complains that it's alr

[2018-05-30 13:37] tatarincev opened #1807 "RoleManager.UpdateRole caused EF ChangeTracker already being tracked exception"
## Steps to reproduce:
[code]
Got the exception
`value for {'Id'} is already being tracked. When attaching existing entities, ensure that only one entity instance with a given key value is attached. Consider using 'DbContextOptionsBuilder.EnableSensitiveDataLogging' to see the conflicting key values.'`

## Assumption
I understand the main reason for this issue but have just wanted to clarify wheth

[2018-05-30 15:57] AndyCJ commented on #1113
@HaoK

I can't see the following in the [documentation ](https://docs.microsoft.com/en-us/aspnet/identity/overview/extensibility/overview-of-custom-storage-providers-for-aspnet-identity):

Am I missing something?
I'm probably not finding the right pages.

[2018-05-30 18:16] #1806 closed

[2018-05-30 19:54] blowdart commented on #1804
`options.SecurityStampValidationInterval` is what you need.

In `ConfigureServices` add

[code]

Each validation does involve a database lookup, so you may want to tune the interval you choose based on load.

[2018-05-30 22:19] MetalBreaker commented on #1804
I already figured it out by myself.
Thank you anyway!

I used the `SignInManager.RefreshSignInAsync()` method.

[2018-05-31 02:36] natelaff commented on #1443
Came back to now that 2.1 is out and still ran into this. What can I do here to proceed? I have an existing db that's live that has this structure. What do I need to do to get my app upgraded? Thanks!

[2018-05-31 15:56] BPA8 commented on #442
@chancewen @stephenstroud  - I stumbled upon this thread while I was looking to implement SSO between my MVC applications which uses WEB API with Identity . WEB API, MVC 1 , MVC 2 apps deployed to azure web apps . Locally SSO seems to be working as expected but doesn't seem to be working in Azure? I have enabled useCors , added machine keys to all 3 of them . what am I missing? any pointers greatl

[2018-05-31 22:00] dviry commented on #1764
In this specific case, if a user fails the login for `options.Lockout.MaxFailedAccessAttempts = 2;` [the code is only setting the lockoutEnd date but not the lockoutEnabled](https://github.com/aspnet/Identity/blob/54c43ac2fc10115d352fcea899287133abc21d81/src/Core/UserManager.cs#L2017) so he can basically still login.

Regarding [your code quote](https://github.com/aspnet/Identity/issues/1764#issue

[2018-05-31 23:28] HaoK commented on #1764
That's correct, if lockout isn't enabled for the user, it won't do anything.  Whether lockout is enabled for a user or not, is a separate field, typically you turn it on via AllowedForNewUsers which is default to on, so typically when a user is registered that flag is set to true.

https://github.com/aspnet/Identity/blob/dev/src/Core/LockoutOptions.cs#L19

[2018-05-31 23:29] HaoK commented on #1764
Its used in Create by the user manager to set LockoutEnabled here:

https://github.com/aspnet/Identity/blob/a273e349eea2be3a40b16e6947b2deab95f4b5b2/src/Core/UserManager.cs#L477

[2018-06-01 05:07] dotnetshadow opened #1809 "Scaffolding 2.1 RTM in existing MVC application 404 for non overridden pages"
I recently upgraded my ASP.NET Core application 2.1. I used the identity scaffolder to override Login and Register pages. Upon doing this I noticed that routes to logout and manage were incorrect

`?page=Account/Manage` rather than `/Identity/Account/Manage`

I then rescaffolded and this time and chose to override all files. This seemed to work.
In my particular case there seems to be an issue wit

[2018-06-01 07:18] dviry commented on #1764
IsLockedoutAsync() expects BOTH LockoutEnabled AND LockoutEnd, otherwise it will always return FALSE (not locked out).

Please read again my comment!

[2018-06-01 09:04] HaoK commented on #1764
Yes that's how the code is supposed to work, the user must have lock out enabled, and there must be a lock out end date that's in the future.

[2018-06-01 12:39] #1804 closed

[2018-06-01 14:09] raffaeler commented on #1625
Could you please confirm that RTM implementation does not require the following anymore?
[code]
I get an error of scheme being already registered...

[2018-06-01 15:49] kinosang opened #1810 "[feature request] user activity"
I saw #106, #650, #1278, and #1281

One year passed, is there any plan for the account activity feature?

Or if the schema changes have been done and the project is ready for the activity feature with a pull request?

[2018-06-01 20:26] dviry commented on #1764
I'll try again ;)

If that's how it supposed to work, then why:
a. CreateAsync for new users only sets the LockoutEnabled but not LockoutEnd?
b. failed logins only sets the LockoutEnd and not LockoutEnabled?

In both of those cases the user should be locked out but instead the method IsLockedoutAsync() returns false (so the user can still login).

I'd urge you to read again the whole thread...

Ch

[2018-06-01 20:28] HaoK commented on #1764
a. because unless you want your newly registered user to be locked out, you don't send lockout end.
b. failed logins should set login end to trigger lockout if its enabled.

I'm pretty sure I'm not the one that's confused...

Anyways this behavior is by design

[2018-06-01 20:28] #1764 closed

[2018-06-01 21:05] dviry commented on #1764
The default SigninManager provided with Identity.Core does not do that, and neither does the sample provided by the Visual Studio template.

I am pretty sure it's at least 2 people on this thread trying to tell you the code is NOT working correctly (UserManager in combination with SignInManager), so I suggest you try it out and then we'll see who is confused ;)

Cheers

[2018-06-01 21:07] blowdart commented on #1807
@HaoK @ajcvickers

[2018-06-01 21:09] blowdart commented on #1810
@HaoK you merged something for this at one point against an issue, what happened to it?

[2018-06-01 21:09] blowdart commented on #1809
@javiercn Does this happen for you?

[2018-06-01 21:10] blowdart commented on #1802
@ajcvickers

[2018-06-01 22:21] HaoK commented on #1764
This code hasn't changed in a long time, since before core, and there are unit tests so while its possible there's an issue, I'd assume it would have been discovered earlier.

If I were to guess what is going on, users were created with lockout disabled (allowedForNewUsers = false, or by some other mechanism) so their lockoutEnabled = false.  If that's the case, irrespective of what lockoutEnd val

[2018-06-02 00:21] HaoK opened #1811 "Remove cancellation token hookup for RequestAborted"
Per @davidfowl request, we should remove the logic in the managers that hook up the cancellation tokens for 2.2

https://github.com/aspnet/Identity/blob/dev/src/Identity/AspNetUserManager.cs#L45

any objects @ajcvickers @blowdart ?

[2018-06-02 00:27] davidfowl commented on #1811
One of the major driving forces behind this request is the fact that identity cannot be used for tracking users today in a SignalR application because of this logic. When developers try to query a user using the user managed in OnDisconnectedAsync, it blows up because the connection is already disconnected which means the token has already tripped.

[2018-06-02 00:39] blowdart commented on #1811
Ah so this is just limited to Identity? What about users not using SignalR and depending on the current behaviour? What sort of existing use do you want to kill just to support SignalR? Why can't SignalR do it another way? What does ASP.NET expose cancellation tokens for?

[2018-06-02 01:05] davidfowl commented on #1811
Yes. Identity is the only thing in our stack that implicitly uses the IHttoContextAccessor.

It's a breaking change but my guess is that it won't affect a majority of people using this API. They'll see less exceptions.

The one risk would be that if the client disconnects, it will no longer cancel the user manager operation. So say your FindUserAsync operation took 5 minutes, it would no longer be

[2018-06-02 01:39] blowdart commented on #1811
Well, you know we don't do breaking changes in minor dot releases

cc @DamianEdwards

[2018-06-02 01:43] davidfowl commented on #1811
Yes we do. We do all the time. It's case by case. We broke a bunch of behaviors going from 2.0 to 2.1.

Regardless, I think the risk is extremely low here. I'm willing to have somebody challenge that though

[2018-06-02 02:01] HaoK commented on #1811
We could just leave the class alone, and swap out the default behavior to register UserManager, and then the workaround to get it back would be pretty simple, they could just add the old classes back to DI...

[2018-06-02 02:27] HaoK commented on #1811
I agree with you that certainly almost noone is relying on this behavior today, the few issues we've gotten were similar to this one where they wanted to turn off the behavior

[2018-06-02 12:43] blowdart commented on #1811
Swapping behaviour would be safer, letting people reenable it if they need it.

[2018-06-03 05:06] davidfowl commented on #1811
Yea that’s fine. If you do change the injected type, anyone that was expecting to take an AspNetUserManager would be broken. I dunno if people do that but it’s worth calling out.

[2018-06-03 05:51] HaoK commented on #1811
Yeah pretty unlikely since we added that fairly recently in 2.0, and it literally has the same shape as UserManager

[2018-06-03 08:09] BrendanRidenour opened #1812 "Identity UI's embedded static files will return 404s if app.UseStaticFiles() is passed a StaticFileOptions object."
**Is this a Bug or Feature request?**

Bug

**Steps to reproduce:**

1. Create a new ASP.NET Core Web Application (2.1).
2. Be sure Authentication is set to "Individual User Accounts".
3. Run the app and navigate to the Register and Login pages. Everything works as expected so far.
4. Stop the app.
5. Delete the file at "Areas/Identity/Pages/_ViewStart.cshtml". This will force Identity to use its

[2018-06-03 15:49] natelaff commented on #1443
Ok, I basically did what was suggested and blew away the identity stuff from my snapshot and regenerated. also killed my model customizations on identity other than the essential stuff like the user table and just migrated data over. everything worked good here. must have been a result of just early snapshots from 1.0 beta stuff. you can close, or keep open if you want to attempt to fix for later.

[2018-06-03 15:49] #1443 closed

[2018-06-04 00:26] natelaff opened #1813 "UserRoles in DefaultIdentity"
Surely I'm missing something easy? Or was it really made this complicated?

If you use AddDefaultIdentity no UserRoleStore gets created? So you can't use roles at all. Why? If you switch back to AddIdentity then you have to deal reintegrating everything such as login paths, razor page authentication, etc..

[2018-06-04 07:55] dviry commented on #1764
I understand that things change and designs/templates need to be adjusted, but in the short term at least an update to the documentation would probably be helpful for all sides.
In it's current state the following configuration has absolutely no effect, which I am sure was not the original intent...

`
//lock out attempt
options.Lockout.AllowedForNewUsers = true;
options.Lockout.DefaultLockoutTime

[2018-06-04 13:33] mprevot opened #1814 "Cannot retarget "package" to dotnet core 2.1"
I couldn't find out how to make Identity projects work with dotnet  core 2.1 instead of 2.2-preview.
I don't have 2.2 preview, build succeeds but tests do not.
How do we do this ?

[SO](https://stackoverflow.com/questions/50680422/how-to-setup-dotnetcore-target-for-build-and-tests)

Thanks.

[2018-06-04 14:15] serpent5 opened #1815 "Customise the Default UI's Area Name"
Before the Default UI was introduced (pre 2.1), generated projects that included ASP.NET Core Identity were configured to server Identity-specific endpoints at at e.g. /Account/Login. With the new Default UI, this is now e.g. /Identity/Account/Login. Both the existence of an Area and its default name appear to be hardcoded (as IdentityUIDefaultAreaName in the source code) with no option to overrid

[2018-06-04 15:58] GRTSolutionsLTD commented on #1364
I am facing with the same problem

[2018-06-04 16:03] ngohungphuc commented on #1364
@eswise @GRTSolutionsLTD you guys can check my code to solve this issue
https://github.com/Awesome-CMS-Core/Awesome-CMS-Core/blob/master/src/AwesomeCMSCore/Modules/AwesomeCMSCore.Modules.Entities/Entities/ApplicationRole.cs

[2018-06-04 16:04] ngohungphuc commented on #1364
@SimonOrdo @H4Himanshu @eswise @GRTSolutionsLTD  you guys can check my code to solve this issue
https://github.com/Awesome-CMS-Core/Awesome-CMS-Core/blob/master/src/AwesomeCMSCore/Modules/AwesomeCMSCore.Modules.Entities/Entities/ApplicationRole.cs

[2018-06-04 16:38] HaoK commented on #1764
The new default UI might be making it harder to turn on, did you scaffold any of your pages?

[2018-06-04 17:17] blowdart commented on #1814
Are you checking out the dev branch? dev is always what we're working on right now, and that's going to be targetted against 2.2, because that's what will be next.

https://github.com/aspnet/Identity/tree/release/2.1 is the 2.1 released code, so if you want 2.1 I'd start there.

[2018-06-04 17:18] blowdart commented on #1813
Because we got way more objections to create a role table that people didn't use than we did kudos for doing it just in case people wanted roles. So we did what the majority wanted.

[2018-06-04 17:19] blowdart commented on #1812
@javiercn

[2018-06-04 17:21] natelaff commented on #1813
But those tables get created either way in a new template? Maybe Role based authorization is just bad for a new app and I need to change my thinking.

[2018-06-04 17:22] blowdart commented on #1813
They shouldn't be created any more, or at least that was the intent. @HaoK ?

[2018-06-04 17:33] natelaff commented on #1813
Yep, it all gets created. Start a new 2.1 app with individual auth and you end up with those in the CreateIdentity migration. If you wipe those out and do Add-Migration, you still end up with them. So the assumption is you can easily use them. You cannot.

[2018-06-04 18:09] javiercn commented on #1812
This is by design. If you are taking control over the options used in static files, you need to include the static files used by identity manually.

To do so, you just need to create your file provider as in the snippet on the link:
https://github.com/aspnet/Identity/blob/dev/src/UI/IdentityDefaultUIConfigureOptions.cs#L65-L66

[2018-06-04 18:09] #1812 closed

[2018-06-04 18:38] HaoK commented on #1813
The migration we create is always the same right now @ajcvickers maybe this is something we can consider making smarter in the future.

To turn roles back on, you need to uncollapse AddDefaultIdentity back to something like:

`services.AddIdentity<User, Role>.AddEntityFrameworkStores().AddDefaultUI().AddDefaultTokenProviders()`

[2018-06-04 18:59] dietrichha commented on #1813
Hi,

tried to use the new 2.1 syntax:

            services.AddDefaultIdentity<ApplicationUser>()
                .AddRoles<IdentityRole>()
                .AddEntityFrameworkStores<ApplicationDbContext>();

By using this, you can not define a policy for roles. E.g.:

      services.AddAuthorization(options =>
            {
                options.AddPolicy("RequireAdministratorRole", policy => po

[2018-06-04 19:10] HaoK commented on #1764
I don't see any issues with the current default UI templates, I tried by just setting

            services.AddDefaultIdentity<IdentityUser>(o => o.Lockout.MaxFailedAccessAttempts = 1)

And then the user on first failure is immediately locked out.

[2018-06-04 19:13] HaoK commented on #1813
You also need to replace the UserClaimsPrincipal factory with the one that's claims aware.

See: https://github.com/aspnet/Identity/blob/dev/src/Core/UserClaimsPrincipalFactory.cs#L102

So something like

`AddScoped<IUserClaimsPrincipalFactory<ApplicationUser>, UserClaimsPrincipalFactory<ApplicationUser, IdentityRole>`

This could be potentially a bug/improvement we can make in 2.2 to not require

[2018-06-04 19:18] blowdart commented on #1813
Oh heck yes, if you're adding the roles tables we should have lit up the right claims factory by default.

[2018-06-04 19:36] natelaff commented on #1813
The problem that I ran into immediately was this.

Created a new project, scaffolded Identity views (I have a template I'm working I have to work with, so need to customize those views). So these went into \Areas\Identity

Then, realized I couldn't use Roles with DefaultIdentity, so changed that, but then everything went weird (Razor Pages are a new concept for me, I did a site in 1.0, but couldn'

[2018-06-04 19:43] mprevot commented on #1814
Thanks for the details and the pointer. I wanted to check out the GPDR components being implemented so far, and make this work targeting 2.1 (for production).

[https://github.com/aspnet/Identity/tree/release/2.1](https://github.com/aspnet/Identity/tree/release/2.1) is also targeting dotnet core 2.2.0-preview1-26531-03

Can't I retarget the dev branch to 2.1 (and asp.net identity 2.1 release too)

[2018-06-04 20:01] dviry commented on #1764
Thanks, but it seems we are using different UI templates :(
I've used the latest on VisualStudio 2017, but I don't have .AddDefaultIdentity, instead only .AddIdentity:
`
            services.AddIdentity<ApplicationUser, IdentityRole>(options =>
            {
                options.Lockout.MaxFailedAccessAttempts = 3;
                options.Lockout.DefaultLockoutTimeSpan = TimeSpan.FromMinutes(3)

[2018-06-04 20:36] HaoK commented on #1764
Did you turn the lockout flag on in your PasswordSignIn call in the controller/login action?

[2018-06-04 20:48] dviry commented on #1764
Yes of course ;)

But really just by looking at the sourcecode (linked in my other replies) this can't work - unless I am looking at the wrong files or missing something...

Cheers

[2018-06-04 22:55] HaoK commented on #1813
Yeah I hear you @natelaff this is probably something we should address in 2.2, @ajcvickers @blowdart agreed?

[2018-06-04 23:29] natelaff commented on #1813
So what’s the path of least resistance here? Or at least the line of thinking? Are roles deprecated as a concept? Should I move to claims in general? Or are there no permission concepts happening in defaultidentity at all and it’s truely just a user store only?

[2018-06-05 00:41] HaoK commented on #1813
If you want to use roles I guess you go back to the old:

[code]

[2018-06-05 00:42] HaoK commented on #1813
The idea behind the new AddDefaultIdentity was to just hide all the AddDefaults, the old AddIdentity apis should still continue to work as before

[2018-06-05 01:10] natelaff commented on #1813
But as a more broad strokes question, clearly you intended to hide roles from default experience. Are claims that way as well? To bring any kind of permissions into this do you need to build out the config ourselves?

[2018-06-05 01:32] HaoK commented on #1813
Yes at the end of the day the only thing roles did was end up adding a Role claim permission, we feel claims based authorization is the direction we want to encourage going forward, you can still accomplish the Role permission via the user claims api

[2018-06-05 06:10] aneequrrehman opened #1817 "Alternative to AuthenticationResponseGrant?"
Is there any alternative to the following code in AspNet Core 2?

[code]

I would like to change some User Principal values inside the cookie and I do not intend to persist those in the database. Is something like the above code possible in the Asp Net Core version 2? I looked into `OnValidatePrincipal`, `IClaimsTransformation` implementations, but both of those don't fit my needs. Am I missing so

[2018-06-05 07:27] davidfowl commented on #1815
/cc @javiercn

[2018-06-05 12:01] brockallen commented on #1813
Just add a claim of type "role" to the user's claims collection in the DB.

[2018-06-05 18:08] blowdart commented on #1813
Yes, this needs fixing in 2.2

[2018-06-06 01:18] natelaff commented on #1813
Yeah, the role claim doesn't seem to affect IsUserInRole or AuthorizeAttribute with a role name.

[2018-06-06 01:38] javiercn commented on #1815
@serpent5 Can you give us more information on what you're actually trying to accomplish changing the area name/removing the constraint?

[2018-06-06 01:39] javiercn commented on #1809
This issue was moved to aspnet/Scaffolding#811

[2018-06-06 01:39] #1809 closed

[2018-06-06 01:42] Edward-Zhou commented on #1815
@javiercn  I think I got the same issue with @serpent5 . For the built-in Identity, the request URL should be `/Identity/Account/Login`, and we want to change the Login address by `/Account/Login`. But, we did not find anyway to change it.

[2018-06-06 01:44] javiercn commented on #1815
@Edward-Zhou What is motivating you to change the area?

[2018-06-06 01:48] Edward-Zhou commented on #1815
I just hope one way to control the Identity Razor library request URL.

[2018-06-06 06:52] serpent5 commented on #1815
Here are some of the disadvantages of how this currently works, as I see it:

1. Existing links need to be updated. These might be either internal to the ASP.NET Core Identity web-site or external e.g. if ASP.NET Core Identity is being wrapped up with Identity Server and said external site links to e.g. the Account/Manage page.
2. If migrating a site from ASP.NET Identity to ASP.NET Core Identity,

[2018-06-06 12:04] brockallen commented on #1813
Perhaps your claims identity is not being created the way you need it to be: https://leastprivilege.com/2016/08/21/why-does-my-authorize-attribute-not-work/

[2018-06-06 13:19] matheusmogi commented on #1787
@AdamAnandUS I'm with the same problem. Did you had resolved?

[2018-06-06 19:38] blowdart commented on #1814
@HaoK can you help?

[2018-06-06 19:42] mprevot commented on #1814
Just to mention: using the nuget package manager doesn't work since the dotnet core version (2.2-preview) were "locked" by the project.

[2018-06-06 20:32] wcvollmar opened #1818 "Nuget Package URI Error"
Upon downloading the Microsoft.AspNetCore.Identity.UI 2.1.0 package, there appears to be an error in the package structure.  When opening the package I get a "Part URI cannot start with two forward slashes" error.  I'm not actually sure where this is occurring, as the metadata appears correct.

Here's a screenshot of the error:
![nugeterror](https://user-images.githubusercontent.com/40006478/41063

[2018-06-06 21:27] HaoK commented on #1814
You should just work off of the https://github.com/aspnet/Identity/tree/2.1.0 2.1 tree if you want to work against 2.1 and not 2.2

[2018-06-06 21:27] #1814 closed

[2018-06-06 22:41] javiercn commented on #1815
@serpent5 Thanks for the detailed explanation. I've added some comments inline and I'll give you a couple of options at the end of this comment.

In general, we think of the Default UI as great starting point for new projects and for projects that require a limited amount of customization. If you want to have full control of the UI you can always scaffold the code into your project using the scaff

[2018-06-07 05:03] AdamAnandUS commented on #1787
@matheusmogi : Try this code

public void ConfigureServices(IServiceCollection services)
		{
			services.AddDataProtection().PersistKeysToFileSystem(new DirectoryInfo(@".\safespot\"));
// Other Logic Here
}

Hope this should help.

[2018-06-07 06:35] BlueMarmalade commented on #1815
I don't think this is understood. The problem for me is that when I tried to implement the new Razor identity into my asp.net core project, I followed the instructions and deleted my old identity before I used the scaffold tool to add the new razor identity.
The problem is that now when a user hits an authorized controller like Home/Index he is sent to Account/Login and not Identity/Account/Login.

[2018-06-07 13:44] serpent5 commented on #1815
@javiercn Thanks for your feedback.

The identifiability comment was due to the fact that from some of what I read about security, it's sometimes advised to hide the implementation details of your backend services for security reasons. I was just pointing out that a fixed path for the ASP.NET Core Identity Default UI endpoints exposes the fact that ASP.NET Core Identity 2.1 is being used. Whether

[2018-06-07 17:06] blowdart commented on #1818
@ryanbrandenburg Is this part of the build process, and therefore yours to enjoy?

[2018-06-07 17:19] javiercn commented on #1815
This is called security by obscurity and it is generally discouraged as it doesn't provide any real security but just the illusion of security. To draw an analogy, you don't keep your money under your bed for security (based on the fact that you are the only one that knows is under the bed), you put it on a bank where you know that someone has to go though a security guard, crack the bank vault, e

[2018-06-07 17:23] javiercn commented on #1815
@BlueMarmalade

Can you point me to those instructions? If they are in our docs, I don't think they are accurate and we should get them fixed.

Call services.AddIdentity().AddDefaultUI() or just services.AddDefaultIdentity instead. (Or just configure the identity cookie to redirect to /Identity/Account/Login

[2018-06-07 18:11] ryanbrandenburg commented on #1818
This isn't a problem in the build process, but in package authoring [here](https://github.com/aspnet/Identity/blob/dev/src/UI/Microsoft.AspNetCore.Identity.UI.csproj#L19). When we explicitly set the PackagePath to `/` it gets output into [Content_Types].xml as `<Override ContentType="application/octet" PartName="//THIRD-PARTY-NOTICES"/>`, which is what NPE is complaining about. As far as I can tel

[2018-06-07 18:44] serpent5 commented on #1815
@javiercn

This is a good example of security by obscurity, but I don't think it lines up with what we're talking about here. With your banking example, you've given up all the security provided by the bank by taking it entirely into your own hands. However, with the URL point I made, we've not given up all the existing security layers already available in the stack providing ASP.NET Core Identity

[2018-06-07 18:47] serpent5 commented on #1815
Here's the URL for the docs mentioned by @BlueMarmalade: https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?view=aspnetcore-2.1#changes-to-authentication-code.

[2018-06-07 20:57] javiercn commented on #1815
@serpent5 Thanks for pointing out the docs.
@Rick-Anderson Can you please correct the migration docs to point out that when upgrading to 2.1 your urls will change? I think the migration strategy there might be a bit naive and that we might need to provide more detailed migration steps.

[2018-06-07 21:59] sbersey opened #1819 "Can Identity be used in a WinForm App?"
I am using Identity in a APS.NET WebForm app and would like to log in users using the same identity database for my Desktop app (WinForms) that is currently using membership? Can this be done? Are their examples?

(sorry if this is not the correct format for a Q: if it is not, please inform how to post a identity Q properly)

[2018-06-08 09:27] konraddysput opened #1821 "Cannot override IdentityUserClaim keys and similar key tables"
Hello,

In our company we decide to use Guid as a key instead of int. When we override default keys in Identity I recognize that I still have int in tables: `AspNetRoleClaims`, `AspNetUserClaims` ...

Is there anyway to use in these tables Guid instead of int? Its not a bug in our code, but I cannot stop thinking about bad database design because we have two types of keys, not one.

Thanks !

[2018-06-08 15:31] summoncse opened #1822 "Customize Identity User"
How can use my AppUser without having properties of IdentityUser properties in AppUser, for example, I only want AppUser table will be created on database according to my AppUser class properties, not with IdentityUser properties.

[2018-06-08 16:11] stevenxi commented on #1543
Just found an odd issue, we've got 302 code too.
But rather than get 302 from `RedirectToAction()`, the status was set right after calling `.PasswordSignInAsync()`

Apparently "PasswordSignInAsync()" sets status code 302 when user is valid.

Normally it's ok, but we're using OTP, and not expecting a redirecting at this stage. (We don't redirect to an OTP code page, but just outputs different view)

[2018-06-08 18:00] ryanbrandenburg opened #1823 "Flaky tests: CanChainRoleValidators et all"
We see this message popping up a lot in failing identity builds on [VSTS](https://dotnet.visualstudio.com/public/public%20Team/_build/results?buildId=1053&view=logs) and [appveyor](https://ci.appveyor.com/project/aspnetci/identity/build/1.0.1587):
[code]

[2018-06-08 20:03] pwen090 opened #1824 "Securely disable asp.net core 2.1 identity user registration"
In asp.net core 2.1 identity projects with authentication for users the default UI contains user registration functionality. In the past to avoid a potential security risk (particularly for enterprise apps without open user registration) you could simply delete the relevant controller and view code for registration.

What is the proper process for disabling user registration with this new razor li

[2018-06-10 17:27] BlueMarmalade commented on #1815
Actually,  instead of using my old db context I now created a new one just for the new identity, I had no problem with the routing this time. In fact it says to create a new one in the migration if you add razor identity to an mvc app without existing identity. But it is quick to ignore this because 1) I already used a database in my app and 2) I deleted all my old identity code before adding the

[2018-06-11 10:40] tstivers1990 opened #1825 "Identity UI Unsuitable"
The new `Identity UI` library system introduced with 2.1 is unacceptable, in my eyes. There is too much background magic going on that isn't clear even after scaffolding all the pages. Not all users want to have an entire `Areas` folder with nothing but `Identity` in it while the rest of their project lives in the project root.

After scaffolding all the pages, I've noticed some pages have `[Allow

[2018-06-11 13:40] gpcottle commented on #1825
I have to say I agree. I have just been looking at the same thing, thinking I could make use of it in an application I am starting. At the moment, I am not willing to consider it as I cannot control it. When I get it back in a MVC form, where I can see the models and the controllers, then I will reconsider. In the meantime, it is dead in the water and I will go back to 2.0 for the time being.

[2018-06-11 14:47] blowdart commented on #1825
@DamianEdwards @javiercn @danroth27

[2018-06-11 14:48] blowdart commented on #1824
@javiercn did we consider this? Enhancement to make it easier later on?

[2018-06-11 14:50] blowdart commented on #1819
Membership is really rather old, and identity hasn't been decoupled from ASP.NET, You could implement your own store to talk to the old membership tables, but at lot of the things you need simply aren't going to be there in the mapping exercise.

[2018-06-11 14:51] blowdart commented on #1818
@ryanbrandenburg Do you know who that would be?

[2018-06-11 14:54] brockallen commented on #1825
Perhaps the comment I can add here is that it's very rare that in a real production app anyone would really use the default ASP.NET Identity UI/templates. They will certainly be a starting point, but they always need tweaking/customizing. This is certainly the case for every identity project I work on or that I come across in my work.

So I think I agree that the more the UI is encapsulated the ha

[2018-06-11 15:18] HaoK commented on #1824
Disabling the default UI entirely is fairly easy, you would just replace AddDefaultIdentity with the old AddIdentity/AddIdentityCore with whatever additional stores/additional servicesbut not call AddDefaultUI.

i.e. something like:

[code]

[2018-06-11 15:22] HaoK commented on #1819
We did most of the decoupling work already in 2.0, you would use only the `Microsoft.Extensions.Identity.Core` and `Microsoft.AspNetCore.Identity.EntityFrameworkCore` packages, there might not be very much sugar to register the appropriate services but these should contain everything you need to use identity for win forms for basic username/password.  It doesn't have some of the more complex login

[2018-06-11 15:46] sbersey commented on #1819
Indeed. Only looking to do user/password check and grab roles that the user is in all out of Identity.

Know of any example for these basic features in forms?

Thanks for the info below; much appreciated.

steve

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Hao Kung <notifications@github.com>
Sent: Monday, June 11, 2018 11:22

[2018-06-11 15:53] HaoK commented on #1819
No examples to date, but it should be fairly straight forward, mostly just need to call
`AddIdentityCore` on your service collection, and then create a scope before getting the managers.

It would look something like:
[code]

[2018-06-11 16:26] ryanbrandenburg commented on #1818
@kichalla is the one who created the file, so I would say he's a good bet.

[2018-06-11 18:12] javiercn commented on #1824
Hi @pwen090, thanks for contacting us.
Here is the answer to your questions:

The simplest way to accomplish this is the one you mentioned. Simply override the register view, remove the code and have it for example, redirect to the login page.

public IActionResult OnGet() => RedirectToPage("/Account/Login");

If you remove the pages, it will revert to using the ones in the library. As a more invo

[2018-06-11 18:12] #1824 closed

[2018-06-11 18:36] javiercn commented on #1825
@tstivers1990 Thanks for getting in touch with us.

The default UI is a starting point suitable for applications where there's not a lot of need to fully customize the UI. I'm not sure what background magic you are referring too; specially after scaffolding the pages, the mechanics of how it works are pretty similar to the 2.0 version in the templates, with the main exception that all the code is

[2018-06-11 19:56] tstivers1990 commented on #1825
What I meant by this is that it's not obvious where authorization is required, and where it isn't. I'm guessing this is caused by the fact that configuration is now hidden behind `services.AddDefaultIdentity<T>()` which isn't very well documented. Probably the largest chunk of the frustration being caused by the whole thing is the lack of solid documentation.

I don't mind having to write my own i

[2018-06-11 19:56] Rick-Anderson commented on #1825
[Scaffold Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.1&tabs=visual-studio)
Applications that include Identity can apply the scaffolder to selectively add the source code contained in the Identity Razor Class Library (RCL). You might want to generate source code so you can modify the code and change the behavior. For example, y

[2018-06-11 19:57] ATylerYarnott opened #1826 "Configuirability of QR code site name in UI library"
In playing with the new Identity UI as a Razor Class Library, I came across the issue of how to configure the site's QR code. Previously, it was suggested to change the value in the EnableAuthenticator.chtml.cs file (the default value would be taken from the solution name). It looks like this value is hard-coded to "Microsoft.AspNetCore.Identity.UI". Thus, every website would need to scaffold and

[2018-06-11 20:03] tstivers1990 commented on #1825
This documentation is absolutely useless. It doesn't document how Identity works as a library. We need clear documentation that outlines how Identity works. Scaffolding only tells you how the templates use Identity. It doesn't tell you how Identity can be used, or what your options are if you're looking to customize it. Identity itself really needs to be documented, imo.

[2018-06-11 20:04] Rick-Anderson commented on #1825
[Intro to Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-2.1&tabs=visual-studio%2Caspnetcore2x)
   Identity is enabled for the application by calling `UseAuthentication` in the `Configure` method. `UseAuthentication` adds authentication [middleware](xref:fundamentals/middleware/index) to the request pipeline.

[2018-06-11 20:09] Rick-Anderson commented on #1825
@tstivers1990

Thanks for your candid appraisal of my document.  That document is focused on scaffolding Identity, not explaining Identity.  See [Intro to Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-2.1&tabs=visual-studio%2Caspnetcore2x) and associated docs.

[2018-06-11 20:21] tstivers1990 commented on #1825
How is one supposed to determine what parts of the website require authorization and what parts don't, when the default project template leaves no code making this clear? A lot seems to be hidden behind `services.AddDefaultIdentity<IdentityUser>()` in the interest of making things easier for new users. But, in doing so, things have become more magic and less obvious. There's already an issue (#636

[2018-06-11 20:21] HaoK commented on #1823
@ajcvickers has EF started using VSTS at all?  It looks like all the identity SqlServer tests are timing out/failing in these kinds of builds now.  This hasn't been an issue in the past so I wonder if there's something different about the configuration (timeout too low?)

[2018-06-11 21:02] javiercn commented on #1825
@Rick-Anderson I think that what @tstivers1990 wants is better documentation on how to plug-in identity without relying on the scaffolder.

@tstivers1990  The scaffolder is just a vehicle to delivering the code into your application. If you want full control, scaffold once and remove everything you don't need.

@Rick-Anderson These are the important bits to know if you have scaffolded the code int

[2018-06-11 22:02] ryanbrandenburg commented on #1823
EF does build against VSTS, but they might also be using different timeout settings.

[2018-06-12 00:04] kofifus opened #1828 "connect to .NET Core 2.1 "Identity as UI" from a .NET Core 2.1 console app client"
I create a simple .NET Core 2.1 server using "Identity as UI" with the default template, and then add some methods

I now need to create  .NET Core 2.1 console app client but I can't find anything on how to authenticate that client with the server (with an email & password). In particular I want to authenticate and then get the authentication cookie so that I can later feed it to ie SignalR.

As f

[2018-06-12 20:39] #1811 closed

[2018-06-12 20:44] pwen090 commented on #1824
If I go with the method @HaoK mentioned, to simply not have any default UI, would the best way to bring in a base template UI be to create a second project with UI, scaffold it all, then copy over those files to my original project?

I am still wondering on the point of attack surface creep for this Identity UI library. It looks like it is included as Microsoft.AspNetCore.Identity.UI as a dependen

[2018-06-13 13:17] UnknownQuestions commented on #1815
If you want to map from Identity/Account to /Account, try out following code:
`
services.AddMvc()
    .AddRazorPagesOptions(o =>
        o.Conventions.AddAreaFolderRouteModelConvention("Identity", "/Account/", model =>
        {
            foreach (var selector in model.Selectors)
            {
                var attributeRouteModel = selector.AttributeRouteModel;
                attributeRouteM

[2018-06-13 15:23] javiercn commented on #1825
Closing this issue as we are taking action on https://github.com/aspnet/Docs/issues/6990.
Thanks for bringing this issue to our attention.

[2018-06-13 15:23] #1825 closed

[2018-06-13 16:33] douglampe commented on #1546
For anyone else who stumbled on this before solving the problem, here is the solution:
[code]
Creating a new instance of the role creates a new entity object that is in a new state which then is added to the manager context when delete is called. This is why the "object has been modified" error occurs.

[2018-06-13 18:16] blowdart commented on #1828
What's your reason for avoiding identity server? It would be the best approach

[2018-06-13 18:18] blowdart commented on #1826
I didn't realise scaffolding did this :( Yes, this sounds like a good idea. @HaoK can you estimate how long this would take for you to add the setting and wire it through to the view?

[2018-06-13 22:16] kofifus commented on #1828
I'm trying to avoid bringing in (and learning) a whole new framework when I get identity out of the box. All I need is a way to get the cookie and feed it to signalr HubConnectionBuilderHttpExtensions.WithCookie .. is that not possible ?

[2018-06-14 01:48] kofifus commented on #1828
I did ended up getting this to work like this:

On the server I scaffolded Login and then in Login.cshtml.cs added

[code]
That is I do not require the anti forgery token on login (which doesn't make sense anyway)

The client code is then like this:

[code]
(of course password will be elsewhere in deployment)

[2018-06-14 15:43] Andrioden opened #1831 "SignInManager.RefreshSignInAsync(inputuser) signs in current user instead of refreshing inputuser"
Environment:
- ASP.Net Core 2.1
- Identity with EF

By my understanding RefreshSignInAsync can be used to refresh roles for an user after you have given it new roles. However, when I do, all it does is log the CURRENT_USER user in as the CHANGING_USER user.

Here is a simplified, but still bugging version of the code, with comments of debugging state
[code]

On the redirect request I again check t

[2018-06-14 16:30] HaoK commented on #1831
Sounds like you are misunderstanding how these work, Both SignIn/Refresh typically result in the user you pass in being the User.Identitiy.Name.  Refresh sign in just carries over the authentication mode claim from the currently signed in user.  And then signs in the user you pass in.

[2018-06-14 16:36] Andrioden commented on #1831
@HaoK : Hmm. Why does the RefreshSignInAsync() accept an ApplicationUser input then? If it just uses the User.Identitiy.Name anyway?

[2018-06-14 17:27] HaoK commented on #1831
its the same thing as sign in basically, see https://github.com/aspnet/Identity/blob/dev/src/Identity/SignInManager.cs#L164

[2018-06-14 23:07] kofifus commented on #1828
solved see https://stackoverflow.com/questions/50752724/authenticate-a-net-core-2-1-signalr-console-client-to-a-web-app-that-uses-iden

[2018-06-14 23:07] #1828 closed

[2018-06-15 01:48] nicolastarzia opened #1833 "Remove some line of codes in PasswordHasher."
Could we change the lines below?
https://github.com/aspnet/Identity/blob/8cbda5a23dd594116fcd2f60c486d15fa50051af/src/Microsoft.Extensions.Identity.Core/PasswordHasher.cs#L200-L203
https://github.com/aspnet/Identity/blob/8cbda5a23dd594116fcd2f60c486d15fa50051af/src/Microsoft.Extensions.Identity.Core/PasswordHasher.cs#L214-L218

The method will be cleaner:
[code]

[2018-06-15 16:00] gberlanga commented on #1800
@adams-hub

Found this closed issue: https://github.com/aspnet/Mvc/issues/6717

Try using UseExceptionHandler.

[2018-06-15 19:05] blowdart commented on #1833
I'd argue that's actually harder to read. Sometimes clarity wins over cleanliness.

[2018-06-15 20:41] ryanbrandenburg opened #1834 "Identity UI supports Bootstrap 4.x"
Add support for bootstrap 4 in the default UI.

[2018-06-15 20:42] ryanbrandenburg opened #1835 "Add Bootstrap 4 compatible Identity UI views"

[2018-06-15 22:32] Andrioden commented on #1831
Hmm, I am sorry to be pushing this, but I am not convinced @HaoK : ["The user to sign-in."](https://github.com/aspnet/Identity/blob/dev/src/Identity/SignInManager.cs#L182) and where the [user derived princal](https://github.com/aspnet/Identity/blob/dev/src/Identity/SignInManager.cs#L195).

- The input user is documented in your code as the user that is being signed in.
- Yes, it seems like some au

[2018-06-15 23:44] HaoK commented on #1831
It doesn't, it uses the claims principal you pass it

[2018-06-15 23:56] Andrioden commented on #1831
Ok. I give up. You dont take your time to address
- Why it accepts a TUser object
- Why it is documented like it is `<param name="user">The user to sign-in.</param>` [ref](https://github.com/aspnet/Identity/blob/dev/src/Identity/SignInManager.cs#L182)

I have figured out a workaround for this lacking functionality, feel free to close the question.

[2018-06-15 23:58] #1831 closed

[2018-06-16 17:04] HaoK commented on #1625
You need to add roles back, it isn't enabled by default anymore `.AddRoles<IdentityRole>`

[2018-06-17 12:00] Kiiyya opened #1836 "IdentityServiceCollectionExtensions.AddIdentity<TUser,TRole>() doesn't have a type constraint for IdentityUser and IdentityRole"
Basically this becomes a run-time exception while it could easily be a compile time error:

![image](https://user-images.githubusercontent.com/17028679/41507646-c36223ec-7236-11e8-9278-b35dd701a87e.png)

(Hint: I'm still new to Asp.Net authentication so I might be wrong)

[2018-06-17 13:45] tstivers1990 opened #1837 "Lack of documentation on adding roles and assigning roles to users"
As the title says, there is a complete lack of documentation when it comes to role management. There's plenty of documentation on how to limit access to content based on roles. But none when it comes to creating roles, deleting roles, giving roles to users, and taking roles from users.

[2018-06-18 12:48] tstivers1990 opened #1839 "Razor Pages _ViewImports documentation could be more clear"
https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/?view=aspnetcore-2.1&tabs=visual-studio#using-layouts-partials-templates-and-tag-helpers-with-razor-pages

The part of this documentation that details the `@namespace` declaration could be made more clear. It has led some people to believe `@namespace` should be used as though it is a `using` statement. See the linked StackOverflow answe

[2018-06-18 17:46] blowdart commented on #1839
This doesn't appear to be an identity issue, so moving.

[2018-06-18 17:46] blowdart commented on #1839
This issue was moved to aspnet/Mvc#7932

[2018-06-18 17:46] #1839 closed

[2018-06-18 17:47] blowdart commented on #1837
@Rick-Anderson One for you?

[2018-06-18 17:47] #1833 closed

[2018-06-18 18:02] tstivers1990 commented on #1839
Thanks. I derped and put it in the wrong place.

[2018-06-18 18:11] Rick-Anderson commented on #1837
I though you preferred [authorization handlers](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data?view=aspnetcore-2.1#create-owner-manager-and-administrator-authorization-handlers) to roles.

[2018-06-18 18:26] martinpetrovaj opened #1840 "Scaffolding Identity code?"
Hey guys, quick question. One of the older blogs ([this one](https://blogs.msdn.microsoft.com/webdev/2018/03/02/aspnetcore-2-1-identity-ui/)) mentions that we should be able to also scaffold the "old" Identity (like normal controllers and views to which are all sensible and sane MVC people used to) - quoting the linked post:

So at least that is how I understood it. Is this already implemented, ha

[2018-06-19 09:33] tstivers1990 commented on #1840
That quote is intended to mean that you can scaffold the `cshtml` files into your application. It's not intended to mean that you can scaffold the old controllers into your application.

[2018-06-19 12:48] ms92ita opened #1841 "Storing huge amount of data in claims creates too large cookie ticket"
Hi guys,

I have encoutered that if I have some data in user claims (from Azure SQL as storage and we use them such as dynamic properties without creating database columns), the cookie manager creates a ticket that in some cases reaches the limit of bytes per domain and I think that depends from the amount of data from the user claims.
I am using .NET 4.6.1.

Since that some of this data is vital

[2018-06-19 17:20] HaoK commented on #1841
You can plug in your own claimsprincipalfactory to strip out claims from the identity before it gets sent to the cookie.

[2018-06-20 07:49] ms92ita commented on #1841
Thank you for the answer.
It seems that it is possibile to implement a ClaimsPrincipalFactory only in .net core and before I've specified that I am using .NET 4.6.1
At the moment I can not update the application to Asp.Net Core.
Modifying/deleting not useful claims when I have created the identity with UserManager.CreateIdentity can be a solution?

[2018-06-20 08:00] HaoK commented on #1841
Yeah CreateIdentity is the equivalent, if you have any more issues, you should use the https://github.com/aspnet/AspNetIdentity repo for pre core identity issues

[2018-06-20 08:00] #1841 closed

[2018-06-20 08:01] kassim-shaikh opened #1842 "Extend UserManager<T> class for Custom Password Hashing service"
Hi,
I am using Identity framework for user profile management in my MVC application. There are certain aspects  of the identity framework which  i want to customize based on application need. One of them is **Custom password hashing** :

I am using combination of Salt, DEK and MEK to generate the random salt and encrypt it with random DEK once the hashing is done. I can't find a way to incorporate

[2018-06-20 23:54] kanadaj opened #1845 "Refreshing claims in cookie on principal refresh"
Hi guys,

I have a question here. I have a Cookie authentication based web application which uses a custom `IUserClaimsStore` that adds additional claims to the user based on some extra tables. The problem I'm facing right now is that even though those tables' value changes, the user's claims don't seem to get refreshed from the `IUserClaimsStore` even when the security stamp is re-validated.

I d

[2018-06-21 01:03] kanadaj commented on #1845
After looking more at the pipeline, it should really refresh the user from the data in the database. I wonder why it didn't work as intended...

[2018-06-21 13:42] kanadaj commented on #1845
Moving this to https://github.com/aspnet/Security as this seems to be an issue with the Cookie Authentication pipeline. There is a quick and dirty hotfix posted at https://github.com/aspnet/Security/issues/1788#issuecomment-399099841

[2018-06-21 13:42] #1845 closed

[2018-06-22 11:48] myrup commented on #1802
I'm seeing a similar error message with IdentityUserClaims<Guid>. Shouldn't

[2018-06-22 11:49] myrup commented on #1802
I'm seeing a similar error message with IdentityUserClaims<Guid>. Shouldn't ´´´c# services.AddIdentity<Models.User, IdentityRole<Guid>>()
                    .AddEntityFrameworkStores<BoneDbContext>();

[2018-06-22 11:56] myrup commented on #1802
@ajcvickers I'm seeing a similar error message with ```IdentityUserClaims<Guid>```. It can be mitigated by adding
[code]
To the db context. Shouldn't
[code]
add all the identity DbSets by itself?

[2018-06-22 16:31] danroth27 commented on #1835
@ryanbrandenburg How is this different from #1834?

[2018-06-23 15:44] andyfurniss4 commented on #1706
@chrisdpratt I've followed your solution above and I've created a new controller for managing the login and logout requests but I'm getting stuck in a redirection loop on the login page.

Startup:
`// Identity
services.AddAuthentication(o =>
{
	o.DefaultScheme = IdentityConstants.ApplicationScheme;
	o.DefaultSignInScheme = IdentityConstants.ExternalScheme;
})
.AddIdentityCookies(o => { });

servic

[2018-06-23 20:59] andyfurniss4 commented on #1361
@weitzhandler Thanks for your solution. I think I've nearly implemented it but When getting my users via Usermanager.users, the UserRole's Role object is null, but the RoleId does have a value.

Here is my mapping:
[code]

I'm using the default table names so I've cut out a few bits from your code but I think I got everything that was necessary but perhaps not! Any ideas?

[2018-06-23 22:16] andyfurniss4 commented on #1361
Here's my full solution (using default table names): https://stackoverflow.com/a/51005445/5392786

[2018-06-25 16:21] ryanbrandenburg commented on #1835
I don't think it is, I probably got interupted in the middle of filing my list of issues and double-filed.

[2018-06-25 16:21] #1834 closed

[2018-06-26 09:07] Caizhenyu opened #1848 "IdentityOptions.User.IdentityOptions.User.AllowedUserNameCharacters set to support a language not English, like Chinese?"
How can i set `AllowedUserNameCharacters` to support Chinese?
I need it to be UserName not Email.

[2018-06-26 12:51] blowdart commented on #1842
https://github.com/aspnet/Identity/blob/dev/src/Core/IPasswordHasher.cs is the interface for hashers.

Then shove it in DI after you've added Identity,

services.AddSingleton<IPasswordHasher<TApplication>, YourPasswordHasher<TApplication>>();

[2018-06-26 12:52] #1840 closed

[2018-06-26 12:55] blowdart commented on #1848
You'd specify all the allowed characters in the option you mention. But given the large amount of Chinese characters that's probably not going to work for you. Instead try your own UserValidator, using https://github.com/aspnet/Identity/blob/dev/src/Core/UserValidator.cs as a staring point

[2018-06-26 13:04] damienbod commented on #1835
I updated Identity to Bootstrap 4. Maybe you could use this:

https://damienbod.com/2018/06/26/updating-asp-net-core-identity-to-use-bootstrap-4/

[2018-06-26 16:45] ryanbrandenburg commented on #1835
Awesome @damienbod, that will be at minimum a great reference point.

[2018-06-27 01:11] Caizhenyu commented on #1848
@blowdart ，thank you. But i will add a property Name in my User : IdentityUser.

[2018-06-27 07:58] Caizhenyu opened #1849 "Can Web Api generate a _ValidationScriptsPartial"
I want to create a Web Api project and i want to use Identity.
I know in MVC' script, there is `@await Html.PartialAsync("_ValidationScriptsPartial")`,
but in api project, can i get a  _ValidationScriptsPartial or other property the same use?

[2018-06-27 07:59] #1848 closed

[2018-06-27 09:59] skyflyer opened #1850 "Documentation for two factor (2FA) TOTP support"
ASP.NET Identity 2.x includes support for two factor TOTP authentication using an authenticator on the smartphone. I couldn't find it documented anywhere. All I could find is configuring two factor auth with SMS Code, even though the docs specifically refer to TOTP as more appropriate:

From [docs](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes?view=as

[2018-06-27 13:30] blowdart commented on #1850
This issue was moved to aspnet/Docs#7326

[2018-06-27 13:30] #1850 closed

[2018-06-27 13:30] blowdart commented on #1849
I don't understand your question. What are you trying to achieve?

[2018-06-27 18:36] ATylerYarnott commented on #1826
In looking more into this, perhaps a better config property name would be AuthenticatorIssuer as opposed to AuthenticatorSiteName, since it doesn't strictly have to match the site name and more closely matches the URI format.

[2018-06-27 20:58] HaoK commented on #1826
We are just talking about making this line configurable right?

https://github.com/aspnet/Identity/blob/dev/src/UI/Areas/Identity/Pages/Account/Manage/EnableAuthenticator.cshtml.cs#L159

[2018-06-27 21:01] HaoK commented on #1826
We could just add something to https://github.com/aspnet/Identity/blob/dev/src/Core/TokenOptions.cs

so you'd be able to do:

[code]

[2018-06-28 05:30] Caizhenyu commented on #1849
@blowdart , thank you and sorry , it's not clear . I want to implement a identity  system by using net core identity, and the system isn't a mvc project, it just a api project. so i need generate a  Antiforgery token. I found my answer here [https://docs.microsoft.com/zh-cn/aspnet/core/security/anti-request-forgery?view=aspnetcore-2.1#javascript-ajax-and-spas]

[2018-06-28 05:39] #1849 closed

[2018-06-28 16:13] NinoFloris opened #1852 "Consider changing AddIdentityCookies to be in line with other authentication builders by returning the AuthenticationBuilder instead of IdentityBuilder"
Consider changing AddIdentityCookies to be in line with other authentication builders by returning the AuthenticationBuilder instead of IdentityBuilder

[2018-06-28 17:31] weedkiller commented on #1207
Hello, when will this ship - for managing tenants & roles

[2018-06-28 17:43] blowdart commented on #1852
Why? It's very much part of identity, it's not stand alone.

[2018-06-28 17:51] HaoK commented on #1852
Yes this was intentional as we wanted to expose the API from IdentityCookiesBuilder to customize the cookies further

[2018-06-28 18:01] NinoFloris commented on #1852
@blowdart  You might not use this day to day but it breaks normal AddAuthentication fluent builder flows. There is this expectation around certain service builders that they don't branch into different builder instances as it breaks your configuration chain.

All the libraries I know of, even big ones like aspnet-contrib openid server just provide you with the option of their own configuration ins

[2018-06-29 04:39] dougbu commented on #1630
Once we've worked around this issue or it's fixed in .NET, should revert aspnet/Mvc@192e8073ee

[2018-06-29 11:11] jtheisen commented on #1773
The main problem here is that the error messages aren't that helpful. You only get

    An error occurred while accessing the IWebHost on class 'Program'. Continuing without the application service provider.

in the console and then a failure to instantiate the context as the connection string isn't available.

Perhaps that error that occurred there has a message on its own that could be displayed

[2018-06-29 15:47] doghappy commented on #1822
`Identity` is a good framework, but how do you use it?
there seems to be no documents and sample
every time I try to use it, I encounter a lot of difficulties, so I give up

1. how to use Identity based on existing project?
2. how to custom User, Role, and column name

[2018-06-29 19:38] blowdart commented on #1849
Ah thanks! One other option I'd look at is IdentityServer, so you'd use OIDC to get a token to authenticate against the API project through the authorization header. Which is nice and standard.

[2018-06-29 20:59] ckams opened #1855 "Many-to-many relationship between IdentityRoleClaim and IdentityRole and message: Only backing fields of types that are assignable from the property type can be used."
More information on the context can be found here:
- https://github.com/aspnet/EntityFrameworkCore/issues/12458

I get this:

Here a repo
- https://github.com/ckams/-Buggy-__BackingField

[2018-06-29 21:18] ckams commented on #1822
Maybe these links will be helpful (at least they help me to write some custom Identity):
- https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-custom-storage-providers?view=aspnetcore-2.1
- https://docs.microsoft.com/en-us/aspnet/identity/overview/extensibility/overview-of-custom-storage-providers-for-aspnet-identity
- https://github.com/aspnet/Identity

And this one prov

[2018-06-29 21:42] ajcvickers commented on #1855
Note for triage: the issue is triggered by a hiding a property in a mapped base class with another property in the derived class when attempt is made to include them both in the model. Simplified repro:

[code]

[2018-07-02 13:14] zhulien-ivanov opened #1856 "ConfirmEmailAsync in UserManager does a ton of unrelated actions and validations"
**`ConfirmEmailAsync`** in **`UserManager`** should validate a token and set the **`EmailConfirmed`** flag to true. However, in the current implementation, we save the context changes through invoking the **`UpdateUserAsync`** method. It re-sets the Normalized username and email and then calls the **`ValidateUserAsync`** method, which in turn runs the user validators. It is not that great of an ov

[2018-07-03 01:34] natelaff opened #1857 "Make ExternalLoginsPageFilter accessible"
Scaffold identity, but want to remove the "Identity" area folder. Have to add Razor page options to new area. Would be nice if we didn't have to duplicate ExternalLoginsPageFilter because its internal to UI. If we're scaffolding identity, one can assume we'd want this filter, too.

[2018-07-03 02:56] natelaff commented on #1857
Actually, I'm not positive this is actually used anywhere? Even in DefaultIdentity? ManageNav takes care of this on its own? What's this filter for?

[2018-07-03 11:36] egmfrs opened #1858 "What is considered best practice for disabling / deactivating users?"
I would define disabling / deactivating a user as having a property held against that user which prevented them from being able to log into the application when the property had been set to a certain value.

We are building an admin section where admin members can disable / re-enable users as required.

The options I have identified:

1. Set email confirmed to false. To re-activate a user, regener

[2018-07-03 11:44] ckams opened #1859 "RoleClaims: Usages Designs and Questions"
**Maybe I am missing something**, but I find RoleClaims "badly considered", even neglected.

Whereas Role Claims/Group Claims are **essential for intranet Apps (Windows authentication), and "general" group membership**—without them, it will lead to some repetitive code, **or to write custom Identity**— I find that they are not "user friendly".

So I have some questions, and will share some thought

[2018-07-03 11:50] egmfrs opened #1860 "Determine if Confirmation Email link failed because Token expired"
Is there a way to do this? Like an error code that will return when the email confirmation token has expired?
For example if the error code was "TokenExpired" I could use the following to return the user to a specific view which gives them advice on a process to follow if their token has expired:

[code]

[2018-07-04 06:19] damienbod commented on #1735
I created a localization of the Identity lib released in 2.1.

https://github.com/damienbod/AspNetCorePagesWebpack/tree/master/AspNetCorePagesIdentity

I was wondering if you could use this, or how you plan to support this. When doing this I noticed a few problems, had a few questions.

Will you create 1 localization resource for the whole Identity package, or one per page ~40 pages?
which would m

[2018-07-04 10:12] zhulien-ivanov opened #1861 "ConfirmEmailAsync in UserManager is not doing a check if the email is already confirmed"
Hey. Shouldn't the **`ConfirmEmailAsync`** method in **`UserManager`** do a check if the email is already confirmed? Is it an adequate behaviour to successfully confirm an already confirmed email? It basically don't change the outcome in any way(and the operation can be considered as successful), because the email confirmation state stays the same, but shouldn't it be considered an exceptional beh

[2018-07-05 08:10] Buggyy commented on #1453
Any progress made on this issue?

[2018-07-05 08:13] davidfowl commented on #1453
@Buggyy this is by design.

[2018-07-05 14:23] flatproject commented on #1859
I would like to see some usage examples as well. Very useful but completely undocumented.
Can they be used with the Authorize attribute?

[2018-07-05 15:16] HaoK commented on #1858
All of these should work, there was some effort around making it easy to do via SignInManager's CanSignIn method, so 3 is probably closest to how we envisioned something like this working, but the other two options seem reasonable as well.

[2018-07-05 15:17] HaoK commented on #1856
Yeah this is the general pattern of UserManager methods that persist the user.  Update is the only operation that saves the user, and it always runs the valdiation/actions you see.

[2018-07-05 15:17] #1856 closed

[2018-07-05 15:45] blowdart commented on #1861
No. You have the `IsEmailConfirmedAsync` method to check with. If you're calling `ConfirmEmailAsync` we're going to do what the method indicates, send a confirmation notice.

[2018-07-05 15:45] #1861 closed

[2018-07-05 15:46] blowdart commented on #1860
We'd consider this giving away a little too much information to a potential attacker I'm afraid.

[2018-07-05 15:47] blowdart commented on #1859
@Rick-Anderson Documentation required.

@flatproject That is documented at https://docs.microsoft.com/en-us/aspnet/core/security/authorization/roles?view=aspnetcore-2.1

[2018-07-05 16:12] egmfrs commented on #1860
@blowdart thanks for the confirmation. Could you possibly elaborate on how an attacker could use a "token expired" response to their advantage?

[2018-07-05 16:32] blowdart commented on #1859
@ckams It's unclear what you're asking for here. Certainly there seems to be a bit of confusion between roles, claims and the role claim itself, which admittedly isn't helped by documentation. Why do you feel roles are many to many? Consider the usual Admin role. It's a 1 to many, 1 Admin role, with many members. Then you authorize on the role. We don't assign claims to a role, the role itself is

[2018-07-05 16:33] blowdart commented on #1860
You'd be confirming the token was once valid, and that it's in the correct format. Think about it like returning an error from a login screen. You don't say "We don't know that login ID" or "That password expired ages ago, you have a new one", we just return "Login is invalid"

[2018-07-05 20:02] ckams commented on #1859
@blowdart
Well, as there is no documentation, I see **role claim** like this ("in much more complex and powerful way"):
- We can use **role claim** for "Group Policy", **in assigning claims**.
    - **As in Active Directory Groups GPO and access permission, or Linux/Unix groups permissions.** (To get a more fine grained access control.)
- Users are in one or more groups, and these groups have perm

[2018-07-05 20:49] ajcvickers commented on #1855
Moved to https://github.com/aspnet/EntityFrameworkCore/issues/12565

[2018-07-05 20:49] #1855 closed

[2018-07-06 10:11] ckams commented on #1855
As I did before :p

[2018-07-06 14:39] Zyano commented on #1852
The pattern of returning a custom builder is also used with the AddMvc() extension method which reutrns the IMvcBuilder.
While I don't mind either approach I do prefer the case of returning a custom builder as it promotes a chain of configuring one service and then moving on to the next with clear separation as shown below.

[code]

@NinoFloris You are entirely correct that a lot of libraries use

[2018-07-06 15:03] flatproject commented on #1859
@blowdart apologies but I cannot see any documentation regarding the RoleClaims table and how we can use it or if the Authorize attribute uses/can use the claims of the RoleClaims table.

If I add a claim in the RoleClaims table then what? How can i use it?

The quoted link doesn't make any reference to RoleClaims.

Thank you

[2018-07-06 15:04] blowdart commented on #1859
So you're right, there's no documentation. You can follow the docs issue at https://github.com/aspnet/Docs/issues/7469

As this is really a docs issue I'm going to close this one, and work on getting the missing docs done.

[2018-07-06 15:04] #1859 closed

[2018-07-06 15:09] ckams commented on #1859
@blowdart
And what about the design? Could it be "revised"?

[2018-07-06 15:11] blowdart commented on #1859
Not easily, because it'd be a breaking change and may affect how others are using it.

If you want fine grained you go to claims. Roles are a hold over from NT Domains/Groups, which were extended to be more useful by assigning claims to them as well as the role name, so folks could get claims in an easier to manage manner.

[2018-07-06 15:24] ckams commented on #1859
For now, I do not see who to get the same result I need, with claims only. Maybe the future documentation will be helpful.

Unfortunately it is "too simplistic". Too bad, because we could get a powerful ACL system in ASP.NET Core.

[2018-07-06 15:28] blowdart commented on #1859
Keep in mind we write frameworks. If what we have meets 95% of our users needs, with enough flexibility for others to go further than that's great for us. And you do have the flexibility with claims and authorization policies. Identity is meant to be simple, not all things to all people.

[2018-07-06 16:05] ckams commented on #1859
I agree, but
- it will be better/easier to understand with a doc… **for now nothing is easy in the flexibility/customization** (even if I succeed to do what I want, it costs me too much time because of the lack of documentation)…
- ACL is not something too much complex for enterprise level app… (I used to code in PHP, and Zend frameworks, Joomla, etc… provide ACL. With all due respect, In comparis

[2018-07-07 10:03] ckams opened #1863 "Feature Request—Consider providing ACL in ASP.NET Core Identity"
To get some context about the request, see the issue https://github.com/aspnet/Identity/issues/1859

## Consider providing ACL in Identity
Well as in the title: consider providing ACL in ASP.NET Core though Identity.

### Some arguments
- ACL is not something too much complex for enterprise level app…
- What Identity provides today, **about group management**, is out to date (again see the issue [

[2018-07-07 12:02] CeelMarten opened #1864 "Can't configure Identity"
I have a class **ApplicationUser**  witch inherited from **IdentityUser<long>**
[code]
and I want to use it in **ApplicationDbContext**
[code]

Visual Studio says that I can't use **ApplicationUser** because there is no implicit reference conversion from **ApplicationUser** to **IdentityUser**. I found this in github where

[code]
the solution is to change code from
`.AddEntityFrameworkStores<Appl

[2018-07-07 12:44] CeelMarten commented on #1864
I found the solution. Just Inherit `ApplicationUser `from `IdentityUser<long>`, `ApplicationUserRole  `from `IdentityUserRole<long>` then use
`public class ApplicationDbContext : IdentityDbContext<ApplicationUser,IdentityRole<long>,long>`

[2018-07-07 12:44] #1864 closed

[2018-07-07 16:33] tomasmot commented on #1590
I had the same issue. I made my base class abstract and it works as intended.

[2018-07-08 22:31] dm-CaT opened #1865 "UserManager -> SetPasswordHashAsync is called before CreateAsync(user)"
Is there any reason why when the new user is created with password the password hash is set before user is saved?
I'm trying to implement my own IUserStore/IUserPasswordStore (to use custom DAL). But I got an error because my store cannot set password hash (update record in DB) to non created user.
Here is the code from UserManager which causes an error.
[code]
 [Link on method](https://github.com

[2018-07-09 04:45] tstivers1990 opened #1866 "ActivePage declarations missing on scaffolded Identity UI"
Some of the ActivePage declarations are missing on the default scaffolded Identity UI. This causes some pages not to show an active item in the relevant nav section.

Some pages also use an ActivePage declaration that doesn't have a corresponding item in the navigation section, resulting in those pages not showing an active navigation item.

I've created a pull request that adds the missing Active

[2018-07-09 13:45] flatproject opened #1867 "Two factor authentication by Email"
Is it possible to configure 2FA via email in a .net core 2.0 or 2.1 application?

I can't find any information anywhere about it apart from SMS or QR code examples which are not usable in a PCI compliant environment.

Are there any email 2FA examples anywhere?

Thank you

[2018-07-09 13:53] brockallen commented on #1867
Yes, it's still in there (and presumably supported). My suggest is to create an ASP.NET Core 1.x project and see how the starter code does it.

[2018-07-09 14:59] flatproject commented on #1867
That's great, thank you! I can confirm I followed the process from core 1.x and it worked without any issues.

[2018-07-09 16:03] benm-eras opened #1868 "Why are the `DbSet` in `IdentityUserContext` non-virtual?"
In ASP.NET Core 2.x the `DbSet`s defined in the abstract classes `IdentityDbContext` and `IdentityUserContext` are all non-virtual making it much harder to effectively mock my database context that is built on them. It looks like they were virtual in ASP.NET Core 1.x, although the library was arranged differently then, so I am not 100% sure on that.

Is there a reason that they cannot just be made

[2018-07-09 19:54] javiercn commented on #1866
@tstivers1990 Thanks for filing the issue. It's clearer to me now. I've commented on the PR https://github.com/aspnet/Identity/pull/1838. The changes look good, but we need to remove the breaking changes as we want to take this into a patch.

@mkArtakMSFT This is a patch candidate.

[2018-07-09 23:22] mkArtakMSFT commented on #1866
Hey @vijayrkn, this will require also a fix in Scaffolder. I'll take this one to the Shiproom.

[2018-07-09 23:29] vijayrkn commented on #1866
@seancpeters - Can you please make the corresponding scaffolding change?

[2018-07-10 17:02] blowdart opened #1870 "Microsoft Security Advisory CVE-2018-8171: ASP.NET Core Security Feature Bypass Vulnerability"
# Microsoft Security Advisory CVE-2018-8171: ASP.NET Core Security Feature Bypass Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in ASP.NET Core. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware

[2018-07-10 19:56] #1866 closed

[2018-07-11 16:08] Freakazoid182 opened #1871 "Wrong password logging with Warning level"
In my opinion this should be an Information level warning. What is the reason behind a Warning level here?

https://github.com/aspnet/Identity/blob/c7276ce2f76312ddd7fccad6e399da96b9f6fae1/src/Core/UserManager.cs#L711

[2018-07-11 17:23] blowdart opened #1872 "[bug].net core 2.1,Identity will throw exception while implement IdentityUser. But .net core 2.0 is Ok."
_From @Caizhenyu on July 7, 2018 11:58_

I am using asp net core Identity Framework on core 2.1, and I implement my  `ApplicationUser : IdentityUser` .Then there will throw Exception like the screenshot .
But I found that, the same code is Ok on core 2.0, or I just user IdentityUser not my own ApplicationUser is also ok while `services.AddIdentity<TUser, TRole>`.

Is it's a core 2.1 bug?
![tim 201

[2018-07-11 17:53] brockallen commented on #1872
Sounds like a DI config bug. Normally `AddIdentity<CustomUser>` would add the `UserManager<CustomUser>`

[2018-07-11 19:40] HaoK commented on #1813
Fixed via https://github.com/aspnet/Identity/pull/1832

[2018-07-11 19:40] #1813 closed

[2018-07-11 21:23] bigpodgurc opened #1874 "using same ASP.net core identity for multiple web applicaitons"
Hello

I want to have 3 different web applications but want to use same identity back end application so i have SSO. im using Individual user accounts

thanks

[2018-07-12 02:00] Caizhenyu commented on #1872
@brockallen ,so ,i think it's maybe a bug

[2018-07-12 08:10] Halofreak1990 commented on #1766
Another confusing part, is the fact that if your user store does not implement IUserSecurityStampStore<TUser> the SecurityStampValidator will always invalidate the identity cookie after 30 minutes (or whatever timespan you've got configured).

On top of this, the Identity component has its own cookie settings, separate from other cookie-related middleware, leading to a confusing mess, and no easy

[2018-07-12 08:51] AdrienTorris commented on #1874
You can check the eShopOnContainers template, there is an centalized Identity service : https://github.com/dotnet-architecture/eShopOnContainers

[2018-07-12 09:42] bigpodgurc commented on #1874
I was hoping its something that could be used with already made identity individual user authenticaton

[2018-07-12 12:46] brockallen commented on #1766
The expiration is in the [protected] payload of the cookie, not the cookie expiration flag that the browser dev tools show you.

[2018-07-12 18:06] HaoK commented on #1872
What's startup look like?

[2018-07-12 18:12] HaoK commented on #1836
This is intentional, AddIdentity allows arbitrary TUser/TRole types, its AddEntityFrameworkStores that requires TUser/TRole to be derived from IdentityUser/Role

[2018-07-12 18:12] #1836 closed

[2018-07-12 18:13] #1819 closed

[2018-07-12 18:36] blowdart commented on #1874
You could use Identity Server as the login point, and then connect your web sites to that via OIDC

[2018-07-12 18:37] blowdart commented on #1871
Because some people use those logs to monitor for attacks. Hence it's a warning that something you might want to look at is happening. It won't change.

[2018-07-12 18:37] #1871 closed

[2018-07-12 18:37] #1867 closed

[2018-07-12 18:41] #1858 closed

[2018-07-12 18:41] #1860 closed

[2018-07-12 19:07] HaoK commented on #1865
So Create/Update are the methods that actually persist the user, so updates to the poco need to happen before those methods are called to persist the user

[2018-07-12 19:11] HaoK commented on #1868
I don't believe there's anything preventing us from making them virtual, @ajcvickers can confirm.

This is something cheap we can do for 2.2

[2018-07-12 19:42] dm-CaT commented on #1865
Can you point me for some correct example  how to implement custom UserStorr?

[2018-07-12 20:55] HaoK commented on #1865
The general idea is that Update/Create/Delete are the only methods that should persist to the backing store.  All of the other methods should only be manipulating the user/role.

[2018-07-12 21:00] dm-CaT commented on #1865
This case I need to have PasswordHash property for user class. It looks not so good, because I want to have possibility to pass user objects anywhere I need without sensitive information like PasswordHash. Even if it's hash.

[2018-07-12 21:34] HaoK commented on #1865
You can store it somewhere else, it doesn't have to be a property on the user class

[2018-07-12 21:38] dm-CaT commented on #1865
I tried to go this way but I cannot. I have to link password hash with user it belongs to, e.g. store it with user id. But when I have hash to store I do not have user id yet. That's my problem.

[2018-07-12 21:42] bigpodgurc commented on #1874
thats one thing i was looking at but for now i was still looking at something that could work with what i already have(i have on onee web app accounts already and i dont want migrating accounts if it isnt neccecery)

[2018-07-12 21:46] HaoK commented on #1865
You will probably have to plug in a custom UserManager that switches the order of operations and CreateUser and then UpdatePasswordHash in your situation

[2018-07-12 21:47] HaoK commented on #1865
Or maybe just use the username as the foreign key assuming you don't let people change that

[2018-07-12 21:50] dm-CaT commented on #1865
User name as FK is not a choice. Looks like I have to implement a custom UserManager.

[2018-07-12 22:18] brockallen commented on #1874
You don't need to migrate your user data to use IdentityServer.

[2018-07-12 23:59] bigpodgurc commented on #1874
didnt know that

[2018-07-13 00:22] bigpodgurc commented on #1874
@brockallen just a quick question for information if it is needed in future is there a way to use identityserver for logins in lets say console app, (basicly login in console app and for backend it uses identity server)

[2018-07-13 01:41] Caizhenyu commented on #1872
@HaoK, nothing special.
`ApplicationUser : IdentityUser`

`ConfigureServices:
services.AddIdentity<ApplicationUser, IdentityRole>()
                .AddEntityFrameworkStores<ApplicationDbContext>()
                .AddDefaultTokenProviders();`

`Configure:
app.UseAuthentication();`

you can rebuild it 3min.