[2016-01-28 05:04] PMExtra commented on #720
What? I know CanSignIn()
but the method could only return a bool value.
and finally I will get the SignInResult.NotAllow.
I want to custom the SignInResult with my check.

[2016-01-28 14:41] flensrocker commented on #718
Ok, waiting for the next version. :)
I successfully use IdentityUser and IdentityRole with Int64 keys. Just found these two functions which lacks support for custom key types. Most of the time I need FindByNameAsync.

Thanks!

[2016-01-28 15:47] sgadoury opened #725 "Downgrade from EF7 to EF6"
Hi,

I created the issue #4419 in EntityFramework I juste closed because my problem is not with EF, but with Asp.Net identity.  Since EF7 does not support Oracle, I need to downgrade to EF6.  My problem is with Asp.Net identity.  Do you know how I can downgrade?  Do you have an example of Asp.Net identity with EF6?  It is because I tried to changed EF version and all seems to be link.  Is it possi

[2016-01-28 21:21] HaoK commented on #721
CanSignIn is the method that looks at the SignInOptions like RequireConfirmedEmail.  The two normal flows (PasswordSignIn/ExternalSignIn) ensure that CanSignIn is true before calling SignIn.  But if you are directly calling SignInAsync, you will need to check that the user can sign in first if desired.

We could tweak this a bit, by having an overload of SignInAsync that takes a `bool checkCanSign

[2016-01-28 21:41] blowdart commented on #721
I don't think the parameter clarifies anything :(

[2016-01-28 21:47] rustd commented on #721
Well atleast it puts it in the API so users can see. Without it they need to find the other API to call :)

[2016-01-28 21:58] HaoK commented on #721
Well the implementation change with the new overload would push the check into SignIn instead of Password/External, so we could have SignIn default to check the flag, and only if you explicitly disabled it would you get the existing behavior (so it'd be a slight breaking change)

[2016-01-29 09:28] PMExtra commented on #720
@rustd Could you review the issue？

[2016-01-29 09:43] PMExtra commented on #720
ok, i got it.
override the SignInAsync() will solve my problem. It seems that all xxxSignIn method will call SignInAsync() inner.

[2016-01-29 09:55] PMExtra commented on #721
ok, I got it.
But, there is still a problem about the project template in Visual Studio (2015 Update1) :
if I set RequireConfirmedEmail = true in SignInOptions,
When I register a new account, I will login success. Then, if I logout, I couldn't login again.

[2016-01-29 16:52] madmunsterdaddy opened #727 "Guidance for changing email when requiring email verification"
I would like to see some documentation or template guidance on dealing with a user changing their email address when requiring email's be confirmed :)

[2016-01-29 16:54] PMExtra commented on #720
I am still beset by this problem...

[2016-01-29 17:12] PMExtra opened #728 "How to custom a SignInResult"
I am already submit a issue about this question at https://github.com/aspnet/Identity/issues/720 .
But this reply appear to have misunderstood what I mean.
I want to custom some check and return custom result.
Then, I can not find a suitable method to override.

ex:
My company has many employees. Some of them are in-service, and some have left.
I want to check their in-service before sign-in. And

[2016-01-29 18:44] PMExtra commented on #728
I just got, my thoughts may be wrong.
I want to declare a class " AppSignInResult : SignInResult " ,
but I can't override a method with different return type.

So, how to solve my needs like the example?

[2016-01-29 19:53] PMExtra commented on #728
...finally, I copy the source from SignInManager and custom a parallel AppSignInManager class without inherit... I solve it...

[2016-01-29 22:45] divega commented on #728
@HaoK please take a look to see if you can help.

[2016-01-30 02:16] lmxin123 commented on #676
@717009629 我也遇到这个问题，请问你是怎么解决的，麻烦发我邮箱一下 409001887@qq.com

[2016-01-30 02:19] lmxin123 commented on #676
@yuezhongxin 请问上面的代码哪里写的有问题。还有下面是我的代码，帮忙看下哪里有问题，谢谢。
`  app.UseCookieAuthentication(options =>
            {
                options.AuthenticationScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                options.LoginPath = new PathString("/user/login");
                options.AutomaticAuthenticate = true;
                options.AutomaticChallenge = true;
                option

[2016-01-30 02:24] 717009629 commented on #676
@lmxin123
ClaimsPrincipal principal = new ClaimsPrincipal(identity,CookieAuthenticationDefaults.AuthenticationScheme);

[2016-01-30 02:40] brockallen commented on #727
All IMO.

Email verification is not trivial.

Before an account should be allowed to login you should confirm their email address. This motivates the user to do this, because if you don't require it, then they'll never do it. Email being confirmed and trusted is vital for when the password needs to be reset.

To verify an email, you send a code to the email. When this code is then presented to be

[2016-01-30 02:43] lmxin123 commented on #676
@717009629 ClaimsPrincipal 并没有两个参数的构造函数。但是我使用系统自带的signInManager.PasswordSignInAsync(model.UserName, model.Password, model.RememberMe, false);是成功的。自定义的就一直不成功

[2016-01-30 02:45] madmunsterdaddy commented on #727
Yes, I tried to implement this today and failed which prompted this ticket. I created a PendingEmail column on my user class. I generated the code and shot the email to the new email address. I then logged the user out. So far so good. Once they clicked the link in the email I then set the UserName and Email (which in my case are the same), but upon attempting to confirm it, the user manager threw

[2016-01-30 02:53] brockallen commented on #727
FWIW MembershipReboot does it the way I described above.

[2016-01-30 02:54] 717009629 commented on #676
@lmxin123  你看看我写的吧
var cp = new ClaimsPrincipal(new ClaimsIdentity(new[] { new Claim(ClaimTypes.Name, u.Name) }, CookieAuthenticationDefaults.AuthenticationScheme));
            await HttpContext.Authentication.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, cp);

[2016-01-30 03:10] lmxin123 commented on #676
@717009629 我复制你的代码，也清空了cookie，调试是可以通过，没报任何异常，但是cookie里面并没有保存值，非常奇怪。请问下在 Setup里面你是怎么配置的，这个问题耽误了太多时间了，非常急着。

[2016-01-30 03:25] 717009629 commented on #676
app.UseCookieAuthentication(option =>
            {
                option.AutomaticAuthenticate = true;
                option.AutomaticChallenge = true;
                option.CookieHttpOnly = true;
                option.LoginPath = "/admin/login";

                option.AuthenticationScheme = CookieAuthenticationDefaults.AuthenticationScheme;
            });

[2016-01-30 08:56] SharePointRadi commented on #725
See this: https://github.com/OneBitSoftware/Microsoft.AspNet.Identity.EntityFramework6

It would be great if MS officially consider this EF provider, however there's lots of drawbacks due to the differences between EF6 and EF7.

[2016-01-31 10:48] pepevc opened #729 "How to control Google/Facebook/Twitter cookie expiration?"
It looks Google maintains the user 10 minutes logged in.

It is not clear in the documentation how to control this.

[2016-01-31 11:05] #729 closed

[2016-02-01 07:21] andrew-vandenbrink opened #730 "Cascading delete should work"
**This is the code to delete user**
[code]

**This is the error I get**
[code]

I can create user without any problem at all, thus Delete suppose to be just working right?

[2016-02-01 11:12] andrew-vandenbrink commented on #730
Could be caused by user still attached to role, any api to delete cascade?

[2016-02-01 13:30] praneethw opened #731 "External logins - process callback error redirect"
I am using facebook as an external login. Currently based on my configurations, upon clicking **"Okay"** and approving access to the FB app, I am redirected back to my ASP.NET site callback action and I am able to get the external login info using **GetExternalLoginInfoAsync() **.

The problem I am facing is that, during the approval process, if I click the ** "Cancel"** I am redirected to my ASP.

[2016-02-01 13:51] MaximRouiller commented on #676
I have absolutely no idea what's going on in this thread. :confused:

[2016-02-01 14:00] yuezhongxin commented on #676
@MaximRouiller You can look at this reply: https://github.com/aspnet/Security/issues/624#issuecomment-170913079

[2016-02-01 20:51] HaoK commented on #721
That is by design, you can't login if the email isn't confirmed.  You should make sure there's a flow to confirm the email before logging them in.

[2016-02-01 23:08] #721 closed

[2016-02-01 23:16] rustd commented on #725
Duplicate of https://github.com/aspnet/Identity/issues/416

[2016-02-01 23:16] #725 closed

[2016-02-01 23:27] rustd commented on #718
Closing as By Design.

[2016-02-01 23:27] #718 closed

[2016-02-01 23:55] rustd commented on #727
Thank you for the feedback. I am porting this bug to the templates repo so we can consider to add this flow to the templates.

[2016-02-01 23:55] #727 closed

[2016-02-02 01:47] sgadoury commented on #725
Thank you for your help

[2016-02-02 17:38] hannmtz85 commented on #344
[code]

[2016-02-02 18:57] HaoK commented on #728
Looks like you have resolved all your outstanding issues already?  closing

[2016-02-02 18:57] #728 closed

[2016-02-02 20:43] SharePointRadi opened #732 "Question: AddUserManager() only accepting derived types?"
I am trying to understand the design here as part of my learning of Identity.

This type check prevents using the OOTB UserManager with a custom User class that doesn't inherit from IdentityUser (the same applies to RoleManager):
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IdentityBuilder.cs#L192

so if you have something like:
`var identityBuilder = services.AddI

[2016-02-02 21:14] divega commented on #732
I believe the intent is to make sure that when you register a custom `UserManager` or `RoleManager` type it will still be assignable to `UserManager<TUser>` or `RoleManager<TRole>` for whatever `TUser` and `TRole` types you are using.

If these checks were constraining the user and role types (and I am not sure they are) that would probably be a bug as those types should only be constrained by the

[2016-02-02 23:30] stevejgordon opened #733 "Token Options"
I was wondering if it is correct within the TokenOptions class that all of the properties are set to the DefaultProvider string rather than using the Email and Phone ones where applicable?

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/TokenOptions.cs#L26

[2016-02-03 06:18] SharePointRadi commented on #732
I would also suggest that there's a unit test for this, because currently all written unit tests make use of derived UserManager classes.

I am happy to submit a PR, if it would be helpful, and we clarify the intent.

[2016-02-03 07:17] divega commented on #732
Totally agree that we should have a test for this check. A PR sounds like a good idea to me.

[2016-02-03 07:34] divega commented on #652
@HaoK @rustd I just looked at this bug and I agree we should just extend the constructors of all the versions of IdentityDbContext to take the same parameters as the base. I am assigning it to @HaoK.

[2016-02-03 07:48] divega commented on #620
Sorry for the long time it took for me to answer. If you are referring to the EF6-based store provider that we ship with ASP.NET Identity 1.x and 2.x, I think you should be able to create a derived DbContext that is gets its model from EDMX.

I haven't tried this myself but you would need to use a constructor that takes a connection string name that points to an EntityClient connection string in t

[2016-02-03 07:48] #620 closed

[2016-02-04 21:25] HaoK commented on #652
ada5756c874bec41b19b492e102c31930a09bd5d

[2016-02-04 21:25] #652 closed

[2016-02-04 22:09] HaoK commented on #716
7ba61d6c6f6ce4eaee4c5018e71fa374d99bc868

[2016-02-04 22:09] #716 closed

[2016-02-05 07:43] HaoK commented on #731
This behavior is by design, if you click cancel fb auth fails as you'd expect and that is clear from the errors in the query string "access_denied", error_reason= "user_denied"

[2016-02-05 07:43] #731 closed

[2016-02-05 07:47] HaoK commented on #731
Note if you want to handle the cancel in some way, you can hook the OnRemoteError event and look for the error_reason of user_denied to do something special...

Configure the FacebookOptions.Events
[code]

[2016-02-08 18:58] divega commented on #604
https://github.com/aspnet/Security/commit/1d2c6ba1223748df02a879622e8deb6ac23db5b7

[2016-02-08 20:21] adeel41 opened #738 "Multiple Phone Numbers"
I am working on a business model where a user can have more than one phone numbers associated to their accounts. I was wondering if it is possible using Identity Model. So far no luck. I was looking at ```IUserPhoneNumberStore``` but no use as it supports only one phone number.

[2016-02-09 00:31] joshmouch opened #739 "Multiple operations in a single transaction is broken."
It is currently impossible (or at least very difficult) to 1. create a user, 2. add the user to a role, and 3. perform some custom actions all within one transaction using the built-in classes.

I'm almost there by doing the following:
1. Set UserStore.AutoSaveChanges = false
2. Do multiple operations on user
3. Call DataContext.SaveChanges.

However, the problem is:
The process of creating a user

[2016-02-09 03:52] pepevc opened #740 "How to control Google/Facebook/Twitter cookie expiration?"
It looks Google maintains the user for 10 minutes logged in. It is not clear in the documentation how to control this. I tried multiple combinations of values for ExpireTimeSpan, SlidingExpiration, AutomaticAuthenticate, AutomaticChallenge in the AddIdentity method but nothing seems to work. I get logged of in about 10 minutes.

[2016-02-09 08:05] Roybaby commented on #627
http://www.vannevel.net/2015/03/21/how-to-unit-test-your-owin-configured-oauth2-implementation/

[2016-02-09 18:33] joshmouch opened #741 "Per-request options"
As far as I can tell, there's no way to configure any of the Identity Framework options per request.  In other words, using a Transient or Scope scoped in the DI container instead of Instance scope.

I'd like to do the following to support a multi-tenant environment:
[code]

However that method is only called once during startup, and not once per scope as I would have hoped.

Looking into the code

[2016-02-09 19:07] joshmouch commented on #741
Perhaps one way to tackle this would be to make the properties/methods on CookieAuthenticationOptions virtual so that I could override the properties and generate their value per-request.

Have you considered making your CookieAuthenticationOptions class extensible?

[2016-02-09 22:01] blowdart commented on #741
Identity is not designed for multi-tenant scenarios in any way, shape or form.

[2016-02-10 09:03] janpieterz opened #742 "Change username's default allowed characters to confirm better to email spec"
Since the default configuration in the samples, and presumably in quite a lot of systems will be that the username is the email address, it threw me off a little bit when discovering that the + sign is not an allowed character in a username.

I was thinking that it would be helpful to offer the email's allowed list (see [this ](http://stackoverflow.com/a/2049510/1202118)answer of someone diving in

[2016-02-10 14:13] MaximRouiller commented on #741
One way would be to to provision a site for each of your tenant. Each with their own identity/urls/settings/etc.

That would also allow you to control the migration of each clients onto new APIs and such.

That being said, it's not a discussion for aspnet/Identity. :smile:

[2016-02-10 14:26] joshmouch commented on #741
I think if I take the word "multi-tenant" out of the title, this is still a valid question.  Perhaps you have multiple directories in your site that require different credentials.  How would that be done?

[2016-02-10 23:10] amitkraghuvanshi opened #743 "redundant method call in UpdateSecurityStampAsync method of UserManger class"
redundant method call in  method below
     public virtual async Task<IdentityResult> UpdateSecurityStampAsync(TUser user)
        {
            ThrowIfDisposed();
            **GetSecurityStore();  // This code in not doing anything and have no use of this method call**

          if (user == null)
            {
                throw new ArgumentNullException("user");
            }

            a

[2016-02-11 07:57] kjanshair commented on #723
@SharePointRadi the code you provided is pretty long. Can you please provide a shorter and more elaborated version of the problem? I'm searching throughout the Internet but couldn't get through yet. Thanks.

[2016-02-11 11:55] ahmad-moussawi commented on #146
This can be helpful on some situations where I need to seed the database on startup and add users through the `UserManager`.

I've tried this:
[code]

but at this stage (database seeding on startup) there is no HttpContext

[2016-02-12 17:46] Tratcher opened #744 "Remove setters from IdentityCookieOptions"
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IdentityCookieOptions.cs#L53-L56
https://github.com/aspnet/Security/issues/588#issuecomment-183419422

The various CookieAuthenticationOptions properties on IdentityCookieOptions should not be settable because they contain significant default configuration.

While you're at it: What's up with the *CookieAuthenticationSch

[2016-02-12 18:07] jods4 commented on #744
@Tratcher Modifying `*CookieAuthenticationScheme` is not the only way you get the problem (at least I didn't). You can also modify `*Cookie.AuthenticationScheme` or set a `new CookieAuthenticationOptions` and the schemes are not in sync anymore.

[2016-02-12 18:27] HaoK commented on #744
Yeah these schemes no longer are needed, they used to be statics for extension methods that were removed recently.  I can nuke the duplicate copies, the only source of truth for the schemes should be the cookie options instances

[2016-02-12 19:01] HaoK commented on #744
I think the setting of cookie instances is okay on the IdentityCookiesOptions, but I agree the auth scheme properties are redundant and should be removed

[2016-02-12 19:42] #744 closed

[2016-02-12 19:59] kmitchelldavis commented on #711
@ryanschuler Were you ever able to resolve this? Getting the same problem.  Latest builds, Linux, Sqlite, OpenIddict

[2016-02-12 20:07] HaoK commented on #730
Cascading deletes should be enabled by default after this commit: https://github.com/aspnet/Identity/commit/c847f9c50df478ef826f6d4781ddcd760325da78

Can you verify that you haven't changed the model in your db context's OnModelCreating at all?

[2016-02-12 20:10] HaoK commented on #732
Yeah this is both a bug and by design :)  AddIdentity always registers a UserManager and RoleManager already.  This method is intended only if you want to add a derived manager.  That said, @divega is right and the || should be an &&.  If you want to submit a PR for this, we'd be glad to take it...

[2016-02-13 05:43] andrew-vandenbrink commented on #730
No, not ef fan here so i dont touch OnModelCreating,just accidentally assign to role right after create user

[2016-02-13 16:59] ryanschuler commented on #711
I was not ever able to solve it, I switched over to an Azure box because the project was time sensitive.

[2016-02-15 16:17] #738 closed

[2016-02-17 22:08] blowdart commented on #743
This is deliberate. It's a way of checking if the store implementation supports the API. As it's an internal call we're not so worried about naming.

[2016-02-17 22:08] #743 closed

[2016-02-17 22:10] blowdart commented on #741
We wouldn't target identity at a site that needs separate authentications per directory either.

[2016-02-17 22:12] blowdart commented on #740
When you say google maintains the user what do mean? Are you talking about the external signing cookie identity sets? Or Google's own login pages?

[2016-02-17 22:13] blowdart commented on #733
This is probably a naming problem. In reality they're 2fa tokens used during 2fa logins. There is a PR coming which will rename these properties and make it easier to understand what their actual function is.

[2016-02-17 22:13] #733 closed

[2016-02-18 14:16] cbmek opened #747 "Automatic lockout doesn't work (Microsoft.AspNet.Identity.EntityFramework)"
When You enable automatic lockout by:
` var result = await _signInManager.PasswordSignInAsync(model.Email, model.Password, model.RememberMe, lockoutOnFailure: true);`
it starts to count failures correclty (in AccessFailedCount) and after configured amount of failures it sets only LockoutEnd column to proper date. - this seams to work ok.
But when LockoutEnd is set and one try to log in and fail ag

[2016-02-18 23:11] HaoK commented on #747
Are you saying userManager.IsLockedOutAsync returns false in these situations?

[2016-02-19 06:05] divega opened #750 "Proposal: make UserStore.ThrowIfDispose protected"
_From @sumtec on February 19, 2016 5:51_

Hi,

Is it possible to make ThrowIfDispose in the UserStore<> protected? I am trying to make it work for a legacy database and I have to write my own UserStore to enable login. When trying to implementing the UserStore class, I found no way to call the ThrowIfDispose.

I need to query different table to get a wrapped IdentityUser object. So, I can't call t

[2016-02-19 06:55] cbmek commented on #747
I'm saying `var result = await _signInManager.PasswordSignInAsync(model.Email, model.Password, model.RememberMe, lockoutOnFailure: true);`
returns `result.Succeeded` instead of `result.IsLockedOut`.

But yes, it's using `IsLockedOutAsync`, which is calling `store.GetLockoutEnabledAsync`.

[2016-02-19 11:02] andrew-vandenbrink opened #751 "File database relative path connection string issue"
Not sure if this can be solved but an issue anyway
This is the configuration
![image](https://cloud.githubusercontent.com/assets/12871379/13173635/087de5fe-d6ff-11e5-869e-06d3ed47be96.png)

When developing with local machine its expect the databases to reside in the same level of source code
![image](https://cloud.githubusercontent.com/assets/12871379/13173667/38257ede-d6ff-11e5-88c8-68966cb6fc20.

[2016-02-19 20:45] HaoK commented on #739
Are you using the user manager APIs and setting AutoSaveChanges to false?  Basically if you turn off AutoSaveChanges the expectation is that you are probably not going to want to use the UserManager APIs, since those are implemented basically by calling some set method on the store, and then update on the user which explicitly save changes.

Typically you would want to write your own extensions th

[2016-02-19 20:46] #739 closed

[2016-02-19 20:51] HaoK commented on #747
So for a user to be locked out, two things need to be true.

Lockout must be enabled for the user, meaning user.IsLockoutEnabled must be true AND user's locked end date must be in the future...

[code]

You can think of it as a flag saying the user can be locked out ever, and only if that is true, does the lockout end date matter...

[2016-02-19 20:51] #747 closed

[2016-02-22 21:10] jvelezc opened #753 "Navigation property for IdentityUserRole"
public  class ApplicationDbContext : IdentityDbContext<ApplicationUser, ApplicationRole, string>
{
 //giving me straight access instead of using RoleManager
    public DbSet<ApplicationRole> UserLogins { get; set; }
   public DbSet<ApplicationRole> Roles { get; set; }
   public DbSet<ApplicationUser> ApplicationUser { get; set; }
}
//If only https://github.com/aspnet/Identity/blob/dev/src/Microsof

[2016-02-23 00:29] HaoK commented on #742
@blowdart the delta appears to be the following characters, how many of these do you want to enable by default, some of these look pretty wonky to be valid user name characters by default...

!#$%&'*+/=?^`{|}~

[2016-02-23 02:19] blowdart commented on #742
Oh that is bad isn't it. Lots of invalid characters for emails. This is strange. Either we update the samples so it's not emails, or we pare it down a bit.

[2016-02-23 15:03] MaximRouiller commented on #742
@janpieterz Well... [the original RFC compliant regex](http://ex-parrot.com/~pdw/Mail-RFC822-Address.html) doesn't argue. That is if you want to validate as per the RFC.

There is many characters that are available in an email (`()[]+-<>` among others).

[Good read](http://girders.org/blog/2013/01/31/dont-rfc-validate-email-addresses/) if you want to go further.

One thing for sure... refusing a v

[2016-02-23 15:03] MaximRouiller commented on #742
I do use the `+` sign in my Gmail address. Allows me to tag emails I use to register to some services.

[2016-02-23 15:56] blowdart commented on #742
We won't be using regular expressions for validation. We made a conscious decision to remove that approach.

[2016-02-23 16:05] GuardRex commented on #742
For reference, `AllowedUserNameCharacters` is here ...

https://github.com/aspnet/Identity/blob/c8a276e716064ac40df5a56512e0217b14b48060/src/Microsoft.AspNetCore.Identity/UserOptions.cs#L17

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-._@

Is there any reason why that can't be overridden no matter what the team settles on here?

[2016-02-23 16:20] janpieterz commented on #742
@GuardRex  It can (quite easily even) be overridden. Below does the trick. The issue (more an issue with the template and a suggestion for improvement for Identity) isn't the override, but more the fact that the default templates use an email as a username (and I think this is a very common usage pattern) and this fails when certain characters are used, for example the `+` (I found this out as wel

[2016-02-23 18:13] HaoK commented on #742
How about we just add + since that is fairly common, users can always add whatever additional characters they really want?

[2016-02-23 18:16] MaximRouiller commented on #742
@HaoK that would fix 90+% of all scenarios I think.

[2016-02-23 18:25] HaoK commented on #730
What build are you using?

[2016-02-23 19:38] janpieterz commented on #742
Works for me!

[2016-02-23 22:23] #742 closed

[2016-02-23 22:24] HaoK commented on #742
+ it is, thanks!

[2016-02-24 06:11] andrew-vandenbrink commented on #730
Rc1, I'll wait for Rc2 to be released to test.

[2016-02-24 22:06] blowdart commented on #753
Dupe of #610

[2016-02-24 22:06] #753 closed

[2016-02-24 22:08] blowdart commented on #610
Moving out of backlog and aiming for RC2

[2016-02-24 22:09] blowdart commented on #753
@jvelezc Please feel free to create a PR against issue #610 and we'll take a look. There used to be some interesting problems with recursion that EF has now solved.

[2016-02-24 22:10] #741 closed

[2016-02-24 22:11] blowdart commented on #740
Closing due to no response

[2016-02-24 22:11] #740 closed

[2016-02-25 01:08] divega commented on #751
@Eilon any insights on this feedback and what the "ideal" location for a database file would be at development time and on deployment?

FWIW, our SQLite provider simply uses `AppContext.BaseDirectory` (or equivalent) to resolve file name locations in the connection string.

[2016-02-25 22:50] HaoK commented on #732
So looked at this code again, the current code/behavior is correct, this is the overload we added to hook up a delegate to return an alias to the normal scoped UserManager:

            Services.AddScoped(customType, services => services.GetRequiredService(userManagerType));

So if you call this with the same type its an infinite loop...  There were tests insuring that this would throw, which clue

[2016-02-25 22:51] #732 closed

[2016-02-26 00:18] jvelezc commented on #753
Thank I will put a PR 610. I will work on this weekend.

[2016-02-26 19:36] HaoK commented on #730
Ok please reopen this if you still see this issue should be working now

[2016-02-26 19:36] #730 closed

[2016-02-26 19:46] HaoK commented on #750
472c6f87348c7f8f7a29a22f1fb7fe9cb3b5411e

[2016-02-26 19:46] #750 closed

[2016-02-27 18:59] Eilon commented on #751
I have no strong opinion on this, as long as it's not in `wwwroot` :smile:

[2016-02-28 16:54] BolatovAlau opened #758 "Admin zone (Simple classes or methods to Create users by Admin)"
Hi , are there any simple classes that would help me to manipulate(CRUD actions) with AspNetUsers table as Administrator

For example -> CreateUser(string username, string password)
                         UpdateUser(AspNetUsers user) and etc.

Thanks

[2016-02-28 19:53] BolatovAlau commented on #758
I know that Controllers are just classes, so I would like to call them this way:

[code]
But i got error:
...
Additional information: At the moment, it is impossible to start the asynchronous operation
...
Thanks

[2016-02-28 22:36] BolatovAlau commented on #758
public static string HashPassword(string password)
{
    byte[] salt;
    byte[] buffer2;
    if (password == null)
    {
        throw new ArgumentNullException("password");
    }
    using (Rfc2898DeriveBytes bytes = new Rfc2898DeriveBytes(password, 0x10, 0x3e8))
    {
        salt = bytes.Salt;
        buffer2 = bytes.GetBytes(0x20);
    }
    byte[] dst = new byte[0x31];
    Buffer.BlockCopy(s

[2016-02-28 22:36] BolatovAlau commented on #758
public static bool VerifyHashedPassword(string hashedPassword, string password)
{
    byte[] buffer4;
    if (hashedPassword == null)
    {
        return false;
    }
    if (password == null)
    {
        throw new ArgumentNullException("password");
    }
    byte[] src = Convert.FromBase64String(hashedPassword);
    if ((src.Length != 0x31) || (src[0] != 0))
    {
        return false;
    }

[2016-02-28 22:37] #758 closed

[2016-02-29 13:47] MaximRouiller commented on #751
`App_Data`? :stuck_out_tongue_winking_eye:

[2016-03-02 22:05] blowdart commented on #751
This really isn't an identity issue, it's more a configuration one. @Eilon where should this bug end up?

[2016-03-02 22:31] divega commented on #751
It a question/suggestion about what should the base path be at development and deployment so I don't think @blowdart means "configuration" in the [aspnet/Configuration](http://github.com/aspnet/configuration) sense.
Maybe [aspnet/hosting](http://github.com/aspnet/Hosting)?

[2016-03-04 06:16] leo9223 opened #760 "Custom UserStore for Identity3.0"
can I use this --> http://www.asp.net/identity/overview/extensibility/overview-of-custom-storage-providers-for-aspnet-identity

tutorial to have custom user store for identity3.0?

tutorial specifying that it is for identity2.0 I want to know will it also work for identity3.0?

Thanks

[2016-03-06 20:48] mwpowellhtx opened #761 "Assembly version incorrect versus nuget package version"
Hello,

Microsoft.AspNet.Identity.Core NuGet package version is 2.2.1.

Microsoft.AspNet.Identity.Core.dll version is 2.0.0.0. I think it too should be 2.2.1.X. Whatever X is, the [build number](http://www.symbolsource.org/MyGet/Metadata/aspnetwebstacknightly/Project/Microsoft.AspNet.Identity.Core) appended to the nightly build number, perhaps.

That is all.

Thank you...

[2016-03-06 20:50] mwpowellhtx opened #762 "ThrowIfDisposed should be protected"
Hello,

In [UserManager](http://mandrillapp.com/track/click/30209653/www.symbolsource.org?p=eyJzIjoidXBxYy1WMjg0ZU9xQ2lrd1JYMk9rVlU3VWVVIiwidiI6MSwicCI6IntcInVcIjozMDIwOTY1MyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvd3d3LnN5bWJvbHNvdXJjZS5vcmdcXFwvTXlHZXRcXFwvTWV0YWRhdGFcXFwvYXNwbmV0d2Vic3RhY2tuaWdodGx5XFxcL1Byb2plY3RcXFwvTWljcm9zb2Z0LkFzcE5ldC5JZGVudGl0eS5Db3JlXFxcLzIuMy4wLXJ0bS0xNTA4MDZcXFwvUmVs

[2016-03-07 00:26] jdluzen commented on #761
It appears that they're switching to a new assembly: https://www.nuget.org/packages/Microsoft.AspNet.Identity/

[2016-03-07 00:37] mwpowellhtx commented on #761
Fair enough. What is the Github for it?

[2016-03-07 01:08] jdluzen commented on #761
This current repo should be it. Current version is 3.0.0-rc1, though I can't point to a version number in the code to verify.

[2016-03-07 02:24] mwpowellhtx commented on #761
What do you mean "in the code"? There isn't an ``AssemblyInfo.cs``, common, etc?

[2016-03-07 21:09] JunTaoLuo opened #763 "Cookie names not set properly."
I overlooked the fact that setting the AuthenticationScheme values does not actually achieve what we want. By default, schemes are set to `.AspNetCore.{AuthenticationScheme}` and this leads to names like `.AspNetCore..AspNetCore.Identity.Application` since cookies middleware adds the `.AspNetCore.` prefix by default. We can remove the `.AspNetCore.` from the prefix of the authentication scheme.

S

[2016-03-07 22:12] natemcmaster commented on #763
Where is this in code?

[2016-03-07 22:15] JunTaoLuo commented on #763
@natemcmaster I mean the default schemes https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IdentityCookieOptions.cs#L16-L20

[2016-03-08 00:57] #763 closed

[2016-03-08 07:24] markusvt opened #765 "Show all Users from a given Role"
Hello, i spent the last day to figure out how to do it, but it seems with the given functions of UserManager and RoleManager, the only possible way to achieve this is to enumerate all Users and check if the user has specified role.

Is there a way to do this better than enumerate over all user?

[2016-03-08 07:36] mrahhal commented on #416
For anybody looking for a dnx based EF6 migrator, I've implemented one [here: Migrator.EF6](https://github.com/mrahhal/Migrator.EF6).

[2016-03-08 14:52] philwindsor opened #766 "authentication timeout after successful login - ignoring appCookie.ExpireTimeSpan property"
Apologies if this is the incorrect process for logging issues but I've asked this question on SO: http://stackoverflow.com/questions/35695975/asp-net-mvc-core-and-identity-3 and had no answers

Everything appears setup ok but after a certain amount of time I'm logged out.

I have the cookie timeout set to 8 hours and SlidingExpiration is set to true but it logs me out way before 8 hours, its somet

[2016-03-08 15:55] torrentx commented on #585
Yup. Same concerns. After banging my head for a few hours converting from 2.0 to this version, I came to this thread.  Not having the ability to overwrite these base classes like version 2, makes it a just a fancy example and not something we can use as a framework. :(

[2016-03-09 04:42] csharmath opened #767 "IdentityDBContext confusion - need more samples and explanation please"
Just started looking at ASP.NET Identity recently and I got stuck with something.
There are way too many confusing stackoverflow questions about how to plug the identity user to custom entity relations.
Also identitydb context by itself is also confusing. Small things like the guid as id etc etc.

Few examples of questions worth reviewing
http://stackoverflow.com/questions/19902756/asp-net-identit

[2016-03-09 05:10] csharmath commented on #767
Hah, of course I found what I was looking for just after opening this issue
https://github.com/rustd/AspnetIdentitySample

From here
https://blogs.msdn.microsoft.com/webdev/2013/10/20/building-a-simple-todo-application-with-asp-net-identity-and-associating-users-with-todoes/

BTW, I realize it's a 2 years old blog entry, but still the style is terrible to read.

Would be nice if this topic is demo

[2016-03-09 05:19] csharmath commented on #767
After updating to the latest nuget packages, that sample no longer works, so I wonder if you have an up-to-date version for this ? Thanks

[2016-03-09 13:33] torrentx commented on #767
Pretty much can't be done in this version. You'll need to use Identity 2.0 instead. There's a thread here: https://github.com/aspnet/Identity/issues/585

[2016-03-09 22:02] blowdart commented on #767
@Rick-Anderson One for you?

[2016-03-09 22:07] blowdart commented on #765
What is your scenario here? An admin panel or dashboard? This has a performance cost. What we could do is give you the user IDs in a role, and then you need to resolve those to a user, using the UserStore.

[2016-03-09 22:09] blowdart commented on #762
Linked to #750

[2016-03-09 22:11] blowdart commented on #761
You are confusing the "Core" of identity 2.0 with Core of ASP.NET. So you are attempting to add the previous version for .NET 4.5.

[2016-03-09 22:11] #761 closed

[2016-03-09 22:11] blowdart commented on #760
@Rick-Anderson One for you again.

[2016-03-09 23:11] Rick-Anderson commented on #767
@csharmath  Yes this is planned. See https://github.com/aspnet/Docs/issues/977
I have a MVC5 version of this listed in the issue but it hasn't had a security audit so is not blessed my MSFT. I did it one afternoon.

[2016-03-09 23:12] Rick-Anderson commented on #760
@danroth27 please prioritize

[2016-03-10 02:35] mwpowellhtx commented on #761
No, I don't think so. _Microsoft.AspNet.Identity.Core_ package version is _2.2.something_; whereas, this is the assembly properties itself. Note, Version should also read _2.2.something_, for consistency.

![microsoft aspnet identity core-assembly-properties](https://cloud.githubusercontent.com/assets/1824187/13657642/d3714262-e63e-11e5-9b47-5906f66db390.png)

[2016-03-10 02:36] mwpowellhtx commented on #761
Kindly reopen until you've fact checked please. Or if there is a better repository I should be directing my questions, kindly reference me there. Thank you.

[2016-03-10 02:38] mwpowellhtx commented on #762
Thanks...

[2016-03-10 08:35] markusvt commented on #765
Yes it is an admin panel in which one can manage the roles and their assigned users.
I just wondered that the functionality does not exist as I could imagine that this scenario appears quite often. I guess a list of UserIds is sufficient.

By the way, in my specific scenario (I use EF7 and a SQL Server) I solved the whole problem by developing a database-join between the User, UserRole and Role Ta

[2016-03-10 14:41] MaximRouiller commented on #761
@mwpowellhtx This is technically the repository for [Identity 3.X](https://www.nuget.org/packages/Microsoft.AspNet.Identity/).

You are talking about Identity 2.X which is the version built for the previous version of ASP.NET.

As for the 2.X versioning scheme, it might be a bit late to retroactively fix that.

My opinion? I don't care what the build number is. I care about the GitHub tag that was

[2016-03-10 19:41] blowdart commented on #765
Ah good, at least you're not blocked. Yes, we're not aiming identity at admin panel scenarios. We figure that if you're writing an admin panel you can do this for yourself. There are somewhat interesting performance hits in this sort of link, because you can end up loading the entire database.

We'll look at the user ID link.

[2016-03-10 22:32] HaoK commented on #762
41fa99e9f329180c2e956b3a092af3f13e1fc357

[2016-03-10 22:32] #762 closed

[2016-03-11 01:29] mwpowellhtx commented on #761
My assertion is, I don't care which you consider the source, the two ought to be consistent, especially when it comes to questions that come up, assembly queries, etc.

As for retroactive, forward progress; respond as you will. Obviously, if the retro is considered abandoned in favor of the new one, by all means treat it as such.

Thanks for the feedback.

[2016-03-11 03:42] csharmath commented on #767
Thanks @Rick-Anderson for looking into this!
Looking at your repo, I don't see relationship defined between the ApplicationUser and the Contact and hence the controller is not filtering either based on the logged in user.
That would be useful to have as a reference and its a more realistic sample.

Thanks again

[2016-03-11 17:35] Rick-Anderson commented on #767
@csharmath did you look at the right repo? https://github.com/Rick-Anderson/secureMvc only allows the logged in user to edit their records.

[2016-03-11 17:38] Rick-Anderson commented on #767
@csharmath oops - wrong repo, let me find the right one.

[2016-03-11 17:50] Rick-Anderson commented on #767
@csharmath it's the PR that hasn't been approved. https://github.com/Rick-Anderson/secureMvc/pull/2

[2016-03-11 18:21] divega commented on #751
This issue was moved to aspnet/Hosting#639

[2016-03-11 18:21] #751 closed

[2016-03-11 22:01] HaoK commented on #766
Make sure you are configuring the cookie via identityOptions and not any other way, can you include the startup code that you are using to set the cookie options?

[2016-03-11 22:42] csharmath commented on #767
great, thanks for that! I will check later.

[2016-03-14 14:38] dazinator opened #771 "[Question] - NormalisedUserName and NormalisedEmail - what are they?"
I am attempting to use the EF 7 store with identity, but mapped to an existing table. My table doesn't have columns for `NormalisedUserName` or `NormalisedEmail` which results in this error during registration:

![image](https://cloud.githubusercontent.com/assets/3176632/13747839/2b1bd1ce-e9f2-11e5-881a-027e5d270af5.png)

Are these columns absolutely necessary? What does "normalised" actually mean

[2016-03-14 18:44] dazinator commented on #771
In answer to my own question, "Normalized" in this context means to store the string in an invariant manner so querying for user names / email addresses aren't affected by things like case sensitivity etc.

Also, to exclude these properties, I think the following is all you need to do, and I am hoping this won't cause further issues down the line - yet to find out!

[code]

[2016-03-14 18:44] #771 closed

[2016-03-15 14:51] Fosol opened #773 "Reset Password Fails Token Validation"
Not sure what I'm doing wrong, but I can't get the token to validate when attempting to reset a password.
This fails every time when it calls VerifyUserTokenAsync.
[code]

[2016-03-15 16:21] naamor opened #774 "Identity ignoring RequiredLength"
I used ASP.NET 5 MVC 6 (1.0.0-rc1-update1) "Web Application" Template with "Individual User Accounts" and changed default password requirements to:

`options.Password.RequireDigit = false;
options.Password.RequireLowercase = false;
options.Password.RequireUppercase = false;
options.Password.RequireNonLetterOrDigit = false;
options.Password.RequiredLength = 12;`

Everything works fine, except Requi

[2016-03-15 20:02] Kabanets opened #776 "Insert users from another SQL DataBase"
Can I insert some records of users directly to table AspNetUsers?
What fields is required for using UserManager?
I have Id, UserName and EMail. Can I change password?
I need insert an any GUID in the field ConcurrencyStamp. Am I right?

[2016-03-17 06:48] Kabanets commented on #776
I'm adding GUID and now this is working.

[2016-03-17 06:49] #776 closed

[2016-03-18 08:21] lucamorelli opened #778 "jwt authentication"
Hi,
  I'm trying to implement a sample project template, like the starndard asp.net template, using frameworks as aurelia and angular 2, and I have to handle authentication. To do this the client libraries I found uses JWT, and I'm looking how to implement it.
  Since should be a simple template I would like to implement a solution as simple as possible: I heard about identity server and found sam

[2016-03-18 12:05] MaximRouiller commented on #778
What are you authenticating against?

Equivalent to Forms Auth? Your own SSO solution? ADFS as SSO? Facebook? Google? Twitter?

It might not look like much but each have their own solution.

[2016-03-18 21:47] lucamorelli commented on #778
The equivalent of Forms Auth. the idea is to create a project template functionally equivalent to the actual asp.net template, but based on spa frameworks.

[2016-03-20 13:51] blowdart commented on #778
There's no built in functionality for what you require

[2016-03-20 18:52] jasonwilliams200OK opened #779 "Question: How to get ClaimsPrincipal from (string) id?"
When user gets logged in, I store the result of `HttpContext.User.GetUserId()` in a static dictionary.
When user gets logged out, I remove the user from the dictionary.

This dictionary storage is meant for external applications, which when make an HTTP call to my MVC application with a special header set; a middleware in place checks if that header is set, treat its value as encrypted user id, de

[2016-03-22 04:55] #778 closed

[2016-03-22 19:09] HaoK commented on #766
Please reopen if this is still a problem and can attach the relevant startup...

[2016-03-22 19:09] #766 closed

[2016-03-22 19:49] rowanmiller opened #780 "How would I change the primary keys in the identity tables to int instead of string?"
Porting a question from the EF repo (https://github.com/aspnet/EntityFramework/issues/4879) asked by @TDK1964...

How would I change the primary keys in the identity tables to int instead of string?

I basically want to change all the string Guids PK's to int so this would include IdentityUserRole,IdentityUserLogin,IdentityUserClaim,IdentityRole,ApplicationUser (or should that be IdentityUser?)

I

[2016-03-22 20:37] gdoron commented on #780
It's doable but requires too much hassle that just decided to go with the default string ID.
(You can not use IdentityDbContext, all the templates need to be changed)

This is a thing I really wish to be fixed soon too.

[2016-03-24 12:02] TDK1964 commented on #780
Any thoughts?

[2016-03-29 13:35] DaisyDave commented on #693
Hi I'm new to GitHub and am not sure why/how I closed this item. I'm reopening it. If it should be cleased will someong please correct me nicely :-)

[2016-03-29 15:17] kuashe opened #783 "Microsoft.AspNet.Identity.EntityFramework could not be found"
I tried to install Microsoft.AspNet.Identity.EntityFramework RC1 with Nuget targeting .NET 4.5.1 using visual studio 2015

I have this issue everytime , tried on two different computer

**How to reproduce** :

In Visual Studio 2015 Community ,

File -> New -> Project -> Console Application (.NET 4.5.1 )
Run  "Install-Package Microsoft.AspNet.Identity.EntityFramework -Pre" in package manager consol

[2016-03-29 15:28] MaximRouiller commented on #783
Weird...

[It does show](https://www.nuget.org/packages/Microsoft.AspNet.Identity.EntityFramework/3.0.0-rc1-final) that it is supported.

[2016-03-29 16:24] kuashe commented on #783
Indeed, but the package is not instaled anywhere . Obliviously it works on .NET Core and DNX .

[2016-03-29 16:51] mbest1 commented on #780
Instructions for this would be quite important for us since we try need to use a large pre-existing database that uses INT as the primary user key.

[2016-03-29 17:59] gdoron commented on #780
@rowanmiller who should we ping to get a response?
It's sad that EF and asp.net core that gives so much flexibility enforces such a thing that I believe must of the users wouldn't want.
How many .Net applications are there that int isn't their pk type for users?
You need an enormous amount of users to actually need to use GUID as the PK.

[2016-03-29 18:01] divega commented on #780
@HaoK can you please respond to this question with details?

[2016-03-29 18:45] gdoron commented on #780
@HaoK It's not just the DbContext, it's Identity helper classes (e.g. UserManager) as well (and obviously the asp.net templates).
Isn't it?

[2016-03-29 18:47] HaoK commented on #780
There should be no change in UserManager nor in the templates, Identity itself always treats the key as a string.  Its only the stores that store the keys whatever type you want (and to do the TKey => string translation)

[2016-03-30 13:05] sdanko opened #785 "SqlException: Subquery returned more than 1 value"
When I try to log in or register a user I get the following error:

[code]

The error appears when calling _await UserManager.CreateAsync(user, model.Password)_ and _await SignInManager.PasswordSignInAsync(model.UserName, model.Password, model.RememberMe, shouldLockout: false)_

[2016-03-30 13:30] TDK1964 commented on #780
@HaoK Your solution worked for me. These are the changes I made and includes renaming the tables.

[code]

[2016-03-30 21:03] blowdart commented on #785
@divega Can you help?

[2016-03-30 21:04] divega commented on #785
Sure thing...

In general this kind of error can occur if the data in the database does not comply with an assumption made on the query, e.g. consider something like this:

[code]
This query will only work if there is exactly on ProductPrice row for each Product row. If there is more than one it will fail with the mentioned error.

We should debug and look at our queries to see if there is any gen

[2016-03-30 21:06] blowdart commented on #783
What feeds do you have setup in nuget? This looks like you're mixing feeds and dependencies. Take a look at https://github.com/aspnet/Home/wiki/NuGet-feeds and choose the single, correct, feed for your situation

[2016-03-30 21:08] blowdart commented on #785
Where is the exception coming from? As in do you get a line number? What database are you using? Do you have multiple users with the same username?

[2016-03-30 21:12] blowdart commented on #779
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IUserClaimsPrincipalFactory.cs

    Task<ClaimsPrincipal> CreateAsync(TUser user);

That should get you a principal from a user object.

[2016-03-30 21:16] blowdart commented on #773
Can you check if the user in question has a null security stamp?

[2016-03-30 21:19] HaoK commented on #785
Can you include a stack trace so we can figure out where it is.

[2016-03-30 21:39] kuashe commented on #783
@blowdart  I have nuget + myget .
But i reproduced this issue on a fresh VS2015 on another computer.

![image](https://cloud.githubusercontent.com/assets/6097946/14158476/82c903d4-f6d0-11e5-8f5c-60b0d5b3a984.png)

[2016-03-30 21:41] blowdart commented on #783
I'd ask in the entity framework repo. https://github.com/aspnet/EntityFramework

[2016-03-30 21:51] kuashe commented on #783
Thanks , i'm going to try that.

[2016-03-31 06:45] sdanko commented on #785
[stack.txt](https://github.com/aspnet/Identity/files/197085/stack.txt)

`
Source File: AccountController.cs    Line: 79 `

The tables that are used for Identity are not yet created, but with all databases that I worked with prior to this one, they initialized perfectly normal when running the application for the first time.

[2016-03-31 16:02] divega commented on #785
Ok,  thanks for the stack trace.

It is clear the exception  has nothing to do with the Identity operations in question but is coming from EF migrations.

It is also clearly not EF Core but an older version, so it is likely not ASP.NET Core Identity either. Just to confirm, what versions of ASP.NET Identity and EF are you using?

In case it helps,  could you try executing an `update-database -verb

[2016-03-31 19:59] HaoK commented on #693
I just tried this on current bits and don't see this behavior, what version are you running?

[2016-03-31 21:46] HaoK commented on #606
Dupe of this https://github.com/aspnet/Identity/issues/780 which has working code

[2016-03-31 21:46] #606 closed

[2016-04-01 04:30] HaoK commented on #774
This is because the validation of the form is not tied to the underlying identity code... The validator length is controlled by the View model, see

https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Models/AccountViewModels/RegisterViewModel.cs#L17

[2016-04-01 04:30] #774 closed

[2016-04-01 05:57] Radzhab opened #787 "How edit asp.net role data"
I have several roles in system. I want rename one of this but its return me error **{"Database operation expected to affect 1 row(s) but actually affected 0 row(s). Data may have been modified or deleted since entities were loaded. See http://go.microsoft.com/fwlink/?LinkId=527962 for information on understanding and handling optimistic concurrency exceptions."}**

[code]

[2016-04-01 09:12] sdanko commented on #785
[output.txt](https://github.com/aspnet/Identity/files/199301/output.txt)
Im using EF 6.0 and Identity 2.0. I attached the output of update operation.

[2016-04-01 09:52] divega commented on #774
@HaoK doesn't this mean that there is a bug in the template?

[2016-04-01 10:14] divega commented on #783
@blowdart do you think this could be an EF issue? All packages mentioned seem to be on the Identity side.

[2016-04-01 11:11] divega commented on #785
Thanks @sdanko for the additional details. Unfortunately the output doesn't seem to include the actual last SQL statement that Update-Database is trying to execute when the failure occurs.

Would it be possible for you to capture that statement either using SQL Server Profiler or the Intellitrace window while debugging that part of your application?

[2016-04-01 11:18] divega commented on #785
Another thought on this: could you try adding an explicit migration (using Add-Migration_name_ in the package manager console) for the pending changes to see what happens?

It may not help with either solving or explaining the failure but in general automatic migrations are more brittle than explicit migrations.

[2016-04-01 13:37] sdanko commented on #785
I created an explicit migration but I get the same error in package manger console.Also I used SQL Server Profiler and Intellitrace to capture events, but I didnt get any useful information.The last statement that I get in Profiler is :+1:
[code]
But it doesent show any errors.

[2016-04-01 15:53] HaoK commented on #774
The data validation attributes in templates cannot easily share identity configuration. Since the template hardcodes a required length of 6 by default. It needs to be manually changed to match whatever the new required length is to match identity.

[2016-04-01 16:25] divega commented on #774
What I mean is: should we propose that we remove this attribute from the template?

[2016-04-01 16:29] HaoK commented on #774
Then there would be no client side validation for the for the password length which seems weird.

[2016-04-01 19:16] divega opened #788 "Custom Identity EF Core 1.0"
_From @XcoderTeam on March 31, 2016 13:44_

Unable to  perform migrations Identity 3.0

[code]
OnModelCreating
[code]

Performing  dnx ef migrations add v0.0.1 it encounter this error message.

System.InvalidOperationException: The entity type 'Microsoft.AspNet.Identity.EntityFramework.IdentityUserRole<string>' r
equires a key to be defined.

_Copied from original issue: aspnet/EntityFramework#494

[2016-04-01 23:09] divega commented on #610
This is not a ship stopper for RC2 so moving to RTM and assigning.

[2016-04-02 14:15] Skisas opened #789 "SignInManager PasswordSignInAsync problem"
Hello,
I came with a problem when using PasswordSignInAsync method, it always returns false when my signin data is wrong and no result ( code stops there ) if info is same as in database. I have created authentication just like in asp.net documentation.Here is my startup.cs:

ConfigureServices:

             services.AddEntityFramework()
            .AddSqlServer()
            .AddDbContext<Applic

[2016-04-02 16:31] raberana opened #790 "No authentication handler is configured to handle the scheme: Microsoft.AspNet.Identity.Application"
The error _**No authentication handler is configured to handle the scheme: Microsoft.AspNet.Identity.Application**_ shows up when I try to sign-in the user:

    public async Task<bool> SignIn(string email, string password)
    {
        var user = await this._userManager.FindByEmailAsync(email);
        if (user == null)
            return false;

        if (await this._userManager.CheckPassword

[2016-04-04 14:25] markusvt opened #791 "Identity cookie with claims to long"
I am using Claims based Authorization in my application, with like 8 different claims.
Over the last days I saw, that the cookie ```.AspNet.Microsoft.AspNet.Identity.Application=chunks:4```
is getting bigger and bigger. And now I get an exception ```Bad Request - Request Too Long``` every time i log in.
How can I manage it to shrink that cookie?

*Edit* I managed to find a bug in my application, s

[2016-04-04 21:25] HaoK commented on #790
Can you try removing your explicit transient registrations of the identity mangers, that might be the root source of your issues...AddIdentity does this for you, these should generally be Scoped to the request... was there a reason you wanted these to be transient?

[code]

[2016-04-04 22:48] HaoK commented on #717
Yeah this sample is currently not working any longer, will address as part of https://github.com/aspnet/Identity/issues/717

[2016-04-04 22:48] #717 closed

[2016-04-04 23:06] HaoK commented on #682
EF migration looks correct here:

http://stackoverflow.com/questions/36345121/how-to-migrate-database-schema-from-identity-2-2-0-to-3-0-0-rc1-final

[2016-04-04 23:24] brentdavid2008 opened #792 "Custom SignInManager"
Hi,
Messing around with a .net core and identity in the MVC projects and i'm attempting to see how we'd use/re-create existing things we already do and how you might implement them.

First,
I see extension methods for .AddUserManager and .AddRoleManager, are there any plans to expose this to the sign in manager too?

I understand the reservations behind not exposing it, however, we would like to t

[2016-04-04 23:35] brentdavid2008 commented on #792
Upon further looking i see #650 and #646 are apart of this too.

I personally think that the best approach is how the IdentityServer3 team (maybe that's you guys too) did their events.  So on the startup class, i can watch the return even and based on all the passed in information, i.e. SignInResult, or something execute my own project specific code.

the #650 sounds promising, but i'd never store

[2016-04-05 00:16] raberana commented on #790
None actually. I was just unaware of that. Thanks for that info.
So I tried to remove that but it still gives the same error.

[2016-04-05 00:18] HaoK commented on #790
Put UseMVC before UseIdentity

[2016-04-05 00:41] raberana commented on #790
Still not working :(

[2016-04-07 10:07] henningst opened #793 "Why does HashPassword take in TUser as parameter?"
The HashPassword method in https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/PasswordHasher.cs takes in both TUser and plain text password as params, but the user param is never used. This seems to be something new that is added in the AspNetCore implementation. Why?

[2016-04-09 09:32] #790 closed

[2016-04-10 17:33] jasonwilliams200OK commented on #617
Any progress on this? We should also have `IServiceCollection.AddIdentity<TUser>` without having to specify `TRole`.

[2016-04-10 18:58] jasonwilliams200OK commented on #779
Thanks @blowdart and sorry for the late response (was busy with lifey stuff).

So in a middleware I am having:

[code]

Now to get ClaimPrincipal of this user, I did:

[code]

My only gripe is the part where we are mandated to specify some arbitrary `IOption<IdentityOptions>` object in factory ctor..

In addition to this existing ctro, can we have `UserClaimsPrincipalFactory<TUser>(UserManager<TUs

[2016-04-11 15:56] simonpbond opened #795 "Does Identity store the Users DB Primary Key in a cookie?"
I'm wondering if Identity stores the User's DB Primary Key as a claim and this get's passed in to the cookie?

I'm guessing this is how GetUserId() works as it seems to be getting the value from the principal.

I've read passing the primary key of a user in a cookie is bad security practice, so wondering if anyone can shed some light.

Thanks

[2016-04-11 16:28] simonpbond commented on #760
There would be nothing better than a pure SQL or Dapper example implementation : )

[2016-04-11 20:21] HaoK commented on #795
Yes, its stored as the ClaimsTypes.NameIdenfitier by default

[2016-04-11 20:21] #795 closed

[2016-04-11 20:23] HaoK commented on #793
This is so custom implementations can access things off of the user if they so desire as part of the hashing operation, for example if they wanted the salt to live on the user entity.  By default we don't use this behavior but it was requested to enable more advanced scenarios.

[2016-04-11 20:23] #793 closed

[2016-04-11 20:25] #693 closed

[2016-04-11 20:26] HaoK commented on #693
Feel free to reopen this if you are able to reproduce this error on RC2 bits once they are available.

[2016-04-13 08:39] newsash opened #797 "Need to re-log for changing user claims to take effect"
After I add/remove claims to user using UserManager, they don't change on Controller.User until user re-log.

[2016-04-13 12:50] brockallen commented on #797
Claims are cached in the cookie. You need to re-issue the cookie.

[2016-04-13 14:55] newsash commented on #797
Issue resolved by `UserManager.UpdateSecurityStampAsync()` after changing claims and by `options.SecurityStampValidationInterval = Timespan.FromMinutes(1)` in Identity configuration.

[2016-04-13 14:55] #797 closed

[2016-04-13 19:10] blowdart commented on #791
You could do a reference cookie, then use the claims transformation piece to rebuild your actual claims. Basically put the bare minimum you need to identity a user into the cookie and then use the hook as demonstrated in http://benfoster.io/blog/customising-claims-transformation-in-aspnet-core-identity

[2016-04-13 21:15] blowdart commented on #787
Please show us the code where context is coming from.

[2016-04-13 23:02] HaoK commented on #789
What exactly do you mean by "it always returns false when my signin data is wrong and no result "  When you step through it in the debugger it returns false but your controller hangs?

[2016-04-13 23:04] HaoK commented on #646
Unassigned since this is in backlog, reassign when we want to do this.

[2016-04-13 23:05] HaoK commented on #650
Unassigned until we want to do this and move it out of backlog

[2016-04-13 23:06] HaoK commented on #765
@blowdart @divega is this something for the backlog or 1.0?

[2016-04-14 21:28] Skisas commented on #789
I found that problem was with custom user roles, after I changed it to default identity roles, everything is alright

[2016-04-14 22:03] HaoK commented on #789
Awesome.

[2016-04-14 22:03] #789 closed

[2016-04-15 01:15] blowdart commented on #765
1.0

[2016-04-15 06:26] divega commented on #765
:+1:

[2016-04-15 11:48] kuashe commented on #783
@blowdart  Any update on this ? It's been two weeks now ...

[2016-04-16 00:44] divega commented on #783
@kuashe I have tried the repro steps and confirmed that installation of the RC1 version of Microsoft.AspNet.Identity.EntityFramework package fails. I got the following warning/error messages in the output from the install-package command:

[code]

Could you please confirm that you are seeing the same?

@yishaigalatzer and I tried a few more combinations, e.g. downgrading NuGet client to 3.3 and ta

[2016-04-16 00:49] divega commented on #783
Related issue: https://github.com/NuGet/Home/issues/2193.

[2016-04-16 20:02] kuashe commented on #783
@divega Yes , I confirm i have the same error message.

[2016-04-16 21:22] divega commented on #783
@kuashe thanks. The good news I found so far that installing the RC2 equivalent (Microsoft.AspNetCore.Identity.EntityFrameworkCore) using NuGet does not fail.

[2016-04-17 07:25] kuashe commented on #783
@divega Good news , but i guess it would not work with my projects , I would need to update all my packages to match RC2 naming refactor  .... I'll wait for RC2 i guess , let's hope everything works this time :octopus:

[2016-04-17 15:54] Ciantic opened #800 "Sample should have AddDataAnnotations() in Startup.cs"
I had this problem that ModelState.IsValid is always true, it's because now one needs to do this:

[code]

To make the annotations to work.

[2016-04-17 15:56] Ciantic commented on #800
Closing this, AddMvc has it inside already. I had copy pasted stuff incorrectly.

[2016-04-17 15:56] #800 closed

[2016-04-17 22:22] ciel opened #801 "consider changing references of "UserName" to "UniqueIdentity"."
I spent a few hours trying to hunt down what was going wrong with my site - as no matter what I tried, when I would create a new user, their `Name` field continued to come up lowercase ('Normalized').

Eventually I traced it back to the `UserManager<T>` and how it calls for `SetNormalizedUserNameAsync`, etc, on the implementation of `IUserStore<T>`.

The problem here is one of interpretation. Obvi

[2016-04-19 09:48] gdoron opened #802 "How to make Identity helper classes use existing DbConnection?"
Hi,

I noticed through my logs, Identity helper classes (e.g. `UserManager`) open a new connection for each method.
This can be 10 new connections in a single API request.
Also, it causes changes made locally in the DbContext not "seen-able" in the other connection.

Is it possible to config Identity helper classes use existing DbConnection?
If it's not, can we please add this very needed function

[2016-04-19 21:57] HaoK commented on #610
@divega I don't think we can add this navigation property anymore since we are adding the generic arguments back, as `IdentityUser<TKey>` wouldn't be the correct type anymore, rather it would need to be `IdentityUser<TKey, TUserClaim, TUserRole, TUserLogin>` which is circular

[2016-04-20 09:06] Kabanets opened #803 "Cookie of a persistent login don't work after restarting IIS-site"
I am creating "long-play" cookies for success sign ins.

services.AddIdentity<ApplicationUser, IdentityRole>(options =>
{
    options.Cookies.ApplicationCookie.ExpireTimeSpan = TimeSpan.FromDays(365);
})

After restarting site cookies are not accepted by the system.

[2016-04-20 13:32] Kabanets commented on #803
I found the answer here:
http://stackoverflow.com/questions/35371226/asp-net-5-identity-persisted-authentication-not-working-iis-7-5-idle-timer/35432392

[2016-04-20 13:32] #803 closed

[2016-04-20 19:30] pranavkm opened #804 "Remove npm scripts from sample publish"
We no longer use npm \ gulp in the sample. The `scripts` section should be removed since publishing would cause the app to fail.

[2016-04-20 21:04] blowdart commented on #801
I'll admit it's a little confusing, the assumption is you realise that Username is unique and isn't linked to User.Name, which is the name claim, which entirely different.

As it's an assumption we can't really change it now, but I'll look into making it clearer in the documentation.

[2016-04-20 21:33] HaoK commented on #682
Desired flow:
- Create 4.5.1 MVC App (Run + Create user + login) => Initial V2 schema
- Drop in compat classes which rebase the Identity POCO
- Run migrations using EF6 to update schema to V3
- Run Core Identity app and verify that login works against database
- Final step: Update both apps to use the same dataprotection so cookies are shared cross app

[2016-04-20 21:53] ciel commented on #801
That seems like a pretty reasonable compromise. Thank you.
On Apr 20, 2016 4:04 PM, "Barry Dorrans" <notifications@github.com> wrote:

[2016-04-20 23:02] divega commented on #682
@haok Remember that before yo drop the new classes and rebase you have to make sure you have enabled migrations.

[2016-04-20 23:25] divega commented on #802
Identity methods should be using the same instance of a `DbContext` (an `ApplicationDbContext` in an application based on the default templates) within a request. For this to work, the `DbContext` in question has to be registered as a scoped service, e.g. using the `AddDbContext<TContext>()` method.

Each `DbContext` will only use one instance of `DbConnection` but by default it is true that it wi

[2016-04-21 22:31] gdoron commented on #802
Thanks for the answer @divega,

I hope you classify it as a bug...

A. I can't open the connection asyncly in constructors.
B. I don't want to open a connection in each and every request, some of my actions are cache-able, meaning there will be absolutely 0 requests to the DB.
C. It's a bit awkward.

What is the reason it was designed this way?

I meant that if there're changes still not flushed t

[2016-04-21 23:50] divega commented on #802
This issue was moved to aspnet/EntityFramework#5147

[2016-04-21 23:50] #802 closed

[2016-04-22 14:11] mikeking27 opened #805 "Need Ability To Override Primary Key For UserClaim"
All other key datatypes for identity models can be overridden except UserClaim - it is hard coded as an 'int' - this can lead to a situation where the application database will end up with inconsistent primary key types.

[2016-04-22 19:05] divega commented on #805
@HaoK will this be covered by the generics work?

[2016-04-22 19:11] HaoK commented on #805
None of the child entities primary key types can currently be overridden only the primary key type for user and role.

[2016-04-24 04:30] kerryjiang commented on #501
I fixed it by adding the line below in ConfigureServices method of Startup:

`services.AddEntityFrameworkStores<YourDbContext>();`

Probably the name "AddEntityFrameworkIdentityStores" is more suitable for this extension method.

[2016-04-25 17:46] musabsudan commented on #760
The article is really good, I wish if it can be updated soon to Identity 3 and if you added  a pure custom SQL implementation that doesn't depend on the EF models.

Everyone seems to have the same struggle when integrating Identity in legacy systems back-ends and the guys here thinks that we have an empty database to throw their implementation in.

Many times I preferred to throw away Identity and

[2016-04-25 17:53] danroth27 commented on #760
https://github.com/aspnet/Docs/issues/1162

[2016-04-25 17:54] musabsudan commented on #646
adding that would be great, I noticed that it's a common pattern that leads people o custom implementations, some "hooks" to perform extra work would be fantastic.

Thanks

[2016-04-27 17:47] shima20 opened #810 "2 databases"
@HaoK -  I have a separate database server that already has usernames and passwords stored and I would like to authenticate using that (there is already a webapi to call). But utilize the default identity server for the claims, roles. So technically there's 2 databases.  Is there any easy way to handle this scenario?

I posed my question on openiddict as that's what I'm using for JWT and Kevin men

[2016-04-27 20:00] jvelezc opened #811 "AspNetClaims updating a claim from a role"
The fact that an extension method is needed to remove claims in either the aspnetuserclaim and aspnetuserroleclaims is not the best way to interact with the system. It would be best if
just like there is
pseudo code
RoleManager<ApplicationRole> _roleManager =
Exist today
_roleManager.AddClaimAsync
_roleManager.RemoveClaimAsync
My proposal:
There should also be UpdateClaimAsync

http://stackoverflo

[2016-04-27 20:15] HaoK commented on #810
So if you just want to change how the password methods behave, you can just override UserManager and implement all of the Password methods to go against the other database, while leaving all the other methods alone which will use the default EF database.

At a minimum you will probably need to override:
[code]

[2016-04-27 20:19] shima20 commented on #810
@HaoK What would my Startup.cs have in it?  Currently, I had the below:

services.AddIdentity<ApplicationUser, IdentityRole>()
                .AddEntityFrameworkStores<FMGPortalContext>()
                .AddDefaultTokenProviders()
                .AddOpenIddictCore<Application>(config => config.UseEntityFramework());

[2016-04-27 20:25] HaoK commented on #810
You can probably just add your custom user manager before the call to AddIdentity:

[code]

[2016-04-27 23:13] divega commented on #810
@haok don't we have a sugar extension method for that?

[2016-04-28 10:10] chemitaxis commented on #521
Thanks!!!

[2016-04-29 05:39] HaoK commented on #810
Yeah there's also the `AddUserManager<TUserManager>()` that hangs off of IdentityBuilder which is what AddIdentity returns.

[2016-04-29 05:54] shima20 commented on #810
Do I also need to override SigninManager for the password as well?

[2016-04-29 06:31] PinpointTownes commented on #810
@shima20 that shouldn't be needed for at least 2 reasons:
  - the default `SignInManager` ends up calling `UserManager` for all the password-related operations.
  - OpenIddict barely uses `SignInManager` because it has too many side effects and is basically tied to cookies (which is annoying, but that's another topic :smile:)

[2016-05-02 03:06] HaoK commented on #810
Yeah SignInManager = UserManager + Cookie sugar APIs

[2016-05-02 03:14] HaoK commented on #792
I'm not exactly sure what the main issue with this bug is, but if its just about how to override SignInManager, you can just do `services.AddScoped<SignInManager<YourUser>, YourSignInManager>()` or the equivalent to ensure your custom sign in manager is used instead of the default one.

[2016-05-04 21:19] divega commented on #811
@haok didn't we do this already? maybe only for user and not for role?

[2016-05-04 21:21] divega commented on #805
We are currently not planning to add the ability to customize the type of any child entity. If we hear enough feedback with justification of why it is important we can revisit.

[2016-05-04 21:21] #805 closed

[2016-05-04 21:22] divega commented on #804
@pranavkm can this be closed then?

[2016-05-04 21:23] divega commented on #792
@brentdavid2008 does the last comment by @HaoK answer your question?

[2016-05-04 21:26] divega commented on #787
Triage: we are closing this issue because we haven't heard back in a long time. Feel free to reactivate if you are still experiencing problems with it.

[2016-05-04 21:26] #787 closed

[2016-05-04 21:27] brentdavid2008 commented on #792
it does, but i still would rather see it as one of the default .AddSignInManager(); functions to add my own type in the <> to be consistent with the rest of the methods that are .AddUserManager() and .AddRoleManager()

[2016-05-04 21:27] divega commented on #773
Triage: we are closing this issue because we haven't heard back in a long time. Feel free to re-activate if you are still experiencing problems in this area.

[2016-05-04 21:27] #773 closed

[2016-05-04 21:34] HaoK commented on #811
Yeah someone added ReplaceClaim for UserManager, but we didn't add anything for role claims.

@jvelezc feel free to submit a PR

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/UserManager.cs#L978

[2016-05-04 21:34] divega commented on #792
Thanks @brentdavid2008. I agree that would be a nice addition although it isn't high priority to do it so moving to backlog for now.

cc @HaoK @blowdart

[2016-05-04 22:20] pranavkm commented on #804
https://github.com/aspnet/Identity/blob/dev/samples/IdentitySample.Mvc/project.json#L63 needs to be deleted.

[2016-05-04 22:56] divega commented on #804
@pranavkm RTM sounds good?

[2016-05-05 06:48] emcyborg opened #812 "Identity isn't working on custom properties in ApplicationUser"
I am working on the login system of my project; the error I am facing is that when I use the default attributes of AspNetUser it is working fine but when I create the custom attributes using ApplicationUser Class; I am getting this error every time. Please help me out.

**Error:**

**My ApplicationUser Class:**
public class ApplicationUser : IdentityUser
    {
        public string FirstName { set

[2016-05-05 14:12] PinpointTownes commented on #810
@shima20 did you have a chance to confirm it worked for you?

[2016-05-05 15:42] Ciantic opened #813 "Feature RequestUser attribute"
I've implemented a RequestUser attribute that can be used like this:

[code]

Advantages for this attribute are multitude: You don't need to inherit from _Controller or ControllerBase_ anymore. You can use your POCO controller actions as is in websockets or other ways, because they are not dependent on HttpContext etc. Your actions becomes instantly more testable, since the user comes as argument.

[2016-05-05 18:04] dotnetjalps opened #814 "Query: How we can create object of UserManager without using in built dependency injection ?"
Right with ASP.NET Core 1.0 there is only one way initialize the user manager class is to use the dependency injection.

But in our application, We have created a custom user store for the multi-tenant application.  We need to use that UserStore class in UserManager class. So is there any way to create a new object with NEW keyword. I have tried lots of ways but not succeed as there are lots many

[2016-05-05 18:21] MaximRouiller commented on #814
You don't want to "new" dependencies.

You put them as a dependency in your constructor:
[code]

Then you add it to the `ConfigureServices` by overriding IUserStore

That's it really. Did I forget something?

[2016-05-05 18:46] dotnetjalps commented on #814
I have already created code for user store. I need to use that user store in UserManger class.

[code]

[2016-05-05 18:57] divega commented on #814
@dotnetjalps have you tried replacing the default store with your version by adding it to the service collection? E.g.

[code]

[2016-05-06 00:12] pranavkm commented on #804
Yup.

[2016-05-08 03:03] madmunsterdaddy opened #815 "Subdomain for LoginPath"
How can you make identity use a subdomain as the LoginPath?

When authenticating on app1.mysite.com, app2.mysite.com, etc... I want my account management, sign on, etc... to be on account.mysite.com.

Thanks!

[2016-05-09 17:13] SteveSandersonMS opened #816 "Attempting to change user ID property from string to int hits troubles with EF migrations"
If you go through the process of changing the `ApplicationUser` ID type to `int`, (e.g., https://github.com/aspnet/Identity/issues/780), then you will hit issues with EF migrations:

 * On SQLite, you'll get the exception "System.NotSupportedException: SQLite does not support this migration operation. For more information, see http://go.microsoft.com/fwlink/?LinkId=723262"

    The linked page exp

[2016-05-09 17:35] SteveSandersonMS opened #817 "On Windows, first use of Identity DB after app creation fails"
Repro:

 * On Windows in VS, do a File->New ASP.NET Core Web Application project, and choose "Web Application" (not "Empty")
 * Launch it (Ctrl+F5)
 * Click on "Register" and then try to register a new user.
 * Get error: **A database operation failed while processing the request.**

![screen shot 2016-05-09 at 18 35 16](https://cloud.githubusercontent.com/assets/1101362/15121934/adb1d040-1614-11e

[2016-05-09 20:07] rustd opened #818 "2FA functionality gaps"
Copying from https://github.com/aspnet/Templates/issues/552
While the default templates 2FA setup is reasonably comprehensive, there are a couple of bits of functionality that you'd typically expect to see but aren't present here:
- **Recovery codes**

  Since the default template doesn't include any kind of "recovery codes" feature, it's quite a risk for a user to enable 2FA. If they lose access

[2016-05-10 18:35] dotnetjalps commented on #814
Sorry the late reply. its working fine thank you.

[2016-05-10 18:35] #814 closed

[2016-05-11 08:40] lcalabrese commented on #282
I'm a little confused how this is a duplicate as if I understand correctly this is referring to the email confirmation/reset password codes, and #133 is referring to 2FA.

[2016-05-11 17:02] zigzag95 opened #819 "Add custom properties to usersroles"
We would like add DateFrom and DateTo properties to usersroles gateway table and manage access using policies.
This was possible in 2.0 using userRole generic on context but not in 3.x

[2016-05-11 17:06] zigzag95 commented on #816
They forget a string in here
public class UserStore : UserStore<IdentityUser<string>>

[2016-05-11 19:54] danroth27 commented on #817
@barrytang @sayedihashimi @rowanmiller This isn't an identity issue. You need to run a migration to get the database created. Hence the big blue button.

Admittedly the current experience isn't great. In the past we created the database on first run, which had it's own issues. Ideas on how to improve this?

[2016-05-11 19:54] #817 closed

[2016-05-11 19:56] danroth27 commented on #817
Have we considered just creating the database on project creation?

[2016-05-11 19:57] danroth27 commented on #816
@rowanmiller @divega

[2016-05-11 19:58] rowanmiller commented on #817
Yes, I think that is viable since it can be kicked of asynchronously. Obviously it would only help on the initial dev machine, but I think it's a good start.

[2016-05-11 20:05] sayedihashimi commented on #817
What about command line users?

[2016-05-11 20:41] rowanmiller commented on #817
Not sure about the infrastructure capabilities for creating the project from the command line, but we could still rely on the current "click the big blue button" experience. Or we could invoke `dotnet ef database update` as part of project creation (if possible).

[2016-05-11 21:09] blowdart commented on #819
@HaoK  is the user2roles table something we expect to be customizable?

[2016-05-11 21:55] divega commented on #817
It this because the yo templates still include the workaround? If no, why?

[2016-05-12 06:23] zigzag95 opened #820 "Just for Indormation"
Hey guys, this is just a question
How did you manage the index max length when composed with multiple columns?
Thx

[2016-05-12 16:25] rowanmiller commented on #816
Looks like there are two issues here:
* The Identity docs need to be updated to cover the fact that schema modifications are limited when targeting SQLite (due to limitations in the database engine itself).
* The second one - on SQL Server - looks like an issue in migrations itself (opened https://github.com/aspnet/EntityFramework/issues/5345 to track this)

[2016-05-12 22:54] xperiandri commented on #630
What about User.GetUserId() ?

[2016-05-12 23:43] danroth27 commented on #816
https://github.com/aspnet/Docs/issues/1210

[2016-05-12 23:44] #816 closed

[2016-05-13 13:09] akamud commented on #793
Shouldn't `IPasswordHasher<TUser>` have an overload without `TUser` then?

[2016-05-16 08:44] olaeke2 opened #821 "Identity not working in IE"
I have problem getting Identity to work in IE (11) it works fine in Chrome. The [Authorize] attribute allways throws me back to login, alltough the login is successfull and the cookies are set in the browser. Except for testing with my own project I have also the same problem with sample project i.e ShawnWildermuth's project on PluralSight

We are running 3.0.0-rc1-final

Is this a known IE issue

[2016-05-16 19:02] #821 closed

[2016-05-16 19:05] olaeke2 commented on #821
Cookie problem, when I cleared the cookie in IE it started working. Obviously some garbage in the cookies

[2016-05-17 16:50] kuashe commented on #783
@blowdart  RC2 is out and i managed to install this properly . Closing this .

[2016-05-17 16:50] #783 closed

[2016-05-17 17:12] #820 closed

[2016-05-17 18:24] HaoK commented on #819
Should be addressed by https://github.com/aspnet/Identity/issues/585 which brings htings back to the 2.0 state of things more or less...

[2016-05-17 18:24] #819 closed

[2016-05-17 19:16] HaoK commented on #793
Just ignore it if your hasher implementation doesn't care about the user instance.

[2016-05-17 19:19] HaoK commented on #630
That got moved to UserManager as well.

[2016-05-17 21:00] kuashe opened #822 "Package restore failed : AspNetCore.Identity | AspNetCore.Identity.EntityFrameworkCore"
After creating a new class library using .NET Core , adding a reference to

- Microsoft.AspNetCore.Identity

Or
- Microsoft.AspNetCore.Identity.EntityFrameworkCore

Result in the following errors

![image](https://cloud.githubusercontent.com/assets/6097946/15338936/5456c5e0-1c82-11e6-8c68-b63c0d652b24.png)

How to make those packages work with .NET Core class library ?

[2016-05-17 21:18] smitpatel commented on #822
You would need imports since those packages do not target netstandard tfm.
Can you try this
[code]

[2016-05-18 06:26] kuashe commented on #822
@smitpatel  Set my netstand to 1.3 did not knew i needed those extra line in the imports . Thanks for this.

[2016-05-18 06:26] #822 closed

[2016-05-18 09:13] giddev commented on #812
Try

        public string ReviewedById { get; set; }
        [ForeignKey("ReviewedById")]
        public virtual ApplicationUser ReviewedBy { get; set; }

[2016-05-18 12:25] gray29 opened #823 "Site Cookie won't get created or modified resulting in strange behaviour"
1. For an external deployed site when I log in as user X, log out and log in as user Y, I get data belong to  user X showing and when I log out I get an error. (not resolved)

2. If I force delete my site cookie and refresh the app login page the cookie doesn't get created and I cannot log into the site at all. (Resolved)

When I access the same web site  on VPN I don't get the issue. I  only get

[2016-05-18 20:24] smitpatel commented on #822
Such errors arise when the packages you are trying to use does not target the framework you are targeting in your app. But that does not mean that you cannot use those packages. If the target framework of the package is compatible with what you are targeting then you can put that framework in imports. Which tells dotnet that it can use packages which may not be targeting netstandard but any other

[2016-05-18 21:12] blowdart commented on #823
What cached data are you seeing? What error are you seeing when you logout?

For point 2 the login page doesn't create any cookies until you actually login. A refresh doesn't do this.. What do you mean by you are unable to login? Are you seeing errors?

[2016-05-18 21:13] blowdart commented on #818
Backlogging till post RTM

[2016-05-18 21:14] blowdart commented on #815
You don't. Identity isn't meant for this type of federation. Login paths are limited to being relative URLs.

[2016-05-18 21:14] #815 closed

[2016-05-18 21:17] blowdart commented on #813
This would be an request for the MVC repo, rather than us. Really it's an app concern rather than the framework, as "User" is under your control. We believe that this would be better served as your own project and nuget package though.

[2016-05-18 21:17] #813 closed

[2016-05-18 21:18] blowdart commented on #811
Bumping to post RTM

[2016-05-18 21:22] blowdart commented on #610
As we won't have a navigation property this isn't possible.

[2016-05-18 21:22] #610 closed

[2016-05-18 21:23] #423 closed

[2016-05-18 21:23] #279 closed

[2016-05-19 02:04] gray29 commented on #823
Its difficult as it is on production server that I'm not given access to from external url so I can't see errors. On dev server which is supposed to be duplicate of production I don't get the issue.

Having a site work while I'm on a VPN but not when I'm on it is what I don't understand.

[2016-05-19 13:13] Angeland opened #824 "GetUsersInRoleAsync returns wrong object"
`GetUsersInRoleAsync` returns `IList<ApplicationRole>` but the note specifies that it returns the users in a specific role. if its not a bug then its a little counterintuitive.

Example-wise
`IEnumerable<ApplicationRole> usersModel = await _userManager.GetUsersInRoleAsync(roleName);`
Then it's a little counterintuitive as what do i now have? at best a list of one object (the one role i asked for).

[2016-05-19 13:18] #824 closed

[2016-05-19 13:20] Angeland commented on #824
injecting like this makes the bug appear. if anyone looks at this. (so it was kindof my own bug :)

        private readonly RoleManager<ApplicationRole> _roleManager;
        private readonly UserManager<ApplicationRole> _userManager;
        private readonly CmsDbContext _ctx;
        public ManageRoleController(CmsDbContext ctx,
            RoleManager<ApplicationRole> roleManager,

[2016-05-19 13:27] wbreza commented on #176
Is this still happening?  I don't see this pull request merged into the v2.2.1 identity assemblies.

[2016-05-19 14:13] blowdart commented on #823
We haven't seen such an issue either, we can't think of what would cause it. Logging out deletes the cookie entirely, logging in creates a complete new cookie. Is there a proxy in the way anywhere?

On production could you configure debug logs to a file to try to catch any exceptions?

Again when you say you can't login what do you mean? What happens? Is the login page there? Does the form submit?

[2016-05-19 18:07] gray29 commented on #823
What I don't understand is if I delete all cookies (tested on all desktop browser and mobile phone browser) and want to log in again, it doesn't allow me. The form posts to the server. the Result back is login failed. Running a database trace and nothing. The page refuses to create a new cookie. (On the VPN and working dev server over the internet  it does create cookie)

The signing in is the fir

[2016-05-19 18:42] gray29 opened #825 "PasswordSignInAsync isPersistent:true loses authentication after first RedirectToAction"
On my local development machine I am using RC1

    "Microsoft.AspNet.Identity.EntityFramework": "3.0.0-rc1-final",

In my code if I set `isPersistent:false` in the `PasswordSignInAsync` method everything works correctly. However when I change it to `true` the following happens:

I build my project and run it  from Visual Studio

The following code executes

        [HttpPost]
        [AllowAnonym

[2016-05-19 19:58] gray29 commented on #823
I also compare using fiddler between being on the VPN and not after deleting the cookie when logging in as the same user

On the VPN:
- ASP.Identity Cookie "MySiteCookie" is POSTed with the login.
- First Page after login GET contains the ASP.NET Identity Cookie "MySiteCookie"
-Response body of my first page after login is 7,705 bytes Chunked transfer encoding is used. GZIP

Not on the VPN:
- ASP.

[2016-05-19 23:43] kdelorey opened #826 "Integration with ClaimsPrincipal"
I've notice a change in behavior from RC1 (Identity 3.0.0-rc1-final) to RC2 (Identity Core 1.0.0-rc2-final) in regards to the integration with the `ClaimsPrincipal` typically accessed through the the `ControllerBase`. Simply the claims don't appear. So invoking `User.HasClaim( string, string )` on a valid claim will always yield `false`.

Reading the [rc1 to rc2 migration instructions](https://doc

[2016-05-20 07:21] MaximBalaganskiy opened #827 "question: xUnit test runner hangs"
Don't really know what repository this belongs to...

I've got 9 xUnit test classes. In a fixture constructor I `wait()` on an async init method which uses role and user managers to set up some data in the `InMemory` database. Unfortunately, the test runner hangs executing these tests.

When I remove any(!) test class everything starts working normally. If I move the async call to tests themselves

[2016-05-20 07:26] #827 closed

[2016-05-20 10:21] TheBeardedLlama opened #828 "The sample does not run"
I am trying to run/debug the sample in VS2015 (update 2 with up to date core tooling installed), but I'm getting a 500 error. It throws when

`builder.AddUserSecrets();`

is executed. Having had a quick look, it would seem that the secret subsystem has recently changed, so I'm guessing the sample config is not up to scratch...

[I've uploaded the white screen of death to gist](https://gist.github.

[2016-05-20 12:09] MaximRouiller commented on #828
Extracting screenshot:

![image](https://cloud.githubusercontent.com/assets/209384/15427303/22da5aea-1e62-11e6-98cd-bfe77c5fb0c5.png)

And stack trace:
[code]

[2016-05-20 12:44] blowdart commented on #823
Can you try enabling debug logging within the app? @HaoK any more ideas? This is pretty bizarre.

[2016-05-20 14:49] gray29 commented on #823
Regarding the production server treating cookies differently direct on the internet I cannot explain. One difference I picked up in fiddler is that when on the VPN or to the dev server the content gets encoded/zipped but not to production via the internet. Not sure why IIS behaves this way or if it is related to the problem

Regarding the strange behavior when not on the VPN
It is basically is two

[2016-05-20 14:56] gray29 commented on #825
Issue is only to do when set `CookieOptions` and probably using `Microsoft.AspNet.Session`. If the defaults gets used and isPersistent is set to true then I don't get an error.

[2016-05-20 14:56] #825 closed

[2016-05-20 19:07] mdmoura opened #829 "ASP.NET identity configuration exception and that breaks dotnet.exe run process"
I am moving a project from ASP.NET Core RC1 to ASP.NET Core RC2 and I have the entities:

    public class User : IdentityUser<Int32> { }

    public class Role : IdentityRole<Int32> { }

On startup ConfigureServices I have the following as I had in RC1:

      services.AddIdentity<User, Role>()
          .AddEntityFrameworkStores<Context>()
          .AddDefaultTokenProviders();

It builds fine b

[2016-05-20 19:52] HaoK commented on #804
4c63935174395c74753093c876c9ce492889b061

[2016-05-20 19:52] #804 closed

[2016-05-20 20:26] HaoK commented on #829
Yeah you need to specify the TKey when you change it from string, so `AddEntityFrameworkStores<Context, int>`

[2016-05-20 20:28] HaoK commented on #828
Try adding this: `.UseContentRoot(Directory.GetCurrentDirectory())` to Startup...

I think I set the content root in my environment variables which is why I don't see this...

[2016-05-20 20:30] HaoK commented on #826
Can you include more details about what you are doing and expecting, the removal of the helpers shouldn't have changed anything on your actual ClaimsPrincipal, but that said, its possible some other changes affect what the data actually is as well...

[2016-05-20 20:35] HaoK commented on #823
Why is the identity cookie in conflict with the session cookie?  As a first step, can you revert any changes you have to the cookie properties in general, the defaults should be fine in general, and would be a good thing to remove as possible causes of any weirdness you are seeing.

[2016-05-20 20:37] HaoK commented on #779
You shouldn't need to create your own UserClaimsPrincipalFactory, you should be able to resolve it from ApplicationServices just like the managers...

[2016-05-20 21:07] zigzag95 commented on #829
Thanks Haok

[2016-05-21 00:03] HaoK opened #830 "CoreCompat: Consider using NormalizedName/Email"
We can add new implementations of store methods to take advantage of the new normalized data to improve perf.

[2016-05-21 00:03] HaoK commented on #830
If we do this, we need to also add the normalized index.

[2016-05-21 05:36] miroslavsiska opened #831 "UserManager - add next functionality"
Hi.
I need for "SuperUser" ability to change password of any user in identity system.
I need add this to  existing UserManager:
   public virtual async Task<IdentityResult> ChangePasswordAsync(TenantUser user, string newPassword)
(No Token parameter as parameter...)

I'm finished with CustomUserManager like this:

using System;
using System.Collections.Generic;
using System.ComponentModel;
using S

[2016-05-21 09:13] gray29 commented on #823
I can only conclude the issue is to do with caching. This might explain why over VPN I don't get the issue. There must be a server caching https server traffic.

I log in as user X. Access some page. Then log out.
Log in as user Y. then all the pages that user X accessed previously shows user X details instead of user Y.

 If I access a page that user X hasn't accessed  it will show user Y's page.

[2016-05-21 17:02] kjanshair opened #832 "ASP.NET Core RC2 Seed Data using Services"
I've been using ASP.NET 5 RC1 in which I've an application in which I seed administrative credentials into the data base using Services as follows:

[code]

Here is the connection string sub-object:

`"ConnectionString": "Server=.;Database=kjanshair;Trusted_Connection=True;"`

And the service that I use to seed data is being seeded using the Administrative seed data. It all works fine but when I p

[2016-05-21 21:50] divega commented on #832
@kjanshair how does the 'AdministratorSeedData` class and your `ApplicationDbContext` look like? In particular I am interested in the constructors and the `EnsureSeedData()` method,  but there may be other relevant parts,  e.g. do you have an `OnConfiguring()` method on the `DbContext`?

PS: you may want to check out how I fixed the code formating on your post.

[2016-05-21 21:51] divega commented on #832
Also, it may be obvious,  but is the change of the database name in the connection string intentional?

[2016-05-22 07:07] kjanshair commented on #832
@divega here is my EnsureSeedData() method

`public async Task EnsureSeedData()
        {
            if (await _userManager.FindByEmailAsync("kjanshair@yahoo.com") == null)
            {
                ApplicationUser administrator = new ApplicationUser
                {
                    UserName = "kjanshair@yahoo.com",
                    Email = "kjanshair@yahoo.com"
                };

[2016-05-23 06:03] HaoK commented on #788
@XcoderTeam Can you include the startup for your app?

[2016-05-23 14:56] kdelorey commented on #826
@HaoK I was writing a large overview of what I was trying to do and what the result was and I stumbled upon my problem. Sometimes you just have to talk these things out. I apologize for the inconvenience. It is a slight difference in behavior from RC1 to RC2, but I believe it is a mistake from my ported code and RC2 has the appropriate behavior.

Basically I was creating a default account in a rol

[2016-05-23 14:56] #826 closed

[2016-05-23 15:58] HaoK commented on #829
Feel free to reopen if this doesn't fix the issue

[2016-05-23 15:58] #829 closed

[2016-05-23 16:06] mdmoura commented on #829
Yes, I tried just now and it worked. Just a site question: should a Window saying an error on dotnet.exe occurred and asking me if I want to close it or debug dotnet.exe? That is what happens when I don't set:

    .AddEntityFrameworkStores<Context, Int32>()

Maybe dotnet.exe shoudl catch such kind of exception and displays then on console.

[2016-05-23 18:30] divega commented on #785
Closing this issue as it is not actionable for ASP.NET Core Identity 1.0. I have copied all the relevant information in https://entityframework.codeplex.com/workitem/2926, and we will follow up on it as an EF issue.

[2016-05-23 18:30] #785 closed

[2016-05-23 18:37] divega commented on #785
@sdanko sorry for taking so long to respond. If you still have a repro, I have posted another suggestion to try to diagnose the issue at https://entityframework.codeplex.com/workitem/2926.

[2016-05-23 20:05] HaoK commented on #585
104f2161915b1a4e7d0013f3de3b8d9a212a5d27

[2016-05-23 20:05] #585 closed

[2016-05-23 20:25] HaoK commented on #828
e0676292fcc8537fb6a7d3709b36b5963881a981

[2016-05-23 20:25] #828 closed

[2016-05-23 20:25] HaoK commented on #457
e0676292fcc8537fb6a7d3709b36b5963881a981 AspNet.Identity.CoreCompat package added

[2016-05-23 20:25] #457 closed

[2016-05-24 00:58] divega opened #833 "Sort out how to publish the Microsoft.AspNet.Identity.AspNetCoreCompat package"
This package contains code that should useful customers share a database and identities between an application based on ASP.NET Identity 2.x and an application based on ASP.NET Core Identity 1.0.

We want to publish it as a supplement to a step-by-step guide on how to do that, but it isn't clear we should make it part of any supported product.

This issue is to sort out how we go about publishing

[2016-05-24 13:05] ahmad-moussawi commented on #542
@yetanotherchris Could you please give us an example on how to extend the `EmailTokenProvider` ?

I need to generate a smaller token, since I have a case where the user should enter it manually, so with a long token this could be impossible.

[2016-05-24 17:44] gray29 commented on #823
closed as proxy/cache related

[2016-05-24 17:44] #823 closed

[2016-05-25 02:58] chinadragon0515 opened #835 "Asynchronize call does not use the same account"
We have a customer who build a Web Api application, it will use Windows authentication, and in this application, it will have some aynchronized call to the database via entity framework.  We find the windows credential used to access Web Api application is not passed to DB call, and DB call uses a different app pool account.

For the configuration,
1. IIS has enabled windows authentication.
2. in

[2016-05-25 21:05] blowdart commented on #835
The link you have is for the previous versions of .NET Core.

Are you using .NET Core?

[2016-05-25 21:08] blowdart commented on #831
Given a user, you retrieve from the store, you could generate the password hash, using the password hasher, set the password field in the user class, and then update it via the user store.

[2016-05-25 23:58] chinadragon0515 commented on #835
No, we are not use .NET core.
This is from our package.config file,
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetF

[2016-05-26 13:34] brockallen opened #836 "Consider protecting tokens in IUserAuthenticationTokenStore"
Since this seems geared for storing user's access tokens back to whatever external IdP, and given that you have no idea what scope those access tokens might provide access to, storing the values in plain text in the store seems a bit open. Sure, perhaps most of these tokens will be for something like a user info endpoint, but even that is indirectly PII you might be leaking if the DB is compromise

[2016-05-26 14:18] brockallen opened #837 "GenerateEmailConfirmationTokenAsync does not use current email value to verify"
GenerateEmailConfirmationTokenAsync does not use the current email in any way for verification. If the email is changed in between the time the token is generated to the time it's confirmed then the confirmation would really be incorrect/invalid and for the wrong email.

I'd have to spend some more time thinking about this to suggest an attack, but regardless it seems very easy to shore this up by

[2016-05-26 14:26] brockallen commented on #542
Beware using this with a very long window of time -- it might open up a brute force attack on validating the email confirmation token (more of a concern for password reset scenarios).

[2016-05-26 15:17] RehanSaeed commented on #655
I'm still unclear on the recommended approach. One use case for `IHttpContextAccessor` is the command pattern for controller actions e.g.

[code]

The alternative approach is to pass the HttpContext around all over the place which can get a bit ugly if you have a few parameters, in addition to a HttpContext to pass e.g.

[code]

[2016-05-26 16:08] johnkattenhorn opened #838 "Using Asp.Net Identity Core without EntityFramework core"
I'm trying to use Asp.NET Identity without EntityFramework core but I get an exception:

`Exception thrown: 'System.Reflection.ReflectionTypeLoadException' in mscorlib.dll`

Stack Trace:

[code]

When I look inside the exception it is still looking for EntityFramework:

`Could not load file or assembly 'Microsoft.EntityFrameworkCore.Relational`

Is it possible to use Microsoft.AspNetCore.Identity

[2016-05-26 16:46] johnkattenhorn commented on #838
I've resolved this by doing a git clean -dfx and making sure there was no old stuff around.

Working now

[2016-05-26 16:46] #838 closed

[2016-05-26 19:59] HaoK commented on #833
ed1d8cfbd001676c7b187881934d207577cf8a24

Shipping as 0.1 version with AspNetCoreCompat name

[2016-05-26 19:59] #833 closed

[2016-05-27 14:25] brockallen opened #839 "NotifyAsync left over from AspId2?"
Is this supposed to still be in there in v3?

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/DataProtectionTokenProvider.cs#L172

[2016-05-27 23:02] ganeshnj opened #841 "Couldn't able to rename Identity tables"
### Steps to reproduce

- Create subclasses for each of Identity entities
- Change the default key type to int/int16/int32/Int64

[code]

Startup.cs
[code]

- Add fluent API to change original table names

CustomIdentityContext.cs
[code]

- Add migration and update the database

### The issue
I've been trying to customize the Identity entities with some additional attributes and key type. Everythi

[2016-05-29 21:30] ravero opened #842 "UseIdentity() is affecting API pipeline"
In my ASP.NET Core RC2 project I mixed controllers for Web and API. Web Controllers use the default routing while API controllers uses the Route Attributes.

One of my API's returns an IActionResult that either can return BadRequest(), Unauthorized() and Json(). Before adding Identity to the project it was working fine, but after adding it returning either *BadRequest* or *Unauthorized* is returni

[2016-05-30 01:26] eraima commented on #307
read below article
http://tech.trailmax.info/2015/05/asp-net-identity-invalid-token-for-password-reset-or-email-confirmation/

//I use below code
if (!UserManager.VerifyUserToken(userId, "ResetPassword", code))
            {
                //Errer
            }

[2016-05-30 13:59] XcoderTeam commented on #788
This one can closed it work now

[2016-05-30 14:36] #788 closed

[2016-05-30 21:29] devilsuraj opened #843 "externalLogin API to work with angular2"
hi, may be its irrelevant but  i am creating authentication for angular2 using openiddict , my login and registration is working but not externallogin.
i can not call api account/externallogin , it throws error 400 or failed 302 .
how can i just get redirect url rather than a challengeresult.
    ` return Challenge(properties, provider);`
and other respective functions like register externeal etc

[2016-05-31 00:54] #843 closed

[2016-05-31 00:55] devilsuraj commented on #843
not needed .. i was stupid.... found simple solution.

[2016-05-31 09:12] naji-makhoul opened #844 "SignInManager PasswordSignInAsync exception: Cannot access a disposed object. Object name: 'UserManager1'.`"
i'm using asp.net rc2 web api mvc ,
when i try to login i have error on code:

`Cannot access a disposed object.
Object name: 'UserManager`1'.`

   at Microsoft.AspNetCore.Identity.UserManager`1.FindByNameAsync(String userName)
   at Microsoft.AspNetCore.Identity.SignInManager`1.<PasswordSignInAsync>d__33.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at

[2016-05-31 10:02] TheBeardedLlama commented on #828
Thanks for the fix @HaoK

I was away last week, but I will give it a go now

[2016-05-31 13:37] PinpointTownes commented on #844
It's a race condition, caused by the fact you're using `async void` (which is basically fire-and-forget async).

Replace `public async void Post([FromBody]UserViewModel vm)` by `public async Task Post([FromBody]UserViewModel vm)` and it should work.

[2016-05-31 13:50] yuleyule66 commented on #841
I have the same problems

[2016-05-31 22:08] pachecosoftware commented on #829
When using the 1.0.0-rc3-21101 nightly build, I am getting this same error even when using string as the TKey generic argument of IdentityUser, but only in cases where my ApplicationUser class explicitly extends `IdentityUser<TKey, TUserClaim, TUserRole, TUserLogin>` rather than `IdentityUser<TKey>`.

In order words, everything works fine when my ApplicationUser class is defined as follows:

`publ

[2016-05-31 22:17] HaoK commented on #844
Yep what @PinpointTownes said :)

[2016-05-31 22:17] #844 closed

[2016-05-31 22:18] HaoK commented on #839
Yeah looks like dead code, thanks!

[2016-05-31 22:18] HaoK commented on #839
@divega @blowdart easy fix to slam in?

[2016-05-31 22:21] blowdart commented on #839
Sure go for it.

[2016-05-31 22:30] HaoK commented on #829
There currently isn't any sugar for AddEntityFrameworkStores for plugging in the more complicated derived IdenttyUser generics today, basically you need to mimic what that method currently does, just passing in the correct types.

[2016-05-31 22:36] #839 closed

[2016-05-31 22:39] pachecosoftware commented on #829
Thanks for the quick response and the clarification.  Do you happen to know if adding the syntactic sugar to support this sort of configuration is on the roadmap for some future release?

[2016-05-31 22:48] HaoK commented on #829
Not currently as the amount of generics required was a bit overwhelming in this situation.

[2016-06-01 07:31] stefanhendriks opened #846 "App.Use() custom authentication + Integration testing with TestServer does not seem to configure authentication handler properly?"
We recently upgraded to RC2. In our app we have this in our startup.cs:

[code]
This basically checks if a header is present, if the value of the header is known to us, and if so it is allowed to execute the request. (ie it is authorized).

When normally booting our app, and testing this, it works fine. I get a `401` when expected or the request is being processed.

However, I also had an integrat

[2016-06-01 10:55] casertano opened #847 "Applying Polices (Authorize), problem with NormalizedName"
In our application with ASP.NET Core RC1, we have a problem applying Polices (Authorize) with Claims. The NormalizedName have to be exactly the same as Name (in AspNetRoles table).
That is:
Name = **Test A** and NormalizedName = **TEST_A** => _Is not recognized in the Police_;
Name = **Test A** and NormalizedName = **TEST A** => _It is recognized in Police_;

[2016-06-01 15:08] brockallen opened #848 "TwoFactorUserId & TwoFactorRememberMe cookie issues"
RC2 tooling, new project using local accounts.

1: The TwoFactorUserId cookie middleware seems to be set to somehow running automatically (tho the AutomaticAuthN is not set AFAICT). This has the side effect of interfering with the primary authentication cookie and the User claims. So in short, I'm seeing all the claims from both the main cookie merged with the claim in the TwoFactorUserId cookie.

[2016-06-01 15:44] brockallen commented on #848
Ok, just debugged some more... turns out all of the UseIdentity() cookie middlewares are now being set to AutomaticAuthenticate=true. Perhaps this was a change in the cookie MW defaults in RC2?

If I explicitly set the 3 of them to false (all but the app cookie) then it's working as expected.

The TwoFactorUserId cookie is still not removed upon successful 2fa tho.

[2016-06-01 16:23] brockallen commented on #848
Looks like this might be the issue: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationOptions.cs#L27

Setting this to default to true is dangerous, as evidenced by this issue and the fact that someone forgot to update all of the MW here.

[2016-06-01 18:45] brockallen opened #849 "Add IdentityBuilder API for registering IUserClaimsPrincipalFactory"
IUserClaimsPrincipalFactory is a pretty crucial extensibility point in AspNet Identity (e.g. mapping custom properties on the user to claims in the cookie), but there's no visible API on IdentityBuilder for it.

[2016-06-01 18:57] HaoK commented on #848
Ugh, yeah we should fix this

[2016-06-01 19:02] brockallen opened #850 "SignInManager:ExternalLoginSignInAsync needs flag to bypass 2fa"
Currently if a user's account in ASP.NET Identity is configured to require 2fa it's required for both password and external authentication. Often the external provider already does the 2fa. There should be a param on the ExternalLoginSignInAsync to bypass the 2fa step, but still keep the other checks (primarily the call to PreSignInCheck).

[2016-06-01 19:28] brockallen opened #852 "Expose a SignInManager.CheckPassword API that does lockout (optionally)"
I know there's already a confirm email on the UserManager, but imagine this scenario:

I want my email verification page to require the user's password (in addition to the code) -- people enter wrong email addresses all the time and we need a way to protect against the wrong email recipient from using the code to pwn the account.

So before I can verify the code, I also need to verify the password

[2016-06-01 19:48] HaoK commented on #852
Sounds like what you really want is just a way to just CheckPassword that doesn't do SignIn or TwoFactor on SignInManager, but optionally will still count against lockouts/login failures

[code]

[2016-06-01 21:12] blowdart commented on #847
Can you describe what you're trying to do? Please include your policy code & authz configuration, and the roles you're trying to validate.

[2016-06-01 21:13] blowdart commented on #846
This is not an Identity issue. Identity, is basically our membership system. Please add an issue to the Security repo.

[2016-06-01 21:13] #846 closed

[2016-06-01 21:18] HaoK opened #853 "Consider supporting non cookie scenarios for SignInManager"

[2016-06-01 21:18] blowdart commented on #842
UseIdentity wires up cookie middleware, which in turn takes over the 401/403 etc. This is by design.

You're mixing up HTML pages and API Controllers, and that's painful.

You have a couple of options, you can tell cookie middleware not to be automatic, and then specify the cookie scheme on your HTML controllers, e.g.

    [Authorize(ActiveAuthenticationSchemes = "Cookie")]

Or write authenticatio

[2016-06-01 21:21] blowdart commented on #835
This github repo is for ASP.NET Core I'm afraid. I'd suggest asking on StackOverflow, and one of the team will pick it up.

[2016-06-01 21:21] #835 closed

[2016-06-01 21:22] blowdart commented on #841
Is this a dupe of #780?

[2016-06-02 00:33] brockallen commented on #853
Can you elaborate?

[2016-06-02 11:57] casertano commented on #847
@blowdart here's a simple example that used to validate the problem.

Follows the model applied in Startup.cs:

`services.AddAuthorization(options =>
            {
options.AddPolicy("PROJECT_INSERT", policy => policy.RequireClaim("PROJECT", "INSERT"));
options.AddPolicy("PROJECT_VIEW", policy => policy.RequireClaim("PROJECT", "VIEW"));
options.AddPolicy("PROJECT_UPDATE", policy => policy.RequireCl

[2016-06-02 12:01] blowdart commented on #847
So this almost looks like the claims for a role aren't populating?

@HaoK

[2016-06-02 20:28] maxisam opened #854 "GetUserId is missing"
It was there before. I wonder if it will come back.

[issue on stackoverflow](http://stackoverflow.com/a/35577673/667767)

[2016-06-02 20:34] clarkis117 commented on #854
They were moved: https://github.com/aspnet/Announcements/issues/140

[2016-06-02 20:43] #848 closed

[2016-06-02 21:04] #854 closed

[2016-06-02 21:11] HaoK commented on #853
Actually looks like we already have a bug for this, see https://github.com/aspnet/Identity/issues/651

[2016-06-02 21:11] #853 closed

[2016-06-02 21:12] HaoK commented on #651
Moving milestone for consideration

[2016-06-02 21:42] HaoK commented on #847
Why are normalized name and name different with regards to _?  By default the normalization we expect is only a ToUpperInvariant(), the _ does indeed mean a different role unless you are customizing the normalization service identity uses.

[2016-06-02 21:44] HaoK commented on #847
You shouldn't be setting the normalized names at all, identity uses those to persist the results from the ILookupNormalizer service:

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/ILookupNormalizer.cs

[2016-06-03 06:44] jvelezc commented on #841
I wrote an article with the latest version of dot net and asp net identity.
https://medium.com/@goodealsnow/asp-net-core-identity-3-0-6018fc151b4#.qs0fs4t8q

[2016-06-03 06:47] jiangzm opened #855 "UserStore missing a generic parameter 'TRoleClaim'"
This abstract class `(UserStore<TUser, TRole, TContext, TKey, TUserClaim, TUserRole, TUserLogin, TUserToken>)` looks like missing a generic parameter `'TRoleClaim'`.

dev branch
[code]

I guess so
[code]

[2016-06-03 14:10] zigzag95 commented on #841
@jvelezc Ecxellent doc

[2016-06-03 14:41] zigzag95 commented on #841
I have an FK in by business classes called InputUser allowing us to log and audit database updates.
This FK points Identity user table.
Do you think I'll get errors if I move identity tables to security schema?

[2016-06-03 14:52] angelobelchior8 commented on #847
@Haok If the field "Name Normalized" should be the "Name" field in uppercase format, for which reason we can set a value for it?

[2016-06-03 15:54] jvelezc commented on #841
Entity framework will handle everything on the background. So no you should not get any issues. If you do hit me up!

[2016-06-03 17:53] zigzag95 commented on #841
I need to add DateFrom, DateTo in usersroles and manage authorisations using policies.
For now, we added our own table userrole to manage that and I believe it will be very useful if we manage that using Identity.

[2016-06-03 18:55] jvelezc commented on #841
Well the good news is that:https://github.com/aspnet/Identity/commit/104f2161915b1a4e7d0013f3de3b8d9a212a5d27#diff-c72544a50eacab8ada8ca53f53daee15 once that is merge into the main branch you can just follow my article and do the same for the other classes.

[2016-06-03 19:22] zigzag95 commented on #841
This is a good news as u said.
But once this PR merged do I have to update manually the Nuget version in my project.json?

[2016-06-03 19:26] jvelezc commented on #841
Well, once they release it I can tell you for sure... is hard to say. I tried to open the dev branch and check but it has over 300 errors for me. So I cant even fiddle with it.The errors are mostly about some library  rc3... probably internal nightly builds of dot net or something. RTM is the end of this month... so if this change does not make it you probably had to wait a huge amount of time.

[2016-06-03 19:28] zigzag95 commented on #841
Do they have ci nightly builds?

[2016-06-03 19:31] jvelezc commented on #841
If you feeling adventerous: https://github.com/dotnet/cli right now i have 64 bit machine on windows so I can't even get the latest version because the build is failing.

[2016-06-03 19:32] divega commented on #841
The CI feed for the dev branch of ASP.NET is https://www.myget.org/F/aspnetcidev/api/v3/index.json.

[2016-06-03 19:33] divega commented on #841
Other feeds described at https://github.com/aspnet/Home/wiki/NuGet-feeds.

[2016-06-03 19:46] HaoK commented on #847
EntityFramework works against POCOs, there are lots of fields that if you set to unexpected values, things will break.  PasswordHash is a good example of another field that you shouldn't set manually for example.  You are free to set the normalized name to something, but you need to set the service instanced used to respect that value as well.

[2016-06-03 19:46] #847 closed

[2016-06-03 19:48] HaoK commented on #855
@divega RTM or 1.0.1?

[2016-06-03 19:56] jvelezc commented on #841
Below are my compiler issues that are preventing me to fiddle  with the commit above. This is literally just downloading from git, cloning and trying to launch.
![lastone](https://cloud.githubusercontent.com/assets/3653845/15791154/87a99bba-298a-11e6-8da0-39b01d15b881.png)

![contributebuthow](https://cloud.githubusercontent.com/assets/3653845/15791067/1064941a-298a-11e6-9c63-d8ed3872ebac.png)
![d

[2016-06-03 20:02] zigzag95 commented on #841
1. They should not user RC3 (community standup)
2. I tried to do the same with EF but same errors (package restore failed)
3. I wonder if Msft is really playing open source (unable to build).

[2016-06-03 20:28] divega commented on #855
Wouldn't be a breaking change to do it later?

[2016-06-03 20:30] HaoK commented on #855
Depends on how we did it, if we added a new class and kept the old one I guess not

[2016-06-03 21:21] smitpatel commented on #841
To build from GitHub repo, you need
VS 2015 Update 2
.NET RC2 tooling
The compiler errors you are getting is because of incorrectly restored packages. Do a `git clean -xdf` in the repo and run `./build.cmd` from command line. That will download latest dotnet needed to build the repo, restore all the packages and build the solution using dotnet. Opening the solution in VS should work then.
To build

[2016-06-03 21:30] divega commented on #841
+1 to everything @smitpatel said.

In case it helps, if you are hitting the same problems as I am, just unload the "samples" folder (right-click on it in the solution explorer and click on the "Unload projects in the solution folder"). Everything else builds for me.

Anyway, life in the bleeding edge is hard. I.e. the dev branch and feed is often broken because of cross-repro breaking changes, and

[2016-06-03 21:48] jvelezc commented on #841
I removed the sample projects and I am able to compile the project. Thanks.

[2016-06-04 05:31] divega commented on #841
@HaoK do the samples work for you?

[2016-06-04 05:40] HaoK commented on #841
They did earlier this week (say Wed) yes, but I probably have packages that are a bit old.

[2016-06-04 05:43] HaoK commented on #841
But samples is what pulls in all the rest of the dependencies like MVC so its more likely to run into issues as a result.

[2016-06-04 06:24] smitpatel commented on #841
Found the issue
`samples\Interop4.5` is csproj based class library which uses `nuget.config` which has hardcoded package versions. Some of those doesn't exists on myget feed hence package restore fails and gives compilation errors because assemblies are not found.

[2016-06-04 06:46] zigzag95 commented on #841
Apologies for Msft team.
I'm now able to build without samples
👍🏼

[2016-06-04 14:03] joeaudette opened #857 "is it not possible to replace the old claimsprincipal extensions?"
This breaking change announcement for rc2 removed some useful ClaimsPrincipal extensions
https://github.com/aspnet/Announcements/issues/140

which resulted in the need to inject both UserManager and SignInManager into _LoginPartial.cshtml in the latest project templates.

That seems kind of ugly to me. Is it not possible to make new extension methods that do respect the configuration options someh

[2016-06-04 15:39] brentdavid2008 commented on #857
+1 on this, i use User.GetUserId() in a lot of partial views, seems silly to have to give the view the entire UserManager

[2016-06-07 00:09] levitatejay opened #858 "Return JSON message when policy requirement fails"
It seems both the cookie and token middleware are overwriting the response I'm setting in my requirement handler. Here is the code that sets the response in my requirement handler:

[code]

When the response comes through there is no JSON in the body.

I've seen that using requirements and handlers is the suggested way to do authorization but how can I return a custom message to the client along w

[2016-06-07 01:57] lcalabrese opened #859 "Confirm Email Token Expiration/Lifetime"
Currently the different types of token (Confirm Email/Password Reset/Change Email) use the same shared `DataProtectorTokenProvider` named "Default" which in turn all share the same `DataProtectionTokenProviderOptions`. This means you are unable to configure the lifetime of each type of token separately. Ideally I would like to be able to set the Password Reset to something like 4 hours and the Con

[2016-06-07 02:18] madmunsterdaddy opened #860 "Aborting ExternalLoginCallback causes error when trying to access a page which requires Authentication"
Steps to reproduce

1) Create a new web app with Individual User Accounts
2) Add Twitter authentication
3) Run the app
4) Click Log in
5) Click the Twitter button and enter twitter credentials
6) You're now at ExternalLoginCallback... don't add email address
7) Navigate to /Manage/Index

ArgumentNullException: Value cannot be null.
 Parameter name: user

[2016-06-07 02:20] madmunsterdaddy commented on #860
You can get stuck in some nasty error loops if you get into this state. This should be handled more gracefully.

[2016-06-07 02:32] HaoK commented on #859
Alternatively you can set them to be different token providers via https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/TokenOptions.cs

[2016-06-07 03:01] lcalabrese commented on #859
That's what I ended up doing, but in order to have a different value for the injected `DataProtectionTokenProviderOptions.TokenLifespan`, I need to have them actually be different classes and not simply another instance of `DataProtectorTokenProvider` with a different Name. This way I can get the DI container to grab the correct options based on the new class's constructor. Am I misunderstanding t

[2016-06-07 03:47] HaoK commented on #859
Ah yeah you can't have different options for the same class no, see related https://github.com/aspnet/Identity/issues/465

[2016-06-07 06:17] slaneyrw opened #861 "Should you make IUserStore<TUser> covariant?"
In ASP.NET Identity v2 I'm getting grief casting between IUserStore interfaces when using IdentityUser inheritance.  I believe this is due to the various IUserStores not being covariant.

In the following code, my ChildApplicationUserStore class cannot call the base constructor without casting IUserStore<ChildApplicationUser> to IUserStore<ApplicationUser<CustomIdentityUserLogin>>.  If IUserStore<

[2016-06-07 07:19] chinadragon0515 commented on #835
stackoverflow question is http://stackoverflow.com/questions/37604029/webapi-project-entity-framework-asynchronize-call-does-not-use-the-same-account

[2016-06-07 17:46] madmunsterdaddy opened #862 "AspNetUserLogins.ProviderDisplayName always null"
This field never gets populated when logging in with any provider. Is it supposed to?

[2016-06-08 11:21] pingcrosby commented on #860
I am having the same issues now  - how are you handling it?

[2016-06-08 11:38] pingcrosby opened #864 "RC1 upgrade to RC2 - does SignInManager.IsSignedIn(User) replace User.Identity.IsAuthenticated?"
I have recently upgraded from RC1 to RC2 and am having some weird issues when i authenticate with an external provider.

Previously in RC1 my views were coded like this

[code]
This worked fine even if the user was from an external provider or internal login.

However after upgrading to RC2 as soon as I use an external provider and I have not yet completed the `ExternalLoginCallback`, `ExternalLog

[2016-06-08 14:34] madmunsterdaddy commented on #860
I've not yet found anything I can do about it. I believe the issue may be in signinmanager. When you sign in with external you get that second cookie which its obviously unable to locate a user with that id in the system and that cookie is just lingering (I believe).

[2016-06-08 15:57] HaoK commented on #864
This is caused by https://github.com/aspnet/Identity/issues/848 and should be fixed in 1.0.0

[2016-06-08 15:57] #864 closed

[2016-06-08 16:01] HaoK commented on #862
Did you set it in your app when adding the login, i.e.

`await manager.AddLoginAsync(user, new UserLoginInfo(provider, providerKey, displayName)`

[2016-06-08 16:03] HaoK commented on #858
The security repo issue can track this, not an issue for identity.

[2016-06-08 16:03] #858 closed

[2016-06-08 16:11] madmunsterdaddy commented on #862
Was just using default template ;) That should probably be added.

Even so, in LinkLoginCallback, ExternalLoginInfo.ProviderDisplayName is null so if you want this you have to use something like:

await _userManager.AddLoginAsync(user, new UserLoginInfo(info.LoginProvider, info.ProviderKey, **info.LoginProvider**));

[2016-06-08 20:21] HaoK commented on #860
The twitter cookie should only live for 5 minutes by default after which it will be expired.  That said, is the null ref coming from the View?

[2016-06-08 20:22] madmunsterdaddy commented on #860
Yes, it happens when it tries to get the current user.

[2016-06-08 20:24] pingcrosby commented on #860
Just as an aside - the same symptoms occur with Google and Microsoft providers.  If a user presses the browser back button for example at the ExternalLoginCallback page - the server hangs.

[2016-06-08 20:29] HaoK commented on #860
This code lives in the ManageController, you can just add a null guard to prevent null users from calling UserManager APIs.  I'll file an issue in the Templates repo to add some more error checking.

[2016-06-08 20:31] HaoK commented on #860
https://github.com/aspnet/Templates/issues/596

[2016-06-08 20:37] madmunsterdaddy commented on #860
I think it's a bit deeper than that from what I can see.

It tanks in UserManager.GetCurrentUserAsync().

In an instance where you use Guid for ID type you'll get this:

FormatException: Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx).
System.Guid.TryParseGuidWithNoStyle(String guidString, GuidResult& result)
System.Guid.TryParseGuid(String g, GuidStyles flags, G

[2016-06-08 20:43] HaoK commented on #860
So you have an empty string for your userId in your principal I'm guessing right now to cause this behavior?

[2016-06-08 20:47] madmunsterdaddy commented on #860
No, it has my external login username.

[2016-06-08 20:51] HaoK commented on #860
This might be due to https://github.com/aspnet/Identity/issues/848 where the external login cookie is getting smushed with normal application cookie.  Try turning off AutomaticAuthenticate for the non ApplicationCookies:
[code]

[2016-06-08 20:53] madmunsterdaddy commented on #860
Ah-ha!

Yep, that results in the correct behavior where it just returns me to login screen.

[2016-06-08 20:56] HaoK commented on #860
Cool this is already fixed for 1.0.0, so the workaround should only be temporary

[2016-06-08 20:56] #860 closed

[2016-06-09 15:26] brockallen opened #865 "[template] ResetPassword is using FindByNameAsync, not FindByEmailAsync"
The template is using the wrong API to find the account for password resets. It should be based on email, not the username. This makes it easier for people who use the template and don't use email for the username.

[2016-06-09 16:20] HaoK commented on #865
Well email doesn't have to be unique which is why we went with username originally.

[2016-06-09 16:21] brockallen commented on #865
And how do people get their username emailed to them if they forget the username?

Is there a flag to make email unique? IIRC I saw one...

[2016-06-09 16:51] HaoK commented on #865
Yeah there's a flag on User options to require it to be unique. You could send them all their usernames for the email I guess.

[2016-06-10 16:52] divega commented on #801
This issue was moved to aspnet/Docs#1370

[2016-06-10 17:33] divega commented on #801
Reopening since this can be addressed in API comments.

[2016-06-11 09:13] onedevteam opened #867 "cannot access a disposed object UserManager in asp.net mvc core"
I have following code in my service that should create UserManager instance

    public class SubscriptionService : ISubscriptionService
    {

        private UserManager<ApplicationUser> userManager;
        public UserManager<ApplicationUser> UserManager
        {
            get
            {
                return userManager;

            }
            private set { userManager = value; }

[2016-06-11 09:30] HaoK commented on #867
How are you registering your SubscriptionService, is its lifetime scoped?  The usermanager will be disposed after each request, so that is most likely what's causing the error.

[2016-06-11 09:33] onedevteam commented on #867
SubscriptionService is registered in Startup.ConfigureServices with

            services.AddTransient<ISubscriptionService, SubscriptionService>();

[2016-06-11 10:45] dallancarr commented on #867
Interesting your instatiating the service  potentially inside the controller. Why do that?

[2016-06-11 11:08] onedevteam commented on #867
@dallancarr If i don't reference service, when i try to call it i get compile error `An object reference is required for the non-static field, method, or property 'SubscriptionService.Create(string, Plan, string)'	`

[2016-06-11 11:36] onedevteam commented on #867
Update: i have replaced  in my Startup.ConfigureServices()

`        services.AddTransient<ISubscriptionService, SubscriptionService>();
`

with

`        services.AddSingleton<ISubscriptionService, SubscriptionService>();
`

and app worked as it should be.

[2016-06-11 11:41] dallancarr commented on #867
Yes that would work but not ideal. How are you  constructing the controller?

[2016-06-11 11:43] onedevteam commented on #867
Controller constructor:

[code]

[2016-06-11 12:00] dallancarr commented on #867
The newing code should be removed and let DI deal with the lifetime. There some scoped dependencies inside the manager which your hand a little.

[2016-06-11 12:22] dallancarr commented on #867
Also no need to inject the manager in the controller if you constructing it as part of the service. But that is down to your implementation.

[2016-06-12 18:32] onedevteam opened #868 "InvalidOperationException when calling UserManager.UpdateAsync()"
I have

[code]

as my controller action. ModelState.IsValid is true. but when _userManager.UpdateAsync(model) executes, i get an error `InvalidOperationException: The instance of entity type 'edu_app_01.Models.ApplicationUser' cannot be tracked because another instance of this type with the same key is already being tracked. For new entities consider using an IIdentityGenerator to generate unique

[2016-06-12 20:02] brockallen commented on #868
This is unrelated to your question, but beware using your `ApplicationUser` in MVC's model binding as you might be subject to an underposting or overposting attack. You should use formal view models and update models, and not your EF model directly. And then, yes, you will have to map between them. Taking this approach will also mean you will avoid the issue that you're raising here.

@blowdart ca

[2016-06-13 07:45] onedevteam commented on #868
@brockallen I know that, this is actualy test code i made to examine another issue i have with UserManager<> class when running with Roles enabled.
When i try to _userManager.UpdateAsync(), i'm getting error that data can't be updated because FK conflict with AspNetUserRoles table.

[2016-06-13 13:45] blowdart commented on #868
@divega

[2016-06-13 16:03] divega commented on #868
@onedevteam re the original question, it is not possible for me to guess why it is failing for you without at least a full stack trace, but from what I see in the code the EF-specific part of the implementation of the `UpdateAsync()` method is designed to take a user object that is not currently tracked by the `DbContext`, mark it as modified and then save. It will fail if another object represent

[2016-06-13 18:30] xperiandri opened #869 "XML comment for IdentityUser.Id property is messed up"
[See](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/IdentityUser.cs#L71)

[2016-06-13 18:40] gilmishal commented on #581
Is their any update on this issue?

[2016-06-13 18:41] MaximRouiller commented on #869
*Misaligned*.

[2016-06-13 19:37] blowdart commented on #869
@HaoK - missed :) Can you adjust?

[2016-06-13 19:54] xperiandri commented on #869
Also incorrect comment at https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/IdentityUserClaim.cs#L21

[2016-06-13 21:46] xperiandri opened #871 "What is the purpose of navigation property initialization with List<T> instances?"
What is the purpose of navigation property initialization with List<T> instances as Entity Framework uses HashSets? Or I miss something.

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/IdentityUser.cs#L154
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/IdentityUser.cs#L159
https://github.com/aspne

[2016-06-13 22:08] HaoK commented on #682
Interop sample can't live in same sln as core currently due to package restore issues and ef migrations.  Will need to revisit what we want to do (if anything)  Could just have a blog post/doc walkthrough instead of a checked in sample since its more of a flow anyways

[2016-06-13 22:09] HaoK commented on #682
Moving to 1.0.1 since there's nothing to be done in 1.0.0

[2016-06-13 22:25] divega commented on #682
Another option would be to put it into its own repo.

[2016-06-13 22:45] HaoK commented on #682
The main problem is that the best I can do is check in a snapshot at a single point (probably the end result) of the migration.

[2016-06-13 22:46] HaoK commented on #682
Also its weird for it to live in its own repo when the Compat package lives here

[2016-06-13 22:48] HaoK commented on #682
I think a second sln in this repo would be better than moving it out

[2016-06-13 22:52] xperiandri commented on #869
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs#L54
`a user and a role`

[2016-06-14 05:30] HaoK commented on #869
7b3b3627957404fe9083268929dd5589f7a26d1b

[2016-06-14 05:30] #869 closed

[2016-06-14 11:56] xperiandri commented on #869
I'm just looking at the comments to make [OpenIddict](https://github.com/openiddict/openiddict-core/) comments having the same style.

[2016-06-14 12:02] xperiandri commented on #869
The style of description is inconsistent for
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/IdentityDbContext.cs#L51-L53
and
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs#L105-L112

Which one will be agreed for entity type description?
1. The type of `entity` object**s**.
2. The type

[2016-06-14 23:12] HaoK opened #872 "Remove no warn for no doc comments"

[2016-06-15 03:25] lcalabrese commented on #859
Indeed and that’s a pretty similar scenario to what we’ve run into. We have a system set up where administrators can “invite” new users to the site, which basically generates a confirm email token (technically I’m using a different `Purpose` string but it’s not relevant) and sends an invitation email out to the new user. Then for whatever reason they don’t check their email until later - it might

[2016-06-16 11:33] ikourfaln opened #874 "by default, string as primary key type for the user entity !!!"
Hi,
We see that, by default, you use string as primary key type for the user entity !!
And we all know that int is more efficient than string. But we believe that there is a reason why you choose string. So please can you explain why ?! are we missing something.

We want start a new project from scratch, and our team said that int as key type is more efficient because in our model, User entity is

[2016-06-16 11:55] magnusbakken commented on #861
IUserStore<TUser> can't be covariant because there's a method on it where the TUser type parameter is used as input. In fact this is true of almost all the operations on the interface. This is an important rule for the variance feature in the C# type system.

If you think about it you'll see why this restriction is in place. Consider this scenario:

[code]

You're now calling an implementation of

[2016-06-16 18:23] SteveSandersonMS commented on #780
I'm doing some verification for the ASP.NET Identity features and have not been successful in getting the Identity DB to change the user ID type from guid to int. If this is going to be a common scenario, we may need better docs.

I tried doing what's described above by @TDK1964, but it ends up producing the error:

[code]

I don't know why this type error occurs at runtime, given that there was n

[2016-06-16 18:26] blowdart commented on #780
@HaoK @divega

[2016-06-16 18:27] gdoron commented on #780
I'm on my mobile phone, but you should add to the startup class some code that says the PK is an interesting.
I'll upload it soon.
It works fine for me (using RC 2)

[2016-06-16 18:29] SteveSandersonMS commented on #780
I did also try changing the `AddIdentity` call in `Startup.cs` to specify the custom generic types:

    services.AddIdentity<ApplicationUser, ApplicationRole>(...

... but that didn't change the outcome. Is there some other code I need to add?

[2016-06-16 18:32] gdoron commented on #780
@SteveSandersonMS

            services.AddIdentity<ApplicationUser, Role>()
                .AddEntityFrameworkStores<ApplicationDbContext, int>()
This does the trick for me.

[2016-06-16 18:50] HaoK commented on #780
Yeah that is an easy step to miss. We should make sure the docs are updated to make it clear.

[2016-06-16 19:05] SteveSandersonMS commented on #780
Thanks! Yes, that works :)

[2016-06-16 19:05] #780 closed

[2016-06-16 19:10] SteveSandersonMS opened #875 "XML doc issues in Identity classes"
* `LockoutOptions.AllowedForNewUsers` property gives no intellisense documentation (whereas the other two properties on that class do)
* `CookieAuthenticationOptions.CookieName` intellisense docs claims the default value is `.AspNetCore.Cookies`, but the actual default value seems to be `.AspNetCore.Identity.Application`

[2016-06-16 19:28] HaoK commented on #875
This is because the default from identity is different than the cookies default but the intellesense comes from cookies

[2016-06-16 19:30] SteveSandersonMS commented on #875
OK, makes sense. Maybe we shouldn't mention the default value in the XML docs if we have a high probability of giving false information.

[2016-06-16 21:34] gdoron commented on #780
@HaoK, BTW, why is it even needed?
Why isn't inheriting from IdentityDbContext with the generic parameters <IntUser, IntRole, int> enough?
It looks redundant.

[2016-06-16 21:40] HaoK commented on #780
Because `.AddEntityFrameworkStores<ApplicationDbContext>()` is really `.AddEntityFrameworkStores<ApplicationDbContext, string>()`

[2016-06-16 22:03] gdoron commented on #780
@HaoK I meant to say, that since you pass in `ApplicationDbContext`, you can infer the PK type IdentityDbContext generic parameter.

[2016-06-16 22:25] HaoK commented on #780
Our constraint is that its a DbContext not necessarily one derived from IdentityDbContext

[2016-06-17 06:06] gdoron commented on #780
@HaoK Since most do, can't you check `is IdentityDbContext`?
That sounds like a lot better UX even if not the best OO.

[2016-06-17 07:51] HaoK opened #876 "Consider improvements for custom key type in AddEfStores"
We could special case IdentityDbContext derived DbContext's to determine the PKey type to register the appropriate type automatically.

https://github.com/aspnet/Identity/issues/780#issuecomment-226687826

[2016-06-17 07:52] HaoK commented on #780
Sure filed a issue to consider in the future

[2016-06-17 08:04] gdoron commented on #780
@HaoK Out of curiosity, in which timezone are you...?  :+1:

[2016-06-17 20:42] primico commented on #503
Hi PinpointTownes,
I am working on an ASP .NET 5 Web API app with Azure B2C. I notice UseOAuthBearerAuthentication is not available in IApplicationBuilder. Is it not supported anymore? I see UseJwtBearerAuthentication is available. I've tried the following to protect my Web API using the following code:

[code]

I get my token and add to header, with the following code:

[code]

I protect my contr

[2016-06-17 21:13] PinpointTownes commented on #503
It was renamed/replaced by the JWT bearer middleware.

Have you tried to enable logging?

[2016-06-17 21:25] primico commented on #503
No I haven't enabled logging. I will try and see what I get.

I have a web app that I am using UseOpenIdConnectAuthentication and I protect my controllers using an ActionFilterAttribute, like this:

`[PolicyAuthorize(Policy = "B2C_1_mypolicy", RedirectUri = "/admin/customer")]`

And it seems to work (with the exception of a few bugs that might be related to B2C being in preview)

If I can figure o

[2016-06-17 21:37] PinpointTownes commented on #503
I have no idea what `[PolicyAuthorize]` does (it's likely an Azure AD/B2C-specific thing). You should probably ping someone from the Azure AD team.

[2016-06-17 21:48] primico commented on #503
I have asked on Azure forums and support tickets, but I either get no response, or they refer me to old code samples that don't work with the latest .NET framework. It makes me wonder if they are serious with the B2C service and if it will ever get out of preview mode. Anyway, thanks so much for responding. I'll enable logging and see if I can get this figured out.
Take care!!

[2016-06-19 09:14] YZahringer opened #877 "AutoSaveChanges in IUserStore"
To import users, I set the property UserStore.AutoSaveChanges to False, I create all users with UserManager.CreateAsync and then I call UserStore.Context.SaveChangesAsync.

This works, but I have to cast IUserStore to UserStore to access to the property AutoSaveChanges. The property AutoSaveChanges should not be in the IUserStore interface? There is another way to make an import of multiple users

[2016-06-19 09:19] HaoK commented on #877
AutoSaveChanges is a behavior specific to the EntityFramework implementation UserStore, which is why you have to cast it.

[2016-06-19 09:25] YZahringer commented on #877
Yes I understand, but there no other/official way to import multiple users in bulk?

Retrieve UserStore directoy by DI is currently not possible, it would be a solution to avoid the cast.

[2016-06-22 17:30] ElvisHalil opened #878 "Seed Data in ConfigureServices MVC for Identity RC 2"
I have recently migrated my entire project to ASP.Net Core RC 2 stack, including Identity.

In RC 1 I had a Seed service that was called during ConfigureServices.  Here is the relevant snipped of code:
[code]

Then I call that service in my Configure() method, code:

[code]

Finally here is my SeedDataOptions class:

[code]

I have a appsettings.json file which has the details of the AdminAccount:

[2016-06-22 17:32] HaoK commented on #878
You need to add a reference
to Microsoft.Extensions.Options.ConfigurationExtensions in your project.json

On Wed, Jun 22, 2016 at 10:30 AM, Elvis Halilkovic <notifications@github.com

[2016-06-22 17:32] #878 closed

[2016-06-22 17:34] ElvisHalil commented on #878
Oh wow, worked, awesome, thank you!!

[2016-06-22 21:11] HaoK commented on #857
The claim types are configurable via IdentityOptions so there was no clean way to make static extension methods support this, so we moved them to the identity specific managers.

[2016-06-22 21:11] #857 closed

[2016-06-24 18:59] gravity00 opened #879 "Database entities are tied to Entity Framework"
At the present moment, database entities are tied to the Entity Framework package.
This brings some problems:

1. **Can't abstract implementation details even using interfaces** - I'm always obliged to add a reference to `Microsoft.AspNetCore.Identity.EntityFrameworkCore` which will bring all of this dependencies (Entity Framework) to the services layer just to use the database POCOs;
2. **Rework

[2016-06-24 19:19] HaoK commented on #879
The idea is the stores own the entity types.  You can always just copy the classes from the Entity Framework package for reuse in your implementation.  They are simple enough that we did not feel it was necessary to provide a base class implementation.  We can consider doing this in the future if there is enough demand.

[2016-06-24 19:51] uselesshasid opened #880 "System.Security.Principal.Current.Claims doesnt return Identity Claims"
After login using Asp.net Identity, HttpContext.User.Claims doesnt have the same claims as System.Security.Claims.ClaimsPrincipal.Current.Claims

When using Asp.net Identity v2 they are the same

Here is a simple asp.net core website created in VS 2015
https://github.com/uselesshasid/AspNetIdentity_Issue_880

- Clone the project
- On the website project folder run dotnot ef database update
- Run t

[2016-06-24 21:25] BrennanConroy opened #881 "The AspNetCoreCompat package needs to be updated"
https://github.com/aspnet/Identity/tree/dev/src/Microsoft.AspNet.Identity.AspNetCoreCompat
The `CreateSharedDataFormat` method uses "Microsoft.AspNet.Authentication.Cookies.CookieAuthenticationMiddleware" which of course is the old name. Should check other parts of the source too and update the sample

[2016-06-24 21:44] BrennanConroy commented on #881
@HaoK @Tratcher

[2016-06-24 21:57] HaoK commented on #881
Ah good catch, thanks!

[2016-06-24 23:54] mikeharder opened #882 "UpperInvariantLookupNormalizer.Normalize() can throw SEHException on Windows Server 2016 TP5"
Under certain conditions, `UpperInvariantLookupNormalizer.Normalize()` can throw `System.Runtime.InteropServices.SEHException` on Windows Server 2016 TP5.
- Typically, the API works the first time a Windows Container is run, but fails on subsequent runs until Windows is restarted.
- Sometimes the API never fails, no matter how many containers are run.
- We believe the root cause is a Windows bug,

[2016-06-25 06:39] atuzovic opened #883 "Should IdentityUser live in Core?"
The way projects in this repository are coupled now, Microsoft.AspNetCore.Identity.EntityFrameworkCore package has dependency on Microsoft.AspNetCore.Identity package.

IdentityDbContext class is defined in Microsoft.AspNetCore.Identity.EntityFrameworkCore package.

If I want to create my own clean DAL project and only have ApplicationDbContext class + POCO entities there, and I decide that my App

[2016-06-25 13:15] brockallen commented on #883
Perhaps you should keep your business related entities separate from the identity management related entities.

[2016-06-25 14:51] atuzovic commented on #883
@brockallen Well, even though that makes some sense when observed from DDD perspective, it still does not explain this dependency chain.

As a matter of fact, I've taken a close look into your MembershipReboot projects structure, and that's a great example of clear separation of concerns. I don't see your MembershipReboot.Ef project referencing any of the web assemblies, which is what I was expect

[2016-06-25 15:38] brockallen commented on #883
Ok, I see your point about the web dependencies. I agree with that sentiment.

[2016-06-25 16:34] divega commented on #883
Not sure it is feasible at this point, but one way we could achieve that is by moving all interfaces and abstractions to a separate abstractions package, then have store packages depend on that. Not sure what the goal is though: if you want a DAL depend on IdentityDbContext you kind of carry a lot of baggage with that anyway.

[2016-06-25 16:34] divega commented on #883
E.g. ASP.NET Core Identity is Web specific.

[2016-06-25 18:26] gravity00 commented on #879
@HaoK I see the point in that. The thing is, the core project offers a range of interfaces but, even if I want to only use them, I'll need to bring Entity Framework along and there's no simple way to avoid this.

Imagine I'm developing an application that will use ASP.NET Identity and the client wants to add more properties to the entities (lets imagine some metadata properties like `CreatedOn`, `

[2016-06-25 19:28] brockallen commented on #883
This is a superficial design limitation that you've boxed yourselves into. It was brought up as a complaint early during this v3 rewrite. The prior versions of ASP.NET Identity were not web-specific, and to be blunt all ASP.NET Identity is is logic around DB queries, password validation, and brute force protection. The cookie authentication middleware is not part of ASP.NET identity, and its disin

[2016-06-25 20:29] HaoK commented on #883
We discussed this when we were deciding whether Identity should go in the AspNet namespace, and the outcome was that we intentionally decided against specifically supporting non web scenarios.

[2016-06-25 20:32] HaoK commented on #880
This is correct, SignIn has no effect on ClaimsPrincipal.Current in Core.  @blowdart

[2016-06-25 20:32] HaoK commented on #880
Dupe of https://github.com/aspnet/Security/issues/322

[2016-06-25 20:32] #880 closed

[2016-06-25 20:35] brockallen commented on #883
Hao, can you go into the rationale for it? It would be nice to see this explained and documented (and thus you can just point people to it). After all, this is all out in the open, right? *cringe*

[2016-06-25 20:47] NVentimiglia opened #884 "WebApi Questions and Example ?"
I was going to start implementing authentication and authorization on a Core based web server and was wondering if I should use Identity framework. In the past I had been forced to roll my own... something I would rather not do.

- What is the roadmap for a WebApi json-serving example ?
- What will the api authentication mechanism look like ? Will It be header based or cookie based ?
- How easy /

[2016-06-26 08:28] gdoron opened #885 "Exception when trying to get the user if the Users table has PK of int, and the user logged in with external provider"
#780
@HaoK, I had to revert all my tables back to varchar because of a bug with int users.

Steps to reproduce:

Change the PK of user to int,
Login with external provider where the key isn't int compatible (FB, LinkedIn, etc.)
In the View use this:

	UserManager.GetUserAsync(User);
Exception is thrown saying the key isn't int compatible.

Unfortunately we encountered it just before we had to demo

[2016-06-26 08:30] gdoron commented on #780
Changing the user PK to int caused me problems with external login providers (OAuth).
Be aware.
#885

[2016-06-26 09:40] HaoK commented on #885
This is likely to be a dupe of https://github.com/aspnet/Identity/issues/860 where you need to turn off AutomaticAuthenticate for the external cookie, due to a bug in RC2 that's fixed in 1.0.0

[2016-06-26 09:55] gdoron commented on #885
@HaoK I'll give it a try in couple of days, after RTM and will let you know.

[2016-06-26 14:46] dpmragu opened #886 "Invalidate old Authentication cookie"
The cookie called AspNet.ApplicationCookie is generated by OWIN after successful login. I cloned the request with cookies after login using Fiddler or other tool, then I signed out from application. I was able to access the application using cloned request without entering user name and password. It seems old session cookie can be used to authenticate a user with unlimited time .

Is there any way

[2016-06-27 13:35] ikourfaln commented on #874
so ?? anyone

[2016-06-27 17:46] HaoK commented on #886
The lifetime of the cookie is determined by `identityOptions.Cookies.ApplicationCookie.ExpireTimeSpan`

[2016-06-27 17:46] #886 closed

[2016-06-29 01:22] Cowlephant opened #887 "Should I not be using multiple contexts?"
I'm really scratching my head right now, as I'm expanding upon my project. I could really use some help to get me on the straight and narrow.

What I'm building is a data aggregation platform, which has dashboards and other things that my company staff members will use. I am using Identity to determine who is using it, and all across the app I will have different unrelated subapps that may or may

[2016-06-29 19:25] HaoK commented on #877
The property only lives on UserStore, so yes you have to a reference to that type to use the property.

[2016-06-29 19:25] #877 closed

[2016-06-29 20:15] logankd opened #888 "CookieSecureOption missing after Asp.Net Core 1.0 RTM upgrade"
I'm getting compiler errors on
services.AddIdentity<ApplicationUser, IdentityRole>(config =>
			{
				config.Password.RequiredLength = 8;
				config.Password.RequireDigit = false;
				config.Password.RequireNonAlphanumeric = true;
				config.Cookies.ApplicationCookie.CookieSecure = CookieSecureOption.Always;

after updating to the RTM bits.
 "Microsoft.AspNetCore.Identity.EntityFrameworkCore": "1.

[2016-06-29 20:25] gdoron opened #889 "What's the reasoning behind UserManager<TUser>.GetUserIdAsync(TUser user) ?"
If I have the TUser instance, I can simply use user.Id, can't I?

Why does this method exist?

BTW, What is the most efficient way of getting the current logged in user 's Id in ASP.NET Core?

Thanks,
Doron

[2016-06-29 20:49] HaoK commented on #889
User.Id exists in the identity EF implementation. It's not necessarily required as custom identity  implementations do not have to expose an id property. The tradeoff is between having the manager abstract this operation or directly going against an implementation property that the store backs against.

[2016-06-29 21:07] gdoron commented on #889
@HaoK

A. So might be a good idea changing the template which does use EF and still uses this method to get the id (didn't check if it was changed in 1.0.0 but I guess it wasn't).

B. Any tip about _What is the most efficient way of getting the current logged in user's Id in ASP.NET Core?_ because currently I'm using this awkward code to get the user with a navigation property:

	var user = await

[2016-06-29 21:44] brockallen commented on #889
Put the user's id as a claim in the cookie when you sign them in.

[2016-06-30 04:37] BrennanConroy commented on #888
You looking for https://github.com/aspnet/HttpAbstractions/blob/release/src/Microsoft.AspNetCore.Http.Abstractions/CookieSecurePolicy.cs#L24 ?

[2016-06-30 05:30] #888 closed

[2016-06-30 05:46] #841 closed

[2016-06-30 08:49] richerp opened #890 "a serious bug in UserCore"
public abstract class UserStore〈TUser, TRole, TContext, TKey, TUserClaim, TUserRole, TUserLogin, TUserToken〉
.............................
    where TRole：IdentityRole〈TKey, TUserRole, IdentityRoleClaim〈TKey〉〉
 ............................

error:     where TRole ： IdentityRole 〈TKey, TUserRole, IdentityRoleClaim〈TKey〉
correct:  where TRole ： IdentityRole 〈TKey, TUserRole, TRoleClaim〉 ?

[2016-06-30 08:54] richerp commented on #890
public abstract class UserStore<TUser, TRole, TContext
.....
where TRole : IdentityRole<TKey, TUserRole, IdentityRoleClaim<TKey>>

is it where TRole : IdentityRole<TKey, TUserRole, TRoleClaim>????

[2016-06-30 09:57] HaoK commented on #890
Can you clarify what you are asking?

[2016-06-30 12:08] atuzovic commented on #883
@divega Well yes, ideal solution would be to move out required abstractions to new package, and then to have Microsoft.AspNetCore.Identity and Microsoft.AspNetCore.Identity.EntityFrameworkCore both depend on that package. That would allow to remove dependency from Microsoft.AspNetCore.Identity.EntityFrameworkCore on Microsoft.AspNetCore.Identity and therefore remove need to include dependencies on

[2016-06-30 12:29] richerp commented on #890
error: where TRole ： IdentityRole 〈TKey, TUserRole, IdentityRoleClaim〈TKey〉
correct: where TRole ： IdentityRole 〈TKey, TUserRole, TRoleClaim〉 ?

[2016-06-30 13:29] logankd commented on #888
Thanks, @BrennanConroy. Shouldn't this be in the https://github.com/aspnet/Announcements/?

[2016-06-30 15:19] BrennanConroy commented on #888
@Tratcher

[2016-06-30 17:39] Tratcher commented on #888
https://github.com/aspnet/Announcements/issues/197.

Use CookieSecurePolicy.Always here, the default is only SameAsRequest.

[2016-06-30 20:49] HaoK commented on #890
Ah yes, dupe of https://github.com/aspnet/Identity/issues/855

[2016-06-30 20:49] #890 closed

[2016-07-01 01:30] richerp opened #892 "How can I rename these table:AspnetUser,AspnetRole,AspNetUserRole fully?"
How can I rename these table:AspnetUser,AspnetRole,AspNetUserRole in asp.net core 1.0?

any advice will be appreciative.

[2016-07-01 06:54] DeluxZ commented on #892
You can probably override them in your IdentityContext with the OnModelCreating method.

[code]

[2016-07-01 07:10] richerp commented on #892
Thanks for your response. I tried it. Table AspnetUser and AspnetRole are ok . But AspNetUserRole can not.

[2016-07-01 07:14] richerp commented on #892
public class Comm_role : IdentityRole<string>
public class Comm_roleclaim : IdentityRoleClaim<string>

public class Comm_user : IdentityUser<string>
public class Comm_userrole : IdentityUserRole<string>
public class Comm_userclaim : IdentityUserClaim<string>
public class Comm_userlogin : IdentityUserLogin<string>
public class Comm_usertoken : IdentityUserToken<string>

and

public class RichErpDbC

[2016-07-01 07:14] richerp commented on #892
Table AspnetUser and AspnetRole are ok . But AspNetUserRole can not be renamed.

[2016-07-01 07:16] richerp commented on #892
public class RichErpDbContext : IdentityDbContext 〈Comm_user, Comm_role, string〉

[2016-07-01 09:20] DeluxZ commented on #892
Try

[code]

[2016-07-01 09:43] richerp commented on #892
yes,I did so. Table AspnetUser and AspnetRole are ok . But AspNetUserRole can not be renamed.
I think because Asp.net Core didnot recognize Comm_userrole .

[2016-07-01 19:39] PinpointTownes commented on #884
Yes they are. You can find the Google/Facebook/Twitter/Microsoft providers in the aspnet/Security repository: https://github.com/aspnet/Security/tree/dev/src.

The project you mentioned aims at supporting other well-known social providers (e.g LinkedIn, GitHub, Reddit or Wordpress). All these providers are developed by the community and use the same OAuth2 generic middleware as the "official provi

[2016-07-01 20:20] NVentimiglia commented on #884
What about the JSON based (API) Account / Manager controller ?

[2016-07-01 20:21] PinpointTownes commented on #884
That's a question for @HaoK :smile:

[2016-07-01 20:23] #861 closed

[2016-07-01 20:25] #611 closed

[2016-07-01 20:28] #779 closed

[2016-07-01 20:28] #760 closed

[2016-07-01 20:31] #474 closed

[2016-07-01 20:33] HaoK commented on #836
Related https://github.com/aspnet/Identity/issues/516

[2016-07-01 20:40] HaoK commented on #862
For the default templates this is fine because we are using the default names for the providers.  This field is mostly there for the app to use if desired.

[2016-07-01 20:40] #862 closed

[2016-07-01 20:41] #867 closed

[2016-07-01 20:42] HaoK commented on #871
@divega any thoughts?

[2016-07-01 20:44] HaoK commented on #868
Feel free to reopen this if its still an issue and you have a stack trace/repro we can look at

[2016-07-01 20:44] #868 closed

[2016-07-01 20:46] HaoK commented on #865
@blowdart anything to be done here?  Our templates currently use email as the user name, so the apis are as such.  UserName is our login key in identity.  Email is not necessarily unique from Identity's perspective so we don't use it in any of the login apis.

[2016-07-01 20:48] HaoK commented on #884
@blowdart thoughts?

[2016-07-01 20:51] blowdart commented on #884
It's not something we've considered. Identity is pretty much interactive browser via form submission. WebAPI et al would want bearer tokens, and that's not on the roadmap, given the various community offerings around OAuth servers.

[2016-07-01 20:51] #791 closed

[2016-07-01 20:53] blowdart commented on #865
I think Brock's right here. I often forget what my damned username is, and so end up asking for it by email. So a username recovery page would be a good enhancement come v.next

[2016-07-01 20:57] HaoK commented on #792
Dupe of https://github.com/aspnet/Identity/issues/565

[2016-07-01 20:57] #792 closed

[2016-07-01 20:58] #767 closed

[2016-07-01 21:02] HaoK commented on #818
Clearing backlog for visibility

[2016-07-01 21:03] HaoK commented on #350
These seem like doc issues more than samples issues at this point.

[2016-07-01 21:07] HaoK commented on #865
You should close this and create a new issue in templates, I don't think there's any identity APIs missing preventing this today.

[2016-07-01 22:52] brockallen commented on #865
Done.

[2016-07-01 22:52] #865 closed

[2016-07-02 20:13] gdoron commented on #885
@HaoK So I moved to 1.0.0 and my PK is a string, and I'm not sure how I can go back to int because the table already has real data in it.
Any suggestions?

[2016-07-03 20:30] NVentimiglia commented on #884
So I take it that Identity is really only meant for starter projects with no support for WebApi / JWT out of the box. That smells like an oversight, but ok. Can you point me to a quality community driven Identity replacement then ? Preferably one that supports OAuth as well as traditional email authentication (such as Identity).

[2016-07-03 20:37] PinpointTownes commented on #884
Microsoft's recommended approach is to use their (commercial) Azure AD/B2C offer.

If you prefer open source solutions, you can take a look at IdentityServer 4, ASOS (`OAuthAuthorizationServerMiddleware`'s equivalent in the vNext world) or OpenIddict (which is basically "Identity for Web API"): https://github.com/aspnet/Identity/issues/503

[2016-07-03 22:03] brockallen commented on #884
They actually said it was deliberate: https://github.com/aspnet/Identity/issues/883#issuecomment-228569093

[2016-07-04 01:32] NVentimiglia commented on #884
I am not following, this discussion is about Entity Framework and the DAL, not a WebApi interface.

[2016-07-04 19:34] brockallen commented on #884
You said it sounded like an oversight that "Identity" (which means ASP.NET Identity) did not accommodate non-web scenarios. I linked that that it was not an oversight.

[2016-07-04 19:43] NVentimiglia commented on #884
What do you mean by non-web ? Web Api is web, it is just serving json instead of html.

[2016-07-04 19:48] brockallen commented on #884
Right, but that's not what Microsoft is supporting. They are tied to the cookie/browser use case. There are OAuth2 flows that don't involve a browser.

[2016-07-04 19:49] NVentimiglia commented on #884
Gotcha, that makes sense.

[2016-07-05 09:36] markusvt commented on #887
I came across that exactly situation also several times. I ended up using one DBContext for all but it would be a really nice feature to be able to split that in several smaller module-related contexts.
I once read something about the problem sharing some entities between different contexts is, that it is possible that both contexts target different databases that can also lie on different servers

[2016-07-05 09:52] markusvt opened #894 "Usermanager updates affecting related entities"
After updating my working RC1 project to Core 1.0 i came across following problem:

I have the following database structure:

[code]

So I got a m:n relation between `Contact` and `Group` plus my `User` Entity has a Single Relation to `Contact`

So i have the following code in one of my controllers, that is supposed to update some group-assignments and also update the security timestamp of the use

[2016-07-05 17:13] HaoK commented on #894
What does StaticServices.getUserManager() look like?

[2016-07-05 20:32] HaoK commented on #881
9e0204279818869b43c7cb4695b726c2960be662

[2016-07-05 20:32] #881 closed

[2016-07-07 06:51] markusvt commented on #894
here is the original code:

[code]

RequestServices is the following:
[code]
where HttpContext is the current http context of the request

[2016-07-07 07:14] evilz opened #898 "Access token is null After login using external (GitHub)"
Hi,

I try to retrieve the token back to make other request to Github API. But the tokens are always null:

[code]

It's look like the problem comes from Identity

My startup.cs :

[code]

I still don't understand Authentification scheme. My identy is always `Identity.Application` and not `Github` is it good ?

Thank

[2016-07-07 19:23] HaoK commented on #898
So the github identity is getting stored to this scheme:
[code]

Something like this should probably work:

[code]

[2016-07-07 20:36] adrianorc opened #899 "How do I translate the default error messages to pt-BR?"
Hi,

I would like to translate the default error messseges of Identity (i.e. Passwords must have at least one digit ('0'-'9')) to my language.

It seems that this is done by using localization and resource files.

We tried to change the culture info. as stated in the docs https://docs.asp.net/en/latest/fundamentals/localization.html#working-with-resource-files, but it didn't work.

We also tried t

[2016-07-07 20:47] adrianorc commented on #899
Wow,

we find the solution:
http://stackoverflow.com/questions/19961648/how-to-localize-asp-net-identity-username-and-password-error-messages

Thanks

[2016-07-07 20:47] #899 closed

[2016-07-08 02:40] tmm360 opened #900 "User authentication timeout - ApplicationCookie.ExpireTimeSpan ignored"
As for #766, I've the same problem. Users are logged out after ~30 minutes (didn't check exact time).
I'm running RTM and this is the portion of my configuration where i set asp's services.

            services.AddMemoryCache();
            services.AddIdentity<User, Role>(opts =>
            {
                //cookie
                opts.Cookies.ApplicationCookie.ExpireTimeSpan = TimeSpan.FromD

[2016-07-08 03:03] HaoK commented on #900
Do you have a security stamp set for your user's?

[2016-07-08 03:06] tmm360 commented on #900
Yes I have, and it doesn't change

[2016-07-08 03:07] HaoK commented on #900
What does the cookie look like in F12, can you include what headers it has here?

[2016-07-08 03:17] tmm360 commented on #900
A cookie header sample:
`Cookie: .AspNetCore.Antiforgery.w5W7x28NAIs=CfDJ8P9CdzvZvT1AlVB9wjmoTzmTapz9JT3mQRnUDv-DQ4uedGqcDY87YsqoUnVzGbmsScltsXVEbpDDCYo1pNrPqY1fBT9zem1Tdy-YL2aNOMkY63nrA3Y2X8HFRvFTyNiiqmnQAzFE5aUwSyEZbmJCQgg; .AspNetCore.Session=CfDJ8P9CdzvZvT1AlVB9wjmoTzkng%2FAXY2y5QD%2B6GzlTmLYCbe9q6ln73S%2BnuTOXl8O27wL%2BrY4dQe9rSb5b%2FM59EScgKJlArPjUsroYTvRVHy1mJx5y3FEgvMVJYyE7uPp8P77NykT2lPK8

[2016-07-08 05:37] shima20 commented on #810
@HaoK @PinpointTownes - I was able to override CheckPasswordAsync and got it working, however, after upgrading to the latest, it doesn't hit the overridden method anymore.  Do you know what could be wrong now or if there were any recent changes?

[2016-07-08 06:37] evilz commented on #898
Hi thank for your answer.

It still not work.
I create a new repo https://github.com/evilz/OauthAndIdentity.WebSample/
It's simply a site from temple using `SQLite`, and `Oauth Github`.
I try to get tokens in `Home/Index`.

[2016-07-08 07:04] HaoK commented on #810
You are calling CHeckPassword directly and its not being called?

[2016-07-08 07:06] HaoK commented on #898
What is your actual user flow in terms of views/actions that you are trying

[2016-07-08 07:08] HaoK commented on #898
Take a look at https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs

That's how an OAuth flow is supposed to work where it shows how to retrieve tokens, that might give you a step in the right direction.

[2016-07-08 07:10] HaoK commented on #900
Do you see any extra info like Expires as well?

[2016-07-08 07:10] shima20 commented on #810
I'm overriding UserManager and then implementing my own logic in CheckPasswordAsync

[2016-07-08 07:11] HaoK commented on #810
Are you able to debug and confirm that you are getting the right instance?

[2016-07-08 07:15] shima20 commented on #810
The same way you had mentioned how to do it above.  The implementation for this didn't change any.  It just never gets called.

[2016-07-08 07:54] evilz commented on #898
Yes I already take a look at this and in the sample the github middleware come from here.
The main difference is  `UseIdentity()`

The flow I want is this :
- user can login using Github
- Back to home page, It display his repositories

So I need the access_token to make a new request to the GitHub API.

In future version I want to add other provider like Microsoft for VS online, bitbucket, Google

[2016-07-08 08:37] wangkanai opened #901 "AzureAD & Roles with EntityFramework"
How do you assign roles to azure active directory users?
How do I assign Users identity to the Entity their created in Entity Framework Core?
How do I have authorization in the Query entity collection that their have permission or are in the roles?

[code]

So for the many questions :) much documentation regarding these questions i couldn't find anywhere or googling.

Thank you very much

[2016-07-08 11:02] PinpointTownes commented on #810
@shima20 make sure your manager inherits from `OpenIddictUserManager<TUser>` and is registered using `services.AddOpenIddict<...>().AddUserManager<CustomManager>()`.

[2016-07-08 13:22] DeluxZ commented on #309
@HaoK I'm also running into this issue as reported [here](https://aspnetidentity.codeplex.com/workitem/2532)

[2016-07-08 13:54] tmm360 commented on #900
No, only a 302 message with a redirect to the login page.
I've experimented that ExpireTimeSpan works if I set a small timespan of some minutes, and it stop to works with longer.

[2016-07-08 15:11] tmm360 commented on #900
This test fails:

        [Fact]
        public async Task CanCreateMeLoginAndCookieStopsWorkingAfterExpiration_LongTime()
        {
            var clock = new TestClock();
            var server = CreateServer(services => services.Configure<IdentityOptions>(options =>
            {
                options.Cookies.ApplicationCookie.SystemClock = clock;
                options.Cookies.ApplicationC

[2016-07-09 01:00] HaoK commented on #898
If you are using the templates, the main difference between the social sample and that, is that the external logins (google/fb/github) store their identities in the "External" cookie, which is different from the application cookie.  You will need to extract the tokens in the ExternalLoginCallback action in the account controller.

[2016-07-09 10:20] wangkanai opened #902 "Azure Active Directory B2C"
Has ASP.NET Core support [Azure Active Directory B2C](https://azure.microsoft.com/en-us/services/active-directory-b2c/) as a feature yet?

[2016-07-10 18:02] GuardRex commented on #902
Well, it's not so much .NET Core supporting B2C as it is just having a sample for B2C. It does work today, we just don't have a dedicated sample for the app case from MS yet. You can make the conversion from samples and docs, such as ...

https://azure.microsoft.com/en-us/documentation/articles/active-directory-b2c-devquickstarts-web-dotnet/
https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIdC

[2016-07-10 18:32] NVentimiglia opened #903 "AccessDenied Google OAuth"
I am sometimes getting a funky result from google when I sign in. I say sometimes because a few times the service works fine. When it goes bad, google calls back to the Account/AccessDenied action. This action is undefined, so, I see a blank page.

This 'AccessDenied' literal shows up nowhere in my project. If I define an action method, it is surely hit and includes a 'returnUrl' argument. the ret

[2016-07-10 18:41] HaoK commented on #903
The AccessDenied is the default url used if no AccessDeniedPath is configured in the options:

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationMiddleware.cs#L57

[2016-07-10 18:41] #903 closed

[2016-07-10 18:52] NVentimiglia commented on #903
What could be causing this ? ExternalLoginCallback and ExternalLogin are annotated with AllowAnonymous. Again, this is a 99% out of the box default template. This should not be happening.

[2016-07-10 18:57] NVentimiglia commented on #903
[code]

Here is my current work around, please dont let me do this.

[2016-07-10 18:58] NVentimiglia commented on #903
Also, should I be implementing AccessDenied ? It feels like that should be a included with identity.

[2016-07-10 19:20] NVentimiglia commented on #903
@HaoK

Removing the [Authorize] annotation on the AccountController solved this. Obviously, this is not a good solution. This smells like a **bug** in the Authorize annotation.

[2016-07-11 10:30] PTRPlay commented on #292
I've got the same problem, has anyone figured our  something?

[2016-07-11 10:34] NKnusperer opened #904 "Can I use Identity for something else then web?"
I'am currently working on a project where we have a TCP based server (non-web related) and searching for some kind of identity management.
ASP.NET Identity looks nice but can it be used outside of a web environment?

[2016-07-11 10:43] MohammadYounes commented on #122
@HaoK  How do we listen to these events ?

[2016-07-11 14:41] lixiaoyuan commented on #855
@HaoK 1.0.1 Released?If not,how to solve this problem now.Thank you

[2016-07-11 17:21] HaoK commented on #904
Dupe,

See discussion in https://github.com/aspnet/Identity/issues/883#issuecomment-228569093

[2016-07-11 17:21] #904 closed

[2016-07-11 17:24] HaoK commented on #885
Can you try to migrate the data using EF Migrations?

[2016-07-11 18:15] jvelezc opened #905 "When I try to put Database in a separate project it fails to SignInManger fails to load directive or assembly"
I get ApplicationUser could not be found are you missing a directive or assembly?
How to reproduce:
1.) Create a brand new asp net core template web application using Individual User Accounts
2.) Take the models and data folder and move them to a class library (asp net identity code)
3.) Change the monikers to framework net451 only.
4.) add a reference to your class library in the main project
Run

[2016-07-11 18:50] jvelezc commented on #905
I was wrong.  In the _ViewImports it was making a reference to the old location that the compiler could not catch until and it gave me a hint during runtime error.

[2016-07-11 18:50] #905 closed

[2016-07-11 20:38] HaoK commented on #892
If all you want to do is rename the entities, you don't have to create new entity types.  ToTable should work fine against the default entities.

Once you start plugging in custom entities, you will need to drop down below the sugar and register your stores differently.

[code]
In startup: instead of `AddEntityFrameworkStores` you will need something like this instead:
[code]

[2016-07-11 22:45] HaoK commented on #872
ec4c08d11a00ec9b4dd8c22ef13a4950cb70901e

[2016-07-11 22:45] #872 closed

[2016-07-11 22:45] HaoK commented on #875
ec4c08d11a00ec9b4dd8c22ef13a4950cb70901e

[2016-07-11 22:45] #875 closed

[2016-07-13 00:37] HaoK opened #906 "Update AspNet Core compat package"
Seems to be some issues installing the package today, see https://github.com/aspnet/EntityFramework/issues/2167#issuecomment-232205222

I tried installing it from the nuget feed and see: Unable to resolve dependency 'Microsoft.AspNet.DataProtection.Extensions'. Source(s) used: 'ASPNET1', 'nuget.org', 'Microsoft Visual Studio Offline Packages'.			0

[2016-07-13 13:42] ToddThomson commented on #906
@HaoK Sorry, I didn't mention that I got had this issue as well yesterday. The package does exist and can be installed individually.

[2016-07-14 06:27] cwe1ss commented on #883
I also think that depending on web assemblies/cookies is a huge disadvantage of this library. This could have been avoided easily and would have made this project massively more useful.

[2016-07-14 11:29] gdoron opened #908 "Check if current user is in specific Role without querying for TUser first"
Hi,

Usually people categorize actions for different roles, and it is easily done with

	[Authorize(Roles = "Admin")]
        public ActionResult Edit(string id)

But often the required role depends on the request parameters:

	[Authorize]
	public ActionResult Edit(string id)
	{
		// doesn't compile
	    if (User.FindFirst(ClaimTypes.NameIdentifier).Value != id &&
	        !UserManager.IsInRoleAsy

[2016-07-14 11:32] #889 closed

[2016-07-14 11:33] gdoron commented on #885
@HaoK I hope I'll have the time for it in the weekend.
We are overwhelmed with tasks.

Will let you know soon.

[2016-07-14 12:15] brockallen commented on #908
If the request is authenticated and the role is in the cookie, then why query the DB? Instead use:

[code]

or

[code]

[2016-07-14 12:50] gdoron commented on #908
@brockallen thanks mate!

**Yes.** :smile:

BTW, how do I refresh the cookie after I update a user's claims?

[2016-07-14 12:50] #908 closed

[2016-07-14 14:15] brockallen commented on #908
Call RefreshSignInAsync on the SIgnInManager.

[2016-07-14 15:30] gdoron opened #909 "Is Identity thread safe?"
I use Identity with `DbContext` as the store.
I'm aware of [`DbContext` not being thread safe](EntityFramework/issues/5962), but what about Identity?
Are SignInManager and UserManager thread safe? Does it depend on the backend store?

Can stuff like the following run in parallel?

	UserManager.ReplaceClaimAsync
	UserManager.AddClaimsAsync

Thanks

[2016-07-14 15:53] brockallen commented on #909
Well, the user manager uses the context, so I don't think so.

[2016-07-14 15:59] gdoron commented on #909
@brockallen I thought this will be the answer, just wanted to be sure.
I'll close it as your answer is an `officialAnswer - 1`  :)

Thanks

[2016-07-14 15:59] #909 closed

[2016-07-14 21:46] HaoK commented on #900
Your test is failing because of something unrelated, the security stamp interval controls regenerating the cookie, if you set that to also 10 days, it won't regenerate the identity...
[code]

[2016-07-14 21:49] HaoK commented on #900
By default the cookie is refreshed after 30 minutes on the next request to ensure the claims are up to date assuming the security stamp hasn't changed, if that has changed, it will sign out and clear the cookie instead.

[2016-07-14 22:10] tmm360 commented on #900
I will investigate more... Have you tried to reproduce the issue?

[2016-07-14 23:18] HaoK commented on #900
We have tests that exercise cookie expiration that are passing, if the timespan that is causing cookie signout issues is exactly 30 minutes, that is the security stamp validator that usually is causing the logout.

Try setting that to something longer to see if that is what you are running into.

[2016-07-14 23:41] tmm360 commented on #900
My project uses a timespan of 30 days.
Now I'm trying to attach Identity's project to mine, for try a direct debug.

[2016-07-15 00:20] tmm360 commented on #900
You are right! My code was blocking reading of security stamp from for a wrong security configuration. Now I've fixed and it works. Thank you!

[2016-07-15 00:20] #900 closed

[2016-07-15 10:24] seriouz opened #910 "Extend the cookie with custom claims"
Is it possible to extend the identity cookie with custom claims like firstname and lastname?
I did not find anything regarding in the docs.

[2016-07-15 12:18] janhartmann opened #911 "How should you seed the Database with Roles?"
Since EF Core does not yet support database seeding, I am creating my own set of abstractions to do it for me until then.

Apperently the `RoleManager<T>` throws and exception that I am accessing an disposed object on its `CreateAsync` method:

[code]

This is my `Startup.cs` which is just a simple Pure DI approach to create my database initializers:

[code]

The implementations of the `IDatabaseI

[2016-07-15 13:16] brockallen commented on #910
Extend the UserClaimsPrincipalFactory (https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/UserClaimsPrincipalFactory.cs) and register it in DI. I show how to do this in this video: https://vimeo.com/172009501 from NDC.

[2016-07-15 18:36] #910 closed

[2016-07-15 18:39] HaoK commented on #911
There are lifetime issues here, the RoleManager is scoped to the lifetime of the request, and it depends on a DbContext which is similarly scoped.  Hence the error about accessing a disposed object.  Caching the manager in your initializer is accessing it after its already been disposed

[2016-07-15 18:41] #831 closed

[2016-07-16 10:29] janhartmann commented on #911
Yes, that is correct. How would you solve the issue with the need for a seeding at startup?

[2016-07-18 14:18] jvictor-82 opened #912 "Identity EntityFrameworkCore custom without Claims - Error Cannot create a DbSet for 'IdentityUserClaim`1'"
I'm trying customize EntityFrameworkCore Identity with AspNetUsers, AspNetRoles and AspNetUserRoles only...
Code:
**ApplicationUser.cs**

[code]
**Startup.cs**

[code]
**AccountController.cs**

[code]
**CreateAsync** = success, but **SignInAsync** return _InvalidOperationException: Cannot create a DbSet for 'IdentityUserClaim`1' because this type is not included in the model for the context._

My

[2016-07-18 18:13] gdoron commented on #521
Had the same thing after I changed from our staging google's project to the production's one.
@HaoK is it possible to make the error clearer?

[2016-07-18 20:31] evilz commented on #898
look like my response was not saved ...

It works using this code :

[code]

[2016-07-18 21:18] HaoK commented on #898
That's what I meant, the tokens are in the external cookie, and not the identity application cookie, you could manually add it as a claim via something like:

`userManager.AddClaimAsync(user, new Claim("github_access_token", "<token value>")`

[2016-07-18 21:53] HaoK commented on #906
Fixed via f9cdef745f92b05c1c141d80b6af6b14b165ee62

[2016-07-18 21:53] #906 closed

[2016-07-18 21:57] HaoK commented on #912
If you want to remove user claims entirely, you will need to not implement IUserClaimStore on your UserStore, you won't be able to use the default implementation of UserStore in this case.  But you could copy the existing UserStore code and simply remove the IUserClaimStore implementation and any other implementations you don't want.

[2016-07-19 13:57] jvictor-82 commented on #912
Ok Hao.
Very good.

Thank you.

[2016-07-19 13:57] #912 closed

[2016-07-19 18:16] #884 closed

[2016-07-19 18:18] HaoK commented on #810
Closing, feel free to reopen if you are still having issues

[2016-07-19 18:18] #810 closed

[2016-07-20 13:05] gdoron opened #914 "System.InvalidOperationException: The instance of entity type 'ApplicationUser' cannot be tracked because ... when trying to AddLoginAsync"
@divega @HaoK @rustd I saw you all (in 3 different now closed issues) asked for repro code or stacktrace for the error:

So here are exact repro steps, code and stacktrace.

<h2>Startup: </h2>

	services.AddDbContext<ApplicationDbContext>(options =>
            {
                options.UseSqlServer(Configuration.GetConnectionString("DefaultConnection"),
                    b => b.MigrationsAssemb

[2016-07-20 14:05] gdoron opened #915 "When exception thrown in ExternalCallbackConfirmation the External cookie is corrupted and all the following requests are redirected to /Account/AccessDenied"
Found it because of #914.

[2016-07-20 15:42] gdoron commented on #519
This doesn't effect the DbContext, right?
If I set my DbContext to be Transient, it will be transient for Identity too, right?

When does the UserManager/LoginManager etc. are getting the context? when created or inside of each method call?

[2016-07-20 18:24] HaoK commented on #519
This change doesn't affect the DbContext no, the identity managers are scoped by default so each should only be created once per request.  The manager take a UserStore which is also scoped by default, those take a DbContext.

[2016-07-20 18:26] HaoK commented on #915
Are you seeing this in 1.0.0 and not an older build like RC2?

[2016-07-20 18:43] gdoron commented on #915
@HaoK, correct I'm using 1.0.0.
I can give you access to the repository if you like.
Easy to reproduce both of the issues.

Let me know if you want.

[2016-07-20 21:20] dbratsun commented on #829
Hi! Is here the progress in this question?

[2016-07-21 10:18] gdoron commented on #915
@HaoK Any temporary workarounds?

[2016-07-21 11:58] maslovay opened #916 "Empty Birthday and Gender Google Authentification .Net Core RC2"
I have already got users mail, name with GoogleAuthentication .Net Core RC2

Now I'm trying to get birthday and gender fields.

Here is my start Starptup.cs code:

app.UseGoogleAuthentication(new GoogleOptions()
{
   ClientId = "***",
   ClientSecret = "***",
   Scope = { "https://www.googleapis.com/auth/plus.me", "https://www.googleapis.com/auth/userinfo.profile", "https://www.googleapis.com/auth

[2016-07-21 16:21] liamwang opened #917 "How to support sequential GUIDs as primary keys."

[2016-07-21 17:03] HaoK commented on #915
You can always clear the external cookie explicitly via SignOut with a try catch around ExternalCallbackConfirmation

[2016-07-21 17:36] HaoK commented on #916
var gender = info.Principal.FindFirstValue("gender");
var birthday = info.Principal.FindFirstValue("birthday");

probably should work

[2016-07-21 20:16] maslovay commented on #916
Haok, your code doesn't work. It returns empty fields (aslo in Facebook authorization). With my code works with facebook (it receives gender and birthday), but doesn't work with google.

Can you offer other sollution?

[2016-07-21 20:24] HaoK commented on #916
Debug and look at info.Principal to see what claims it has, its possible those claims are simply ignored by default and never transferred over to the cookie

[2016-07-21 20:34] maslovay commented on #916
Haok, sorry how can I check it?
As I can see the problem is that GoogleAuthentication RC2 can't match ClaimTypes.Birthday and ClaimTypes.Gender with the Json fields from Google API

[2016-07-22 17:35] HaoK commented on #916
Set a breakpoint on those lines, and include what claims it actually has

[2016-07-22 18:06] maslovay commented on #916
![claims](https://cloud.githubusercontent.com/assets/11196396/17066505/06874bf8-5050-11e6-9651-fe9a8a09d135.jpg)

Haok, thanks one more time!
There are no gender and birthday in claims
So how can I solve that problem?

[2016-07-22 18:11] HaoK commented on #916
Doesn't look like the google handler will copy over any extra claims you ask for by default, I think you just need to plug in your own CreatingTicket event to store the extra claims you requested.

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Google/GoogleHandler.cs#L75

[2016-07-22 18:18] maslovay commented on #916
Haok, thanks I'll try!

Why the GoogleAuthentication doesn't work properly? Onyone will have same problem. Walkaround is not best sollution

[2016-07-23 07:36] maslovay commented on #916
I try to update your code to get Birthday and Gender

var gender = payload["gender"].Value<string>();
 if (!string.IsNullOrEmpty(gender))
  {
identity.AddClaim(new Claim(ClaimTypes.Gender, gender, ClaimValueTypes.String, Options.ClaimsIssuer));
 }

  var birthday = payload["birthday"].Value<string>();
if (!string.IsNullOrEmpty(birthday))
 {
                identity.AddClaim(new Claim(ClaimTypes.Da

[2016-07-25 04:13] pettechbytes opened #920 "DbContext in Separate Class Library"
This may sound elementary, but I am attempting to move my IdentityDbContext into a separate class library (as I did in MVC5) and am having trouble.  I was thinking about SoC, but when using Identity and Entity Framework, not sure how you can accomplish SoC fully.  My goal is to have a Data project that I can add migrations as the entities and relationships change over time.  I can't seem to get th

[2016-07-25 16:46] arespr commented on #920
I think EntityFramework DbContext should be separated from identity domain model classes like IdentityRoleClaim<TKey> that are used directly by dbcontext. I want to achieve possibility to replace entity framework by any other orm for example EF6, dapper or raw ado - by replacing only one dll and making a few configuration changes in Startup class.  I tried to imlement interfaces over dbcontext mod

[2016-07-25 17:22] arespr commented on #917
You could use one of these implementations to generate guids:

`/// <summary>
    /// Code based on http://developmenttips.blogspot.com/2008/03/generate-sequential-guids-for-sql.html
    /// </summary>
    public class SqlServerSequentialGuidGenerator
    {
        //        With UIDs As(
        //Select ID = 3, UID = cast('01000000-0000-0000-0000-000000000000' as uniqueidentifier)
        //Unio

[2016-07-25 17:35] HaoK commented on #916
See http://stackoverflow.com/questions/18942196/how-to-access-facebook-private-information-by-using-asp-net-identity-owin the second (26 upvoted) answer.

This is for Identity 2, but it should be similar for core, where you hook the `OnCreatingTicket` event instead to include the birthday/gender, and add the claims during SignIn like the SO answer

[2016-07-25 18:08] #892 closed

[2016-07-25 18:09] HaoK commented on #920
Dupe of https://github.com/aspnet/Identity/issues/883

[2016-07-25 18:09] #920 closed

[2016-07-25 18:11] #842 closed

[2016-07-25 18:14] HaoK commented on #811
Easy fix to make

[2016-07-25 18:17] HaoK commented on #628
See https://github.com/aspnet/Identity/issues/916 which is basically the same issue

[2016-07-25 18:39] arespr commented on #883
You could also consider decoupling DbContext from default identity domain model classes defined in Microsoft.AspNetCore.Identity.EntityFrameworkCore that are used and exposed by implementations of UserStore and RoleStore classes #920.

[2016-07-26 05:34] Oger-Me commented on #917
nice.

[2016-07-26 08:03] liamwang commented on #917
@arespr Thanks for your reply.
I should google it first. These days I also found several implementations :
* [https://github.com/jhtodd/SequentialGuid](https://github.com/jhtodd/SequentialGuid)
* [https://github.com/richardtallent/RT.Comb](https://github.com/richardtallent/RT.Comb)
* [https://github.com/mrtaikandi/SequentialGuid](https://github.com/mrtaikandi/SequentialGuid)

And this question is

[2016-07-26 08:14] #917 closed

[2016-07-26 21:08] twilliamsgsnetx opened #921 "What is causing all these database calls?"
Everytime I hit one of my controller actions, I'm noticing these calls that appear to be from identity framework. I haven't been able to pinpoint exactly where they are originating or why. Is this just the nature of the beast when using Identity?

[code]

[2016-07-26 21:25] HaoK commented on #921
You should expect to see a database whenenever a new cookie is generated, but that shouldn't be every request

[2016-07-26 21:36] twilliamsgsnetx commented on #921
It's happening somewhere in IdentityUser... maybe the internal implementation.

This is what mine looks like.

[code]

[2016-07-26 21:41] HaoK commented on #593
This looks like its already covered by the UserStoreStringKeyTest which tests cascading deletes from SqlStoreBaseTest's DeleteUserRemovesFromRoleTest using string for TKey

[2016-07-26 21:41] #593 closed

[2016-07-26 21:58] twilliamsgsnetx commented on #921
@HaoK I think you're onto something with the cookies. I've been using fiddler to make my API calls, and the cookie I have set must have been a factor.. because once I cleared it and got myself a new one, things are working fine. Everything else has been working as intended though which is strange because usually I get 302s and redirects if my cookie is expired in fiddler.

[2016-07-26 21:58] #921 closed

[2016-07-26 23:37] PinpointTownes commented on #628
@HaoK this issue is actually different and only about flowing claims from the external authentication cookie to the application/internal one. Unlike the other issue, claims are there. They are just ignored when converting the external cookie.

[2016-07-26 23:48] HaoK commented on #628
So the general class of issue I assumed both of these to be was: there are claims in the external cookie, how do I get them to flow to the identity cookie?

If that is accurate, the answer is that the app needs to manually add them at some point (either by adding them to the user's claims, or adding them to the ClaimsPrincipal before SignIn is called).  The default template flow only uses the name

[2016-07-26 23:51] PinpointTownes commented on #628
I guess that was the whole point of this topic. Wouldn't automatically flowing a few (listed?) claim types make sense?

[2016-07-26 23:54] HaoK commented on #628
We can repurpose this as a feature ask sure, what new behavior would you like to see?

The initial external login linking is the easiest, we can certainly flow (all/some) claims from the external as part of the login creation.

On subsequent logins should the claims be refreshed/updated each time?

But never the less, at the end of the day, this might still end up being template/app controller wor

[2016-07-26 23:57] HaoK commented on #628
I guess we could add overloads of `signInmanager.ExternalLoginSignInAsync` and `_userManager.AddLoginAsync(user, info)` with some kind of `importExternalClaims: true`

[2016-07-26 23:59] HaoK commented on #628
@blowdart thoughts?  This is going to be a common ask, (it already was a common ask for v2)

[2016-07-26 23:59] HaoK commented on #628
This sort of falls into the general bucket of claims transformation scenarios which still need some love...

[2016-07-27 00:23] blowdart commented on #628
So what happens if a user has flowed the claims initially, and saved them, do we then stomp them? Because let's face it, folks don't look at issuer.

@PinpointTownes

[2016-07-27 09:15] maslovay commented on #916
Haok, let me check my steps to do:
1. In my  **startup.cs** i place only basic GoogleOptions (ClientId, ClientSecret)  - done
2.  I add GoogleHandler.cs to override the Google claims (and add Birthday and Gender) (only CreateTicketAsync procedure) - done
3. In my AccountController I try to get Birthday and Gender Claims with GetExternalLoginInfoAsync as usual - done
That staff doesn't work

what i

[2016-07-27 10:51] PinpointTownes commented on #916
@maslovay there's no need to create your own `GoogleHandler.cs`, you can leverage the events model for that: http://stackoverflow.com/a/35634697/542757

[2016-07-27 11:07] PinpointTownes commented on #628
@blowdart I like @HaoK's idea (i.e adding a new `ExternalLoginSignInAsync` overload that allows preserving the external claims).

If you think there's an external/internal claims mixup risk, I guess one option is to prevent duplicate claims by ensuring they don't exist in the set returned by `CreateUserPrincipalAsync` before copying them from the external identity. Another one might be to add a "w

[2016-07-27 12:18] gdoron commented on #914
@HaoK @divega Can someone please give us some guidance on this issue?
We changed `DbContext` to be Scoped because of this bug, but `DbContext` isn't thread safe, and we DO need to run multiple queries at the same time, and every here and there we get race conditions errors.

Your help is appreciated.

[2016-07-27 13:00] blowdart commented on #628
I like the white list approach, and we should leverage the issuer field just to make sure.

@HaoK what's the issuer when claims from Identity?

[2016-07-27 15:09] maslovay commented on #916
Yes! It works!!!!))

Thank you  lot, PinpointTownes!

[2016-07-27 15:11] maslovay commented on #916
But I think it's .Net Google Authentification   bug, because it can't receive fields by default(

[2016-07-27 16:23] HaoK commented on #628
We don't currently set the issuer in identity, as part of this change, we could introduce an Issuer option in ClaimsIdentityOptions and use that in our default implementation of UserClaimsPrincipalFactory.

There's also the question of whether we want the claims from the external identity permanently saved for the user (via AddClaim), or if we just want to add them for a particular single sign in

[2016-07-27 16:37] HaoK commented on #914
@divega might have more info, but I believe you get this error exactly because of the fact that you are using different instances of a DbContext to manipulate the same entity.  That's when I've seen exceptions regarding tracking issues in the past.

In general the default identity EF store expects the DbContext to be scoped and I'm not sure what level of support EF has for modifying the same entit

[2016-07-27 16:39] HaoK commented on #916
This was the design, only a specific set of claims are copied into the ticket by default.

[2016-07-27 16:39] #916 closed

[2016-07-27 16:42] maslovay commented on #916
HaoK but facebook Authentification do this staff without any additional code. I think lot of people will face such a problem

[2016-07-27 16:47] HaoK commented on #916
I believe that is because those claims are requested by default in the facebook auth handler.

[2016-07-27 17:14] PinpointTownes commented on #628
Sounds like the best option, IMHO. And it would make things like https://github.com/aspnet/Security/pull/852 much easier to use with Identity.

[2016-07-27 18:36] gdoron commented on #914
@HaoK @divega  Unless I'm missing something made internally by Identity, there aren't any entities being changed in different DbContex **concurrently**.
All the async operations are being awaited separately.

Please provide a solution, changing the lifetime of DbContext to Scope causes EF to throw in other places we actually do have and -by design- queries that run concurrently.
And changing the l