[2018-07-13 07:46] benm-eras commented on #1868
Thanks @HaoK! In case anyone else is interested I found a work around that feels a little hacky but works fine. Simply declare a new `DbSet` foreach of the identity classes in your context along side any others you may have:

[code]

[2018-07-13 08:43] HaoK commented on #1868
Yep that should work in the mean time, glad you aren't blocked!

[2018-07-13 09:16] sanmscse commented on #1320
Hi,

What value we have to set for _userManager.Options.Tokens.AuthenticatorTokenProvider.

I'm using 2FA without Entity Framework in core2.0. i've to write custom methods for token generation and verification. the below method reuires string for AuthenticatorTokenProvider. Does anyone know what provider i'veto give?

var is2faTokenValid = await _userManager.VerifyTwoFactorTokenAsync(

[2018-07-13 12:53] brockallen commented on #1874
Check the docs page: http://docs.identityserver.io/

[2018-07-13 16:34] ajcvickers commented on #1868
No real reason not to do this, but keep in mind that mocking DbSet and in particular IQueryable can be painful. We usually recommend creating a repository abstraction if you are going to create test doubles.

[2018-07-13 21:32] NinoFloris opened #1876 "Can PasswordValidator errors pretty please be merged with UserValidator errors on user create?"
Talking about https://github.com/aspnet/Identity/blame/master/src/Core/UserManager.cs#L597
Could instead of returning on `!succeeded` store them, run CreateAsync and merge them with those errors.
This is blocking a nice api where you get all errors of a registration in one go.

[2018-07-15 19:50] dazinator opened #1878 "Custom IdentityUserLogin<int> and EF user store"
I'm using the EF stores.

The only change I'd like to make is to add a column to the `AspNetUserLogins` table so that I can also store the refresh token associated with the external login. I think adding a column to an EF model should be fairly straightforward, and it was, but then getting identity to work with it is turning out to be a bit painful :-)

I derived my own entity from `IdentityUserLo

[2018-07-15 19:58] dazinator commented on #1878
Ah damn, I missed the overload of UserStore that takes the type I needed.

I should have used this:

[code]

[2018-07-15 19:58] #1878 closed

[2018-07-15 20:30] ajcvickers commented on #1878
@dazinator For future reference, see https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize_identity_model?view=aspnetcore-2.1

Feedback on the doc appreciated.

[2018-07-16 05:43] ngnam commented on #859
thanks !
but i want know why must use
using static App.ConfirmEmailDataProtectorTokenProvider<TUser>;

     services.Configure<ConfirmEmailDataProtectionTokenProviderOptions>(options =>
            {
                options.TokenLifespan = TimeSpan.FromMinutes(5);
            });

[2018-07-16 17:21] tiljanssen commented on #1425
I had the same problem. It took me quite some time to find out the cause.

Shouldn't addIdentity() check whether the securityStampValidatorStore is supported, and if not, either throw or skip the registration of the validation?

[2018-07-16 17:23] HaoK commented on #1425
Sure that's a reasonable suggestion, can you file a new issue asking for that improvement? its something we can consider for 2.2 as it would be very cheap @tiljanssen

[2018-07-16 19:29] postb99 opened #1879 "Why isn't there a FindByNormalizedName method?"
Hello,

I'm reading UserManager and RoleManager API documentation. I've understood the usefulness of normalized name/email, to have consistent comparison, maybe also a uniqueness value check.

Why aren't there FindByNormalizedNameAsync (UserManager and RoleManager) and FindByNormalizedEmail (UserManager) methods?

Thanks for information.

[2018-07-16 21:05] HaoK commented on #1879
Because the managers already treat them as case insensitive, what are you trying to do?

[2018-07-16 21:59] mkArtakMSFT commented on #1835
@javiercn, we will need your help in delivering this in Preview1. Please work with @ryanbrandenburg to get details about the updated dependencies.

[2018-07-17 08:09] tiljanssen opened #1880 "AddIdentity should check if IUserSecurityStampStore is implemented before registering a check on securityStamp"
If the UserStore does not implement IUserSecurityStampStore, most functionality regarding security stamps will be skipped, but AddIdentity() does register a validation on the securityStamp every 30 minutes.

This results in the confusing behaviour that the user is logged out after 30 minutes, even though the cookies did not expire.

AddIdentity should check whether the UserSecurityStampStore is su

[2018-07-17 11:11] Xarkam commented on #1879
@HaoK if the managers treat them as case insensitive, where is the interest to have a normalized field in database ?

[2018-07-17 11:18] postb99 commented on #1879
Thanks @HaoK so this isn't clearly stated in documentation, am I wrong? So I would need to open a PR regarding documentation.

For example:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.identity.rolemanager-1.findbynameasync?view=aspnetcore-2.1#Microsoft_AspNetCore_Identity_RoleManager_1_FindByNameAsync_System_String_

[2018-07-17 13:13] freerider7777 commented on #1361
We're spending time on this... Dear Microsoft - don't make such changes plz.

[2018-07-17 17:14] HaoK commented on #1879
that's how they do case insensitive searches... username = Hao, NormalizedUserName = HAO.  One is for display purposes, other is for searching

[2018-07-17 18:08] blowdart commented on #1880
@HaoK

[2018-07-18 06:00] maxwang opened #1881 "How can I inject custom code to account controller in Identity core 2.1"
Dear Sir/Madam,

I tried to update my project from .net core 2.0 to core 2.1 and could not find the place to inject my code to account controller. Do I have to change back to .net Identity core 2.0 code? Or could you give me some suggestions?

Thanks.

Regards,
Max

[2018-07-18 10:24] Dolphinsimon opened #1882 "Register users keep login failed in the default scaffolded identity razor pages."
In the default scaffolded Identity razor page-Login, users can login with email and password.
[code]

However, the OnPostAsync() checks email and password with PasswordSignInAsync() witch sign in users
by username and password.

[code]

It seems that you won't login to your system forever.
So, witch situation was by designed? Login with username or email?

[2018-07-18 10:50] postb99 commented on #1879
Thanks @HaoK for the definition, but this is off-topic. My feeling was that documentation should be improved, since I know databases that are case-sensitive or case-insensitive, so legitimately wondered about the identity managers, since there is no information in documentation about search being case-insensitive. Do you agree that there is a need to be explicit in documentation?

[2018-07-19 02:48] christiansk opened #1883 "Make Context virtual in UserStore"
Could the [Context property](https://github.com/aspnet/Identity/blob/9ecbefcf21d12d90ac187e1eefe02ed0219edc23/src/EF/UserStore.cs#L126) be marked as virtual in UserStore? I would like to implement my own getter so I can better manage the lifecycle of the DbContext (to enforce better control over the transaction boundaries).
I have implemented an unit of work using the [DbContextScope library](http

[2018-07-19 11:12] AndyMDoyle commented on #1451
Out of the box with 2.1.2 we are still seeing the same warnings based on the schema generated with the initial migration.

Removing the initial migration from the template and recreating also results in a schema that throws up these 3 warnings.

Are we missing something?

[2018-07-19 11:22] Ponant opened #1884 "Difference between AddDefaultIdentity and AddIdentity??"
In scaffolding Identity I get this in ASP.NET Core 2.1:

[code]

Whereas the previous templates produced this

[code]
Which was clearer.
Is is possible to understand the difference please? What does the former has that the latter does not? Can I just replace the former by the latter?
Thanks

[2018-07-19 11:33] Ponant commented on #1825
Same comment as @brockallen here https://github.com/aspnet/Docs/issues/6146 and here https://github.com/aspnet/Docs/issues/6301 . It is creating too much confusion for only getting unnecessary aesthetics and makes it more difficult for people to get work done because they will have to modify the code anyway to meet compliance.
I can only strongly suggest to:
1) Remove the ui library from the defau

[2018-07-19 12:24] huxiaozhong opened #1885 "How can i use AspNetCore.Identity in .net4.7 mvc5"
i want use AspNetCore.Identity in  .net4.7 mvc5 ,can you  help me  or  give me some example;

i want to know  how to resoleve  SignInManager<User> in Controller

[2018-07-19 15:25] Ponant opened #1886 "Scaffold Identity omits custom ApplicationUser"
**Works**
1) New project 2.1 MVC with no auth
2) Scaffold identity and choose the plus button for the user class

![scaffoldidentity21](https://user-images.githubusercontent.com/19961806/42952012-cef98632-8b77-11e8-9c61-219423f81672.PNG)

The resulting code is expected because it refers to `ApplicationUser`

`    public class ApplicationDbContext : IdentityDbContext<ApplicationUser>
`
`

[2018-07-19 17:07] Eilon commented on #1451
**Hi, it looks like you are   posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:

1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem.

[2018-07-19 17:20] HaoK commented on #1884
AddDefault uses a different set of apis, but does more or less the same thing except it removes roles functionality by default.

Roles is the only real difference between the two, they both return IdentityBuilders which can further customize identity.

[2018-07-19 17:48] Ponant commented on #1884
@HaoK , I am happy to get rid of Roles, except that they seem to be generated in the sql db anyway. 1) 1) Why is that?

2) Could you be somewhat more precise on what you mean by "more or less"?

3) Why is
`       .AddDefaultTokenProviders();
`
not there anymore?

[2018-07-19 18:01] HaoK commented on #1884
You can look at the differences here: https://github.com/aspnet/Identity/blob/c7276ce2f76312ddd7fccad6e399da96b9f6fae1/src/UI/IdentityServiceCollectionUIExtensions.cs#L49

[2018-07-19 18:02] HaoK commented on #1884
It doesn't affect the migration, it just doesn't register any role services by default.  Its not meant to replace any existing identity code.

[2018-07-19 18:02] blowdart commented on #1886
This issue was moved to aspnet/Scaffolding#839

[2018-07-19 18:02] #1886 closed

[2018-07-19 18:02] HaoK commented on #1884
This sugar is mostly for templates to use to collapse DefaultUI/DefaultTokenProviders

[2018-07-19 18:04] blowdart commented on #1885
You can't. It's part of ASP.NET Core. MVC5 is not ASP.NET Core. So you move your app to ASP.NET, or you use the older versions of ASP.NET identity. General usage questions are better shared in StackOverflow as they're not bugs or issue.

[2018-07-19 18:04] #1885 closed

[2018-07-19 18:05] blowdart commented on #1882
The default implementations assume that, for simplicity, usernames and emails are one and the same. If a user changes email their username needs updating as well. If this doesn't match your use case then you need to start adjusting the code in templates.

[2018-07-19 18:06] blowdart commented on #1881
Did you [scaffold](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.1&tabs=visual-studio) out the pages to the point where the code exists in your project and you can change it?

[2018-07-19 18:30] Ponant commented on #1884
Sorry @HaoK , I did not fully understand your last post. My scenario is that I am not using the defaultUI, so do I need to add `AddDefaultTokenProviders` to the pippleine if I use `AddDefaultIdentity`, or is `AddDefaultIdentity` already taking care of that? I stumbled upon the link you gave before writing this issue and it was not clear enough to me, sorry.

[2018-07-19 18:34] blowdart commented on #1842
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-07-19 19:02] blowdart commented on #1883
@Eilon is this considered a breaking change?

[2018-07-19 19:09] blowdart commented on #1662
@Eilon @mkArtakMSFT this needs a dev assigned or moved out. Please decide which.

[2018-07-19 20:58] Eilon commented on #1883
It is considered a breaking change: https://github.com/MichalStrehovsky/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md#members

It would be helpful if you share more info about your scenario. Maybe we can come up with an alternative approach?

[2018-07-19 21:48] benm-eras commented on #1868
Just goes to show how little us end users know about everything that goes in making the tools we use! Just glad I was able to work around it! Thanks for letting me know @HoaK

[2018-07-20 01:48] maxwang commented on #1881
Hi Barry,
Thanks for your suggestion.

I might not clear in my post. I already tried scaffold. Scaffold give me the ability to change pages looks and feel. But did not give me the power to inject my custom code to each function. Such as I want to add some code after user login.

Is there a way to do it in Identity 2.1?

Thanks.

[2018-07-20 02:03] christiansk commented on #1883
Thanks for the clear explanation. Will you please consider this change for the next major release?

My scenario is the following.

I have a webapp where I need to be able to:

1. Run more than one database transaction in the same web request;
2. Access the database in asynchronous code running in separate threads (mostly event handlers), which extend beyond the web request lifecycle;
3. Change bus

[2018-07-20 03:22] Dolphinsimon commented on #1882
@blowdart Thanks for your reply. I checked the default Register page, the default register action set the same value to usernames and emails. I missed this page as we had another register action to handle creating users with different usernames and emails.
Sorry for my careless.

[2018-07-20 07:23] Ponant commented on #1884
Oh @HaoK my deepest apologies , I misread the return value of `AddDefaultIdentity.` It calls `AddDefaultTokenProviders`.

[2018-07-20 13:09] blowdart commented on #1882
Oh it's our fault, not yours, it's badly explained. We have a work item about making it configurable, but it's in the backlog for now. As you're unblocked I'm going to close the issue, feel free to reopen if you have more questions.

[2018-07-20 13:09] #1882 closed

[2018-07-20 17:46] #1244 closed

[2018-07-20 17:47] HaoK commented on #1884
All good

[2018-07-20 17:47] #1884 closed

[2018-07-20 17:48] HaoK commented on #1880
Moving to preview1 since this is a product issue not a intrastructure/mq type thing

[2018-07-20 17:50] HaoK commented on #1879
Feel free to file an issue in https://github.com/aspnet/Docs if you feel the documentation is not sufficiently clear, I believe they are fairly open to PRs as well if you have any particular ideas about how you would like the documentation to be clearer...

[2018-07-20 17:50] #1879 closed

[2018-07-20 17:52] HaoK commented on #1837
Being tracked in docs

[2018-07-20 17:52] #1837 closed

[2018-07-20 20:33] Eilon commented on #1662
@blowdart - have we decided what action to take on the list of issues? I would suggest having individual issues filed for any specific actions we wish to take. Some of the issues in the original issue are entire features (e.g. re-sending email confirmation).

[2018-07-22 04:30] nh43de commented on #1283
You can also check out https://github.com/PwdLess/Cierge

[2018-07-22 23:41] JeanCollas commented on #1788
I also often have issue with tokens.

I don't feel that it is a good practice to put non-valid url characters in a server-generated url, used only for the server.

On my side, I have changed the URL generation:

    var callbackUrl = Url.Action("ConfirmEmail", AccountController.Name, new { userId = user.Id, code = code.UrlEncoded() }, protocol: HttpContext.Request.Scheme);

With

        public st

[2018-07-23 10:19] binhghi5 opened #1887 "Why you remove ApplicationUser?"
In 2.0 we use to have an ApplicationUser class. I can add some custom fields and create relationship with another classes. Why you remove ApplicationUser class. Any reason?

[2018-07-23 14:02] aguayUmbt commented on #1425
![asd](https://user-images.githubusercontent.com/39703106/43081074-2cd65eb2-8e5f-11e8-8333-ff1f37a37905.PNG)
I would like to extend my authentication duration to 1 day, but from what I've understood, it's logging out after 30minutes. If I set it to 1 minutes, it actually work.
I've consulted many topics regarding this matter but couldn't find an answer I could understand. Please help me with this,

[2018-07-23 17:11] Rick-Anderson opened #1888 "No way to resend confirmation email"
From #1662

**No way to resend confirmation email**

If you somehow didn't receive (or accidentally deleted, etc.) your confirmation email, then your account is dead forever, because there's no way to resend it. It's worse still if v1 of your site didn't implement confirmation emails, but v2 does, because then all existing users lose their accounts.

This is the `#1` ask from the docs feedback.

[2018-07-23 18:16] blowdart commented on #1662
Well there were original issues, you summarised :) Everything aside from email resending is UI tweaks. All of which I believe should be addressed.

[2018-07-23 19:22] cccuscott commented on #1888
You can set the field value for EmailConfirmed to 1 in the AspNetUsers table for the affected user.

[2018-07-23 19:52] blowdart commented on #1887
We didn't, it's just now behind the Identity Library. Right click on your project and choose Add > New Scaffolded Item, then choose Identity from the dialog and the [scaffolding](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.1&tabs=visual-studio) will reveal your user class.

[2018-07-24 16:42] Coaden commented on #1884
If you still need to use Roles you can do this:

`            services.AddDefaultIdentity<ApplicationUser>()
                .AddRoles<ApplicationRole>()
                                .AddEntityFrameworkStores<MyApplicationContext>();`

[2018-07-25 01:22] tstivers1990 opened #1890 "Remove Microsoft.AspNetCore.Identity.UI from Microsoft.AspNetCore.App"
I'm not sure if this is the right project to place the issue in, as I'm not sure what project manages the relevant nuget package. But I believe Identity UI should be removed from `Microsoft.AspNetCore.App`. The reason for this is because if one chooses not to use Identity UI, and instead write their own UI for Identity, they're not going to be using any of Identity UI. I would imagine this is a co

[2018-07-25 08:58] Ztarbox opened #1891 "Why isn't MemoryStream in DataProtectionTokenProvider disposed?"
This question is a duplicate from https://github.com/aspnet/AspNetIdentity/issues/7

But since core has more contributors, I reissue it over here:
The `MemoryStream `in `GenerateAsync `and `ValidateAsync `are both not disposed.
https://github.com/aspnet/Identity/blob/c7276ce2f76312ddd7fccad6e399da96b9f6fae1/src/Identity/DataProtectionTokenProvider.cs#L72
Also the disposing by the `BinaryReader `an

[2018-07-25 12:06] Misiu commented on #307
@marspd I'm aware this is an old issue, but for me validating token expiration time is still an issue.
I've created extension method:

[code]

Code is based on [DataProtectorTokenProvider](https://www.symbolsource.org/Public/Metadata/NuGet/Project/Microsoft.AspNet.Identity.Owin/2.2.1/Release/Default/Microsoft.AspNet.Identity.Owin/Microsoft.AspNet.Identity.Owin/DataProtectorTokenProvider.cs?ImageNa

[2018-07-25 14:56] thomaslevesque opened #1892 "ExternalLoginInfo.ProviderDisplayName doesn't use the authentication scheme display name"
I use ASP.NET Identity with Azure AD as an external identity provider. I configured Azure AD with a display name:

[code]

When I call `SignInManager.GetExternalAuthenticationSchemesAsync()`, I would expect `ProviderDisplayName` in the result to be "Azure Active Directory", but it's "AzureAD" instead.

[2018-07-25 15:02] thomaslevesque commented on #1892
Apparently this is a known issue:

https://github.com/aspnet/Identity/blob/ff0e9257421a296012d03e8729ad79e9471f72e8/src/Identity/SignInManager.cs#L616-L620

[2018-07-25 15:12] thomaslevesque commented on #1892
Current workaround:

[code]

[2018-07-25 15:31] Aleksaas commented on #1364
`The relationship from 'IdentityUserClaim<int>' to 'ApplicationUser.Claims' with foreign key properties {'UserId' : int} cannot target the primary key {'Id' : string} because it is not compatible. Configure a principal key or a set of compatible foreign key properties for this relationship.` Any solution for this?

[2018-07-25 15:41] ngohungphuc commented on #1364
@Aleksaas you must specific your id in int type not string

[2018-07-25 16:33] Eilon commented on #1890
We are indeed looking at some changes for future versions of ASP.NET Core that would have a different factoring of packages, and could very well end up in this UI package being separated out.

Tagging @natemcmaster / @DamianEdwards FYI

[2018-07-25 21:43] Eilon commented on #1630
@javiercn - Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this test failure caused by product code flakiness? (Either this product, or another product this test depends on.)
  * [ ] File a bug against the product (TODO: Link to other bug)
  * Is it possible to change the test to avoid the flak

[2018-07-25 21:55] javiercn commented on #1630
@Eilon I think this has something to do with the Crypto layer. We can file a bug against dotnet for it, I'll have to spend some time producing a small repro, but will do so.

[2018-07-25 22:34] Eilon commented on #1630
@javiercn that sounds great, thanks! BTW you need to put a link in the "TODO" above.

[2018-07-26 03:49] tstivers1990 commented on #1872
@Caizhenyu Any chance you could create a repo that reproduces this issue? I'm not experiencing this myself, and my code looks very similar to what's shown here.

[2018-07-26 06:57] slaneyrw opened #1893 "RFC6238 AuthenticatorService"
Can you please expose the internal Rfc6238AuthenticatorService ( and Base32 ), mostly so we are able to utilize it for TwoFactor authentication using the Google Authenticator class of apps.

The existing TotpSecurityStampBaseTokenProvider cannot be used as the security stamp should not be involved in the code check.

The TimeStep and interval range also needs to be customizable **per token provide

[2018-07-26 10:39] Misiu commented on #307
@egmfrs I've created second version that is more secure (in my opinion:

[code]

and usage in controller looks like this:
[code]

Difference is that in this version I'm verifying userId, purpose and security stamp. Only if they are ok I check expiration date.

Any improvements are welcome.
@HaoK could You look at this? I think that this can solve `by design` problem.

[2018-07-26 18:13] natemcmaster commented on #1447
This is still in the 2.1.0 milestone. Is this complete?

[2018-07-26 18:17] ajcvickers commented on #1447
@natemcmaster Yes, pretty much. I have one outstanding update to make, but I'm tracking that somewhere else.

[2018-07-26 18:17] #1447 closed

[2018-07-26 19:08] blowdart commented on #1893
@GrabYourPitchforks maybe this should move to CLR rather than just ASP.NET? Thoughts.

[2018-07-26 19:11] blowdart commented on #1892
You are, as you've discovered, conflating the display name with the scheme. So your workaround isn't a work around, it's the right way to do it, it's what it done in templates. There's no bug here, it's by design.

[2018-07-26 19:13] blowdart commented on #1891
Feel free to submit a PR, we're not generally worried about MemoryStreams as it's not holding onto native resources which dispose would get rid of sooner.

[2018-07-26 19:14] blowdart commented on #1881
When you scaffold out, you get the entire UI you would have done in 2.0. What do you think is missing?

[2018-07-27 08:50] thomaslevesque commented on #1892
@blowdart I'm confused... Are you saying that `ExternalLoginInfo.ProviderDisplayName` is _supposed_ to return the same thing as `ExternalLoginInfo.LoginProvider` and isn't supposed to actually return a display name? In this case the property is useless...

Which templates are you referring to? I don't think the Identity template does this; I wouldn't have needed the workaround if it did.

[2018-07-27 08:52] thomaslevesque commented on #1892
If you're talking about [this](https://github.com/aspnet/Identity/blob/master/src/UI/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs), it doesn't even attempt to use a display name, it just uses `LoginProvider`, which is a "technical" name not intended to be seen by users.

[2018-07-27 09:20] HaoK commented on #1892
Ah I misread the issue, yep its a bug, we can fix this in 2.2

[2018-07-27 09:41] thomaslevesque commented on #1892
Some places use the display name, others use the provider name, e.g.:

https://github.com/aspnet/Identity/blob/ff0e9257421a296012d03e8729ad79e9471f72e8/src/UI/Areas/Identity/Pages/Account/ExternalLogin.cshtml#L12

https://github.com/aspnet/Identity/blob/ff0e9257421a296012d03e8729ad79e9471f72e8/src/UI/Areas/Identity/Pages/Account/Manage/ExternalLogins.cshtml#L17

https://github.com/aspnet/Identity/

[2018-07-27 18:57] blowdart commented on #1892
@hoak We should fix them all to be consistent.

[2018-07-27 22:57] natemcmaster opened #1895 "VSTS: 690 test failures. Many Identity + SQL Server tests fail to connect to LocalDB"
Something about the way the EF Core tests are configured does not work in the Hosted VS2017 agent pool. It seems most of the EF Core + SQL server tests are broken.

https://dotnet.visualstudio.com/public/_build/results?buildId=8559&view=ms.vss-test-web.test-result-details

[code]

cc @HaoK

[2018-07-28 06:15] HaoK commented on #1823
Dupe of https://github.com/aspnet/Identity/issues/1895

[2018-07-28 06:15] #1823 closed

[2018-07-28 11:03] ryanbrandenburg opened #1896 "Flaky test: IdentityUI_ScriptTags_FallbackSourceContent_Matches_CDNContent"
This test [fails](http://aspnetci/viewLog.html?buildId=517794&buildTypeId=Releases_22xPublic_UbuntuUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrande

[2018-07-28 11:03] ryanbrandenburg commented on #1896
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-07-28 11:03] ryanbrandenburg commented on #1896
IdentityUI_ScriptTags_SubresourceIntegrityCheck [failed again](http://aspnetci/viewLog.html?buildId=517794&buildTypeId=Releases_22xPublic_UbuntuUniverse).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-28 11:18] ryanbrandenburg commented on #1896
IdentityUI_ScriptTags_FallbackSourceContent_Matches_CDNContent [failed again](http://aspnetci/viewLog.html?buildId=517757&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-28 11:18] ryanbrandenburg opened #1897 "Flaky test: IdentityUI_ScriptTags_SubresourceIntegrityCheck"
This test [fails](http://aspnetci/viewLog.html?buildId=517757&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-28 11:18] ryanbrandenburg commented on #1897
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-07-28 11:18] ryanbrandenburg commented on #1897
IdentityUI_ScriptTags_SubresourceIntegrityCheck [failed again](http://aspnetci/viewLog.html?buildId=517757&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-28 18:11] thomaslevesque commented on #1892
Would you be willing to accept a PR for this?

[2018-07-28 18:51] HaoK commented on #1892
Sure that would be great

[2018-07-29 23:16] replaysMike opened #1898 "ASP.Net Identity not being injected as expected"
I've run into an issue where controllers can't be instantiated because my custom UserManager and SignInManager aren't injected (latest 2.1.2):

`InvalidOperationException: Unable to resolve service for type 'TestAuthentication.Data.Identity.ApplicationUserManager' while attempting to activate 'TestAuthentication.Controllers.DefaultController'.`

I had this working in another project and I don't kn

[2018-07-30 00:10] replaysMike commented on #1898
This appears to be to do with LightInject upon further investigation. When I comment out the LightInject provider and return a standard MS provider I can access the ApplicationSignInManager instance.

I dug into the LightInject provider and it does seem to be aware of the type, it looks registered to me. I'm taking this over to the LightInject guys to see why this isn't working right.

[2018-07-30 04:55] Eilon commented on #1895
Tagging @ajcvickers here for FYI.

[2018-07-30 12:50] javiercn commented on #1897
@kichalla As I believe he wrote these tests :)

[2018-07-30 12:50] javiercn commented on #1896
@kichalla

[2018-07-30 16:40] blowdart opened #1900 "Documentation of `RefreshSignInAsync` is misleading"
_From @Whathecode on July 30, 2018 12:40_

#### Is this a Bug or Feature request?:
This is a documentation bug report, in the sense that the [`SignInManager.RefreshSignInAsync` documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.identity.signinmanager-1.refreshsigninasync?view=aspnetcore-2.1) is highly misleading.

#### Description of the problem:
The current documentat

[2018-07-30 16:40] blowdart commented on #1900
_From @mkArtakMSFT on July 30, 2018 16:30_

Thanks for contacting us, @Whathecode.
@javiercn, can you please review the current documentation and see what kind of changes are required there? Thanks!

[2018-07-30 16:40] blowdart commented on #1900
_From @javiercn on July 30, 2018 16:33_

@haok as he’s the owner

[2018-07-30 16:40] blowdart commented on #1900
_From @HaoK on July 30, 2018 16:39_

@blowdart can you move this issue over to the identity repo?

[2018-07-30 18:07] kichalla commented on #1897
'failed again' seems incorrect here...both the OP and the new comment point to the same build..

[2018-07-31 18:03] kichalla commented on #1896
Not a flaky test actually. Looking at test history, it has been very stable. The failure mentioned in this bug is a one off thing I would say. We could add retry logic as a general good practice, but I wouldn't consider it as a high priority.

![image](https://user-images.githubusercontent.com/6559784/43477902-426254a4-94b1-11e8-9e79-acaac0e648b9.png)

[2018-07-31 18:03] #1896 closed

[2018-07-31 18:04] kichalla commented on #1897
Not a flaky test actually. Looking at test history, it has been very stable. The failure mentioned in this bug is a one off thing I would say. We could add retry logic as a general good practice, but I wouldn't consider it as a high priority.

![image](https://user-images.githubusercontent.com/6559784/43477996-85e38efa-94b1-11e8-80a8-0dc7421b1eed.png)

[2018-07-31 18:04] #1897 closed

[2018-07-31 18:08] Eilon commented on #1897
What does "one off" mean? Can it not fail again in the same way? Was there a bug that was fixed?

[2018-07-31 18:12] Karthik2610 opened #1901 "asp.net Core Activate/deativate User"
Hi
I am deactivating the user with the following code
 await _userManager.SetLockoutEndDateAsync(user, DateTime.MaxValue.AddYears(-1));
now i need to create a new user with same credentials that locked out user has because that username and email will be given to new joined user.
Please let me know if there is any other way
Please guide me if we can do this.

[2018-07-31 18:27] kichalla commented on #1897
This test failed because it was unable to reach `ajax.aspnetcdn.com`. Sure, there's a possibility that it could fail again for similar reasons. I was thinking of adding a retry logic to these tests, but was thinking that could be done at a lower priority considering the test's history. (Even if we add retry logic, its still not fail proof though). No, there was no bug that was fixed.

[2018-07-31 20:39] Eilon commented on #1897
Ah OK then we can keep this closed because we were having general network issues at around that time.

[2018-07-31 22:52] danroth27 commented on #1665
This is an appropriate use of an HTML helper, so closing.

[2018-07-31 22:52] #1665 closed

[2018-07-31 23:11] MaxWang2005 commented on #1881
Hi Barry,

The UI part is OK. But how can I inject back end C# code to Account controller?

Thanks.

[2018-08-01 12:13] chandu1507 opened #1902 "ASP.NET Core application giving object reference not set to an instance of an object exception in production but works fine in development"
Ours website is school management application built on Asp.Net Core 2.0. I've requirement to enable users to have multiple roles across different schools with same credentials.For that I used cookies to share identity(ASP.NET Core identity).But it works perfect in development environment but when I host it to azure I'm getting object reference not set to an instance of an object exception in produ

[2018-08-01 17:38] blowdart commented on #1901
There is a method for this

[code]

but if you have linked tables outside of identity you'd have to manually clean those first.

[2018-08-01 18:02] Karthik2610 commented on #1901
Hi blowdart

Thanks.
If we use DeleteAsync it will delete from DB.
My requirement is
1) A person joins a company we create a user
2) He resigns and we make that user to be deactivate using (locking out) , report  will use deleted user created item to be shown for admin. (PDF or excel).
await _userManager.SetLockoutEndDateAsync(user, DateTime.MaxValue.AddYears(-1));
3) The reason we lock is if he j

[2018-08-02 18:48] blowdart commented on #1901
You must delete. You cannot duplicate usernames they are designed to be unique.

[2018-08-02 18:48] #1898 closed

[2018-08-02 20:27] mkArtakMSFT commented on #1155
Closing this as we're not doing this any more.

[2018-08-02 20:27] #1155 closed

[2018-08-02 20:30] mkArtakMSFT commented on #1722
@blowdart, is this something you want us to do?

[2018-08-02 21:13] blowdart commented on #1722
Yes, it would be incredibly useful. It's hard to discover right now

[2018-08-03 10:32] guylando opened #1903 "ClaimsIdentity.UserIdClaimType not found in httpcontext Principal even though Principal.Identity != null"
We have some rare situations where during ValidatePrincipalAsync, even though the httpcontex has
context.Principal != null && context.Principal.Identity != null
still
context.Principal.FindFirstValue(identityOptions.ClaimsIdentity.UserIdClaimType)
returns null.
I think it happens in the first ajax requests after a user hasn't been active for a long time (website is hosted on kestrel behind iis so

[2018-08-03 15:02] ppi-rloving commented on #1333
all of these links are broken ...grrrrr!

[2018-08-03 19:59] #1901 closed

[2018-08-03 20:00] Karthik2610 commented on #1901
Thanks

[2018-08-03 20:49] #1835 closed

[2018-08-03 22:10] santiagoIT commented on #1735
I have created a simple web app targeted at spanish speaking users using asp.net core 2.1. I have now come to realize that there is no straightforward way to localize the identity pages/error messages.

For my needs the out of the box identity UI is fine. However I just need the default Identity views to display in Spanish.
What is the most efficient way to accomplish this in 2.1.

Will the Identi

[2018-08-05 01:45] natelaff commented on #1763
Bump. Stuck on this, too. You give the guidance to add those navigation properties back, but they never seem to populate?

[2018-08-05 19:46] Gordon-Beeming opened #1907 "typo "deleteing" in DeletePersonalData.cshtml.cs"
Small typo near line 83 in **DeletePersonalData.cshtml.cs**

`throw new InvalidOperationException($"Unexpected error occurred deleteing user with ID '{userId}'.");`

should be

`throw new InvalidOperationException($"Unexpected error occurred deleting user with ID '{userId}'.");`

[2018-08-06 15:58] josejmoran opened #1909 "RoleManager documentation and sample code"
It is very hard to find something developers can hold on to start using this class.  It will be great if we can find code sample on how to use and instantiate this class.  I tried to create a razor page where I can CRUD roles, but when I try to instantiate this class in the confines of this razor page I get an error. I tried to use dependency injection, but it did not work.  The problem is there i

[2018-08-06 16:01] josejmoran opened #1910 "Scaffold CRUD for Identity Roles and other Identity classes"
It will be awesome if I can scaffold the CRUD operations for Identitiy Roles. The functionality is just not there or I am looking in the wrong places.

[2018-08-06 16:05] josejmoran opened #1911 "Identity documentation a la Bootstrap"
One of the possible factors of the massive adoption of Bootstrap is the fact that you can go to their website and learn how to use the framework. You are able to copy and paste working code and tailor it to your needs. .NET Core will benefit greatly by providing great documentation and code sample that allows developer to learn how to use the different classes and the proper places and recommended

[2018-08-06 19:01] ryanbrandenburg opened #1912 "Test failure: CanExternalSignIn"
This test [fails](http://aspnetci/viewLog.html?buildId=524284&buildTypeId=Releases_22xPublic_UbuntuUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrande

[2018-08-06 19:01] ryanbrandenburg commented on #1912
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-06 22:50] ryanbrandenburg opened #1913 "Test failure: CanVerifyPhoneNumber"
This test [fails](http://aspnetci/viewLog.html?buildId=524549&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrandenburg

[2018-08-06 22:50] ryanbrandenburg commented on #1913
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-06 23:38] HaoK commented on #1912
@ryanbrandenburg which branch of the if statement would this go if it appears to be Moq itself being flaky here.  This is failing inside of this, there's basically nothing going on here

[code]

[2018-08-07 13:05] nanodrive commented on #1451
I updated the sdk to 2.1.302 and created a 2.1 web application in visual studio 2017. The number of errors is down to 2 now.

[code]
It's an improvement from 3 errors, but it still needs some more work.

[2018-08-07 20:19] HaoK commented on #1912
Ok filed an issue with moq, do I leave this open or close this bug as external?

[2018-08-07 21:42] Rick-Anderson opened #1915 "Use inferred names in RCL Identity templates"
VS Intellisense suggests [Use inferred names](https://docs.microsoft.com/en-us/visualstudio/ide/common-quick-actions#use-inferred-names)

![image](https://user-images.githubusercontent.com/3605364/43803816-b9ce3254-9a4e-11e8-8490-1da9a2655f5b.png)

![image](https://user-images.githubusercontent.com/3605364/43803890-fc75f5f6-9a4e-11e8-8b31-a3f569575727.png)

Should I make a PR to use inferred membe

[2018-08-07 21:48] HaoK commented on #1912
Recommendation from moq is that we upgrade to 4.9 which might fix this issue.

[2018-08-07 21:50] ryanbrandenburg commented on #1912
Leave this bug open to track the external issue. Also because otherwise the bot will open one identical to it the next time it fails.

[2018-08-09 11:06] ckams opened #1916 "Override property and data no more found"
I get this kind of error:

When I try to override any property of IdentityXXX class, like for example `IdentityRoleClaim<TKey>`:
[code]
and then try to get the user in `AuthorizationHandler` class:
`var user = await _userManager.GetUserAsync(context.User);`

**Without overriding, everything works as expected.**

This project uses
Microsoft ASP.NET Core 2.1.2
Microsoft EntityFrameworkCore 2.1.1

[2018-08-09 20:48] ajcvickers commented on #1916
@ckams Using `new` in that way creates a new property that hides the one on the base class. So there are now two independent properties, both with the same name. Code will use one or the other based on which type it is compiled against. Since the Identity code is not compiled against your types, it will never use or set your new property. But EF is still trying to persist it, and since there is no

[2018-08-09 20:48] #1916 closed

[2018-08-09 20:55] ckams commented on #1916
@ajcvickers
Not obvious, even very weired… I find this very buggy, like a lot of things with Identity/Efcore…

Anyway, I tried to override these properties in this app for translation purpose…

So how can I localize this properties?

[2018-08-09 21:03] ajcvickers commented on #1916
@ckams Overriding (`public override string ClaimType { get; set; }`) should work fine. Hiding with `new` is very different. Using `new` in this way is quite uncommon.

[2018-08-10 06:46] PendelinP commented on #1706
Hi there, as @chrisdpratt already mentioned [here](https://github.com/aspnet/Identity/issues/1706#issuecomment-389573982) it would be cool to have a simple without the default UI included. Since all my login UIs are handled via an Angular WebApp the server-side pages are unnecessary.

[2018-08-10 14:14] josejmoran opened #1917 "IEmailSender error in ASP.NET Core 2.1.300"
When I click on the email next to the Logout button an error is thrown. Below is the error info:

An unhandled exception occurred while processing the request.
InvalidOperationException: Unable to resolve service for type 'Microsoft.AspNetCore.Identity.UI.Services.IEmailSender' while attempting to activate 'WebApplication6.Areas.Identity.Pages.Account.Manage.IndexModel'.
Microsoft.Extensions.Depen

[2018-08-11 06:09] mbeckenbach opened #1918 "Unsafe Two Factor Recovery Codes"
Hi,

i've noticed that the two factor recovery codes for authenticator logins are not stored as hashes in AspNetUserTokens table. Shouldn't those be hashed in database like passwords are?

Best regards
Max

[2018-08-11 12:43] brockallen commented on #1918
This is a dup of this: https://github.com/aspnet/Identity/issues/836, which was closed as part of https://github.com/aspnet/Identity/issues/1341, but come to think of it I don't think they ever added it.

[2018-08-11 12:47] mbeckenbach commented on #1918
I don’t think this is about general data encryption because of the crazy GDPR. This is more about having unencrypted credentials in the database. It just feels very wrong.

Beste Grüße

Max Beckenbach
Am 11. Aug. 2018, 14:44 +0200 schrieb Brock Allen <notifications@github.com>:

[2018-08-11 13:02] brockallen commented on #1918
Sure, I agree. That's what the original issue was about.

[2018-08-12 02:03] josejmoran commented on #1917
I found the problem

[2018-08-12 02:03] #1917 closed

[2018-08-13 17:26] cubikca opened #1919 "UserManager is always ServiceLiftime.Scoped"
[code]
In practice this presents a problem because the database context is transient. UserManager creates an instance that may be shared among threads that should get a transient dbcontext and uses a scoped instance of something that should be transient. We have in fact caused an error in openidconnectserver if the logins are close enough together as it uses usermanager to verify the login informa

[2018-08-15 09:46] ortund opened #1920 "Template code supplies email for PasswordSignIn function which requires username"
This has always been a problem I've had implementing logins with Identity.

So the PasswordSignIn function requires the userName be supplied:
[code]

Whether on an MVC project or an ASP.NET Web Forms project, the project template, when using Individual Accounts, generates code that supplies the email address:

[code]

Because of this, the login will always fail. In order to rectify, it's necessary

[2018-08-16 00:26] blowdart commented on #1902
Where is the exception being thrown? During request processing? On login? In that stack trace I don't see anything from asp.net identity at all, only identity server, so this might be a question for them.

[2018-08-16 06:02] ryanbrandenburg commented on #1912
EnsureClaimsIdentityHasExpectedClaims [failed with about the same error](http://aspnetci/viewLog.html?buildId=532479&buildTypeId=XPlat_Windows_Win8_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-16 09:00] guylando commented on #1903
cookies

[2018-08-16 17:14] HaoK commented on #1058
@blowdart @ajcvickers this isn't something I'm currently planning on doing for 2.2, should we move this to 3.0?

[2018-08-16 17:15] blowdart commented on #1058
Sure.

[2018-08-16 19:08] blowdart commented on #1919
UserManager does not create contexts which are shared between threads. UserManager is not transient by default either. You can override this yourself as transient, and take the unnecessary overhead :)

(And what Brock said is true. Although I wouldn't phrase it like that.)

[2018-08-16 19:10] blowdart commented on #1918
Arguably this isn't covered by GDPR because it's not personally identifying information (after all, multiple people could get the same codes), so it wasn't part of the GDPR work.

As it'll need some database work it is scheduled for 3.0

[2018-08-16 19:11] blowdart commented on #1911
This issue was moved to aspnet/Docs#8129

[2018-08-16 19:11] #1911 closed

[2018-08-16 19:13] blowdart commented on #1910
We support roles, but prefer claims, thus it's not in the scaffolded code. There were also a bunch of user issues where people asked why there were roles tables when we never used them, so now you have to manually add the roles pieces.

[2018-08-16 19:13] blowdart commented on #1909
See #1910

[2018-08-16 19:13] #1909 closed

[2018-08-16 19:15] blowdart commented on #1903
When you get the principal back is it actually the identity you expect? Did the cookie expire in any way?

[2018-08-16 19:29] cubikca commented on #1919
I've verified that different threads do in fact get the same DBContext instance when injecting using AddIdentity() (A second operation started on this DBContext…)

This is because UserStore is also injected with Scoped lifetime. Suffice to say, we need transient scope on the dbcontext used by UserStore. The default injection scope for the required identity services doesn't respect the transient na

[2018-08-16 19:36] blowdart commented on #1722
@mkArtakMSFT we think the priority is more important than 3, because it's a long standing pain point. If Javier has not time for preview 2, can it be assigned to Identity, rather than Identity UI.

[2018-08-16 19:50] mbeckenbach commented on #1918
I see. My intend was basically to report it just in case someone simply forgot it. I don’t think this is urgent.

I guess the risk of unencrypted codes is not that high as someone would need the users password as well as database access to bypass two factor to get access to someone’s account. If someone manages to get access to your database you have other problems to care about. :)
Am 16. Aug. 20

[2018-08-16 20:04] HaoK commented on #1907
Thanks merged

[2018-08-16 20:04] #1907 closed

[2018-08-16 20:50] HaoK commented on #1892
Thanks @thomaslevesque !

[2018-08-16 20:50] #1892 closed

[2018-08-16 21:00] brockallen commented on #1919
That's the difference between us: decorum :)

[2018-08-16 22:30] ASKemp commented on #1887
The scaffol6doesn't reveal the user class. If you select an existing db context then it wont alliw you to specify a user class, if you create a new db context then you can and it will extend identityuser with the new user class but uses this throught your scaffolded code - I assume any areas that are not scaffolded also inherit the new user class name?
Could identityuser have been left but injecte

[2018-08-16 23:11] mkArtakMSFT commented on #1722
This definitely won't fit in @javiercn's schedule based on how much stuff he has on his plate.
@HaoK, is this something you can handle during 2.2?
/cc @ajcvickers

[2018-08-17 03:01] ryanbrandenburg opened #1922 "Test failure: CanLogInWithTwoFactorAuthentication_WithGlobalAuthorizeFilter"
This test [fails](http://aspnetci/viewLog.html?buildId=533610&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was m

[2018-08-17 03:01] ryanbrandenburg commented on #1922
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-17 03:01] ryanbrandenburg commented on #1922
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=533610&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-17 07:00] ryanbrandenburg opened #1923 "Test failure: CanLogInAfterConfirmingEmail"
This test [fails](http://aspnetci/viewLog.html?buildId=533656&buildTypeId=XPlat_HighSierraOsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automa

[2018-08-17 07:01] ryanbrandenburg commented on #1923
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-17 07:01] ryanbrandenburg commented on #1923
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=533656&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-17 07:47] thomaslevesque opened #1924 "UserStore.FindByIdAsync should use Users property rather than UsersSet"
Most methods in [`UserStore`](https://github.com/aspnet/Identity/blob/master/src/EF/UserStore.cs) use the `Users` property, which can be overridden in derived classes. `FindByIdAsync`, however, uses `UsersSet` directly, which cannot be overridden.

This can be an issue if the `TUser` class has navigation properties and the `DbContext` doesn't have lazy-loading enabled, because there isn't a single

[2018-08-17 16:42] ravi-dhebar-avanade commented on #1917
What was the fix? @josejmoran

[2018-08-17 17:04] C-BERBER commented on #1813
After wasting several (more) hours trying to decipher what is supposed to make this seemingly simple functionality work... This is what did it for me:

public void Configure(IWebHostBuilder builder)
        {
            builder.ConfigureServices((context, services) => {
                services.AddDbContext<SCPI_SiteIdentityDbContext>(options =>
                    options.UseSqlServer(

[2018-08-17 17:33] josejmoran commented on #1917
The partial tag was missing the input model.

[2018-08-17 17:34] josejmoran commented on #1917
It was my fault. I change it from the method version to use the <partial ..> but did not put the input model.

[2018-08-17 20:02] ryanbrandenburg opened #1926 "Test failure: CannotLogInWithoutRequiredEmailConfirmation_WithGlobalAuthorizeFilter"
This test [fails](http://aspnetci/viewLog.html?buildId=533918&buildTypeId=XPlat_HighSierraOsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automa

[2018-08-17 20:02] ryanbrandenburg commented on #1926
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-17 22:52] HaoK commented on #1826
https://github.com/aspnet/Identity/pull/1925

[2018-08-17 22:52] #1826 closed

[2018-08-18 00:01] ryanbrandenburg commented on #1926
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=534167&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-18 00:01] ryanbrandenburg commented on #1923
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=534167&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-18 04:01] ryanbrandenburg commented on #1922
CanSetPasswordWithExternalLogin [failed with about the same error](http://aspnetci/viewLog.html?buildId=534596&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-19 01:52] slavanap opened #1930 "Need assistance to investigate why RazorPageBase.User doesn't contain logged-in user identity"
I thought it was cookies issue at the beginning, but it's not. I'm running .NET Core MVC application as a console application, I register identity&auth with code snippet at the end of the message.
My issue is that User variable in MVC view doesn't contain user identity after successful user SignIn (`_signInManager.PasswordSignInAsync(...).Succeeded` is `true`).

RazorPageBase.User is not Authentic

[2018-08-19 10:03] ryanbrandenburg commented on #1926
CannotLogInWithoutRequiredEmailConfirmation_WithGlobalAuthorizeFilter [failed with about the same error](http://aspnetci/viewLog.html?buildId=535017&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-19 10:03] ryanbrandenburg commented on #1923
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=535017&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-19 16:00] ryanbrandenburg commented on #1922
CanLogInWithTwoFactorAuthentication_WithGlobalAuthorizeFilter [failed with about the same error](http://aspnetci/viewLog.html?buildId=535157&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-19 18:33] slavanap commented on #1930
Looks like HTTPS is forced for any authentication available and there's no option to provide user accounts via simple HTTP.

[2018-08-20 10:06] slavanap commented on #1930
I've replaced Manage & Account controllers with AddDefaultIdentity and it started to work again.

[2018-08-20 10:06] #1930 closed

[2018-08-20 12:00] ryanbrandenburg commented on #1923
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=535338&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-20 12:00] ryanbrandenburg commented on #1922
CanLogInWithTwoFactorAuthentication_WithGlobalAuthorizeFilter [failed with about the same error](http://aspnetci/viewLog.html?buildId=535338&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-20 18:00] aspnet-hello commented on #1923
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=535418&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-20 18:00] aspnet-hello commented on #1922
CanLogInWithTwoFactorAuthentication_WithGlobalAuthorizeFilter [failed with about the same error](http://aspnetci/viewLog.html?buildId=535418&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-20 18:11] mbeckenbach commented on #1918
What does „mfa“ mean? Google said it means „monounsaturated fatty acids“ in german, but i guess thats not what you wanted to said. :-D
Am 16. Aug. 2018, 22:20 +0200 schrieb Brock Allen <notifications@github.com>:

[2018-08-20 20:02] aspnet-hello commented on #1926
CannotLogInWithoutRequiredEmailConfirmation_WithGlobalAuthorizeFilter [failed with about the same error](http://aspnetci/viewLog.html?buildId=535493&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-20 21:07] mkArtakMSFT commented on #1637
@HaoK, can you please look into this? Thanks!

[2018-08-20 21:21] Karthik2610 opened #1931 "Resource file with out building the solution"
Hi,
I am using .net core 2.1, and i am using appsettings.json file , AppSettings key value .
e.g like below
 "AppSettings": {
"ErrorMessage": "First Name required"
}
When i change the "First Name required" to "First/Last Name required" it is not reflecting, it needs rebuild.
Is there any other res file where we change the message with out building the application on the run.

[2018-08-21 00:00] aspnet-hello commented on #1923
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=535806&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-21 00:01] aspnet-hello commented on #1926
CanLogInWithTwoFactorAuthentication_WithGlobalAuthorizeFilter [failed with about the same error](http://aspnetci/viewLog.html?buildId=535806&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-21 02:01] aspnet-hello commented on #1922
CanLogInWithTwoFactorAuthentication_WithGlobalAuthorizeFilter [failed with about the same error](http://aspnetci/viewLog.html?buildId=536059&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-21 15:57] sebainones commented on #1802
I'm really new to Asp.Net Core. I face the same issue:

`InvalidOperationException: Cannot create a DbSet for 'IdentityUserClaim<**string**>
because this type is not included in the model for the context. `

So, based on what @myrup   mentioned  I was able to sort out the exception, even though I'm not quite sure why I needed to perform all this.

In my case I had a custom User inheriting from "Id

[2018-08-21 18:44] BenjaminCharlton commented on #883
Hello all! I was happy to see that IdentityUser<T> had been moved out of EntityFramework and into Microsoft.AspNetCore.Identity in version 2.0.0 Preview2-Final. That was very helpful.

But I just upgraded from the preview version to the final release of ASPNETCore 2.1 and it's not there anymore. Where does IdentityUser<T> live now please?

In my AuthorizationController.cs class I'm now getting the

[2018-08-21 18:45] BenjaminCharlton commented on #1236
Hello again HaoK! I was happy to see that IdentityUser<T> had been moved out of EntityFramework and into Microsoft.AspNetCore.Identity in version 2.0.0 Preview2-Final. That was very helpful.

But I just upgraded from the preview version to the final release of ASPNETCore 2.1 and it's not there anymore. Where does IdentityUser<T> live now please?

In my AuthorizationController.cs class I'm now gett

[2018-08-21 21:43] fishingry opened #1932 "Default length of UserId 450 cannot work in multiple primary keys table"
Whenever I try to create multiple primary keys with UserId & its length 450, MS SQL throws this error:

Default Length of primary keys are 450, I want to create a table which has 2+ primary keys, the error happens. For example, table Customer, 2 primary keys:
    UserId(nvarchar(100)), --it does not work even if change length to 100!
    CustomerTypeId(int), --CustomerType is another table

I don'

[2018-08-22 03:48] BenjaminCharlton commented on #1236
Thank you very much! It's lucky you reply as fast as you release new versions! :-)

After updating all the references to Nuget packages in each of my projects I had to replace references to `IdentityUser<TKey, TLogin, TRole, TClaim>` (now obsolete, it seems) with references to the simpler `IdentityUser<TKey>` class.

[2018-08-22 03:49] BenjaminCharlton commented on #883
The solution to my problem above is:

1. Updating all the references to Nuget packages in each of my projects to the latest versions
2. Replace references to `IdentityUser<TKey, TLogin, TRole, TClaim>` (now obsolete, it seems) with references to the simpler `IdentityUser<TKey>` class.

[2018-08-22 05:01] aspnet-hello commented on #1926
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=536615&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-22 05:01] aspnet-hello commented on #1922
CanLogInWithTwoFactorAuthentication_WithGlobalAuthorizeFilter [failed with about the same error](http://aspnetci/viewLog.html?buildId=536615&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-22 09:01] aspnet-hello commented on #1923
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=536662&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-22 12:55] BenjaminCharlton opened #1934 "Shouldn't we have a Microsoft.AspNetCore.Identity.UserManager<TUser, TKey> below the UserManager<TUser>?"
In `Microsoft.AspNetCore.Identity` there are two imprtant classes: `UserManager<TUser>` and `RoleManager<TRole>`

However, the go-to User and Role for a lot of people are `Microsoft.AspNetCore.Identity.IdentityUser<TKey>` and `Microsoft.AspNetCore.Identity.IdentityRole<TKey>`.

If in their implementation `TKey` is `int` (or anything other than string) then various functions such as `FindByIdAsync(

[2018-08-22 13:14] alexsandro-xpt opened #1935 "Can I use External Logins with JWT approach but without Identity stack?"
I'm would like to setup my JWT ASPNet Core with Facebook External Login but a don't like to install all Identity stack dependence at my project.

Can I do that? How?

[2018-08-22 17:04] #1477 closed

[2018-08-22 17:04] #1476 closed

[2018-08-22 17:04] #1475 closed

[2018-08-22 17:04] #1474 closed

[2018-08-22 17:04] #1472 closed

[2018-08-22 17:04] #1471 closed

[2018-08-22 17:04] #1470 closed

[2018-08-22 17:04] #1469 closed

[2018-08-22 17:05] #1359 closed

[2018-08-22 17:05] #1358 closed

[2018-08-22 17:05] #1357 closed

[2018-08-22 17:05] #1232 closed

[2018-08-22 17:05] #1224 closed

[2018-08-22 17:05] #1222 closed

[2018-08-22 17:05] #1221 closed

[2018-08-22 17:06] #1207 closed

[2018-08-22 17:06] #1206 closed

[2018-08-22 17:29] Eilon commented on #1923
@HaoK can you do an initial investigation here? Seems unlikely to be Identity-specific, so we need to figure out what the real issue is here.

[2018-08-22 20:38] HaoK commented on #1923
I noticed that there was some mention of the "beefy" ness of the test machines has changed recently?  These tests have been very stable in the past, and only recently have started failing with these out of memory/too many file open type errors.  Have we seen any other similar failures due to the capability of the tests machines being less?

[2018-08-22 21:38] brockallen commented on #1918
mfa == multi-factor authentication

[2018-08-22 21:50] mvonck opened #1936 "'IdentityRole.cs' does not set 'NormalizedName' when using constructor 'Role(string roleName)'"
In IdentityRole.cs the following code:

[code]

[2018-08-22 22:00] aspnet-hello opened #1937 "Test failure: QueryingIdentityEndpointsReturnsNotFoundWhenIdentityIsNotPresent"
This test [fails](http://aspnetci/viewLog.html?buildId=536973&buildTypeId=Releases_22xPublic_Win2012) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automatica

[2018-08-22 22:01] aspnet-hello commented on #1937
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-22 22:01] aspnet-hello commented on #1937
AnonymousUserCantAccessAuthorizedPages [failed with about the same error](http://aspnetci/viewLog.html?buildId=536973&buildTypeId=Releases_22xPublic_Win2012) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-23 03:00] aspnet-hello commented on #1926
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=537294&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-23 03:01] aspnet-hello commented on #1923
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=537294&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-23 12:43] thomaslevesque opened #1938 "MVC1000 warning due to the use of IHtmlHelper.Partial"
Warning MVC1000 is triggered in the following scaffolded pages:
- Identity/Account/ExternalLogins.cshtml
- Identity/Account/Index.cshtml

(there might be other instances of this, but I didn't scaffold all pages)

[2018-08-23 12:47] thomaslevesque commented on #1938
Oops, looks like it has already been fixed

[2018-08-23 12:47] #1938 closed

[2018-08-23 15:28] mbeckenbach commented on #1918
:) ok.
Am 22. Aug. 2018, 23:38 +0200 schrieb Brock Allen <notifications@github.com>:

[2018-08-23 16:54] Eilon commented on #1922
@mkArtakMSFT - can you assign? Call stack looks related to Razor Pages.

[2018-08-23 16:55] Eilon commented on #1937
@mkArtakMSFT - please assign.

[2018-08-23 16:56] Eilon commented on #1937
Maybe related to https://github.com/aspnet/Coherence-Signed/issues/979

[2018-08-23 17:06] Eilon commented on #1923
@natemcmaster - do we know when we might get beefier VSTS agents?

[2018-08-23 17:18] natemcmaster commented on #1923
Next week. :)

[2018-08-23 18:26] javiercn opened #1939 "Identity tests failing on the VSTS-CI"
@HaoK A bunch of identity tests are failing in the VSTS-CI for a while, could you take a look at them?
https://dotnet.visualstudio.com/public/_build/results?buildId=15079&view=ms.vss-test-web.test-result-details

[2018-08-23 18:29] blowdart commented on #1935
This issue was moved to aspnet/Security#1845

[2018-08-23 18:29] #1935 closed

[2018-08-23 18:32] HaoK commented on #1939
https://github.com/aspnet/Identity/issues/1895

[2018-08-23 18:32] #1939 closed

[2018-08-23 18:40] HaoK commented on #1936
This is expected, the POCO isn't responsible for any of that manipulation, the managers are responsible for setting the normalized columns.

[2018-08-23 18:40] #1936 closed

[2018-08-23 18:44] HaoK commented on #1934
We intentionally decided to move away from the concept of TKey at the manager layer in the initial version of AspNet.Core Identity.  Its up to the stores to provide a mechanism to convert TKey to a string (usually its just calling .ToString()).  The ids are always treated as strings at the core manager identity layer.  That said Stores are free to persist the id string in whatever TKey format (and

[2018-08-23 18:44] #1934 closed

[2018-08-23 18:49] HaoK commented on #1924
This is because FindById is using FindAsync which is only available on DbSet.  So you will have to override FindById to change what this method does.  This was originally done for performance reasons I think.  @ajcvickers is this a pattern that is preferred for faster key lookups?  This was a change I made a long time ago at Diego's request.

[2018-08-23 19:31] BenjaminCharlton commented on #1934
Thank you, HaoK.
I think it'd be neater to have generic implementations to make things type safe and avoid unnecessary casts but your solution will certainly work in their absence.
I appreciate your response  :-)

[2018-08-23 19:47] ajcvickers commented on #1924
@HaoK Find looks to see if the entity is already being tracked first, and returns it without executing a query if it is found. Otherwise it executes the query. Mostly this is just perf, but it can behave differently if the entity has not been saved to the database yet, since in that case the database query would not return it. As long as that's not a concern I think it would not be unreasonable to

[2018-08-23 21:59] thomaslevesque commented on #1924
I see, thanks for the explanation. Anyway, I gave up on the idea of eagerly loading associations from the `UserStore`, it was causing unexpected side effects.

[2018-08-23 22:31] HaoK commented on #1924
Ok closing this issue for now then

[2018-08-23 22:31] #1924 closed

[2018-08-23 22:35] HaoK commented on #1758
@blowdart what do we actually want the behavior to be here?  We currently just add a claim with the name of the external provider as the authentication method, i.e. Google/Facebook.  AMR is something coming from somewhere else, its not something identity generates by default.  So I'm not sure there's anything we need to be doing here in identity itself

[2018-08-23 22:43] HaoK commented on #1880
@blowdart @ajcvickers we actually can't stop registering the security stamp since this is all during configure services, we don't have the final store until the service provider is built, so we must always register the validator.

Today we reject all cookies when the store doesn't support security stamp, so that is why the cookies are invalidated every 30 minutes.  Maybe the tactical fix we can ma

[2018-08-23 22:55] blowdart commented on #1758
If we go through 2fa then we should add an amr claim - https://tools.ietf.org/html/draft-ietf-oauth-amr-values-04 (and if it's in the JWT we get from 3rd party logins we should reflect it through with no changes)

[2018-08-23 22:56] blowdart commented on #1880
Yea that seems the right way to go

[2018-08-23 23:48] aspnet-hello commented on #1937
QueryingIdentityEndpointsReturnsNotFoundWhenIdentityIsNotPresent [failed with about the same error](http://aspnetci/viewLog.html?buildId=537779&buildTypeId=Releases_22xPublic_Win2012) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-23 23:59] HaoK commented on #1758
We don't add amr: password for regular flows so it doesn't really make sense to only add it for mfa was the main point

[2018-08-24 00:00] HaoK commented on #1758
I'd imagine if we want to add the amr claim we should do it in a coherent way

[2018-08-24 00:10] Rick-Anderson commented on #1813
@C-BERBER I just tested this in 2.2 preview 1 and it's working.

[2018-08-24 00:51] aspnet-hello commented on #1926
CannotLogInWithoutRequiredEmailConfirmation_WithGlobalAuthorizeFilter [failed with about the same error](http://aspnetci/viewLog.html?buildId=537824&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-24 00:51] aspnet-hello commented on #1923
CanSetPasswordWithExternalLogin [failed with about the same error](http://aspnetci/viewLog.html?buildId=537824&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-24 00:52] brockallen commented on #1758
@HaoK @blowdart -- the offer I made about showing you what we do in IdentityServer still stands. it very much relates to these sorts of topics.

[2018-08-24 16:54] C-BERBER commented on #1813
Yes, it should work, that's why I posted :)

[2018-08-24 17:13] aspnet-hello commented on #1922
CanLogInWithTwoFactorAuthentication_WithGlobalAuthorizeFilter [failed with about the same error](http://aspnetci/viewLog.html?buildId=538213&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-24 18:59] ajcvickers commented on #1880
Agreed,

[2018-08-24 19:01] kanadaj commented on #1813
Wouldn't it make more sense to just support roles by merging them into the claims table?

[2018-08-24 22:15] HaoK commented on #1722
Moving to preview3

[2018-08-24 22:17] HaoK commented on #1637
@blowdart @ajcvickers move to 3.0? seems like this is asking for non trivial template changes

[2018-08-25 00:16] javiercn commented on #1722
Sounds good to me. I think we need to discuss this before we jump into doing something. I'm not convinced on the approach and I haven't seen requests from customers for it.

[2018-08-25 00:46] HaoK commented on #1637
Its been like this for years though, email confirmation is off by default, and there's no social providers enabled by default either, I agree that this could be improved, but this doesn't seem important for 2.2 given that its been like this since before identity core and we haven't had many customer requests for this.  The whole email as username thing is related to this, and probably should be ad

[2018-08-25 02:15] aspnet-hello commented on #1923
CanLogInAfterConfirmingEmail [failed with about the same error](http://aspnetci/viewLog.html?buildId=538825&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-25 02:15] aspnet-hello commented on #1922
CanLogInWithTwoFactorAuthentication_WithGlobalAuthorizeFilter [failed with about the same error](http://aspnetci/viewLog.html?buildId=538825&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-25 02:15] aspnet-hello commented on #1926
CanLogInWithTwoFactorAuthentication_WithGlobalAuthorizeFilter [failed with about the same error](http://aspnetci/viewLog.html?buildId=538825&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-27 08:33] vankampenp opened #1942 "Race condition in userManager.CreateAsync"
In a site where I create users on the fly I have the following code:

[code]

In a race condition, where a user tried to create the user the same time on a mobile and a PC (with different IP addresses), I got an uncatched error on CreateAsync

Microsoft.EntityFrameworkCore.DbUpdateException: An error occurred while updating the entries. See the inner exception for details. ---> System.Data.SqlClie

[2018-08-27 14:55] saurabhlogward opened #1943 "Does asp net core identity supports the hierarchy based resource access?"
I am planning To use the asp net identity as a web api for my use case where I have to create  a company based hierarchy and based on which I need to provide the resource access.
I can have many such hierarchy for each company accounts. All I need to achieve  through asp net core identity is, identifying the logged in user, to which company it belongs to and what can he/she have access to with in

[2018-08-27 17:06] brockallen commented on #1943
Identity != Permissions

[2018-08-27 17:33] HaoK commented on #1872
Closing due to lack of repro

[2018-08-27 17:33] #1872 closed

[2018-08-27 17:46] blowdart commented on #1637
Yes, 3.0 because we'd have to cope with providers which don't even give you an email address

[2018-08-27 18:04] HaoK commented on #1637
yeah the basic issue is, the social registration flow is just setting a username that looks like an email, it has nothing to do with the email flow in actuality (except that user name and emails are conflated)

[2018-08-27 19:08] saurabhlogward commented on #1943
@brockallen I think the asp net core identity also provides the Authorization mechanism so I believe it should do that. Isn’t it ?

[2018-08-27 20:40] HaoK commented on #1926
Hopefully fixed/mitigated by https://github.com/aspnet/Identity/pull/1944

[2018-08-27 20:40] #1926 closed

[2018-08-28 22:51] HaoK commented on #1758
Moving this to preview3 for now since its not clear to me what change (if any) we should make to identity here

[2018-08-28 23:52] phantom2017-Nov commented on #1706
In this age of "decoupled" services, I am not sure whose brilliant idea it was to tightly couple the core Identity implementation with a "default" UI ! Sorry to be blunt, this is probably among the dumbest ideas I have encountered in a long time. I hope in the next version, sanity prevails & they at least provide a clean way to not include the "default" UI. The default identity template project (i

[2018-08-29 00:20] brunobalmeida opened #1946 "ASP.NET core 2.0 Authentication does persist more than 15 Seconds"
I have seen the topic: https://github.com/aspnet/Identity/issues/1389, which seems to be the same issue. But in my case something else (weird) is happening. I have set the authentication and the cookies configuration. Although, the user is logged out almost instantaneously. The weird part refers to the cookies and the expiration of them. When I look at the developer tools on Chrome my cookies are

[2018-08-29 00:44] phantom2017-Nov commented on #1706
I think you may be missing the call to app.UseAuthentication(); (before  app.UseMvc , typically in the Configure method) ... the UseAuthentication() call causes the authentication cookie to be passed on requests subsequent to a successful Login,
I used the same Services configuration you have suggested and had the same issue till I realized that I was missing the "UseAuthentication" call ..

[2018-08-29 20:01] TPucke commented on #1549
I just ran into this issue and was surprised to learn that 2 tables in Identity can't have their primary key type controlled (code first). We intend to use Guid for all primary keys.  Values can come from default generation (prefer on db side), I don't need to set my own values, but we prefer to not use int.

[2018-08-29 20:52] HaoK commented on #1923
@Eilon should I resolve this optimistically since this seems similar to https://github.com/aspnet/Identity/commit/64af0228d60958cc579b6f323e1912fccf18f61c maybe it was the parallelization that was making things freak out?

[2018-08-29 21:00] HaoK commented on #1912
@natemcmaster I verified that identity seems fine when bumping up my local dependencies.props version of moq to 4.9.0.

Should I submit a PR to universe bumping up the version here https://github.com/aspnet/Universe/blob/master/build/dependencies.props#L126 ?  Or is there some other steps that also are needed to upgrade moq to 4.9.0?

[2018-08-29 21:42] HaoK commented on #1880
Fixed via https://github.com/aspnet/Identity/pull/1941

[2018-08-29 21:42] #1880 closed

[2018-08-29 21:48] Eilon commented on #1923
Go for it. If it's not still fixed the bot will do the needful.

[2018-08-29 21:50] HaoK commented on #1923
Hopefully fixed as well by https://github.com/aspnet/Identity/pull/1944

[2018-08-29 21:50] #1923 closed

[2018-08-29 22:48] natemcmaster commented on #1912
yes, submit a PR to Universe. We'll probably run a build with this change first to make sure Moq 4.9 still works on our many other test projects.

[2018-08-29 22:52] HaoK commented on #1912
Ok https://github.com/aspnet/Universe/pull/1350

[2018-08-29 22:55] stakx commented on #1912
@natemcmaster: Visiting from Moq here. I'll try to assist if you run into any issues upgrading to 4.9.0. Please feel free to report any issues that you run into.

[2018-08-30 03:13] thaleshs commented on #1364
@HaoK  @mattgross76
I have the same problem: https://github.com/aspnet/Identity/issues/1364#issuecomment-323767718

[2018-08-30 06:59] #1912 closed

[2018-08-30 07:10] HaoK commented on #1189
Discussed in triage, we decided it wasn't worth doing this, there is always the workaround of plugging in your own custom UserValidator to control the validation entirely

[2018-08-30 07:10] #1189 closed

[2018-08-30 07:41] Whathecode commented on #1900
Except that the documentation does not state _"with the current auth properties for the current cookie"_. I believe it is this omission which has lead me and the other user down the wrong path.

Maybe I'm simply spoiled being used to the excellent documentation of the .NET Core and Framework APIs. 🙂 Just my two cents...

[2018-08-30 08:44] GuidoNeele opened #1948 "User signed out after requesting /Identity/Account/Manage/TwoFactorAuthentication"
ASP.NET Core 2.1.1

I've configured an asp.net core mvc project with Identity. I'm using the default UI but have scaffolded it because had to translate it to Dutch. When I navigate the Manage pages everything works well until /Identity/Account/Manage/TwoFactorAuthentication is requested. The page is shown but the user is signed out. After navigating away from the page the user is redirected to the

[2018-08-30 10:27] A51UK opened #1949 "ASP.NET Identity 2.1 be made from Pages to MVC?"
I just try out the ASP.NET Identity 2.1, and was think of upgrade a project from Identity 2.0 to Identity 2.1 but found that it have been turn to the Web Pages Modal not the MVC one, is there a way to pick which ASP.NET Identity 2.1 UI modal to use (e.g. MVC not Web Pages)?  If not it would be a good think to added in the next update.

[2018-08-30 10:36] donnienosa commented on #920
I have the same problem or similar. I have been able to implement entity framework in a library but using a single instance of the context for all operations. I want to use the library for windows forms, wpf and web (including services) but some how i have not been able to get past the "object disposed error" (i have a method that reloads the context i.e disposes the context and recreates it for e

[2018-08-30 11:38] Tealons commented on #1900
@HaoK As one of authors of the referenced stack overflow issues, I think you are missing the point. The documentation is correct, but not complete. Like @Whathecode is suggesting, you could clarify the documentation to prevent misinterpretation... I don't understand why you not want to do that?

[2018-08-30 17:17] HaoK commented on #1900
Feel free to submit a PR to tweak the documentation to emphasize the areas which you think are misleading

[2018-08-30 21:56] cubikca commented on #1919
Finally found my answer. It is specific to OpenIdConnectServer.

https://kevinchalet.com/2016/07/13/creating-your-own-openid-connect-server-with-asos-creating-your-own-authorization-provider/

This explains the behavior I'm seeing. Scoped UserManager should work fine now that I know the OpenIdConnectServerProvider is a singleton but can still access the scoped services from within its methods.

[2018-08-30 21:56] #1919 closed

[2018-08-30 22:26] blowdart commented on #1943
Identity doesn't provide authorization, Identity is basically a user database. How you make use of the identities it populates is a separate concern.

(But yes, it would be possible, depending on how you extend the identity model and then plug it into [resource authorization](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/resourcebased?view=aspnetcore-2.1&tabs=aspnetcore2x))

[2018-08-30 22:26] #1943 closed

[2018-08-30 22:27] blowdart commented on #1942
@HaoK

[2018-08-30 23:25] ajcvickers commented on #1254
Closing this for now since these changes have long since shipped.

[2018-08-30 23:25] #1254 closed

[2018-08-30 23:27] ajcvickers commented on #1789
See https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize_identity_model?view=aspnetcore-2.1

[2018-08-30 23:27] #1789 closed

[2018-08-30 23:29] ajcvickers commented on #1723
Sending this back to triage. This is true--it cannot be done with the current Identity model (regardless of EF customization) so question for triage is whether we should enable this at some point in the future?

[2018-08-30 23:31] ajcvickers commented on #1683
This is now documented here: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize_identity_model?view=aspnetcore-2.1

[2018-08-30 23:31] #1683 closed

[2018-08-30 23:36] ajcvickers commented on #1650
@embryologist This is because there is now an inheritance hierarchy which needs to be mapped to the database. EF uses a TPH mapping strategy for this, which means that the same table can have rows for the base class and the derived class. Any properties on the derived class must be mapped to nullable properties in the database because they will have no value when the row is for the base class.

[2018-08-30 23:36] #1650 closed

[2018-08-30 23:40] ajcvickers commented on #1647
@scottsauber Sorry for being late to the conversation. I suspect this was happening because the original key was still being referenced by an FK. In general, when changing the primary key of an entity type any FKs that reference that primary must also be changed, otherwise the original key is still needed as well.

There is now some better documentation on customizing the Identity model: https://d

[2018-08-30 23:40] #1647 closed

[2018-08-30 23:46] ajcvickers commented on #1590
@joeizang Sorry for being doubly slow on this. You should not normally get that error when configuring an inheritance hierarchy, but it's likely there were bugs in the 1.0 EF Core version being used. However, adding derived types to the model would result in a change being needed to the underlying database schema--specially to add the discriminator column. There are now some better docs available

[2018-08-30 23:46] #1590 closed

[2018-08-30 23:46] #1576 closed

[2018-08-30 23:48] ajcvickers commented on #1549
Moving for re-triage. This is indeed not possible with the current model; is it something that we want to support?

[2018-08-30 23:49] ajcvickers commented on #1542
New documentation is here: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize_identity_model?view=aspnetcore-2.1

[2018-08-30 23:49] #1542 closed

[2018-08-30 23:50] ajcvickers commented on #1459
@mcgiany @tonyawad88 Sorry for the slow response. Could you post a runnable project/solution or complete code listing that demonstrates this issue so that we can fully investigate?

[2018-08-30 23:55] ajcvickers commented on #1458
@popsovy Looks like this is happening because the DbContext, which is registered as scoped, is being accessed from the root scope. However, these is not enough code to be sure--if this isn't the case, then please post a runnable project/solution of complete code listing that demonstrates the issue.

[2018-08-30 23:59] ajcvickers commented on #1015
@brockallen I believe this should no longer be an issue with more recent versions of EF and the Npgsql provider. If that is not the case, please post a runnable project/solution or complete code listing that demonstrates the issue and we will re-open and investigate further.

[2018-08-30 23:59] #1015 closed

[2018-08-31 00:00] #1458 closed

[2018-08-31 16:48] natemcmaster opened #1951 "Compiler error CS0433 caused by duplicate types: IdentityServiceCollectionExtensions"
We have two types in the different assemblies with the same name. This can lead to unresolvable compiler errors when referencing Microsoft.Extensions.DependencyInjection.IdentityServiceCollectionExtensions

https://github.com/aspnet/Identity/blob/release/2.1/src/Identity/IdentityServiceCollectionExtensions.cs
https://github.com/aspnet/Identity/blob/release/2.1/src/Core/IdentityServiceCollectionExt

[2018-08-31 17:14] ajcvickers commented on #1951
@HaoK Which releases were each of these added?

@natemcmaster Is this blocking anything for 2.1/2.2 releases?

[2018-08-31 17:33] natemcmaster commented on #1951
It looks like the one in Microsoft.AspNetCore.Identity has been around since at least 1.1. The duplicate was added to Microsoft.Extensions.Identity.Core in 2.0 in https://github.com/aspnet/Identity/commit/f555a26b4a554f73eea70b4b34fca823fab9a643

[2018-08-31 17:34] natemcmaster commented on #1951
No, not blocking release. I just noticed this while trying to reproduce an unrelated error.

[2018-08-31 17:41] ajcvickers commented on #1951
Thanks Nate. It is a breaking change (binary) to change these now, but we should consider it for 3.0.

[2018-08-31 21:14] layinka opened #1952 "Login not working on Firefox private mode"
Hi,
I am experiencing something  very weird, I am currently using  the asp.net core identity 2.1.1. I noticed that the login works well on chrome(both normal and incognito mode) and works well on firefox, but when i tried it in Firefox private mode, the login form redirected to the homepage without login me in

Anyone else experience this?
I am using Firfox 60.0.1

[2018-09-01 12:15] joeizang commented on #1590
@ajcvickers the documentation does look good. Thanks again.

[2018-09-03 13:57] stardocs-services opened #1953 "Adding roles with same names for different applications"
I have just extended my IdentityRole like this:

[code]
Then, in order to add the same role names but have a different ApplicationId, I created a custom rolevalidator like this:

[code]
I then had to change my applicationRoleManagers like this:

[code]
I have also removed the unique key on the database tables like this:

[code]

However, I still can't have the same role names and I still get Entit

[2018-09-03 14:09] IlyaSolovyov opened #1954 "Manage/_Layout.cshtml doesn't load without "AddDefaultUI""
### Title
Replacing ".AddDefaultIdentity" with ".AddIdentity" without using ".AddDefaultUI" command means that even after scaffolding all pages Manage section doesn't load its layout file.

### Minimal repro steps
1. Create new application with Identity
2. Disable default UI.
3. Scaffold all the pages.
4. Sign in and navigate to /Identity/Manage.

### Expected result
![image](https://user-images.g

[2018-09-03 14:32] myrup commented on #1802
I'm still wondering about this. Also I'm getting a duplicate primary id key on `await userManager.AddClaimsAsync(user, newClaims)` because there seems to be a bug handling the auto incrementing integer (Why can't this be changed like the Primary key of Identity users)?

[2018-09-03 22:01] wysisoft commented on #1938
Can you explain how this problem was solved? I get this error on every page I get from scaffolding

[2018-09-04 07:39] thomaslevesque commented on #1938
It was fix in the code but the fix has not released yet.

You can just use `<partial name="_StatusMessage" for="StatusMessage" />` instead of `@Html.Partial("_StatusMessage", Model.StatusMessage)`.

[2018-09-04 14:48] sintetico82 opened #1955 "AS.NET Core 2.1 - Password forgot: Invalid Token"
Hello,
I have the **invalid code** on the forgot password procedure. In the razor pages scaffolding template i have:

the `ForgotPassword` razor page
[code]

It encode the token but when the token arrive on the `ResetPassword` razor page it dosent decode as well:

[code]

So they are different.

[2018-09-04 15:06] #1955 closed

[2018-09-04 20:07] HaoK commented on #1953
This appears to be an issue for pre core identity, please open issues for that in https://github.com/aspnet/AspNetIdentity

[2018-09-04 20:07] #1953 closed

[2018-09-05 13:14] Whathecode commented on #1900
@HaoK I am not in a position to determine whether or not the documentation is correct. The problem was exactly that I could not determine based on the provided documentation what the expected functionality should be.

[2018-09-05 15:56] thomaslevesque commented on #1276
This would be very helpful. `NotAllowed` tells us nothing about why sign-in failed.

[2018-09-05 16:06] brockallen commented on #1276
keep in mind that this would be a breaking change, as the semantics of the result values are now different.

[2018-09-06 00:02] ryanbrandenburg commented on #1922
@mkArtakMSFT was this resolved? If so how? Please assign someone to find out.

[2018-09-06 00:03] ryanbrandenburg commented on #1937
@mkArtakMSFT was this resolved? If so how? Please assign someone to find out.

[2018-09-06 05:56] yucelakpinar opened #1956 "OpenIdConnect doesn't sign-in user if Individual accounts is also configured."
Hello,

I'm new on asp.net core & asp.net identity, so that couldn't undestand what is happening on my app.
I configured individual accounts on my app with adding `services.AddIdentity<IdentityUser, IdentityRole>()` on StartUp file and it works well.
On another code branch I also configured Azure AD login with adding `services.AddAuthentication().AddOpenIdConnect()` on StartUp file (in this branch

[2018-09-06 08:27] thomaslevesque commented on #1276
@brockallen not necessarily. The new `EmailConfirmationRequired` result could still include the `IsNotAllowed` flag:

[code]

So checking `IsNotAllowed` would still work.

[2018-09-06 08:52] thomaslevesque commented on #1637
Suggested workflow:
- if we have an email from the external provider, and the user enters the same email in the registration/association form: mark the email as confirmed (because it's probably already confirmed by the external identity provider) (*)
- otherwise, send a confirmation email

_(*) this might not be true for all providers, but it's true at least for Google or AzureAD. Maybe do this on

[2018-09-06 16:17] Rick-Anderson commented on #1625
This was fixed in #1832 so roles are now added by by `AddDefaultIdentity`
See https://github.com/aspnet/Identity/issues/1813

[2018-09-06 17:11] Eilon commented on #1937
@javiercn ? @pranavkm ?

[2018-09-06 19:08] javiercn commented on #1937
@Eilon Sounds like an MSBuild issue/race condition?

We haven't seen this on MVC and it's not a problem customers have reported.

[2018-09-06 20:05] feldrim opened #1957 "Usage of IdentityRole"
I know claims are the best practice here but there are some cases where Roles are needed. And I have checked out issues, yet couldn't find any answer. It might be my mistake though.

Although Identity namespace has IdentityRole class,

1. `Microsoft.AspNetCore.Authorization.AuthorizationPolicyBuilder` does only have `RequireRole(IEnumerable<string> roles)` and `RequireRole(params string[] roles)`,

[2018-09-06 20:20] HaoK commented on #1957
IdentityRole is the entity that we use to represent a role for persistence in identity.  The concept of role in AuthZ is as a special claim and is just a string.  So while related the two are not the same thing.  IdentityRoles end up as a claim for the user's sign in cookie by default.

If you aren't using identity, you shouldn't try to use IdentityRole

[2018-09-06 20:45] feldrim commented on #1957
I use Identity and implementing it in LiteDb. I want to implement an old school RBAC through a limited CRUD, it might be imagined like Active Directory Users and Computers. So there will be many roles and will be added via an admin view. So to keep track of the audit trail of roles and users' events, I needed to implement my BaseEntity with the custom IAuditable interface includes CreatedAt, Creat

[2018-09-06 20:55] HaoK commented on #1957
You should be able to do what you want, you don't need to use IdentityRole you can use whatever Role poco you want generally, assuming you implement your own RoleStore.  You can try extending the identity role which generally should work fine.

[2018-09-06 20:58] feldrim commented on #1957
I'm trying to implement it. It will take a while but won't be an impossible task. I was just assuming that having two different concepts of Role in Identity is kinf of conflicting.

[2018-09-06 20:59] Eilon commented on #1937
Can we dig into that a bit more? Are we assuming determinism of MSBuild when perhaps that is an invalid assumption? Can we get in touch with those folks to try to understand this better?

[2018-09-06 20:59] HaoK commented on #1957
There isn't two concepts, there's only TRole which you define

[2018-09-07 00:59] brockallen commented on #1276
Oh you're proposing a new property to quality the meaning of the other?

[2018-09-07 07:31] perkops commented on #1954
I can confirm, that i have the same issue.

I however found out, that when using the AddDefaultUI, it would also catch up a "faulty" layout with a wrong header/footer. (Looks pre-compiled)

When changing the Layout reference in Areas/Identity/Pages/Account/Manage/_Layout.cshtml
From:     Layout = "/Areas/Identity/Pages/_Layout.cshtml";
To:          Layout = "/Pages/Shared/_Layout.cshtml.";

The co

[2018-09-07 07:34] thomaslevesque commented on #1276
Yes

[2018-09-07 11:58] brockallen commented on #1276
Then I'd almost want it to be a string -- something where I can put custom flags for my own apps. I have scenarios where I have 2fa onboarding, password resets, etc. that need to control workflow after first password successful authentication.

[2018-09-07 18:01] danroth27 commented on #1460
@hikalkan It was an effort to build an identity service component that can operate as an OpenID Connect provider, but it has never shipped and we are looking at switching to use IdentityServer instead.

[2018-09-07 18:01] #1460 closed

[2018-09-07 18:53] ranouf commented on #1361
@andyfurniss4  Hi,

I followed your instructions, when I do a first "Add-Migration", here is the result:
 migrationBuilder.CreateTable(
                name: "AspNetUserRoles",
                columns: table => new
                {
                    UserId = table.Column<Guid>(nullable: false),
                    RoleId = table.Column<Guid>(nullable: false),
                    UserId1 = table

[2018-09-07 21:35] mkArtakMSFT opened #1958 "Include docXML content in the published package for IdentityUI"

[2018-09-08 01:36] aspnet-hello opened #1960 "Test failure: IdentityUI_ScriptTags_FallbackSourceContent_Matches_CDNContent"
This test [fails](http://aspnetci/viewLog.html?buildId=548856&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made autom

[2018-09-08 01:36] aspnet-hello commented on #1960
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-08 04:49] ranouf commented on #1361
@andyfurniss4 About your stackoverflow, thanks a lot I finally succeeded to use UserRole after many months of try. But I had to modify your answer to make it work correctly, in the startup, to avoid this error: "Cannot create a DbSet for 'IdentityUserRole<Guid>' because this type is not included in the model for the context", I changed your code to:

            services.AddIdentity<User, Role>()

[2018-09-08 09:04] pekspro opened #1961 "Identities aren’t stored when using an in-memory database"
* Create a new ASP.NET Core Web Application.
* Select ASP.NET Core 2.1, Web Application and change authentication to Individual User Accounts.
* In startup.cs replace:

      services.AddDbContext<ApplicationDbContext>(options =>
        options.UseSqlServer(
        Configuration.GetConnectionString("DefaultConnection")));

with

    services.AddDbContext<ApplicationDbContext>(options =>

[2018-09-08 10:31] andyfurniss4 commented on #1361
@ranouf Thanks for the update. I'm glad you managed to sort it out. I hadn't come across this issue personally but hopefully this will be helpful to anyone else who experiences it.

[2018-09-08 19:28] hikalkan commented on #1460
Thanks @danroth27 for the clarification. I also think this is a right decision.

[2018-09-10 11:41] alonstar commented on #1543
I also have the same issue on 2.1.3

[2018-09-10 16:57] Eilon commented on #1960
@mkArtakMSFT can you assign?

[2018-09-11 02:42] alonstar opened #1963 "SignInManager.PasswordSignInAsync will cause redirect (302) When 2FA is enabled."
Identity 2.1.3 & AspNetCore.App 2.1.3

I need to verify 2FA but signInManager.PasswordSignInAsync will cause Response.StatusCode = 302.
It will redirect to home index.

How can I prevent it to do this?

Now I added HttpContext.Response.StatusCode = (int)HttpStatusCode.OK  after PasswordSignInAsync to prevent it redirect.

[2018-09-11 17:12] aspnet-hello commented on #1913
EmailFactorFailsAfterSecurityStampChangeTest [failed with about the same error](http://aspnetci/viewLog.html?buildId=551277&buildTypeId=Releases_21Public_UbuntuUniverse) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-11 17:30] Eilon commented on #1913
@HaoK - any idea on this?

[2018-09-11 17:57] HaoK commented on #1913
Its only failing on 2.1?

[2018-09-11 18:07] Eilon commented on #1913
Looks that way right now.

[2018-09-11 18:18] HaoK commented on #1913
Test looks unchanged for a while, so 2.0 -> 2.2 all should be the same, the last assert is failing which is swapping the tokens and making sure they don't work with the wrong phone number.  Relevant code included in case anything jumps out at anyone.  The test already checks to make sure the tokens are different, so its not a TOTP collision I don't think

[code]

[2018-09-12 00:34] Eilon commented on #1913
Yeah that's odd... Can we add some logging spew to it so that we can get more info about it if it fails again?

[2018-09-12 00:35] Eilon commented on #1913
(The point being, especially because this is odd, that we need to do *something*, just in case there's some deeper product bug here.)

[2018-09-12 01:51] swaghost opened #1964 "oes this package have a hard dependency on Microsoft.EntityFrameworkCore 2.1.1?"
Have upgraded entire project to 2.1.3. or 2.1.2 where necessary.  I've got some T4 template code (a forked version of TypeLite https://www.nuget.org/packages/TypeLite/1.8.4) that when run is saying (even though I have everything upgraded to 2.1.3, or 2.1.2 where that's the latest) that it can't load Microsoft.EntityFrameworkCore 2.1.1, even though I have Microsoft.EntityFrameworkCore 2.1.3 install

[2018-09-12 15:42] ajcvickers commented on #1964
@swaghost You might want to look at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage-app?view=aspnetcore-2.1 and https://github.com/dotnet/core-setup/issues/4376

[2018-09-13 21:00] swaghost commented on #1964
This is a .NET framework project, so while I admittedly might have missed some of what you were getting at in translation, if it was about using Microsoft.AspNetCore.App, that's probably not going to work.

[2018-09-16 23:07] josejmoran opened #1967 "_Layout file for Identity not scaffolded"
When I scaffold the UI for Identity everything works fine. But the file: Areas/Identity/Pages/Account/Manage/_Layout.cshtml include a line referencing a file that I look for it in the directory it says it should be but is not generated when I scaffold.

@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

If I comment the line I get an error, which means Identity is using this file. It seems

[2018-09-17 04:12] gulbanana commented on #1722
I’ve got a customer request :)

I’m integrating a proprietary ORM with ASP.NET Core and plugging it into Identity is *almost* easy. The one problem is that our entity classes aren’t parameterless - we use a different paradigm to EF where the “context” is not itself an app specific type but contains code-generated metadata binding app-specific types to generics. Internal details aside, it’s necessa

[2018-09-17 09:20] IlyaSolovyov commented on #1967
Same issue as #1954. Still waiting for comments from the dev team.

[2018-09-17 16:01] AndyCJ opened #1968 "AntiForgeryTokens in Single Page Applications with ASP.Net Core Identity"
Apologies if this isn't the right repository for this.

I'm trying to get AntiForgeryTokens working in a SPA (Single Page Application), and I'm ending up fighting with Identity.

I'm roughly following the instructions for configuring a Cookie with the AntiForgeryToken for use with Angular: https://github.com/aspnet/Docs/blob/master/aspnetcore/security/anti-request-forgery/sample/AngularSample/Star

[2018-09-17 21:37] bhosale-ajay opened #1969 "Updating Email fails with Unexpected Error"
Framework Version - .Net Core 2.1

Project Creation
1. Create a Asp .Net Core Web project with Authentication
2. Run Migrations

Start Application
1. Register a user with email - abc@abc.com
2. Register a user with email - abc@xyz.com
3. Try to update the second user profile and change the email to abc@abc.com. On submit the code throws an unexpected error. The DB query shows email has updated.

S

[2018-09-18 08:16] #1968 closed

[2018-09-18 08:16] AndyCJ commented on #1968
Duplicate of: https://github.com/aspnet/Home/issues/2783

[2018-09-18 10:48] larsw commented on #1818
Hi,

We experience the same problem when trying to import the package into our in-house NuGet.Server-based server. AFAIK the content-types schema the [Content_Types].xml file should follow needs a relative or absolute URI in the PartName attribute. Workaround is to manually remove the whole entry, but you should really get this sorted out.

[2018-09-19 20:28] HaoK commented on #1722
@gulbanana are you asking for something like a `IUserFactory` with a Create method that the UI would use instead?

[2018-09-19 21:18] eriksendc opened #1970 "Second Facebook or Google sign in returns to /account/login after iOS 12 upgrade"
_NOTE: See my second comment on this issue. This isn't just an issue with my app (getyourpet.com). It can be reproduced with a "File New Project" web app. Someone needs to tell Apple what they broke fast!_

Hi All,

I upgraded my iPhone 6s to iOS 12.0 yesterday (I was on 11.x), and I found that after the upgrade I couldn't sign in to getyourpet.com (my production site) using the Facebook button on

[2018-09-20 00:40] gulbanana commented on #1722
That would work fine for my use case.

[2018-09-20 11:46] eriksendc commented on #1970
Since submitting my original issue yesterday I tested this and proved that this is an issue with the "File New" experience. If you create a new ASP.NET MVC app and enable Facebook, I'm getting the exact same results... desktop / laptop is fine, but signing in with the Facebook button from /Identity/Account/Login doesn't work. The versions of things from my "File New" test and the updated startup.c

[2018-09-20 15:30] nicklundin08 opened #1971 "Inconsistent server response when using JWT bearer tokens to authenticate"
I have been noticing inconsistent behavior with my web api ever since upgrading it to asp.net core. The relevant components of the project are

- An asp.net core authentication server (implemented via identity server 4)
- A web api (recently migrated from .net framework 4.5.1 to asp.net core)

Use Case 1
- Client sends an unauthenticated request to the resource server without a token
- Server resp

[2018-09-21 01:20] jamiewest commented on #1969
The UI code uses the email address for the user name, which when set, updates the `NormalizedUserName` field which has a unique constraint set (see [here](https://github.com/aspnet/Identity/blob/ed28df1236db01d75463f40bcf58d9e960a206a9/src/EF/IdentityUserContext.cs#L133)). In your case, when you update your email address to match your first record, you are getting an error from the database for vi

[2018-09-21 02:16] jamiewest opened #1972 "Improve UserManager accessibility"
I was trying to override the `CreateAsync` method [here ](https://github.com/aspnet/Identity/blob/ed28df1236db01d75463f40bcf58d9e960a206a9/src/Core/UserManager.cs#L466-L483) but I loose access to `UpdateSecurityStampInternal(TUser user)` and `GetUserLockoutStore()`. It would be helpful to make the stores as well as the updating of the security stamp accessible on derived classes.

[2018-09-21 08:40] dragankae opened #1973 "Can't use GUID identifier on IdentityRoleClaim and IdentityUserClaim"
I'm not able to use GUID identifier on IdentityRoleClaim and IdentityUserClaim classes. TKey is not set on the Id.

![capture](https://user-images.githubusercontent.com/10271448/45870178-918eee00-bd8a-11e8-9af7-34d06918e2e8.JPG)

[2018-09-21 13:40] jamiewest commented on #1973
Looks like you would need to override Id with `TKey` or whatever data type you want to use and potentially create a constructor to initialize the variable. Deriving this would also require that you create derived instances of the stores and manager as well. Is there a specific reason why you need this PK to be a different data type? Also, are there instances where the data type would be different

[2018-09-21 13:42] jamiewest commented on #1967
I can confirm this on the preview 2 bits.

[2018-09-21 13:46] bhosale-ajay commented on #1969
In this case, it will be helpful to show a validation error instead of throwing an exception. If I override the default UI, and allow user modifying the email without changing username, the login fails if username and email does not match. Team should reconsider this behavior, or provide a way to override this,

[2018-09-21 14:52] dragankae commented on #1973
I wanted to use Guid types for my identifiers and I noticed that TKey is not set on the Id in IdentityRoleClaim and IdentityUserClaim while is set on IdentityRole and IdentityUser. That kind a confused me, but anyway i will try with your suggestion with overriding.

[2018-09-21 19:09] DavidMaltby commented on #1065
Thanks!  Worked for me

[2018-09-23 15:02] josejmoran opened #1977 "Asp.Net Core takes too long to run the web application"
When I run the application the build process takes about 45 seconds, the majority of that time is spent on some tasks that do not send any message to the Output window so I have no idea what is going on. The development loop cycle is affected by this. Usually we change a file or two and click run again, so it feels like forever every time. Is there a way to improve this, maybe keeping a list of fi

[2018-09-24 03:01] Eilon commented on #1977
Hi @josejmoran would it be possible for you to share the app on GitHub so we can investigate?

You might be able to enable more diagnostic information by running `dotnet build -clp:PerformanceSummary` from the command line. That will emit additional timing information about where time is spent.

[2018-09-24 14:07] josejmoran commented on #1977
Hi,

I will run  the command you sent to take a look. It will be great if a
feature is added so we can see it in the output window in VS.
If you want to test this issue you just need to create a new project with
Identity. It seems that when you have not added any new code after creating
the project it runs somewhat faster. It could be better, but is not as slow
as when you start adding classes and

[2018-09-24 14:20] josejmoran commented on #1977
I tested it again with only VS running and it takes 20 seconds. I repeated
it several times and I had like 12GB of memory available.
Also I just changed a letter on a View. That is why it may be good to add a
new feature to allow for an incremental compilation of sort that only
compile the file just changed.
It seems that VS is using all 4 cores ( 8 threads). So the horse power is
there to have th

[2018-09-24 18:10] aspnet-hello commented on #1870
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:10] #1870 closed

[2018-09-24 18:10] aspnet-hello commented on #1865
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:10] #1865 closed

[2018-09-24 18:10] aspnet-hello commented on #1852
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:10] #1852 closed

[2018-09-24 18:10] aspnet-hello commented on #1842
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:10] #1842 closed

[2018-09-24 18:10] aspnet-hello commented on #1741
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:10] #1741 closed

[2018-09-24 18:10] aspnet-hello commented on #1541
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:10] #1541 closed

[2018-09-24 18:11] aspnet-hello commented on #1461
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:11] #1461 closed

[2018-09-24 18:11] aspnet-hello commented on #1397
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:11] #1397 closed

[2018-09-24 18:11] aspnet-hello commented on #1178
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:11] #1178 closed

[2018-09-24 18:11] aspnet-hello commented on #1170
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:11] #1170 closed

[2018-09-24 18:11] aspnet-hello commented on #1142
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:11] #1142 closed

[2018-09-24 18:11] aspnet-hello commented on #887
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:11] #887 closed

[2018-09-24 21:27] blowdart commented on #1963
Where do you want it to go? After PasswordSigninAsync you need the 2fa verification page as well.

You'd check via

[code]

And then in your 2fa page

[code]

[2018-09-24 21:28] blowdart commented on #1961
@HaoK

[2018-09-24 21:28] blowdart commented on #1954
This issue was moved to aspnet/Scaffolding#885

[2018-09-24 21:28] #1954 closed

[2018-09-24 21:29] blowdart commented on #1977
This issue was moved to aspnet/Home#3552

[2018-09-24 21:29] #1977 closed

[2018-09-24 22:59] whizkidwwe1217 commented on #1518
@challamzinniagroup it's just so bad when you're putting in some random strings when it doesn't have to be. I'll already solved this issue by extending and overriding the IdentityManager class. That way I was able to customize it and was able decide how it will be persisted to the database.

[2018-09-25 03:43] alonstar commented on #1963
@blowdart
I have another issue to handle, so I need return "View" sometimes, not redirect. BTW, why can't keep 2fa in the same page? If I need to redirect, I also can use "RedirectToAction" or "Redirect" to do this, right? so I think "PasswordSignInAsync" should not to force to redirect.

[2018-09-25 03:50] alonstar commented on #1963
https://github.com/aspnet/Identity/issues/1543

There is someone has the same issue with me.~

[2018-09-25 12:32] mawadallah commented on #1173
is there any functionality for creating SignInManager?

[2018-09-25 13:18] #1973 closed

[2018-09-25 16:02] eriksendc commented on #1970
@blowdart No change in behavior after incorporating your suggestion. Tested on Safari, Google and Firefox apps in iOS 12.

[2018-09-25 17:30] blowdart commented on #1963
You generally don't return views after POSTs, Post/Redirect/Get (PRG) pattern is almost always used, because it stops duplication form submissions.

As for 2fa in the same page, well, what if the user doesn't have 2fa enabled, how do you know until you get a POST with the username?

[2018-09-25 18:38] natemcmaster commented on #1895
FYI I am disabling Identity PR validation for this repo since this issue is still unresolved.

[2018-09-25 18:39] HaoK commented on #1895
@ajcvickers is there any update on the EF side for why async queries are failing on VSTS?

[2018-09-25 18:58] eriksendc commented on #1970
@blowdart No change in behavior after switching to `SameSiteMode.None`. Tested on Safari, Google and Firefox apps in iOS 12.

[2018-09-25 19:12] ajcvickers commented on #1895
@HaoK There are some deadlock issues with the current query pipeline. The issues are pretty deep and won't realistically be fixed until 3.0. We still don't know 100% if this is the root cause of the test deadlocks, but we're working on the assumption that it is.

[2018-09-25 21:51] blowdart commented on #1970
Darn. OK, @HaoK @Tratcher can you please take a look?

[2018-09-25 22:03] Tratcher commented on #1970
We just went through this on [another thread](https://github.com/IdentityServer/IdentityServer4/issues/2595#issuecomment-424329360) and it was SameSite broken on iOS 12. The trick is figuring out which cookie is affected. A Fiddler trace is your best bet. I know you can't do that from iOS, but a trace using your desktop browser should give enough of the same data to identify the cookie even if you

[2018-09-25 23:33] pranavkm commented on #1937
Could we close this? No reports of additional failures over 2 weeks now.

[2018-09-25 23:52] ryanbrandenburg commented on #1937
Do you have a hypothesis on why this might have started passing again?

[2018-09-26 02:44] eriksendc commented on #1970
Hi @Tratcher. In @blowdart 's initial suggestion he'd suggested chaining in `.Services.ConfigureApplicationCookie()` to set `SameSite` for the cookie. I tried that and it didn't change anything. Reading the other thread I thought I understood that setting `SameSite = SameSiteMode.None` for the external cookie would do the trick. I just tried that, and still no luck. Then there's something about ma

[2018-09-26 02:47] eriksendc commented on #1970
PS @Tratcher I'm not exactly sure what you were asking about in getting a fiddler trace. What exactly are you looking for? Oh, and my problem, and the problem I can recreate with File --> New Project, isn't just a problem with Safari. It's Safari, Chrome and Firefox on iOS 12. There must be some underlying library that is in the OS that all browser apps are dependent on that has broken this.

[2018-09-26 02:58] alonstar commented on #1963
I understand Post/Redirect/Get (PRG) pattern is always used, but it's "always", not "must", I don't  understand why it must require to redirect after post ? Redirect or not it's should depend on situation, If I don't want user to post again, there are many ways to do this thing, not just redirect.

I think every method should keep it to do a single thing or complete flow, after PasswordSignInAsync

[2018-09-26 03:18] Tratcher commented on #1970
[Fiddler](https://www.telerik.com/fiddler) is a really useful HTTP debugging tool to capture your traffic.  Facebook and Google aren't in the template, I'd want to see the trace that included any modifications you've made.

On iOS all browsers are forced to use the same stack underneath. Only the UI ends up being different.

[2018-09-26 03:59] eriksendc commented on #1970
Hi @Tratcher , yeah I think I used Fiddler back when it first came out... and over the years... but not an expert. I believe I have a trace but I've got these options when I export. Is there one of them that you'd prefer?

![image](https://user-images.githubusercontent.com/8974354/46056535-111c1480-c11f-11e8-9101-b57c7e77c4d7.png)

[2018-09-26 13:06] coolmikkel commented on #1451
@nanodrive any news with the last 2 warnings?

I only have the warning regarding the index on AspNetUsersTokens,
Running 2.1.4 sdk.

[2018-09-26 13:35] coolmikkel commented on #1451
@WellspringCS I do not understand what you are explaining.
Did you change "nvarchar(450)" to "int"?
How do that work? How does a guid gets to be saved in an "int" column?

![image](https://user-images.githubusercontent.com/3486494/46083444-c7c0d900-c1a1-11e8-9f4e-daeb5997644f.png)

[2018-09-26 14:03] WellspringCS commented on #1451
My bad for not looking back at how I solved the problem last year. On that particular table, I did this:

![image](https://user-images.githubusercontent.com/34347780/46085020-a7295c80-c16a-11e8-9b8c-1c10f3ca94ed.png)

I'm pretty sure in my original solution I had to change UserId from guid to int, and similar changes in several places. But I see you have it as int there, too. Is that the setup out

[2018-09-26 17:27] javiercn commented on #1937
@ryanbrandenburg I think this has been a transient issue. Our stack is so complex that I wouldn't even know where to start in order to look into this. I'm confident that this is not something we have caused as we haven't changed this code in months, so I will agree with @pranavkm in that we should close this.

The only thing we can do is to enable binary logs in all our builds so that we can do po

[2018-09-27 04:47] newbienewbie commented on #1813
It took me quick a lot time to figure it out . For those who still cannot make it work , if you have signed in before using the older code ,  please ** logout and login again** .

[2018-09-27 14:15] eriksendc commented on #1970
Hi @Tratcher Sorry for the radio silence. Had other fires to put out. Here's a link to the .saz file you asked for: https://drive.google.com/open?id=1LK-G1ypS0mlT1aD37k9X91gxkptz2rPn

Please note, I'm not fiddleriffic. If there's something I've not provided let me know.

That being said:

1. Given this issue can be reproduced with "File --> New Project", is there someone at Microsoft that can try

[2018-09-27 15:09] JustMeGaaRa opened #1978 "Support for Activity-based authorization"
Modern authorization requires far more granularity than simple roles or policies. It's possible to implement Activity-based authorization right now, but it requires to re-implement same logic over and over for each new project.

It would be great if there was support for `IdentityRole` type to have a collection of Activities of type `TActivity`. Moreover, for `RoleManager` to have the same methods

[2018-09-27 17:39] eriksendc commented on #1970
Hi @Tratcher ,

Regarding "Why are you creating a new CookieBuilder rather than modifying the existing one?",  @blowdart 's original suggestions had that. In my more recent attempts I'm assigning the `SameSite` property of the existing one to `SameSiteMode.None`.

In the other thread I noticed someone had set `CorrelationCookie.SameSite` to `SameSiteMode.None` when populating the options for thing

[2018-09-27 17:45] blowdart commented on #1970
Blowdart can be an idiot and get his code wrong.

So by following Chris's correct advice the risk here is minimal, as I believe it's only loosening the same site protection on the cookie we use during external authentication. After that process is completed the cookie we drop uses the more secure setting and is a different one. Although Chris might correct me here again :)

[2018-09-27 17:49] eriksendc commented on #1970
Hi @blowdart Thanks for pitching in on my question 2 above. Just a reminder I'd like to understand how Apple is engaged to get the root cause addressed (question 1 above). Thanks!

[2018-09-27 17:51] blowdart commented on #1970
Funnily enough I'm at a conference today with Apple security folks in attendance. It's arguable they're not doing the wrong thing here, the whole spec around same site was, well, not quite rigorous. It's almost like the HTML4 days again. I'll talk to them though :)

[2018-09-27 17:54] Tratcher commented on #1970
See https://github.com/IdentityServer/IdentityServer4/issues/2595#issuecomment-425068595 and https://bugs.webkit.org/show_bug.cgi?id=188165. Apple claims this is by design and every other browser is wrong.

@blowdart note he had to disable same site for both his external cookie and his main auth cookie. In other words, Apples implementation seems to negate the use of SameSite in any OAuth implemen

[2018-09-27 18:00] eriksendc commented on #1970
Oh geez. Well, thanks Apple! :)

For posterity, anyone that wants to see a final before / after, here you go. This is code in `Startup.cs` inside `ConfigureServices()`.

**Before**

    services.ConfigureApplicationCookie(options =>
    {
        options.AccessDeniedPath = new PathString("/Account/Login"); //If the logged in user doesn't have access to the page we redirect him to the login page.

[2018-09-27 18:46] eriksendc commented on #1970
@Tratcher Something that just came to mind... given that this issue affects projects created with "File --> New Project" and following the various guides to implement "social sign in" (I just googled and every "how to set up social sign in" is lacking any mention of SameSite), I'm wondering if this warrants some kind of formal announcement on the repo where the announcements usually go? Am I allow

[2018-09-27 19:58] blowdart commented on #1970
@Eilon @DamianEdwards Does this warrant an announcement, considering iOS12 and Safari broke us (and other OIDC providers)?

[2018-09-27 20:07] Eilon commented on #1970
@blowdart by all means.

[2018-09-27 20:08] blowdart commented on #1970
OK I'll kick off an email thread after triage.

[2018-09-27 22:03] Tratcher commented on #1970
@blowdart will write the announcement.

Temporary workarounds:

// With Identity
services.ConfigureExternalCookie(options =>
{
    options.Cookie.SameSite = SameSiteMode.None;
});
services.ConfigureApplicationCookie(options =>
{
    options.Cookie.SameSite = SameSiteMode.None;
});

// Without Identity
services.AddCookie(CookieAuthenticationDefaults.AuthenticationScheme, options =>
{
      options.

[2018-09-27 23:29] assyadh opened #1981 "Custom Storage for Identity Provider: What if my data source is not a storage layer?"
Hi,

I was going over the Identity Provider paradigm (Managers, Stores and your custom data layer).

Identity architecture states that Managers are high-level classes which an app developer uses to perform operations, such as creating an Identity user. Stores are lower-level classes that specify how entities, such as users and roles, are persisted.

However, here is a simplified stack trace of a S

[2018-09-27 23:33] HaoK commented on #1981
I think for those situations you would have a derived UserManager where you override the PasswordSignIn/CheckPassword/VerifyPassword methods to do what you need

[2018-09-28 00:36] DamianEdwards commented on #1722
Can someone point me to the feedback from customers that are actually trying to create custom `IdentityUser` types that don't have constructorless parameters? I believe we can fix the templates to not instantly break when using a custom user type (just the code in `LoginPartial.cshtml` I believe). I'm interested as to whether we need to go this far though.

[2018-09-28 00:45] DamianEdwards commented on #1722
I see the one from @gulbanana above (obviously 😄) but are there more? Adding new factory classes and replumbing all the things to use that instead isn't trivial, and I'm concerned about assumptions being changed about who builds what in a minor release so want to be sure this is worthy of this kind of change, i.e. it benefits a good number of folks.

[2018-09-28 01:34] HaoK commented on #1722
This wasn't an issue until the UI so I doubt you will see too many issues about it as it wouldn't affect anyone who didn't switch.  We could do this transparently for all TUsers that derive from our built in IdentityUser types that have default constructors, the user factory would only be needed if you had a custom TUser that didn't derive from ours, which you'd just have to do something like this

[2018-09-28 17:35] assyadh commented on #1981
Thanks, this is what I am planning to do.

However I was wondering if there was any plan on not relying to a 'data storage' layer, but rather go even more abstract on how users are managed?

[2018-09-28 19:27] blowdart commented on #1970
Done. I'm closing the issue here, because it's not clear this is our fault :) https://github.com/aspnet/Announcements/issues/318

[2018-09-28 19:28] #1970 closed

[2018-09-28 20:52] HaoK commented on #1722
Discussed this with @ajcvickers and we decided it would be best to wait to tackle this in 3.0

[2018-09-29 06:47] gulbanana commented on #1722
I suspect there aren’t a lot of people with this use case, but I still think the change should be made (eventually. the concern about breaking changes is understandable). There’s a reason everything else uses DI instead of Activator!

[2018-09-30 15:12] NCanggoro opened #1985 "Identity Core and Extension Identity Core Ambiguous Reference"
The type UserManager<TUser>' exists in both 'Identity.Core, Version=1.2.7.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' and 'Microsoft.Extensions.Identity.Core, Version=2.1.3.0, Culture=neutral, PublicKeyToken=adb9793829ddae60

[2018-09-30 19:06] vankampenp commented on #1942
2018-09-30 16:37:07.7274|86.85.146.189|||ERROR|8.9.26.0|176|Base|SessionUser.MoveNext|User create error in FindOrCreate|Microsoft.EntityFrameworkCore.DbUpdateException: An error occurred while updating the entries. See the inner exception for details. ---> System.Data.SqlClient.SqlException: Cannot insert duplicate key row in object 'dbo.AspNetUsers' with unique index 'UserNameIndex'. The duplicat

[2018-10-01 00:39] davidrevoledo opened #1986 "Default Values for IdentityUser"
I've realized that the configuration for the default entity `IdentityUser`
https://github.com/aspnet/Identity/blob/master/src/EF/IdentityUserContext.cs#L134 doesn't have any configuration for the `PhoneNumber` and other values.

I faced a few perfomance lacking with varchar(max) sizing.

Reference : https://sqlperformance.com/2017/06/sql-plan/performance-myths-oversizing-strings

I think it'd be a

[2018-10-01 17:58] Eilon commented on #1960
@mkArtakMSFT - ping

[2018-10-01 21:08] dpedrelli opened #1987 "Table mappings not working with Core 2.1"
I have a netcoreapp2.0 in which I mapped the Identity classes to custom table names.  I created the Identity migration and it works fine.  When I update to netcoreapp2.1, I get the following error, when I attempt to access Identity:

`SqlException: Invalid object name 'AspNetRoles'. `

I searched the solution.  CreateIdentitySchema.Designer.cs and ApplicationDbContextModelSnapshot.cs each contain

[2018-10-02 02:33] #1985 closed

[2018-10-02 09:26] Ponant opened #1988 "What is your opinion on Passwordless auth"
Hi,
I understand that Password-less auth à la Medium or Slack is not RFC based standard, but I would like to have some feedback on its advantages and/or disadvantages over password-based flows as we do with asp.net identity. I would exclude from the discussion login via social providers, hence concentrating the discussion feedback around the situation where:
1) User enters Email on the website or

[2018-10-02 16:11] vmass20 commented on #1683
That link is dead already.

[2018-10-02 16:13] vmass20 commented on #1683
Link seems to be dead already.

[2018-10-02 16:19] ajcvickers commented on #1683
@vmass20 https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-2.1

[2018-10-03 04:38] sbsw commented on #1824
I have a similar requirement: The only part of the library code I want to use (because it incorporates a lot of security best practices) is the login stuff.  But I have my own pages for registration and user settings.  So I'm looking for a way to disable everything except for the Login pages.  Please tell me I don't need to template ALL of the pages I don't want, just to hack up the code behind th

[2018-10-03 08:48] flatproject opened #1989 "Question: Can the cookies be customised to exclude dashes?"
I have two apps on Azure which work great. I recently added an Application Gateway with firewall and IPS/IDS and since then any identity cookies or cookies in general that contain a double dash "--" are getting blocked because they match the OWASP rule "SQL Comment Sequence Detected cookies". I know according to [RFC6265](https://tools.ietf.org/html/rfc6265#section-4.1.1) that a hyphen is an allow

[2018-10-03 12:30] DianaKoenraadt commented on #86
Same here, looking to translate IdentityResult.Errors in Identity 2.x

[2018-10-04 16:01] willdaviesdevelops commented on #859
The previous cited url of "[https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/TokenOptions.cs](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/TokenOptions.cs)" is broken (404).
Consider this link as an alternative: [TokenOptions.cs](https://github.com/aspnet/Identity/blob/master/src/Core/TokenOptions.cs)

[2018-10-05 06:17] yetanotherchris opened #1993 "Example of an IUserClaimStore"
Hello,

I'm looking through the source (EF mainly) and can't find an IUserClaimStore example. Does it implement it? Or is there source repo somewhere else I could find a working example?

[2018-10-05 09:09] flatproject commented on #1989
@vcsjones Apologies, I didn't make it clear in my question. I'm looking for ways to exclude double hyphen "--" from the cookie content, not the name.

[2018-10-05 19:04] jamiewest commented on #1972
I see there is a [UpdateSecurityStampAsync](https://github.com/aspnet/Identity/blob/c54525f459281bdcd4f7918a8804843fd36ee643/src/Core/UserManager.cs#L871) that could be used when overriding the `Create` method, but it would still be nice to have access to the various `GetNameOfStore()` methods in derived instances of this class.

[2018-10-08 07:07] cryptotrain opened #1997 "User Roles not being added as Role Type claims on sign in (Identity Core) (Bug? / User Error?)"
Hello,
I believe I may have found a bug or I simply have a configuration issue, but after trolling through the MSDN Documentation for a couple of days and testing/trying, I cannot seem to figure this out.

My StackOverflow Question: https://stackoverflow.com/questions/52686139/asp-net-core-2-1-identitycore-role-claims-not-being-added-on-user-sign-in

I'm using **ASP.Net Core 2.1** with **IdentityC

[2018-10-08 07:51] HaoK commented on #1997
Yeah this has been fixed in 2.2, this is a dupe of https://github.com/aspnet/Identity/issues/1813

[2018-10-08 07:51] #1997 closed

[2018-10-08 20:00] ryanbrandenburg opened #1998 "License headers incorrect"
While working on updating Identity to the newest jquery.validation.unobtrusive I noticed that the license headers [on some files](https://github.com/aspnet/Identity/search?l=C%23&q=%22Copyright+%28c%29+Microsoft%22) doesn't match, reporting that the license is held by Microsoft instead of the .NET Foundation.

CC @Eilon for license issues, @javiercn since we already talked about this a bit.

[2018-10-08 20:03] HaoK commented on #1998
If its only those files in the compat project, the good news is those never shipped and are mostly just there as samples and probably will never ship as they were mostly for AspNet Identity -> AspNetCore Identity interop

[2018-10-08 21:22] blowdart commented on #1989
No. Cookies are encrypted and signed via data protection, it's opaque and can't be changed. Your IDS rule is rather wrong IMO.

[2018-10-08 21:23] blowdart commented on #1988
This would be an opinion, which would be, outside of the scope of a github code issue. So I'm going to close the issue.

[2018-10-09 01:41] Eilon commented on #1998
Let's update to .NET Foundation - that's what those are all supposed to be.

[2018-10-09 08:30] Ponant commented on #1988
@blowdart , you decide at the end, although GitHub is also used for getting feedback, e.g.
https://github.com/aspnet/Docs/issues/6146 . :) :) :)
Furthermore, I think the discussion can be interesting and I can't ask this on SO. I saw on of your tweets mentionning that you would gladly go pwdless but that was as elaborate as a tweet can be.
Cheers

[2018-10-09 11:47] flatproject commented on #1989
@blowdart ok thanks, I thought as much. Unfortunately it's the default rule (942440) from OWASP 3.0 rule set that Azure applies. Don't think it can be customised apart from on/off so I have turned it off for now.

[2018-10-09 11:47] #1989 closed

[2018-10-09 15:34] danielcongrove commented on #1952
I'm using Firefox 62.0.3, and I just tried logging in on my ASP.NET 2.1.1 website in private mode. Login worked correctly for me.

[2018-10-09 20:41] blowdart commented on #1988
Oh I see. Well we wouldn't put it into Identity, because the only way we could do it without a lot more of a backend is magic links and those are just despicable.

[2018-10-10 07:12] Mr-Bart-Simpson commented on #1818
This is still an issue for Microsoft.AspNetCore.Identity.UI.2.1.3
We're also having trouble to import it into our in-house NuGet Server (based on [Nuget.Server](https://github.com/NuGet/NuGet.Server)). Debugging the server code shows, that (as described above by @ryanbrandenburg ) the source of the problem lies in the malformed entry [Content_Types].xml: The server tries to open the package with S

[2018-10-10 10:14] LindaLawton opened #2000 "Show errors in the log from VerifyUserTokenAsync"
I am getting a nice warning in my logs when the code is invalid  from [L1712](https://github.com/aspnet/Identity/blob/c7276ce2f76312ddd7fccad6e399da96b9f6fae1/src/Core/UserManager.cs#L1712)

However it does not tell me what the error is in the error message is.   I have had to add this in my own code.

Which basically means i have two log entries for the same issue.  It would be nice to get a list

[2018-10-10 22:46] ajcvickers commented on #1961
@HaoK Yep. The same database name needs to be used for saving and querying.

[2018-10-10 22:59] #1961 closed

[2018-10-11 00:16] davidrevoledo commented on #1986
any news ?

[2018-10-11 01:02] KevMorelli commented on #1986
I ran a few tests and it seems that these length values could work without issues:
PhoneNumber => 15
PasswordHash => 84
SecurityStamp => 32
ConcurrencyStamp => 36

[2018-10-11 01:08] davidrevoledo commented on #1986
@KevMorelli Yeah I'm aware of that.

[2018-10-11 01:51] KevMorelli commented on #1986
I will check the other tables before making a pull request with the fixed migration for the templates because there are many fields with maximum length.

[2018-10-11 01:58] davidrevoledo commented on #1986
@KevMorelli I think we should wait until some one of the team answer this Issue, the PR will be a quite complicated as will be a breaking change.

[2018-10-11 07:37] Ponant commented on #1988
@blowdart , thanks for re-opening!
Sure I understand your view, but what is your take on the security side? I mean, do you see any disadvantages of using a pwd-less schema vs a pwd-based one? I ask this because I just do not see any disadvantage of pwd-less. Even on the financial-side (sending emails for login), a pwd-less schema seems just better or at least equal on the spending side.

[2018-10-11 12:39] zachesposito commented on #1891
Hello, I made a PR to dispose the streams so that this issue can get closed out.

[2018-10-11 15:35] ajcvickers commented on #1986
@HaoK @blowdart I think there is value here, and for 3.0 we should probably bite the bullet and do schema cleanup, but clearly not before 3.0 given where we currently are. Suggest we triage this to 3.0.

[2018-10-11 15:49] davidrevoledo commented on #1986
@ajcvickers yes I think the same if not it will force everyonce to run a migration.

[2018-10-11 16:01] blowdart commented on #1988
It would depend on the implementation, without that I couldn't make an comparisons or form an accurate opinion.

[2018-10-11 16:32] StuffOfInterest opened #2002 "UI package has path error"
I was trying to import the Microsoft.AspNetCore.Identity.UI NuGet package into a local package server (using NuGet.Server).  This one package refused to import.  After opening an issue with the NuGet team (https://github.com/NuGet/NuGetGallery/issues/6543) the problem was traced to a bad path in the embedded nuspec file.

[code]

The server did not like the double slash in front of the name.

It a

[2018-10-11 17:59] javiercn commented on #1635
@blowdart What should we do here?

[2018-10-11 18:00] blowdart commented on #1635
Fix it.

[2018-10-11 21:47] #1958 closed

[2018-10-11 22:04] javiercn commented on #1937
I don't see this issue anymore, in any build for the past month, so closing.

[2018-10-11 22:04] #1937 closed

[2018-10-11 22:29] javiercn commented on #1571
We won't be doing this.

[2018-10-11 22:29] #1571 closed

[2018-10-12 18:21] pekspro commented on #1961
😳  That so obvious! I don’t get how I could miss that. Thanks for the answer.

[2018-10-12 18:44] blowdart commented on #2002
@javiercn

[2018-10-12 18:44] blowdart commented on #2002
@javiercn

[2018-10-12 18:45] blowdart commented on #2000
Sure, a PR would be lovely thank you.

[2018-10-12 22:07] javiercn commented on #2002
@pranavkm Do you have any idea?

[2018-10-13 07:11] xenalite opened #2010 "OpenID Connect - Sign Out - AADSTS90015: Requested query string is too long."
I am using this sample:
https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore

I made 1 modification in the code - added `SaveTokens` flag:
[code]

I also made another modification in the AAD app manifest:
`"groupMembershipClaims": "SecurityGroup",`

This gives me a longer ID token with group claims as I need them, but when I try to sign out, I get this:
![image]

[2018-10-15 14:20] wutever0 commented on #1414
Hi I still facing this issue even after placing ConfigureApplicationCookie after AddDefaultIdentity.
Any suggestions?

Here is my ConfigureServices:

[2018-10-15 15:53] mkArtakMSFT commented on #1636
@blowdart, should we move this to 3.0?

[2018-10-15 16:13] blowdart commented on #1636
All this needed was wording, or a loop. We're really bumping it again?

[2018-10-15 16:15] mkArtakMSFT commented on #1636
@HaoK, seems like this is minor and @blowdart wants this in 2.2.
Can you please handle it? Thanks!

[2018-10-15 20:15] natelaff opened #2011 "Social auth in infinite loop with cookie consent"
I have a 2.1 app that isn't too far outside the standard identity code.

I configure my cookie like so:

            services.ConfigureApplicationCookie(options =>
            {
                options.AccessDeniedPath = "/Account/AccessDenied";
                options.Cookie.Name = "sitenameishere";
                options.Cookie.HttpOnly = true;
                options.ExpireTimeSpan = TimeSpan.

[2018-10-15 22:09] brainoverflow98 opened #2012 "Same Package On Nuget With Different Names"
Are there any difference between Microsoft.AspNetCore.Identity.dll and Microsoft.Extensions.Identity.Core.dll ? If not why there are two of them ?

[2018-10-16 02:18] soargon opened #2013 "Microsoft.AspNetCore.Identity.EntityFrameworkCore shunld not reference Microsoft.AspNetCore.Identity"
![1](https://user-images.githubusercontent.com/775878/46988744-a7df5e00-d12c-11e8-9455-2dd6c629f0fb.png)
![2](https://user-images.githubusercontent.com/775878/46988745-a9a92180-d12c-11e8-9a9a-6cafc20327c9.png)

[2018-10-16 09:12] huntertran commented on #1120
For new comers like me, digging through identity "point-and-click" docs doesn't help much. A lot of questions pop ups, and obviously we cannot post every single questions to Github.
_Why_ you guys created this and that, explanation of this concept, why using this over that, etc. A documentation including all of this would be great.

[2018-10-16 11:04] Sigvaard opened #2014 "HTTP API for Identity"
Is there any HTTP API on top of ASP.NET Core identity available? I was looking at  https://github.com/aspnet/Identity/issues/1187 but it's too bloated to understand anything. I'm trying to avoid creating my own HTTP API for user management but I guess there's no other choice.

I would like to build my own interface for user management but through web API.

[2018-10-16 13:11] brockallen commented on #2014
There are commercial products that offer the API and UI: https://www.identityserver.com/documentation/admin-ui/

[2018-10-16 15:37] ajcvickers commented on #2013
@soargon Why?

[2018-10-16 16:29] Eilon commented on #2012
Microsoft.AspNetCore.Identity depends on Microsoft.Extensions.Identity.Core, so they are not the same thing, but both are used in ASP.NET Core Identity.

[2018-10-17 00:43] kedzior-io opened #2016 "TempData doesn't work when scaffolded"
When using scaffolded asp.net core 2.1 identity:

1. TempData doesn't work when using cookie provider:

` services.AddMvc()
.SetCompatibilityVersion(CompatibilityVersion.Version_2_1)
.AddCookieTempDataProvider();`

2. TempData doesn't work when using session provider if

`services.AddSession();` is placed **AFTER** `services.AddMvc();`

Apparently the order doesn't matter.

-----------------------

[2018-10-17 01:45] soargon commented on #2013
Because the project Microsoft.AspNetCore.Identity.EntityFrameworkCore doesn't depend anything on project Microsoft.AspNetCore.Identity.  or this project maybe rename to Microsoft.Extensions.Identity.EntityFrameworkCore?

[2018-10-17 02:11] HaoK commented on #2013
Yeah this is probably something that we missed updating when we added Extensions.Identity.Core, it should be able to reference that instead

[2018-10-17 02:20] soargon opened #2017 "UserOlnyStore bug not fix in release branch 2.0"
there is not matched number of generic arguments
this bug fixed on commit 85f8a49aef68bf9763cd9854ce1dd4a26a7c5d3c
![3](https://user-images.githubusercontent.com/775878/47058023-cc533d00-d1f5-11e8-829a-61fd0b9e4ff5.png)

[2018-10-17 13:28] madailei commented on #1881
Hi,

Have you tried expanding the .cshtml files that were added? This is where the backing code is

[2018-10-17 17:48] LindaLawton commented on #2000
I haven't forgotten this you can expect something Friday

[2018-10-18 04:39] maxwang commented on #1881
Thanks. @madailei

[2018-10-18 14:12] wutever0 opened #2019 "ConfigureApplicationCookie does not work with AddIdentity"
Using ConfigureApplicationCookie to change the LoginPath only works with AddDefaultIdentity but not with AddIdentity, even after adding the configuration **after** AddIdentity as per #1414 .

[code]

[2018-10-18 15:38] wutever0 commented on #2019
This seems to be specifically an issue with AddDefaultUI (which is also called in AddDefaultIdentity).
When I use the following:
[code]
I am again unable to redirect to my custom login page. This is a bit confusing because as far as I understand adding a default UI should not be interfering with cookie settings or am I wrong?

Would welcome any help or suggestions I've spent several days now tryin

[2018-10-19 06:48] LindaLawton opened #2020 "Random token invalid issue."
**Issue**

I have been getting a random issue with users trying to reset their passwords in our production and test environments.

The main problem is that we recently moved about 10k users from a legacy login system over to the identity server.   When we did this their login page changed so everyone who had their password saved in their browser and now cant remember it has had to reset their pass

[2018-10-19 11:44] LindaLawton commented on #2000
Ok now i am curious.  Why is [DataProtectorTokenProvider ValidateAsync](https://github.com/aspnet/Identity/blob/c7276ce2f76312ddd7fccad6e399da96b9f6fae1/src/Identity/DataProtectionTokenProvider.cs#L101)  returning false for all the errors?    Why not return the actual error to the developer so we can at least debug why its invalid.

[2018-10-19 16:32] Eilon opened #2021 "field ID type text"
_From @terrainkognito2017 on Friday, 19 October 2018 13:26:35_

Hello, dear titans develop such a beautiful project. Please explain why the data type of the Id field in the AspNetUsers table is text. Why not uuid? What you guided this decision?

_Copied from original issue: aspnet/AspNetCore#3675_

[2018-10-19 21:37] dpedrelli commented on #1987
Anything on this?

[2018-10-20 14:33] achandlerwhite commented on #2019
I'm noticing this same issue. This breaks certain multi tenant scenarios in my use case.

[2018-10-21 12:39] gbjbaanb commented on #1888
Why not? If you know the email of the new user, you can use the same methods in Register to resend the confirmation token, just skip the bits that create the user entry.

[2018-10-21 19:43] #2012 closed

[2018-10-21 19:44] terrainkognito2017 commented on #2021
I see that ID is text. I ask why? It takes up more space, it is slower indexed, it works worse when filtering. Why do you make this field as text?

[2018-10-22 09:42] LindaLawton opened #2022 "Null SecurityStamp results in in always invalid token."
If a user has a SecurityStamp of null and SupportsUserSecurityStamp is true.  The token is created with "" as the stamp.     [L82](https://github.com/aspnet/Identity/blob/c7276ce2f76312ddd7fccad6e399da96b9f6fae1/src/Identity/DataProtectionTokenProvider.cs#L82)

However when it is validated Its compared against null resulting in always false validation  [L135](https://github.com/aspnet/Identity/blo

[2018-10-22 12:00] wpqs commented on #2021
I've been researching why AspNet.Users.Id uses nvarchar(450) and reached the following conclusions:

- Storing GUIDs as 16 byte uniqueidentifiers rather than character text values saves space, but uniqueidentifiers aren't supported by all types of databases which is why they aren't used by AspNet Identity

- Identity uses nvarchar to support Unicode though it means you are using two bytes per char

[2018-10-22 13:29] terrainkognito2017 commented on #2021
I generate the original AspNetCore tables, import them into PGModeler, model the data tree I need, export it back to Postgres. Then I do Scaffold DbContext and AddMigration

[2018-10-22 13:32] poke commented on #2021
One thing to add to this: Note that it is possible to use Identity with GUIDs as the keys. If you know your target database supports this properly, then you just have to use `IdentityUser<Guid>` as the base type for your user entity. Similarly, the other entities also have generic variants for different key types.

[2018-10-22 13:52] terrainkognito2017 commented on #2021
Im use services.AddDefaultIdentity<IdentityUser>(config =>
            {
                config.SignIn.RequireConfirmedEmail = true;
            }).AddEntityFrameworkStores<ApplicationDbContext>();

Это шаблон веб-приложений net.core 2.1 How use Guid?

[2018-10-22 15:53] tiagodenoronha commented on #1333
For anyone searching, here is the current link: https://github.com/aspnet/Identity/blob/master/test/Shared/MockHelpers.cs

[2018-10-22 18:51] poke commented on #2021
I haven’t used the default Identity UI myself but you should be able to do something like this:

[code]

Of course, if you choose to create custom subtypes for those entities, this will look a lot nicer and will also be easier to use.

[2018-10-22 20:45] terrainkognito2017 commented on #2021
@poke,@HaoK
Guys, thank you so much! You are doing a great job! Good luck to you!

[2018-10-22 21:16] blowdart commented on #2022
If a stamp is support by the store it should never be null. So the right approach here would be to throw when a stamp is generated. Thoughts @HaoK?

[2018-10-22 21:16] blowdart commented on #2019
@javiercn does this fall under your scaffolding work?

[2018-10-22 21:20] HaoK commented on #2022
Yeah your users are in a broken state here basically.  We could be more defensive and throw when stamp is null in more places I guess, something to look at for 3.0?

[2018-10-22 21:54] terrainkognito2017 commented on #2021
Ohh!
            services.AddDbContext<IdentityDbContext>(options =>
                   options.UseNpgsql(Configuration.GetConnectionString("PostgresConnection"),b=>b.MigrationsAssembly("PersonalApp")));
            services.AddDefaultIdentity<IdentityUser<Guid>>(config =>
            {
                config.SignIn.RequireConfirmedEmail = true;
            }).AddRoles<IdentityRole<Guid>>().AddEnt

[2018-10-22 21:58] terrainkognito2017 commented on #2021
Guid!
I added an exclamation mark because the forum text editor skips <GUID> apparently thinking that this is a tag

[2018-10-22 21:59] terrainkognito2017 commented on #2021
`            services.AddDbContext<IdentityDbContext>(options =>
                   options.UseNpgsql(Configuration.GetConnectionString("PostgresConnection"),b=>b.MigrationsAssembly("PersonalApp")));
            services.AddDefaultIdentity<IdentityUser<Guid>>(config =>
            {
                config.SignIn.RequireConfirmedEmail = true;
            }).AddRoles<IdentityRole<Guid>>().AddEntityF

[2018-10-22 22:02] poke commented on #2021
You need to configure the correct database context. Since you are using `IdentityDbContext<IdentityUser<Guid>, IdentityRole<Guid>, Guid>` as the EF store for Identity, you will also need to use that exact type with the `AddDbContext` call. Otherwise you configure the default `IdentityDbContext` (non-generic) that uses string keys.

It’s best if you create a subclass for the context first, to avoid

[2018-10-22 22:14] terrainkognito2017 commented on #2021
Thanks! Its work!

[2018-10-23 06:56] HaoK commented on #2022
I don't think we should treat null security stamps as valid ever, my suggestion was rather that we have any methods throw saying user has a null security stamp instead of just always returning false/invalid.

Basically users being broken should result in exceptions, @blowdart thoughts?

[2018-10-23 07:07] LindaLawton commented on #2022
Well the thing is if you check the validate method it throws all exceptions and errors away.   So throwing an exception and invalidating the token isnt helping at all.   That's my problem.  There is no logging as to what is wrong with the tokens you are leaving developers to guess.  This has lead me to create my own DataProtectorTokenProvider that includes LOGGING.

I know you didn't ask for my th

[2018-10-23 08:02] HaoK commented on #2022
Yup that's the idea, we should just throw anywhere we see a null security stamp when its enabled

[2018-10-23 16:39] blowdart commented on #2022
Indeed, throw everywhere :)

[2018-10-23 18:12] javiercn commented on #2019
I think the PostConfigure is the one causing this, you can write `services.PostConfigure<CookieAuthenticationOptions>(IdentityDefaults.ApplicationCookie, o => ...)` to change the paths.

[2018-10-23 22:39] #1648 closed

[2018-10-25 18:07] blowdart commented on #2014
This isn't something we're look at doing given there are other projects out there. It's outside of the scope for identity, which is a simple starting point.

[2018-10-25 18:07] #2014 closed

[2018-10-25 18:07] blowdart commented on #2011
Dupe of https://github.com/aspnet/Announcements/issues/318

[2018-10-25 18:07] #2011 closed

[2018-10-25 18:10] blowdart commented on #2010
This issue was moved to aspnet/Security#1892

[2018-10-25 18:10] #2010 closed

[2018-10-25 18:13] blowdart commented on #2016
This is probably because the cookie for the temp data provider isn't marked as essential and you haven't wired up the cookie consent pieces. Please take a look at https://docs.microsoft.com/en-us/aspnet/core/security/gdpr?view=aspnetcore-2.1 and try integrating that.

[2018-10-25 18:14] blowdart commented on #2017
2.0 is not supported any more. If the issue is still present in 2.1 please reopen this issue.

[2018-10-25 18:14] #2017 closed

[2018-10-25 18:16] blowdart commented on #1993
IClaimStore isn't one of ours, do you mean [IUserClaimStore](https://github.com/aspnet/Identity/blob/master/src/Core/IUserClaimStore.cs)?

[2018-10-25 18:17] blowdart commented on #1988
As this is opinion and discussion I'm going to close this again.

[2018-10-25 18:17] #1988 closed

[2018-10-25 18:19] pranavkm commented on #2002
Specify a full path e.g. `<None Include="THIRD-PARTY-NOTICES.txt" Pack="true" PackagePath="/THIRD-PARTY-NOTICES.txt" />` seems to fix the issue. @StuffOfInterest would you like to send a PR to fix this?

[2018-10-25 18:22] blowdart commented on #1978
Identity is meant as a simple starting point. Extending roles to support something other than claims is beyond what this feature is aimed at.

[2018-10-25 18:22] #1978 closed

[2018-10-25 19:06] blowdart commented on #2022
Assigning to @HaoK for 3.0 so it can be consistent everywhere.

[2018-10-25 19:07] blowdart commented on #2021
Schema to be reexamined in 3.0.

[2018-10-25 19:09] blowdart commented on #2020
@LindaLawton do these users have valid security stamps?

[2018-10-25 19:10] blowdart commented on #2019
@Eilon Who is supporting Identity UI and scaffolding now? No-one seems to want it.

[2018-10-25 19:14] blowdart commented on #1987
Thank you for filing this issue. In order for us to investigate this issue, could you please provide us with a minimalist repro project that illustrates the problem?

[2018-10-25 19:16] #1981 closed

[2018-10-25 19:18] blowdart commented on #1956
You can't have both, not the way you want. You have to have a way to trigger the login that you want. As you are wanting AAD and identity it becomes weird, AAD expects to be the sole source of user information, you don't double up or duplicate. This isn't a scenario we support with identity.

[2018-10-25 19:19] #1956 closed

[2018-10-25 19:21] blowdart commented on #1946
You can't mix sliding expiration and absolute expiration at the same time. It's either or, so pick one and see if it still reproduces.

[2018-10-25 22:07] Eilon commented on #2019
@mkArtakMSFT is working in the answer to that question.

[2018-10-25 22:32] mkArtakMSFT commented on #1960
@javiercn, can you please look into this and see whether this is still an issue or not? Thanks!

[2018-10-25 22:43] javiercn commented on #1960
Just looked at it. It was a transient network error as this test needs to go and download an external resource to hash it and validate our integrity tags.

We could add a retry here if we have to, but I would do nothing for now until it manifests itself again (if ever)

[2018-10-25 22:47] #2002 closed

[2018-10-25 23:03] StuffOfInterest commented on #2002
@pranavkm, I guess @javiercn took care of it already.  Saved me from doing a clone for a one line fix.  Thanks for getting it taken care of.

[2018-10-25 23:53] Eilon commented on #1960
This will almost certainly fail again if it uses external network. I recommend adding a retry sooner rather than later (but perhaps not critically urgent).

[2018-10-26 00:31] mkArtakMSFT commented on #1922
@javiercn, can you please look into this and close if this is resolved already. Otherwise - just come up with a fix please.

[2018-10-26 05:15] javiercn commented on #1922
I checked and it seems like we did. Given that all the views are precompiled. Would it be problematic if we remove all the file providers from razor view engine options? That way there wouldn’t be any file watching going on, based on what I see on DefaultRazorViewEngineFileProviderAccessor. Does that make sense @pranavkm

[2018-10-26 16:51] pranavkm commented on #1922
Think the compiler throws if you have no fileproviders. You might have to hack it a bit. More specifically we don't watch for files in Release builds which is usually what exhausts file descriptors.

[2018-10-26 16:58] javiercn commented on #1922
@pranavkm would it be a problem if we just add a bogus one instead? The callstack looks pretty descriptive to me.

[2018-10-26 17:19] pranavkm commented on #1922
Adding a `CompositeFileProvider` that contains a single `NullFileProvider` might not throw. Highlighting the relevant pieces

* https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Razor/Internal/DefaultRazorViewEngineFileProviderAccessor.cs#L21-L24
* https://github.com/aspnet/Mvc/blob/release/2.2/src/Microsoft.AspNetCore.Mvc.Razor/Internal/RazorViewCompilerProvider.cs#L53-L

[2018-10-26 17:57] javiercn commented on #1922
https://github.com/aspnet/Identity/commit/95bc2518486554be18191211e70a2ac8e8765ed3

[2018-10-26 17:57] #1922 closed

[2018-10-26 22:20] dpedrelli commented on #1987
@blowdart

I have a solution, with five, basic projects.

[ExtendIdentityTest.zip](https://github.com/aspnet/Identity/files/2521090/ExtendIdentityTest.zip)

DefaultCore2.0 was created with the Core 2.0 template and includes the default Identity.

DefaultCore2.1 was created with the Core 2.1 template and includes the default Identity.

ExtendedCore2.0 was created with the Core 2.0 template and incl

[2018-10-28 03:19] HaoK commented on #2020
You should be able to test users by just calling Generate and Validate right away, see if any of the users fail when doing that...

[code]

Otherwise if i were to guess what's going on, maybe the security stamp for those users has changed after the token was generated, that would cause the tokens to be invalid.

[2018-10-28 15:51] chrisckc commented on #1635
I noticed this behaviour the other day when testing failed login attempts. happens with or without the scaffolded files added.

I just found this issue, not sure why it's been open since Feb and now being pushed back to 3.0.0 as it's a one-liner change.

Either add the following line to the LoginModel constructor inside Login.cshtml.cs
[code]
Then remove the "ExternalLogins =" line in the OnGetAsy

[2018-10-28 15:56] chrisckc commented on #1636
may as well sort this one at the same time:
https://github.com/aspnet/Identity/issues/1635

[2018-10-29 16:07] Ponant commented on #1988
Thanks

[2018-10-29 18:02] javiercn opened #2033 "Support for ApiAuth using Identity Server"
Our goal is to leverage Identity Server to provide a simplified story for providing authentication and authorization for APIs. Our focus is on:

* Simplified setup of Identity Server with an API on the same app.
* Simplified setup of Identity Server with a SPA on the same app.
* Simplified setup through configuration and smart defaults.
* Simplified setup using Identity as the account store.
* Sim

[2018-10-29 21:43] HaoK opened #2034 "Block enabling 2fa if cookie policy not accepted"
Not accepting the cookie policy prevents temp cookies from being used which interrupts 2fa flows like displaying recovery codes (which is an issue during registration).

The fix for 2.2 is to block the ability to enable 2fa when cookie consent is not given.

[2018-10-29 21:50] aspnet-hello opened #2036 "Test failure: CheckPasswordSignInReturnsLockedOutWhenLockedOut"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=585272&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC Eilon

[2018-10-29 21:50] aspnet-hello commented on #2036
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-29 21:50] aspnet-hello opened #2037 "Test failure: PasswordSignInFailsWithWrongPassword"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=585272&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC Eilon

[2018-10-29 21:50] aspnet-hello commented on #2037
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-29 21:51] aspnet-hello commented on #1913
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585272&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) on master at 1:50:55 PM:
- CanRequireConfirmedPhoneNumberForPasswordSignIn
- CanRequireConfirmedEmailForPasswordSignIn

[2018-10-29 21:51] aspnet-hello commented on #2036
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585272&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) on master at 1:50:55 PM:
- PasswordSignInReturnsLockedOutWhenLockedOut

[2018-10-29 21:51] aspnet-hello commented on #2037
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585270&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) on master at 1:50:55 PM:
- PasswordSignInFailsWithWrongPassword

[2018-10-30 00:01] aspnet-hello commented on #2036
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585268&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master at 1:50:55 PM:
- PasswordSignInReturnsLockedOutWhenLockedOut
- CheckPasswordSignInReturnsLockedOutWhenLockedOut

[2018-10-30 00:01] aspnet-hello commented on #1913
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585268&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master at 1:50:55 PM:
- CanRequireConfirmedPhoneNumberForPasswordSignIn
- CanRequireConfirmedEmailForPasswordSignIn

[2018-10-30 00:01] aspnet-hello commented on #2037
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585268&buildTypeId=XPlat_Windows_Win2008r2_Universe) on master at 1:50:55 PM:
- PasswordSignInFailsWithWrongPassword

[2018-10-30 02:32] RainingNight commented on #2033
any new?

[2018-10-30 20:54] Eilon commented on #2037
@HaoK please investigate.

[2018-10-30 20:55] Eilon commented on #2036
@HaoK please investigate.

[2018-10-30 21:09] Eilon commented on #2034
Do we need another bug opened to track the 3.0 work where we want to see if we can just make this all work?

cc @ajcvickers

[2018-10-30 21:47] HaoK commented on #2036
Weird this isn't failing for me locally in master, but its definitely failing on all ci builds right now, @ajcvickers  has anything changed in EF recently?  The submodules updated before these tests started failing were:

[code]

[2018-10-30 22:53] HaoK commented on #2036
Okay so something has regressed that has caused the logging mocks to fail @BrennanConroy has something changed in logging recently?

This mock logger code hasn't changed since 1.0 probably, but it appears to no longer get called from a log warning:

[code]

[2018-10-30 22:56] HaoK commented on #2037
Dupe of https://github.com/aspnet/Identity/issues/2036, keeping open to prevent bot spam,

[2018-10-30 22:56] pakrym commented on #2036
We started using structs as TState in ILogger.Log() and `logger.Setup(x => x.Log(It.IsAny<LogLevel>(), It.IsAny<EventId>(), It.IsAny<object>(),` doesn't get invoked when `T` is struct.

I've fixed this for kestrel:
https://github.com/aspnet/KestrelHttpServer/pull/3066

[2018-10-30 22:58] ajcvickers commented on #2036
@pakrym Isn't this a breaking change?

[2018-10-30 23:02] pakrym commented on #2036
In what way?

[2018-10-30 23:12] HaoK commented on #2036
@ajcvickers are you ok if I just remove this mocking entirely?  There is limited value in verifying these log messages, we already have tests verifying that the proper results are being returned, and we are only checking it in 5 tests anyways

[2018-10-30 23:15] pakrym commented on #2036
There is a great alternative to mocking - `LoggedTest` base class that not only provider TestSink with the list of all messages logged but also forwards them to xunit test output.

For example this is how kestrel asserts log messages:
https://github.com/aspnet/KestrelHttpServer/blob/d29e410b035a3fe7db0d4625ee37cd6cb76e40d3/test/Kestrel.Transport.FunctionalTests/RequestTests.cs#L684

[2018-10-30 23:16] ajcvickers commented on #2036
@HaoK I'm fine with that. I was just concerned the production code consuming logs might be assuming that TState is not a struct and breaking in the same way. If that's not a worry, then no problem.

[2018-10-30 23:29] pakrym commented on #2036
It's somewhat possible, but it was the entire purpose of having TState was to be able to pass structs without boxing. Seems like an safe enough change for 3.0 milestone.

cc @Eilon

[2018-10-30 23:56] ajcvickers commented on #2036
Oh, if this if for 3.0 then no problem at all. :-)

[2018-10-31 00:52] aspnet-hello commented on #2036
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585675&buildTypeId=XPlat_Windows_Win8_Universe) on master at 3:03:03 PM:
- CheckPasswordSignInReturnsLockedOutWhenLockedOut
- PasswordSignInReturnsLockedOutWhenLockedOut

[2018-10-31 00:52] aspnet-hello commented on #1913
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585675&buildTypeId=XPlat_Windows_Win8_Universe) on master at 3:03:03 PM:
- CanRequireConfirmedEmailForPasswordSignIn
- CanRequireConfirmedPhoneNumberForPasswordSignIn

[2018-10-31 00:52] aspnet-hello commented on #2037
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=585675&buildTypeId=XPlat_Windows_Win8_Universe) on master at 3:03:03 PM:
- PasswordSignInFailsWithWrongPassword

[2018-10-31 08:36] qqliweng opened #2042 "Question: can return an IIdentityBuilder interface instead of IdentityBuilder class?"
i want to use my ApplicationIdentityBuilder class than inherit from  IdentityBuilder class
when use   services.AddIdentity<TUser,TRole>() it will never return ApplicationIdentityBuilder
because in server.AddIdentity<TUser,TRole>() will return this
![source_code](https://user-images.githubusercontent.com/3477336/47772626-3f929e00-dd22-11e8-942e-42d3d67d28c7.png)
in order to use my ApplicationIdenti

[2018-10-31 08:44] qqliweng commented on #2042
can return a IIdentityBuilder from services.AddIdentity<TUser,TRole>()  not IdentityBuilder directly?

[2018-10-31 08:53] borgdylan opened #2043 "Question: Migrating from the old pre-core ASP.NET Identity to ASP.NET Identity Core"
What are the changes needed to the database schema for one to move an application from the old ASP.NET Identity? Are these documented anywhere?

[2018-10-31 12:58] blowdart commented on #2043
EF should generate a migration for you. Is this not happening?

[2018-10-31 12:59] blowdart commented on #2042
As you can see from the method definitions the answer is no.

[2018-10-31 15:57] borgdylan commented on #2043
This would entail an EF6 to EF Core migration. Also, I have extended ASP.NET Identity. I cannot rely on automated migrations.

[2018-10-31 16:09] ajcvickers commented on #2043
@blowdart Don't think this will work, at least without some manipulation of things.

@HaoK @divega To we have guidance on this?

[2018-10-31 16:53] HaoK commented on #2043
https://github.com/aspnet/Identity/tree/master/src/AspNetCoreCompat is a good starting point to try

[2018-10-31 23:09] mkArtakMSFT commented on #1960
@javiercn , please either add retries or whatever is necessary to reduce the chance of happening this again.

[2018-10-31 23:56] javiercn commented on #1960
Yes, I will do so once I handle other build issues

[2018-11-01 02:13] #2042 closed

[2018-11-01 14:36] pranavkm opened #2046 "Re-enable Identity tests on net461"

[2018-11-01 17:16] HaoK commented on #1942
This behavior sounds expected to me if you have two requests trying to create the user, we aren't locking so they both check that the user name isn't taken and they both try to SaveChanges, and its the UserNameIndex unique constraint that is causing one of the SaveChanges to fail when both requests are trying to commit the update...

@ajcvickers does this seem reasonable behavior to you?

[2018-11-01 19:16] blowdart opened #2048 "Discussion for API authentication and Identity Server"
Some of you may have noticed that the [Identity Server](https://identityserver.io/) integration is now in the [master branch](https://github.com/aspnet/Identity/tree/master/src/ApiAuth.IS) along with a [sample](https://github.com/aspnet/Identity/tree/master/samples/ApiAuthSample) on how it all hangs together.

This issue is meant to centralize feedback as much as possible, so let's first discuss w

[2018-11-01 19:20] blowdart commented on #2033
Merged in https://github.com/aspnet/Identity/pull/2047

Discussion in https://github.com/aspnet/Identity/issues/2048

[2018-11-01 19:20] #2033 closed

[2018-11-01 19:29] HaoK commented on #2037
Fixed by https://github.com/aspnet/Identity/commit/1fde1cc0616f6972ac18540529ac840968853631

[2018-11-01 19:29] #2037 closed

[2018-11-01 19:29] HaoK commented on #2036
Was fixed by https://github.com/aspnet/Identity/commit/1fde1cc0616f6972ac18540529ac840968853631

[2018-11-01 19:29] #2036 closed

[2018-11-01 21:45] macux commented on #1824
Appreciate this is closed but I'm struggling to see the best option for getting around this, seems there are three choices:

1. Override all the views we don't want - seems hacky (there are 28 of them) and prone to potentially serious issues if new views are added in future Identity upgrades that would need to be overridden to exclude them
2. Do something with a PageApplicationModelConvention (wou

[2018-11-01 22:19] #1266 closed

[2018-11-01 22:19] javiercn commented on #1266
We removed the code

[2018-11-01 22:20] javiercn commented on #1456
We removed the code

[2018-11-01 22:20] #1456 closed

[2018-11-01 22:32] javiercn commented on #1699
Haven't seen this in a long time, so closing.

[2018-11-01 22:32] #1699 closed

[2018-11-01 23:20] ycrumeyrolle opened #2051 "[Question] Passwords should not be of type String ?"
My security team escalated to me that the `PasswordHasher` is vulnerable to heap inspection, as the password is of type `String`.
It should be instead a byte array / span of bytes cleared at the end of the process, as it is done by any cryptographic operation in corefx. CC @bartonjs.
Same problem with any password related types (`IPasswordValidator`, and maybe also the `IUserPasswordStore`)

[2018-11-01 23:29] blowdart commented on #2051
So .. yes but ...

When the passwords are delivered over an HTTP request they're strings. You can pretend to add safety by turning them into a byte array, but it doesn't add anything, they've been strings already, now you have them represented in two places. It's the same problem SecureString has, byte arrays are only useful if you control the input mechanism.

So sure, in theory yes, in practice

[2018-11-01 23:29] #2051 closed

[2018-11-02 07:05] LindaLawton commented on #2048
Please do

[2018-11-02 07:56] ycrumeyrolle commented on #2051
But what if I am controlling the input mechanism?
In my case, password is a PIN typed on a randomized virtual keyboard. The http request just has the position on the keyboard, not the value. After decoding the position, I am able to provide a byte array without passing by a string.

[2018-11-02 12:54] blowdart commented on #2051
Then you're way outside what we expect identity to be used for.

[2018-11-02 21:45] javiercn opened #2053 "Fix integrity tags on Identity UI V3"

[2018-11-02 21:48] javiercn commented on #2053
4b1090dd654c5a7ecb1d0a3e1edf22a66171b178

[2018-11-02 21:48] #2053 closed

[2018-11-02 21:51] javiercn commented on #1960
Added retries here https://github.com/aspnet/Identity/pull/2054/files#diff-5d5e5a2c35833245c7dc73bf232673abR172

[2018-11-02 21:51] #1960 closed

[2018-11-03 16:12] maxalmonte14 commented on #640
@umutesen I had the same question so I started searching, this is how I do, I hope it works for you

`UserManager`

[code]

`SignInManager`

[code]

After defining the classes you have to mock them anything you want to use them, that way you can modify any specific behavior the way you want.

[code]

_____

I have to say, this is not my work (at least not 100%), this is a compilation of tips and t

[2018-11-05 11:20] yetanotherchris commented on #1993
I guess the answer is no, so I'm closing

[2018-11-05 11:20] #1993 closed

[2018-11-05 11:46] yetanotherchris opened #2056 "Should IdentityUser be in the EntityFramework namespace?"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.identity.entityframeworkcore.identityuser?view=aspnetcore-1.1

I'm looking through various implementations from the [readme](https://github.com/aspnet/Identity/blob/master/README.md) and I've noticed they all use `IdentityUser ` for their concrete type to pass to `UserManager`, or have had to craft a custom type to be able to have a

[2018-11-05 17:51] blowdart commented on #2056
The purpose of ASP.NET identity was to be a starting point, changing implementations wasn't even on the board, especially as there only was one implementation to begin with. ApplicationUser was a class in the templates folks could edit to their hearts content, laying an interface on top of that, when the only really commonality would be an id (some people don't use emails) was adding complexity fo

[2018-11-06 09:01] yetanotherchris commented on #2056
@blowdart As the library deals with `TUsers` I'd say you can be fairly confident they'll have a first and last name (culture dependent), an email, a username, id, and then other attributes.

The contract of the `UserManager` implies this by the methods, such as the finding one.

But is the advice therefore to use EF with the library? Is that the assumed usage?

[2018-11-06 13:09] blowdart commented on #2056
Believe it or not email address isn't a requirement, even though we assume it. We've had issues about everything keying off email address when some users want phone number as the unique identifier instead (mainly from China).

We assume EF for our stores, those not wanting to use EF we advise to implement the store interfaces.

[2018-11-06 19:47] papyr opened #2057 "AD directory user-groups; can IdentityRole be subclassed to implement Role-Groups or User-Groups"
There is a disconnect with Active Directory, since we don't have support for User Groups in Identity, how can we implement or mirror this functionality inside ASP identity

[2018-11-06 19:48] blowdart opened #2058 "Survey: Your experience using Identity UI and customization"
We're taking a survey about how your experiences using ASP.NET Core Identity, and specifically Identity UI as a package.

Please give us your feedback, and, if you're willing, you might get a phone call to talk about your experiences in detail.

https://microsoft.qualtrics.com/jfe/form/SV_3mTmFYDZAQutZMF

[2018-11-06 20:47] HaoK commented on #2056
Just to clarify things, we did do some work in 2.0 to enable non EF based stores to use our POCOs.

We moved the pocos into a standalone Stores package which also has some base implementations that are not EF specific but tied to our POCO classes:
https://github.com/aspnet/Identity/tree/master/src/Stores

Our EF based stores derive from the store base classes and implement the abstract methods usi

[2018-11-06 22:36] blowdart commented on #2057
If you're using AD we tend to believe AD is the one true source of truth, it's what keeps AD administrators happy. If you use integrated authentication then IsInRole() will work, or you configure ADFS to pass the group membership through in its auth token, and again, IsInRole() will then work.

[2018-11-07 22:08] Cubelaster commented on #1082
Had the same problem. My problem started when I have overriden the IdentityUser to
`public class User : IdentityUser<Guid>`
This prompted the EF to not be able to build and show some wild errors. After finally figuring out that my DbContext needs to be in form of:
`public class NgSchoolsContext : IdentityDbContext<User, IdentityRole<Guid>, Guid>`
(notice the added IdentityRole<Guid> and Guid: why

[2018-11-07 23:16] papyr commented on #2057
What is the object to maintain mirror the goups inside identitfu for user groups.

For roles its clear with `RoleManager/Roles`, but Groups is missing

[2018-11-08 08:47] yetanotherchris commented on #2056
@HaoK and @blowdart I'm writing a user and role manager for Roadkill but wanted to make it more generic - so my intention is write a general user manager as a Razor class library.

Without knowing about a basic `TUser` this isn't really feasible is it? Should I abandon the hope of making it generic and instead focus on a specialised user and role object?

[2018-11-08 10:32] u-abramchuk opened #2059 "AspNet.Identity doesn't respect LowercaseUrls"
Hi,

I have an application base on IdentityServer4 and AspNet.Identity. I use the following configuration to make all URLs lowercase:
[code]
But after the latest update (from Microsoft.AspNetCore.Identity v2.0.1 to v2.1.1) URL pointing to login page '/account/login' started to appear in pascal case like '/Account/Login'.

After some investigation I found that exact place where this string comes fr

[2018-11-08 19:51] aspnet-hello opened #2061 "Test failure: IdentityUI_ScriptTags_SubresourceIntegrityCheck"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=590021&buildTypeId=Releases_21Public_OsxUniverse) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC Eilon

[2018-11-08 19:51] aspnet-hello commented on #2061
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-11-08 19:53] blowdart commented on #2057
If you cast the current identity to a WindowsIdentity, which assumes integrated authentication and NOT ASP.NET Identity, there's a Groups property you can check in your authorization rules.

[2018-11-08 20:07] blowdart commented on #2061
@ryanbrandenburg Seems flakey test - "System.Net.Http.HttpRequestException : An error occurred while sending the request."

[2018-11-08 20:10] blowdart commented on #2056
Honestly I'd abandon all hope here, it's one of the reasons we don't write a user manager, as soon as people customise it's an exercise in frustration

[2018-11-08 20:12] blowdart commented on #2020
It looks like when a key is created it's not getting stored in the Redis cache. Can you try dumping the cache and see what's in it?

[2018-11-08 20:14] blowdart commented on #2016
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-11-08 20:15] blowdart commented on #1946
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-11-08 20:15] #1946 closed

[2018-11-08 20:15] blowdart commented on #1942
We're closing this issue as the behaviour discussed seems to be by design.

[2018-11-08 20:15] #1942 closed

[2018-11-08 20:17] blowdart commented on #1910
We're closing this issue as the behaviour discussed seems to be by design.

[2018-11-08 20:17] #1910 closed

[2018-11-08 20:19] blowdart commented on #1903
Without a repo there's nothing we can do here unfortunately. There is a default context.Principal which is empty and returns false for IsAuthenticated() which would explain why you get a non-null Principal with no claims you expect.

[2018-11-08 20:19] #1903 closed

[2018-11-08 20:19] blowdart commented on #1902
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-11-08 20:19] #1902 closed

[2018-11-08 20:20] #1874 closed

[2018-11-08 22:48] Eilon commented on #2061
@HaoK - can you take a look?

[2018-11-08 23:29] HaoK commented on #2061
@javiercn this looks like the same issue that you fixed in 2.2 https://github.com/aspnet/Identity/pull/2052/files#diff-5d5e5a2c35833245c7dc73bf232673ab

Is the same RetryHandler able to be ported as is to 2.1?

[2018-11-09 01:03] javiercn commented on #2061
I think so

[2018-11-09 08:00] datvm commented on #1414
Hi, anyone could do it with ASP.NET IdentityServer4? I have set it after adding Identity and even after IdentityServer configuration (I also tried before too), and removed the `AddDefaultUI`, but it still redirects me to /account/login. Here is the code:

[code]

[2018-11-09 10:38] tmutton commented on #1815
This works but you will find the Login redirects will not work. To fix this one option is to add a controller called IdentityController with the following action:

[code]

A bit hacky but it works

[2018-11-09 11:16] #2056 closed

[2018-11-09 17:04] kedzior-io commented on #2016
Yeah, sorry about responsiveness and thanks for your time.
Read the document and so what I understand is that to disabled GDPR but still use TempData  I do the following:

[code]

...

[code]
...

[code]

That still won't work.

[2018-11-09 21:54] pranavkm commented on #2046
Spoke with @natemcmaster offline. We plan on converting these projects eventually to `netcoreapp` eventually, so desktop would be out of the picture. Closing to avoid needless work.

[2018-11-09 21:54] #2046 closed

[2018-11-10 07:16] jijiechen opened #2062 "EmailConfirmationToken generated from UserManager does not reflect email address"
The token generated by `UserManager.GenerateEmailConfirmationTokenAsync` does not reflect current email address of the user, and no email address assertion is performed when validating a  confirmation token.

Therefore the user is able to "confirm" his/her updated email address (B) by following a link containing a token generated before the changing is made when the email address was actually (A)

[2018-11-10 07:38] jijiechen commented on #2062
Furthermore, a token is not limited to be used only once, so with the issue, the use will be able to confirm whatever email address during the validity of the first received token.

[2018-11-10 14:19] blowdart commented on #2062
@HaoK can you look at this? No email assertion is true.

[2018-11-10 23:39] MattCotterellNZ opened #2063 "Unable to scaffold when using C# 7.1+ language features"

[2018-11-11 03:35] jparmar7 commented on #789
I am having the same problem as you did.  How did you resolve it?

[2018-11-12 18:54] ajcvickers commented on #1987
@dpedrelli I downloaded and built your solution, applied the migration in "ExtendedCore2.0To2.1" and ran the application. I didn't see any exceptions. What am I missing?

[2018-11-12 19:07] ajcvickers commented on #2043
Here's the guidance we currently have: https://docs.microsoft.com/en-us/aspnet/core/migration/identity?view=aspnetcore-2.1

[2018-11-12 20:20] jparmar7 commented on #1987
I got it working.

Thanks for checking. I switched careers from software development 12 years ago because of a bad back. I am better now and just trying to re-learn everything as it is completely different.

Sent from my iPhone

[2018-11-12 22:39] dpedrelli commented on #1987
@ajcvickers
I should point out, I get an error when I try to register a user or login an existing user.

A database operation failed while processing the request.

SqlException: Invalid object name 'AspNetRoles'.
There are pending model changes for ApplicationDbContext

In Visual Studio, use the Package Manager Console to scaffold a new migration for these changes and apply them to the database:
P

[2018-11-13 09:04] xrkolovos opened #2064 "Create a page in docs to explain how we can localize Identity in general"
Create a page in docs to explain how we can localize Identity in general

1. Errors from identity system
2. Identity UI

[2018-11-13 10:05] LindaLawton commented on #2020
@blowdart  I am in the process of getting access to the cluster so i can see this information.   How soon after i see the error do you need me to dump the cache?

Just got another intersting error from my logging
[code]

[2018-11-13 12:18] blankenbush opened #2065 "Spelling error DeletePersonalData.cshtml.cs"
The word "deleteing" is wrong.  It should be "deleting" on line: 111; DeletePersonalData.cshtml.cs.

Also found in comment on line 183; SqlStoreTestBase.cs

![capture](https://user-images.githubusercontent.com/187785/48412982-33401500-e714-11e8-903b-6e2fcc8e0a6a.PNG)

[2018-11-13 13:35] blowdart commented on #2020
As that's identity server I have no insight as it's not us

[2018-11-13 13:36] brockallen commented on #2020
That looks more like custom code in IdentityServer.

[2018-11-13 13:42] LindaLawton commented on #2020
@brockallen if you are following the thread.  I have created a CustomDataProtectorTokenProvider which is a pure copy of [DataProtectionTokenProvider.cs](https://github.com/aspnet/Identity/blob/c7276ce2f76312ddd7fccad6e399da96b9f6fae1/src/Identity/DataProtectionTokenProvider.cs) simply adding some logging since the default version does not contain any logging.

There is no custom code in this.  Its

[2018-11-13 16:23] ajcvickers commented on #1987
@dpedrelli Using the solution that you uploaded, what to I need to do to see the error you are seeing?

[2018-11-13 17:52] blowdart commented on #2065
Would you like to go for a pull request here? :)

[2018-11-13 18:12] dpedrelli commented on #1987
@ajcvickers
1) Apply the ApplicationDbContext migration for project ExtendedCore2.0To2.1
Update-Database -Context ApplicationDbContext -Project ExtendedCore2.0To2.1 -StartupProject ExtendedCore2.0To2.1
It will create the Identity tables, with the name mappings that I specified.

2) Run project ExtendedCore2.0To2.1

3) Register a user.

It creates the user in the appropriate table, but it produces

[2018-11-13 19:46] blankenbush commented on #2065
https://github.com/aspnet/Identity/pull/2066

[2018-11-14 09:51] umutesen commented on #640
@maxalmonte14 Thanks for the code snippet! 👍

here is how I ended up doing:

Controller:
[code]

Test:

[code]

Then you can assert like this:
`            _mockUserManager.Verify(s => s.FindByNameAsync("username"), Times.Once);
`

[2018-11-14 12:15] layinka commented on #1952
I have checked this, i think it might have something to do with cookies in private mode.
I checked through chrome debugger, and all the cookies that are set in the normal mode are not set in the private mode.

No session cookie, no Cookie consent cookie etc

[2018-11-14 15:18] wijnsema opened #2067 "BypassTowFactor in SignInManager:ExternalLoginSignInAsync should default to False"
As requested by @brockallen in #850 it is now possible to bypass 2FA in case of an external login.

I'm sure there are good reasons to bypass 2FA, however the current implementation is far to general:

- All providers all treated equal (some providers might not even support 2FA at all)
- All users all treated equal (users can have 2FA enabled or not)

This bypass of 2FA really needs more refinemen

[2018-11-14 17:33] #2065 closed

[2018-11-14 17:43] vankampenp opened #2068 "Consider HasClaimAsync or GetClaimAsync"
It is easy to get a claim from a logged in user, but not from a user that is not (yet) logged in.

When generating a JWT token for my API, I want to check if the user for which the credentials are provided has the right claim to allow access to the API. Without such a check the token is provided, but than using the token fails because the access policy checks the claim.

When using Roles you can u

[2018-11-14 20:32] blowdart commented on #2057
As I said this only works on WindowsIdentity. So it's limited to integrated authentication/AD. This does **not** mix with ASP.Identity. So configure your app for Windows authentication, then cast the identity to a WindowsIdentity and then you get a Groups property on the cast instance.

[2018-11-14 21:00] papyr commented on #2057
@blowdart i am glad you acknowledge that mismatch between their web and windows server platforms, any chance you can bubble that up to MS so they include this.

[2018-11-14 21:00] #2057 closed

[2018-11-15 15:38] vankampenp commented on #2067
Exactly, that is how I implemented it in my UI customization

[2018-11-15 15:58] kedzior-io commented on #2016
Ok that seems my bad. The above configuration works.
While editing template I didn't add
` @await Html.PartialAsync("_StatusMessage", Model.StatusMessage)`
to the particular view I was testing.

[2018-11-15 15:58] #2016 closed

[2018-11-15 23:50] enumjorge opened #2071 "Make the presence of Identity UI more explicit in the starter template or documentation"
I just started looking into authentication for Razor pages, and I found the experience with the starter template to be very confusing. I saw that there's already a couple of GitHub issues related to this, but I think the experience still needs some work. [This post on StackOverflow](https://stackoverflow.com/questions/50802781/where-are-the-login-and-register-pages-in-an-aspnet-core-scafolded-app)