[2017-01-04 02:28] brockallen commented on #1069
So having opened this, I'm interested in discussing if it makes sense to open those base APIs as protected, or if you feel like that opens up the internals to too much access. I was able to successfully work around this, but many things from the base are not protected. So, more of a discussion point.

[2017-01-04 09:00] anhlee24 commented on #1068
@HaoK its working! Thank you.

[2017-01-04 19:01] #1068 closed

[2017-01-04 19:02] brockallen commented on #1069
The project I am on is still on 1.0. I'm looking at the 1.1 code -- looks like many of these were opened up, so perhaps this issue/discussion is moot.

[2017-01-04 21:31] HaoK commented on #1052
d4d105d5b529c8e1701010cb49bc115f0aa23ed0

[2017-01-04 21:31] #1052 closed

[2017-01-05 05:02] Vaylandt commented on #1065
@HaoK ,It's clear :)
And what solution do you suggest?
I need a token provider and check through Identity simultaneously.

[2017-01-05 06:25] VahidN commented on #1065
@Vaylandt
It's cached (or will be treated as a singleton) because there is only one scope at that point. You need to create and dispose a new scope this way:
[code]

[2017-01-05 14:23] PaulRReynolds opened #1070 "Question: Identity options from Configuration"
I'm interested in configuring Identity outside of my source code to make life easier once my application reaches production, however I'm having some problems applying configuration to IdentityOptions in Startup.cs.
I've tried the pattern:
[code]
using the following JSON config file:

[code]
but the settings don't seem to be applied. I've only had any success by indexing Configuration directly whic

[2017-01-05 15:33] VahidN commented on #1070
First define 2 new classes:
[code]
Then to access `SiteSettings` from the ConfigureServices method, we should `BuildServiceProvider` first:
[code]

**Tip**
An standard TimeSpan value should be defined this way:
[code]

[2017-01-05 15:44] stephtr opened #1071 "Several fields too long by 1 character for MySQL using InnoDB and UTF8"
InnoDB has a limit of 767 bytes for indexed fields, which is equal to 255 characters with UTF8.
Most string fields generated by IdentityDbContext have a length of 255, but some have 256:
aspnetroles.Name, .NormalizedName
aspnetusers.Email, .UserName, .NormalizedEmail, .NormalizedUserName
Therefore `dotnet ef database update` fails with `Specified key was too long; max key length is 767 bytes`.

[2017-01-05 15:53] PaulRReynolds commented on #1070
Thanks Vahid,

I think the question was not so much accessing the IConfigurationRoot in ConfigureServices, and more how to avoid explicitly transferring every setting manually into the AddIdentity Action.

I've used your suggestion of `Configuration.Bind(options)`  as follows in `ConfigureServices`:

[code]

This works nicely and transfers my settings from my JSON config file:

[code]

[2017-01-05 16:13] #1070 closed

[2017-01-05 17:39] HaoK commented on #1069
Yeah this was addressed in 1.1 hopefully, (not specifically the GetXyzStore methods as those are just helpers for casts/throwing, but some others were made protected virtual).  Feel free to reopen this if there's anything else that you need access to.

[2017-01-05 17:39] #1069 closed

[2017-01-05 17:40] #1062 closed

[2017-01-05 17:41] #1032 closed

[2017-01-05 17:44] HaoK commented on #978
Nothing we can do unless we get a repro for this, if this still is happening, feel free to file a new issue with the repro, but in the https://github.com/aspnet/Security repo

[2017-01-05 17:44] #978 closed

[2017-01-05 17:45] HaoK commented on #1034
Would something like just making the CancellationToken property public and settable be sufficient for your @gravity00?  It would default to RequestAborted in general (if available), but it would use whatever the property was set to in general.

[2017-01-05 17:50] HaoK commented on #1029
I'm not a huge fan of making UpdatePasswordHash protected, I'd rather just add a public SetPasswordAsync method which effectively does the same thing but in a cleaner way.

Since AddPassword/RemovePassword exist already, its not like we are exposing anything new...

Thoughts @blowdart @divega

[2017-01-05 19:48] brunocasarotti opened #1072 "Authentication with Google provider and also asking for scope to use Google Calendar API"
Hello, I followed [this link](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/index) to implement external login in my application in .net core identity. Now I want to also get access to user's calendar with write and read permissions. How do I do that? Do I need to have 2 client secret and client id in order to do that? I don't want my users to have to authorize my app

[2017-01-05 23:50] #1072 closed

[2017-01-05 23:55] divega commented on #1029
@HaoK as long as the new method is invoked in all the places where currently we are using `UpdatePasswordHash` I think it should address @pushist1y's scenario. Agree?

[2017-01-06 00:11] divega commented on #1070
@PaulRReynolds @VahidN this usage of Configuration.Bind() in the lambda is pretty cool (cc @HaoK @glennc).

FWIW if your projects includes the `Microsoft.Extensions.Options.ConfigurationExtensions package you should be able to use a `Configure<T>` overload that takes an `IConfiguration` directly which I believe looks slightly simpler and should do the same thing, e.g. something like this:

[code]

[2017-01-06 00:15] divega commented on #1071
Related discussion: https://github.com/aspnet/Identity/issues/1040#issuecomment-267720205

[2017-01-06 00:22] HaoK commented on #1070
This actually already what `services.Configure<IdentityOptions>(IConfiguration)` does (its sugar for bind).  The error in your first attempt @PaulRReynolds was that you needed to get to the right section, Configuration.GetSection("IdentityOptions").  That's really all the SiteSettings poco is doing here

[2017-01-06 00:37] stephtr commented on #1071
That would fix the issue.
I don't know about the present implementation, but maybe it would be useful to deliver a short term fix (decrease these field sizes by 1 char) until #1040 is ready.

[2017-01-06 06:08] Vaylandt commented on #1065
@VahidN , thank you very much!!! RESOLVED!

[2017-01-06 11:02] pushist1y commented on #1029
@divega it's ok as long as it does not forcefully invoke database update - so you can make multiple changes to a user and batch them into single update.

[2017-01-06 11:27] gravity00 commented on #1034
This is far from the choice I would made but I understand that, with the current implementation, using a token parameter would be a major rework for you guys, so it is better than nothing.

Still, I must admit the usage is kinda quirky, specially when using DI:

[code]

[2017-01-06 11:46] gravity00 commented on #1071
@stephtr reducing the sizes of columns would be a breaking change for people already using the framework. I had the same problems you faced using other databases and my solution was to change the columns lengths when overriding the `OnModelCreating`.

Example:

[code]

[2017-01-06 12:05] gravity00 commented on #1040
@divega I also believe the best solution would not to define the lengths and let the developer set them because this is not just a problem of setting a bigger length than the supported, but also by not setting them at all.

As an example, the size for `ConcurrencyStamp` fields are not set but, by experience, I can tell you this will be a problem for Oracle databases because the provider will assig

[2017-01-06 12:29] stephtr commented on #1071
It wouldn't break that much because the length gets fixed while creating the migration.
I edited the migration, but modifying `OnModelCreating` that way is better.
Just for completeness, the configuration necessary for running on InnoDB with UTF8:
[code]
Thanks for the help!

[2017-01-06 12:29] #1071 closed

[2017-01-07 01:49] CamiloTerevinto opened #1073 "InvalidOperationException when adding multiple items to context"
Coming from  [StackOverflow](http://stackoverflow.com/questions/41516742/invalidoperationexception-when-adding-multiple-items-to-context)
Decided to post it here as it is somewhat similar to #914.
The difference is that it is only one Task running that creates the entire object to add to the context.

I have a weird problem with Entity Framework that I've never seen before, nor I could find any in

[2017-01-07 04:39] Vaylandt commented on #1065
@VahidN , one question, how fast this work?
Wouldn't it be reasonable to move JWT Provider in a regular controller?

[2017-01-07 05:54] VahidN commented on #1065
A regular controller does this scope creation and disposing behind the scene. It's part of a request life cycle. That's why you won't see that `cached` behavior at there.

[2017-01-07 07:18] Vaylandt commented on #1065
@VahidN , thank You for the answers!

[2017-01-07 07:30] VahidN commented on #1073
You are using at least 2 different contexts with different life times here.
- How did you register your dbcontext at startup?
- What is its life time (Scoped, Transient)?
- How did you instantiate your context in the above sample, how did you get it? Does it come from the dependency inject or from the `new DbContext` directly?

[2017-01-07 12:23] CamiloTerevinto commented on #1073
@VahidN

1. It's registered as

    services.AddDbContext<MyContext>(options => options.UseSqlServer(Configuration.GetConnectionString("MyContext")));

2. I'd guess that's defined by AddDbContext

3. I get the Context from DI and pass it to the function that generates the data:

     public MyContrroller(MyContext ctx) //plus many other services

    public static void AddData(this MyContext conte

[2017-01-07 15:22] VahidN commented on #1073
Are you still using EF Core 1.0? EF Core 1.0 sets FKs by conventions when adding a key and it doesn't work for a PK in a one-to-many relationship. It's fixed in v1.1: https://github.com/aspnet/EntityFramework/issues/6490

[2017-01-07 16:14] CamiloTerevinto commented on #1073
@VahidN  Using 1.1, according to NuGet the latest available. The models were scaffolded with the Scaffold-DbContext command

[2017-01-07 17:04] CamiloTerevinto commented on #1073
Oh shit, I realized what's wrong by looking at #6490 as @VahidN linked.

The problem was the scaffold incorrectly generated this:

     entity.Property(e => e.AnotherClassId).ValueGeneratedNever();

Removing the line for both entities fixed the issue.

[2017-01-07 17:04] CamiloTerevinto commented on #1073
Oh shit, I realized what's wrong by looking at #6490 as @VahidN linked.

The problem was the scaffold incorrectly generated this:

     entity.Property(e => e.AnotherClassId).ValueGeneratedNever();

Removing the line for both entities fixed the issue.

[2017-01-07 17:04] #1073 closed

[2017-01-08 03:48] grifin85 opened #1074 "Why PasswordHasher is generic class?"
Hi
Could you please explain me, why PasswordHasher is generic? How I saw the source  code, we do not using it in code.
For example method HashPassword we pass parameter user, but we don using this user in code.

[2017-01-08 04:25] HaoK commented on #1074
Its to enable extensibility for password hashers that want to hash based on data in TUser itself, like a salt

[2017-01-08 04:25] #1074 closed

[2017-01-09 23:41] HaoK commented on #650
Okay so I'll add LastLoginDate/CreationDate and we'll skip LastActivity for now

[2017-01-09 23:42] HaoK commented on #650
Might be easier to rename it to LastSignIn to match our APIs, and also this would make it easy to understand as it would map to the core SignInAsync API which the top level methods eventually call on successful sign in (Password/TwoFactor/External etc)...

[2017-01-10 05:47] VahidN commented on #650
There are 2 implementations about this subject here
- https://github.com/aspnet/Identity/pull/1022
- https://github.com/aspnet/Identity/issues/935

What do you think about them?

[2017-01-10 21:32] HaoK commented on #650
I think we are going to continue to leave the lastActivity/online users as an extensibility scenario.  Last sign in and created date are pretty limited in scope and will be fairly straightforward to implement.

[2017-01-11 20:12] Ponant opened #1075 "Confusing PasswordSignInAsync in the Login method UserName instead of Email"
My goal is to set upon registration a UserName which is distinct from the Email. Eventually, I would prefer to have only unique Emails which I can configure in Startup. So I tested the code by changing the Register method to:
`var user = new ApplicationUser { UserName = "newuser", Email = model.Email };
`
where `"newuser"` has been substituted for `model.Email`.
However, while the user gets create

[2017-01-11 20:15] #1065 closed

[2017-01-11 20:22] HaoK commented on #651
@blowdart we should clean this up and use this issue to track spliting Identity Core from SignInManager + Auth

[2017-01-12 12:05] bengi83 commented on #788
Great, you resolved it!
Just...booomf...and it was all fixed!
Shame that people like me get here only to find out that you couldn't be bothered to write your resolution.
Thanks.

[2017-01-12 16:13] divega commented on #788
@bengi83 from what I can see I believe this issue was closed because we asked for additional information and after several days we did not get a response.

If you think you are experiencing the same issue, please post your repro code (startup.cs was requested but a complete repro project would be even better).

Also consider just creating a new issue and providing the full repro information.

[2017-01-13 00:51] mach37 commented on #266
Absolutely needed - shame on ASP TEAM for leaving this out. From the ASP home page, the goals are to support large enterprises and saas apps, but if you leave this out... you're inherently leaving this implementation open to flaws and more vulnerabilities, thus ignoring security

+1 for @mbeckenbach @papyr for calling this out.

[2017-01-13 01:59] brockallen commented on #266
I just implemented this recently, and it was not that difficult. It did require a good understanding of the inner working of the framework. I agree it should be better integrated/supported by the ASP.NET Identity framework itself, though.

[2017-01-13 02:01] luisgizirian commented on #266
Any chance you can share your efforts Brock?

On Thu, Jan 12, 2017 at 10:59 PM Brock Allen <notifications@github.com>
wrote:

[2017-01-13 02:03] brockallen commented on #266
iirc, here's the short list of what i did: delete the 2 username and email indexes the built-in stuff creates. add a tenant column to the user table. add new indexes for username/tenant and email/tenant. add a tenant to the store and change the IQueryable users property to filter on tenant.

[2017-01-13 02:05] brockallen commented on #266
also, in the store overload create and set the tenant on the user.

[2017-01-13 02:08] brockallen commented on #266
the most painful part of all of this is the base DbContext creating the 2 indexes on username and email and EF not providing an easy way for a derived DbContext to undo base class OnModelCreating stuff. better support would be in EF to delete an index on the ModelBuilder, or in ASP.NET Identity to have virtuals for pieces of this so you can override some of them rather than having to replace all o

[2017-01-13 02:09] luisgizirian commented on #266
Thanks! We have an Identity v2 customized for Multitenancy based on a
GitHub Jskimmer library. As we couldn't understand how to make it work on
v3 we have a bigger migration on hold. We'll investigate on your guidance.
On Thu, Jan 12, 2017 at 11:03 PM Brock Allen <notifications@github.com>
wrote:

[2017-01-13 02:10] brockallen commented on #266
feel free to fund me working on an OSS version of it for AspId3 :)

[2017-01-13 02:11] luisgizirian commented on #266
Sure thing!
On Thu, Jan 12, 2017 at 11:10 PM Brock Allen <notifications@github.com>
wrote:

[2017-01-13 03:39] mach37 commented on #266
While it seems fun and just, the fact is for the average developer or small businesses/devs this is an absolute pain. 3rd party options/flavors as OSS are great; however, **a basic default implementation MUST BE part of the templating option during the creating of the initial project.**

This is not trivial for the average developer and the version that @luisgizirian is referring to - is over 2 yr

[2017-01-13 07:56] tugberkugurlu commented on #266
Putting each tenant's identity data into a different database would accomplish that unless I am missing something. That way you can pretty much use all of the identity implementations out there within your multi tenant app.

To my experience, it's mostly a good idea to keep the database(s) single tenant whereas you keep the application level multi-tenant. This increases the operational costs (e.g.

[2017-01-13 13:10] luisgizirian commented on #266
We're using AspNet Identity v.2 with Mutitenancy support using @jskimming library (https://github.com/JSkimming/AspNet.Identity.EntityFramework.Multitenant).

Following on @tugberkugurlu comments, on the DB side of our evolution plan, we'd like to use an Azure Elastic Pool for SQL. Here, the sharding key would be the TenantId.

Without Identity's v3 supporting multitenancy the way we do with v2, w

[2017-01-13 13:44] tugberkugurlu commented on #266
AFAIK, [you can put multiple databases into the pool with Azure Elastic Pool](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-pool), no?

[2017-01-13 13:52] luisgizirian commented on #266
Sorry @tugberkugurlu, can't see your point (feel free to write me directly). Lets please not deviate the discussion from the main issue here. :)

[2017-01-13 15:58] JSkimming commented on #266
@luisgizirian I've been somewhat negating that [library I created](https://github.com/JSkimming/AspNet.Identity.EntityFramework.Multitenant), I don't have the time and I don't use it myself (the project for which it was written never took off).

I'd happily review any pull requests should someone submit one, also happy to consider freelance work 😃

[2017-01-13 21:45] HaoK commented on #651
If we do this we should revisit whether we want to keep CancellationToken at all

[2017-01-13 22:14] weedkiller commented on #266
#https://github.com/aspnet/Identity/issues/569

So many others here have this need!

[2017-01-13 23:11] brockallen commented on #651
If you do this, then some of the APIs on SignInManager should be moved to UserManager (the ones that do lockout/brute-force prevention are the first ones that comes to mind).

[2017-01-15 15:47] rtpHarry opened #1079 "You can easily get into a mess with social logins"
Social logins doesn't seem very well supported. I've enabled the facebook logins and its working ok but the way it works feels like it's going to confuse a lot of customers.

  1. The register page doesn't show the active external services.
  1. The log in page automatically registers a new account if you "log in" with a new external service. There is no way to prevent this.
  1. The is no way to

[2017-01-15 15:53] rtpHarry commented on #1044
Its not just being idle that causes the app to be recycle. I had problems like this when a site was on a budget host. It was using too much ram and causing the app to be recycled.

[2017-01-15 16:08] rtpHarry opened #1080 "ExternalLoginConfirmation breaks if the username is already taken"
Repro:

  1. Login with a new Facebook account
  1. In the "ExternalLoginConfirmation" page enter an email that already exists on the system
  1. Press Register

The page reloads, the validation error is displayed saying "User name 'blah@example.com' is already taken." and all of the `ViewData` is now lost including the ReturnUrl of the form and the LoginProvider used in the h2 and intro paragraph

[2017-01-16 14:37] tugberkugurlu commented on #266
@luisgizirian I don't mean to deviate from the issue. I talking about something related which you originally brought up.

The point I am trying to make is that storing the identity data in one database for all of your tenants is a not a good idea at all. There are so many things that can go wrong if you architecture your system in this way. See https://ayende.com/blog/3497/multi-tenancy-the-physic

[2017-01-17 20:48] HaoK commented on #1023
57a25d080d1d0337b3b2dd8a2906f74a6e94370c

[2017-01-17 20:48] #1023 closed

[2017-01-17 20:53] HaoK commented on #1060
7fbc36c56684769d3535cf1dfd1cddf88fb26343

[2017-01-17 20:53] #1060 closed

[2017-01-17 20:54] HaoK commented on #1061
b64a32f089f06c8c403f8bb9ee085a580c9555e2

[2017-01-17 20:54] #1061 closed

[2017-01-18 07:12] somsekhar opened #1081 "Build error with sample project(1.0.0-preview2-1-003180)"
Getting following error while building project

Severity	Code	Description	Project	File	Line	Suppression State
Error		The project is configured to use .NET Core SDK version 1.0.0-preview2-1-003180 which is not installed or cannot be found under the path C:\Program Files (x86)\dotnet. These components are required to build and run this project. Download the version of .NET Core SDK specified in glob

[2017-01-18 10:14] wc-matteo commented on #1044
@blowdart is the powershell script required to persist the keys? Aren't the keys stored by default in `C:\Users\<user>\AppData\Local\ASP.NET\DataProtection-Keys`?

[2017-01-18 10:25] Gillardo commented on #859
Any news on all this?  Has it all been done so i can change the tokenLifeTime for just the EmailConfirmation token??

[2017-01-18 12:18] MaklaCof opened #1082 "Microsoft.AspNetCore.Identity.EntityFrameworkCore.UserStore violates the constraint of type parameter 'TUser'."
I am trying to use Id as int (Identity). My version is 1.1
![devenv_2017-01-18_13-09-21](https://cloud.githubusercontent.com/assets/1589573/22063499/6a4c2da4-dd7f-11e6-9a8b-c673a0c1da99.png)

I override all Identity classes:
[code]
and my context is:
[code]
and startup.cs:
[code]

I found few web-pages describing this error and all suggest upgrading to 1.1.
Exceptions is raised when debugging in l

[2017-01-18 15:55] VahidN commented on #1082
When you are customizing ASP.NET Core Identity, you should not use `AddEntityFrameworkStores` anymore. Because it will override all of your previous settings and customization to default Identity services.
First you need to  create new services with the following signatures:
[code]
Then redirect built-in services to your custom services:
[code]
now introduce your custom services:
[code]

[2017-01-18 17:45] blowdart commented on #1044
Not under IIS without a profile loaded. It does that for IIS Express, or IIS where the profile is loaded. Without the profile there is no user. So yes, it's required in some configurations.

[2017-01-18 17:48] wc-matteo commented on #1044
Right, that's what I was thinking. Thanks for the confirmation.

[2017-01-18 17:54] HaoK commented on #1082
In 2.0 AddEntityFrameworkStores was improved to make things easier, the TKey argument was removed and the DbContext is sufficient to 'do the right thing'.  You don't need to actually register the ApplicationXyz services unless you are consuming those services in your own code.

But AddUser/RoleStore is needed at a minimum for this to work.

[2017-01-18 18:12] #1036 closed

[2017-01-18 18:17] HaoK commented on #947
Dupe of https://github.com/aspnet/Identity/issues/765

[2017-01-18 18:17] #947 closed

[2017-01-18 18:19] HaoK commented on #1058
Should also address https://github.com/aspnet/Identity/issues/554 as part of exposing a new allow sign in API

[2017-01-18 18:23] HaoK commented on #1033
Dupe of https://github.com/aspnet/Security/issues/1044

[2017-01-18 18:23] #1033 closed

[2017-01-18 18:26] HaoK commented on #882
closing as linked bug has been closed as well

[2017-01-18 18:26] #882 closed

[2017-01-18 18:28] HaoK commented on #976
This is basically the same ask as https://github.com/aspnet/Identity/issues/628, using that issue to track this

[2017-01-18 18:28] #976 closed

[2017-01-18 18:32] HaoK commented on #1075
Use FindByEmail to get the user and use the username to login.

[2017-01-18 18:36] #954 closed

[2017-01-18 20:17] blowdart commented on #1081
Do you actually have  .NET Core SDK version 1.0.0-preview2-1-003180 installed? Which branch did you clone the repo from?

This looks like https://github.com/dotnet/cli/issues/5172

[2017-01-18 20:19] blowdart commented on #1080
Moved to https://github.com/aspnet/Templates/issues/793

[2017-01-18 20:19] #1080 closed

[2017-01-18 20:21] blowdart commented on #1079
This is more of a template issue.

But ..

What do you mean by "active external services"? Do you mean if you're logged into facebook? We have no way of knowing that.
External logins are linked to an internal user. Adding a new service is supported in the templates, it's linking to an existing login, so you have to be logged in already to do it, otherwise how would we know who to associate it with

[2017-01-18 20:21] #1075 closed

[2017-01-18 22:45] rtpHarry commented on #1079
Thanks for your reply. Yeah by "active external services" I mean social login options.

It seems like you cannot register with just a social login but you can. You just have to do it from the Log In screen not the Register screen.

If you are logged out of everything, and don't have that Facebook account registered on the system and then visit the Log In page and click the Facebook button it will

[2017-01-19 21:05] baseless commented on #1082
See the same issue with Guid keys. It starts once you extend beyond TUser, TRole, TKey.

[2017-01-20 06:20] dejx commented on #146
One way of achieving this could be if you create your own instance of `IServiceCollection `.

Below is the example code

[code]

Then you're able to do whatever you desire
[code]

[2017-01-20 17:00] MaklaCof commented on #1082
Thank you very much.

[2017-01-20 17:00] #1082 closed

[2017-01-21 04:20] master-still commented on #956
@RoySalisbury
Exactly same case ! Any Suggestions / Guidance ?

![identity_workaround](https://cloud.githubusercontent.com/assets/2611892/22171885/d4ae149e-dfc0-11e6-8529-51ea36be6d7a.png)

I must be missing something for my UserStore .

[2017-01-21 04:28] RoySalisbury commented on #956
I'll post what I did to extend this tomorrow (don't have access to my code right now). Don't let me forget if you don't get a reply tomorrow.

Roy

[2017-01-21 04:30] master-still commented on #1082
@HaoK
Can you please provide guidance ?

![identity_workaround](https://cloud.githubusercontent.com/assets/2611892/22171941/6066392a-dfc2-11e6-9150-e6e4ec440b22.png)

I Must be missing something for my UserStore !

[2017-01-21 05:33] VahidN commented on #1082
It's fixed in v1.1: https://github.com/aspnet/Identity/issues/988

[2017-01-21 07:14] master-still commented on #1082
@VahidN Thank you

[2017-01-21 17:26] MaklaCof commented on #1082
If it helps, this is my UserStore:
[code]
And this is my AppRole:
[code]

[2017-01-21 18:29] Ponant commented on #1079
@blowdart I remember to have seen this tuto from MVA with Scott Hanselman [saying her around 20 min](https://mva.microsoft.com/en-US/training-courses/intermediate-aspnet-core-10-16964?l=cM8fKLmJD_4006218965) that it `"s***ks"` that he could not login with his FB email because the account was already created in-app. The underlying missing feature, which I think  is similar to wait @rtpHarry mention

[2017-01-21 21:35] mach37 commented on #266
I also can see @tugberkugurlu point of view, and how the tenant is configured for storage can be a simple option during install during setup. A check box of whether sotred in same tables, different tables or different db's all together

How can we get this issue re-opened.

[2017-01-22 02:23] master-still commented on #1082
@MaklaCof  https://github.com/master-still/test

currently I am having problem while passing my AppRole to Userstore.

[2017-01-22 03:05] master-still commented on #1082
Solved It ! Thank you all.

[2017-01-22 03:23] master-still commented on #956
@RoySalisbury  The issue i mentioned above was solved !  [#988](https://github.com/aspnet/Identity/issues/1082#issuecomment-274238096)

[2017-01-23 22:44] HaoK commented on #1040
2d157783465505bd0d36480ebe2e595543faff34

[2017-01-23 22:44] #1040 closed

[2017-01-24 10:04] MaklaCof opened #1084 "Error with custom Entities when calling UserManager.FindByLoginAsync(info.LoginProvider, info.ProviderKey);"
I am trying to add external login(Google) with OpenIddict. I am following tutorials online and from [this](https://www.packtpub.com/application-development/aspnet-core-and-angular-2) book.
When I call `var user = await UserManager.FindByLoginAsync(info.LoginProvider, info.ProviderKey);` I get error:

I override all Identity classes to use int for key and I have custom Stores defined. I followed an

[2017-01-25 00:26] pranavkm commented on #1081
Running build.cmd should install the SDK for you under %LocalAppData%. As long as you use the same shell to launch VS, (i.e. launch Mvc.sln from the shell) it should pick it up. Alternatively you can install the MSI from
https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/1.0.0-preview2-1-003180/dotnet-dev-win-x64.1.0.0-preview2-1-003180.exe.

[2017-01-25 10:15] VahidN opened #1085 "Change IOptions<> to IOptionsSnapshot<>"
`reloadOnChange` parameter on the `AddJsonFile` method has no effect on the strongly typed configuration `IOptions<>` and only `IConfigurationRoot` is automatically updated whenever the underlying `appsettings.json` file changes. In ASP.NET Core 1.1.0 `IOptionsSnapshot<>` has the same behavior.
[More info](http://andrewlock.net/reloading-strongly-typed-options-in-asp-net-core-1-1-0/  )
ASP.NET Cor

[2017-01-25 10:42] MaklaCof commented on #1084
Solution is to change code in `IdentityDbContext.OnModelCreating` method.
From
[code]
to
[code]
and it works.

[2017-01-25 10:42] #1084 closed

[2017-01-27 06:06] dotnetshadow commented on #859
Yes do you have example code on how to do this?

How do you change the message from simply "Invalid Token" ?

[2017-01-27 06:23] HaoK commented on #859
You should be able to plug in your own instance of a token provider like this: https://github.com/aspnet/Identity/pull/983/files#diff-1f767f1c742b161c6a1650ec072addeeR645

[2017-01-28 07:47] divega commented on #1084
@MaklaCof just to clarify, you are configuring the key of the user login twice. The last configuration will win, so the one that configures `Id` as a key will be ignored. Hence the `Id` property you added to the entity serves no purpose.

[2017-01-28 15:18] MaklaCof commented on #1084
Thanks.

[2017-01-30 19:36] VahidN opened #1086 "Improve email validation"
Currently email validation [is disabled in UserValidator class](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/UserValidator.cs#L94). `new MailAddress` part can be replaced with
[code]
EmailAddressAttribute [is part of the new framework](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.ComponentModel.Annotations/src/System/Com

[2017-01-31 13:48] ChristianHaase commented on #1012
Any updates on this issue? I'm receiving this error when trying to add a role to a user.

     await _userManager.AddToRole(user, "Member")

[2017-01-31 15:51] gmartinezsan commented on #1012
@ChristianHaase Which version are you using of MySql.Data ?

[2017-01-31 19:13] ChristianHaase commented on #1012
I'm not actually using MySql.Data. I'm using SapientGuardian.EntityFrameworkCore.MySql

[2017-01-31 20:29] gmartinezsan commented on #1012
@ChristianHaase ok.. I thought you were using our provider for MySQL. (MySQL.Data,EntityFrameworkCore).
I do not know about SapientGuardian,

[2017-01-31 20:40] ChristianHaase commented on #1012
No of course not. My bad! :)

[2017-01-31 20:49] divega commented on #1012
My bad too. I assumed it was the official MySQL provider. @ChristianHaase based on the information I have seen so far, I recommend you create an issue at https://github.com/SapientGuardian/SapientGuardian.EntityFrameworkCore.MySql/issues.

[2017-01-31 20:57] gmartinezsan commented on #1012
@divega
No problem at all.. I would be happy to help. But in this case I'm afraid I cannot.
@ChristianHaase
Is thery any chance you would like to give it a try to the official MySQL Provider?
Or have you already?

[2017-01-31 21:01] ChristianHaase commented on #1012
Thank you @divega, but I'll just give it a go with the official provider.

@gmartinezsan I just tried it, and now I'm getting the following error on `UserManager.CreateAsync(user, password)`

[2017-01-31 21:06] gmartinezsan commented on #1012
@ChristianHaase is there any chance you can share your project?

[2017-01-31 21:16] ChristianHaase commented on #1012
Sure. Let me create a github repo. Had plans to do so anyways. I'll link to you once done.

[2017-01-31 21:32] ChristianHaase commented on #1012
Here you go https://github.com/ChristianHaase/OurGhostsOfWar

[2017-01-31 22:08] gmartinezsan commented on #1012
@ChristianHaase taking a look now.

[2017-02-01 00:14] gmartinezsan commented on #1012
@ChristianHaase I see you are already using 6.10.0 which is the latest we have. I think this is an already fixed issue. I will double check and let you know what the results are.

[2017-02-01 12:14] RehanSaeed commented on #1085
What is the point of `IOptions<>`? I fully expected the reason for it's existence being the reloading ability. Why was `IOptionsSnapshot<>` created instead and what use is `IOptions<>` anymore? Why not just register the options type directly?

[2017-02-02 04:25] GitClickOk opened #1088 "Can I use Identity Core, Identity 3.x, etc.. on .Net 4.6+?"
I need use new Identity 3 features in a non Core project... I even created a [SO question](http://stackoverflow.com/q/41994082/48729). Where can I find more info about this?

[2017-02-02 15:53] brockallen opened #1089 "Assumption that User Id queries are case-insensitive"
I have a customer using Postgress for their DB with ASP.NET Identity and they're running into issues with the case sensitive queries against the user Id column. Is there anything that can be fixed/changed in the DbContext model builder that sets that column as case sensitive at the EF level in a DB provider agnostic way?

[2017-02-02 19:39] natemcmaster opened #1090 "Upgrade to VS 2017"

[2017-02-03 01:56] #1090 closed

[2017-02-03 21:49] ChristianHaase commented on #1012
Hello @gmartinezsan Any updates? :)

[2017-02-03 22:03] gmartinezsan commented on #1012
@ChristianHaase I tried it and the issue is not related to the Identity provider or EF Core.. the issue is that we do not have a complete support for Async methods which is the one used in the Identity provider. I created a bug so you can follow up the fix. I will work on this next week and share the fix.
I'm very sorry for the inconveniente.

[2017-02-03 22:38] ChristianHaase commented on #1012
@gmartinezsan That sounds perfect. Thank you for your help. 👍

[2017-02-03 22:51] JunTaoLuo opened #1092 "Reenable Interop4.5 sample"
As part of migrations to VS 2017, I temporarily disabled building the app which targets 4.5.1. Once we can build this sample again, we need to add it back to the solution and start building it again. https://github.com/aspnet/Identity/blob/a5ca720ff1bb361bdc4e4cb92652be26eae4b1ee/samples/Interop4.5/Interop4.5.csproj.aspnet45

[2017-02-04 00:27] ChristianHaase commented on #1012
@gmartinezsan Quick question. Why do you only have asynchronous operations, and not both? Why not give the developer the option to choose themselves? Might be a stupid question.

[2017-02-05 04:23] #1088 closed

[2017-02-07 05:39] HeMinzhang opened #1094 "Suggest,If I want specify the name of each table in the database by using EF?"
Identity can't Very good support,If you can provide their own class into the database to add or delete changes, may be better.
I'm sorry I'm poor in English.

[2017-02-07 15:44] naeemsarfraz opened #1095 "User interface for Identity tables"
Are there any plans to release a user interface to manage Identity data in SQL?

I know the web administration tool was retired years ago.

[2017-02-07 17:08] aioubamini commented on #1094
Hi HeMinzhang,
Thank you for your message. in this sample project i want to customize the asp.net identity system and use in own project with custom tables and custom data types.
good luck.

[2017-02-07 17:32] brockallen commented on #1095
I had built IdentityManager for AspId2: https://github.com/IdentityManager

A community member has forked it and made it work with AspId3: https://github.com/IdentityManager/IdentityManager/issues/244

[2017-02-08 02:17] Eilon commented on #1046
This appears to be a dup of https://github.com/aspnet/Security/issues/1044, which is already fixed in the patch branch, so I'm closing this issue.

[2017-02-08 02:17] #1046 closed

[2017-02-08 08:09] PaulDeac commented on #833
Hi, is there any guide online on how to use this package ? I'm migrating an MVC 5 (with EF 6) web application to .net core. I've decided not to migrate to entity framework core yet, so i've created a class library project which holds the EF 6 db context and migrations, and referenced that in the main .net core web application. All shine and rozy, but i'm facing problems now migrating the identity.

[2017-02-08 08:41] HaoK commented on #833
If you want to use EF6 with identity core, you will just need to implement the identity core interfaces using EF6, you might be able to reuse most of the store code in the Identity.EntityFrameworkCore package.  The compat package is intended to let you use the old 2.2 schema, with the new EF Core provider.

[2017-02-08 08:47] PaulDeac commented on #833
Thanks. @HaoK

I'll try that.

[2017-02-08 09:07] #1095 closed

[2017-02-09 02:21] sebastienros opened #1097 "Add a Password Option to set the number of unique chars"
I think it's a pretty common idea that forcing different types of chars (numeric, special, upper, ...) is not more secure than the chars just being non-repetitive and use a long password. We can already set the minimum length for a password, but I would like to also set how many different chars it should be made of.

` PasswordOptions.RequiredUniqueChars`

Obviously it would have to be less than `

[2017-02-09 05:42] VahidN commented on #1097
You can always customize the built-in password validator and replace it completely:
[code]
Then replace the built-in one:
[code]

[2017-02-09 16:09] sebastienros commented on #1097
@VahidN you are totally right, right after creating this issue I was thinking there had to be a way to provide custom logic, thanks for the sample.

Is it replacing completely the current implementation based on `PasswordOptions` or just adding another layer of validation?

So I assume having a special password option is just about how often would people need it, and probably this one was already

[2017-02-09 16:59] VahidN commented on #1097
It still calls the `base.ValidateAsync` of the original PasswordValidator. So the current validation mechanism will be applied first and then adds another layer of validation.

[2017-02-09 17:54] HaoK commented on #1097
Yeah its up to the custom validator to decide if it wants to chain or not, I don't remember if @blowdart came up with the original list of password options or not, but I'll leave it to him to make the call on whether its a candidate for support by default.

There is also a related work item in the backlog to consider tweaking the validators to be a list that are all run, instead of a single one th

[2017-02-09 20:42] bchavez opened #1098 "Protected CreatePrincipal Method for UserClaimsPrincipalFactory"
Hello wonderful people,

I'd like to hook the creation of [`new ClaimsPrincipal(id)` in `UserClaimsPrincipalFactory:CreateAsync` at this location](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/UserClaimsPrincipalFactory.cs#L116) and return my own `MyAppClaimsPrincipal(id)` implementation.

The following is what I'd like to change in **UserClaimsPrincipalFactory.cs**

[2017-02-09 21:01] HaoK commented on #1098
Seems fine, feel free to submit a PR and we'll take a look

[2017-02-10 15:52] divega commented on #1045
Reopening because I think we actually wanted to have this in the backlog.

[2017-02-11 02:15] #1097 closed

[2017-02-13 16:53] fabich opened #1102 "Migrating User Data from Identity 2.2.1 to 3.x"
Hey all
Is it possible to migrate data from Identity 2.2.1 to 3.x?

I found the following discussion, not sure what current status is.
https://github.com/aspnet/EntityFramework/issues/2167

Migrating only the passwords would be enough for now if complete migration doesn't work.

Thanks for your help

[2017-02-13 21:45] danroth27 commented on #1097
No milestone?

[2017-02-13 21:50] HaoK commented on #1097
Think of the poor release notes!!

[2017-02-13 21:50] HaoK commented on #1097
Good catch btw @danroth27 :)

[2017-02-13 21:52] HaoK commented on #1102
I believe it should just work, @divega any known issues with migrating EF6 dbs to EFCore?

[2017-02-13 21:57] HaoK commented on #1102
Also see https://github.com/aspnet/Identity/issues/682 for more details:

Specifically the flow that should work is:

Run Enable-Migrations/ensure that an initial migration is created (for your existing 2.2.1 schema)
Install AspNet.Identity.CoreCompat and include the compat namespace to rebase the Identity POCO
Run migrations using EF6 to update schema to V3

Then Identity 3 should be able to read

[2017-02-14 12:15] fabich commented on #1102
@HaoK does that imply that I have to use the old PasswordHasher?
services.Configure<PasswordHasherOptions>(options => options.CompatibilityMode = PasswordHasherCompatibilityMode.IdentityV2);

[2017-02-15 08:11] nhdmalik commented on #642
@HaoK I am facing issue when i add my custom password hasher using DI as follow, it never invoked. What I missed in asp.net core project?

`services.AddScoped<IPasswordHasher<ApplicationUser>, SQLPasswordHasher>();`

and here is my SQLPasswordHasher class:

` public class SQLPasswordHasher : PasswordHasher<ApplicationUser>
    {
        public override string HashPassword(ApplicationUser user, str

[2017-02-15 08:27] HaoK commented on #642
Can you include all of your startup?

[2017-02-15 08:41] mcgiany opened #1103 "DbUpdateConcurrencyException when using sequences"
Hi,

i'm using Identity with sequences instead of auto increment ID. The problem is, that i randomly gets DbUpdateConcurrencyException when i try to create User.

This is my sequence:
[code]

This is how i bind sequences to Indetity tables:

[code]

Stack trace:
[code]

I can see in the database, that the sequence is increased by 1, everytime i call UserStore.CreateAsync, but still getting the exc

[2017-02-15 15:32] armitagemderivitec opened #1104 "Bug in UserClaimsPrincipalFactory"
I  believe there is an issue with the following class:

[Identity/src/Microsoft.AspNetCore.Identity/UserClaimsPrincipalFactory.cs](https://github.com/aspnet/Identity/blob/master/src/Microsoft.AspNetCore.Identity/UserClaimsPrincipalFactory.cs)

Code:
`                var roles = await UserManager.GetRolesAsync(user);
                foreach (var **roleName** in roles)
                {

[2017-02-15 20:09] blowdart commented on #1102
@fabich No, the new one understands both formats, and will even go as far as rehashing to the more secure hash algorithm upon login.

[2017-02-15 20:11] blowdart commented on #1094
Could you try using your native language, which I assume is Chinese from your location, and we'll find a native speaker here to figure out what you're asking?

[2017-02-15 20:15] blowdart commented on #1085
Dupe of https://github.com/aspnet/Options/issues/163

[2017-02-15 20:15] #1085 closed

[2017-02-15 20:15] #1081 closed

[2017-02-15 20:20] JunTaoLuo commented on #1094
@HeMinzhang  可以用中文描述或者解釋一下嗎？

[2017-02-15 20:23] HaoK commented on #1104
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/RoleManager.cs#L318

FindByName will normalize the name, so the casing of the role name can be different and it will be normaliezd.

[2017-02-15 20:23] #1104 closed

[2017-02-16 04:02] sylvaincaillot opened #1106 "Login and NormalizedUserName"
When registering a new user (test@here.com), I get the following saved into the [dbo].[AspNetUsers] table:

|       Email              |  NormalizedEmail    | NormalizedUserName   |     UserName       |
| ------------------ | --------------------- | ------------------------- | ------------------ |
|  test@here.com   |  TEST@HERE.COM   |    TEST@HERE.COM      |  test@here.com   |

However, I though

[2017-02-16 14:31] gmartinezsan commented on #1012
@ChristianHaase hi, not a stupid question at all, the requirement for the async method comes from the implementation of the Identity provider. So we either need to find a way to override that, which I see a bit difficult, or we add some async methods on our side so the Identity provider works normally.
Hope this explains it better.

[2017-02-16 19:29] divega commented on #1103
@mcgiany could you share the code of `UsersController.CreatePost()`?

[2017-02-16 20:08] divega commented on #1103
@mcgiany Assuming `CreatePost()` results in a simple call to `UserStore.CreateAsync()` this could be some kind of race condition, but it is hard to say where.

My first suspicion is a similar failure we observed in our tests long time ago while running against SQL Server LocalDB. We were then able to identify root cause as an issue in LocalDB itself (i.e. it reproduced without EF Core in the pictu

[2017-02-16 20:48] divega commented on #1089
cc @roji to answer if there is anything Npgsql specific you can add to the model to make the queries case insensitive.

I am curious though why the `Id` column could cause this problem. Are the entity types or the model customized to use a different mechanism to generate the key values from the default? In the default implementation `Guid.NewGuid().ToString()` is assigned on construction of a new

[2017-02-16 20:54] brockallen commented on #1089
Yes, the Id is provided by a migration tool, IIRC.

[2017-02-17 03:57] HeMinzhang commented on #1094
So sorry.我想提一个建议，不知道是否可以添加，通过自己指定数据库里面每个表中字段的名字，来运行asp.net Identity.而不是asp.net Identity自己生成数据库中的数据结构。.asp.net Identity提供，登录cookie保护，验证这些功能。

[2017-02-17 07:38] mcgiany commented on #1103
Thanks @divega for your reaction.
This is code of CreatePost method:

[code]
Answer to other questions:
1. I'm using latest SQL Server 2016
2. I could. I will tell you if it helps, or if the issue still exists. It can take some time, cuz the issue happened randomly.
3. This is not an option for me, because the table will be used in replication. Thats why i use hi/lo sequence with 1 increment.

[2017-02-17 09:09] mcgiany commented on #1103
OK, i changed the model and use sequences as default value. For this time, i think its enough. If i have some problem with this setup, i will reopen the issue.
Thanks again

[2017-02-17 09:09] #1103 closed

[2017-02-17 22:14] dotnetshadow opened #1108 "ASP.NET cookie not persisted when Remember Me set using IISExpress Chrome"
While developing a couple of ASP.NET Core websites, when I try to **debug locally using IISExpress**
If I try to login using the **Chrome browser** with the **Remember Me** option, I **cannot login and no cookie** is generated. But if I use kestrel browser instead everything is fine.

**Setup**
Visual Studio 2015 Update 3
Running ASP.NET Core Mvc 1.1.0
Windows 10 x64
Chrome 56.0.2924.87 (64-bit)

[2017-02-18 14:21] roji commented on #1089
Is it possible to get more details here? Is the problem with the column *identifier* (i.e. `Id`) or with its contents?

Regarding identifiers, in PostgreSQL, all unquoted identifiers are always folded to lowercase. The Npgsql EF Core emits SQL code that quotes all identifiers, making all matches case-sensitive - there's no way to change either PostgreSQL's behavior or Npgsql's. Did someone create

[2017-02-18 14:38] brockallen commented on #1089
The contents itself. The data type used in .NET is a GUID, but then it's converted to a string before using in the DB. This is not a PG issue, IMO, it's an ASP.NET Identity in its string mapping for guids as the PK.

[2017-02-18 14:58] roji commented on #1089
So if I understand correctly, the `Id` column was populated with uppercase GUID strings (by whom exactly?) but is being queried with lowercase? This seems like it would be a bug in ASP.NET identity which has to be fixed there (i.e. use same case when populating and querying) rather than trying to fix this at the database level...

I'm guessing there's no issue with SqlServer because a case-insensi

[2017-02-19 14:14] brockallen commented on #1089
ASP.NET Identity is being used to provide a new identity management system for an old, existing one. Data is being imported, so the Id is being set explicitly as part of a data migration/import from the old system. Then yes, during normal processing, queries are being done and somewhere, somehow the GUID Id being used is cased differently when a query is being done. Possibly due to ToString() on t

[2017-02-19 14:39] roji commented on #1089
OK, thanks for the added info.

To recapitulate, the correct way to fix this is to ensure the same case is used everywhere - if I understand correctly this is more of a client issue. If a workaround is absolutely necessary at the PostgreSQL/Npgsql/EF Core level instead, it *may* be possible to redefine the column holding the data as `citext` instead of `text`.

[2017-02-19 14:50] brockallen commented on #1089
Yes, IMO, this was never a PG issue except for the fact that it's case sensitive whereas SqlServer is not (by default).

[2017-02-19 23:27] vankampenp commented on #1079
It is  a template issue. I ran into it today and was able to fix it.

The template has in the AccountController:
[code]
If ExternalLoginSignInAsync fails, this starts to create an account, which fails because the account is already there.
I changed the last part to:
[code]

[2017-02-21 14:15] icom99 opened #1109 "How can I use ASP.NET Identity in n-tier solution"
I’m working on a solution which consists of layered mvc application using entity framework. I want to use AspNet Identity to manage user accounts and logins. Which has its own model and dbcontext classes embedded in it and all of these are inside  MVC project.
I want to be able to manage database interactions through data layer which is entity framework and DB context. And the ApplicationUser is r

[2017-02-22 15:57] stephen-cernota opened #1110 "LockoutEnd - DateTimeOffset - Invalid Cast Exception - MySQL - Pomelo Connector"
https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/197

[2017-02-22 17:04] #1110 closed

[2017-02-22 20:04] blowdart commented on #1109
Like you would anything else, shove a facade in your service which wraps the methods you want to call.

The only fun part is creating the auth cookies, but that can be done in code once you have the facade return a ClaimsPrincipal;

[code]

Signout is much the same, except, well, you call SignOut, without needing to pass a principal.

[2017-02-22 20:08] blowdart commented on #1106
The normalized pieces are for fast lookup, you're confusing email and username, they're different. User Name is the identification field for logging in. Email is there for password resets, password confirmations in our templates.

If you want a display name then you'll need to add it to your model for identity.

[2017-02-22 20:09] blowdart commented on #1108
We can't reproduce this. Could you put fiddler in the middle, and save a trace of the login for us, so we can examine the request and response?

[2017-02-22 20:14] blowdart commented on #837
@HaoK can you try this? The security stamp might change when emails or usernames change, in which case all previous tokens should be invalidated.

[2017-02-22 20:18] blowdart commented on #836
We should look at a token protection service for this sort of thing, which could in turn apply to other pieces like username or email, but we wouldn't provide an implementation by default, because who would know where to keep keys.

I'm thinking Protect/Unprotect as the verbage.

[2017-02-22 21:05] HaoK commented on #837
So I verified that if the email is changed via SetEmail after the token is generated, it is invalidated as you expect, the token is using the security stamp for its secret, so anything that affects the stamp (changing password, user name, email etc, would invalidate the token), hence I don't think we need the old email in the payload as its already taken into account by the stamp

[2017-02-22 21:05] #837 closed

[2017-02-22 21:06] HaoK commented on #837
See 119eb3fa684dca448ee9156dd7981b1445a15aa0

[2017-02-23 05:35] gordon-matt opened #1112 "Need a way to remove/override the default RoleValidator"
I am creating a multi-tenancy app and I need a way to override the default `RoleValidator` so that names are unique per tenant.. Example:

TenantId | Role
--- | ---
1 | Admin
1 | Tenant1CustomRole1
1 | Tenant1CustomRole2
2 | Tenant2CustomRole1
etc

I had this working very nicely in MVC5 and am in the middle of migrating to Core. I already created a custom `RoleValidator` which is essentially the s

[2017-02-23 05:42] #1106 closed

[2017-02-23 05:55] HaoK commented on #1112
Add your role validator before you call AddIdentity and that should prevent the default one from being registered.

[2017-02-23 13:41] gordon-matt commented on #1112
@HaoK Not very obvious, but that did the trick. Much appreciated, thanks!

[2017-02-24 19:15] brianharwell opened #1113 "Security issue with UserManager.CreateAsync"
The latest code in the repository for the UserManager.CreateAsync method is as follows...

[code]

This is a security issue because the UpdatePasswordHash method occurs before CreateAsync. This allows for the changing of an existing user's password.

It also doesn't make sense to update a password before creating a user.

My guess is this is a way to validate the password and if that is the case a

[2017-02-24 19:29] HaoK commented on #1113
UpdatePasswordHash is really user.PasswordHash = hash it doesn't commit anything to the database, its just updating the user entity, Create is what actually commits to the database.

I'm not sure I understand the issue around changing user's password, the user entity should not exist so updating it should have no effect until its Created

[2017-02-24 19:48] brianharwell commented on #1113
No, on line #2307 there is this...

````await passwordStore.SetPasswordHashAsync(user, hash, CancellationToken);````

That causes the password store (ie. database) to set the password.

The issue is with creating a new user when an existing user exists. For example, username is unique and if "JohnDoe" is already registered and another user attempts to register with the same username the `passwordS

[2017-02-24 20:05] HaoK commented on #1113
So I guess the scenario you describe might exists if you get an existing user from the database, and pass it into Create.  But you shouldn't do that and is almost certainly an error in the app to call Create this way.

And even so, the default EF UserStore implementation should throw when you try to reinsert an existing user.  It would fail in SaveChanges since it would generate an insert from the

[2017-02-24 20:19] dcga commented on #581
Is there a chance you can add an overload the extension method **AddIdentity** so that you can write:
[code]
This of course, while you convince yourselves that it is better to roll with Claims only and eliminate the redundancy of Roles.

[2017-02-24 20:32] brianharwell commented on #1113
Yeah it will fail but at that point the password has already been updated.

In EF this *might* be ok if you don't do SaveChanges until the very end but I am not using EF. I am implementing my own store to use stored procedures. I am not "getting" a user from the database.

The password store should *not* be called before a user is created.

[2017-02-24 20:37] HaoK commented on #1113
There's a implicit contract of Unit of Work between the manager and stores.  Changes should not be persisted outside of Update/Create/Delete.  You will likely run into all sorts of issues if this is not true for your store.  That is a fundamental assumption for how the UserManager works.  You will run into this issue in many other places.

[2017-02-24 20:54] brianharwell commented on #1113
EF has an explicit UOW pattern unless the developer intentionally circumvents the convention and uses a stored procedure. This works well because EF (by design) directs developers to make changes and then commit those changes. Identity has no parallel structure.

The methods on UserManager do not promote a UOW pattern nor do they signal that a UOW pattern should be followed.

This issue can resolv

[2017-02-24 21:02] HaoK commented on #1113
It might be easy to fix this method, but the pattern for many methods is to use store methods to manipulate the state of the user, validation is done as a final step before Update is called.  If your store atomically updates the user on each call, there's no way to roll back the changes.

See the common Update method, which does validation, updates two normalized fields, then 'saves'.
https://gith

[2017-02-24 21:37] brianharwell commented on #1113
Thanks for the example.

The example has issues as well.

The call to `UpdateNormalizedUserNameAsync` makes a call to `Store.SetNormalizedUserNameAsync`
The call to `UpdateNormalizedEmailAsync` makes a call to `store.SetNormalizedEmailAsync`

I was under the impression that a call to a Store would be used to persist changes especially void methods. There are many calls to validators such as the `U

[2017-02-24 21:51] HaoK commented on #1113
Yeah this is the intended design the managers are responsible for calling various store methods which basically map to get/set on properties, eventually they will call one of the methods that are supposed to commit (Update/Create/Delete).

The key takeaway is that stores must not persist in any other method as that would likely leave the data in a inconsistent state like you are seeing.  Any store

[2017-02-24 22:13] brianharwell commented on #1113
Ok, well I really wish I knew that because I would not have chosen this framework. I selected Identity because I didn't want to reinvent security and I thought choosing Identity would be a very secure choice. I also liked the fact that I could implement custom stores because my company does not allow EF; I can only use stored procedures. I thought the core framework was solid and that by implement

[2017-02-24 22:35] HaoK commented on #1113
Yeah we probably should call out the UOW pattern in the documentation for custom stores a bit more clearly (cc @Rick-Anderson @blowdart )  Maybe your transaction scope idea will work...

[2017-02-25 02:12] Rick-Anderson commented on #1113
`UserManager` uses the UOW pattern which has implications on how you store data. Data stores must not persist in any other method as that could leave the data in a inconsistent state.

Need to flesh out *any other method* - do you mean in the scope of the work you can only call one method that stores data (like `UpdateNormalizedUserNameAsync` or `UpdateNormalizedEmailAsync` ?

[2017-02-25 03:09] brianharwell commented on #1113
If the UOW pattern is used then perhaps there should be an **obvious** method that is called to persist the changes.

It would be helpful if there was a SaveChanges or something similar that clearly points out the UOW pattern is used. The UOW pattern states that a single method is used to save all of the units of work and the current code base violates that because an array of methods commit the u

[2017-02-25 06:22] HaoK commented on #1113
Yeah we shouldn't call it the UOW pattern since its not exactly that, best to just be explicit and say something to the effect of: "Stores should only persist changes in the CreateAsync/UpdateAsync/DeleteAsync methods of Store, all other store methods should only manipulate the entity without persisting the changes."

[2017-02-26 00:44] brianharwell commented on #1113
I think that's a good idea

[2017-02-26 05:19] dotnetshadow commented on #1108
Hi there,

Very strange it looks like the latest Chrome updates have fixed this issue as of Version 56.0.2924.87. Prior to this I was having issues on multiple machines

[2017-02-26 09:47] Rick-Anderson commented on #1113
Where can I add that info other than [Intro to Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity)?

[2017-02-26 20:55] AnthonyOSX commented on #1094
I assume you want to modify table names and/or column names? If so, you can accomplish this in your class that inherits from IdentityDbContext by overriding the following method like so:

[code]

[2017-02-26 20:59] AnthonyOSX opened #1115 "Abide by the routing "LowercaseUrls" setting"
Setting the following in the ConfigureServices method does not effect the url generated by Identity framework (ex. redirecting to the login page due to failing basic route authentication will generate something like "/Account/Login" instead of the desired "/account/login"):

[code]

[2017-02-27 03:19] HeMinzhang commented on #1094
@blowdart @JunTaoLuo @AnthonyOSX   Thanks a million.

[2017-02-27 08:36] singlewind commented on #1115
Identity is using hard coded value "/Account/Login" as default if you are not specified. And it doesn't need to bring MVC features in and should be generic itself. It is always easier just give the value you want like

[code]

[2017-02-27 17:17] brianharwell commented on #1113
I think it should be added there and I think it should be a warning in every page that references any of the store methods. If you can add something to the intellisense comments I think that would be good too.

[2017-02-27 18:30] AnthonyOSX commented on #1115
Didn't even know about these settings, thanks!

[2017-02-27 18:30] #1115 closed

[2017-02-27 18:56] HaoK commented on #1113
This should really go in the custom store documentation, it's not really important for people who are consuming only the public identity APIs, but its very important custom store implementers to understand.

[2017-02-27 19:01] HaoK commented on #1108
Strange, feel free to reopen if you hit it again and can capture a trace

[2017-02-27 19:01] #1108 closed

[2017-02-27 19:01] #1112 closed

[2017-02-27 19:05] #1044 closed

[2017-02-27 19:07] #1094 closed

[2017-02-27 19:09] HaoK commented on #911
Dupe of https://github.com/aspnet/Identity/issues/1065 which shows how you can use the UserManager at startup which is the same

[2017-02-27 19:09] #911 closed

[2017-02-27 19:36] Yavari opened #1116 "redirectUrl is http when it should be https"
The following code should create the redirectUrl as https but creates it as http if the site is accessed through http:
[code]
I am using Nginx  as a reverse proxy that proxies external https calls to http://localhost:5000. The site does therefor think that it is accessed through http even though it is accessed externally with https.

The *Challenge* method seems to convert the https redirectUrl  t

[2017-02-27 20:37] Rick-Anderson commented on #1113
@HaoK where is that?

[2017-02-28 08:37] artem-leonov opened #1117 "AuthorizeAttribute and RoleStore.IsInRole method use separate methods to check role"
AuthorizeAttribute checks role equality by name, but IsInRole method of UserStore checks role equality by normalized name. Example:
[code]

I think there need some unification

[2017-02-28 20:16] Rick-Anderson commented on #1113
@HaoK  Custom store docs are being scheduled. See https://github.com/aspnet/Docs/issues/1162

[2017-03-01 13:13] NickThissen opened #1118 "HasMaxLength does not affect generated migration code for classes that derive from Identity models"
I am using Identity in combination with a MySQL database using either [SapientGuardian](https://github.com/SapientGuardian/SapientGuardian.EntityFrameworkCore.MySql) or [Pomelo](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql) MySQL providers.
I am trying to limit the length of string keys and indices so that they remain below 767 bytes as required for my database server.

I a

[2017-03-01 13:42] VahidN commented on #1118
Put `base.OnModelCreating(builder);` at the top of the method. It will override all of your settings to default ones if you put it at the end.

[2017-03-01 13:59] NickThissen commented on #1118
Aha.... That works, thanks! I don't understand though why it was already working for IdentityUserToken and IdentityUserLogin?

[2017-03-01 13:59] #1118 closed

[2017-03-01 14:57] jrgunawan commented on #859
@HaoK Could you please give code sample on how to change the `TokenLifeSpan` utilizing the change on `TokenProviderDescriptor`?

My understanding when looking at https://github.com/aspnet/Identity/pull/983/files#diff-1f767f1c742b161c6a1650ec072addeeR645 , I need to create an instance of `DataProtectorTokenProvider` (because I want to reuse `IUserTwoFactorTokenProvider` implementation), modify its

[2017-03-01 15:22] raffaeu commented on #780
Hi guys, using EF 1.1.0 and Identity Server 4 I got this working using the following steps:

Change the ApplicationDbContext or whatever you used to reflect this one:

[code]

Create a Custom ApplicationUser class

[code]
Create a Custom ApplicationRole class

[code]

Change your ASP.NET Core Startup according:
[code]

Drop the existing DB because the schema can't be migrated from PK String to PK

[2017-03-01 18:38] blowdart commented on #1117
@HaoK Oh dear. This needs changing, but it may break a bunch of folks

[2017-03-01 18:39] #1109 closed

[2017-03-01 19:05] HaoK commented on #1117
Normalization is an identity concept though today, unless we want to push that concept to Auth?

[2017-03-02 05:42] divega commented on #1117
Curious, wasn't the purpose of normalization just to disallow users or roles to be created that could seem equivalent? Did we make an explicit decision that using it for other comparisons was ok?

[2017-03-02 07:11] HaoK commented on #1117
Yes so for identity we are case insensitive, but the claim we generate for the role is the actual role name (not normalized).  The implementation in AuthZ uses IsInRole on ClaimsIdentity which is case sensitive.  Identity isn't involved on that side of things, we just generate the claim (via our UserClaimsPrincipalFactory), and we use the normalization service for our APIs, hence the difference in

[2017-03-02 07:13] HaoK commented on #1117
This would be the same issue for any of the other things we normalize, like user name, `UserManager.FindByName("WeirdCaPS") will be true, while Authorize("PolicyCheckingNameEqualsWEIRDCAPS") will be false just like the roles check.

Its not that bad though, since they can work around this by not using Roles = and adding a policy that did a case insensitive string equality check on the role claim i

[2017-03-02 07:25] artem-leonov commented on #1117
@HaoK but, as you can see in example, IsInRole method of UserStore is not case insensitive. It expected you pass already normalized role and that is a problem, I think

[2017-03-02 07:31] HaoK commented on #1117
That is by design, identity is not case sensitive with roles name by default, its just like user name, we don't want them to be considered different.

[2017-03-02 07:32] HaoK commented on #1117
What IS case sensitive is ClaimsIdentity.IsInRole https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authorization/Infrastructure/RolesAuthorizationRequirement.cs#L58

[2017-03-02 07:33] HaoK commented on #1117
`Authorize(Roles = "foo")` ends up calling that, identity produces a claimsidentity with that claim, its decoupled from the authorization logic by that point

[2017-03-02 07:40] artem-leonov commented on #1117
@HaoK I guess, it is little strange that I can't create "manager" and "MANAGER" roles in one app, but if I created "manager" role and then try to check that user is having "Manager" role - i will get "false". I believe, it is design lack.

[2017-03-02 07:49] HaoK commented on #1117
Two different systems. you either need to use the same casing, or instead of using the built in Roles parameter, use a policy that has a requirement that checks the Role claim using a case insensitive comparison

[code]

[2017-03-02 07:56] artem-leonov commented on #1117
@HaoK My fault, it was incorrect example. If I create "manager" role and then check user having "manager" role with UserStore - I will get "false" because UserStore.IsInRoleAsync method expect already normalized name. Shouldn't this method expect unnormalized role?

[2017-03-02 09:16] HaoK commented on #1117
Oh that sounds like a bug yes

[2017-03-02 15:33] pettys commented on #659
@HaoK I realize it's an old thread, so if you don't respond, that's fine. Why do you feel it's "a bit weird" to want the ClaimsPrincipal updated after login? I understand from a server perspective there's nothing really to authenticate, but in the context of a SPA, a browser might need information about the claims of the user that just logged in for customizing the UI. Using ASP.NET Identity 1.1.0

[2017-03-02 19:40] erwinwildenburg commented on #1116
I seem to have the same thing...

[2017-03-02 21:14] erwinwildenburg commented on #1116
Found the solution!

Add this to your startup (before app.UseIdentity*):
[code]

Edit /etc/nginx/proxy_params to make it look like this:
[code]

And make your host look like this:
[code]

[2017-03-02 23:15] HaoK commented on #659
The request was either authenticated or not, login will change it so the next request will be authenticated.

Getting the claims for a signed in user is not really identity, that's Authentication mostly.  Usually that's just accessing httpContext.User

[2017-03-03 15:16] pettys commented on #659
Thanks for the quick response. I still don't think wanting convenient access to a just-logged-in-user's claims is weird at all. Regarding httpContext.User, what was surprising to me was that User.Claims was empty right after signInManager.PasswordSignIn **in both** Console.WriteLines below:

[code]

Note that if I perform a log in again when I'm already logged in, **both** Claims collections are p

[2017-03-03 21:16] HaoK commented on #659
You need to mimic what identity does to generate the claims for the user if you want to see them, you can do this via the IUserClaimsPrincipalFactory service that identity uses.

The navigation properties for the user are not populated by default, so I wouldn't rely on user.Claims being consistent as its dependent on what store apis get called by identity.  If you want to get the user.Claims, you

[2017-03-03 21:49] HaoK commented on #1117
Actually I misread what you wrote, the basic idea is that the stores shouldn't have to deal with normalization, the manager will take care of dealing with making sure the names are normalized (or not), but its up to them, this allows the stores to just do simple equality checks.

Feel free to continue the discussion here, but things appear to be working by design here so I will close this issue

[2017-03-03 21:49] #1117 closed

[2017-03-03 21:50] HaoK commented on #1117
Generally you should never access the stores directly, you should always go through the manager APIs

[2017-03-03 22:03] pettys commented on #659
`_userManager.GetClaimsAsync(user)`  -- nice! Wish I'd noticed that when I was wrestling with this issue. Thanks!

[2017-03-04 10:40] Yavari commented on #1116
Thank you. I had followed https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction before and had to add the following to my config file:
[code]
It now looks like
[code]

I did not have to change anything in the startup file so it continues to look like
[code]

Should the documentation be upgraded with this information?

[2017-03-04 10:41] #1116 closed

[2017-03-04 13:13] artem-leonov commented on #1117
@HaoK Ok, thank you

[2017-03-06 20:03] alienlike opened #1120 "Documentation"
Before the ASP.Net Core docs were migrated away from RTD, I seem to recall there being some pretty in-depth content on how to implement Identity. Now I'm looking again and the Identity docs contain mostly point-and-click, integration-oriented material. I'm trying to do a custom implementation for Oracle. Is there anything out there for people like me?

[2017-03-06 23:55] danroth27 opened #1121 "Include an auth_time claim on the set of generated tokens"
We need Identity to provide time at which the user was signed in so that it can be included as an auth_time claim.

[2017-03-07 00:03] HaoK commented on #1121
We should take a look at this as part of https://github.com/aspnet/Identity/issues/650

[2017-03-07 00:03] HaoK commented on #1121
Is this claim expected to only change when an explicit sign in method is called?  Or can we update the time whenever we generate a new set of claims for the user?

[2017-03-07 00:04] HaoK commented on #1121
Basically should this track the user's last login time (LastLoginDate in DB)?  Or should this be meta data that's only valid for a particular cookie/set of claims (generated once via the SignInAsync method)?

[2017-03-07 00:05] HaoK commented on #1121
cc @blowdart

[2017-03-07 00:33] HaoK commented on #651
Due to https://github.com/aspnet/Security/pull/1113, we can remove the dependency on Http by depending directly on the new IAuthenticationService, and removing the default wireup to RequestAborted, we can either eliminate the CancellationToken on the stores entirely, or expose some kind of CancellationToken Source service or property on UserManager

[2017-03-07 00:44] HaoK commented on #651
Actually we can't since the caller needs to still pass in the HttpContext

[2017-03-07 00:45] HaoK commented on #651
But still switching this bug over to track revisiting identity factoring and react to the auth 2.0 changes

[2017-03-07 15:52] Ponant commented on #558
@blowdart , sorry for this question on a old topic but it will be great if you could guide me a bit. If you use `AllowedUserNameCharacters` which is presumably safer, how would you, for instance, go about allowing a user to enter a `UserName ` in ASP.NET Identity in the form `myuser.name` but disallow for dots at the edge of the string (myusername. or .myusername)? I am concerned on both client-si

[2017-03-07 18:49] HaoK commented on #558
You can always write your own derived UserValidator that adds additional validation like excluding dots from the ends of the user name.

[2017-03-07 19:42] Ponant commented on #558
Hi @HaoK , if understand well `UserValidator `is server side and you would do it with regex or linq, right? If so, on the client side you would use `RegularExpression`? cheers

[2017-03-07 20:02] HaoK commented on #558
Up to you, but if you are just trying to block starting with ".", you can simply check for starts/EndsWith

[2017-03-07 20:06] Ponant commented on #558
Yep, I was however unclear on whether UserValidator remains server side only, I think it does.

[2017-03-07 20:09] HaoK commented on #558
Ah yes its server side only

[2017-03-07 20:09] HaoK commented on #558
The client side validation you would need to do in your view (i.e with annotations on your model)

[2017-03-07 20:23] Ponant commented on #558
OK thanks a lot

[2017-03-07 22:22] ycrumeyrolle commented on #1121
According to http://openid.net/specs/openid-connect-core-1_0.html

And according to http://openid.net/specs/openid-provider-authentication-policy-extension-1_0.txt

[2017-03-07 23:26] Singularity222 opened #1122 "Add Optional 'UpdateUser' Parameter to the AddToRoleAsync adn RemoveFromRoleAsync Methods"
Hey there, I thought of a possible enhancement for the UserManager class, specifically the "AddToRoleAsync" and "RemoveFromRoleAsync" methods. I'm writing a custom UserStore  to be used with Identity using Dapper. When I began to implement these two methods, I took a look at the UserManager implementation and noticed both "AddToRoleAsync" and "RemoveFromRoleAsync" eventually call the "UpdateAsync"

[2017-03-08 02:32] brockallen commented on #1121
FWIW, we use this in IdentityServer (and add our own claim at auth time). This is the reason we need an authentication handler to wrap any other handlers: https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Hosting/AuthenticationHandler.cs#L70

and here's adding the claim: https://github.com/IdentityServer/IdentityServer4/blob/afb09a6872e12a2c77dcc7854841453e2f5f52fb/src

[2017-03-08 12:50] Phil-B opened #1123 "CookieAuthenticationProvider silently fails to Validate Identity if UserStore doesn't implement IUserSecurityStampStore"
This can be filed as PEBCAK but caused several hours of agony which might be avoidable for others in future

### Minimal repro steps
1. Create an asp.net 4.5.2 MVC project using the 'individual user accounts' template
2. Create and implement a custom UserStore without implementing IUserSecurityStampStore
3. Compile and run
4. Sign in
5. Wait for validateInterval to lapse
6. Request any controller

[2017-03-08 19:43] Ponant commented on #1086
Hi, I implemented a custom UserValidator to fix this issue, but I wonder at what date the miltestone 2.0.0 will be honored (approximately, 1 month, 2, 3 ?)

[2017-03-08 20:25] HaoK commented on #1086
I believe Q2 2017 is the current forecast, https://github.com/aspnet/Home/wiki/Roadmap

[2017-03-08 21:32] HaoK commented on #1086
12aa4a3f810648f94c7146e06e1a3c792a7eb1db

[2017-03-08 21:32] #1086 closed

[2017-03-09 12:21] pierregorce commented on #934
Is there any solutions for use usermanager in the service layer AND in the controller ?
Can we define lifetime scoped for usermanger ?

[2017-03-09 22:58] richmcd opened #1127 "SignInManager.IsSignedIn does not handle exceptions from WindowsIdentity.get_AuthenticationType()"
The WindowsIdentity.AuthenticationType property getter throws exceptions derived from LsaGetLogonSessionData failures.  This is unusual for a property getter, but one I'm not sure how they are going to fix since there doesn't seem to be a good response for AuthenticationType when the current process simply doesn't have access to the Lsa Logon Session Data. Ultimately I believe the DotNet/CoreFx/Sy

[2017-03-10 02:56] snjay commented on #859
Also looking for a code sample to change the `TokenLifeSpan`. Have there been any updates?

[2017-03-10 05:53] HaoK commented on #859
Yup @jrgunawan that change allows you to specify a instance with the appropriate token life span

[2017-03-10 08:50] Gillardo commented on #859
Any chance someone has code sample to show this?

[2017-03-10 09:55] VahidN commented on #859
Just follow [the posted answer](https://github.com/aspnet/Identity/issues/859#issuecomment-224156821) by @lcalabrese. It changes the default `TokenLifespan` to 7 days.

[2017-03-10 18:51] dubeme opened #1128 "Debugging/Stepping through AspNetCore.Identity"
Hi guys,

I'm working on my custom **UserStore**, and will like to step though the default **UserManager** code. Is there a way to setup in VS to pull the source from GitHub, hence enabling me to step through the code.

**Setup**:
VS Enterprise
.NET - 1.0.0-preview2-1-003177

[2017-03-10 19:03] HaoK commented on #1128
You should be able to follow these steps: https://www.stevejgordon.co.uk/debugging-into-asp-net-core-source

[2017-03-10 19:03] #1128 closed

[2017-03-10 21:31] dubeme commented on #1128
Thanks. I had tried that yesterday, but to no avail. Did it again, and it seems to be working now :)

[2017-03-12 15:41] Kurtbaby commented on #780
raffaeu, don't you also have to change the ApplicationDbContext class signature to something like:

`public class ApplicationDbContext : IdentityDbContext<ApplicationUser, ApplicationRole, Guid>`

[2017-03-13 07:59] raffaeu commented on #780
Yes, I forgot to mention @Kurtbaby
You also have to change the inheritance signature of ApplicationContext in this way:

[code]

[2017-03-14 18:05] BjornSigurd commented on #915
I just installed Visual Studio 2017 and ran the authentication Template.  PROBLEM NOT SOLVED - If you do not follow the assumed sequence of operations when registering you very quickly ends up with Account/AccessDenied.

This is totally unacceptable.  Being able to always log in should be the most basic requirement of a web site!...

PLEASE HELP!  DO ANYONE HAVE A SOLUTION TO THE Account/AccessDen

[2017-03-15 16:46] EdwardL75 opened #1129 "How to limit c# model class parameter call to MS SQL server for non-existing table field"
Working with database-first approach creating a new ASPNETCORE MVC web app with user authentication, I would like to override the way the parameters from IdentityUser class are queried to the database. The reason is the current implementation of IdentityUser has two new parameters NormalizedEmail and NormalizedUserName (which in my opinion retracts from Normalization) and I do not wish to change t

[2017-03-16 17:05] HaoK opened #1131 "UserStore has inconsistent constraints"
Copied from: https://github.com/aspnet/EntityFramework/issues/7910#issuecomment-287122400

Hello,

I want to make my own implementation of Identity and I see some constraints in UserStore which cannot be fulfilled.

### Steps to reproduce
I have the next implementations for IdentityDbContext/User/Role/Claim
[code]
I have implemented succesfuly the RoleStore:
[code]
and the implementation of UserSt

[2017-03-16 17:13] HaoK commented on #1131
Yep this is a dupe of https://github.com/aspnet/Identity/issues/855 and should already be fixed in 1.1

[2017-03-16 17:13] #1131 closed

[2017-03-17 07:43] glucaci commented on #1131
Thanks @HaoK, I've searched only in EF Repo.
It's working with 1.1

[2017-03-17 11:51] flowdopip opened #1132 "Handle 401 and 403 on WEB API"
Hi,

On identity 3 over .net 4.5 we manage this kind of error with an AuthorizationFilterAttribute extension and here we can format the response to thw user.

On identity 4 onet .net core here we can do it?

thanks

[2017-03-17 14:26] RobinHerbots opened #1133 "IQueryableUserStore<TUser> is too much Entity Framework like"
When implementing a userstore or rolestore with another db, the IQueryableUserStore<TUser> isn't  that obvious to implement.  Maybe we could add another interface like
[code]
Where the QueryRequest class contains some filterexpression and paging related props.  This eases to implement and prevent querying for all instances.  Adding some extra checks to see which of the 2 are supported, can help to

[2017-03-17 17:25] mdmoura opened #1134 "An error occurred while calling method 'ConfigureServices' on startup class 'Startup'."
I have the following on an ASP.NET Core 1.1.1 project:

[code]

And Startup I have the following:

[code]

But I get the error:

    An error occurred while calling method 'ConfigureServices' on startup class 'Startup'.
    Consider using IDbContextFactory to override the initialization of the DbContext at design-time.
    Error: GenericArguments[0], 'WebProj.User', on 'Microsoft.AspNetCore.Identi

[2017-03-17 17:32] mdmoura opened #1135 "Not able to create User in Console Application and SignIn with it in Web Application"
Using ASP.NET Core 1.1.1 I am creating a User as follows:

    DataContext context = new DataContext();

    User user = new User {
      Email = "john@company.com",
      Username = "john@company.com
    };

    var userStore = new UserStore<DataContext>(context);

    var userManager = new UserManager<User>(userStore, null, null, null, null, null, null, null, null);

    await userManager.Create

[2017-03-17 18:10] HaoK commented on #1135
You should be getting the UserManager from RequestServices, not newing them up.

[2017-03-17 18:10] HaoK commented on #1135
Oh, Identity is not currently designed to support non Asp.NET scenarios

[2017-03-17 18:12] HaoK commented on #1134
Try `AddEntityFrameworkStores<Context, int>`

[2017-03-17 18:13] mdmoura commented on #1135
But is there a way to configure the services in a Console Application to replicate what is going on in the Web Application? I mean, I would like to seed the database through a Console Application and not having it in the Web Application.

[2017-03-17 18:22] mdmoura commented on #1134
That compiles but when I run it I get the error:

    "GenericArguments[0], 'WebProj.User', on 'Microsoft.AspNetCore.Identity.EntityFrameworkCore.UserStore`4[TUser,TRole,TContext,TKey]' violates the constraint of type 'TUser'."

    "   at System.RuntimeType.ValidateGenericArguments(MemberInfo definition, RuntimeType[] genericArguments, Exception e)\r\n   at System.RuntimeType.MakeGenericType(Type

[2017-03-17 18:28] HaoK commented on #1134
Oh yeah, you still have to specify your own store:

See https://github.com/aspnet/Identity/issues/855

[2017-03-17 18:28] HaoK commented on #1134
We have improved this in 2.0 to fully use reflection to make `AddEntityFrameworkStores<Context>` 'do the right thing'

[2017-03-17 18:29] HaoK commented on #1134
See https://github.com/aspnet/Identity/issues/1001 for how things will work in 2.0

[2017-03-17 18:29] #1134 closed

[2017-03-17 18:30] mdmoura commented on #1134
I saw that one and the milestone was [1.1.0-preview1](https://github.com/aspnet/Identity/milestone/21) so I though that was done. So the entire User Store needs to be created?

[2017-03-17 18:31] HaoK commented on #1134
That change is in 1.1.1, but you still need to put your own user store type into DI since the AddEntityFrameworkStores method is only using the 4 generic type constructor for UserStore, and you are specifying all of the child entities.

[2017-03-17 18:34] HaoK commented on #1135
Sure you can new up a ServiceCollection() call AddIdentity and all the other things it needs (you'll need to replicate what hosting does as well to add things like Options/Logging)

See https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.Specification.Tests/IdentitySpecificationTestBase.cs#L61 as a starting point

[2017-03-19 17:39] borislavml commented on #855
What happened with this bug.I'm extending Identity(so obviously also implementing UserStore) with Microsoft.AspNetCore.Identity.EntityFrameworkCore v 1.1.1 and this is still there. I'm really stuck at this point and can't get a workaround as it's not possible to bypass.Any suggestions or comments when and how it will be fixed?

[2017-03-19 18:01] VahidN commented on #855
It's fixed. follow [this thread](https://github.com/aspnet/Identity/issues/1082#issuecomment-273514725).

[2017-03-21 08:14] PartyArk opened #1138 "Security (Sample) - don't use UserId in ConfirmEmail href"
When we want to confirm our email, the Post to ConfirmEmail is { userid, token }. This is in contrast to resetting a password, where the model is { email, token }.

The chain of events begins at successful registration, when the CallbackUrl is generated.

There doesn't seem anything to be gained by using the UserId directly. Since access is via a 'public' link sent to an email, it exposes a) wheth

[2017-03-21 20:53] pranavkm opened #1141 "Investigate System.Security.Claims, System.Globalization.Extensions added to samples and tests"
I did not need this reference when I build all of Universe, but it's required when building Identity separetly: https://github.com/aspnet/Identity/pull/1140/commits/b8fd7fa00c6cf42079513458a55b62e559fb3d05
Follow up to revert this commit or investigate why it's needed at all once we're done migrating.

[2017-03-21 22:10] PartyArk opened #1142 "Avoiding Lockout / Username disclosure"
After _x_ tries at a username / password combination, we have the option of locking out the user for a period of time.

Once locked out, we need to let the user know they're locked out. Come back in five minutes. It's a useful feature to prevent brute force attacks etc.

The trouble is, I can abuse this feature to find out if a username (usually email) is a registered user. Just make _x_ attempts,

[2017-03-21 23:55] brockallen commented on #1142
Vague yet informational messages (e.g. if you have gotten your password wrong X times, you will be locked out for N minutes) and time constant middleware.

[2017-03-22 11:26] PartyArk commented on #1142
Yes, but my point is that as soon as you do that, you know that that's an email that is registered. So, exploiting the lockout disclosure is a way of maliciously finding out if someone is registered.

The sample code goes to some lengths to stop that scenario, but the lockout notification is a trivial way of circumventing that.

e.g. If I know your email and want to see whether you're registered o

[2017-03-22 13:29] brockallen commented on #1142
How? If the password is right, then the user gets in and it's not an attacker. If the password is wrong, or the account is locked out you show the exact same error message that's vague but will let you know that if you get the password wrong too many times you'll be locked out. Additionally, sending an email to the account owner on lockout is another good mechanism to inform them what's going on.

[2017-03-22 18:21] PartyArk commented on #1142
Well if you show the same error message regardless (which I agree only way to ensure security). Something like "Your password may be incorrect, or maybe we've locked you out if you've been repeatedly trying. Come back in five."

Let's say I've inadvertently left on caps-lock, I've tried a few  times with what I'm _sure_ is the right password, but keep getting that message. By now I have no idea wh

[2017-03-22 18:24] brockallen commented on #1142
Yep, it's not easy. Emailing the user when these things happen would be a nice back channel to the user so they know what's going.

[2017-03-22 19:12] blowdart commented on #1138
The reason we can't use the email in ConfirmEmail is because ... we don't have a confirmed email at that point :) So we have to use the userId.

[2017-03-22 19:18] HaoK commented on #1133
We are not looking to abstract this for all possible providers of identity, since this is an optional interface, if its too hard to implement this, you don't have to, and you can use your own mechanism to execute queries against your data.

[2017-03-22 19:18] #1133 closed

[2017-03-22 19:19] blowdart commented on #1132
This is not an identity question. I would ask this in the MVC repo - https://github.com/aspnet/MVC

[2017-03-22 19:19] #1132 closed

[2017-03-22 19:23] HaoK commented on #1129
This may work functionally, but since we rely on these fields for our queries, they should be indexed which isn't possible if the column doesn't exist, so just update the database schema to include the columns.

[2017-03-22 19:23] #1129 closed

[2017-03-22 19:25] blowdart commented on #1127
Why are you using SignInManger with Windows auth?

This does seem to be a bug in the Windows Identity classes, not Identity.

[2017-03-22 19:29] HaoK commented on #1123
If you don't support security stamp you should remove the validator:

identityOptions.ApplicationCookie.Events.ValidatePrincipal = null

[2017-03-22 19:29] #1123 closed

[2017-03-22 19:36] HaoK commented on #1122
The pattern for identity public APIs is basically to manipulate the entity via Store operations, do some validation, and then call UpdateUser.  We won't add a flag, but you can always keep track of whether the user data has been modified in the store yourself.

[2017-03-22 19:36] #1122 closed

[2017-03-22 19:37] richmcd commented on #1127
We're using Windows auth for authentication but are using Identity for role assignment within the app, we don't want to manage application roles in active directory.

Sent from my Android phone using TouchDown (www.symantec.com)

-----Original Message-----
From: Barry Dorrans [notifications@github.com]
Received: Wednesday, 22 Mar 2017, 1:25PM
To: aspnet/Identity [Identity@noreply.github.com]
CC: R

[2017-03-22 19:38] HaoK commented on #1121
POR is to add this automatically to the set of claims we generate in the claims identity, but they need to be generated only once per actual sign in call (not refreshed with cookie)

[2017-03-22 20:06] PartyArk commented on #1142
Anyway, to the case in point - the Sample implementation tells you when you've been locked out, thereby allowing an easy route to discovering whether a user is registered.

[2017-03-22 21:42] PartyArk commented on #1138
I don't think that's right. Bear with me.

The process is:
- Successful registration. An a/c with a unique id and unique email is created, but is set to 'unconfirmed' so you can't login.
- Simultaneously, a url is sent to that email. It contains a userid/token pair to confirm the a/c is valid.
- On clicking the link, Identity fetches the registered a/c via userid and checks if the token is valid e

[2017-03-22 22:36] HaoK commented on #1138
Email is not guaranteed to be unique.  usernames are, so username and user id should be a 1:1

[2017-03-22 23:37] PartyArk commented on #1138
Fair point, although I suspect a large number of implementations will use email as username.

To be clear then: I suggest the confirmation should use the a/c username (which may also be the email) with token, rather than the userId with token, thus avoiding exposing db internals.

[2017-03-23 09:04] RobinHerbots commented on #1133
@HaoK ,

I know I can extend and add whatever I want.  The point was to keep the usermanager as generic as possible.
Anyway, thx the answer.

[2017-03-23 10:29] audaciasoftware opened #1143 "GetRolesAsync missing cancellation token pass in EntityFramework UserStore"
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs

The last line of the GetRolesAsync method is:

`return await query.ToListAsync();`

This should be passed the cancellation token and is inconsistent with the rest of the class, i.e.

`return await query.ToListAsync(cancellationToken);`

[2017-03-24 12:12] Jenan opened #1144 "Method FindByLoginAsync doesn't work correctly in my case"
I have used this method like this:

**Versions:**
[code]

**Code:**
[code]
This record exists in the database, but this method return always NULL.

I've tried trace the SQL query and I've got this:
[code]

I sql query is like `[e].[LoginProvider]` the value `providerKey`  and `[e].[ProviderKey]` the value `loginProvider`.

How can I fix this? How is possible this behaviour? :)

Thank you.

[2017-03-24 13:36] Essen-Roc opened #1145 "Add FindByPhoneNumberAsync"
Used to phonenumber login.

In China, the mobile phone number is the only (by the system recycling to other people except the case), most of the App and Web sites are through the user name, mobile phone number login system, but use the email login situation very few hope to consider this problem!

Thank you.

[2017-03-25 17:09] Jenan commented on #1144
I solved this issue on SO: http://stackoverflow.com/questions/43001168/method-findbyloginasync-doesnt-work-correctly-with-aspnetcore-identity/43018712#43018712

[2017-03-25 17:09] #1144 closed

[2017-03-26 16:14] MaxZuber opened #1146 "Not able to specify Id type in IUserStore.GetUserIdAsync"
When implementing IUserStore I am not able to specify type of Id key.
My IdentityUser look like this IdentityUser<int, ...>, so I cannot use it with current IUserStore
[https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IUserStore.cs#L22](url)

[2017-03-27 18:07] john2014 opened #1147 "Identity 3.x on .Net Standard Framework"
I am currently using membership and would like to migrate to Identity. Here are few questions I had:

1. Are there any plans to port Identity 3.x to .Net Standard 4.6.x? Currently .Net Standard 4.6.x only supports Identity upto 2.2.1 (which was last updated two years ago).
2. Is it possible for Identity 2.x, 3.x to work with Postgresql DB (instead of MS SQL server only)? Is there a easy migration

[2017-03-28 12:59] arespr commented on #1142
I think that attacker could even block user account by repeatedly entering wrong passowrd in not too that pertiod of time.

[2017-03-28 16:27] JeanVanDenderFlume commented on #716
I tried THIS SeedData example.
http://stackoverflow.com/questions/34343599/how-to-seed-users-and-roles-with-code-first-migration-using-identity-asp-net-mvc

and i am very sure, with CORE 1.1.1
Identity framework important things dont work !!
users relation Role does not work
Usermanager save /assign a role to a user does not work. <= with this i could miss, but i think
i initiated a new instance o

[2017-03-28 16:28] natemcmaster opened #1149 "InMemoryEFUserStoreTest tests failing with BadImageFormatException on Win7"
It appears almost all tests (194) in InMemoryEFUserStoreTest are failing in Win 2008 and Win 7 with this error:
[code]

See http://aspnetci/viewLog.html?buildId=193577&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win2008r2_Universe

[2017-03-29 01:54] rukai-kooboo opened #1150 "ChangeEmailAsync allow invalid character"
When I call ChangeEmailAsync to change a user email from e.g. username@domain.com to username#@domain.com,  it goes well, the email is changed.

But after I want to change back from username#@domain.com to username@domain.com, it says: "InvalidUserName:User name 'username#@domain.com' is invalid, can only contain letters or digits.

I use default UserOptions.AllowedUserNameCharacters.

[2017-03-29 01:56] ajcvickers commented on #1149
@HaoK Can you please investigate why these tests are failing?

[2017-03-29 07:10] HaoK commented on #1149
This looks to be the same exception as https://github.com/aspnet/Identity/issues/882

[2017-03-29 07:14] HaoK commented on #1149
@natemcmaster did these tests just start failing recently on Win 2008/Win7 or have they always failed?

This looks like a potentially related bug that's open currently https://github.com/dotnet/coreclr/issues/6392

[2017-03-29 14:32] jkljajic opened #1151 "SignInManager ->GetExternalLoginInfoAsync"
in SignInManager in Method GetExternalLoginInfoAsync at line 579
var providerKey = auth.Principal.FindFirstValue(ClaimTypes.NameIdentifier);

this is fixed claimTypes and all fails if we change ClaimsIdentity.UserNameClaimType
maybe is better to replace it with
var providerKey = auth.Principal.FindFirstValue(options.ClaimsIdentity.UserNameClaimType);

i am not shore if this is bug or intended like

[2017-03-29 16:17] natemcmaster commented on #1149
They started failing March 22.

[2017-03-29 18:24] HaoK commented on #1149
Strange, do you know if there was any integrations around that time from coreclr?  In the past similar issues seemed to be a bug in windows

[2017-03-29 18:25] HaoK commented on #1149
Identity is basically the only place in our code today that uses string.NormalizeString which is why its the canary that keeps dying :)

[2017-03-29 19:18] blowdart commented on #1151
This UserNameClaimType is the claim we create in your sign in cookie, and is what you get from Identity.Name.

NameIdentifer is what the auth pieces use to indicate what the auth provider says their username is. So, if you signed in with google, this would be your google user name.

So they're entirely separate, changing the UserNameClaimType doesn't affect NameIdentitfier.

It's by design.

[2017-03-29 19:18] #1151 closed

[2017-03-29 19:20] blowdart commented on #1150
This is probably because, in templates, the validator for email addresses and the validator for usernames are different, but the templates use email as both the username, and the email address.

You could fix this by changing the user name validator to include the characters you want.

[2017-03-29 19:28] blowdart commented on #1147
1) There is no .NET Standard 4.6.x. I guess you mean Framework, and not standard, and you mean MVC5? If so, no. Core Identity is linked to ASP.NET Core, which is turn is linked to .NET Core. We won't be bringing it down to MVC5, or earlier.
2) The EF abstraction should enable you to use any database EF supports. Someone [wrote a provider ](https://blog.samikuhmonen.fi/post/2016/04/30/asp-net-core-

[2017-03-29 19:29] blowdart commented on #1146
Identity treats the primary key as a string, always. It's up to the IUserStore to convert that to whatever you use in your custom IdentityUser.

[2017-03-29 19:29] #1146 closed

[2017-03-29 19:30] blowdart commented on #1145
Dupe of https://github.com/aspnet/Identity/issues/704

[2017-03-29 19:30] #1145 closed

[2017-03-29 19:49] natemcmaster commented on #1149
Actually, these failures are not .NET Core. It appears these failures were caused by switching from .NET Framework 4.5.2 to .NET Framework 4.6. cref https://github.com/aspnet/Identity/commit/234b8827583fc6c1d9888a426b38d9057a72418a

[2017-03-29 19:53] natemcmaster commented on #1149
Once you trim ~45,000 lines from the build log, you'll see this:
[code]

[2017-03-29 19:54] HaoK commented on #1149
So this is basically String.Normalize doesn't work on net46 on Win2008/Win7

[2017-03-29 19:55] HaoK commented on #1149
I wonder what crazy stuff they are doing to normalize strings, because it appears to be quite delicate :)

[2017-03-29 20:10] divega commented on #1149
FWIW, the code changed quite a bit in https://github.com/dotnet/coreclr/pull/9941.

[2017-03-29 20:11] HaoK commented on #1149
Honestly, it almost doesn't seem worth it to be calling this API given how fragile it is...

[2017-03-29 20:20] ajcvickers commented on #1149
@HaoK Can you follow up with the people on https://github.com/dotnet/coreclr/issues/6392 and confirm that the failure that we are seeing is being tracked by this issue? @tarekgh might be another good person to follow up with. If this is the correct issue, can you try to find out when we expect it to be fixed?

@Eilon We probably need to track this as blocking us, at least on these platforms. Do we

[2017-03-29 20:35] tarekgh commented on #1149
Could you clarify what really the issue I can help with? dotnet/coreclr#6392 is really old issue and I think shouldn't repro with the latest netcore versions. Also people assigned this issue can help with the old version.

[2017-03-29 20:48] HaoK commented on #1149
Basically it appears these failures were caused by switching from .NET Framework 4.5.2 to .NET Framework 4.6, the only tests that are failing from this change are the tests that are calling into string.Normalize, so we think something in there has caused this regression

   at Interop.mincore.NormalizeString(Int32 normForm, String source, Int32 sourceLength, Char[] destination, Int32 destinationLe

[2017-03-29 20:52] tarekgh commented on #1149
yes that is what the issue dotnet/coreclr#6392 is saying. basically looks the APISET DLL was missing from the deployment and people on the issue can help with that. I don't expect this issue repro in the latest versions of netcore because we have changed of using the APISET DLLs and instead we are calling teh actual library.

[2017-03-29 20:55] HaoK commented on #1149
@piotrpMSFT can you confirm that the test failures we are seeing on net46 with string.Normalize  are being tracked by https://github.com/dotnet/coreclr/issues/6392?

[2017-03-29 21:00] tarekgh commented on #1149
There is one thing that is unclear here. the call System.StringNormalizationExtensions.Normalize shouldn't occur on net46 at all and instead String.Normalize should be called. if the test is intentionally calling StringNormalizationExtensions then the test is wrong and need to be fixed to run on the desktop.

[2017-03-29 21:04] HaoK commented on #1149
We are just calling `string.Normalize().ToUpperInvariant();` is that not supported anymore?

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/UpperInvariantLookupNormalizer.cs#L25

[2017-03-29 21:07] tarekgh commented on #1149
In this case you are not really running against desktop net46 and I guess you are running against netcore. I am saying that because if you are calling String.Normalize then StringNormalizationExtensions.Normalize shouldn't get called at all. could you confirm if the test running against the full framework or running against net core?

[2017-03-29 21:14] HaoK commented on #1149
From the build log snippet above, it appears to be net46:

[code]

[2017-03-29 21:21] Eilon commented on #1149
@HaoK can you create a standalone repro project and upload to GitHub? Seems like it should be easy to repro?

[2017-03-29 21:25] tarekgh commented on #1149
ok now I think I understand what is going on.
Looks what is happening is you built the bits that need to run against net46 using the netcore assemblies and that is why StringNormalizationExtensions.Normalize get called and not String.Normalize. in same time the extension method is pinvoking to APISET DLL which doesn't exist on Win7 and need to deploy it.

To fix this is either you link to the APIS

[2017-03-29 21:55] pranavkm commented on #1149
@tarekgh the package targets `netstandard1.3` which should support `net46` according to the specs - https://github.com/dotnet/standard/blob/master/docs/versions/netstandard1.3.md. Plus, the tests run fine on OSes later than Win7. It doesn't seem like an issue with this package.

[2017-03-29 22:00] HaoK commented on #1149
The repro for https://github.com/dotnet/corefx/issues/9650 should still apply:

`Console.WriteLine("Hello World!".Normalize());`

[2017-03-29 22:01] tarekgh commented on #1149
that is because Windows versions post Windows 7 has the APISETS installed on the system. the bottom line here is you need to have the APISET on your system to be able to run. as I mentioned before either you need to get it from the package or you need to compile against full framework.

[2017-03-29 22:16] ericstj commented on #1149
@tarekgh / @gkhanna79 I thought we changed the coreclr/corefx platform dependencies back to the classic identities rather than API sets.

[2017-03-29 22:16] tarekgh commented on #1149
yes we did but it looks they still referencing the old version

[2017-03-29 22:18] ericstj commented on #1149
@tarekgh can you make sure we're building a new asset in this package with the fix for desktop?  If so, then the answer is "use the newer package".

[2017-03-29 22:24] pranavkm commented on #1149
Is the newer package `NS.Library 2.0.0`?

[2017-03-30 01:41] tarekgh commented on #1149
The version of this library package on NuGet is the one which has the old implementation which is depending on the APISET

https://www.nuget.org/packages/runtime.win7.System.Globalization.Extensions/4.0.1-beta-23516

The one we are currently building for netstandard 2.0.0 we just type forward to System.Runtime and in  System.Runtime we have the extension methods implementation just calling the Str

[2017-03-30 03:02] pranavkm commented on #1149
We'll be switching to NETStandard.Library 2.0.0-* soon, while still targeting `netstandard1.3`. If the problem goes away in that case, maybe we can disable these tests for the time being and re-enable it once the migration is done.

[2017-03-30 16:57] HaoK commented on #1149
I'll just remove the call to Normalize for now until we are on NetStandard 2.0 to unblock the tests.

[2017-03-30 18:41] pranavkm opened #1153 "Bring back Normalize when we're upgraded to NS.Library 2.0"
The commit to revert: https://github.com/aspnet/Identity/commit/1ddc6b111aa4fe3bd4e2f6ebbbe71d7fc6e9d9ae

[2017-03-30 18:46] john2014 commented on #1147
Thanks Barry. I was hoping to use Identity 3.x with .Net Framework 4.6 on Postgresql (without Entity Framework and without MVC). It looks like this use case would not be supported.

BTW, since Identity and other new features in .Net Core are not been back ported to .Net Framework, does this means that Microsoft is officially (or unofficially) planning to start deprecating .Net Framework?

[2017-03-30 18:47] blowdart commented on #1147
It's certainly not deprecated, but it's unlikely it'll see more major releases of identity on it, just bug fixes.

[2017-03-30 18:47] #1147 closed

[2017-03-30 18:53] ajcvickers commented on #1149
Let's be sure this doesn't fall under the table. If we think this is a point-in-time thing, then making the change to unblock our builds is okay. But we need to make sure that we are ultimately:
* Building things in a way that they should work (we're not doing it wrong)
* The shipped netfx packages are correct and doing the right thing (partner teams are not doing it wrong)

Us consuming these bit

[2017-03-30 18:57] pranavkm commented on #1149
Yup. I filed https://github.com/aspnet/Identity/issues/1153 to track it in this repo and marked this as a follow up issue in our repo migration tracker - https://github.com/aspnet/Coherence/issues/166

[2017-03-31 10:39] thiennn opened #1154 "RoleManager.CreateAsync throw exception when the role name is existed"
RoleManager.CreateAsync throw exception when the role name is existed. I think it should not throw the exception but wrap the error into IdentityResult returned by RoleManager.CreateAsync with a clear error message.

Object reference not set to an instance of an object. at Microsoft.AspNetCore.Identity.EntityFrameworkCore.RoleStore`5.ConvertIdToString(TKey id)\r\n   at Microsoft.AspNetCore.Identit

[2017-03-31 10:54] thiennn commented on #1154
Just found the reason: The Id of the Role is null, because we have implemented the custom IdentityRole

[code]

init the role's Id in constructor will fixed this isssue

[code]

But any way, I think we should have a check on the role's Id

[2017-03-31 23:35] danroth27 opened #1155 "Attribute model for mapping user properties to claims"
You should be able to attribute user properties and have them get preserved as claims in the principal that identity creates. This will become more important as we move to exposing identity as a service.

[2017-03-31 23:35] danroth27 commented on #1155
@javiercn

[2017-04-01 00:04] brockallen commented on #1155
This is already possible via the `IUserClaimsPrincipalFactory`

[2017-04-01 06:07] danroth27 commented on #1155
Right, I believe you can implement an `IUserClaimsPrincipalFactory` that provides an attribute based model, but the idea here is that it would be nice if we provided an attribute based model out of the box.

[2017-04-01 19:54] #812 closed

[2017-04-03 18:24] #1141 closed

[2017-04-05 20:32] noelbr commented on #892
builder.Entity<ApplicationUser>().ToTable("User");
            builder.Entity<ApplicationRole>().ToTable("Role");

            builder.Entity<IdentityUserRole<string>>().ToTable("UserRole");
            builder.Entity<IdentityUserClaim<string>>().ToTable("UserClaim");
            builder.Entity<IdentityUserLogin<string>>().ToTable("UserLogin");

            builder.Entity<IdentityRoleClaim<string>

[2017-04-05 22:40] mhannaford-oncore commented on #1082
@master-still What did you do to fix this? I am using 1.1 and see the same error you reported. My code looks almost exactly the same as yours. Thanks

[2017-04-06 02:08] xinunix opened #1157 "Is there an option for prefetching Claims with UserManager find functions?"
Wondering if there is a way (via an option in startup or something) to prefetch claims when you retrieve a user via the UserManager.FindUserByXXXAsync methods?  We have a scenario where when we fetch a user we always want to get their claims back as well.  I read in another post that the User.Claims navigation property can't be trusted to consistently be populated and I think I understand that it

[2017-04-06 15:57] mxdumas opened #1158 "Microsoft.IdentityModel.Protocols double dependency on System.Net.Http"
### Title
The Microsoft.IdentityModel.Protocols package refers twice the package "System.Net.Http".

[code]
Since it is defined as a frameworkAssembly, it forces the framework version 4.0.0 instead of using 4.3.0.

### Functional impact
It is not possible to get a more recent version of System.Net.Http when this package is present.

### Minimal repro steps
I created a .Net Core Web Api project and

[2017-04-10 13:49] mcgiany opened #1159 "DbUpdateConcurrencyException after success signIn"
In my webApp, i want to update some custom fields of the user after success signIn. It is LastLoginDate and LastLogInIp. On my machine (localhost) everythings works fine, but on production server, i got always error:

[code]
The user is logged in, but the update of the fields is not completed.

This is my Login method:
[code]

The error occurs on this row:
`await _userManagerStore.UpdateAsync(user

[2017-04-10 22:35] AlecPapierniak opened #1160 "Minor typo in comments"
Minor typo in the comments on IdentityUser and IdentityRole

[2017-04-14 15:49] giggio opened #1164 "Missing tag for versions 1.1.1"
I would like to look at the source for 1.1.1, but I can't find a tag or release. Would you please add the tag?

For example, what source is related to this nuget package?
http://www.nuget.org/packages/Microsoft.AspNetCore.Identity.EntityFrameworkCore

[2017-04-14 16:03] giggio commented on #883
This is specially painful if you want to be able to replace `Microsoft.AspNetCore.Identity.EntityFrameworkCore` for some other implementation. You simply can't do it.
The `UserManager<IdentityUser>` class is directly dependent of `IdentityUser`. I can't use `UserManager<OtherUser>` because that will not work with the current implementation, as it is tied to the `IdentityUser`. `IdentityUser` canno

[2017-04-16 01:12] dcbrewster opened #1165 "ChallengeResult("Auth0", returnUrl ?? Url.Action("Index", "Purchase")); Syntax Error."
Current Readme.Text File

3. Challenge the Auth0 middleware when the user logs in or out:

public class AccountController : Controller
{
    public ActionResult Login(string returnUrl)
    {
        return new ChallengeResult("Auth0", returnUrl ?? Url.Action("Index", "Home"));
    }

    [Authorize]
    public void Logout()
    {
        HttpContext.GetOwinContext().Authentication.SignOut(CookieAu

[2017-04-16 20:11] rykr opened #1167 "Please help: No idea how to customize the role system to implement design"
Working on a website that is meant as a service.   Users will be able to register with the service and create communities.   Each community can have it's on admin users just for that community.  Of course the site will have admin users as well.

So I'd like to write code in razor something like  @if (User.IsAuthenticated() && User.IsInRole(community_id, "Admin")) {  .. do something .. }

How can I

[2017-04-17 16:41] hheexx commented on #1116
I had to overwrite scheme manually. ForwardedHeaders would not do it.
Here is the code:
[code]

[2017-04-19 19:06] blowdart commented on #1167
This isn't a identity question really, you could do it via authorization policies thought - please see https://github.com/blowdart/AspNetAuthorizationWorkshop to get started.

[2017-04-19 19:06] #1167 closed

[2017-04-19 19:08] blowdart commented on #1165
This would be a question better asked of Auth0 if this is in their readme. GetOwinContext isn't even a function in asp.net core, this is from older versions of asp.net

[2017-04-19 19:08] #1165 closed

[2017-04-19 19:08] blowdart commented on #1164
@pranavkm It's rumoured you just created branches at some point, but no tags. Can you help?

[2017-04-19 19:09] blowdart commented on #1160
Linked to https://github.com/aspnet/Identity/pull/1161

[2017-04-19 19:10] blowdart commented on #1160
Merged.

[2017-04-19 19:10] #1160 closed

[2017-04-19 19:12] blowdart commented on #1159
The UserManager calls save changes inside its operation, and you're accessing the store directly. You can't mix both, so change your code to use UserManager APIs and this should go away, or do your pieces once you're done with the manager calls.

[2017-04-19 19:16] blowdart commented on #1158
Identity Model isn't part of identity. This should be filed over at https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2017-04-19 19:16] #1158 closed

[2017-04-19 19:19] blowdart commented on #1157
At the minute no, @HaoK can look at making an extensibility point for you.

[2017-04-19 19:22] blowdart commented on #1154
Our assumption is all roles have an id. This won't be fixed.

[2017-04-19 19:22] #1154 closed

[2017-04-19 19:41] blowdart commented on #650
- [ ] Test migrations from 1.1 schema.

- [ ] Document how to create change scripts

- [ ] Test how VS Publish would apply migrations to azure, and document

[2017-04-19 20:26] ardalis commented on #883
Agreed this lack of separation of concerns and tight coupling to IdentityUser is causing real problems when trying to work with this library. Should strongly consider addressing in a future release. To easily detect these problems, write samples that use more than one persistence technology. Write a sample that, using DI, can swap between using EF Core and Dapper for the implementation of its Iden

[2017-04-19 20:28] HaoK commented on #883
IdentityUser lives in EntityFrameworkCore, you don't have to derive from IdentityUser, you can implement your own TUser so I'm not sure I understand the issue, IdentityCore isn't tied to the EF implementation at all.

[2017-04-19 20:34] HaoK commented on #883
Plugging in your own non EF identity store should look basically like this:
[code]

No EF involved.

[2017-04-19 21:05] ardalis commented on #883
I want to *optionally* use EF for my persistence of my identity type. Here's a good example of what I'm looking to achieve: http://timschreiber.com/2015/01/14/persistence-ignorant-asp-net-identity-with-patterns-part-1/

I want to use POCOs for my identity types (user, role) and decouple their use from the decision of how I want to persist them (that decision likely will be made in another project

[2017-04-19 21:07] ardalis commented on #883
Part of the pain here is that the default templates make heavy use of IdentityUser in the AccountController and ManageController types. If these used a simple POCO class and some interfaces for working with such a class, it would make it much easier to extract things from the web project.

[2017-04-19 22:40] masdc commented on #898
Hello.  I am having the exact issue, but i am not really sure where the following code should be:

    var info = await _signInManager.GetExternalLoginInfoAsync();
    var token =  _userInfo.AuthenticationTokens.Single(x=>x.Name =="access_token").Value;

On the controller where i want to do the API calls?  Where?

Thanks.

[2017-04-19 22:47] HaoK commented on #883
Fair enough, I believe the reason the IdentityUser/associated pocos don't live in core was due to a few navigation properties they have.  @divega might recall more details about that debate as well.

Would things be better for your optional EF scenario if the simple IdentityUser POCO lived in core for everyone to use if they desire?

cc @ajcvickers @blowdart if we want to move our pocos around, th

[2017-04-20 00:01] HaoK opened #1168 "Reenable API check"
disabled to unblock build to get Auth 2.0 build unblocked

[2017-04-20 00:07] HaoK commented on #1168
Revert 2b343726897b2cece524537d56aea4c80ac265bd and updated baseline

[2017-04-20 01:32] nicolasr75 opened #1169 "Concurreny exception when using UserManager in two web requests"
I have a simple web application with two buttons AddUser and DeleteUser. The buttons call corresponding Web APIs. The controller for the APIs gets injected a UserManager instance. When I call the AddUser API the following code runs successfully:

	var user = new ApplicationUser { UserName = model.Username, Email = model.Email };

	var result = await userManager.CreateAsync(user, model.Password);

[2017-04-20 01:38] HaoK commented on #1169
You shouldn't be new'ing up a user to delete, you should be calling FindByName and deleting the user you get back, that's probably why you are getting the exception.

[2017-04-20 01:38] #1169 closed

[2017-04-20 01:49] brockallen commented on #883
You'd have to put base classes in the core repo and then derived classes in the EF repo, I'd think. The derived classes would add the EF specific goo.

[2017-04-20 02:00] HaoK commented on #883
Yeah now I remember what the point of contention was, the placeholder navigation properties that exist for EF only.  That's really the only thing that would get removed for the entities to live on core...

Clearing for triage

Main issue:
https://github.com/aspnet/Identity/issues/332

Related issues:
https://github.com/aspnet/Identity/issues/547
https://github.com/aspnet/Identity/issues/489

[2017-04-20 07:34] mcgiany commented on #1159
Hi,

thanks for your response, but i dont think that i'm accessing the store directly. My userManagerStore is just a wrapper for UserManager APIs. It just add some audit log feature in some methods.
This method:
`await _userManagerStore.UpdateAsync(user);`
has this implementation:
[code]
_userManager is UserManager API.
And as i said before, it happens randomly, usually after deployment of my web

[2017-04-20 07:51] kodithuwa opened #1170 "Change claims on middleware"
Hi,
My requirement is to remove existing (System.Security.Claims.ClaimsPrincipal) User claims and add new claims for suspended users.
Is this possible ?
Thanks
Chaminda

[2017-04-20 18:16] blowdart commented on #883
If we're splitting stuff, we ought to split out the MVC specific bits, so folks can use identity from other types of apps, as we've had requests for.

[2017-04-20 18:19] ardalis commented on #883
Any chance just an interface would work for the identityuser? Let me mark my own user class as implementing IIDentityUser (or similar) which defines the necessary properties for AspNetCore.Identity to get the values it requires? Then I wouldn't need to inherit from or directly use a framework type.

[2017-04-20 18:25] divega commented on #883
@HaoK another point of contention is that the design of Identity intentionally does not prescribe how the types look like. E.g. the store interfaces are there to completely isolate the implementation of the managers from how the classes look like. They can be anything that the stores and the application understand. If you include these "POCOs" in the core package, it might mean one of two things:

[2017-04-20 18:46] divega commented on #883
Also, while we are at it, it would be nice if we could address what this issue was originally about: move the definitions of the Identity interfaces into a `Abstractions` package so that customers can write a DAL and providers can write a provider without bringing the whole graph of dependencies of ASP.NET.

[2017-04-21 00:05] HaoK commented on #883
Sure we've been overdue for cleaning up things in Identity...

So something like:

Microsoft.Extensions.Identity.Abstractions (UserManager/SignInManager/interfaces
Microsoft.Extensions.Identity.Providers.Core (IdentityUser/basic stores)
Microsoft.AspNetCore.Identity (SignInManager that works with AspNet)
Microsoft.AspNetCore.Identity.EntityFrameworkCore (EFStore)

[2017-04-21 05:53] divega commented on #883
I believe @ajcvickers was also compiling a list of the different improvements that have come up in this issue. I think template code that is not tied to the "POCOs" is part of it.

FWIW, I would probably pick a name do the base "POCO"-based stores pacakage that conveys the fact that it is an opinionated implementation.

[2017-04-21 08:37] siddharthashw opened #1173 "Query: How we can create object of UserManager without using in built dependency injection ?"
Right with ASP.NET Core 1.1 there is only one way initialize the user manager class is to use the dependency injection.

But in my application, I have 2 DbContext. In ConfigureService, I have added

`services.AddIdentity<ApplicationUser, IdentityRole>()
                .AddEntityFrameworkStores<ApplicationDbContext>()
                .AddDefaultTokenProviders();`

Now I want to use UserManager of

[2017-04-21 17:19] jbrozek opened #1174 "Question: Custom Password Validator"
Given this setup

[code]

It appears that during execution of

`	services.AddIdentity<TUser, TRole>()`

the default password validator is included via

`	services.TryAddScoped<IPasswordValidator<TUser>, PasswordValidator<TUser>>();`

then when calling .AddPasswordValidator() to implement an my CustomPasswordValidator a second validator is added to the list.

This ultimately places 2 validators in

[2017-04-21 17:20] HaoK commented on #1174
If you add it before AddIdentity then the TryAdd won't add it

[2017-04-21 17:20] #1174 closed

[2017-04-21 19:12] Singularity222 commented on #1173
You'd create it just like any other object. The UserManager class has quite a few dependencies though. In my application I've created a custom UserStore class that uses Dapper instead of Entity Framework to persist the user data to the database. So I have some integration tests to make sure things are working correctly. So I have something like this:

Note: I've excluded some code that deals with

[2017-04-21 20:37] pranavkm commented on #1164
Here's the branch that shipped - https://github.com/aspnet/Identity/tree/rel/1.1.1. We forgot to change them in to tags at the end. There's a work item to go back and do this for our past releases.

[2017-04-22 11:22] Moses-Bassey commented on #685
This can be really frustrating, what solutions do the have to help resolve this issue. Working on asp.net core and now i need to user thier useridentity but the package is not installing. is there any help around?

[2017-04-22 21:55] VR-Architect opened #1175 "Obsolete: options.Cookies.ApplicationCookie"
After upgrading to 2.0 from a working ASP.NET CORE WebApp v1.1, I get an error on my setting of cookie values in Startup.cs:

[code]

Here is my versions from *.cproj
[code]
Here is the code from Startup.cs
[code]

[2017-04-22 22:02] VR-Architect opened #1176 "UPGRADE ERROR: GetExternalAuthenticationSchemes"
After upgrading from ASP.NET CORE WebApp v1.1 (VS2017) to v2.0 of a working app, I received this error in the ManageController which was auto-generated in v1.1:

[code]

[code]

Versions:
[code]

[2017-04-22 22:09] VR-Architect commented on #1175
Here is the list of installed packages:
  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore" Version="2.0.0-preview1-24591" />
    <PackageReference Include="Microsoft.AspNetCore.Authentication.Cookies" Version="2.0.0-preview1-24591" />
    <PackageReference Include="Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore" Version="2.0.0-preview1-24591" />
    <PackageReference Include=

[2017-04-22 22:11] VR-Architect commented on #1176
Here is the list of installed packages:
[code]

[2017-04-23 00:38] opalrigby834 commented on #1175
services.ConfigureApplicationCookie(options => options.AccessDeniedPath = "/Home/AccessDenied");

app.UseAuthentication();

https://github.com/aspnet/Entropy/blob/024d9b65c0bede75b8b112574f8dd6cd7220a816/samples/Antiforgery.MvcWithAuthAndAjax/Startup.cs

[2017-04-23 00:55] opalrigby834 commented on #1175
services.ConfigureApplicationCookie(options => options.AccessDeniedPath = "/Home/AccessDenied");

 app.UseAuthentication();

https://github.com/aspnet/MusicStore/blob/4237a93ee8e258a39373ea62715e15fad382311c/samples/MusicStore/ForTesting/Mocks/StartupSocialTesting.cs

[2017-04-23 17:04] claudio4 opened #1177 "Disable auto challange for a method or controller"
Please add a  data anotation for disable autochallange for a method/controller, something like that:

[DisableAutoChallange]
public class NotAutoChallageController

[2017-04-23 17:22] WilliamWsyHK opened #1178 "Cannot Query Claims from RoleManager<ApplicationRole>"
Hi, when I tried to query some default Roles and RoleClaims from the database (I am using MySQL, and connector from Pomelo.EntityFrameworkCore.MySql 1.1.1) using EF Core, the RoleManager<ApplicationRole> does not return any claims for that role.
(ApplicationRole is inherited from IdentityRole)

**Background:** One Role associate with only zero / one Claim.

**Some short description of the flow:**

[2017-04-23 17:50] HaoK commented on #1177
There is no more auto challenge with Auth 2.0, see https://github.com/aspnet/Announcements/issues/232

[2017-04-23 17:50] #1177 closed

[2017-04-23 17:51] HaoK commented on #1177
Typically the authorize policy for the controller/action will control what schemes are challenged

[2017-04-24 13:28] MaximRouiller commented on #685
@Moses-Bassey Please open an issue and describe your problem. What you have right now may be very different from what happened back in December 2015.

[2017-04-24 18:34] HaoK commented on #1176
Yeah Auth 2.0 has some breaking changes: https://github.com/aspnet/Announcements/issues/232

For Identity: GetExternalAuthenticationSchemes => GetExternalAuthenticationSchemesAsync();

[2017-04-24 18:36] HaoK commented on #1175
Due to Authentication 2.0, cookie options instances no longer can be stored in IdentityOptions, yo ucan configure them as @opalrigby834 mentioned.

[2017-04-25 17:15] jamiewest opened #1180 "Update RoleManager and UserManager to use Protected Internal rather than Private"
**Problem**
When extending RoleManager or UserManager, we are unable to call the following methods in a derived class:

RoleManager
- ValidateRoleInternal
- UpdateRoleAsync

UserManager
- ValidateUserInternal
- UpdateUserAsync
- UpdateSecurityStampInternal

These are useful and have repeated in the base class to continue the same pattern of functionality.

**Solution**
Change these methods to use

[2017-04-26 19:00] #1164 closed

[2017-04-26 19:01] blowdart commented on #1159
@HaoK any thoughts?

[2017-04-26 19:15] HaoK commented on #1159
@mcgiany can you include the relevant code for the audit log?

[code]

This doesn't modify the user table in any way does it?  Are you modifying the backofficeuser anywhere or is identity the only API that's doing that?

[2017-04-27 08:28] mcgiany commented on #1159
@HaoK - i work with Users table just via identity API.
Audit Log stores entry into different table, and doesnt touch the user table nor backoffice object.

AuditLog.StartAsync just create new instance of AuditLogEntry class.
[code]
FinishAsync store this entry to database using stored procedure. Nothing is working with backoffice user. The audit log is not related to the backoffice user, it is com

[2017-04-27 10:17] BenjaminCharlton opened #1181 "Make the IdentityUser class implement an IIdentityUser interface"
Would it be possible to make the IdentityUser class implement an IIdentityUser interface, and for the other ASP .NET Identity classes to expose and reference instances of the IIdentityUser interface instead of the IdentityUser class?

The way it is now, my ApplicationUser class lives in my Persistence namespace because it inherits IdentityUser<int>, which resides in Entity Framework. I need to ref

[2017-04-27 18:35] HaoK commented on #1092
This was a point in time sample, the official interop sample will be done somewhere else (most likely docs)

[2017-04-27 18:35] #1092 closed

[2017-04-27 18:38] HaoK commented on #1181
This is the issue we are using to track some refactoring we will do.  We aren't going to be adding an interface, as we like the ability to work with any kind of POCO.

That said, we will probably be moving IdentityUser to some kind of base common Provider package that the EF package will derive from, so you won't be forced to pull in EF just to have access to IdentityUser

Closing as dupe of : htt

[2017-04-27 18:38] #1181 closed

[2017-04-27 20:50] JunTaoLuo commented on #1092
So should we remove the sample from this repo altogether?

[2017-04-27 20:55] HaoK commented on #1092
Its already gone :)

[2017-04-30 12:25] BenjaminCharlton commented on #1181
Thanks for the explanation, Haok.

I read about #883 and other related issues with great interest. Is there a way I can receive a notification when this is addressed so I can try out the new version and see if it solves my problem? Advice would be appreciated.

[2017-05-03 17:40] mkontula commented on #1082
Having the same issue. @master-still care to update your test repo with functioning code? Current version gives quite a bunch of build errors.

[2017-05-04 22:07] blowdart commented on #1178
This is because EF doesn't lazy load. The easiest way to fix this is to use RoleManager.GetClaims(role) before you access identityRole.Claims

[2017-05-04 22:08] blowdart commented on #1170
Could you explain what you're trying to do? Are you trying to let a user login successfully, but then, based on a condition, change their identity?

[2017-05-05 01:52] WilliamWsyHK commented on #1178
Hmm... This is quite out of my expectation. In my point of view, should't it automatically load the claim for me when querying the IdentityRole? Or at least white down some docs for this behavior for now.

[2017-05-05 04:01] kodithuwa commented on #1170
Yes, what i have done,
Add identity RoleClaims for roles and that role assign to a user, when a user login to the system, we can check user claims in ControllerBase.User.Claims (System.Security.Claims.ClaimsPrincipal). but, claims can not be edited, it has only get method.
Is there any method to edit these claims ???

[2017-05-05 07:41] alexandranb opened #1184 "IdentityServer 4 , ASP.NET Core- Custom User Manager?"
Hello,

I have a problem with my app workflow process. I need to build an ASP.NET Core with IdS4 where all my clients and users are managed through an external API. I need to validate users and sing them into the app only using the API. My question is : do I need to have a custom user manager and retrieve in it all the users for password validation or can I just use the api to validate the pass an

[2017-05-05 13:51] jnegron357 opened #1185 "TaskCache inaccessible due to its protection level"
I downloaded version 1.1.1 and attempted to run the sample application but got several errors concerning the TaskCache. The errors were two kinds "TaskCache inaccessible due to its protection level" and "TaskCache does exist in the current context". Am I missing something? NOTE: I got the same result when I tried running the 1.1.2 version.

Platform Details:
VS 2017 Pro
Windows 7 Pro with Service

[2017-05-07 07:26] alataffective opened #1186 "Allow null UserName values"
To avoid potential enumeration of usernames, I want to set them only after the user has registered with, and confirmed their email address. Until the username is set, I would like it to be null.

As far as I can tell, to allow null usernames I have to provide my own implementation of `IUserValidator<TUser>`.

One way to do this, is to override `UserValidator<TUser>` (see https://stackoverflow.com/

[2017-05-08 13:41] alataffective commented on #1186
I see that SignInManager needs a username to sign in. Hence the username cannot be null after all? I guess one way to support the scenario I'm looking at is to have both email and username set to the same value (as is the case in the Visual Studio solution template) and have a separate name property entirely (e.g. DisplayName), adding separate validation for this.

[2017-05-08 15:58] HaoK commented on #1186
Yeah user name is assumed to be non null , adding a display name is better

[2017-05-08 16:49] danroth27 opened #1187 "ASP.NET Core Identity as a service"
Add a layer to ASP.NET Core Identity that exposes identity as a service.

This service should provide an opinionated and turn-key identity solution that enables customers to easily migrate to [Azure AD B2C.](https://azure.microsoft.com/en-us/services/active-directory-b2c/) The service should support flows for Web Apps and Web APIs as supported today by Azure AD B2C. Apps interact with the service

[2017-05-08 18:27] brockallen commented on #1187
When the title here says "service", do you mean an HTTP-based API on ASP.NET Identity, or is this issue just a general feature list for the already developed Azure on-prem STS as mentioned here: https://twitter.com/PinpointTownes/status/857772475400290306 and several times on the ASP.NET Community standup?

If it's an HTTP-based API on ASP.NET Identity, then I think this is a great feature! So man

[2017-05-08 18:38] danroth27 commented on #1187
This is only about adding limited OpenID Connect support to ASP.NET Core Identity that aligns with Azure AD B2C, not adding a broader HTTP API over all of ASP.NET Core Identity. Client apps use the standard OpenID Connect and OAuth 2.0 flows for interacting with ASP.NET Core Identity.

[2017-05-08 18:41] brockallen commented on #1187
So in short, this "service" is a package that implements OIDC and uses ASP.NET Identity internally to manage the identities, and this OIDC server will behave exactly as Azure B2C?

Is that a fair one-liner summary?

[2017-05-08 18:56] danroth27 commented on #1187
Yup, the goal here is to build an aligned identity story across in-app, on premise and cloud scenarios. We want to make it easy to migrate from ASP.NET Core Identity to using Azure AD B2C as a cloud identity service. That said, Azure AD B2C itself produces OIDC compliant messages and we will too, so you can just as easily decide to use any OIDC provider you want (like [IdentityServer4](https://ide

[2017-05-08 19:08] brockallen commented on #1187
While technically correct (and this also includes any other OIDC implementation), each has their own programming model, assumptions, and features. So just because they all do OIDC, it doesn't mean they all do the same thing or provide the same features for you or your security architecture.

So yes, thanks -- I think this clarification is helpful so people can make an informed decision.

[2017-05-08 22:13] PinpointTownes commented on #1187
Personally, the main concern I have is that the project names you've chosen are way too generic for what appears to be basically a limited "B2C emulator" (credits go to @leastprivilege for the name!) or an "on-premise B2C server". Why not adding the Azure(AD) moniker in the packages name if that's really what it is?

![image](https://cloud.githubusercontent.com/assets/6998306/25827422/73258fec-344

[2017-05-08 22:28] danroth27 commented on #1187
Yeah, we've considered putting B2C in the name to make this clearer, but then folks might think you're actually *using* B2C, when you're not using B2C at all.

We've definitely open to refactoring things so that they are more generally usable. Can you share more details on what factoring you'd like to see?

[2017-05-08 23:44] brockallen commented on #1187
Then call it B2C on-prem, or non-cloud B2C, or non-cloud Azure on-prem B2C or some such. If you give it a generic name, we'd not want people getting confused about what they were really getting. As we know, confusion on this platform is already at an all time high.

[2017-05-09 00:34] danroth27 commented on #1187
We're open to this. We just need to come up with a name that signals *alignment* with B2C, but not *usage* of B2C. Will discuss more after BUILD is over.

[2017-05-09 04:51] leastprivilege commented on #1187
B2C Emulator - isn't that what it is?

[2017-05-09 04:54] leastprivilege commented on #1187
Refactoring doesnt make sense to me. We certainly wouldn't use it - and you are not building a framework.

In spirit this is a closed source product. I mean - it needs to mirror the exact feature set of a closed source product. So why even open sourcing it?

[2017-05-09 06:01] danroth27 commented on #1187
There is still value in making the code open source. By making the code open source you can read the code, debug it, build it yourself, incorporate it in your own projects, contribute bug fixes, fill in feature gaps, etc. Not all open source projects will have or need to have an open ended community driven scope. Some projects may have a fixed scope, even a scope tied to a particular business stra

[2017-05-09 09:13] CMircea opened #1189 "Allowing duplicate emails results in email not being validated"
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/UserValidator.cs#L51'

ValidateEmail should be called regardless of RequireUniqueEmail. There should be a separate method that checks if the email is unique and only call that if necessary, but always validate the email address.

However, the better design is to make unique email validation a requirement for the UserStor

[2017-05-10 20:44] ch-hristov commented on #724
This is a huge problem with entity framework as you literally cannot retrieve the virtual properties.

[2017-05-10 20:46] ch-hristov commented on #724
And by the way this is in direct conflict with your implementation of Entity Framework! It's absolutely NOT CLEAR what is happening!!

[2017-05-10 21:52] Bartmax commented on #1187
when you say **much simpler** you meant this?

![image](https://cloud.githubusercontent.com/assets/3386797/25922999/d7599aaa-35b1-11e7-9839-b37cc4435692.png)

[2017-05-11 04:04] danroth27 commented on #1187
That's the identity code, which certainly isn't simple, but I was referring to the actual app code. The app code for most of our templates consists of a single HomeController with Index, About and Contact views. If you enable authentication today then a good chunk of the identity code gets intermingled with your app dwarfing the actual app logic. By separating out the app code into an area and wra

[2017-05-11 07:16] Bartmax commented on #1187
@danroth27 thanks for the reply and eager to see the improvements coming. Btw, speaking of "We are also looking at ways to package the controllers and views so they don't have to live in the template." This is something that would be useful for a lot of scenarios! Whatever option you enable or recommend that we developers can use is very welcome. I was waiting for something to do exactly that for

[2017-05-11 14:35] hubaozhang opened #1191 "How to combine the aspnetusers table and my current user table?"
My understanding is there are two functions for PasswordSignInAsync in SignInManager (sign in the user in using the user name and password): (1) verify the user name and password against the ones saved in the Aspnetusers table; (2) create sign in cookie.

I have my own user table, users. How to do combine the two tables? What are common practices?

[2017-05-11 15:56] danroth27 commented on #1187
We might do something targeted for the identity controllers and views (still under discussion), but if you're looking for a more general purpose solution you should check out the sweet modules framework the Orchard folks built on top of ASP.NET Core for Orchard Core: https://channel9.msdn.com/Shows/On-NET/Sbastien-Ros-Modular-ASPNET-apps

[2017-05-11 16:58] PinpointTownes commented on #1187
There's even a built-in OpenID Connect module designed by @jersiovic (that uses OpenIddict under the hood) :trollface:

@danroth27 any idea when the IdentityService repo will go public?

[2017-05-11 17:04] danroth27 commented on #1187
All the code for this feature will show up here in the Identity repo. We should have the first PR in place this week.

@javiercn @Eilon

[2017-05-11 23:10] PinpointTownes commented on #1187
@danroth27 I played with the new VS templates and it looks like there's now no way to create a Web API/APP using Identity (aka "individual authentication") without the B2C emulator, which is of course a real PITA.

Is there a plan to fix that?

[2017-05-12 00:41] danroth27 commented on #1187
What issues specifically are you running into? We want the app decoupled from its identity concerns by default so that you can easily swap to a different identity provider.

[2017-05-12 01:52] Bartmax commented on #1187
please don't and keep the discussion going.

With all the respect to Orchad and what they have implemented which indeed looks awesome. The need to reference two different packages, inject services, have a middleware running to get the concept of modules on an application may be fine but not to package a library with controller(s) and view(s). (As clearly is your scenario and many others).

I stron

[2017-05-12 01:57] PinpointTownes commented on #1187
That's also what I want. I don't want to have an embedded B2C emulator when I have actually no plan to use OIDC at all in my Identity-based app. There should be a new option the individual authentication dropbox offering you to create a "local B2C server".

[2017-05-12 16:01] danroth27 commented on #1187
@PinpointTownes We only plan to offer two options for authentication with individual user accounts: in-app or cloud. Having a third option would leave the user with a confusing choice. The use of OIDC for the in-app case has the benefit of allowing the user to easily swap out their identity provider and it is largely transparent to the user.

[2017-05-12 16:03] danroth27 commented on #1187
@Bartmax Whatever we do for identity for the controllers and views we will make sure it's something that anyone can do.

[2017-05-12 16:04] brockallen commented on #1187
In-app means the same as we have today in VS2017, right? Or if this only means you only allow the B2C emulator, then what about those projects that want to build their own STS using ASP.NET Identity?

[2017-05-12 16:04] PinpointTownes commented on #1187
Meh. It makes absolutely no sense to use a local OIDC server when you know you don't want to use a remote identity provider. What I want is a template similar to the existing Identity template (in VS 2017).

[2017-05-12 16:06] PinpointTownes commented on #1187
Nope. When you select individual authentication with in app users store, the B2C emulator is automatically added and you have no way to avoid that.

[2017-05-12 16:07] brockallen commented on #1187
Well, then, that's wrong. This is like saying you'd force the MVC template to only ran in Azure App Fabric.

[2017-05-12 16:25] danroth27 commented on #1187
Not at all! The only thing the app is tied to is a OpenID Connect (and a limited amount of OIDC at that). There is nothing in the template that is tied to B2C or any other Azure specific service. This means that you can easily switch to any OpenID Connect provider (like IdentityServer4 or OpenIdIDict). This setup allows for *more* choice, not less.

[2017-05-12 16:27] brockallen commented on #1187
But where's the ASP.NET Identity starter code? I guess I'm confused, and admittedly I have not installed any of the preview stuff yet.

[2017-05-12 16:30] PinpointTownes commented on #1187
There are many cases when you don't want to use an OIDC provider - local or remote. Embedding the B2C emulator, IdSrv, OpenIddict, ASOS or any other OIDC provider makes no sense when all you want is a simple application with cookies authentication and a local users database.

[2017-05-12 16:43] danroth27 commented on #1187
@brockallen All we are doing here is adding a layer to ASP.NET Core Identity that wraps it in OIDC (specifically the flows that Azure AD B2C supports). We then put all the ASP.NET Core Identity code in an area in the template and the app interacts with it through OIDC. If you later decide that you want to use a different identity provider (Azure AD B2C, IdentityServer4, OpenIdDict, etc) you simply

[2017-05-12 16:57] PinpointTownes commented on #1187
So your solution to that is to add much more code in the templates - @Bartmax's screenshot is eloquent - making the authentication flow way more complex for people who only need local authentication and don't want to use OIDC? Come on, you can't be serious.

I do understand why you're doing that from a business perspective, but **forcing** people to use your stuff by including it in the **base tem

[2017-05-12 17:22] PinpointTownes commented on #1187
Not really. Getting rid of the B2C emulator artifacts is way more annoying:

  - You have to move the models/views/view models/controllers from the IdentityService area folder to the root project.
  - You have to manually remove the area folder.
  - You have to remove the related extensions in the `Extensions` folder.
  - You have to merge the two `AccountController`.
  - You have to rename and up

[2017-05-13 18:43] mcquiggd commented on #1187
Just wanted to reinforce what I believe @PinpointTownes is asking at several points (please correct me if I am wrong):

A1. Scenario: I have already built my own system comprising IdentityServer / Openiddict. I use ASP.Net Identity exposed via my own UI / Web API. Or, I use it directly within my application.

A2. Desire: I want to treat ASP.Net Identity as a component I can wrap with whatever inte

[2017-05-14 18:58] scttstrck opened #1194 "Add the ability for getting users having a type of claim"
The UserManager exposes the method GetUsersForClaimAsync(Claim claim).
This method takes a claim and returns a list of users with that claim.
Sometimes it is needed to find all users by a specific claim type, ignoring the value.

A method like GetUsersForClaimTypeAsync(string claimType) would be great.
It would need to be added to the IUserClaimStore<TUser> interface, and thus the UserStore(s) too

[2017-05-14 20:30] cesher commented on #1187
At this point in time the appeal of ASP.NET Core is that it is open source, cross-platform and friendly to startups and small application developers. Azure AD B2C on the other hand is not open source, has a tremendously slow release cycle, lacks many features (some of the more important ones are on private preview now, announced at build) and is incredibly expensive.

I'm sorry, but when you compa

[2017-05-14 22:46] Bartmax commented on #1187
This is not about which OIDC provider is chosen on the templates, pretty sure everyone agree that having B2C as default with a simple "replace point" it's perfect.

The point here is about when you don't want OIDC at all. That's why you have Windows Auth, cookies is just as good as any other option and every option is aimed to solve different scenarios. Current templates lacks the ability to have

[2017-05-15 13:12] mcquiggd commented on #1187
@Bartmax

Personally I wouldn't want that at all... I wouldn't want the **default** to be for an expensive paid service.

Keep the current options and add another for Azure B2C.

[2017-05-15 14:42] PericlesSouza commented on #1187
+1  for @brockallen continuing Membership Reboot.

We need options, choice of membership. Identity Server and OpenIddict are far more attractive than very expensive Azure B2C. It is just not commercially viable for many people.

[2017-05-15 15:57] danroth27 commented on #1187
@PericlesSouza We completely agree! This feature adds OpenID Connect support ASP.NET Core Identity in a way that *aligns* with Azure AD B2C, but it doesn't use or rely on or use Azure AD B2C at all. By using OpenID Connect you can then easily update your app to use any identity provider you want, including IdentityServer or OpenIdDict. You have complete control over which identity provider you use

[2017-05-15 16:03] danroth27 commented on #1187
Yup, no extensibility was removed by adding this feature and no dependency was introduced on Azure. We are simply adding OIDC support in a way that makes it easily to migrate to our Azure identity services or any OpenID Connect provider that you want. For folks that don't want OIDC support at all you can still use ASP.NET Core Identity to do forms based cookie authentication like you always have b

[2017-05-15 16:12] PinpointTownes commented on #1187
Not without having to manually remove your "identity service" thingy from the default templates. And it's a total PITA: https://github.com/aspnet/Identity/issues/1187#issuecomment-301136216

[2017-05-15 17:49] Looooooka opened #1195 "Duplicate foreign keys"
[code]

running add-migration Initial -c IdentityServer.Database.DbContexts.IdentityServerDbContext

produces the following garbage:

[code]
any idea how to force it to use "UserId" only on stop duplicating those UserIds?

Same problem with UserRoles

[2017-05-15 20:05] danroth27 commented on #1187
We want to make the OIDC support as transparent as possible to the point where, for most users, it should be an implementation detail. We can also improve the template so that removing the OIDC stuff is more painless for folks that want that (ex. we're already in the process of removing of all the code in the temporary Extensions folders).

[2017-05-15 20:21] PinpointTownes commented on #1187
It really sounds like you're trying to force people to use your OIDC server (otherwise you'd accept offering a default template without any OIDC stuff, just like in VS2015/2017).

[2017-05-15 20:45] danroth27 commented on #1187
We're really not trying to force anyone to do anything. We're trying to decouple apps from ASP.NET Core Identity so that you can choose whatever identity provider you want. We're doing this by wrapping ASP.NET Core Identity in standards complaint service endpoints. By decoupling identity from the app in this way you can then switch to whatever OpenID Connect provider you want whenever you want to.

[2017-05-15 20:56] PinpointTownes commented on #1187
If you're so sure people will want that, why not offering a way to opt out (using a checkbox?) for those who don't want to use OIDC? :smile:

[2017-05-15 21:09] Ketrex commented on #1187
This seems disingenuous when you describe the issue you're trying to solve as:

This doesn't imply flexibility in the Identity service as the goal, but rather, a push/promotion for Azure AD B2C.  It definitely flies in the face of the open and composable goals of ASP.NET Core up to this point.

[2017-05-15 21:26] danroth27 commented on #1187
@ketrex  I can understand how that statement was a bit confusing, so I've updated the issue description to say "easily migrate to Azure AD B2C, or any other OpenID Connect provider". Obviously we would love for you to use our Azure services and we will ensure, but there is nothing that constrains you to do so. Use whatever provider you'd like.

[2017-05-15 21:29] Ponant commented on #1187
@danroth27 , what is difficult is that the user needs to decrypt the code to understand it. The template in ASP.NET 2.0 Preview 1 shown above is too abstract, which is the price to pay for the decoupling you mention. While I think the idea is nice, it would help to point to a short tuto that goes through the code (a 20 min video would be best perhaps as this is a preview). Cheers

[2017-05-15 21:36] danroth27 commented on #1187
@Ponant Absolutely! You can see the template in action at the end of the [Introducing ASP.NET Core 2.0](https://channel9.msdn.com/events/Build/2017/B8048) BUILD talk, but we will work on putting together a more complete walkthrough in the weeks ahead as the template code settles.

[2017-05-15 21:44] Ponant commented on #1187
@danroth27 , I saw this video a few days ago but that was not enough me except in getting a general idea. The problem with abstraction is that you lose the basics of understanding code, namely follow a method which calls another method etc (I may be too old for that ;) ). I would rather go for something like Adam Tulliper did once https://mva.microsoft.com/en-US/training-courses/customizing-aspnet

[2017-05-15 21:47] danroth27 commented on #1187
@Ponant Yup, totally agree. I'll shoot for getting something out by early June.

[2017-05-15 21:49] danroth27 commented on #1187
The initial code for this feature is now [checked in](https://github.com/aspnet/Identity/commit/c7567f9f74014690ca672d09b8c9748b9d740bc1), so I'm going to go ahead and close this issue. However, please feel free to continue to comment if you have further questions. Even better, give the [ASP.NET Core 2.0 Preview 1](https://microsoft.com/net/core/preview) bits a spin and let us know what you think!

[2017-05-15 21:49] #1187 closed

[2017-05-15 22:38] PericlesSouza commented on #1187
So after all these comments, the only change is the words describing what you have done.

There was not much point in allowing discussion if you do not listen. This is the biggest problem with all Microsofts "open source" efforts.

If you want people to use your B2C product, lower its price to something less _insane_. Herding customers into using it will not work.

[2017-05-15 22:44] luisgizirian commented on #1187
With a separation as a Service, it seems to me that more complex scenarios are getting into the Identity equation. So, I ask again if support on Mutitenancy (TenantId<T> into AspNetUsers table) is still out of reach. Please refer to #1047 & #266.

SaaS apps were neither AzureAD nor IdentityServer are a fit, would greatly benefit of this construct right from the library itself.

Thanks!
Luis

[2017-05-16 02:54] ngohungphuc commented on #832
Put this in Startup.cs file
[code]
Create a helper class like this
[code]

[2017-05-16 04:55] danroth27 opened #1198 "Consider renaming the Identity.Service packages"
Rename to avoid confusion with IdentityServer
Also make clearer the alignment with Azure AD B2C (without implying a dependency on it)

[2017-05-16 04:59] danroth27 opened #1199 "Simplify setup of ambient claims by providing defaults"

[2017-05-16 05:00] danroth27 opened #1200 "Find a place for the ClientInfoProvider"

[2017-05-16 05:02] danroth27 opened #1201 "Find a place for everything in the identity area Extensions folder"
Basically all this stuff in the templates needs to move into this package:

https://github.com/dotnet/templating/tree/rel/vs2017/3-Preview2/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/Areas/IdentityService/Extensions

[2017-05-16 05:03] HaoK commented on #1198
Identity.AzureAuthentication?

[2017-05-16 05:13] danroth27 commented on #1187
@PericlesSouza It certainly wasn't the intent to ignore any feedback. We've been monitoring this issue closely and I've also opened the following issues to track the other feedback we've heard. If I missed something please do let us know:
- Consider renaming the packages to make clear the alignment with Azure AD B2C. We are open to this, but we want to avoid causing confusion where people think th

[2017-05-16 05:19] danroth27 commented on #1187
@luisgizirian Unfortunately, I don't believe we have any new plans around multitenancy. However, the Orchard folks have been hard at work on [Orchard Core](https://github.com/OrchardCMS/Orchard2) and they have multitenancy support built-in.

[2017-05-16 06:20] leastprivilege commented on #1198
B2C-Emulator

[2017-05-16 07:10] Ponant commented on #1198
B2C-Emulator is a very confusing naming. I find that IdentityService is hardly confused with IdentityServer, somehow.

[2017-05-16 07:18] Ponant commented on #1198
You can use IdentityService with IdentityServer

[2017-05-16 17:56] thiennn opened #1203 "Add navigation properties to IdentityUserRole"
Is it possible to add 2 navigation properties

[code]

So that we can join them easier.  For example I want to write a EF query to get a list of user together with their roles.

[2017-05-16 23:31] luisgizirian commented on #1187
@danroth27 That's a deal-breaker for us.

We're a proprietary SaaS platform supporting multiple websites for our customers . We're stuck into ASP.NET Identity v.2 (with multi-tenancy addition). We have already +50K users among our tenants (sites with customers of our customers). We shall decouple from v.2 Identity (while keeping existing passwords) to allow our code base to evolve an be upgraded t

[2017-05-17 04:33] jersiovic commented on #1187
@luisgizirian I don't think @danroth27 would mean you should move to OrchardCore, simply that you can look on it to see how multitenancy was solved to bring ideas to your platform. So, instead of forcing others to have a tenant id in user table that maybe we don't want to use, you could adapt to what exists using
a different user table per tenant.

[2017-05-17 07:18] weitzhandler commented on #1042
@blowdart
Those examples use EFCore. The OP was referring to EF6, which is my question as well. And in short, how do I implement a `UserStore<User, TKey>` untied to EF7.

[2017-05-17 09:58] weitzhandler opened #1204 "Remove restriction to user UserManager<TUser> and RoleManager<TRole> directly"
Hi,

Currently, there is an exception [thrown](https://github.com/aspnet/Identity/blob/master/src/Microsoft.AspNetCore.Identity/IdentityBuilder.cs#L179) if the UserManager isn't assignable from the custom type, this means that you can't specify `  app.AddUserStore<UserStore<User>>()` but you rather need to subclass it, and call `app.AddUserStore<AppUserStore>` when `AppUserStore` inherits from `Us

[2017-05-17 10:30] weitzhandler commented on #416
@HaoK
The problem is there are zillion of implementations with not a single one even recommended officially. You don't want to implement one yourself that's fine, please at lease recommend one officially.

[Here](https://gist.github.com/weitzhandler/9f5871e82d201f45bbcd3d3ab29bafc8)'s my small wrapper.

[2017-05-17 16:36] danroth27 opened #1205 "Proof of key for code exchange"
https://tools.ietf.org/html/rfc7636

This is a security feature that prevents authorization code interception attacks. It's supported by MSAL.

[2017-05-17 16:52] danroth27 opened #1206 "Integrated Web API client"
In order for you to use JWT bearer tokens with Identity, you need to configure the JWT bearer settings to know which singing key to use to validate the tokens. We optimize this today to avoid an HTTP client call for this but it is in the actual Web API project template. This work would factor that into the framework so that the template just needs to call that code.

[2017-05-17 16:52] danroth27 opened #1207 "App management UI"
To be able to use ASP.NET Core Identity for multiple apps you need to be able to manage the registered apps with some sort of UI:
- List, edit, remove, add registered application
- List, edit, remove, add redirect URIs
- List, edit, remove, add scopes
- Generate client secrets

This UI will ship as part of the templates.

[2017-05-18 00:56] HaoK opened #1208 "Enable schema changes in a non breaking way (IdentitySchemaOptions?)"
Something like this in the EntityFrameworkCore package:
[code]

We'd consume this in the DbContext options.  We still would need to rationalize this with enabling the manager functionality, as the managers won't be able to check these options (it uses interface implementations on the store today)

Needed for https://github.com/aspnet/Identity/issues/1121, we should look at this early in preview3

[2017-05-18 07:43] Ponant opened #1209 "proposal for Discussion on ASP.NET Identity Core 2.0"
Hi @danroth27 et. al.,
I thought extensively about ASP.NET Identity and how it should look like for the benefit of all. I also took into account the new Identity Service in 2.0, see https://github.com/aspnet/Identity/issues/1187, and I tried to see the whole picture from a certain distance to come to a conclusion that I want to share with you.

What follows is the perspective of someone who is new

[2017-05-18 11:28] xrkolovos opened #1210 "Calling AddLoginAsync i get Ef Exception"
Calling AddLoginAsync in ExternalLoginConfirmation i get this error.

[code]

my code in line 364 is
[code]

[2017-05-18 17:14] ajcvickers commented on #1208
@HaoK Couple of questions:
- Current POR is to get all feature work done in preview2. Not sure we can bump this past then. @Eilon?
- Do we need three flags? How likely is it that people need to switch on one but not another? (Three flags increases the schema combinations and the test matrix a lot.)

[2017-05-18 18:06] HaoK commented on #1208
I was just using the flags as an example, the idea is over time we'd continue to add to this option to keep enabling additional schemas (or we could just use a version instead and increment it along with our major versions instead of trying to do it by feature, maybe that's easier.

IdentitySchemaVersions enum (v1.0, v2.0, v2.1 etc)
IdentitySchemaOptions.Version = v2.0, and then we'd just have dif

[2017-05-18 18:12] ajcvickers commented on #1208
Version might be reasonable and simpler. @divega?

[2017-05-18 18:14] HaoK commented on #1208
There's still a greater problem here though, this doesn't really work with how the manager expects to interact with stores, as its using whether the stores implement a particular interface or not to determine if methods should throw or not...

[2017-05-18 18:15] HaoK commented on #1208
I think this is why we eventually gave up on non breaking schema changes before

[2017-05-18 18:53] HaoK commented on #1208
Ok I think I have something that will work

   new EF specific IdentitySchemaVersion (v1.0/v2.0)
   new EF specific IdentitySchemaOptions to set the version so IdentityDbContext's OnModelCreating can do the right thing
   New `AddEntityFrameworkStores(version = v1.0/v2.0)` overload will add the corresponding version of the stores that implement the appropriate interfaces, so we'll have a UserStore

[2017-05-18 19:40] brockallen commented on #1208
Are you suggesting to add options to the core library to accommodate the EF library that implements the extensibility points?

[2017-05-18 19:44] ajcvickers commented on #1208
@HaoK Sounds reasonable. @javiercn and @danroth27: does the overload of AddEntityFrameworkStores work for you to switch this on in the templates?

[2017-05-18 19:45] brockallen commented on #1208
Also, this auth_time claim is not something needed to be stored in the DB -- it'd a claim that's issued for the current cookie to indicate the time at which the user authenticated (meaning provided proof of identity).

[2017-05-18 19:46] brockallen commented on #1121
BTW, @danroth2 , you could simply do this in the login page.

[2017-05-18 19:52] HaoK commented on #1208
@brockallen no all of the things discussed here are Identity.EntityFrameworkCore specific things.  None of these are concerns for core identity

[2017-05-18 19:52] brockallen commented on #1208
Right, I caught that after I commented. I updated my comment after.

[2017-05-18 19:53] HaoK commented on #1208
We will need to decide what the existing AddEntityFrameworkStores() that doesn't specify a version does... does that always mean latest?  Or does that always mean 1.0?

[2017-05-18 19:56] HaoK commented on #1208
@brockallen we've seen a significant amount of friction historically from migrations, so forcing migrations on upgrade is something we've learned to try to avoid (and make it opt in for existing users), but on by default in templates that need the new functionality.

[2017-05-18 19:57] ajcvickers commented on #1208
@HaoK It has to mean 1.0 or it will still be breaking for existing applications. But we should update the templates to use the latest so new applications will get all the latest features by default.

[2017-05-18 20:05] HaoK commented on #1208
Should we add something like AddEntityFrameworkCoreLatest() to always mean latest then?

[2017-05-18 20:06] HaoK commented on #1208
Templates wouldn't use this, but I still imagine its useful to be able to consistently ask for the latest always (migrations and all)

[2017-05-18 20:07] ajcvickers commented on #1208
@HaoK Create an issue for it--it's not urgent, but agree it could be useful.

[2017-05-18 20:09] HaoK commented on #1208
Well, I can just add it as part of this PR, we'd want to use this overload for most of the tests anyways

[2017-05-18 20:16] brockallen commented on #1208
sounds like unnecessary complexity. you know the old phrase "complexity is the enemy of security", right? oh well, we'll see how it turns out.

[2017-05-18 20:37] javiercn opened #1211 "Support signing certificates from key vault"
Support retrieving the signing certificates from key vault

[2017-05-18 20:37] javiercn opened #1212 "Add a sample using identity with applications and the integrated client"

[2017-05-18 20:46] javiercn opened #1213 "Add support for Proof Key for Code Exchange"

[2017-05-18 22:43] Eilon opened #1214 "Identity Register/SignIn with v 2.0.0-preview1-final doesn't work right"
_From @livarcocc on May 16, 2017 18:6_

_From @vRITHNER on May 16, 2017 11:42_

## Steps to reproduce

- From VS2017 preview, create new dotnet web mvc -auth  Individual
- F5 to Debug
- From SignIn page, register new Account
- Click Register

## Expected  behavior
Create account
Redirect to Home signed

## Actual behavior
[code]

Return url:
`http://localhost:5001/tfp/IdentityService/signinsignup/

[2017-05-18 22:43] Eilon commented on #1214
cc @javiercn FYI

[2017-05-18 22:44] Eilon opened #1215 "Identity Signout with v 2.0.0-preview1-final doesn't work right"
_From @livarcocc on May 16, 2017 18:5_

_From @vRITHNER on May 16, 2017 11:31_

Hi,

## Steps to reproduce
[code]

## Expected  behavior
returnUrl  to Home/Index not signed

## Actual behavior
[code]

## Environment data
.NET Command Line Tools (2.0.0-preview1-005977)

Product Information:
 Version:            2.0.0-preview1-005977
 Commit SHA-1 hash:  414cab8a0b

Runtime Environment:
 OS Name:

[2017-05-18 22:44] Eilon commented on #1215
cc @javiercn FYI

[2017-05-19 23:25] danroth27 opened #1220 "Resolve the impedance mismatch between different option types"
Currently the integrated web client uses IOptions<OpenIdConnectOptions>() to configure the services required for the integrated web client redirect uri replacement. This causes problems as the security middleware uses IOptionsSnapshot<OpenIdConnectOptions>. The implication of this is that any change performed after the first time IOptions<OpenIdConnectOptions> get computed.

For the integrated web

[2017-05-19 23:28] danroth27 opened #1221 "Remove IConfiguration parameter from UseDevelopmentCertificateErrorPage"
You currently have to pass in an `IConfiguration` to `UseDevelopmentCertificateErrorPage`, but it doesn't look like it is used for anything.

[2017-05-19 23:28] danroth27 opened #1222 "Consider selecting the signing certificate based on the time left of the expiration of the first certificate"
We currently select the first certificate in our list of certificates (which is conveniently ordered) for signing tokens.
However this has the slight change of signing a token with a credential that will expire sooner than the expiration time of the token. For example
Signing certificate expires in 30 minutes.
Token to be signed has an expiration of 2h.
This means that for 1h:30 the token would be

[2017-05-19 23:29] danroth27 opened #1223 "Consider adding more validation in token creation"
_From @javiercn on April 26, 2017 17:43_

When we create a token (The logical representation, not the serialized version)
We validate the arity of the set of passed claims.
(We ensure that some claims are unique and present, we ensure that some claims are unique when present and we ensure some claims are present).
However, all the checks that we perform on a claim are independent of the presence o

[2017-05-19 23:29] danroth27 opened #1224 "Generate default issuer"
You have to configure the issuer today. The configuration endpoint should generate a default issuer based on where the app is hosted. Configuring a specific issuer would override the default.

[2017-05-19 23:30] danroth27 opened #1225 "Consider moving away from EpochTime in favor of ToUnixTimeSeconds()"
_From @javiercn on April 19, 2017 17:4_

ToUnixTimeSeconds is the .NET Framework implementation and it's available on all our TFMs.

_Copied from original issue: aspnet/IdentityService#62_

[2017-05-19 23:31] danroth27 opened #1226 "Add clock skew to options"
_From @javiercn on April 19, 2017 16:25_

Add clock skew to options and take it into account when we calculate validity periods.

_Copied from original issue: aspnet/IdentityService#61_

[2017-05-19 23:32] danroth27 opened #1227 "Versioning strategy"
_From @javiercn on March 7, 2017 0:26_

What is our plan for versioning across the wire?
We should talk about what we'll do for:
Token format changes.
Request/Response changes.
Token content changes.
Database schema changes.

_Copied from original issue: aspnet/IdentityService#31_

[2017-05-19 23:32] danroth27 opened #1228 "Add support for confidential clients"

[2017-05-19 23:32] danroth27 opened #1229 "Normalize values that we use for comparisons in queries"
_From @javiercn on February 28, 2017 20:49_

We should normalize values that we use in queries to the database unless we need to do a case sensitive comparison.

For case sensitive comparisons we should perform the database query and then repeat the case sensitive comparison in C# as we don't know what the options are for the different databases out there.

_Copied from original issue: aspnet/Iden

[2017-05-19 23:33] danroth27 opened #1230 "Consider support for other grant types in TokenRequestFactory"
_From @javiercn on January 25, 2017 22:3_

We currently support authorization_code and refresh_token as consent grants. We might want to consider future support for other oauth 2.0 grant types like client credentials or resource owner credentials, which might require tweaks in the design of TokenRequestFactory.

_Copied from original issue: aspnet/IdentityService#9_

[2017-05-19 23:58] danroth27 opened #1231 "Fix JsonTextWriter usage if necessary"
MVC had the following issue filed:
aspnet/Mvc#5413

Json.Net 10.0.1 has a property on JsonTextWriter which fixes this
http://www.newtonsoft.com/json/help/html/P_Newtonsoft_Json_JsonWriter_AutoCompleteOnClose.htm

IdentityService currently uses text writer in a few places. Check if these locations need to be fixed too.

[2017-05-20 00:00] danroth27 opened #1232 "Always return the granted scopes in authorize and token responses"
While not technically required when all scopes have been granted, MSAL expects all the scopes to be returned in these responses.

[2017-05-20 00:02] danroth27 opened #1233 "Use Async suffix for async methods"
IAuthorizationResponseParameterProvider.AddParameters
ITokenResponseParameterProvider.AddParameters

[2017-05-20 00:03] danroth27 opened #1234 "Consider enriching client validation interfaces"
These interfaces essentially return booleans. We should consider returning result types instead so that we can be more descriptive about why a specific validation failed or to provide extra information based on the validation.

[2017-05-20 00:05] danroth27 opened #1235 "Provide Sign-in & Sign-up UI that works with MSAL in native clients"
Looks like the browser used by MSAL for native clients (like WPF) is a bit of an antique (IE7 or something similar). We will need to make sure our sign-in & sign-up UI works in this scenario.

[2017-05-20 18:28] BenjaminCharlton opened #1236 "Is it possible to use ASPNET Core Identity and still have completely persistence agnostic controllers?"
Hello again!

I have been struggling with this problem for weeks now. Maybe somebody here can tell me the proper way to do it (or confirm that it's impossible so I can give up!).

I would like to use ASP .NET Identity and Entity Framework but I would like my controllers to be completely ignorant of persistence frameworks.

As the `IdentityUser `class (and `IdentityRole `etc.) reside inside `Micros

[2017-05-21 06:27] manishsingh2061 commented on #1081
this link has a solution
http://simplyaspnet.blogspot.in/2017/05/problem-if-you-open-orcreate.html

[2017-05-21 10:04] HaoK commented on #1236
You should be able to do this in 2.0 via this PR https://github.com/aspnet/Identity/pull/1188, prior to this , to use the any of the EF Core stores you had to derive from the pocos that lived in the EF Core package.

[2017-05-21 10:05] HaoK commented on #1236
Dupe of https://github.com/aspnet/Identity/issues/883

[2017-05-21 10:05] #1236 closed

[2017-05-22 17:04] ajcvickers commented on #1153
@HaoK Can you bring back Normalize in the next couple of days so we can see if the issue is fixed? If not, we need to follow up to get the fix in for 2.0.

[2017-05-22 17:06] ajcvickers commented on #1153
See also #1149

[2017-05-22 22:10] HaoK commented on #1153
e594854cd28dfe89bc87606d9c49a2a99a1700d0

[2017-05-22 22:10] #1153 closed

[2017-05-23 03:41] Ibro opened #1239 "Updating Default DbContext in MVC Individual Accounts auth template"
how do I run migrations once I update dbcontext and models?
I created default MVC app with auth for individual accounts. I added some models in IdentityServiceDbContext and tried to add the migration.

Running
`dotnet ef migrations add Initial`

produces the following error:

[2017-05-23 12:12] BenjaminCharlton commented on #1236
Hi @HaoK ! Thanks for your response. I look at your page #1188 and I think it would really help me out to have it that way. Great job!

I am trying to use your fix in my project but I can't find the Microsoft.Extensions namespace that you mentioned. This is a screenshot of the namespaces I see on your page. Can you guide me what I need to do to use your improvements in my project please? I would r

[2017-05-23 15:55] HaoK commented on #1236
It'll be in preview 2, the changes haven't been pushed publicly yet, but they will this week

[2017-05-23 18:57] HaoK commented on #651
e6f3ebf5810c793edc6f3b4ca3438194786b86a2

[2017-05-23 18:57] #651 closed

[2017-05-23 18:58] HaoK commented on #883
e6f3ebf5810c793edc6f3b4ca3438194786b86a2

[2017-05-23 18:58] #883 closed

[2017-05-23 22:28] badre429 commented on #1207
Create REST endpoints for  management over webapi its more sample to integrate with SPA application

[2017-05-24 05:19] vRITHNER opened #1241 "Can't find a sample with roles authorization"
From VS2017 preview, I created new Web App Mvc 2.0.0-preview1-final and Authentication Individual
![image](https://cloud.githubusercontent.com/assets/238842/26387728/13ad91a2-4050-11e7-971c-7a366d1906d2.png)

I need to manage Roles authorization in my own Controllers
I added Roles records ("Admin","User") and Users Roles etc. in the Sql Db.
When I try to add` [Authorize(Roles = "Admin")]` in one o

[2017-05-24 06:07] BenjaminCharlton commented on #1236
Thanks @HaoK! I shall look forward to that.
Best regards
Benjamin

[2017-05-24 13:42] Bartmax commented on #1187
What a lie, created a new project and tried to swap to another provider... it's just imposible.
After that I did create new blank app, and got auth stuff done in like 15 minutes.

@danroth27  The definition of  the word **easy** that you use in every comment on this issue is not what you think it is.

As sincere as possible, I think the new auth template it's useless/confusing/complex (at least fo

[2017-05-24 14:01] danroth27 commented on #1187
@Bartmax It's certainly not impossible. If it helps, take a look at my [IdentitySwap](https://github.com/danroth27/ProjectConstruction/tree/master/IdentitySwap) sample that's preconfigured to allow you to swap between local ASP.NET Core Identity, Azure AD B2C, and IdentityServer4 for sign in by changing a single line of code. This is the same demo app I used at BUILD. There's certainly plenty of r

[2017-05-25 22:26] muratg opened #1243 "Usermanager.GetuserAsync and User.IsInRole don't work with v. 2.0.0-xxxxxx"
_From @vRITHNER on May 23, 2017 14:23_

Hi,

I don't know if I'm in right repo to speak about that but with 2.0.0-preview1-final
my web mvc app with identity individual
` services.AddIdentityServiceAuthentication();`

with 1,1.0, my controller or view used a method:
`await _userManager.GetUserAsync(User);` to get user properties

with 2.0.xxx
please find attached the result in the capture:

![imag

[2017-05-25 22:26] muratg commented on #1243
_From @Tratcher on May 25, 2017 19:3_

@HaoK @javiercn

[2017-05-25 22:26] muratg commented on #1243
_From @javiercn on May 25, 2017 19:33_

@danroth27

[2017-05-26 01:40] #1098 closed

[2017-05-26 08:05] vRITHNER commented on #1243
Authorization attributes like ex: [Authorize("Admin")] also ? because I can't make it work

[2017-05-26 11:11] brockallen commented on #1098
IIRC, according to @blowdart that's not supported.

[2017-05-26 15:28] shoe788 commented on #1146
This is really inconvenient. In identity 2.0 we got `TKey : IEquatable<TKey>` added as a generic parameter on `Usermanager`, `IUserStore` and others. Why the step back?

[2017-05-26 16:01] HaoK commented on #1146
Generic support is still there, but its no longer needed on the core identity apis, its a concern only of your store, the EF UserStore implementations still have TKey.

[2017-05-26 16:30] shoe788 commented on #1146
Sorry, I'm not following. I dont see it [here](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.Extensions.Identity.Core/IUserStore.cs), for example

[2017-05-26 16:32] HaoK commented on #1146
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs

[2017-05-26 16:52] shoe788 commented on #1146
Internally though you hit the same inconvenience. IUserStore expects a string for Id and that implementation has `ConvertIdFromString` to solve that issue. UserManager then still returns `string` which requires a convert back to `int`, `long` etc.

[2017-05-26 22:11] HaoK commented on #1208
be8232d3f9c7a312314ab42dfe37047ec3b16665

[2017-05-26 22:11] #1208 closed

[2017-05-26 22:16] HaoK opened #1244 "Support concept of ClientApplication in identity core"
Should try to roll that into the 2.0 schema and eliminate the Microsoft.AspNetCore.Identity.Service.EntityFrameworkCore

This would likely look something like:
`Microsoft.Extensions.Identity`:
+ `ClientApplicationManager`, `IClientApplicationStore`

`Microsoft.Extensions.Identity.Stores`:
+ `IdentityClientApplication`, `IdentityClientApplicationClaim`, `IdentityClientApplicationScope`, `IdentityCl

[2017-05-26 22:44] HaoK commented on #1121
The underlying feature for identity to track sign activity is here be8232d3f9c7a312314ab42dfe37047ec3b16665

You will need to opt into 2.0 via AddEntityFrameworkStoresV2/Latest()

[2017-05-27 13:58] brockallen commented on #1244
What about scenarios where customers don't want their own token service and just want an identity database? Shouldn't all this config for the onprem B2C be in a separate DB and corresponding config system? // @danroth27

[2017-05-27 17:23] HaoK commented on #1244
Its no different than roles, today you can mark them as ignored in the model and just don't use the new manager, similar to what I'm sure you are doing with roles :)

[2017-05-27 17:24] HaoK commented on #1244
you can also just stick to IdentityStoreVersion1 which won't have any of the new stuff

[2017-05-27 17:25] PinpointTownes commented on #1244
@HaoK what's the problem with having these entities - specific to the B2C emulator - in a separate package?

[2017-05-27 17:29] HaoK commented on #1244
I'd like to address the underlying issue more directly which we've struggled with for a while anyways (how do we start adding features + schema in an optional way and let people opt out of specific schema/functionality).  If we solve that, there shouldn't be as much of an issue right?  You won't get any of the conflated stuff unless you ask for it via something like `AddEntityFrameworkStoresLatest

[2017-05-27 17:46] PinpointTownes commented on #1244
The problem is not adding new features nor modifying the DB schema (1), it's adding the "identity service" entities directly in the Identity core components, adding totally unnecessary tables for people that don't plan to use the B2C emulator.

I know the Azure folks are pushing hard to add their "Trojan horses" everywhere in ASP.NET Core to promote their stuff (e.g ApplicationInsights, that you c

[2017-05-27 18:02] HaoK commented on #1244
Yeah so this is a bit similar to IdentityRoles, there's a bunch of people that will never use the RoleManager similarly. So it's still going to be 'additive' in that it doesn't affect UserManager.  There will be a new manager/store which will shield any 'taint' into existing identity APIs.  The only bleed will be in the default EF implementation/schema, which has versioning now, so if you don't wa

[2017-05-27 18:07] brockallen commented on #1244
These are two different features: Identity database and token service database. It's like saying let's put Program.cs and Startup.cs all into a single file. Oh wait...

Anyway, it does affect people even if they don't use the APIs -- it's non-trivial to not use the EF stuff out of the box and thus my DB gets polluted with all these "additive" features that are unused.

[2017-05-27 18:22] PinpointTownes commented on #1244
Except roles have a real use in the core components: you can register them using the role manager, associate them to profiles via the user manager ; they are automatically added in the app authentication cookie and they can be retrieved from user code to define authorization policies.

If you add the "identity service entities" in the core components, they'll have absolutely no use.

So the soluti

[2017-05-27 18:40] PinpointTownes opened #1245 "Consider updating IdentityUserClaim to store the claim value type"
https://blogs.msdn.microsoft.com/webdev/2016/10/27/bearer-token-authentication-in-asp-net-core/

[2017-05-27 18:41] PinpointTownes commented on #1245
In the same vein, I suppose the issuer could also be stored.

[2017-05-27 18:45] HaoK commented on #1244
There's no concept of store versioning in core identity, this is an implementation detail for the EF store.  The base IdentityStoreOption lives in Microsoft.Extensions.Identity.Stores which you can think of as the opinionated helpers (that the default EF UserStore derives from and uses).  non-EF identity stores can continue having a single version no?  This madness is only needed if you want to en

[2017-05-27 18:51] PinpointTownes commented on #1244
Only if there are no "breaking changes" between versions (e.g a table or a property name change, or a property type change). Is this something you can guarantee?

One thing I don't understand is why you have to support the 1.0 schema in 2.0 (for the EF provider). Why not providing a migration script/class to make the necessary changes in the DB?

[2017-05-27 18:55] brockallen commented on #1244
Unfortunately, EF migrations have never been and aren't currently designed for library authors, as they are provider specific.

[2017-05-27 19:18] HaoK commented on #1244
Tables are an implementation detail for the stores themselves no?  Traditionally we only add things via IUserXyzStore interfaces in core.  But long story short for stores that aren't trying to reuse the default EF implementations, nothing has changed.

Things will be a bit more interesting going forward as I'm going to have to version things in the new Microsoft.Extensions.Identity.Store package

[2017-05-27 19:25] PinpointTownes commented on #1244
Doh, really? I thought the migrations stack was supposed to be decoupled from the actual relational provider and that things like `IMigrationsSqlGenerator` - implemented by the providers - were there to deal with the actual migration queries?

Yeah, "table" was not the appropriate word, I meant "type"/"entity". Stores that depend on the CLR generic entities from `Microsoft.Extensions.Identity.Stor

[2017-05-27 19:34] HaoK commented on #1244
Yeah so depending on anything in Microsoft.Extensions.Identity.Stores will be subject to the many of the versioning issues that the EF default implementation has.  The current existing path still is valid though, which is derive from UserStore which matches staying on the latest train.  Most of this complexity is there so people can stick to a specific version and not be broken...

The new pattern

[2017-05-27 19:48] PinpointTownes commented on #1244
I suppose even that would break ORMs like EF6, that don't like when new properties are added :cry:

I still don't get why it's preferable to the "database migration" path. A schema change is no different from a API/contract change. Folks who migrate to 2.0 should also migrate their DB to be compatible with 2.0 (using migration scripts or by manually applying the needed changes if they use a provid

[2017-05-27 19:59] giggio commented on #883
Good job, everyone, as soon as preview 2 is out I will try this out. Thanks!

[2017-05-27 20:02] HaoK commented on #1244
Historically the 'database migration' path has been rocky, the intent is so folks can control when they want to migrate, as opposed to requiring migrations which tends to really make the bar for schema changes really high

[2017-05-27 20:47] brockallen commented on #1244
This is the only way a 1.x project can move to use these new 2.0 features, right?

[2017-05-27 22:25] Bartmax opened #1246 "Smart way to get User Id."
Using identity I can get the ID via:
[code]

but since I don't want to have a dependency on UserManager and the id should be already on the User property this is an alternative way:

[code]

The problem with that approach, is that if I change the identity options like:
[code]

Then that won't work, so basically I can do an extension method on User that get the proper claim for `UserIdClaimType` to

[2017-05-28 00:00] justin-ruffin opened #1247 "IdentityServiceApplication Generic Type Parameter Issue"
The "IdentityServiceApplication" class has a generic constraint of  "where TUserKey : IEquatable<TUserKey>".

This constraint prevents you from defining TUserKey as System.Nullable<Guid>

During "OnModelCreating" the foreign key is defined as optional, and EF requires the TUserKey column to be nullable.

[2017-05-28 00:11] Bartmax commented on #1246
Closed in favor of: https://github.com/dotnet/corefx/issues/20407

[2017-05-28 00:11] #1246 closed

[2017-05-28 05:12] danroth27 commented on #1244
@HaoK Let's hold off on this until we've had a chance to more fully discuss it. I'd like to avoid baking in any identity service concepts to ASP.NET Core Identity that might impede the development of 3rd party identity service implementations.

@PinpointTownes If you're seeing issues with the local app insights integration in VS or you have general feedback on the feature, then please file an issu

[2017-05-28 06:33] HaoK commented on #1244
@danroth27 Sure that's why I created an issue instead of a PR.   I'd also like to continue discussions on what the final name of the "identity service" should be, because I don't think there are currently many fans of the current naming...

In terms of constraints from previous discussions, it sounds like OIDC, Azure, Tokens, and Server were ruled out from names for various reasons, which is why w

[2017-05-28 06:42] HaoK opened #1248 "Consider renaming Identity.EntityFrameworkCore from AspNet => Extensions"
If we move IdentityBuilder to Core, nothing in the EF store implementation depends on AspNet, so we should consider making that clear in the namespace.

[2017-05-28 07:04] PRIMETSS commented on #1243
Same here

Attribute on a controller with a  logged in user that IS in the Admin role always spits AccessDenied

Create a new role, works and persists in Identity DBase
Add user to role creates a new entry in ASPNETUserRoles for correct ID

user object after adding role shows 1 Role and all looks correct, and is persisted to Identity Dbase.

but  Roles list after below is empty

Is it to do with l

[2017-05-28 09:34] PinpointTownes commented on #1244
Oh it's not, but it certainly gives Azure's services an unfair advantage their competitors can't have (and will likely never have). But I suppose telemetry is one of these... strategic things? :trollface:

The naming is just the visible part of the iceberg, IMHO.

@danroth27 pretends that IdentityService should be regarded as a development server meant to offer a smooth migration to B2C or OSS pro

[2017-05-29 11:36] theeunforgiven opened #1249 "can't revoke/invalidate/cancel old email confirmation token"
i allow newly created users who know their password and isn't confirmed yet to change their registration email (as long as it's not registered in my database)

the problem is that if they changed the email, i generate new email confirmation token, **but the old token could still validate them**, which pretty much could mean that people could use their mail at first, change it to some other mail th

[2017-05-29 13:49] theeunforgiven commented on #1249
solved by calling the user's manager UpdateSecurityStampAsync, with the new security stamp the old confirmation token was revoked, thanks anyway

[2017-05-29 13:49] #1249 closed

[2017-05-29 13:54] Ponant opened #1250 "SignIn not working with ASP.NET Identity 2.0 and 1.1 Core side by side"
1) 1.1 Identity , register user a@gmail.com + pwd
2) 2.0 Identity , register user b@gmail.com + pwd

All done on the same browser

**Result**: Step 2 will persist the user to the DB but login will not occur. Now logout from 1.1 and refresh 2.0, the user b@gmail.com appears as logged in.

[2017-05-29 13:56] Ponant commented on #1249
@theeunforgiven , which .Net core version are you using?

[2017-05-29 13:59] blowdart commented on #1250
It's not clear what you're trying to do here.

Are these separate applications? Are they on separate URLs?

[2017-05-29 14:01] Ponant commented on #1250
@blowdart , seprate applications, seprate urls

[2017-05-29 14:01] blowdart commented on #1245
Hmm limited to jwt? An issue for identity model, not us I'm afraid.

[2017-05-29 14:03] blowdart commented on #1250
And both are identity core?

[2017-05-29 14:05] Ponant commented on #1250
Yes as the title says, sorry for having been short!

[2017-05-29 14:06] PinpointTownes commented on #1245
@blowdart heh, it's not limited to JWT at all (the blog post just illustrates a use case where it would be useful).

And BTW, IdentityModel already does the right thing as it serializes claims correctly according to their value type. It's just Identity that doesn't preserve/store the value type when adding a claim via `UserManager.AddClaimAsync()`.

[2017-05-29 14:07] blowdart commented on #1250
So separate applications are separate by default, they don't share login cookies (although you can kinda force the database). So logging out in 1.1 identity is not going to affect 2.0.

[2017-05-29 14:08] Ponant commented on #1250
But it does...

[2017-05-29 14:09] blowdart commented on #1250
It shouldn't, unless you have a fixed app identifier.

Do you have a simple repo anywhere @HaoK can look at?

[2017-05-29 14:10] Ponant commented on #1250
I created each template as it comes from VS 2017 (and preview for 2.0)

[2017-05-29 14:12] blowdart commented on #1250
Strange. Ok, @HaoK can you take a look at this? (Please note it's a public holiday today in the US, so it'll be a couple of days)

[2017-05-29 14:15] blowdart commented on #1245
Oh I see. Hmm, bother. @HaoK ... this would take a flipping huge database change :(

[2017-05-29 14:16] Ponant commented on #1250
BTW, I do not know think this is related but IIS express shows 2 localhost ports for the 2.0 Core app.

[2017-05-29 14:17] PinpointTownes commented on #1245
Luckily, you now have a *super* versioning strategy to handle these changes :trollface:

[2017-05-29 14:18] blowdart commented on #1245
As you're well aware we're already doing a bunch of horrid changes to the database already for 2.0. Adding more at this point in time would add to risk. Unless you have a business requirement because of this, rather than "it'd be nice"

[2017-05-29 14:21] PinpointTownes commented on #1245
I'm not sure I understand how this would add to risk, since adding properties to existing Identity models is already something you do in 2.0: https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/IdentityDbContext.cs#L246-L248

[2017-05-29 14:30] blowdart commented on #1245
Yes, and every time we do it, we don't like it, as a failed migration may end up in a horrible state.

[2017-05-29 14:30] blowdart commented on #1245
So is there a reason other than it'd be nice? That would help justify the risk.

[2017-05-29 14:32] theeunforgiven commented on #1249
.net core 1.1

On Mon, May 29, 2017 at 3:56 PM, Ponant <notifications@github.com> wrote:

[2017-05-29 14:34] PinpointTownes commented on #1245
It's an annoying limitation that requires using nasty hacks such as removing/adding claims manually as explained in the blog post, so yes, it would be "nice" to remove it. Now, it's up to you to determine whether it should be considered as a bug/oversight that should be fixed or just a welcome improvement.

[2017-05-29 14:35] blowdart commented on #1245
We'll triage it at the weekly meeting.

[2017-05-29 14:44] PinpointTownes commented on #1245
Thanks Barry :four_leaf_clover:

[2017-05-29 16:17] korzh commented on #766
One note: it seems that ExpireTimeSpan and other options work well only if you set RememberMe parameter to true during SignIn... call.

[2017-05-29 18:23] HaoK commented on #1250
Is the 2.0 app using the identity service stuff?  That uses a different cookie and really is quite different than 1.1 as it's not using the identity cookie for login.

[2017-05-29 18:42] danieloprado commented on #1250
Is both hosted at localhost? Same domain, same cookie storage...

[2017-05-29 20:45] Ponant commented on #1250
@HaoK , yes, for the 2.0 I am using the identity service stuff. New project--> asp.net core 2.0 with individual in-app store. @danieloprado , I am on localhost for both on my W10 dev machine. I did not touch the code of neither projects.

[2017-05-29 20:54] Ponant commented on #1250
I just made 2 created two other projects, same issue.

[2017-05-29 21:01] danieloprado commented on #1250
See: https://stackoverflow.com/questions/1612177/are-http-cookies-port-specific

[2017-05-29 21:32] Ponant commented on #1250
@danieloprado , I do not think this is the same discussion here. The issue is not present if you use 2 .Net Core 1.1.

[2017-05-29 22:02] Ponant commented on #1250
@HaoK , it seems to be due to the AspNetCore.AntiForgery cookie.

[2017-05-30 01:41] gbfromhb opened #1251 "The foreign key {'UserId'} on entity type 'IdentityServiceApplication' cannot be marked as optional"
Have been using the Identity.EntityFrameworkCore and it is working with an existing User table with the Primary key Id column being an integer. Now trying to get the new Identity.Service.EntityFrameworkCore ver: 1.0.0 preview 1 working, and having the following problem. "The foreign key {'UserId'} on entity type 'IdentityServiceApplication' cannot be marked as optional". Here is one attempt at res

[2017-05-30 11:00] SuddenGunter commented on #915
Thanks @pauldotknopf
I'm using parts of your code now. Btw I remove cookie in ExternalLoginCallback - after user logins via external service I read all auth data into an ExternalLoginInfo and delete cookie.  And it works pretty fine for me.
[code]

[2017-05-30 13:43] ivankarpey opened #1252 "Question: Why many of async methods return IdentityResult with errors data instead of normally throwing exceptions"
Why many of async methods return `IdentityResult` with errors data instead of normally throwing exceptions. This behavior seems pretty strange for me. Since if before I just should be able to handle problematic cases with `try/catch` now it's required to actually dig in results filed and write quite a unpleasant code.

so instead clean and traditional
[code]

it's required to write something like

[2017-05-30 17:17] HaoK commented on #1245
This one shouldn't be too bad, it'd be adding two new string properties to the Identity[User/Role]Claim tables, Issuer/ClaimType.  We already take Claims as the inputs on the store, so it doesn't actually affect any of the public APIs, it'd just be an additional switch we'd need to have inside of the store implementations to check the StoreVersion to control whether we use the new fields.

[2017-05-30 17:22] xrkolovos commented on #1102
I tryied this with my data and it didn't seems to work? Is there any guidance about this?

[2017-05-30 17:37] HaoK commented on #1244
Yeah, but as of now, there aren't a lot of new 2.0 features in core they'd get (asking for creation date/last sign in/password change).  We'll likely be adding some behavior around enforcing password expiration policy, but basically we would be forcing everyone to migrate for basically no features

[2017-05-30 17:40] HaoK commented on #1244
@PinpointTownes I'm not sure how much tracking you are going to get on moving the whole 'iceberg'.  But I believe we can at least give it a sensible name :)

[2017-05-30 19:36] HaoK opened #1253 "Cleanup: Move more classes from Microsoft.AspNetCore.Identity into Extensions"
IdentityBuilder, and a few other classes like validators can be moved into Extensions as well