[2016-07-27 18:56] kroniak commented on #915
I have some trouble in my application on 1.0.0 and in fresh WebApplication template with oAuth.

I see in logs:

[code]
and redirect to /Account/AccessDenied

I tried add await SignInManager.SignOutAsync(); to ExternalLogin methods.

[2016-07-27 19:01] gdoron commented on #915
@kroniak I have the same issue, one thing you might consider using is adding an `AccessDenied` Action on `AccountController`.
Inside of it you can use `await SignInManager.SignOutAsync()` and show the user a view with _Sorry pal, something went wrong, please try to login again. This time it will work, we almost promise._ :sweat_smile:

It's a nasty workaround though, I'm waiting for a decent fix t

[2016-07-27 19:19] kroniak commented on #915
@gdoron In my situation ```await SignInManager.SignOutAsync()``` not works.

[code]

After first time was happen there are no successful login with oauth.

I can delete Identity.External Cookie but is a bug.

[2016-07-27 20:41] divega commented on #914
@HaoK @gdoron actually EF Core will throw this error if two different object instances representing the same entity (i.e. having the same key value) are somehow brought into the same `DbContext` instance, (i.e. using scoped `DbContext` instance, within the same request).

This could happen for example if a query materializes an `ApplicationUser` first and then a call to `Add()`, `Attach()` or to `

[2016-07-27 20:53] gdoron commented on #914
@divega Thanks!
Let me know if you need access to my repository, it's being reproduced on each call.

[2016-07-27 21:16] HaoK commented on #914
So the issue is between _context and _userManager's store context I guess since the user is fetched from the controller DbContext here.
[code]

And then added to the userManager context here, which throws as expected based on what @divega explained:
[code]

[2016-07-27 21:23] gdoron commented on #914
@HaoK That makes sense, but what caused Identity's DbContext to already track that user?

[2016-07-27 21:27] HaoK commented on #914
Try replacing the LINQ query against _context with `_userManager.FindByEmailAsync` and that might fix things

[2016-07-27 21:44] HaoK commented on #915
Just to clarify the purpose of the external cookie, its there to store the identity/claims from another auth provider (i.e. google/facebook/OAuth).  Identity will pick up and use that cookie mostly just to link an external login.

If your app ends up in a state where you got a 'bad' external cookie, there is no other recourse other than clearing it explicitly (or waiting for it to time out on its

[2016-07-27 21:52] gdoron commented on #914
@HaoK

Changed my code to:

	ApplicationUser user = await _userManager.FindByEmailAsync(email);
	if (user != null)
	{
	    _logger.LogInformation("{name} {email} exist in the DB", info.Principal.Identity.Name,
	        info.Principal.FindFirst(ClaimTypes.Email));
	}
	else
	{
	    _logger.LogInformation("{name} {email} doesn't exist in the DB", info.Principal.Identity.Name,
	        info.Principal.

[2016-07-27 21:58] HaoK commented on #915
@kroniak SignOutAsync should be deleting the external cookie

[2016-07-27 22:02] HaoK commented on #914
Cool, https://github.com/aspnet/Identity/issues/887 is related to the question about whether this is expected behavior, @divega thoughts?

[2016-07-27 22:17] gdoron commented on #915
Because unless I clear it, `ExternalLoginCallback` isn't even being invoked and I'm redirected to AccessDenied.

That doesn't seem like an expected behavior, right?

[2016-07-27 22:32] gdoron commented on #914
@HaoK His question is vague and not the same as this one.
This one is about having multiple DbContext **instances**, and that's not even a question since EF isn't thread safe, Identity must support it.

His question is about having multiple DbContext **types**.

[2016-07-27 22:48] HaoK commented on #914
In general we mostly want you to use identity APIs to deal with the user, once you start mixing DbContext operations along side what identity's default EF implementation does, well as you have already seen, there be monsters...

[2016-07-27 22:48] HaoK commented on #914
FYI you still can do arbitrary queries against the users, just use _userManager.Users instead of the DbSet from your context.

[2016-07-27 22:52] HaoK commented on #915
cc @Tratcher this new behavior where the presence of the "external" cookie causing an immediate forbidden is a side effect of the new RemoteAuthHandler.Authenticate => SignInScheme delegation behavior change we made.

In the new world with this behavior, the presence of any external cookie, will prevent challenges from any other social auth provider, since they will result in Forbiddens as long as

[2016-07-27 22:59] gdoron commented on #914
Yes, but in an other thread you told me that Identity's UserManager is Scoped, and so its DbContext is scoped as well, which means, you can't run multiple queries in parallel using UserManager.
Well, it's  2:00 AM in my timezone,  good night sirs.

[2016-07-27 23:44] HaoK commented on #914
After chatting with @divega we expect the user to be retrieved from identity or brand new, we don't currently have the necessary APIs from EF Core to applying changes

[2016-07-27 23:44] #914 closed

[2016-07-28 00:10] kroniak commented on #915
@HaoK Cookie is not deleting in some sceneries. It is in my situation on base template:

1. get /account/login
2. get /account/externallogin
3. get /account/externalloginconfirmation <-- do not confirm, cookie was created
4. get /account/login
5. get /account/externallogin
6. ops.... access denied, cookie is. And without delete cookie user can not login
7.  OK, add
[code]
Stop, how can we logout i

[2016-07-28 00:12] brockallen commented on #628
This should all be application logic, not something the framework automatically does. The more magic that the framework automatically does, the more work someone has to do to prevent it.

[2016-07-28 00:16] kroniak commented on #915
@HaoK repo https://github.com/kroniak/identity_bug

[2016-07-28 00:36] kroniak commented on #874
@ikourfaln Use int as you wish. As for me It can be little smaller for storage for many users. It's all. But remember about high value of int.

[2016-07-28 05:45] leastprivilege commented on #628
Totally agreed

[2016-07-28 06:09] jvelezc opened #922 "violate the type constraint when using"
The database gets created but  I get the below exception here:
[code]
I am trying to figure out the new RTM1.0 implementation with all the generics... I might be the first one outside of microsoft to try this.

`   public class ApplicationDbContext : IdentityDbContext<ApplicationUser, ApplicationRole, int,AspNetUserClaim,AspNetUserRole,AspNetUserLogin,AspNetRoleClaim,AspNetUserToken>`

![error](ht

[2016-07-28 06:18] ttaber commented on #922
take a look at PR #893
I ran into the same thing about a week ago.

[2016-07-28 06:25] ttaber commented on #922
try going with something like this:

UserStore:
`    public class ApplicationRoleStore : RoleStore<ApplicationRole, ApplicationDbContext, string, ApplicationUserRole, IdentityRoleClaim<string>>
    {
        public ApplicationRoleStore(ApplicationDbContext context, IdentityErrorDescriber describer = null) : base(context, describer)
        {
        }

        protected override IdentityRoleClaim<

[2016-07-28 06:31] ttaber commented on #922
take a look at PR #893
I ran into the same thing about a week ago.

[2016-07-28 13:17] ikourfaln commented on #874
@kroniak thanx for the reply, but what do you mean by "high value of int" ?
I'm just wondering why ASP.NET Identity team chose string as default primary key type !! And if there is no problem with string type I will keep it without overriding the implementation of the framework.
I'm just looking for a decision.

[2016-07-28 15:13] kroniak commented on #874
@ikourfaln http://www.c-sharpcorner.com/UploadFile/rohatash/maximum-limit-value-for-integer-data-type-in-sql-server-2012/

[2016-07-28 16:10] Tratcher commented on #915
The Identity+OAuth login flow is a multi-step process that always assumes it's starting from scratch. This assumption causes issues when it gets to the external login step if the is already an external identity. The external identity is probably valid, the flow is just not set up to account for its presence.

There are at least three places in the login flow where an external identity could be cor

[2016-07-28 17:17] kroniak commented on #915
@Tratcher Yes, first option  is clear.
How to delete Extrenal.Identity cookie before Challenge? ```await _signInManager.SignOutAsync();``` does not do it.

To options 2: what happens if user decides to use other provider at the middle of a process? Option 1 wins.

[2016-07-28 17:33] Tratcher commented on #915
`await httpContext.Authentication.SignOutAsync("External");`

[2016-07-28 18:04] kroniak commented on #915
@Tratcher I see in ```_signInManager.SignOutAsync()```
[code]
Is it not equv with ```await httpContext.Authentication.SignOutAsync("External");``` ???

In logs I see
[code]

The cookie was not deleted.

If I am using suggested method: ```await httpContext.Authentication.SignOutAsync("External");``` throws exception 		Message	"No authentication handler is configured to handle the scheme: External"

[2016-07-28 18:09] HaoK commented on #915
Those sign out calls are equivalent, is more stuff happening in the request after your call to SignOut?

[2016-07-28 18:35] kroniak commented on #915
@ look at https://github.com/aspnet/Identity/issues/915#issuecomment-235760019 I wrote. Nothing changed.

You can reproduce this issue in my repo.

[2016-07-28 18:38] HaoK commented on #915
Why is there a call to

Executing ChallengeResult with authentication schemes (Google).
AuthenticationScheme: Google was challenged.

in your log after the signouts?

[2016-07-28 18:45] kroniak commented on #915
@HaoK because ```await _signInManager.SignOutAsync();``` is at start of ExternalLogin method.
When user click on provider link I try to signout it and then challenge it.

[2016-07-28 18:45] kroniak commented on #915
@HaoK I can send a whole log.

[2016-07-28 18:47] HaoK commented on #915
You have to sign out, do a redirect to clear the cookie, and then start the login.

[2016-07-28 18:51] kroniak commented on #915
@HaoK Where should I make a redirect?

[2016-07-28 18:52] HaoK commented on #915
Redirect to an action that signs out and bounces back to external login

[2016-07-28 19:09] Tratcher commented on #915
Why not implement option 1 above where you call signout when loading the Login page?

[2016-07-28 19:22] kroniak commented on #915
@Tratcher It is not right. If user get /login page is not eq user wants to logout.

It works by:

[code]

[2016-07-28 19:37] ikourfaln commented on #874
@kroniak !! I don't understand what is the relation between the maximum range of numeric data and our subject, I already know this article talking about. Do you mean that the default string as primary key (generated by GUID system) is better because there is no maximum value ?

[2016-07-28 20:27] kroniak commented on #874
@ikourfaln No, I dont mean that.

[2016-07-29 03:12] jvelezc commented on #887
Introduce a messaging . The idea is that all your "sub apps" communicate with a middle layer (web api) asking if that user has access. Then what you get in return are their claims. With those claims you can make decisions.

[2016-07-29 03:16] jvelezc commented on #871
One use is to prevent null exceptions which i have gotten when i don't initialize them.

[2016-07-29 08:43] ikourfaln commented on #874
@kroniak  So !!

[2016-07-29 09:36] divega commented on #871
This went under the radar. AFAIR EF will only instantiate a `HashSet<T>` if the property isn't already initialized, so it is unlikely that the `Lists<T>` are being replaced.

I think we can switch to `HashSet<T>` or even consider not initializing the properties here.

Both changes could potentially have performance advantages:
- `HashSet<T>` is more efficient for performing contains checks in memo

[2016-07-29 09:36] divega commented on #871
Clearing up so that we can discuss if we want to do anything in triage.

[2016-07-29 13:41] liamwang commented on #874
I prefer to use sequential GUIDs as primary keys. Sequential GUIDs are more efficient than string, even more efficient than auto increment int. It is friendly to ORM frameworks, which avoid relying on the server to generate key values. It also has advantages in distribution system.

[2016-08-02 19:22] pMonfared opened #924 "Microsoft.AspNetCore.Identity Customize"
I want to customize Identity and override everything

Please See This :
https://github.com/pMonfared/Asp.netCoreMultiLayer
[code]

from this location in startup file :

[code]

[2016-08-02 21:24] HaoK commented on #855
@divega we should discuss how we want to fix this soon

[2016-08-02 21:27] ttaber commented on #924
See #855 , PR #893 & #918

[2016-08-02 21:37] HaoK commented on #924
You also cannot use `.AddEntityFrameworkStores<ApplicationDbContext, string>()` when you customize everything, your calls to `AddUserStore/RoleStore` make that call unnecessary as well. so you should be able to remove that line.

[2016-08-03 01:19] ikourfaln commented on #874
@liamwang thank you for infos

[2016-08-03 02:56] pMonfared commented on #924
i use for Dependency Injection in my project with `"StructureMap.Microsoft.DependencyInjection": "1.0.1"`
but when i config
[code]
i have got error in this line
[code]
error description:
[code]
this is my ApplicationUser Class:
[code]

[2016-08-03 13:44] gaborkalmar opened #925 "Sharing auth cookies between MVC5 and MVC 6"
I'm having issues sharing authentication cookies between an mvc5 and an mvc6 application. Both are using .netframework 4.6 , first one is asp.net and the other is .netcore. I've tried this https://docs.asp.net/en/latest/security/data-protection/compatibility/cookie-sharing.html with no luck.

[2016-08-03 13:56] furlanrapha commented on #924
Having same issues too, created this PR #923 to fix this.

[2016-08-03 19:52] coscallis opened #926 "Give me all users and all of their roles...BY NAME"
This is among the most simple of Use-Cases and yet does not appear to be allowed. When administering my site's users I need to be able to get a complete list of my users with their basic properties, one of which is the collection of roles assigned to the user. Using the  ApplicationUser and UserManager "out of the box" and this code: _(ok, yes, mgr and org represent properties which have been adde

[2016-08-03 21:16] HaoK commented on #925
See https://github.com/aspnet/EntityFramework/issues/2167#issuecomment-232205222 as someone was able to get this to work recently

[2016-08-03 23:28] gdoron commented on #926
Did you try adding `.Include` to your query?
I guess you're using EF, right?

[2016-08-04 06:58] gaborkalmar commented on #925
Thanks , i'll check it out  , will report back if I got it working

[2016-08-04 11:57] coscallis commented on #926
Yes, Include(...) with many variations could only get me as far as the RoleId... I have received some help from [Stack Overflow](http://stackoverflow.com/a/38746024/681009) on how to custom configure Identity, and while this 'works' I find it very dissatisfactory as it is overly complicated for what should, provided the db schema that is initialized with Identity, should be a simple relationship.

[2016-08-04 17:19] dougmany commented on #829
I am attempting this and have a strange issue.  Trying to recreate AddEntityFrameworkStores I have:

[code]
I am getting this error message:

Framework 4.5.2
"

My ApplicationRole is:
[code]

My ApplicationUserRole is:
[code]

My ApplicationRoleClaim is:
[code]

FYI, This is all just to get the ID to 128 character because my many to many relationship key was not allowing migrations to work.

[code

[2016-08-04 17:50] dougmany commented on #829
Looking more I found this:
[code]

It looks like "where TRole" must have a IdentityRoleClam, not a TRoleClaim.  How do I get around this?

[2016-08-04 20:14] maxim-shaw opened #927 "abstarct UserStore`8 implementation fails to instantiate UserStore"
I work on custom implementation of identity on PostgreSQL.
UserStore'4 implementation worked well, but when I added a custom TRole implemetation and implemented UserStore'8 https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs ln:160

    public abstract class UserStore<TUser, TRole, TContext, TKey, TUserClaim, TUserRole, TUserLogin, TUserTo

[2016-08-04 21:46] ttaber commented on #927
See #855 , PR #893 & #918

[2016-08-05 03:21] HaoK commented on #927
You also cannot use .AddEntityFrameworkStores<ApplicationDbContext, string>() when you customize everything, you should be able to use AddUserStore/RoleStore instead

[2016-08-05 09:05] cdian opened #928 "dotnet restore issue"
The nuget repos are offline. dotnet restore doesnt work.

[2016-08-05 11:08] tugberkugurlu opened #929 "[Question] Dispose Behavior of UserStore on EF Core Provider"
AFA I can see, `UserStore` on EF Core provider implements `IDisposable` but it does nothing: https://github.com/aspnet/Identity/blob/47e8e49de8f8fc995114242997d2fc3000648343/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs#L653-L670 However, it marks the instance as disposed and makes it not usable after dispose.

Is there any specific reason to this behavior?

[2016-08-05 14:21] maxim-shaw commented on #927
@HaoK, thank you for the direction. Replacement of .AddEntityFrameworkStores() with

    services.AddIdentity<ApplicationUser, ApplicationRole>()
        .AddUserStore<ApplicationUserStore>()
        .AddRoleStore<ApplicationRoleStore>()
        .AddUserManager<ApplicationUserManager>()
        .AddDefaultTokenProviders();

gave me seeking results.

[2016-08-05 22:41] TerribleDev commented on #628
There could be a setting to turn on "the magic"

[2016-08-05 23:53] HaoK commented on #646
Given that the current virtual SignInAsync catches too many flows for you, I think the best approach would be for you to extend exactly which methods you want to do your additional post SignIn logic.

[2016-08-05 23:53] #646 closed

[2016-08-05 23:53] HaoK commented on #646
All the hooks should already be there as every method is already virtual

[2016-08-05 23:56] HaoK commented on #628
Yes, the idea is that this would be a new overload of ExternalSignIn(user, importExternalClaims: true) that would only then suck over any claims on the external identity

[2016-08-05 23:57] HaoK commented on #628
Or if we are doing whitelist I guess: `ExternalSignIn(user, importExternalClaimTypes: [ "SomeClaim1", "SomeClaim2" ])`

[2016-08-08 18:13] mikes-gh commented on #915
@Tratcher

Do I replace External with Google etc?

[2016-08-08 20:22] #927 closed

[2016-08-08 20:26] HaoK commented on #922
Dupe of https://github.com/aspnet/Identity/issues/855

[2016-08-08 20:26] #922 closed

[2016-08-08 20:26] HaoK commented on #924
Dupe of https://github.com/aspnet/Identity/issues/855

[2016-08-08 20:26] #924 closed

[2016-08-08 20:47] HaoK commented on #929
Legacy code mostly, in the past I believe this Dispose would have disposed the DbContext potentially, but that code was removed, so its mostly just there to block method calls after the store has been disposed now...

[2016-08-08 22:41] Tratcher commented on #915
@mikes-gh no, it needs to be the auth scheme from your CookieAuthenticationOptions that stores your short term login-cookie. If you're using Identity then it will be "External".

[2016-08-09 08:57] mikes-gh commented on #915
Hmm that doesn't work for me.
`InvalidOperationException: No authentication handler is configured to handle the scheme: External`

[2016-08-09 09:10] mikes-gh commented on #915
@Tratcher

If I use

`await _signInManager.SignOutAsync();`

In the Login [HttpGet] action it works but it doesn't cover the situation where the user clicks back.
ie in order for it to work the user would have to do ctrl F5 to get the action to execute.

Could we have more details on how to implement option 2 and 3.

I think this stuff should be baked into the  standard templates.

[2016-08-09 10:23] mikes-gh commented on #915
I came up with this workaround (comments welcome)
It shouldn't be this hard though.

[code]

[2016-08-09 18:01] HaoK commented on #915
@Tratcher maybe we should add an option to disable the new behavior we added, something like `RemoteAuthenticationOptions.AuthenticateUsingSignInScheme = false` (true by default)

[2016-08-09 18:06] gdoron commented on #915
@mikes-gh

I think this stuff should not even be in a template, it simply needs to work, developer shouldn't care how identity and/or OAuth works, it should do all the heavy lifting by its own.

[2016-08-09 18:37] Tratcher commented on #915
@HaoK Lets go over it offline. Who owns this template these days?

[2016-08-09 18:41] HaoK commented on #915
Not sure @phenning might know who the new PM owner is?

[2016-08-09 20:42] mikes-gh commented on #915
@HaoK
Don't understand why we need another option to make it work.  Can't identity be a bit more intelligent here.  Asking the developer to set an obscure option doesn't seem the right solution.

[2016-08-10 06:03] gdoron commented on #915
And regardless, people already scaffolded their application, changing the template won't help all the existing applications.
It's a huge deal, people can lose a lot of visitors because of this, I hope you are aware of this and plan to fix it in 1.0.1 (to be honest I thought you will publish a patch of l even before 1.0.1 because of the severity)

[2016-08-10 07:44] mikes-gh commented on #915
Just to add weight to @gdoron comment above.

I put my app out for internal testing.
The first thing that happened was this issue because the user pressed back( I was standing over the user).
The user then kept getting access denied and gave up.
Login flows get interrupted all the time.
This will lose visitors.

[2016-08-10 07:55] gdoron commented on #915
@mikes-gh I had **exactly** the same thing with a friend over the phone.
Thing is, it doesn't reproduce every time with the back button, but it happens quite frequently.

[2016-08-10 08:50] davidgoh commented on #829
public abstract class UserStore<TUser, TRole, TContext, TKey, TUserClaim, TUserRole, TUserLogin, TUserToken> : IUserLoginStore<TUser>, IUserStore<TUser>, IDisposable, IUserRoleStore<TUser>, IUserClaimStore<TUser>, IUserPasswordStore<TUser>, IUserSecurityStampStore<TUser>, IUserEmailStore<TUser>, IUserLockoutStore<TUser>, IUserPhoneNumberStore<TUser>, IQueryableUserStore<TUser>, IUserTwoFactorStore

[2016-08-10 08:54] davidgoh opened #933 "Unable to define Custom RoleClaim due to generic constraint"
[code]

`where TRole : IdentityRole<TKey, TUserRole, IdentityRoleClaim<TKey>>`

Shouldn't it be TRoleClaim ?

`where TRole : IdentityRole<TKey, TUserRole, TRoleClaim >`

[2016-08-10 10:20] HaoK commented on #933
Dupe of https://github.com/aspnet/Identity/issues/855

[2016-08-10 10:20] #933 closed

[2016-08-10 16:35] kroniak commented on #915
@mikes-gh I would be a bit simplified your code:

[code]

[2016-08-10 17:05] jamesond commented on #788
What was the fix for this issue?
Thank you

[2016-08-10 17:24] Tratcher commented on #915
Here's my changes to the template for the different options:

Option 1: Reset the state at the start of the login flow.
[code]
The above works for the Login link, but does not work with [Authorize] because LoginProviderKey is missing from the auth properties collection so GetExternalLoginInfoAsync returns null.

The following works in both scenarios:
[code]

[Saving, more to follow]

[2016-08-10 17:43] kroniak commented on #915
@Tratcher
Option1. What if the user happened to be on the login page? Log out? I think not.
Option 2. What if the user is in the middle of the process, he changed his mind and decided to login through a login password?

I think @mikes-gh workaround is more logicaly.

[2016-08-10 17:45] Tratcher commented on #915
@kroniak I don't follow your question about option 1. If the user goes to the login page then they want to log in, no? The link won't be present if they are already logged in.

[2016-08-10 17:50] kroniak commented on #915
@Tratcher I think that user wants to log in when it press login button. User can follow /login page by bookmarks or by mistake and then It will change mind and clicks back and see login page again.

[2016-08-10 17:52] Tratcher commented on #915
Either way, if they end up on the login page it seems reasonable to do the login flow.

That said, some version of option 3 is the most graceful.

[2016-08-10 18:55] phenning commented on #915
@HaoK, @sayedihashimi is the new PM owner for templates.

[2016-08-10 20:52] mikes-gh commented on #915
@Tratcher

option 1 and 2 are not valid as the user may arrive   at a cached login page since it is an HttpGet action e.g. back button.
As I said earlier in this thread I tried that and  it does not work unless the user refreshes the page which is not going to happen in the real world.
option 3 you don't account for the Identity.External cookie being from a different provider.

The ExternalLogin a

[2016-08-10 20:55] mikes-gh commented on #915
@phenning
Please don't try to fix this in the templates.
The bug should be fixed in the framework.

[2016-08-10 20:59] mikes-gh commented on #915
@kroniak
I had the code that way before.
But it adds an unnecessary redirect to the most common scenario when there is no Identity.External cookie present

[2016-08-11 14:13] Kizmar opened #934 "UserManager & SignInManager Oddities"
_See also: [my post on Stack Overflow about this](http://stackoverflow.com/questions/38876443/net-core-1-identity-usermanager-cached-user-list-not-updating/38877902?noredirect=1#comment65121735_38877902)_

We're noticing an issue when using these managers and haven't quite figured out the cause.

_Note: the example code below was quickly typed up specifically for this post. It may not be fully com

[2016-08-11 22:32] Eilon commented on #915
Hi folks, we had a meeting about this and we think the best fix is the template fix because that's where the underlying bug is. The problem is in the template's authentication flow with OAuth providers and about what happens when the flow stops (or has a problem) part way through the process.

Making a change in the framework itself would almost certainly regress other behaviors such as the protec

[2016-08-11 22:32] #915 closed

[2016-08-11 22:45] gdoron commented on #915
@Eilon,  If it requires manual work from the developers, I think you should publish an announcement, that's a bug all developers should be aware of.

[2016-08-11 22:55] Eilon commented on #915
@gdoron good point, I'll get an announcement posted!

[2016-08-12 16:37] xaviergxf opened #935 "Keep track of online users"
Hi,

  I'm trying to keep track of the online users on my system. I've created a custom signinmanager and custom securitystampvalidator. Here's a sample of the code:

[code]

The problem is when RefreshUserOnlineAsync is called and cuser returns null and i cannot therefore keep track of the users online.

How can i achieve this feature?

Thanks

[2016-08-12 17:40] Kizmar commented on #934
I just pulled all of the token endpoint logic out of the middleware and created a LoginController that now houses it. I confirmed the managers work as expected now. The middleware must be somehow using a different copy of the managers that aren't being updated when changes are made.

[2016-08-14 11:11] gdoron commented on #885
@HaoK

Sorry for the extremely late response.
Our codebase has changed a lot since we moved  from int to string, it required a lot of time to get to that point in time and fiddle with that, and time is a thing crucially missing in an early stages startup.

As far as I can see, it's working now using RTM bits.
But I guess for us it's too late, as we have too much data which rely on varchar.

Well t

[2016-08-14 11:11] #885 closed

[2016-08-15 18:30] HaoK commented on #934
Yeah so middleware are going to pull from the wrong scope, so their lifetime will be singletons effectively for your app, that's why the behavior you are seeing is different vs controller lifetimes

[2016-08-15 18:30] #934 closed

[2016-08-15 18:35] HaoK commented on #850
fa976e7765db498b7587d4028da76f533d1590ff

[2016-08-15 18:35] #850 closed

[2016-08-15 18:36] HaoK commented on #852
fe60304df54c43030d3eacfd9073e6a36990db05

[2016-08-15 18:36] #852 closed

[2016-08-15 20:26] jvelezc commented on #874
Please read this article I wrote : https://medium.com/@goodealsnow/asp-net-core-identity-3-0-6018fc151b4#.pvc8b09bd it explains how to easily change things around for you db team. Why did they choose string guid? Because it was an easy way to ensure uniqueness.

[2016-08-16 18:47] Tratcher commented on #915
FYI Here's the proposed fix: https://github.com/aspnet/Templates/pull/662

[2016-08-16 19:12] gdoron commented on #915
@Tratcher I'm not sure how it fixes the most common scenario where there is no Login page and people don't go through the Login action.
https://github.com/aspnet/Templates/pull/662#issuecomment-240206032

[2016-08-16 22:41] gdoron commented on #915
BTW, it would have been nice if the proposed fix was discussed with the community before it was a done deal and merged, not after...

To be honest I'm a bit disappointed with the fix and the process.
Well... c'est la vie

[2016-08-17 08:12] mikes-gh commented on #915
I do appreciate everyone's work on this but I'm feeling a bit short changed.
I put a fair bit of effort in on this issue and it feels like community input has been ignored.
My scenario is not edge case.  It is real world findings from real users.
In order to properly address this issue the fix need to happen in the ExternalLogin POST as discussed at length with reason why.

[2016-08-17 08:29] gdoron commented on #915
@mikes-gh Since they decided the fix should be in the templates, you can simply ignore the fix, and change your code as you wish.
It's bad for the community that the templates might have severe issues, but it doesn't affect you if you know the flaws.

[2016-08-17 08:49] mikes-gh commented on #915
@gdoron
Thanks. Yes I am sticking with my fix. (Hopefully a better one will make it into 1.1.0).
As you say its more about saving other developers hours of head scratching in the future.

[2016-08-17 15:02] Tratcher commented on #915
@mikes-gh when we tested this we found it took deliberate effort to get to a cached version of the login page. The most obvious way was to click back, but you'd have to do it multiple times with the right timing to get past the external provider redirects.

When reviewing option 3 we found it added complexity and opened additional security concerns around anti-forgery.

In the end we opted for a s

[2016-08-17 17:07] gdoron commented on #915
@Tratcher well I still don't know what should be the fix in my scenario where the external login isn't issues from the Login action.
Do I need to send an ajax request what have this inside: `await HttpContext.Authentication.SignOutAsync(_externalCookieScheme);`
?

Users not being able to login and practically leaving the website and never return is severe enough IMHO, that fix should fix common an

[2016-08-17 17:07] dazinator opened #937 "Minor Comment Tweak"
Just wondering if this line should say "Users" rather than "Roles":

https://github.com/aspnet/Identity/blob/4ef80fabf66624b464e77ac9dd6e8c4461759e0c/src/Microsoft.AspNetCore.Identity/IQueryableUserStore.cs#L9

[2016-08-17 18:43] Tratcher commented on #915
@gdoron it would help if you shared a sample app showing your usage scenario. It's unclear how significantly it diverges from the template.

[2016-08-17 19:46] HaoK commented on #937
c1b8f3abf39a4856e5f48a20a59ecc14580947a0

[2016-08-17 19:46] #937 closed

[2016-08-17 20:23] gdoron commented on #915
@Tratcher It doesn't diverge too much.

Basically we took the login View template, added some CSS and stuff and backed it in a partial view, and it's loaded in the layout.cshtml

	@model LoginViewModel
	<section class="popupModal" id="login">
	    <div class="container-full login">
	        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@(ViewData["ReturnUrl"] ?? Co

[2016-08-17 20:24] gdoron commented on #915
Almost forgot, I really appreciate the effort @Tratcher!
Thanks,
Doron

[2016-08-17 21:10] blowdart commented on #935
You're doing this before the cookie has been authenticated, and a user has been created. Have RefreshOnlineAsync (which isn't async *grin* - it should be) take the principal from the CookieValidatePrincipalContext (Principal property) as a parameter, then you can call GetUserId.

[2016-08-17 21:11] #929 closed

[2016-08-17 21:11] #928 closed

[2016-08-17 21:12] #925 closed

[2016-08-17 21:15] blowdart commented on #901
This is confusing. How are you using Azure AD? As an external login provider in the same way we do social like Facebook and Google, or using it via the Work & School template? If it's the latter then that's a function of AD, and doesn't concern or use identity at all.

[2016-08-17 21:15] #898 closed

[2016-08-17 21:19] blowdart commented on #879
Dupe of #883

[2016-08-17 21:19] #879 closed

[2016-08-17 21:19] #874 closed

[2016-08-17 21:22] blowdart commented on #859
See also #465

[2016-08-17 21:24] blowdart commented on #926
@divega

[2016-08-17 21:42] RoySalisbury commented on #650
I have a need to add functionality to the Identity system that includes a LastLoginDate field (along with a host of other things).  The two places that I can see will need to be updated are in the following:

PasswordSignInAsync
- This one is pretty easy.  I can override the method in the SignInManager and add my functionality to update the necessary user property (or claim, or wherever).  You nee

[2016-08-17 22:17] RoySalisbury opened #938 "SignInResult extensibility for SignInManager"
The current implementation of the SignInManager does not allow for extending the SignInResult that can get returned from something like PasswordSignInAsync.

For example, I need to add expiring passwords to my users.  This means I need to add a new "result" to the call.  Just like "LockedOut", "RequiresTwofactor", ect.  I will be adding a "RequiresPasswordChange".  I can override PasswordSignInAsy

[2016-08-18 00:48] RoySalisbury commented on #938
OK.. So I forged the Identity repository, and created a new branch with the potential updates.  If someone could review them before I do the whole pull request process I would appreciate it.

https://github.com/RoySalisbury/Identity/tree/SignInManagerGenerics

I'm sure I will need to figure out some type of tests to create, but before I go that far I need to get the current fork running its own te

[2016-08-18 04:15] RoySalisbury commented on #938
OK.. Found and issue... < doh! >

In the base class I used a stupid shortcut so I did not have to refactor the code.

    return SignInResult.Failure as TSignInResult;

However, I'm trying to cast UP and not down.   I'll need to refactor that a bit.

It was a fun exercise to get this all working so far ... from forking, branch, build, package, publish, and use in my own project...  Took a while, b

[2016-08-18 08:03] gdoron commented on #915
BTW when I said people can't login is a huge deal, it's a huge deal for every website, losing users in the most important phase of the registration.
But it's even more important for us, we are building a revolutional website for people with disabilities, some of our users have ALS and can only move their eyeballs... We really don't want to have any technical issues.
If these users will have techni

[2016-08-18 21:05] RoySalisbury commented on #938
Well, beginning to think this may not be possible.  Its probably why having static properties/methods in generic types is discouraged. No matter what I come up with, it always means a breaking change.  Basically, it would be easier to leave the SignInManger<T> signature like it is, and just deal with creating a new (or updated) SignInResult.

A better solution might be to model SignInResult after

[2016-08-18 21:56] RoySalisbury commented on #938
Whats better .. a minor breaking change, or an addition that is semi-lame.

Breaking (modify the existing "Failed" property:

    public static SignInResult Failed(params IdentityError[] errors)

Or ugly ..

   public static SignInResult Failed => _failed;
   public static SignInResult FailedWithError(params IdentityError[] errors)

I'm going to go with the 2nd option until someone can chime in on

[2016-08-18 22:07] HaoK commented on #938
So why can't you just add a new RequiresPasswordChangeSignInResult : SignInResult, and override whatever sign in methods you want to return this result in the cases you need.

You can add an extension method to SignInResult.RequiresPasswordChange to return true if its an instance of your type.

[2016-08-18 22:59] RoySalisbury commented on #938
Because you cant change the return type of the overridden method.

For example...

    public class MyIdentityResult : IdentityResult { }

    public override async Task<MyIdentityResult> ChangePhoneNumberAsync(Guid userId, string phoneNumber, string token)
        {
            return new MyIdentityResult();
        }

This will error with:

	'ApplicationUserManager.ChangePhoneNumberAsync(Guid, s

[2016-08-18 23:17] HaoK commented on #938
Why are you trying to change the return type, return your derived new result for the cases where you need in your method, there's no data on it, so what's wrong with what I suggested above, create a type for your new RequiresPasswordChangeSignInResult, update your calling code to contain a check for that result, alongside all the old cases.  That's basically no different than how you use the other

[2016-08-18 23:17] RoySalisbury commented on #938
Or are you suggesting I treat the SignInResult like an abstract class.  Always have to check the type so see what it is before I cast it.  That seems a bit heavy handed.

    public class MySignInResult : SignInResult
    {
        public static MySignInResult RequiresPasswordChange => _requiresPasswordChange;
    }

    public override async Task<SignInResult> PasswordSignInAsync(ApplicationUser

[2016-08-18 23:46] RoySalisbury commented on #938
So I have implemented it the way you suggested, and while it does work, its not something that lends itself to an inclusion into the base code.  So I wont need to provide all the PasswordHistory, LastLogin and other changes for inclusion into the framework.  If I run into other things that might require internal changes, I will re-branch and see what I can contribute.

Thanks

[2016-08-19 00:59] RoySalisbury opened #939 "Change SignInManager's private helper methods to protected."
I have to implement a "PinSignInAsync" method on my SignInManager.  This will basically be (almost) exactly like the PasswordSignInAsync" method, but will be calling a new "UserManager.CheckPinAsync" method and does not have to deal with TwoFactor code.

To implement this I looked at the existing password method, and there are 4 private methods that it uses.  If these were protected, then I could

[2016-08-19 18:23] HaoK commented on #938
Cool

[2016-08-19 18:23] #938 closed

[2016-08-19 22:56] HaoK commented on #849
27f021ab933a153eb977318e844a74f8497e3b47

[2016-08-19 22:56] #849 closed

[2016-08-19 22:56] HaoK commented on #565
27f021ab933a153eb977318e844a74f8497e3b47

[2016-08-19 22:56] #565 closed

[2016-08-19 23:05] Tratcher commented on #915
That's a curious pattern you have there. It looks like you render your login section and register section into every page. This is half-way to a SPA app. I don't see a fool-proof option for you. You're already using Option 3 as described above, and that should be adequate unless the user wants to switch providers part way through login. You could facilitate provider switching by adding a "Start Ov

[2016-08-19 23:06] HaoK commented on #855
1a0cd3c4d15be988abefd889853b0c6d973db9f4

[2016-08-19 23:06] #855 closed

[2016-08-19 23:14] brockallen commented on #849
thx

[2016-08-20 17:31] gdoron commented on #915
Thanks for taking a look Chris.
The "Start Over / Switch Provider" button seems like a nice workaround in theory, but in practice, no one will understand what it means.
The whole benefit of social logins is that they are commonly used, and I have never seen a website with such a button, so no one is going to click on it.

If I'll stop render the login/register on every page and just load it on dem

[2016-08-22 07:43] xaviergxf commented on #935
Thanks blowdart. This works perfectly fine.

[2016-08-22 16:44] Tratcher commented on #915
Yes, that would be in line with what we now do in the templates.

[2016-08-22 22:22] mikes-gh commented on #915
@Tratcher
I only need to click back once.  If I use Facebook button and at the registration page decide I want to register with Google. I click back and get this issue.
This is if I am already logged in to the provider (common scenario).

[2016-08-22 22:28] gdoron commented on #915
@mikes-gh Try adding `[ResponseCache(Location = ResponseCacheLocation.None, NoStore = true)]` to the action that renders the view.

Do you still get a cached copy?
(I still think the templating option isn't ideal even if it works since it's very easy to change your application in a way that the fix won't be used.)

[2016-08-23 05:46] wddpct opened #940 "'dotnet ef migrations add Initial' leads a mistake"
I downloaded the project and tried to run the sample.mvc.

when I use the command 'dotnet ef migrations add Initial' or 'dotnet ef database update', it occured the following mistake.

[code]

and the ApplicationDbContext like

[code]

I didn't modify the code of 'Startup.cs'

[2016-08-23 17:44] blowdart opened #941 "Support Auth Apps, preferred over Text Based Auth"
https://nakedsecurity.sophos.com/2016/08/18/nists-new-password-rules-what-you-need-to-know/'

As NIST has now said "Stop using SMS" we should fully support TOTP/authenticator apps, and change the templates to use this, rather than SMS.

[2016-08-23 19:19] gdoron commented on #915
@mikes-gh Did it help?

[2016-08-23 22:44] HaoK commented on #682
Related https://github.com/aspnet/EntityFramework/issues/2167

[2016-08-24 07:59] mikes-gh commented on #915
@gdoron
Sorry haven't tried it yet because I have a working solution. ( I do appreciate the suggestion). Will update here when I have findings

[2016-08-24 21:10] blowdart commented on #941
And recovery codes.

[2016-08-24 21:11] #935 closed

[2016-08-25 13:04] npnelson commented on #915
I am pretty sure this issue has been biting me for months and no one could figure it out.  Thanks for putting up the announcement.  The template fix is a good start.

Does anyone know how to fix this template from Auth0?

https://github.com/auth0-samples/auth0-aspnetcore-sample/tree/master/01-Login

I've had a ticket open with auth0 for over 20 days (not realizing at the time that the underlying p

[2016-08-26 11:14] cjcfreitas opened #944 "Unique role names"
Role names must be unique.
This is enforced by `RoleValidator`.
Shouldn't this be also enforced in the EntityFramework model?
File IdentityDbContext.cs line 170 would be:
`b.HasIndex(r => r.NormalizedName).HasName("RoleNameIndex").IsUnique();`

[2016-08-29 19:14] piotrek-k opened #945 "Things [Authorize] attribute needs to work properly"
I want to write my own authorization system which will include custom registration and signin process. I want it to work with ASP.net Identity `[Authorize]` attribute. What should I do to make it work properly? How `[Authorize]` know which controllers can be accessible for users and which not? What properies need to be configured in order to achieve that?

[2016-08-30 16:30] danroth27 commented on #682
@divega @HaoK Microsoft Customer Support Services reported that customers are having issues setting up cookie sharing and could use a fully functional sample. How soon can we get the sample updated so that we can link to it from the docs?

[2016-08-30 16:52] HaoK commented on #682
Are they asking about full identity database Interop or only the much simpler app cookie sharing scenario?

[2016-08-30 17:54] sebastienros opened #947 "RoleManager should provide List methods"
Having to rely on IQueryable to list roles means the store has to implement it, but it's an optional service, which means listing users is optional.
I'd suggest to make it mandatory at the RoleManager level as the first thing you need to do when managing roles is to list them. To add some argument, there is a mandatory `FinById` but how do I get the Id in the first place?

I understand there are d

[2016-08-30 19:08] GArrigotti opened #948 "Microsoft.AspNetCore.Identity"
In the package` "Microsoft.AspNetCore.Identity": "1.0.0-rc2-final"` I don't see `IUser`.  When implementing our `IUserStore<Member>`, do we need to have our POCO inherit `IUser` or not?  I can't find any documentation, otherwise.

[2016-08-30 19:24] divega commented on #682
@danroth27 we can make this a high priority as per our conversation, but can you please answer about the scope (cooking sharing vs. full with a shared database)?

[2016-08-30 20:13] HaoK commented on #948
There is no IUser in AspNetCore Identity, you no longer have to implement IUser, but your IUserStore needs to implement the equivalent methods that used to live on this interface, GetUserId(TUser), GetUserName(TUser)

[2016-08-30 20:13] #948 closed

[2016-08-30 20:45] GArrigotti commented on #948
@HaoK Thank you for that clarification, I thought that might be.  But I figured I'd seek the clarification since I couldn't find the implementation or documentation.  I appreciate your response.

[2016-08-30 21:05] gdoron opened #949 "Is it possible getting all the roles of a user in a view?"
e.g.

	@User.GetAllRoles().Any(x => x.StartsWith("Vendor_")
?
I can store the role as a claim and get all the claims that start with {xxx} but that seems less feasible for my needs.

[2016-08-31 21:09] blowdart commented on #945
This isn't a question for Identity. Identity is the kind of system you want to write. Authorization is handled not by identity, but by MVC and by the Authorization middleware you find in the security repo. The authorization attribute in MVC looks at the current user. It's up to you to put that user on the context. Samples of that sort of thing can be found in the various authorization middlewares

[2016-08-31 21:51] HaoK opened #950 "Token Store Support"
Token Types by string
Create/Revoke/Expiration

Token Schema:
Id
Value
Type

Identity
1 TOTP key per user
N recovery codes

Per App
N Single Auth code
N Access token
N Refresh token

[2016-08-31 21:53] blowdart commented on #949
Dupe of #947

[2016-08-31 22:07] HaoK commented on #949
UserManager.GetRolesAsync(user) will return you all of the roles for the user.

[2016-08-31 22:07] #949 closed

[2016-08-31 22:15] dlmelendez commented on #76
Table Storage for Identity Core [https://github.com/dlmelendez/identityazuretable](url) .

[2016-09-01 06:02] gdoron commented on #949
@HaoK

I managed to find this way which doesn't require DB queries:

	@User.Claims.Where(x=> x.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")

Is there any disadvantages using it?

[2016-09-01 06:05] HaoK commented on #949
That should work fine

[2016-09-01 15:41] #945 closed

[2016-09-02 22:00] HaoK commented on #950
@blowdart @divega

Feels like the proper key is ID + type, as opposed to requiring unique ID always, but I'm not entirely convinced...thoughts?

Which leads us to an API that looks something like:
[code]

[2016-09-02 22:06] divega commented on #950
It depends. What is this `id`? Is it a key borrowed from some other entity or is it just added to this entity to become the key? If the latter then it should be sufficient by definition.

[2016-09-02 22:11] HaoK commented on #950
If we go that route with the id being the key, maybe we should use a POCO
[code]

[2016-09-02 22:13] HaoK commented on #950
For usage, I'm imagining we don't need any extra complexity like a manager, we'd just implement the store in Identity.EF, and it would get registered as part of AddEntityFrameworkStores, and consuming it would be up to the developer for 1.1, since we don't have any features that currently use this store (until the templates are updated)

[2016-09-02 22:35] divega commented on #950
Could you still answer what the ID represents?

[2016-09-02 23:33] HaoK commented on #950
That's sort of the question I am asking. Do we want to make the id the unique key or part of the key. We are deciding what the contract is for consumers.

It basically boils down to whether we want to make it easy to partition based on token type or not. If we say is must be unique across all token types. We don't even need token type anymore. We can just say that's something that should be in the

[2016-09-03 14:11] luisgizirian commented on #596
@bprentice, I'm on a similar situation where I have a Tenant discovered at Middleware stage (with its `int` key I'm able to inject) on which I'd like to base at least some User activities (creating, registering, finding -by name or email-, login, to say the least).

One choice, seems to be extending and injecting custom UserManager, UserStore, SignInManager. But as it is (lots of privates), seems

[2016-09-06 16:48] blowdart commented on #950
ID would be a unique key probably. Nothing you query on. Then there's the property bag too.

We would need token type though, unless you make the token type part of the property bag, because, for example, we'd want to say "Give me all the TOTP reset tokens for user X"

[2016-09-06 18:02] HaoK commented on #950
Having the type alone won't help with that since we won't be able to query using user id since that's part of the bag.

[2016-09-06 18:03] blowdart commented on #950
Well true, but you'd get the unique token IDs from the property bag by looking up the user property, then backtrack up.

[2016-09-06 19:10] HaoK commented on #950
The main difference between the token server and user ids is here, where the token id is enough for them, while user tokens have the additional filters of type + owner that we will need to query by.

[2016-09-06 20:03] HaoK commented on #950
For identity could use these the token store just as a bag with another table in charge of managing token types/payloads.

So maybe: `ITokenStore` for the generic get/set/delete of ID/value token pairs.
`IUserTokenStore` which layers on UserId, TokenType, TokenId which we can use to build our recovery code/whatever we want

[2016-09-07 09:23] kroniak opened #954 "Claims tables id type"
I see that claims to role and claims to user tables have int PK id.

[code]

In other tables uses string GUID PK.

In this case there are no ability to make cross database migrations.

[2016-09-07 20:49] blowdart commented on #954
I don't understand what the issue or the question is here? Could you expand?

[2016-09-07 20:50] blowdart commented on #940
@divega

[2016-09-08 01:05] RoySalisbury opened #956 "Extending IdentityUserRole"
I have a need to extend the way roles (and claims) are assigned to a user.  I need to have the notion of a "site" that a role is applied to for a user.  For example, lets say that you have the following "Roles":

[code]

Then lets say you have the following "sites"

[code]

Normally you would say a user is a member of the "Manager" role and thats where it end.  However, I need to extend that to sa

[2016-09-08 13:10] kroniak commented on #954
@blowdart I think this is issue and this tables must have string id. Then we can be move between databases (like PG and SQL) without recreate ef core migrations code.

[2016-09-08 13:23] blowdart commented on #954
I don't see why they need to have a string ID. It's a key just used for linking, and changing it would mean a database migration for everyone.

What database doesn't have integers? I don't see why having an int demands an ef migration.

[2016-09-08 13:30] kroniak commented on #954
@blowdart As you see

[code]

EF Core added ```Npgsql:ValueGeneratedOnAdd``` and ```SqlServer:ValueGeneratedOnAdd``` tags to migration and it cannot moving between databases. On production it tryes pick up dll like EntytityFramaworkCore.SqlServer.

May be it is EF Core issue.

[2016-09-08 13:30] blowdart commented on #954
Hey @divega is this an EF issue?

[2016-09-09 00:43] RoySalisbury commented on #956
I've worked around my issue (I hope), and will outline what I did below.  However, I think there needs to be something better.

Here is what I did.

Do the base model creation from the parent.  Then, "ignored" the entire entity.

    base.OnModelCreating(builder);
    builder.Ignore<ApplicationUserRole<int>>();

However, that meant that some of the FK relationships were removed.  So I needed to ad

[2016-09-11 08:45] rexcfnghk opened #957 "Should IUserStore be disposable?"
From the source I can see that `IUserStore` implements `IDisposable` but I do not think it makes much sense. I believe disposing resources is only a concern by the implementation class and not the interface. For example when I try to implement my own `CustomUserStore` which does not own any disposable resources, I am forced to add an empty `Dispose` method to make sure it compiles.

Am I using `IU

[2016-09-11 16:51] brockallen opened #958 "Make it possible to extend/hook Security stamp validation to enable keeping current cookie claims when renewing cookie"
Vital claims that might only be captured at login time are lost when the security stamp is renewed. The implementation itself even has a comment to review this behavior:

[code]

I'd suggest simply using the current ticket's claims, but replacing the security stamp. If it's deemed that this is not to be changed/fixed, then perhaps add a flag to allow both behaviors?

This came up as part of using

[2016-09-12 12:31] gdoron opened #959 "How to override the default (1 day) TokenLifeSpan?"
Hi,

After a lot of internal code reading... we found out that Identity is using a LifeSpan of 1 day, we need to change it, what's the way of doing it in core ?

[2016-09-12 23:02] JeanCollas opened #961 "FindByIdAsync should use User key type instead of string?"
In IUserStore.cs and UserManager.cs:
Is there a reason why FindById uses a string type?

[2016-09-13 14:54] scottbrady91 opened #962 "IdentityDbContext and generic DbContextOptions parameter"
When using `IdentityDbContext` alongside another DbContext, an InvalidOperationException is thrown. This is due to the usage of the generic `DbContextOptions` in the `IdentityDbContext` constructor (not an issue in the VS templates due to the ApplicationDbContext constructor).

`The DbContextOptions passed to the Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityDbContext constructor must

[2016-09-14 06:53] Qszer94 commented on #926
I'm also having a hard time trying to get collection of users with collection of their IdentityRoles.
As @coscallis said we can simply access only IdentityUserRole (RoleId, UserId) with EF.
It's a bit confusing cause we can get all Users of IdentityRole but not vice versa.

[2016-09-14 11:42] akanmuratcimen opened #964 "Specify custom token provider when using the methods which uses token provider."
Currently we can change the default token providers on TokenOptions in IdentityOptions. But in my case I need to specify custom token provider when using the method (assume that GenerateEmailConfirmationTokenAsync() and ConfirmEmailAsync()) because of the application which i made send a link if the user uses web client or send a code (Totp) if the user uses mobile client. In short, what do you thi

[2016-09-14 18:02] HaoK commented on #959
Dupe of https://github.com/aspnet/Identity/issues/859

[2016-09-14 18:02] #959 closed

[2016-09-14 18:07] HaoK commented on #958
Yeah the current behavior assumes the UserPrincipalFactory is the source of truth for creating a current up to date principal (we don't want to just refresh the old cookie at all).  Can you just plug in your own derived factory to add the additional claims or are they stored anywhere other than the cookie?

[2016-09-14 18:11] brockallen commented on #958
They're dynamic.

Also this behavior of reloading only from the DB behavior will break OIDC federated sign-out behavior given the need to maintain the `sid` claim coming from an external provider:  https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L123

[2016-09-14 18:17] HaoK commented on #958
Not at all, this feature is about clearing out security related claims or any other things that might have changed in the user.  I.e. some permission has been revoked, so the cookie must be regenerated as its no longer valid.  The stamp claim is only used to trigger the forced refresh.

[2016-09-14 18:17] HaoK commented on #958
We have no way to tell what's sensitive or not, hence the entire cookie needs to be regenerated (which is what the IUserClaimsPrincipal's job is)

[2016-09-14 18:24] brockallen commented on #958
The security stamp is only changed on these operations:
* create user
* set username
* remove login
* set/change email
* set/change phone
* set 2fa
* update password

it's not set when claims or roles change, so I'm not sure I agree with this:

so it really seems the security stamp feature is about when the user's credentials change, not when their data changes.

[2016-09-14 18:28] HaoK commented on #958
Well the idea is when you want to sign out the user everywhere, you call the public method UpdateSecurityStamp on the UserManager....  So in any admin app which is doing the role changes, it almost certainly would call that method (i.e. almost every operation on a manage page should result in this being called).

The idea is any time any 'security' (intentionally vague as its app specific) related

[2016-09-14 18:32] brockallen commented on #958
Regardless of my use case, this still breaks federated sign-out with the OIDC middleware. Perhaps you and @Tratcher could discuss?

[2016-09-14 18:54] brockallen commented on #958
Also, something to consider: Make it easier to extend the existing `SecurityStampValidator`. It looks like I can't derive from the existing, and instead have to replicate all of the same logic. Perhaps either some virtuals to break apart the check vs. the replacing the user. Or just move the logic of checking for enough elapsed time into an extension method.

[2016-09-14 18:56] brockallen commented on #958
Wait, I just looked again at the implementation in `SecurityStampValidator`. If the validation is successful (meaning the security stamp has not changed), then the user is replaced. So a new cookie is issued even if nothing security related on the account has changed.

I now get the signout part, but why reissue/replace the claims? That's the "feature" I don't understand.

[2016-09-14 20:01] HaoK commented on #958
Its been this way since we added this feature I think (2.0), unfortunately I don't exactly remember the reasoning anymore (regenerate vs reuse).  @blowdart any recollection, basically the behavior we have is, we check every 30 minutes or so, when we check (we either reject the cookie (stamp doesn't match), or we regenerate an fresh principal for the user.

If I were to guess, this is safest, since

[2016-09-14 20:04] brockallen commented on #958
Turns out it's impossible to build a custom `IUserClaimsPrincipalFactory` that copies over the claims from the current logged in user, because it's called from within the authenticate phase of the cookie MW. IOW, the cookie mw calls security stamp validator, which calls user manager, which calls my IUserClaimsPrincipalFactory, which tries to call authenticate on the authentication manager, which t

[2016-09-14 20:06] HaoK commented on #958
You probably have to do it from within a custom security stamp validator, since that has access to both the old principal, and what's going to be the new principal.

[2016-09-14 20:07] HaoK commented on #958
To be more precise, not necessarily a custom identity validator, but hook into the same cookie events the security stamp validator is

[2016-09-14 20:07] brockallen commented on #958
Right. See my comments about about that.

[2016-09-14 20:09] HaoK commented on #958
Sure, we can certainly revisit the validator to make it more reusable as that hasn't gotten any love since it was first written back in the katana days

[2016-09-14 20:11] blowdart commented on #958
Don't blame me for 2.0 :) I can't even remember adding this feature.

[2016-09-14 20:12] HaoK commented on #958
Sure you do, you and levi did the security review and pushed for sign out
everywhere, which is this feature :)

On Wed, Sep 14, 2016 at 1:11 PM, Barry Dorrans <notifications@github.com>
wrote:

[2016-09-14 20:13] blowdart commented on #958
It was well over a year ago. I can't remember what I did last week. It does seem out to spit out a new cookie.

[2016-09-14 20:15] HaoK commented on #958
Well lets say hypothetically we didn't spit out a new cookie every time we
hit the database (every 30 min or so), then even if you removed a user from
the admin role, that would never get reflected in their cookie unless they
signed out...

On Wed, Sep 14, 2016 at 1:13 PM, Barry Dorrans <notifications@github.com>
wrote:

[2016-09-14 20:15] brockallen commented on #958
But if you care about this, then when your admin UI removes them from the admin role you'd also trigger the security stamp being changed. Thus the user would be forced to login again.

[2016-09-14 20:17] HaoK commented on #958
Yeah so we would be putting the onus onto the app developer to get it right, this does not seem like something obvious for people to automatically get right...

[2016-09-14 20:17] HaoK commented on #958
Its been hard enough for us to get this right :)

[2016-09-14 20:17] brockallen commented on #958
Begs the question why this wasn't done automatically in the AddRole APIs.

[2016-09-14 20:18] brockallen commented on #958
Yea, I hear security is hard.

[2016-09-14 20:19] brockallen commented on #958
Here's an idea: Augment the existing security stamp validator to roll over a list of claims that you can configure on the options.

[2016-09-14 20:20] HaoK commented on #958
More likely I will just add an extensibility point where you can hook and do your own thing easier than replacing the whole shindig, you really just want yet another claims transformation point where this one is old principal to new principal, with access to all your stuff

[2016-09-14 20:21] brockallen commented on #958
Yea, I guess that'd work. Only issue is DI -- how does the current security stamp validator get it? Another interface in DI just for this?

[2016-09-14 20:22] HaoK commented on #958
it'd hang off of IdentityOptions somewhere, always a safe dumping ground :)

[2016-09-14 20:23] HaoK commented on #958
this is identity specific anyways, not a general cookie middleware validator

[2016-09-14 20:23] brockallen commented on #958
Yea, ok. I guess that'd work.

[2016-09-15 18:44] bernatgy commented on #961
As I can see, they have left behind the customization of key types...

[2016-09-15 18:48] JeanCollas commented on #961
Indeed, changing the key type doesn't compile (issues with incompatible types).
I had to fork the code to use a custom key type...

[2016-09-15 19:03] HaoK commented on #961
Customization of the key types is now only a store concern.  The core identity apis all use string, your store implementation is required to implement string GetUserId(TUser user), so you can still persist the key in whatever type you want, but your store is responsible for doing the stringifcation.

[2016-09-15 19:03] #961 closed

[2016-09-15 22:25] HaoK commented on #958
@brockallen chatted with @Tratcher and we think that the same transformation step that was needed to get the sid into the identity cookie, could be updated to use this new feature to carry over the sid into the new cookie.

[2016-09-15 22:28] brockallen commented on #958
What if we need some additional logic to carry over claims beyond the OIDC logic for the sid claim?

[2016-09-15 22:30] HaoK commented on #950
We've decided to roll the authenticator info into the existing UserAuthenticationTokenTable

[2016-09-15 22:30] #950 closed

[2016-09-15 22:56] HaoK commented on #958
Yeah basically since they would have to have been doing something custom to get the sid in there in the first place, they just need to do more to keep it carried over when the validator refresh's the cookie

[2016-09-16 00:10] brockallen commented on #958
Ok, so the OIDC MW config will somehow hook into it automatically, but if someone custom must do it they then need to know to include sid in their custom implementation.

[2016-09-16 04:01] iberodev commented on #724
I am experiencing a similar situation where I can see when debugging that sometimes the same method

    var userEntity = await _userManager.FindByNameAsync(username);

is returning the user with its navigation properties and sometimes it is not.
Thanks @divega for highlighting that because that might be the reason.

Just to clarify, it's like using lazy loading mode (even when in AspNet Core is n

[2016-09-16 06:28] pauldotknopf commented on #915
Is the final suggested solution to this problem "removing the cookie"?

Please checkout my project [```react-aspnet-boilerplate```](https://github.com/pauldotknopf/react-aspnet-boilerplate). Without going into great detail, I pretty much have to have the ability for me to leave the cookie as is. Is there no other solution?

I might have to create my own encrypted cookie to store the external login

[2016-09-16 06:35] pauldotknopf commented on #915
I absolutely agree with @gdoron here. I have built my entire boilerplate ([here](https://github.com/pauldotknopf/react-aspnet-boilerplate) around this feature behaving as it did in RC2, and now it is completely broken. Sure, you fixed it in the templates, but my workflow is completely different for the external logins and your fix in the templates doesn't translate to my boilerplate.

This is incr

[2016-09-16 07:01] gdoron commented on #915
@Tratcher @Eilon

Though it was discussed in length already, I just want to add one more thing.
We now changed our homepage to have two big icons of Google and FB for non registered users.
The template fix won't help here, and obviously I can't delete the auth cookie every time some goes to the homepage...

I used @mikes-gh 's code, so I'm **sort of** safe, but other people which surely 99.99% of

[2016-09-16 07:19] gdoron commented on #915
The thing is, the template fix is good as long as you use the exact same flow, pages and code for login/register as in the template.
If you diverge even the slightest, it's completely useless.

[2016-09-16 07:34] pauldotknopf commented on #915
@gdoron I still believe this is an issue, but I have a workaround that will fix your problem. Instead if redirecting (to flush cookie) before they get to the external login redirect, do the flushing right at the external login redirect.

For example:

[code]

[2016-09-16 07:42] gdoron commented on #915
@pauldotknopf Looks good to me.
BTW,  what is `autoLogin`?

[2016-09-16 07:44] pauldotknopf commented on #915
The ```autoLogin``` is something specific to my workflow. External authentications don't always trigger logins. Checkout the boilerplate I mentioned for more details.

[2016-09-16 11:31] dazinator opened #966 "TicketDataFormat and dependency injection"
I notice with asp.net identity, you are forced to create the custom `TicketDataFormat` during ConfigureServices() like so:

[code]

If `SomeCustomFormat` requires services such as a Logger<T> or `IHttpContectAccessor` for example, how can we get them injected?

This differs from the CookieMiddleware which lets you do this when AppBuilder is available:

[code]

So how do we go about creating custom

[2016-09-16 12:14] dazinator opened #967 "Application Cookie, multiple domains"
Hello,

My website is accessible on a couple of different domains.

I was previously using cookie middleware, without identity like so:

[code]

This worked fine.

However, I have now implemented `Identity`.
I'd like Identity to use a seperate cookie per domain.

How do I register the cookie for each domain like I did with the cookie middleware previously?

I have tried doing the following but it

[2016-09-16 13:38] dazinator commented on #967
I have created repro of the problem here, starting with an out of the box website: https://github.com/dazinator/AspNetCore-Identity-MultiDomain/blob/master/README.md

[2016-09-16 13:52] dazinator commented on #967
Ok figured out how to do this in the end.

In ConfigureServices()

[code]

Then in Configure():

[code]

This sets things up, so that the identity cookie is segregated per domain.

[2016-09-16 13:54] dazinator commented on #967
The important point to note is that the cookie middleware is linked to the identity middleware by using the `cookieOptions.AuthenticationScheme`

[2016-09-16 14:04] dazinator commented on #967
Actually, my sample still doesn't work.  It only worked for one of the domains :(

[2016-09-16 14:58] dazinator commented on #967
Ok problem solved. Asp.net identity already restricts the application cookie by domain

[2016-09-16 14:58] #967 closed

[2016-09-16 15:03] dazinator opened #968 "Application Cookie, segregating by domain"
TLDR: Cannot share identity cookies accross domains: Repro here: https://github.com/dazinator/AspNetCore-Identity-MultiDomain/blob/master/README.md

My website is hosted on the following domains:

127.0.0.1   app.foo.com
127.0.0.1   app.bar.com
127.0.0.1   another.bar.com

I would like to share the identity cookie accross a top level domain i.e ".bar.com".
In other words, I'd like for a user to lo

[2016-09-16 15:44] dazinator commented on #968
Repro here: https://github.com/dazinator/AspNetCore-Identity-MultiDomain/blob/master/README.md

[2016-09-17 18:22] Ketrex opened #969 "UserManager CancellationToken private"
Why is the CancellationToken in UserManager private and not protected so it is available to derived class methods and properties?

[code]

I have created a new class inheriting from UserManager and added a few new async methods that could make use of the cancellation token if only it was available.

example:

[code]

[2016-09-18 10:40] mdmoura opened #970 "An error occurred while calling method 'ConfigureServices' on startup class"
On an ASP.NET Core 1.0.1 project I have the following context:

    public class Context : IdentityDbContext<User, Role, Int32, UserClaim, UserRole, UserLogin, RoleClaim, UserToken> {
      public Context(DbContextOptions options) : base(options) { }
      protected override void OnModelCreating(ModelBuilder builder) {
        base.OnModelCreating(builder);
      }
    }

Where the entities are th

[2016-09-19 17:10] Tratcher commented on #958
No, he meant that for you to have copied external claims over to the app cookie you already had to hook one identity event. Now there will be another identity event you'll hook up at the same time.

[2016-09-20 12:41] Ketrex commented on #970
I believe your issue is related to (and fixed) in this code commit:
https://github.com/aspnet/Identity/commit/1a0cd3c4d15be988abefd889853b0c6d973db9f4

This updated version has not been released yet. To get around the issue, you may want to copy the code in the corrected version into your own, custom UserStore as a temporary workaround.

[2016-09-20 15:03] mdmoura commented on #970
@Ketrex So I need to copy the UserStore file:

https://github.com/aspnet/Identity/blob/1a0cd3c4d15be988abefd889853b0c6d973db9f4/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs

But how to register this UserStore in my Startup class?

[2016-09-20 15:20] Ketrex commented on #970
@mdmoura
replace
[code]
with
[code]

.AddEntityFrameworkStores() is just a helper method, if you dig into it, all it does is add the two stores to your service container. You can review it [here](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/IdentityEntityFrameworkBuilderExtensions.cs)

[2016-09-20 18:15] joshgarwood commented on #651
Is this still not finished?  Which is to say, are we not able to use signInManager if we're using JwtAuthentication?  I'm using .Net Core and jwt tokens, but would also like to leverage signInManager... is this possible yet?  Or is there another recommendation you could make?

[2016-09-20 18:25] brockallen commented on #651
The other recommendation is to use a token service like IdentityServer: https://blogs.msdn.microsoft.com/webdev/2016/09/19/introducing-identityserver4-for-authentication-and-access-control-in-asp-net-core/

[2016-09-20 20:24] HaoK commented on #859
Short term plan is to add TokenProviderInstance to the TypeDescriber map, so an instance can be jammed in via IdentiyOptions configuration

[2016-09-21 08:48] MorayM commented on #957
For the record I found this issue after Googling to check that I could use disposable entities in an implementation of `IUserStore` so feel I should add my two pence!
You _are_ probably using `IUserStore` correctly, however as my current implementation of it uses various database connection objects which implement `IDisposable` I'm very grateful that it does so I can be sure they're cleared up pro

[2016-09-21 09:05] HaoK commented on #970
Dupe of https://github.com/aspnet/Identity/issues/855

[2016-09-21 09:05] #970 closed

[2016-09-21 12:32] snys98 opened #971 "AddRoleManager should support a generic RoleManager?"
Case I have some code like this:

[code]

notice that the line of `.AddRoleManager<RoleManager<SiteRole>>()` is going to throw an exception of

```Type RoleManager`1 must derive from RoleManager<SiteRole>```

and sure that generic type of `RoleManager<SiteRole>` actually means the type of ``RoleManager`1[SiteRole]``.

I've find out that I was able there is a workaround of making a real type to der

[2016-09-21 15:47] HaoK commented on #971
AddIdentity already calls adds a RoleManager service. That method is for adding a derived role manager.

[2016-09-21 20:33] itsfelipesan opened #972 "No IUserTokenProvider named 'Default' is registered"
Hi guys, I'm getting the error "No IUserTokenProvider named 'Default' is registered" when try to generate tokens, like ` await _userManager.GeneratePasswordResetTokenAsync(user)`.

That's how  I'm registering the service:

[code]

Someone could help me?

[2016-09-21 20:44] itsfelipesan commented on #962
Could you try to use a Generic parameter like that?

[code]

[2016-09-21 21:07] #971 closed

[2016-09-21 21:11] blowdart commented on #968
Why you say doesn't work, what do you actually mean?

[2016-09-21 21:16] blowdart commented on #957
Yes. Because, as you can see, other folks might want to dispose things. It's fine to no-op it if you don't need to do anything.

[2016-09-21 21:16] #957 closed

[2016-09-21 21:26] dazinator commented on #968
I mean it doesn't work, in that, due to the fact that Identity registers `IdentityOptions` as a singleton, and due to the fact that it uses this class to configure its cookies (like the application sign in cookie), if you need to configure multiple distinct application sign in cookies (for example one for *.foo.com and one for *.bar.com) - you can't do this.

The illustration, is that if you have

[2016-09-21 22:22] HaoK commented on #968
Yes, identity does not expect to be multi instance, unlike cookies which is.

[2016-09-22 00:38] snys98 commented on #971
Well, but if I didn't add a RoleManager explicitly, an exception of service not found will be thrown.

[2016-09-22 18:52] scottbrady91 commented on #962
Currently I'm using the following workaround, similar to what you suggested:
[code]
Seems a bit odd to be made to do this when you want to use more than one `DbContext` in a project. Shouldn't this be the default behavior of the library?

[2016-09-23 18:28] itsfelipesan commented on #972
Do you have some information about this?

[2016-09-23 19:04] HaoK commented on #966
So underneath the covers, UseIdentity ends just doing:

[code]

You can remove the UseIdentity call and configure the TicketDataFormat explicitly instead which should work.

[2016-09-23 21:12] divega opened #975 "EF Core stores: Switch to Find[Async]() instead of First[OrDefault][Async]() or Single[OrDefault][Async]() as appropriate"
`Find()` (added to EF Core in 1.1) can return objects already in memory without performing a database roundtrip. We are also unnecessarily using `SingleOrDefault()` in some cases in comparisons by key which would never return more than one row.

[2016-09-25 11:26] VahidN commented on #829
[Reported here](https://github.com/aspnet/Identity/issues/855).

[2016-09-25 13:22] brockallen opened #976 "Consider an approach to allow additional claims to be supplied at login time"
Perhaps some overload of `SignInAsync` on the `SigninManager` that allows additional claims to be set into the cookie.

I know our prior discussion of the security token stamp validator overwriting the claims somewhat defeats this, but given the fix for that this woul[d sill be a welcome addition.

Backstory: In short, a customer needs to capture additional context at signin time that's not in his

[2016-09-26 16:54] #968 closed

[2016-09-26 18:04] HaoK commented on #944
5d759abcde8e652fa83ad1a7099fffffb53ca648

[2016-09-26 18:04] #944 closed

[2016-09-26 18:05] HaoK commented on #939
dbec1c6236ac5cc6bc31db52686259c64c89a7d3

[2016-09-26 18:05] #939 closed

[2016-09-26 18:05] HaoK commented on #969
dbec1c6236ac5cc6bc31db52686259c64c89a7d3

[2016-09-26 18:05] #969 closed

[2016-09-26 18:55] HaoK commented on #972
Can you debug and double check that your token provider services got configured properly?

The user manager is expecting to find something called "Default" in the `IdentityOptions.Tokens.ProviderMap.Keys` which has an instance of `IUserTwoFactorTokenProvider<TUser>`.

Can you show more of your startup, and also your controller action + ctor that's causing the error.

[2016-09-26 22:01] MiniverCheevy opened #978 "No authentication handler is configured to authenticate for the scheme: MyCookieMiddlewareInstance"
The code in this article

https://docs.asp.net/en/latest/security/authentication/cookie.html

produces interment exceptions.   There is a fix detailed here

http://stackoverflow.com/questions/38968422/no-authentication-handler-is-configured-to-handle-the-scheme

corrects the issue, but it seems like a lot of hoops to jump through.

calling HttpContext.Authentication.SignInAsync will often throw an

[2016-09-27 04:51] brunopiovan commented on #978
The only difference between your versions and mine when I wrote that fix is Mvc and Kestrel were both 1.0.0.

After investigating a bit more, I changed the code slightly:

[code]

the comment explains it.

[2016-09-27 12:34] itsfelipesan commented on #972
Of course @HaoK. I have followed the tutorials at the documentation. That's my codes:

Startup

[code]

Controller

[code]

Problably It'd not a bug. I must be doing it wrong. I'm accustomed with the .NET 4.6, which `GeneratePasswordResetTokenAsync` worked without extra configuration.

[2016-09-27 13:09] gdoron opened #979 "Is it possible signing out a user other than the current user?"
Currently when we give a user a new claim-role we need to ask them to signout and and signin again which many times leads to confusion.

Is it possible to force a user to login on Identity core?

For example, something like:

	_signInManager.SignOutAsync("a4342bc-4327ac-123-" /*UserId*/)
	_signInManager.SignOutAsync(applicationUser)

My Googling found nothing 😢

[2016-09-27 13:51] brockallen commented on #979
You can update that user's security stamp in the DB. This will trigger signout of any app that honors the security stamp.

[2016-09-27 14:10] gdoron commented on #979
@brockallen  thank for the reply Brock.
But I fail to understand how changing a column in the DB is going to force a user to sign-in again?
Identity doesn't go to the DB on every HTTP request.

Can you please explain a bit more?

Thanks mate,
Doron

[2016-09-27 14:37] gdoron commented on #979
@brockallen I read the source code of Identity a bit, did you mean using something like:

	if ((await _signInManager.ValidateSecurityStampAsync(User)) == null)
		//...
On every request?

Is there something built-in?  that does it automatically every x minutes?

BTW, @HaoK  this is probably a typo:

    /// <summary>
    /// Get the security stamp for the specified <paramref name="user" />.
    ///

[2016-09-27 15:41] viennv1709 opened #980 "Can't inherit BaseEntity and IdentityUser for ApplicationUser"
With the current implementation of ASP.NET Core Identity. I can't create an ApplicationUser class that inherit from the IdentityUser class and the custom BaseEntity class.

[2016-09-27 16:01] brockallen commented on #979
It is done automatically: https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IdentityCookieOptions.cs#L36

[2016-09-28 07:17] gdoron commented on #979
@brockallen
Thanks Brock, you surely helped me a lot!

BTW, can I have different intervals based on the role?
For admin for example I would want it to run every 5 minutes while for normal user I wouldn't mind it be much higher.

[2016-09-28 07:17] #979 closed

[2016-09-28 12:24] brockallen commented on #979
You'd need to build your own at that point.

[2016-09-28 13:50] CamiloTerevinto opened #981 "Does TwoFactorSignIn contain a bug or am I configuring Identity incorrectly?"
Plase refer to [Does Identity Core TwoFactorSignIn contain a bug?](http://stackoverflow.com/questions/39746258/does-identity-core-twofactorsignin-contain-a-bug)

[2016-09-28 16:56] blowdart commented on #981
Copying the stack overflow issue, because a refer isn't that useful when triaging.

This is a very annoying problem, I'm setting up cookies authentication on my asp.net core project and sometimes this error occurs and sometimes it doesn't!

There is no pattern! It just starts throwing the error and suddenly it stops, then start again...

The exception is:

InvalidOperationException: No authenticat

[2016-09-28 17:13] Tratcher commented on #978
Can anyone share a sample app (via a github repo) that reproduces this? Especially the MVC controller code.

My only theory is a threading issue because IHttpAuthenticationFeature.Handler is cleaned up towards the end of the response.

[2016-09-28 18:12] HaoK commented on #981
I'm not sure what you mean by TwoFactorSignInAsync sets the username 4 times.

So this method is what does sign in: https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/UserClaimsPrincipalFactory.cs#L78

SignIn manager does some work around verifying the two factor code, and the user, but the actual application cookie generation is done by the UserClaimsPrincipalFactory.

[2016-09-28 20:09] BehnamAbdy opened #982 "How to Add custom field to aspnetUserClaim table"
I need to add a custom field to aspnetuseclaim table.I know some how I must inherit the IdentityUseClaim<> and do the customization but doing it and make the identity context to use this class is not that easy. Can any one help me with sample!!

[2016-09-28 20:38] HaoK commented on #964
We are adding the ability to specify instances in the provider map, I'm not sure if that completely addresses your issue, but you will be able to configure a different instance for each method if you so like via https://github.com/aspnet/Identity/pull/983

If you want to switch between different providers in a different fashion you probably have to drop down and use the lower level methods:

Gener

[2016-09-28 21:11] HaoK commented on #982
See https://github.com/aspnet/Identity/blob/dev/test/Microsoft.AspNetCore.Identity.EntityFrameworkCore.Test/UserStoreWithGenericsTest.cs#L87

[2016-09-28 21:11] #982 closed

[2016-09-28 21:13] HaoK commented on #980
You don't have to inherit from IdentityUser unless you are using our EF User Store.  If its not possible to make BaseEntity derive from IdentityUser, you can always write your own UserStore implementation (reusing most of the code from ours)

[2016-09-28 22:26] CamiloTerevinto commented on #981
Hello @HaoK,

If I debug right after ` var result = await _SignInManager.TwoFactorSignInAsync("Email", model.Code, false, model.RememberBrowser);` the HttpContext.User property contains 4 times exactly the same claim:

{http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name: MYGUID}

Thus, either how I set up Identity in Startup is wrong or the 1.0.0 version of TwoFactorSignInAsync does not pu

[2016-09-28 22:34] HaoK commented on #981
Can you make sure that AutomaticAuthenticate is off for all of the cookie middleware other than the ApplicationCookie (inside of IdentityOptions.Cookies.XyzCookie)

[2016-09-29 10:45] CamiloTerevinto commented on #981
@HaoK,

AutomaticAuthenticate is a bool, and I am not setting it explicitly in my code, so my guess is that it's false by default? Not sure where can I check it apart from ConfigureServices

[2016-09-29 14:09] itsfelipesan commented on #972
I have tryed to configure in that way:

[code]

But I'm still getting the same error.

[2016-09-29 14:55] TonyBarnett opened #984 "Can't extend user store"
Should this not be `IUserStore` and `IRoleStore`? https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/IdentityEntityFrameworkBuilderExtensions.cs#L50

As it stands it means I cannot use a custom user store unless it inherits from UserStore (which it cannot).

[2016-09-29 20:29] HaoK commented on #981
What version of the packages are you using, there was a bug fixed in older versions where the defaults used to be true, you can turn all of the AutomaticAuthenticates to false other than the Application if don't want to upgrade

[2016-09-29 20:32] #859 closed

[2016-09-29 21:36] CamiloTerevinto commented on #981
I have no problem upgrading, I am even on EF Core 1.0.1 already. But I have the latest stable as per Nuget (1.0.0). I'll try turn them off explicitly and see what it does

[2016-09-29 21:50] HaoK commented on #981
The defaults should be set to off: https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IdentityCookieOptions.cs

[2016-09-29 22:49] CamiloTerevinto commented on #981
I followed the link provided and changed the Identity setup to this:

[code]

Now after a successful "TwoFactorSignInAsync", HttpContext.User contains 0 identities/claims so not even my workaround works. I checked and all but ApplicationCookie have `AutomaticAuthenticate = false`

[2016-09-29 23:00] HaoK commented on #981
Just to clarify expectations, assuming TwoFactorSignIn returned success, it should be setting a cookie which contains the application cookie which will have the user on the next request.  Is that what you are seeing?  I'd also try getting rid of any HttpOnly/Cookie secure extraneous settings for now.

[2016-09-29 23:15] CamiloTerevinto commented on #981
Using this
[code]

I'd expect that if I enter the if it's because all is good, the user entered the correct code and etc. Under normal "_SignInManager.PasswordSignInAsync" this is true; however, for TwoFactorSignInAsync I get null.
I am now debugging TwoFactorSignInAsync: [SignInManager L379](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L379)

twoF

[2016-09-29 23:22] HaoK commented on #981
Again, two factor sign in if successful, means the NEXT request will have the User set.  Authentication for the current request has already happened.  None of the SignIn's have no effect on the current request.

[2016-09-29 23:26] CamiloTerevinto commented on #981
Ahhh, I now get what you are saying. I did not know that. In fact, I never really saw that mentioned anywhere.
Ok, I removed the get user part for that action and all is working fine, the redirection is already authorized properly. Thank you for your time

[2016-09-29 23:26] #981 closed

[2016-09-30 18:54] HaoK commented on #964
If you are managing the token provider instances instead of the user manager, you can just directly call into the provider with the appropriate purpose/user, you don't need to go through the user manager in this case.

[2016-09-30 18:54] #964 closed

[2016-09-30 18:56] HaoK commented on #984
This is correct, if you cannot derive from our UserStore/RoleStore, then you need to just implement the interfaces yourself, and you probably don't need to use the Identity.EntityFrameworkCore package at all in that case.

[2016-09-30 18:56] #984 closed

[2016-09-30 18:57] HaoK commented on #972
Why is AddIdentity called twice?

[2016-09-30 19:02] HaoK commented on #972
So basically the problem is that IdentityOptions is a singleton, so the problem is that you are calling AddDefaultTokenProviders twice, so it ends up being the wrong type if you try to get a token provider for the first user.  Basically the Default provider is the one for the second OpenIddict manager, so calls to the first manager's token apis will never succeed.

See https://github.com/aspnet/Id

[2016-09-30 19:03] HaoK commented on #972
What are you trying to do that requires multiple user managers with different user types?

[2016-09-30 20:21] MiniverCheevy commented on #978
Interestingly enough my sample app doesn't throw the exception.  It has the same basic workflow, javascript post to async controller method, which calls an async command, which makes an async call to authenticate the user, an async call to create the identity, then an async call to sign in.

I'm simulating the async entity framework calls, am I correct in assuming that using CopyToAsync from a fil

[2016-09-30 20:45] itsfelipesan commented on #972
Hi @HaoK, now I uderstand what you mean. Now I'm calling the AddDefaultTokenProviders once and now tie token generation is working.

Thank you for the explanation and sorry for some inconvinience.

[2016-09-30 20:56] HaoK commented on #972
Cool, no problem, glad its working now

[2016-09-30 20:56] #972 closed

[2016-09-30 20:58] HaoK opened #985 "Should AddIdentity throw if called more than once?"
See for some bad unexpected things that can happen: https://github.com/aspnet/Identity/issues/972

Basically we don't really support it, so should we try to block it?  Throw if a AddIdentity is called a second time(we can just look for our Marker interface basically)

Thoughts? @divega @blowdart

[2016-09-30 21:11] divega commented on #985
Would it be easy to make it idempotent? e.g. do we have places in which we could replace Add with TryAdd methods?

[2016-09-30 21:26] HaoK commented on #985
AddIdentity is fine, its the Configure of the options, they SHARE options (since its singleton), which is 100% not what people would expect, that you get the union of all of the AddIdentity options configurations, with last one winning...

[2016-09-30 21:26] HaoK commented on #985
Meaning, the services we add are fine in AddIdentity, those are already all TryAdds and safe

[2016-09-30 22:47] blowdart commented on #985
Throw

[2016-10-01 06:55] divega commented on #985
Agreed.

[2016-10-02 18:09] HaoK commented on #985
This is probably technically a breaking change, still ok for 1.1?

[2016-10-02 19:56] divega commented on #975
Yes unless there is not enough time. I assigned it.

[2016-10-02 23:33] divega commented on #985
Fair enough, it is a breaking change if customers can reasonably have things working with this setup today. We need to understand:

- How common this is.
- Are there legitimate reasons to have things setup this way or are we convinced it is not a valid scenario? If it is a valid scenario we may consider a pattern to allow independent options to be configured (e.g. we solved this problem in EF Core

[2016-10-03 04:15] HaoK commented on #985
I doubt its very common, but given that we've already seen one example of someone doing this, its certainly possible today if they have multiple user entity types, and are using identity to access them.  That said, if they are careful and either avoided or worked around any issues that arose from all instances of UserManager's sharing the same identity options, it would work...

[2016-10-03 04:18] HaoK commented on #985
That said, even if we were to block AddIdentity from being called more than once, anyone who was relying on this before would still be able to work around the block by manually adding the services that AddIdentity does.

[2016-10-03 19:28] HaoK commented on #975
@divega does this work only on key's (the userID/roleID), or would it work for things that are unique index'ed, like the NormalizedName queries?

[2016-10-03 21:10] mdmoura commented on #970
@Ketrex

Not sure what the problem is but I added the new UserStore to my code and named it CustomUserStore:

    https://github.com/aspnet/Identity/blob/1a0cd3c4d15be988abefd889853b0c6d973db9f4/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs

And on Startup I added the following:

        .AddUserStore<IdentityUserStore<User, Role, Context, Int32, UserClaim, UserRole, UserLogin

[2016-10-03 21:21] Ketrex commented on #970
@mdmoura, I'm afraid that's not enough for me to go on. Any chance you can throw your project in a github repo so I can take a look?

That error indicates that your container does not contain all the necessary members to instantiate your custom UserStore. But without your code, it's hard to tell what the problem is.

[2016-10-03 22:00] #975 closed

[2016-10-03 22:16] mdmoura commented on #970
@Ketrex I just added to a demo project to github:
[https://github.com/mdmoura/Core](https://github.com/mdmoura/Core)

If you start the project with will get an error on Program/Main.

Am I missing something?

[2016-10-03 22:45] divega commented on #975
@HaoK only on primary keys, at least for now.

[2016-10-04 02:49] RLaptev opened #987 "Question - user gets auto logged off."
I'm using all the latest libraries of AspNetCore, including Identity 3.0 but without the Entity Framework. Authentication works perfectly, the client receives an authentication cookie (expiring in default 14 days). Consecutive requests to the site return true for both User.Identity.IsAuthenticated and SignInManager.IsSignedIn. After about 5 minutes of inactivity, request to the same page would ret

[2016-10-04 03:15] HaoK commented on #987
The security stamp validator could cause this behavior, make sure that your users have a security stamp set

[2016-10-04 14:03] RLaptev commented on #987
Thank you, thank you!
You steered me in the right direction. My user object did have the SecurityStamp set, but I was missing SecurityStamp claim under `Task<ClaimsPrincipal> CreateAsync`. Adding the line below fixed the problem. Thanks again!

`identity.AddClaim(new Claim("AspNet.Identity.SecurityStamp", user.SecurityStamp));`

[2016-10-04 14:03] #987 closed

[2016-10-04 15:48] davidliang2008 opened #988 "The type cannot be used as type parameter TRole in the generic type or method UserStore. No implicit reference conversion from AppRole to IdentityRole<int, ....>"
I am trying to build an Identity Server and use ASP.NET Identity as my user store. Rather than using the default `string` as the Ids, I am trying to change it to `Int`. And I got a build error:

**Code**: `Error CS0311`
**Description**:
`The type '[MY_NAME_SPACE].AppRole' cannot be used as type parameter 'TRole' in the generic type or method 'UserStore<TUser, TRole, TContext, TKey, TUserClaim, TUs

[2016-10-08 21:07] IsmailHassani commented on #812
I'm using a custom ctor that generates a new guid (my id's are based on Guid's)

[2016-10-09 15:05] IsmailHassani opened #989 "Wrong id used in FindByIdAsync method of Microsoft.AspNetCore.Identity.EntityFrameworkCore.RoleStore"
[code]
should be:

[code]

[2016-10-09 15:09] IsmailHassani opened #990 "Wrong parameter used in FindByNameAsync method of Microsoft.AspNetCore.Identity.EntityFrameworkCore.RoleStore"
[code]
should be:

[code]

[2016-10-09 15:13] zchhaenngg commented on #990
<param name="normalizedName">The normalized **role** name to look for.</param>

[2016-10-11 01:00] furlanrapha opened #991 "Create default `IdentityErrorDescriber` for some languages"
Hi, I know that we have the ability to extend `IdentityErrorDescriber` and create our custom messages but shouldn't be better if we have already some default `IdentityErrorDescriber` for the most used languages? (I don't know right now the most used languages)

This is just an issue I would like to comment because I'm translating it right now, but for sure another person is doing the same in his c

[2016-10-11 23:36] shutdown256 opened #992 "Q: Authorization expiration"
In my SPA I have problem with user login expiration I've set signin persistent = true, ApplicationCookie.SlidingExpiration = true and AddDataProtection().PersistKeysToFileSystem(), but during testing I get signed-out quite often at (seemingly) random intervals. This is obviously bad for SPA where I need to do a lot of fetch/ajax reqs. - is there a way to know when will user auth expire or at least

[2016-10-12 08:57] cedric-cazin opened #993 "Q: IdentityDbContext in WebSite and MyProjectDbContext in separate assembly sharing a table"
Hello

I have a Web Site with of course an `ApplicationDbContext : IdentityDbContext<ApplicationUser>`
where my ApplicationUser is :
[code]
UserInfo come from MyProject.Models (where I have a MyProjectDbContext) because it used by other project (Web Services, Windows Services...) and is also joined to other table, mainly in history tables...
I wish to keep the ApplicationDbContext (IdentityDbConte

[2016-10-12 14:57] ole1986 commented on #766
I do not know if this is still an issue but I noticed when I used
`ApplicationCookie.ExpireTimeSpan = TimeSpan.FromMinutes(5)`
And cookie has never been created (or shown in browser) and I also get not "logged in"

As I have UTC + 2 (Berlin) timezone, I tried `DateTime.Now.Subtract(DateTime.UtcNow).Add( TimeSpan.FromMinutes(5.0) );` which makes the TimeSpan to **02h05m**. But in Chrome browser usi

[2016-10-12 21:03] blowdart commented on #993
@divega

[2016-10-12 21:10] blowdart commented on #992
What are you trying to do setting both persistent and slidingexpiration? Those are mutually exclusive options.

[2016-10-12 21:12] blowdart commented on #991
This isn't an unreasonable request (although we can't take translations from the community, because, as folks who don't speak the languages we don't know if there's anything in them we should be concerned about).

I'm going to put this in the backlog and we'll look at actually using the feature we added to let you do it yourself to provide at least some common languages in a future release.

[2016-10-12 21:14] blowdart commented on #990
Sort of. The XML documentation is wrong, The function parameter is correct :)

[2016-10-12 21:14] blowdart commented on #989
Dupe #990

[2016-10-12 21:14] #989 closed

[2016-10-12 21:15] blowdart commented on #990
This is resolved in 1.1

[2016-10-12 21:15] #990 closed

[2016-10-12 21:16] blowdart commented on #988
@HaoK can you check this is fixed in 1.1?

[2016-10-12 21:22] #985 closed

[2016-10-12 21:22] furlanrapha commented on #991
Sure, I can help with that. Count with me to make the translation to `pt-BR`.

Thanks for the reply.

[2016-10-12 23:58] pedrommuller opened #994 "No authentication handler is configured to handle the scheme: Linkedin"
I'm trying to follow[ this tutorial ](https://auth0.com/blog/authenticating-a-user-with-linkedin-in-aspnet-core/) and when I click the button to do the external authentication with LinkedIn I get the following error:

the code:

[code]
I've tried to add the route manually but it didn't work

[code]
The other external authentication methods work as expected, any ideas?

[2016-10-13 07:49] shutdown256 commented on #992
My bad, which one of them should I use? Even so is there a good way/how to deal with expired sign-in in SPA?

[2016-10-13 21:04] HaoK commented on #941
Not going to make it in this week after discussion with @divega

[2016-10-13 22:10] HaoK commented on #958
aba7cf96b9ac7c910ee7db5e34fa7cf78516116a

[2016-10-13 22:10] #958 closed

[2016-10-13 22:18] Eilon opened #995 "Clean up sample code"
Do The Needful™️

[2016-10-13 22:23] HaoK commented on #995
ee83dfe9be3dc17fa8367a0031ff355392db8a76

[2016-10-13 22:23] #995 closed

[2016-10-14 15:11] kroniak commented on #954
@blowdart @divega There are any information?

[2016-10-14 16:45] miworx opened #996 "e how to use nightly bits"

[2016-10-14 16:45] #996 closed

[2016-10-14 18:26] divega commented on #954
@kroniak can you try adding both annotations in the same migration manually? We don't support scaffolding annotations automatically that will run across multiple databases but if both annotations are present each provider should be able to make sense of the annotations I knows about. AFAIR there is also a provider name property on the builder you can use to execute conditional logic, but I don't t

[2016-10-14 19:01] kroniak commented on #954
@divers yes, of course I can add this options manually.  I don't understand the logic. in user table, role tables there are string pk, here are int pk. Why?

[2016-10-14 19:25] divega commented on #954
`TKey` only controls the type of `UserId` and `RoleId`. Claim entities are the only ones in the model that happens to have its own surrogate key property. I don't know how intentional the choice of `int` for the type was (@HaoK may remember) but whether EF Core migrations would require provider specific annotations for store generated keys was likely not a consideration when the decision was made.

[2016-10-14 20:16] HaoK commented on #954
It was somewhat intentional, we picked int mostly because it was easy to autogenerate and also compact. int keys cause migration pain?

[2016-10-14 20:20] HaoK commented on #988
There was a missing generic argument for the IdentityRoleClaim, this should be fixexd now in 1.1, dupe of https://github.com/aspnet/Identity/issues/855

[2016-10-14 20:20] #988 closed

[2016-10-14 21:08] divega commented on #954
Some. Only if you are trying to have migrations that work across different databases, which is an advanced scenario.

[2016-10-16 01:23] StrangeWill commented on #855
Any idea on when a 1.0.1 release is coming out? Just ran into this wall and it _appears_ I have no workarounds for customizing Identities to this extent.

[2016-10-16 16:58] raymak23 opened #997 "ASP.NET Core policy based authorization with windows logged in user"
Hello,

I am creating policy base authorization and would like to allow multiple users in one policy to access webpage.

I created policy like shown below in start up file. Question, How can I use multiple usernames in one policy? I looked at the method for` .RequireUserName`, it is only accepting `string username`.

Policy name`AdminServiceAccount` is mostly I am interested in to add multiple use

[2016-10-17 11:12] jgauffin opened #998 "Incorrect userId when UserManager invokes UserStore.FindByIdAsync"
I'm trying to write a custom UserStore/RoleStore and am struggling. This might as well be my error, but am having a hard time to figure out what in that case.

**Background**

There are several questions at StackOverflow about getting the user id when using ASP.NET Identity. Most of them resolve around parsing the `NameIdentifier` claim.

However, most of them seem to miss an import point. When us

[2016-10-17 11:46] tiefling commented on #940
I seem to be having a similar problem here. It looks like ApplicationDbContext is expecting the resolution that is offered by Startup but that Startup isn't executing. I get a more direct message...

No parameterless constructor was found on 'ApplicationDbContext'. Either add a parameterless constructor to 'ApplicationDbContext' or add an implementation of 'IDbContextFactory<ApplicationDbContext>'

[2016-10-17 12:17] jgauffin commented on #998
From my point of view there are two solutions:

1. Let `ClaimsIdentity.UserIdClaimType` be a unique claim and not reference `NameIdentifier`. Make sure that it's set to the id of the application/identity user.
2. Change `UserManager.GetUserId(ClaimPrincipal)` and `UserManager.GetUserAsync(ClaimPrincipal)` so they use `UserStore.FindByLoginAsync`

[2016-10-17 17:00] HaoK commented on #998
You shouldn't be calling GetUserId with the claims principal from an OAuth provider. The only ClaimsPrincipal that should be used with that is one generated via the ClaimsPrincipalUserFactory that identity uses. Associating OAuth with the local user is usually done via the AddLogin method which links the OAuth id to the local user id.

[2016-10-18 05:24] jgauffin commented on #998
My point was that a custom PrincipalFactory and a custom UserManager wouldn't have been required if you had included the userId as a claim per default. I mean, you have the `ClaimsIdentity.UserIdClaimType` and you have a method in the `UserStore` to get the userId. Why not combine them to make it more straight forward to create custom stores?

`ClaimTypes.NameIdentifier` already exist, so why have

[2016-10-18 06:24] jgauffin commented on #998
I saw that the default ClaimsFactory do assign the identity user id to the NameIdentifier.  My own claimsfactory is also invoked. But when `_signInManager.ExternalLoginSignInAsync` have completed the generated principal is nowhere to be found.

Where is it assigned to the current context? I've tried to follow the pipeline and I can see that the SigninManager creates it, but when `_myContext.HttpCo

[2016-10-18 06:30] HaoK commented on #998
The flow is a bit involved, have you stepped through a working normal template flow (MVC/Individual Auth) that does external logins?

Which looks something like: https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/AccountController.cs#L152

There's basically two claims principals (the identity/application identity, and another external identity which has no

[2016-10-18 06:46] jgauffin commented on #998
Yes, I'm using the default AccountController.

In `ExternalLoginCallback` the `_signInManager.GetExternalLoginInfoAsync` returns the oauth claimsidentity which seems correct.

the claimsfactory is invoked when the `ExternalLoginSignInAsync` method is executing. But once it completes I cannot find the created ClaimsPrincipal anywhere.

I had originally not changed anything but the `UserStore` and `

[2016-10-18 06:49] HaoK commented on #998
It doesn't get assigned until the next request, you should see the application cookie being set on the response where you did a signIn, and the next request should result in HttpContext.User having the claims principal

[2016-10-18 06:58] jgauffin commented on #998
I need to do some post processing in the AccountController for the authenticated identity user. Is there no way to retrieve it? I need to be able to get the application user id.

(I'm my specific case I need to store a token for the authenticated user in the database to be able to use single sign-on for multiple domains).

[2016-10-18 19:08] HaoK commented on #998
You can call FindByLogin using the external login to get the user instance out

[2016-10-18 19:10] jgauffin commented on #998
true. thanks.

[2016-10-18 19:10] #998 closed

[2016-10-19 19:45] chassq opened #999 "Identity Token Expiration In ASP NET Core"
Hey,

Can anyone point us to the documentation where it specifies hoe to control the default token provider expiration? We would like to extend this expiration timeout if possible. Here is a sample of our current service config:

            services.AddIdentity<ApplicationUser, IdentityRole>(
                options => {

                    options.Cookies.ApplicationCookie.AuthenticationScheme

[2016-10-20 02:24] lixiaoyuan opened #1001 "Make AddEntityFrameworkStores smarter with generics"
[code]
## Here is my code
### ApplicationDbContext.cs

[code]
### Identity.cs

[code]
### Startup.cs

[code]

[2016-10-20 05:49] divega commented on #1001
@lixiaoyuan what package versions are you using?

[2016-10-20 07:38] lixiaoyuan commented on #1001
@divega
### project.json
{
  "buildOptions": {
    "emitEntryPoint": true,
    "preserveCompilationContext": true,
    "debugType": "portable"
  },
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.1",
      "type": "platform"
    },
    //项目引用
    "BusinessDb.Cor": "1.0.1",
    //web
    "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0",
    "Microsoft.AspNetCore.Server

[2016-10-20 14:36] Bartmax opened #1002 "Password validator requires a user?"
Why this methods requires a User to be passed by?
https://github.com/aspnet/Identity/blob/5480aa182bad3fb3b729a0169d0462873331e306/src/Microsoft.AspNetCore.Identity/PasswordValidator.cs#L39-L75

I want to check if password "123" is valid for my option rules, but the method asking for a user (and not using it apparently) got me wondering. :)

[2016-10-20 14:38] brockallen commented on #1002
What if you need to check a password history list?

[2016-10-20 15:42] Bartmax commented on #1002
So it's there in case someone implementation needs to know the user then?

[2016-10-20 15:43] brockallen commented on #1002
Yes, that's why it's passed, right?

[2016-10-20 15:52] Bartmax commented on #1002
i just hope *check a password history list* isn't still a thing in 2016 ;)

[2016-10-20 15:53] brockallen commented on #1002
Well, that's just one example. Perhaps per-user settings? Could be anything, I suppose.

[2016-10-20 23:54] divega commented on #1001
**Note for triage:**

The call to

[code]

Will try to register type UserStore<SystemUser<Guid>, BusinessDb.Cor.EntityModel.IdentityRole, ApplicationDbContext, TKey> as the implementation for service type `IUserStore<TUser>`

Note that [this generic version of `UserStore` in question](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs#L72

[2016-10-20 23:56] divega commented on #1001
@lixiaoyuan from your code snippets it is not clear whether you could use the simpler generic versions of `IdentityUser` and `IdentityRole` as the base classes for your entities:

[code]

 Could you clarify if in your scenario you actually need to use the base types that allow for full customization for some reason?

[2016-10-21 02:11] lixiaoyuan commented on #1001
@divega

1. I want to modify the entity primary key type.
2. Add fields to user entity .

You said I did not have to inherit the seven base class?

But I still do not know the wrong code above the problem

_If you can not read what I'm saying, because I am using it translate.google.cn_

[2016-10-21 02:56] divega commented on #1001
@lixiaoyuan yes I understand. You should be able to change the key type and add properties by inheriting from the base types that only have one generic argument.

The explanation of why this currently doesn't work is in my previous comment at https://github.com/aspnet/Identity/issues/1001#issuecomment-255259355. But please don't close the issue as I would like to discuss an approach for solving th

[2016-10-21 04:59] lixiaoyuan commented on #1001
@divega  Yes Mr,
Thank you  very much  for your answer.
 I use only have one generic argument to solve.

[2016-10-22 19:07] breyed opened #1004 "ChangePasswordAsync invalidates authorization cookies?"
The documentation for [ChangePasswordAsync](https://docs.asp.net/projects/api/en/latest/autoapi/Microsoft/AspNetCore/Identity/UserManager-TUser/#meth-Microsoft.AspNetCore.Identity.UserManager<TUser>.ChangePasswordAsync) doesn't say whether it invalidates cookies held by other browsers, thus forcing those browsers would need to sign in again. It seems like this would be a good thing; otherwise, the

[2016-10-22 23:59] madmunsterdaddy opened #1005 "External logins breaking suddenly?"
I added Google, Microsoft, Twitter and Facebook as external auth providers. This all used to work great. Suddenly I'm finding it's not working as well (wondering if its one of the recent .NET Core patches?)

Here's what I'm noticing.

1) Create new ASP.net Web Application with Individual auth
2) Add and configure external providers
3) Register for a new account using a password then log on
4) Go t

[2016-10-25 15:24] wickstargazer commented on #855
One question i have, Why does the makegeneric always dies with violation error no matter if we fixed the GenericTypes... This happens for the AddEntityFrameworkStores function.

[2016-10-25 17:24] HaoK commented on #855
AddEntityFrameworkStores only works with the `UserStore<TUser, TRole, TContext, TKey> types, while you are using the base class that allows you to specify more entity types.  You just need to manually add your store instead of using the helper.

`services.AddScoped<IUserStore<TUser>, YourCustomStore>()`

[2016-10-25 18:15] HaoK commented on #1001
This was by design we don't have any sugar for the stores that use the more complicated generic parameters.

[2016-10-26 15:01] PaulRReynolds commented on #1001
I'm also running into this issue since I need to customise the UserRole entity, but I don't see a way of doing this while using the simpler base type.

[code]

[code]

Is there any way to work around this restriction while using an extended IdentityUserRole?

[2016-10-26 21:16] blowdart commented on #1005
Are you on RC2 or RTM? This sounds awfully like https://github.com/aspnet/Announcements/issues/201

[2016-10-26 21:16] blowdart commented on #1004
It does it automatically. It's not immediate, we check validity every 30 minutes by default.

[2016-10-26 21:17] blowdart commented on #1002
It's an extensibility point. You don't have to use it. Brock wanted it for password history.

[2016-10-26 21:17] #1002 closed

[2016-10-26 21:29] blowdart commented on #999
Dupe of https://github.com/aspnet/Identity/issues/859

[2016-10-26 21:29] #999 closed

[2016-10-26 21:31] blowdart commented on #997
This is not an identity question, it should be in the Security repo. You should look at [my workshop](https://github.com/blowdart/AspNetAuthorizationWorkshop), you need to do this in a custom code based policy. If that's not clear log an issue in the [security repo](https://github.com/aspnet/Security/issues).

[2016-10-26 21:31] #997 closed

[2016-10-26 21:32] blowdart commented on #994
This is not an identity issue, it needs to be filed in https://github.com/aspnet/Security/issues

[2016-10-26 21:32] #994 closed

[2016-10-26 21:32] blowdart commented on #991
As I said I'm afraid we can't take translations from the community for all sorts of legal reasons :(

[2016-10-26 21:33] blowdart commented on #992
Well it depends what you're trying to do, Using cookies with SPA is generally not a great idea, because of CSRF. If you limit yourself to sliding, then with each request the cookie expiry will extend (kind of, it's every few requests)

[2016-10-26 21:51] blowdart commented on #994
Copied into https://github.com/aspnet/Security/issues/1015

[2016-10-26 21:58] madmunsterdaddy commented on #1005
I'm in 1.0.1... so post-RTM?

I was bitten by that bug in RC... RTM corrected it. This is different. I've never seen this "accessdenied" action its trying to get it.

I believe it is new as of 1.0.1. I tried to revert, but still having the same issues.

[2016-10-26 22:13] HaoK commented on #704
We decided no to add this functionality to the framework

[2016-10-26 22:13] #704 closed

[2016-10-26 22:21] HaoK commented on #581
We should revisit this and see if this is something we want to do in 1.2

[2016-10-26 22:24] HaoK commented on #651
Clearing for triage

[2016-10-26 22:24] #1004 closed

[2016-10-26 22:25] HaoK commented on #628
Clearing to revisit in triage to see if we want to do something in 1.1

[2016-10-26 22:29] PinpointTownes commented on #628
@HaoK independently on what you decide concerning a "sugar" method, that would be nice to update the template and/or the documentation to explain how custom claims can be flowed from external cookies to the application cookie. It's really a recurrent demand (e.g https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/issues/26)

[2016-10-26 22:46] Ketrex commented on #1005
I am also experiencing this exact issue now when it was working previously. I can login using an external login provider just fine. When I attempt to add additional external logins to my account, I am redirected to the AccessDenied page. This functionality was working previously, probably before 1.0.1, though I cannot confirm.

[2016-10-26 22:54] madmunsterdaddy commented on #1005
Yay! I'm happy its not just me. Solidarity! :D

I hit it when I was trying to implement IdentityServer4. Figured it was something goofy there but just couldn't figure out why. 4 hours later I tried it in my app that was known to previously work with RTM and then just built up a new app and was able to repro there as well.

[2016-10-26 23:00] divega commented on #1005
@HaoK any other ideas?

[2016-10-26 23:20] HaoK commented on #1005
Can you narrow down the timeframe between when it was working and when it stopped?  Did you upgrade versions?

If External logins don't work in any app including new apps, can you also try on a different machine to confirm its not specific to something getting messed up on the machine.

[2016-10-26 23:35] madmunsterdaddy commented on #1005
Well like I said it worked in RTM. I know because i was eager to test after removing the former RC2 workaround (which also doesn't work to fix this BTW). The only thing that happened since then was installing 1.0.1. My site is still in dev and not production yet so unfortunately I can't narrow down a timeline. I only noticed it this weekend. But it definitely WAS working.

Broken on my machine and

[2016-10-26 23:41] HaoK commented on #1005
This works fine for me right now against the identity sample so the underlying APIs are fine.  My guess is something in your app is causing this.

Try removing the change added in 1.0.1 to templates that is clearing the external cookie.

https://github.com/aspnet/Templates/commit/306fbc6b62c01a55c77399688ae57e11f3f6f359

[2016-10-26 23:50] madmunsterdaddy commented on #1005
Hmmm.... I don't have that in the account controller :-|

[2016-10-27 00:08] madmunsterdaddy commented on #1005
I added that code to my account controller. It didn't fix it.

[2016-10-27 00:14] madmunsterdaddy commented on #1005
@HaoK can you attach the project you just made and I'll replace with my externals and see if I can repro there?

[2016-10-27 00:35] furlanrapha commented on #991
Oh sorry @blowdart, I've misunderstood you.

Well, so I'll wait for it. :)

[2016-10-27 00:39] blowdart commented on #991
No worries, it's in the backlog now, but I don't know if pt-BR would make it. We might look at how to make it extensible via 3rd party packages. The problem with community translations, is, well, sometimes words make their way in that some might find offensive, and not speaking the languages, we won't ever notice.

[2016-10-27 00:47] breyed commented on #1004
Good to hear. The documentation for `ChangePasswordAsync` should describe or link to the invalidation design to make it more discoverable.

[2016-10-27 02:18] jgimness commented on #1005
Same problem here too.  Immediately after the 2nd entry it redirects to /Account/AccessDenied?ReturnUrl=%2Faccount%2Fexternallogincallback

The last line called in AccountController is
`return Challenge(properties, provider);`
https://github.com/aspnet/Identity/blob/dev/samples/IdentitySample.Mvc/Controllers/AccountController.cs#L151

Manually deleting the "Identity.External" cookie allows reentry

[2016-10-27 02:24] HaoK commented on #1005
Yeah so you guys have the opposite problem then, you need to add the line of code that was added in 1.0.1 to fix the issue, you are running into aspnet/Announcements#201

[2016-10-27 02:31] madmunsterdaddy commented on #1005
I added that tonight with no effect. I'll debug through that login method tomorrow to see what that value is.

[2016-10-27 02:51] jgimness commented on #1005
Just added and tested it right now, and it did not fix the problem.

[2016-10-27 04:30] HaoK commented on #1005
Well if manually deleting the external cookie works, that fix is basically automating that for you, so it should accomplish the same thing as your manual fix.

[2016-10-27 12:05] Ketrex commented on #1005
@HaoK, I think there is a disconnect here.

The issue is not with calling Account/ExternalLogin from the template, that works fine.
The problem occurs when calling Manage/LinkLogin to add a second external login to an existing (and currently logged in) account.
I can call Account/ExternalLogin with no problem with Facebook, Google, Twitter, and Microsoft, but trying to associate any additional ext

[2016-10-27 13:19] madmunsterdaddy commented on #1005
Yes, Ketrex, that is exactly it.

Also, creating a new project doesn't add that revised template of the AccountController? I have installed DotNetCore.1.0.1-VS2015Tools.Preview2.0.2.exe and uninstalled any previous version of .NET Core. Is there another step that is required? Was that code added post 1.0.1?

[2016-10-27 13:28] madmunsterdaddy commented on #1005
Video repro of the issue.
http://screencast.com/t/WsQDA97E9

[2016-10-27 13:42] Ketrex commented on #1005
@madmunsterdaddy the problem isn't with the account controller (nor is the problem covered in any of these previous fixes. The problem appears to be in the ChallengeResult and how it responds to an attempt to add another external login to an already logged in account. The previous fixes definitely do not address this current scenario.

[2016-10-27 15:10] jgimness commented on #1005
@Ketrex My variation is even with a non-logged in user.  For instance:

1. User goes to the login page
2. User clicks Login with Facebook
3. Whoops, they wanted to login with Google instead, so they click the Back button
4. Login panel (shown from browser cache), user clicks Google
5. User get the /Account/AccessDenied page

In #4, the "Identity.External" cookie is still hanging around, and not ge

[2016-10-27 17:01] danicomas opened #1007 "CreateUser method doesn't validate email field"
It could cause strange string added in database

[2016-10-27 21:21] HaoK commented on #811
This is breaking change unfortunately as we need to add ReplaceClaim to IRoleClaimStore, its a fairly straightforward change, but needs to wait for now

[2016-10-28 09:50] eliassorensen opened #1008 "Race conditions in EntityFramework UserManager"
I think it is a huge problem that the `UserManager` uses a context it gets injected in the constructor.
It leads to several race conditions if two requests that are using the UserManager happens at the same time.

With more and more users/requests, I often see it failing because of the `InvalidOperationException` the context throws ("InvalidOperationException: An operation is already in progress."

[2016-10-28 16:18] frostymarvelous opened #1009 "Show message when cookie expires"
I am trying to show a message to the user when the Authorization Cookie expires.

I'm not sure exactly where this happens, but when I checked, I found

`ApplicationCookie.Events` which is an instance of `Microsoft.AspNetCore.Authentication.Cookies.ICookieAuthenticationEvents`. I suspect this might be what I need, but I don't know which event to hook up to.

Any help will be greatly appreciated.

[2016-10-28 16:29] #1009 closed

[2016-10-28 16:30] frostymarvelous commented on #1009
I moved this to https://github.com/aspnet/Security/issues/1017 a I think that is more appropriate

[2016-10-29 16:40] tugberkugurlu opened #1010 "UserManager depends on IHttpContextAccessor and It behaves incorrectly when lifetimes don't match up"
**TL;DR;** is that `UserManager` depends on a per-request instance dependency, `IHttpContextAccessor`, and it can construct itself successfully even if it's (the `UserManager`) is registered as singleton.
## What Happened?

I was seeing `System.OperationCanceledException` while working with ASP.NET Core Identity (see https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/issues/15 for more c

[2016-10-29 18:51] pmhsfelix commented on #1010
* The `IHttpContextAccessor` implementation should have singleton scope since it uses `AsyncLocal` to obtain the current context - see [https://github.com/aspnet/Hosting/issues/793](https://github.com/aspnet/Hosting/issues/793)
* So, using `UserManager` also with singleton scope is compatible with the `IHttpContextAccessor` scope.
* However, `UserManager` seems to capture the context as a `readonl

[2016-10-29 20:07] madmunsterdaddy opened #1011 "Return more detail in UserManager.GetValidTwoFactorProvidersAsync()"
I would like to see UserManager.GetValidTwoFactorProvidersAsync return more detail about the providers so that in the select list we can easily show an obfuscated version of where the message will be delivered.

I.e.

Email (t**t@outlook.com)
Text (***-***-5555)

[2016-10-29 21:04] tugberkugurlu commented on #1010
Thanks, I can remember that thread now. That makes sense.

At least for now but I believe the way that `UserManager` acquires `IHttpContextAccessor` impl is wrong. It should have been done through the `ctor` as a param.

The other annoying thing is that why `UserManager` cares about request abort. It should just receive a CancellationToken through as method params and rely on that. So, the consume

[2016-10-30 00:41] shutdown256 commented on #992
I think I figured it out. Several mistakes on my part.

[2016-10-30 00:41] #992 closed

[2016-10-30 15:26] Ketrex commented on #1008
Each user's HttpContext has it's own thread and the default Identity DI implementation creates a UserManager and DbContext that are scoped to that thread. I have never run into a problem with thread safety under this scenario, so I'm curious how your application is configured. Do you have a sample repository that demonstrates your implementation?

[2016-10-30 15:30] Ketrex commented on #1005
@madmunsterdaddy, just fyi, I upgraded my project to 1.1.0-preview (not to be mistaken with 1.0.1), and it appears the problem has been corrected. I haven't had time to dig into the code to see what has changed but clearly the ASP.NET Core team knew this was an issue and the future release does fix it.

[2016-10-30 15:36] madmunsterdaddy commented on #1005
Thanks @Ketrex -- I considered doing the same. Maybe I'll give it a go considering I'm not in production yet anyways.

[2016-10-30 15:43] eliassorensen commented on #1008
I will create a sample that recreates the issue and return back.

[2016-10-31 09:04] mdmoura commented on #970
@Ketrex Sorry for the delay. Thank you, that worked fine.

[2016-10-31 09:58] Cor4xX opened #1012 "Identity AddToRole and IsInRole errors : String was not recognized as a valid Boolean"
[code]

Hi, i got a problem when i try to add my user in certain role with Identity Core.
I first want to check if the user is already in Role with IsInRoleAsync method : role = "admin" and i have already "admin" role created in DB.

But the result is an exception :

[code]

The AddToRoleAsync method has the same problem. Register and Login method works great, AddRole in RoleManager works great to

[2016-10-31 12:44] Ketrex opened #1013 "Identity migration in sample throws SqlException"
I cloned the Identity repo after upgrading to the 1.0.0-preview2-1-003155 runtime.

I made one change to the sample project and that was to remove the if/else statement around the  Identity database migration to ensure that it always runs at startup. No other code in the sample has been modified.

Upon startup, the migration throws a SqlException every time with the message `Column 'NormalizedName

[2016-10-31 14:58] Ketrex commented on #1013
Deleting the included migration and adding a new one appears to fix the problem.

[2016-10-31 17:56] divega commented on #1013
The initial migration contained in the sample seems to have been created with a very old version. It contains:

[code]

But it should be:

[code]
cc @HaoK

[2016-10-31 18:25] HaoK commented on #1013
Yeah I noticed this while working on the auth update, its already fixed/updated in that PR, will fix this as part of the update that adds the new 2FA providers in

https://github.com/aspnet/Identity/pull/963

[2016-10-31 18:29] HaoK commented on #1010
So there has always been an implicit assumption that the mangers are scoped.  @divega do you see any problem with this assumption?  We haven't really tried to enable things like singleton lifetimes..

[2016-10-31 20:18] divega commented on #1010
Yes, we assume the managers are scoped and I don't think we ever intended them to be used with a different lifetime. Just a few thoughts:

1. We are limited on what we can express regarding the intent for specific types to be registered as services only with specific lifetimes and with validating when things are not instantiated with the wrong lifetime (e.g. when a singleton depends on a scoped se

[2016-10-31 22:02] Ketrex opened #1014 "Renaming Login action prevents antiforgery cookie from being created."
I modeled my project after the sample in the Identity repo. My application worked fine with version 1.0.0 but after upgrading to 1.1.0, I ran into this issue.

I renamed the "Account/Login" action to "Account/SignIn" simply because I prefer the term "SignIn" as opposed to "Login." I've been updating this project from RC1 to RC2 to 1.0 with no problems but when I upgraded to 1.1 preview recently, e

[2016-10-31 22:25] HaoK commented on #1010
https://github.com/aspnet/Identity/issues/655 drove why we made it optional

[2016-10-31 22:25] HaoK commented on #1010
Its required for SIgnInManager for sure, since that can't work without an HttpContext.  We could(should?) have made it optional for RoleManager as well.

[2016-10-31 22:32] HaoK commented on #1014
I don't have too much familiarity with what changed here, but this SO question might explain why you can't see how the antiforgery is being configured: http://stackoverflow.com/questions/30959972/html-antiforgerytoken-still-required

If you have more questions you should try in the https://github.com/aspnet/AntiForgery repo

[2016-10-31 22:32] #1014 closed

[2016-10-31 22:42] divega commented on #1010
@HaoK thanks for refreshing my memory. Let's chat about this in person in triage. From reading #655 and linked issues it seems to me that if it is was valid to use `UserManager` (and probably `RoleManager`) without an `IHttpContextAccessor` then we could have considered having CancellationToken parameters back.

[2016-10-31 22:46] HaoK commented on #1010
Sure but in that issue it seems more that we don't really care too much if the functionality is lost, so there's certainly no good reason to add a billion overloads to pass around cancellation tokens on the manager APIs.

[2016-10-31 22:48] HaoK commented on #1010
We could do something cheap like a new setter on the managers to set your own CancellationToken which would get used instead of the HttpContext's as a cheap way to enable this fringe scenario...  but I don't think many (any?) people would use this feature if we added it...

[2016-11-01 17:55] HaoK commented on #1007
Create does call validate with the UserValidator which is responsible for email validation

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/UserManager.cs#L422

[2016-11-01 17:55] #1007 closed

[2016-11-01 18:00] #966 closed

[2016-11-01 22:22] tugberkugurlu commented on #1010
@divega It's not much of an issue from the consumption point of view when you know UserManager uses it. However, it's not intuitive at the first place. I was surprised to see UM was caring about request abort. So, it's not a strong case to request it to be removed. However, I would love to hear what made you guys to remove `CancelationToken` arguments from methods on the managers.

[2016-11-02 08:51] saad749 commented on #940
I am having the same problem and the same error as @tiefling  . THis happened to me in an exisitng application when I updated from 1.0 to 1.1 Preview 1.
I am using aspnet core /entityframework core on net 461.

[2016-11-03 17:24] brockallen opened #1015 "IdentityUserClaim and IdentityRoleClaim Id primary key assumes identity column"
Both the `IdentityUserClaim` and `IdentityRoleClaim` have an `int Id` property for primary keys. When running with SqlServer these work fine because somehow in the creation of the SqlServer DB the schema knows that these are to be identity column types. But when running with Postgres under RDS (https://en.wikipedia.org/wiki/Amazon_Relational_Database_Service) the DB does not because there is no ex

[2016-11-03 17:30] HaoK commented on #682
@blowdart is working on the updated example/sample doc in his private repo

[2016-11-03 17:59] brockallen commented on #1015
FYI -- I added these two lines to my DbContext's `OnModelCreating`:

[code]

And it seems to have helped. So again, seems like it would make sense to include these in the base implementation.

[2016-11-03 20:54] divega commented on #1015
@haok can you remind me, if the user switches to an int TKey, do we also rely on SQL Server IDENTITY behavior for things to work?

[2016-11-03 20:56] brockallen commented on #1015
Not sure if this is what you're asking, but these two classes I mention above have a hard coded `int Id` as the key regardless of the `TKey` used for the `IdentityUser<TKey>`.

[2016-11-03 21:10] HaoK commented on #1015
Yeah looks like we have an implicit dependency on that IDENTITY behavior due to us picking int's for these.  Since we never set them and just assume that they get autoincremented

[2016-11-03 22:03] divega commented on #1015
@brockallen yeah, I know it is different but I suspect if you switch `TKey` to be numeric the same can happen with the provider. BTW, what provider exactly (name and version) are you using?

@HaoK still not sure whether this is a problem. My expectation was that value generated on add would be set by convention for these properties, but I haven't looked at the code yet. Either the behavior is more

[2016-11-03 22:06] divega commented on #1015
BTW I expect some additional configuration to be necessary in `ApplicationDbContext` if you choose to use an EF/database provider that deviates from certain common behaviors, but I am just not sure yet if this particular case should be one of those.

[2016-11-03 22:32] HaoK commented on #941
Since there's no template updates for 1.1, there's no real benefit for rushing this in, will put this in for 1.2 soon as the branches are open

[2016-11-03 22:32] HaoK commented on #941
as discussed with @blowdart in security triage

[2016-11-04 00:21] brockallen commented on #1015
"Npgsql.EntityFrameworkCore.PostgreSQL": "1.0.2"

Well, it's an internal thing and for those who don't know how to read the source they'd get stumped I think. If it doesn't hurt the SqlServer scenario, then why would it hurt? I'm not sure it's fair to expect the provider code to infer the assumption simply based on the property name `Id`. What about any other `int` property? Is it a standard expec

[2016-11-04 08:08] Cor4xX commented on #1012
I'm still blocked with this issue. Could someone help me please ? Thanks a lot

[2016-11-04 08:18] HaoK commented on #1012
What's your startup look like?  What's the full callstack of the exception?

[2016-11-04 08:18] Cor4xX commented on #1012
https://s22.postimg.org/p0xx8bhkx/image.png

Here's a screen for my tables User, Role and User_Role. Its MySQL database.

[2016-11-04 08:22] Cor4xX commented on #1012
Hey Haok thanks for the answer.

Startup.cs in ConfigureServices method
[code]

Then i get my service in a static SimpleInjector class to avoid to pass UserManager, SigninManager etc in each controller :
Startup.cs in Configure method
[code]

[2016-11-04 08:26] HaoK commented on #1012
The callstack for where the format exception should be able to point to the problem, what's trying to convert to a boolean?

[2016-11-04 08:27] Cor4xX commented on #1012
[code]

[2016-11-04 08:28] Cor4xX commented on #1012
It's inside Identity, i cant see what's the problem

[2016-11-04 08:34] Cor4xX commented on #1012
Here's how i define my table in DbContext

[code]

[2016-11-04 21:07] HaoK commented on #1012
Can you try to see if context.Roles.First() throws as well?

We think the issue is with the following query which appears in both of those methods `await Roles.SingleOrDefaultAsync(r => r.NormalizedName == normalizedRoleName, cancellationToken);`

[2016-11-04 21:15] #1010 closed

[2016-11-04 21:18] HaoK commented on #1008
By default user managers are not shared across requests, because as you discovered they are not thread safe.

[2016-11-04 21:18] #1008 closed

[2016-11-04 21:21] Cor4xX commented on #1012
Hey ! Thanks again for the answer. I cant try now but i will do it tomorrow !

[2016-11-05 13:07] Cor4xX commented on #1012
Hi Haok,

context.Roles.First() works great, i get my Admin role who is the only one Role define in DB.
How can i test SingleOrDefaultAsync ?

[2016-11-05 20:56] shima20 opened #1016 "Consider having the UserValidator ensure that SecurityStamp != null"
When I called `var principal = await _signInManager.CreateUserPrincipalAsync(user);` , I was receiving an ArgumentNullException and had no idea what the issue was.  Kevin from Openiddict told me to register UserClaimsPrincipalFactory to step in and see what field was null.  This led me to find that my SecurityStamp was null and therefore caused the exception.  Is this a bug?

[code]

[2016-11-06 09:42] gdoron opened #1017 "When updating the security stamp, tokens for confirm email is invalid"
I'm not sure if this is by design or not, but I think it's broken.
We had a user which created a new account, got an email from the system to confirm his email address.

Then he logged out, asking to log out from all devices, so we needed to use `UpdateSecurityStampAsync` and then he tried to confirm his email address which failed because the security stamp has changed.

Something in the framework

[2016-11-06 15:16] rudolfdobias opened #1018 "IUserTokenProvider does not exists?"
Hello, I'm confused with the token providers registration.

When calling `UserManager<T>.GeneratePasswordResetTokenAsync` without any token provider registered it fails with `No IUserTokenProvider named 'Default' is registered.`

We cannot register IUserTokenProvider since it does not longer exists.

From UserManager source code I figured out that the correct iface is `IUserTwoFactorTokenProvider<

[2016-11-07 01:16] RocketPop commented on #518
Why is this bug closed when the bug still exists? See the SO "workaround" linked by AlissonRS for more info

[2016-11-07 11:04] Cor4xX commented on #1012
What's the next step ? any idea ? I'm totaly lost with this issue, i can't debug at all since i can't access to the library.

[2016-11-07 12:57] pushist1y opened #1019 "Simultaneous login control"
Our system requires possibility to restrict user from logging in simultaneously from different browsers. Currently Identity does not support such restrictions.

Currently I've implemented this by inheriting from SignInManager and adding another entity describing logged in users.

Should I try to implement this inside Identity codes and PR it here or is this functionality not wanted in this reposit

[2016-11-07 20:07] HaoK commented on #1005
Closing this bug, template issue will track this

[2016-11-07 20:07] #1005 closed

[2016-11-07 20:09] HaoK commented on #1018
Typically the token providers are registered by `AddDefaultTokenProviders` https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IdentityBuilder.cs#L167

But you can manually add it instead if you prefer as well as you are doing.

[2016-11-07 20:09] #1018 closed

[2016-11-07 20:11] HaoK commented on #1017
This behavior is currently by design, whenever the security stamp is invalidated, the default email token provider generates tokens with the security stamp embedded for verification.  Log out everywhere invalidates all security tokens associated with the account, including confirmation/forgot password/etc.

Any concerns with this @blowdart ?

[2016-11-07 20:13] HaoK commented on #1016
SecurityStamps should never be null for a store that supports user security stamp.

[2016-11-07 20:14] gdoron commented on #1017
It obviously makes sense.
But I think there should be a way of not invalidating email tokens, probably should be an opt-in and not the default behavior.

[2016-11-07 20:18] HaoK commented on #1017
You can always implement your own email token provider that does not use the security stamp as part of its validation.

[2016-11-07 20:19] HaoK commented on #1012
Can you try the async methods instead?

[2016-11-07 20:19] PinpointTownes commented on #1016
Except it was, in this case (using the default EF Core store).

It's also worth mentioning that there's nothing that prevents setting `SecurityStamp` to `null`: https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs#L1242-L1252

[2016-11-07 20:24] Cor4xX commented on #1012
Hmmm i dont see any SingleOrDefaultAsync method with intellisense.

[2016-11-07 20:25] HaoK commented on #1016
Typically this usage is updated by the manager, I mean sure you can set it to null directly but things will blow up.

We could consider adding validation in the default user validator for this since this does seem to trip more than a few people up.

[2016-11-07 20:27] PinpointTownes commented on #1016
@shima20's case is obviously an atypical case, as he somehow managed to get a null security stamp.

FWIW, I don't think the principal factory should shock on null values. It should be a bit smarter and ignore null claim values.

[2016-11-07 20:32] HaoK commented on #1016
Not for something like this, the security stamp is critical well for 'security' :)  Its a major error if its null...  similar to having no password hash or user name etc, its the user validators job to make sure the user is in a good state

[2016-11-07 20:54] PinpointTownes commented on #1016
Critical seems a bit excessive (it's only used for cookies invalidation), but okay. As long as there's a check somewhere that prevents this illegal case, I'm fine :smile:

[2016-11-07 21:19] divega commented on #1012
Add `using Microsoft.EntityFrameworkCore;` at the top of the file.

[2016-11-07 22:17] Cor4xX commented on #1012
var test = await this.context.Roles.SingleOrDefaultAsync();

Works great too...

[2016-11-07 23:10] divega commented on #1012
What about this?

[code]

[2016-11-08 09:17] Cor4xX commented on #1012
This code works too.

[2016-11-08 09:17] Cor4xX commented on #1012
I got my role normalized and then i got it from DB.

[2016-11-08 09:22] Cor4xX commented on #1012
[code]

I use this kind of Users and Roles.

In DB context i declare relation and table like this :

[code]

Maybe it could help us in our investigation.

[2016-11-08 09:31] Cor4xX commented on #1012
[code]
This code works great too : i got my user_roles added in DB.

[2016-11-08 15:17] divega commented on #1012
@Cor4xX thanks for trying these things. I don't have any more guesses. At this point I think a repro project could help.

Also, re-reading the whole thread in search for clues, I noticed this paragraph:

Startup.cs in Configure method
[code]

Assuming I understand correctly, you are effectively changing the lifetime of the manager objects to be per-application singletons. These manager objects hav

[2016-11-08 16:00] Cor4xX commented on #1012
Hi @divega
First, thanks for your time and responses. I will try to investigate with my collegue next week and analyze your response.

At the moment i can use Role System directly via my context and own repository/unitofwork. It works.
I will keep you in touch. Thx !

[2016-11-08 22:51] gerardog opened #1021 "MultiLanguage web sites and Identity Error Messages"
Currently, we can create a new IdentityErrorDescriber and plug them into the pipeline while initializing the web site.

[code]

But, what if we have a multilanguage web site, and we need to match the correct language **per request**?

Why does the current IdentityErrorDescriber class does not allow to use external resource files? What if instead of providing a custom IdentityErrorDescriber per lan

[2016-11-08 22:56] gerardog commented on #1021
Reading this https://github.com/aspnet/Identity/issues/991#issuecomment-256516328 just realized this may already be in the backlog. Feel free to close as dupe.

[2016-11-09 00:40] divega commented on #1013
@HaoK can we move this out of 1.1.0? Doesn't sounds like it would block us from shipping.

[2016-11-09 00:45] divega commented on #801
@blowdart @HaoK it seems we were planning to update the doc comments in 1.1. I am moving it to 1.2 because it doesn't seem to be high priority to do it now, but let me know if you disagree.

[2016-11-09 00:47] divega commented on #682
@HaoK @blowdart moving this to 1.2 because it doesn't seem to be something that would block use from shipping 1.1 at this point.

[2016-11-09 01:24] AlissonRS commented on #518
@HaoK and @Ketrex assumed the user didn't want to share email, but this wasn't the case. I even tried with my own facebook account. I think @HaoK closed due to a lack of feedback from the OP. If you think this should be fixed in order to work without that workaround in SO, I think you should open a new thread/bug explaining with more details.

[2016-11-09 12:00] perf2711 opened #1023 "No foreign key constraint on custom AspNetUserTokens"
### Functional impact
No functionality from foreign key in database in table `AspNetUserTokens` and `AspNetUsers`.

### Minimal repro steps
1. Create new Code-First model with Identity
2. Create custom models with custom key, I used `System.Guid`
3. Create a migration, and deploy it to SQL Server

### Expected result
The table `AspNetUserTokens` should have a foreign key constraint to table `AspNe

[2016-11-09 13:21] mcgiany opened #1024 "GetUserAsync inconsistent result"
I have class for User that extends IdentityUser.
It contains bool property IsEnabled.
In Database i have column IsEnabled with value 1. When i changed this value to 0 while i'm logged in and then i use UserManagers method FindByIdAsync in controller it returns me user from database as is, and IsEnabled property is False. This is correct.
But, when i call the same method with same parameters in the

[2016-11-09 18:23] blowdart commented on #1024
We need a more detailed repo I'm afraid. Any change you can strip everything down to demo this, and also include the middleware, then tag myself and @HaoK

[2016-11-09 18:24] blowdart commented on #1021
Dupe of #991

:)

[2016-11-09 18:24] #1021 closed

[2016-11-09 18:25] blowdart commented on #1019
This isn't a common enough scenario for us to pull it into the main code, but thank you for the offer.

[2016-11-09 18:25] #1019 closed

[2016-11-09 18:28] blowdart commented on #1017
The other approach is to set RequireConfirmedEmail to be true. Or they just request another password reset and the stamp will be regenerated and finally work.

It's weird, but it is secure :) As you can do it yourself and it's by design, I'm going to close this as wontfix.

[2016-11-09 18:28] #1017 closed

[2016-11-09 18:32] blowdart commented on #1011
This is a reasonable ask. It'll take a new API, which means it won't be quick, but we're making some changes to templates for TOTP, so we can bundle it with that.

So it'll come, just not in the immediate next version.

[2016-11-09 18:43] gdoron commented on #1017
@blowdart I didn't understand what you meant by.

[2016-11-09 18:44] HaoK commented on #1024
It looks like you are probably capturing the UserManager in your middleware which results in that capturing the first request's db context which is why you are seeing old data.  For this to work, you will need to service locate (`context.RequestServices.GetService<UserManager<TUser>>()`) try that to see if that helps

[2016-11-09 18:56] HaoK commented on #1023
After discussing with @divega since this is how things were in 1.0.0, we'll make this change as part of 1.2 where we have more time and the ability to update the initial migration included in the templates at the same time.

I'll make this change as soon as the 1.2 branch is open as its an easy fix

[2016-11-09 18:57] HaoK commented on #1017
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SignInOptions.cs#L15

[2016-11-09 18:58] HaoK commented on #1017
Basically, if you require users to have confirmed emails before allowing them to log in, that would mitigate the issue somewhat.

[2016-11-09 19:50] gdoron commented on #1017
@HaoK That's a no go for us (and most applications I know to be honest).
Anyway, any chance you will consider adding a flag for the EmailTokenProvider in the future into the framework in the future?

[2016-11-09 23:11] divega commented on #559
Just found this long standing discussion in my investigation queue. Unfortunately I haven't responded before.

First, the constructor over-injection link (maybe unintentionally?) points to a rebuttal of the stated anti-pattern which asserts construction injection is generally the way to go. Regardless, I agree with some of the approaches suggested in that article could applicable to ASP.NET Core I

[2016-11-09 23:20] divega commented on #559
**Note for triage:** Removing the milestone so that we can discuss making improvements in our factoring and service lifetimes. It seems at this point the ship has sailed for certain kind of changes but we can consider improvements in the next major release.

[2016-11-10 08:50] mcgiany commented on #1024
@HaoK was right, Using described solution helps. Thx again.

[2016-11-10 08:50] #1024 closed

[2016-11-10 10:44] Cor4xX commented on #1012
I'm trying to clean up my solution, but i'm totaly lost with this DI. Is there a way to encapsulate SignInManger, RoleManager and UserManager ? I have IMapper service, and some other services, am i obliged to add all of this services in my controllers' constructor ?

I would like to encapsulate my services into 3 class : IServiceContainer (with unitofwork, cache service, etc), IWebService (automap

[2016-11-10 13:29] Cor4xX commented on #1012
I will illustrate what im trying to do and actually it seems to work. (i still have my problem with Role anyway)

[code]

And i have a _CoreController

[code]
That allows me to use the right constructor and the right services depending on which Controller i'm.
I have remove SimpleInjector and now im using Asp Core DI only.

What do you thing about that ? Anyway IsInRoleAsync via UserManager still

[2016-11-12 02:42] divega commented on #1015
I had some time to look at this today again and it looks like it could be the result of an intentional change in the PostgreSQL provider (described in http://www.npgsql.org/news/efcore-1.1.0-preview1.html). It is a bit unfortunate and I would have expected this to work without any additional mapping but maybe there were other issues with that.

@roji any thoughts?

[2016-11-12 07:41] roji commented on #1015
I'm not sure I entirely understand the issue (have little experience with ASP.Net Identity), but here are some thoughts.

If I understand things correctly, KeyDiscoveryConvention is the component responsible for identifying keys (i.e. automatically marking a property named `Id` as a Key). This is included in the core convention set which is used in Npgsql, so id properties should be identified the

[2016-11-14 16:45] pushist1y opened #1029 "UserManager: adding and overriding password-related functions."
There are several password-related functions in the UserManager class: `ChangePasswordAsync`, `RemovePasswordAsync`, `AddPasswordAsync`.

They are marked as `virtual` so they are considered as a subject to override, but all of them rely on the private function `UpdatePasswordHash` which is not accessible in descendant classes. If you want to override one of that functions you will have to copy-pas

[2016-11-14 19:26] HaoK commented on #1001
We think we should be able to make AddEntityFramework stores inspect the store to 'do the right thing' when using the base generic user store

[2016-11-15 15:44] eriksendc opened #1030 "New AspNetUserTokens Table Column Width Issues"
Hi All,

My team is just wrapping up migrating from RC1 to RTM. There's now a table called AspNetUserTokens that is being created. Here's the DDL for the table as it was created auto-magically for us:

    CREATE TABLE [dbo].[AspNetUserTokens] (
        [UserId]        NVARCHAR (450) NOT NULL,
        [LoginProvider] NVARCHAR (450) NOT NULL,
        [Name]          NVARCHAR (450) NOT NULL,

[2016-11-15 18:41] #980 closed

[2016-11-15 18:46] HaoK commented on #976
@blowdart thoughts?  Its a cheap overload, the behavior would be that we jam some additional claims on to the `ClaimsPrincipal.Identities.First()` from the ClaimsPrincipalFactory

[2016-11-15 21:27] divega commented on #1015
@roji I probably just misunderstood what the Npgsl release notes meant about the ValueGeneratedOnAdd annotation. Agreed that the conventions should be sufficient here and that there seems to be a more subtle issue that needs understanding.

@AndriySvyryd is going to help us investigate this issue.

[2016-11-15 21:39] brockallen commented on #1015
Thanks for looking into it more -- I've not had time.

[2016-11-16 00:20] HaoK commented on #1001
@divega I was able to get to the point where using reflection we can infer all of the child entity types using TUser.  Unfortunately the last step appears to be not infer able, we need a concrete class for UserStore that knows how to materialize the child entitys, today we have:

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs#L72

whi

[2016-11-16 00:21] HaoK commented on #1001
Note the `AddStores` would be something we add on the builder in core since it has no actual dependencies on our EF implementation, its just a sugar method to add the store types correctly.

[2016-11-16 00:22] HaoK commented on #1001
Nevermind, we already have `AddUserStore<T>`, `AddRoleStore<T>`, so I'm not sure how much better we can do than what we have today...

[2016-11-16 00:25] HaoK commented on #1001
So the steps to make a custom generic base class EF store work is:
1. Implement your EFStoreWithGenerics : `UserStore<TUser, TKey, ...>`
2. `AddIdentity().AddUserStore<EFStoreWithGenerics>()` // replacing AddEntityFrameworkStores

I don't think this is that unreasonable

[2016-11-16 05:03] blowdart commented on #976
Seems like a reasonable suggestion.

[2016-11-16 08:59] roji commented on #1015
@divega OK no problem, I'll keep following this issue to see if I can help. If you have a repro I could look into it on my side too.

[2016-11-16 13:51] eriksendc commented on #1030
By the way, we're not finding that data is ever insterted into AspNetUserTokens. What is it used for?

[2016-11-16 16:28] HaoK commented on #1030
Its only populated if you call SetAuthenticationToken, its used if you want to carry over any tokens like an OAuth access/refresh token https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/UserManager.cs#L2045

[2016-11-16 17:37] divega commented on #1001
@haok From what I remember at the moment this should help. BTW, the worst part right is the exception you get if you deviate slightly from the only pattern that is supported. Can we improve that?

[2016-11-16 18:21] HaoK commented on #1001
Sure, I'll take a look what we can do to improve the error message, that's probably the only thing we can do, (Point them to use AddUser/RoleStore with their store instead of AddEntityFrameworkStores)

[2016-11-16 22:30] HaoK commented on #1001
How about these for the new exception messages:

[code]

[2016-11-17 03:27] yang929886709 opened #1032 "Project Mirosoft.AspNetCore.Identity does not contain an entry point and cannot be started directly."
Project Mirosoft.AspNetCore.Identity does not contain an entry point and cannot be started directly.

In order to debug this project,"emitEntryPoint":true needs to be added to the buildOptions in project.json and entry point added to your project.Alternatively,add an executable project to this solution which references this project and set that as the startup project.

How to make these code run d

[2016-11-17 04:37] davidfowl commented on #1032
Not sure what you are trying to do. Why are you trying to run the library?

[2016-11-17 18:09] cherici-simone opened #1033 "Migrate to 1.1"
I "migrate" our .net core 1.0 web site to 1.1 and authentication does not work anymore.
Our web app use azure active directory to authenticate (openid); the code is the same as the azure webapi-webapp-openid examples (with a few modification). With .NET core 1.0 when a user access the web app the browser redirect to _https://login.microsoftonline.com/common/oauth2/authorize?client_id=XXX&redirect_

[2016-11-17 23:28] HaoK commented on #1001
13ae7b21f3459e97cd5853b6e6ccb229dac1bafe

[2016-11-17 23:28] #1001 closed

[2016-11-17 23:28] HaoK commented on #876
13ae7b21f3459e97cd5853b6e6ccb229dac1bafe

[2016-11-17 23:28] #876 closed

[2016-11-17 23:30] HaoK commented on #941
Should address https://github.com/aspnet/Identity/issues/818 as part of this work

[2016-11-17 23:39] HaoK commented on #596
Done as part of https://github.com/aspnet/Identity/pull/798

[2016-11-17 23:39] #596 closed

[2016-11-18 22:18] HaoK commented on #871
We discussed this and decided against changing this

[2016-11-18 22:18] #871 closed

[2016-11-18 22:30] #724 closed

[2016-11-18 22:32] HaoK commented on #706
This is basically the same issue as https://github.com/aspnet/Identity/issues/765, we will track with that one

[2016-11-18 22:32] #706 closed

[2016-11-18 22:33] HaoK commented on #650
@blowdart do you think we need to support this explicitly?

[2016-11-18 22:35] HaoK commented on #670
Try removing the OS skips to run tests xplat

[2016-11-18 22:35] HaoK commented on #626
Clearing for triage

[2016-11-18 22:37] #614 closed

[2016-11-18 22:37] #562 closed

[2016-11-18 22:38] HaoK commented on #554
@blowdart thoughts on whether we want to make this easier?

[2016-11-18 22:38] HaoK commented on #516
Tracking via https://github.com/aspnet/Identity/issues/836

[2016-11-18 22:38] #516 closed

[2016-11-18 22:39] HaoK commented on #500
Dupe

[2016-11-18 22:39] #500 closed

[2016-11-18 22:40] HaoK commented on #416
We are not planning on releasing our own EF6 provider, but we think this would be something valuable for the community to provide.

[2016-11-18 22:40] #416 closed

[2016-11-18 22:40] #350 closed

[2016-11-18 22:41] HaoK commented on #311
:trollface:

[2016-11-18 22:41] #250 closed

[2016-11-18 22:42] HaoK commented on #225
We are not planning on releasing our own, but this is good for the community to own.

[2016-11-18 22:42] #225 closed

[2016-11-18 22:44] HaoK commented on #617
@blowdart we should discuss this in triage again

[2016-11-18 22:44] #205 closed

[2016-11-18 22:44] #76 closed

[2016-11-18 22:45] #21 closed

[2016-11-18 22:46] #278 closed

[2016-11-18 22:49] HaoK commented on #465
So we added the ability to provide a specific token provider instance which we hope is enough to allow you to configure things, if this isn't enough, we can consider more improvements in the future.

[2016-11-18 22:49] #465 closed

[2016-11-18 22:52] #215 closed

[2016-11-18 22:53] HaoK commented on #991
Revisit for triage

[2016-11-18 23:16] AndriySvyryd commented on #1015
@brockallen It would be helpful to have a full repro for this.
Some of these type of issues should be fixed by https://github.com/aspnet/EntityFramework/pull/7044 as it will set ValueGenerated more consistently

[2016-11-19 00:01] xperiandri commented on #871
Explain what you mean, which change

[2016-11-19 00:09] divega commented on #871
@xperiandri see my previous comment at https://github.com/aspnet/Identity/issues/871#issuecomment-236137533. In summary, when we discussed this, the consensus was that the theoretical advantages of either switching initialization to `HashSet<T>` or removing the initialization would offset the potential breaking change impact.

[2016-11-19 00:11] xperiandri commented on #871
So now you put lists into properties whenever is located there even if they are initialized, don't you?

[2016-11-19 00:23] divega commented on #871
@xperiandri I am not sure what you mean but they are initialized inline and since they are read-only properties any consuming code or EF Core code will just use those lists.

[2016-11-20 16:03] brockallen commented on #1015
IIRC all I did was create a new ASP.NET Core w/ ASP.NET Identity project, change the connection string to use PostgreSql, created the DB, created a user, and added a claim.

[2016-11-20 22:50] gravity00 opened #1034 "Async methods and CancellationTokens"
At the present moment, most classes with async methods to not provide a way to pass `CancellationToken` instances (examples: `SignInManager.SignOutAsync()` or `UserManager.FindByIdAsync(id)`). Underline, some of this methods are implicitly using the `CancellationToken` from the current `HttpContext`, like the `UserManager` class.

With this in mind, here are some concerns that come to my mind:

1.

[2016-11-21 11:32] Cor4xX commented on #1012
Hey !
I'm coming back with more informations ! We are  finally deciding to use SqlServer because we faced some other problems with MySQL.

And.... everything works !!!! I can use IsInRole method from Identity etc... So the problem was MySQL or MySQL Driver or a combination of Identity and MySql.

I hope it will help you to investigate.

[2016-11-21 15:32] capiono opened #1035 "NotSupportedException: No IUserTokenProvider named is registered."
Hello, I'm getting an error when I try to generate a Token:

```userManager.GenerateTwoFactorTokenAsync```

Exception:
[code]

[2016-11-21 16:46] blowdart commented on #650
Yes :)

[2016-11-21 16:46] blowdart commented on #554
It seems like a reasonable idea, so sure

[2016-11-21 16:48] blowdart commented on #311
Damnit

[2016-11-21 18:06] HaoK commented on #650
So you want us to store this info in our default schema again?

[2016-11-21 18:07] blowdart commented on #650
Yup :)

[2016-11-21 18:10] HaoK commented on #311
The docs for the custom providers is referencing these too unfortunately, so as part of https://github.com/aspnet/Docs/issues/1162#issuecomment-261172896 we probably need to do this as well...  :/

[2016-11-21 18:27] RoySalisbury commented on #650
What would you expect the difference to be for the LastLoginDateTime and the LastActivityDateTime? For example, would that mean the LastActivityDateTime would be updated each time a request is made for the authenticated user?  How would that affect performance (minimal to be sure, but still something).

[2016-11-21 19:23] #1035 closed

[2016-11-21 19:53] HaoK commented on #650
Pretty much LastLogin is only incremented when a login was successful, while LastActivityDate would basically be incremented for every single UserManager API I'm assuming, @blowdart @divega thoughts?

[2016-11-21 19:54] blowdart commented on #650
Yea, anything from validators, cookie refreshes, etc.

[2016-11-21 19:55] HaoK commented on #650
In regards to performance, this would result in every page that uses any identity APIs doing an update for at least one user.  I'm not sure what the performance implications would be to make all previous read only requests into writes as well.  We probably should add a first class option to turn this behavior off/on, maybe we leave this off by default :)

[2016-11-21 19:57] HaoK commented on #650
Perhaps `TrackLastLogin`  and `TrackLastUserActivity` if we want to be granular, or we could just use one global switch like `TrackUserActivity`

[2016-11-21 20:03] blowdart commented on #650
Oh that'd be horrible. @madmunsterdaddy what would you expect from trackLastUserActivity?

[2016-11-21 20:08] HaoK commented on #650
Why is that horrible, how would expect something that tracked all user activity to work other than changing every time the user did something? :)

[2016-11-21 20:14] madmunsterdaddy commented on #650
Well that was how it worked in ASP.NET 2.0 Membership.

**MembershipUser.LastActivityDate Property**  Gets or sets the date and time when the membership user was last authenticated or accessed the application.

The internals are up to you guys :D

[2016-11-21 20:18] HaoK commented on #1016
4dd38e8ca81a25d55fd94d7efd25b1ff256b65ab

[2016-11-21 20:18] #1016 closed

[2016-11-21 20:42] RoySalisbury commented on #650
I would think that updating the LastActivity should really only be done during a Login and a validation of the cookie.  But you should also have the ability to update it manually. This would prevent multiple updates to the LastActivity field during a single request.

Also, doing it as part of the UserManager access to the user object would create issues for say an Admin that looks up the user by n

[2016-11-21 21:11] HaoK commented on #650
Good point, we could always just add these as overloads for existing methods where it makes sense as an `updateLastActivity` flag

[2016-11-21 21:23] blowdart commented on #650
Every action is horrible, because that's every page load, every image load. Ditto for cookie validation. Your load on the database grows hugely.

Maybe have that part off by default?

[2016-11-21 21:41] Vaiune opened #1036 "Redirect url for external login gets listening address:port on Kestrel"
I've published an 1.1 RTM MVC project to Linux according to the docs. Later, we decided to add external logins to the project. I've read the docs about adding Facebook Login provider to Identity and followed it through, made the facebook app public and callback oauth url is our public domain like docs read on production.

Kestrel listens on localhost:5000 and Nginx is in front of Kestrel on port 8

[2016-11-21 21:47] HaoK commented on #650
We should probably take this offline and discuss with @divega what this feature should look like taking into account the performance implications for the default EF stores

[2016-11-21 21:49] madmunsterdaddy commented on #650
Any action decorated with [Authorize] attribute?

[2016-11-21 22:03] brockallen commented on #650
IMO updating the user each time they're active in an app at this level (meaning any request) no longer sounds like an identity management library. It's certainly a feature of some sort, but not identity management one.

[2016-11-21 22:06] madmunsterdaddy commented on #650
In fairness I'm cool without LastActivity, last login was the big one for me, I mentioned it only because it was part of Membership in ASP.NET 2.0. It's not nearly as critical.

[2016-11-22 23:10] jarroda commented on #1033
I just hit the same issue. Our app uses IdentityServer for OIDC, but I saw the exact same behavior.  AspNet Identity seems to be handling the `ChallengeResult` and redirecting to /Account/Login.
I seem to have fixed it by moving the call to `app.UseIdentity()` *below* `app.UseOpenIdConnectAuthentication()` in my Startup.Configure method.

[2016-11-23 18:50] halter73 commented on #1036
This doesn't make sense to me. The redirect URL should be pointing to the public endpoint exposed by nginx. If Kestrel is listening on localhost:5000, nothing other than nginx should be sending requests to that port. The redirect url should point to `"https://<your public domain>"`, and nginx should proxy the redirect request to Kestrel on port 5000.

What doesn't exist? The [Microsoft.AspNetCore.

[2016-11-23 19:19] Vaiune commented on #1036
Sorry, if I mislead you. Nginx sits in front of Kestrel and does its job as a proxy between Kestrel and internet. Kestrel isn't exposed to public. Kestrel just starts to listen on localhost:5000 as default. All I did was according to the official docs.

"Valid OAuth Redirect URIs" contains only one entry which is our domain/signin-facebook as it reads on documentation.

The scenario is, the visito

[2016-11-23 20:21] halter73 commented on #1036
Thanks for the clarification. I think I now understand the issue.

The reason that the FB provider package doesn't have a setting to configure the redirect URI is because it uses `Request.Scheme` and `Request.Host` [to generate the URI](https://github.com/aspnet/BasicMiddleware/blob/rel/1.1.0/samples/HttpOverridesSample/Startup.cs#L13-L16). Since the request is forwarded by nginx, the publicly acc

[2016-11-23 20:33] Rick-Anderson commented on #1036
@halter73  can you use the **Edit** (in browser) feature to add that tip? I'll edit/merge the PR.

[2016-11-23 21:43] Vaiune commented on #1036
This ForwardedHeaders middleware fixed the issue for us. But unfortunately, we have another problem now.

Microsoft.AspNetCore.Http.Authentication.Internal.DefaultAuthenticationManager+<SignInAsync>d__14.MoveNext()

What did I miss here?
I put app.UseForwardedHeaders before app.UseFacebookAuthentication and finally app.UseMvc in Configure method.

[2016-11-23 21:53] divega commented on #1036
@halter73 @HaoK any of you can help with the exception:
[code]

[2016-11-24 00:33] HaoK commented on #1036
Looks like its missing a use identity.

[2016-11-24 02:44] divega commented on #1012
@Cor4xX if you can still provide a repro project that shows the issue with MySQL we can forward it to the MySQL team.

For the DI question, I am not sure I understand what you are trying to achieve but you can register your own composite service types that depend on services provided by ASP.NET. You should still be careful not to affect the lifetimes of services when you do that. As I mentioned be

[2016-11-24 08:26] leedjones opened #1037 "Adding new IdentityRole without NormalizedName fails subsequent lookups"
I recently [hit an issue](http://stackoverflow.com/questions/40765178/addtoroleasync-fails-to-find-role/40780886#40780886) whereby adding a new role to the system using the single parameter constructor:

`_context.Roles.Add(new IdentityRole(“SYSADMIN”));`

Would insert the record into the DB, but subsequent calls to look up this role, either by:

`_roleManager.FindByNameAsync(“SYSADMIN”)`

or inde

[2016-11-24 11:12] mdmoura commented on #970
With ASP.NET Core 1.1 I tried to use again:

    .AddEntityFrameworkStores<Context, Int32>()
    .AddDefaultTokenProviders();

But I get the errors:

    System.ArgumentException: 'GenericArguments[0], 'MvcApp.User', on 'Microsoft.AspNetCore.Identity.EntityFrameworkCore.UserStore`4[TUser,TRole,TContext,TKey]' violates the constraint of type 'TUser'.'

    TypeLoadException: GenericArguments[0], 'M

[2016-11-24 15:32] cherici-simone commented on #1033
I fix my problem commenting out _AutomaticChallenge = true_ inside IApplicationBuilder.UseCookieAuthentication.
Hope it helps...but as jarroda wrote...why?

[2016-11-24 17:43] HaoK commented on #1037
You should use the identity APIs to create the role, `roleManager.CreateAsync()`

[2016-11-27 18:32] nzhul opened #1038 "Store user emails in encrypted format instead of plain text."
Hi guys,
I have simple question/request ?
Is it possible to store the emails in the database in encrypted format instead of plain text ?
I've tried to pass the email as encrypted string by bypassing the UserValidation with custom UserValidator, but when i try to get the user ( Login ) the authentication fails.

Best Regards,
Dobromir Ivanov

[2016-11-28 09:28] Cor4xX commented on #1012
@divega Thanks but i will not have time to isolate this problem from my project and i have overwrite so much code (i could check in my SVN). When i got some moment i will share you the project. For the moment i think all the needed code and sql are in this topic.

Thanks for the advice for DI question. Actually it looks like to be well considered since my containers' lifetime are grouped by childr

[2016-11-28 22:18] divega commented on #1012
I did a bit more investigation and it seems that the exception

[code]

is coming specifically from a convert we add to the compiled expression that converts the `DbDataReader` into a value buffer, in particular around the `TypedRelationalValueBufferFactoryFactory.CreateGetValueExpression()` method:

https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.Relational/St

[2016-11-28 23:40] halter73 commented on #1036
@mikaelm12 Could you take a look at https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction and maybe https://docs.microsoft.com/en-us/aspnet/core/publishing/apache-proxy to describe how to set up UseForwardedHeaders?

[2016-11-29 00:14] Vaiune commented on #1036
@HaoK @halter73  I forgot to mention that I figured it out.
It works perfectly fine now on Ubuntu 16.04 Nginx 1.11.6 HTTP2 & SSL
Looks like UseIdentity() should come first before any other providers.
Maybe this should be noted on the docs as well?

Thanks for all of your help.

[2016-11-29 00:31] Rick-Anderson commented on #1036
@Vaiune would you mind doing an edit in browser PR with your suggestion?

[2016-11-29 00:40] Vaiune commented on #1036
@Rick-Anderson Sure but I'm not sure which page/pages it should go.
I think it should be noted on https://docs.microsoft.com/en-us/aspnet/core/security/authentication/sociallogins after 'Setup login providers required by your application' and before 'Optionally set password' where supported external providers listed?

[2016-11-29 01:28] Rick-Anderson commented on #1036
@halter73  is that the right place to add this note?

[2016-11-29 22:18] halter73 commented on #1036
@Rick-Anderson I'm not sure what the best place to put the note is. To me it makes the most sense in https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction or anywhere else we provide a guide to setting up a reverse proxy that isn't IIS.

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/sociallogins is probably a good second place to leave a note, since social

[2016-11-30 20:56] HaoK commented on #670
Doesn't work, as would still need to switch off of localdb and configure an external SQL server.  I think we have enough coverage xplat with the custom InMemory, and EF InMemory stores running on non windows. @divega ok closing this as won't fix?  The only small gap without these tests is there if was any delta between EF tests and the specific identity store queries

[2016-12-01 08:55] msmolka opened #1040 "EF UserStore: Expose a new protected virtual for each Find() query"
I'm facing issues with using default configuration of identity using entity framework core. There are restrictions on databases like max key length on mysql. So handling complex keys requires tricks and a lot overwritten code. I decided to not use complex key as primary key (also simpler change tracking later if required). But because internal code is using FindAsync method now I need to overwrite

[2016-12-01 09:09] msmolka opened #1041 "GetTokenAsync and RemoveTokenAsync is not virtual"
GetTokenAsync and RemoveTokenAsync should be virtual methods

[2016-12-04 07:29] mafshin opened #1042 "ASP.NET Core Identity + EF6 + IdentityServer4"
I'm currently developing a system with the following stack:

- ASP.NET Core
- [MembershipReboot](https://github.com/brockallen/BrockAllen.MembershipReboot)
- EF6
- [IdentityServer4](https://github.com/IdentityServer/IdentityServer4)

Now because of MembershipReboot support being expired, I decided to switch back to `ASP.NET Core Identity`.

How can I have the following stack?

- ASP.NET Core
- ASP

[2016-12-06 02:59] dvdobrovolskiy opened #1044 "Randomly loggs out"
Here an Issue

I have 1.1.0 app (1.0.1 had same problem)

It randomly sends user to Login as if client was unauthorized. For now I found that an issue can be reproduced by sending request for controller to often. So normally app work perfectly. User logs in and stay logged while session is active (options.Cookies.ApplicationCookie.ExpireTimeSpan = TimeSpan.FromHours(2) in my case). But if user acc

[2016-12-07 06:01] meimeic opened #1045 "something about phone number when identify"
why there is some method about email like **FindByEmailAsync** **GenerateEmailConfirmationTokenAsync**  but non the same method about phonenumber

[2016-12-07 09:23] daver77 opened #1046 "Authentication not working on 1.1 using .NET 4.6.1"
Hi,

I've posted this on [StackOverflow](http://stackoverflow.com/questions/40971505/issue-updating-from-aspnetcore-identity-1-0-to-1-1) .

I have an ASP.NET Core Identity and OpenIddict website which i'm trying to migrate from 1.0 to 1.1 but when I update project.json I am no longer redirected to the login page

[2016-12-07 20:20] blowdart commented on #1046
Is https://github.com/aspnet/Security/issues/930#issuecomment-261433813 applicable?

[2016-12-07 20:20] blowdart commented on #1045
Because people don't login with their phone numbers

[2016-12-07 20:24] blowdart commented on #1044
What are you hosting this under? IIS? Has the app gone idle and restarted? If so, did you set up the data protection registry keys as discussed in https://docs.microsoft.com/en-us/aspnet/core/publishing/iis#create-a-data-protection-registry-hive

[2016-12-07 20:26] blowdart commented on #1042
The Identity Server folk have suitable templates for this in their samples; https://github.com/IdentityServer/IdentityServer4.Samples

[2016-12-07 20:27] blowdart commented on #1041
What's your justification/scenarios here?

[2016-12-07 20:28] blowdart commented on #1041
Part of #1040

[2016-12-07 20:30] #1037 closed

[2016-12-07 20:48] HaoK commented on #1041
This will actually be fixed as part of https://github.com/aspnet/Identity/pull/1043 we did'nt have a public API validation test turned on for the EF core package which is why there were a few missing virtuals

[2016-12-07 20:59] dvdobrovolskiy commented on #1044
Looks like my problem. Tnks. Investigating that.

[2016-12-07 22:00] divega commented on #1040
@msmolka this all sounds reasonable, although I am not sure that making these methods overridable is all you are going to need. Changing the definitions of the keys in the model sounds like could require more changes in the store.

Would it be possible for you to make all the necessary changes to our source code until your provider works end-to-end and then send a PR with that?

Also, it would be

[2016-12-08 01:03] meimeic commented on #1045
oh,got it. everyone has a mobile phone number, but not everyone has an email in china. forgive my poor english

[2016-12-08 02:35] papyr opened #1047 "Multi tenancy for SAAS apps"
Hi, will multi-tenancy every be available as part of Identity framework. Its sad that this is missing in the current age where SaaS applications are so dominant

[2016-12-08 02:36] papyr commented on #266
This should be revisited!

[2016-12-08 06:23] msmolka commented on #1040
About FindAsync, as far I can it was changed from SingleOrDefault to find between version 1 and 1.1. And looking into latest code (not released) it is now changed back. Having FindAsync  removing flexibility of extending base classes and add custom keys. As far as I know, from database point of view there is no benefit because query is exactly the same.

MySQL has limitation on key column which is

[2016-12-08 10:06] daver77 commented on #1046
It sounds similar, I don't get the Windows Auth popup though

[2016-12-09 13:48] fabiano opened #1048 "Using Microsoft.AspNet.Identity.AspNetCoreCompat package in an ASP.NET MVC 4.6.1 application"
Hi,

I'm trying to install the Microsoft.AspNet.Identity.AspNetCoreCompat package in an ASP.NET MVC 4.6.1 application but I'm receiving the error:

Failed to add reference. The package 'Microsoft.AspNet.Identity.AspNetCoreCompat' tried to add a framework reference to 'System.Collections' which was not found in the GAC. This is possibly a bug in the package. Please contact the package owners for as

[2016-12-09 16:57] dlacaille-baytech opened #1049 "Possibility to use Identity to register users only"
Hi,
Would it be possible to use Identity to register local/external users only and rely on another mechanism/service to authenticate/authorize? Basically, we have an SSO service that takes care of authentication and would like to separate registration under another service (Members domain).

[2016-12-11 17:38] patsadow2 opened #1050 "Identity HashedPassword"
Hello,
Is there any way to say Identity to NOT hash password?

Or

Make

to produce the same hash which is done by this in DATABASE?

Tried even sth like this and always FALSE

[2016-12-12 12:45] MarkPerryBV opened #1051 "Sliding Expiration Cookie does NOT set domain correctly"
I am using the asp.net core identity with the following settings:
[code]

When the user logs in I get a correct "Session" cookie set as follows:
![image](https://cloud.githubusercontent.com/assets/10271490/21099846/656d1c14-c068-11e6-99b0-4b0422e56be6.png)

This correctly set the `domain` property of the cookie.

I then leave my browser open for 10 mins and refresh the secure page.

This then happ

[2016-12-12 17:51] fabiano opened #1052 "Wrong property name"
Hi,

I'm receiving the error below when I try to change a user's password using the Microsoft.AspNet.Identity.AspNetCoreCompat project.

The cause is in the line https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNet.Identity.AspNetCoreCompat/IdentityDbContext.cs#L129.

There is no ConcurrencyToken property in the IdentityUser class. Changing the line to `entityEntry.Property("Concurrenc

[2016-12-12 20:17] divega commented on #1052
@HaoK `OnModelCreating()` refers to `ConcurrencyStamp` but `ValidateEntity()` refers to `ConcurrencyToken` as string so I guess it is just a typo. FWIW, you can use lambdas in `ValidateEntity()` :smile:

[2016-12-12 21:49] fabiano commented on #1048
I removed the System.Collections reference from the frameworkAssemblies property in the project.json file and was able to install the package.

[2016-12-12 21:55] HaoK commented on #696
5e4e9ccdf164b622872c397c27b75d2bc8a329da

[2016-12-12 21:55] #696 closed

[2016-12-12 21:56] HaoK commented on #1041
5e4e9ccdf164b622872c397c27b75d2bc8a329da

[2016-12-12 21:56] #1041 closed

[2016-12-12 21:58] davidfowl commented on #1048
This is a bug and should be fixed

/cc @muratg @Eilon

[2016-12-12 22:01] divega commented on #1048
cc @HaoK

[2016-12-12 22:09] HaoK commented on #1048
f62ae89d7834649ad4a4dd7d4c7e592a16fade33

[2016-12-12 22:09] #1048 closed

[2016-12-12 22:16] fabiano commented on #1048
Thanks folks!

[2016-12-13 09:02] thangchung commented on #665
@steve-warwick You are my lifesaver 👍

[2016-12-13 11:05] cherici-simone commented on #1033
...I don't know why...but today the webapp start again to behave wrong...without doing nothing

[2016-12-13 19:01] dlacaille-baytech commented on #1049
Hi. Any answer?

[2016-12-14 15:57] augugiacoEnta commented on #940
Hi everyone,

Any fix to this?

[2016-12-14 20:20] blowdart commented on #1050
You could write your own password hasher, but this is a seriously bad idea, and we're not even going to show you how.

[2016-12-14 20:20] #1050 closed

[2016-12-14 20:31] blowdart commented on #1049
How is this different to signing in with google in the templates, which then registers users?

[2016-12-14 20:32] blowdart commented on #1047
We've always said identity is aimed at simple scenarios. There are currently no plans to change this.

[2016-12-14 20:32] #1047 closed

[2016-12-14 20:33] blowdart commented on #1046
This will get fixed in 1.1.1

[2016-12-14 20:34] blowdart commented on #1045
This isn't currently supported. We'll put it on the backlog.

[2016-12-14 20:34] smitpatel commented on #940
If you hit this issue while upgrading web project from 1.0 to 1.1 (as case of @saad749 )
then it is actually breaking change in `UserSecrets` described here https://github.com/aspnet/Announcements/issues/209

You will need to add your usersecretsid as assembly attribute on your startup class using `UserSecretsIdAttribute`

[2016-12-14 20:35] blowdart commented on #1044
Did you try running the powershell script?

[2016-12-14 20:35] #1042 closed

[2016-12-14 20:38] dvdobrovolskiy commented on #1044
sorry man, not. so far. cannot play with my production server and have a very few time to recreate environment. Will try to reproduce error on test machine asap

[2016-12-14 21:02] natemcmaster commented on #940
Try `dotnet ef --verbose migrations add Initial`. Does this show additional details about what caused the command to fail?

[2016-12-14 21:08] dlacaille-baytech commented on #1049
Forget about it.

[2016-12-14 21:08] #1049 closed

[2016-12-14 22:04] augugiacoEnta commented on #940
@natemcmaster @smitpatel thanks so much both for the help!

[2016-12-15 01:30] papyr commented on #1047
On user voice and ASP Forums many people have upvoted this

[2016-12-15 11:06] imukai opened #1056 "OnRedirectToLogin doesn't redirect in IIS / Express"
When I run my solution through Kestrel (localhost 5000) it redirects any [Authorize] failures to the login page as expected.  However, when I run the site through IIS Express locally, or through IIS 8 on my server, I get a white page and no redirect to the login page.

The raw response I get from IIS Express is thus:

[code]

I've tried adding a "OnRedirectToLogin" to Cookies.ApplicationCookie.Eve

[2016-12-15 11:25] imukai commented on #1056
Bah.  I went ahead and migrated this from 1.0.1 to 1.1.0 and it seems to have fixed the issue.  I don't know if it was a problem in 1.0.1 or if the updated packages for 1.1.0 corrected the root.  Closing this out.  If anyone knows why it was failing before and wants to share though - it would justify my hours of googling and trial and error ;)

[2016-12-15 11:25] #1056 closed

[2016-12-15 19:44] HaoK commented on #1051
This appears to be a dupe of https://github.com/aspnet/Security/issues/991

[2016-12-15 19:44] #1051 closed

[2016-12-16 08:38] divega commented on #1040
@msmolka I checked in the dev branch and it seems to be using `FindAsync()` still. If you see something else, can you please point me to it?

The potential benefit of using `FindAsync()` is that it avoids a database call if the entity was already loaded in a previous call in the same request.

After re-reading a couple of times your post I think I now understand what you are trying to do. We can p

[2016-12-16 08:39] divega commented on #1040
Clearing up to discuss in triage.

[2016-12-16 09:31] msmolka commented on #1040
Hello
Yes I know about indexes, I have unique keys for that complex types, to be sure of data integrity and proper indexes. I understand this potential benefits of using FindAsync, however changing model to simple keys requires too much work and can break when new version is released (when overriding whole methods),
To make it more flexible and keep all benefits from both solutions, it would be go

[2016-12-16 22:11] HaoK commented on #1040
Generally introduce some kind of virtual per entity query

[2016-12-16 23:22] divega commented on #1040
As @HaoK's note above mentions, he and I discussed this today and decided we want to add virtual methods for each "find" action on each type of entity in our stores. This will include `FindTokenAsync()`.

In addition to that, we discussed whether we should restrict the sizes of string keys explicitly in our `OnModelCreating()` method to improve the chances that composite keys will fit given limits

[2016-12-17 00:23] divega commented on #1040
I investigated this a bit further and it turns out that for our own SQL Server provider we specify by default a max length that is equivalent to 900 bytes for each single string or binary column that participates in a key. Although the maximum size supported by SQL Server is 900, you can still have composite keys with string members without configuring their max lengths as long as the total size o

[2016-12-18 15:21] msmolka opened #1058 "Make PreSignInCheck public"
It would be good to use PreSignInCheck separately. I have external logic that requires whole precess except real ASP.NET sign in, so check if user can be successfully signed in. For UserName and Password I can n use CheckPasswordSignInAsync but for external login I don't have such possibility.

So either make PreSignInCheck public or add new CheckExternalSignInAsync method which will behave in the

[2016-12-19 05:53] maliming opened #1059 "Where do I get the Identity source that VS 2015 is using?"
Where do I get the Identity source that VS 2015 is using? It looks like version 2.2.1.

[2016-12-19 06:06] maliming commented on #1059
I found myself here [identity 2.x](https://aspnetidentity.codeplex.com/SourceControl/latest#Readme.markdown)

[2016-12-19 06:06] #1059 closed

[2016-12-19 20:10] dealdiane opened #1060 "Remove cancellationToken parameter in UserManager::RemovePasswordAsync"
Inline with the other methods in UserManager, the cancellationToken parameter in the RemovePasswordAsync method should be removed and if required, the CancellationToken property should be used instead.

[2016-12-20 10:29] Saticmotion opened #1061 "Make password validator options get public"
I want to show the current password rules on a webpage, without having to hardcode it in HTML. How do I get the current rules?

An example:

[code]

[2016-12-21 02:11] maliming commented on #1061
[code]

[2016-12-21 09:46] Saticmotion commented on #1061
@maliming I'm using .NET Core, so I tried your second option. But it doesn't work, since Options is protected internal. I'm using the "Microsoft.AspNetCore.Identity.EntityFramewordCore" package, version 1.1.0.

[2016-12-21 10:22] maliming commented on #1061
@Saticmotion
Derive a class from UserManager

![test](https://cloud.githubusercontent.com/assets/6908465/21385672/63c59f0a-c7aa-11e6-877a-0a2ef5c06764.png)

[2016-12-21 10:24] maliming commented on #1061
services.AddIdentity(.....).AddUserManager<MyUserManager>()

[2016-12-21 11:30] nemenos opened #1062 "ClaimsPrincipal.WriteTo(BinaryWriter) -> new ClaimsPrincipal(BinaryReader) not working"
[serialized.zip](https://github.com/aspnet/Identity/files/666207/serialized.zip)

Hello,
I'm using dotnetcore 1.1 with full framework 4.6.2.
I'm trying to implement an ITicketStore.
using ClaimsPrincipal.WriteTo(BinaryWriter) and reading it back with new ClaimsPrincipal(BinaryReader) :

            var memoryStream = new MemoryStream();
            var binaryWriter = new BinaryWriter(memoryStream)

[2016-12-21 12:09] Saticmotion commented on #1061
This works, thank you! Though it's kind of annoying I have to solve it this way.

[2016-12-21 12:48] kezakez opened #1063 "CheckPasswordAsync is vulnerable to a timing attack"
When a consumer of the Identity API passes in a null user (ie. a username that doesn't exist) the CheckPasswordAsync function returns without doing any password hashing this gives tells an attacker if an account exists or not.

[2016-12-21 14:14] nemenos commented on #1062
Anyway, looking into source code, I solved using TicketSerializer.Default

[2016-12-21 23:17] divega commented on #1061
@Saticmotion your controller can obtain the same `IOptions<IdentityOptions>` singleton from DI that the `UserManager` gets in its constructor:  https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/UserManager.cs#L75.

[2016-12-21 23:17] divega commented on #1061
BTW I am not against making the property getter public in 2.0. cc @HaoK

[2016-12-21 23:29] maliming commented on #1061
DI Is a best practice.😁

[2016-12-21 23:39] Saticmotion commented on #1061
@divega That's probably a better option. Thanks!!

[2016-12-21 23:40] divega commented on #1061
Reopening so that we can consider making the property getter public.

[2016-12-22 01:18] blowdart commented on #1063
As our own code null guards before calling that API, and there are much easier ways to discover if a username doesn't exist, for example by trying to register it, we don't see this as a concern.

[2016-12-22 01:18] #1063 closed

[2016-12-27 21:08] HaoK commented on #1013
Fixed in 5aed9742a4f1a35558f5ca644e981398df7017c1

[2016-12-27 21:08] #1013 closed

[2016-12-27 21:09] HaoK commented on #941
Initial feature is in 5aed9742a4f1a35558f5ca644e981398df7017c1 @blowdart give it a try, the sample is updated with the current flow just with authenticator as an additional option (you need to generate a key via manage for it to show up as an option.

[2016-12-27 21:09] #941 closed

[2016-12-29 06:35] Vaylandt opened #1065 "How to use UserManager in Startup.cs class"
Help me please

In Startup.Auth.cs:
private void ConfigureAuth(IApplicationBuilder app)
{
username = "test";
_userManager = app.ApplicationServices.GetRequiredService<UserManager>();
_userManager = app.ApplicationServices.GetRequiredService<UserManager>();
var user = _userManager.FindByNameAsync(username).Result;
}

always responds with the **cached data ((**

related
I need to use in Token Provid

[2016-12-30 03:52] chouex opened #1066 "UserManager do not support User primary key other than string?"
My ApplicationUser using long type primary key

and i am able to implement ExampleUserStore
[code]

but UserManager only accept `IUserStore<TUser>` as a store, while i am using `IUserRoleStore<long, TUser>`

UserManager:
https://github.com/aspnet/Identity/blob/5aed9742a4f1a35558f5ca644e981398df7017c1/src/Microsoft.AspNetCore.Identity/UserManager.cs#L60

and SignInManager require `UserManager<TUser

[2016-12-30 04:59] maliming commented on #1066
I think you should customize User

[ApplicationUser](https://github.com/aspnet/Identity/blob/5480aa182bad3fb3b729a0169d0462873331e306/samples/IdentitySample.Mvc/Models/ApplicationUser.cs#L10)

[IdentityUser](https://github.com/aspnet/Identity/blob/5480aa182bad3fb3b729a0169d0462873331e306/src/Microsoft.AspNet.Identity.AspNetCoreCompat/IdentityUser.cs#L31)

[2016-12-30 06:01] HaoK commented on #1066
The key type is only a concern of the stores store, the Id's are always strings at the identity manager level. since all `IUserStores` implement `string GetUserIdAsync(TKey id)`

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IUserStore.cs#L22

[2016-12-30 06:01] #1066 closed

[2016-12-30 06:04] HaoK commented on #1065
UserManagers need to be scoped as the stores depend on DbContext's which need to be scoped as well.  Capturing a user manager for reuse inside of startup is not a good idea.

[2017-01-01 19:13] paradisehuman opened #1067 "Inheritance one-to-one or zero relationship with IdentityUser class"
This is my Classes :
[code]
Person Abstract Class :
[code]
User Class :
[code]
And WorkerTaxi Class :
[code]
I want to have one to one or zero relationship between ApplicationUsers.cs and User.cs and ApplicationUsers.cs and WorkerTaxi.

When I run this test, it passes without any problem :
[code]
But when I run this test , I got this error :
[code]

The error was occurred when await **userManager.

[2017-01-02 17:05] Tratcher opened #1068 "Can not login after changing password"
_From @anhlee24 on January 2, 2017 10:44_

After i update new password, i can not login with new password until i restart the application.

My code:
`var result = await _userManager.ChangePasswordAsync(user, userModel.CurrentPassword, userModel.Password);`

Do you have any suggest?

_Copied from original issue: aspnet/Home#1892_

[2017-01-02 22:24] brockallen commented on #1068
Sounds like they're caching a DbContext somewhere they shouldn't (perhaps singleton in DI?). That's my guess.

[2017-01-03 02:13] anhlee24 commented on #1068
@brockallen  Have you met this issue before?
This is my startup.cs:

` services.AddDbContext<TCMSContext>(options => options.UseSqlServer(_config["ConnectionStrings:TCMSContextConnection"]));`

[code]

[2017-01-03 02:23] brockallen commented on #1068
In other contexts, yes. Your config does not seems to be setting up a singleton, so my hypothesis seems incorrect.

[2017-01-03 02:24] anhlee24 commented on #1068
I will try to find a solution, thank you :)

[2017-01-03 06:50] HaoK commented on #1068
What does the initialization of _userManager look like in your controller?

[2017-01-03 07:13] anhlee24 commented on #1068
@HaoK Here:

[code]

[2017-01-03 07:23] HaoK commented on #1068
Does your AuthRepository have a lifetime that spans multiple requests?  That's most likely the cause.

[2017-01-03 07:32] VahidN commented on #1068
Change your codes from:
[code]
to:
[code]

[2017-01-03 07:38] HaoK commented on #1068
That would only affect things if someone was insane enough to store the password within the cookie...

[2017-01-03 07:43] anhlee24 commented on #1068
@HaoK  you right, its not working.

I have register my context interface like this, does it have something wrong? :

[code]

[2017-01-03 07:48] HaoK commented on #1068
The default EF user store caches entities, so you can't reuse them across requests.  Basically you cannot setup a repository to be reused across requests with that store.  Its almost certainly your AuthRepository having a singleton lifetime.

[2017-01-03 10:55] anhlee24 commented on #1068
@HaoK  i have found the reason.
 In startup.cs, i need to get the instance of signInManager, so i create a instance like this:
[code]

and used like this:

[code]

But i do not know how to fix it. Do you have any suggest?

[2017-01-03 12:59] brockallen commented on #1068
So you do have a cached reference. Elsewhere in the app, you should use DI to obtain references/instances of the UserManager.

[2017-01-03 14:36] VahidN commented on #1068
@anhlee24
You need to create an scope manually (outside of the ASP.NET Core's life cycle). Otherwise it be treated as a singleton instance. Because there is only one scope here.
Try:
[code]

[2017-01-03 15:38] paradisehuman commented on #1067
I found the real problem .... when it tries to add WorkerTaxi to Person table , the discriminator is always 0 base on this code :
[code]
How can i fix that ?

[2017-01-03 16:23] anhlee24 commented on #1068
@VahidN
Thank you for your reply.

Can you suggest how to use SignInManager<User>?
Its show the error: "**SignInManager<User> type used in this statement must be implicitly convertible to System.IDisposable:**  "
[code]

[2017-01-03 18:03] VahidN commented on #1068
Remove the second `using` statement here. It's unnecessary. Just use
[code]

[2017-01-03 18:13] abasarab commented on #991
For anyone looking for multi language approach see this workaround:
http://stackoverflow.com/a/40801250/5338908

[2017-01-03 18:46] HaoK commented on #1068
Ideally you inject the service in your controller, if you can't do that just get the service from HttpContext.RequestServices instead of caching it in an field,

`context.RequestServices.GetRequiredService<SignInManager<User>>();`

[2017-01-04 01:33] brockallen opened #1069 "Make GetUserLockoutStore, etc. protected"
I find myself in a situation where I need to have per-user lockout semantics. For example, user A must have 10 failed attempts and their lockout should be for 5m, but user B is 5 attempts for 10 mins. Whatever.

So I need to override `AccessFailedAsync`. It'd be nice to be able to access the user lockout store, but `GetUserLockoutStore` is internal. I know I can manually cast the `Store` now, but

[2017-01-04 01:52] brockallen commented on #1069
Also, the base `CancellationToken` is not available either :/