[2015-06-25 22:05] PartyArk commented on #493
Great, I'll leave it up to you to decide what to do with my use case, but it may be that you don't actually need to do anything:  the Store / Manager classes are already extensible, and if the Use* methods work; the only 'caution' is that the DI passes around the base Interface rather than the concrete method, so if you want to use them via DI then you have to remember to cast appropriately.

Esse

[2015-06-26 00:08] Bartmax commented on #493
About point 2. Yes this is really bad. I think you should create a separate issue. I hope the templates gets open source soon so we can help with this. Template got a lot of problems/errors.

[2015-06-26 02:08] HaoK opened #505 "Reenable Functional tests"

[2015-06-27 01:54] HaoK commented on #415
@divega So, thinking about the ctor a bit, I think maybe taking only IServiceProvider might actually be better than the current 8+ arguments, IFF we can supply defaults like we did before for everything other than the IUserStore.

So basically if IUserStore isn't found, we throw saying something like "Its required, maybe you forgot to call AddIdentity().AddEntityFrameworkStores()"

For all other s

[2015-06-27 01:56] HaoK commented on #502
@divega is the navigation property perhaps the issue?

        public virtual AspNetUsers Family_Member_User { get; set; }

[2015-06-29 18:49] HaoK commented on #470
8bace4b19728aa632e4e78f178dcd343c76489cc

[2015-06-29 18:49] #470 closed

[2015-06-29 18:50] HaoK commented on #465
Not going to happen this week, moving to beta 7

[2015-06-29 18:53] HaoK commented on #376
Still blocked so moving to beta 7

[2015-06-29 18:54] HaoK commented on #155
Community PR addressing this here https://github.com/aspnet/Identity/pull/485

[2015-06-29 18:54] #155 closed

[2015-06-29 20:11] rustd commented on #505
https://github.com/aspnet/Security/issues/309

[2015-06-29 20:37] rustd commented on #415
Keep the constructor as it is and throw in app.UseIdentity() that AddIdentity() needs to be defined.

[2015-06-29 20:39] rustd commented on #501
We considered this and we are not fixing this issue. However, like MVC we will throw if you don't have AddIdentity()

[2015-06-29 20:39] #501 closed

[2015-06-29 21:53] rustd commented on #503
@danroth27 ?

[2015-06-29 22:12] divega commented on #493
@PartyArk we have decided to add the registration for the custom UserManager type. Regarding your other points, could you file separate issues?

[2015-06-30 02:12] mw2nukeboy commented on #503
I want to use Json Web Tokens to create a REST API.  From what I understand, ASP.Net 5 doesn't support JWT.  Is it a planned feature?

[2015-06-30 15:41] jwdavidson opened #507 "No Salt in User Password Hash"
The password hash value for 2 different users with the same password have the same hash values. This indicates that there is no per user salt employed. This is confirmed by the lack of a Salt filed in the table AspNetUsers.

The source code for the hash is designed to use unique salts, but this is not being used.

[2015-06-30 17:54] PinpointTownes commented on #503
@mw2nukeboy you might be interesting in this SO post: http://stackoverflow.com/questions/31007470/does-asp-net-mvc6-support-oauth-2-bearer-tokens/31093557#31093557

___________

**TL;DR: the official packages developed by Microsoft for ASP.NET 5 only support OAuth2 bearer token validation.**

This means that...

1. ... you'll be able to authenticate your users using bearer tokens issued by an exte

[2015-06-30 17:56] PinpointTownes commented on #500
@YZahringer @prasannapattam you might be interesting in this SO post: http://stackoverflow.com/questions/31007470/does-asp-net-mvc6-support-oauth-2-bearer-tokens/31093557#31093557

___________

**TL;DR: the official packages developed by Microsoft for ASP.NET 5 only support OAuth2 bearer token validation.**

This means that...

1. ... you'll be able to authenticate your users using bearer tokens i

[2015-06-30 17:58] PinpointTownes commented on #121
FYI, there's already a ticket on aspnet/Security to track that: https://github.com/aspnet/Security/issues/83

[2015-07-01 19:01] gnewtzie opened #508 "SignInResult should return errors collection like IdentityResult?"
It seems like the SignInResult should have an errors collection like the IdentityResult to me. The fact that I have to look at each property to see what the error was in the result is not consistent with the way the IdentityResult returns.

[2015-07-01 19:39] HaoK commented on #508
Unlike identity result is never an aggregation of errors today

[2015-07-01 21:09] #508 closed

[2015-07-01 21:10] #504 closed

[2015-07-01 21:12] HaoK commented on #500
https://github.com/aspnet/Identity/issues/503

[2015-07-01 21:19] HaoK commented on #498
dupe https://github.com/aspnet/Identity/issues/502

[2015-07-01 21:19] #498 closed

[2015-07-02 12:32] vncastanheira opened #509 "DependencyResolutionException on SignInManager"
I did not know if this should be issued on Identity or Mvc repository, but I chose here because it occurs only with `SignInManager`.

In short terms:
* Create an `IAccountServices` interface.
* Implement that interface in another assembly
* In the implementation class, use `SignInManager<ApplicationUser>` as a parameter on the constructor
* Inject the assembly via Autofac

And then, this is the er

[2015-07-02 19:11] HaoK commented on #505
85d2d3d46a82dbe4d9a01241fcf84f0a619a2bad

[2015-07-02 19:11] #505 closed

[2015-07-02 19:13] HaoK commented on #509
Does your container actually have a IHttpContextAccessor service registered at the point where SignInManager is being created?

[2015-07-02 19:22] HaoK commented on #507
Salts are directly combined in the hash, added a test just to be sure 3321adbe640d846913be19f82b5a51cba8c0642e

[2015-07-02 19:22] #507 closed

[2015-07-02 19:24] HaoK commented on #488
You can probably do this if you construct two different user managers with their own DbContext's pointing at different databases.  And then just use the appropriate instance for each part of your app.

[2015-07-02 19:24] #488 closed

[2015-07-02 19:25] HaoK commented on #415
Creating a new bug tracking AddIdentity

[2015-07-02 19:25] #415 closed

[2015-07-02 19:26] HaoK opened #511 "AddIdentity will add a marker Identity service and UseIdentity will throw if not found"
Similar to what MVC does

[2015-07-02 19:37] vncastanheira commented on #509
@HaoK I used those Autofac registrations on the end of the `public void ConfigureServices(IServiceCollection services)`, after all service registrations, although I don't know where `IHttpContextAccessor` is registered exactly  (maybe with the other Identity services?).

Instancing `SignInManager` throws this error only in this specific case. Controller, for example, are able to use it without any

[2015-07-02 19:39] HaoK commented on #509
Exactly, the service only exists as part of the request (its scoped), so the controller ctor is run during the request.  You can't create an instance of SignInManager outside of the request scope today because it of the IHttpContextAccessor service

[2015-07-02 19:49] vncastanheira commented on #509
@HaoK Oh, it makes sense now. Better use it directly on Controllers for now.

[2015-07-02 19:49] #509 closed

[2015-07-04 10:35] Reafidy opened #512 "UserManager CreateAsync Does Not Add User Profile Info to Separate Model Table During Register"
I created  a separate table to store user profile information however the create async method adds the user to the AspNetUsers table but not the additional profile information to the UserInfo table when registering a new user.  Something which worked in earlier versions.

IdentityModel:

    public class ApplicationUser : IdentityUser
     {
         public virtual UserProfile UserProfile { get; s

[2015-07-04 10:40] Reafidy commented on #512
Trying to create a separate table to store profile information however the create async method adds the user but not the additional profile information.

    public class ApplicationUser : IdentityUser
     {

         public virtual UserProfile UserProfile { get; set; }
     }

     public class UserProfile
     {

         public int Id { get; set; }

         public string FirstName { get; set;

[2015-07-04 23:02] EliotJones opened #513 "Remove default validators"
Currently we are able to add additional validators and change some options used for the default validators (User, Password, etc).

However we are only able to specify our validators in addition to the default validator. If we have some more advanced rules which allow username or password to be null in certain scenarios we have to resort to manually removing the default validator:

    var removedS

[2015-07-04 23:12] EliotJones commented on #513
Non-issue, the username must be non-null to generate the principal

[2015-07-04 23:12] #513 closed

[2015-07-08 08:41] dstockhammer commented on #225
At the moment the MongoDb C# driver does not support dnxcore, and I'm not aware of any plans to add support in the near future. I suppose that's a problem for "official" MongoDb support in an Microsoft.AspNet.* package?

If however this is acceptable, I'd be happy to generalize my (working) implementation and submit a PR for review.

[2015-07-09 18:28] matthewDDennis opened #514 "UserStore.Users property should be virtual."
I'm trying to implement a `UserProfile` property on my custom `User` class as shown below.
[code]
I want to load the `UserProfile` when I load the User from the database.

The simplest thing would be derive a custom user store derived from `UserStore`
[code]
But unfortunately, the `Users` property is not virtual, so I will have to implement all the all the methods that use `UserStore.Users`, and s

[2015-07-10 01:52] Pictuel commented on #474
About you first inquiry, it's very easy to switch to username as default instead or in addition of email.

[2015-07-10 02:04] Pictuel opened #516 "We should be able to encrypt values stored in default identity tables"
It would be nice to encrypt values stored with different hashes options in case your database tables are leaked. Just to make it harder to get the real values like email and username.

I'm actually trying to do that on an application but can't find a way to do it with the identity framework, maybe I'm missing something?

[2015-07-10 02:11] Pictuel commented on #512
Why don't you directly add those fields into the aspnetusers table?

something like

<pre><code>
public class ApplicationUser : IdentityUser
{
    public virtual string FirstName { get; set; }
    public virtual string LastName { get; set; }
}
</code></pre>

[2015-07-10 02:33] Reafidy commented on #512
That doesnt work with our buisness rules.  The userprofile table is actually more like a people table it has many other fields,  i have simplified the example.  There are many people but only a small amount of people have logins.
This feature use to work in older versions of asp.net identity.

[2015-07-10 02:52] Pictuel commented on #512
I understand what you're writing. Another way to do it, as you should already do it is to create the table after the result.Succeed condition and add an user id property to the userprofile table.

In the account controller file and register post method:
<pre>
if (result.Succeeded)
{
// ...

var db = new ApplicationDbContext();

var userProfile = new UserProfile
{
    UserId = user.Id,
    FirstNam

[2015-07-10 04:46] Reafidy commented on #512
Thanks for your help, that is definitely a solution to the problem.

I was just curious as to what has changed in the new framework and whether or not it was a bug.

[2015-07-11 02:30] Pictuel commented on #493
@divega Hi, would it be possible to do the same with the other methods like, AddUserStore and AddUserValidator please?

[2015-07-11 15:08] csunali opened #517 "StackOverflowException in SecurityStampValidator.ValidatePrincipalAsync"
Hey,

I have started having strange "never loading" issues under both IIS and IIS Express recently. It started happening after I started using Identity.

I have downloaded the Cookie Authentication and Identity source files onto my computer and tried to track down the issue. It seems that there is a problem with the way Identity utilizes the `CookieAuthenticationHandler`.

Please note that the iss

[2015-07-11 15:37] csunali commented on #517
Okay, I believe I figured out the exact reason.

- The `CookieAuthenticationHandler.AuthenticateAsync` method wants to validate the principle.
- The `await Options.Notifications.ValidatePrincipal(context);` code line calls the `SecurityStampValidator.ValidatePrincipalAsync` method.
- The `validate = timeElapsed > accessor.Options.SecurityStampValidationInterval` code line sets the `validate` varia

[2015-07-11 15:41] csunali commented on #517
One more feedback regarding the issue, since I said that the issue would occur when the security stamp validation timespan has expired, I tried if the issue gets fixed by deleting the existing browser cookies.

Indeed, it does. The issue went away when I cleared the browser cookies. Whole application loaded successfully.

That definitely looks like a bug to me. I hope the steps I provided will mak

[2015-07-11 16:01] divega commented on #493
@Pictuel I am curious, why do you need this? Does your application use the Identity stores and user validator directly?

[2015-07-11 21:16] Pictuel commented on #493
I was a bit ambitious, I maybe don't need that anymore as I'm still searching how to find a correct solution to my needs.
I'm currently working on a method to encrypt values stored through the default identity stores. (https://github.com/aspnet/Identity/issues/516)
I'm able to encrypt all the datas except for the email address that is supposed to be validated with the UserValidator class, that's w

[2015-07-13 10:40] PinpointTownes commented on #517
FYI, a similar bug has been reported on `aspnet/Security` and should be fixed soon: https://github.com/aspnet/Security/issues/355

/cc @HaoK

[2015-07-13 10:59] csunali commented on #517
@PinpointTownes, that seems to be exactly the same issue. Thank you for informing.

[2015-07-13 17:34] GregorBiswanger opened #518 "Facebook identity misses email claim"
I set the E-Mail scope and accept the Facebook App:
app.UseIdentity().UseFacebookAuthentication(options =>
{
	options.Scope.Add("email");
});

Unfortunately, I get no email claim back. The email here is null:
var email = info.ExternalPrincipal.FindFirstValue(ClaimTypes.Email);

I got only the name of user. Does anyone have an idea or is it a bug?

[2015-07-14 16:43] imranbaloch opened #519 "Custom IdentityErrorDescriber constructor hits at-least 7 times per request"
When we create a custom IdentityErrorDescriber class and register it then it constructor hit at-least 7 times per request.

[2015-07-14 17:28] marcuslindblom opened #521 "Google authentication fails in new project"
I'm trying to get Google authentication to work on a new project created with Visual Studio 2015 RC.

To reproduce, create a new project from VS, in `ConfigureServices` add the following lines:
[code]
and then the `Configure` method, add the following line:
[code]
This is how I have configured OAuth for Google:
<img width="214" alt="screen shot 2015-07-14 at 19 05 55" src="https://cloud.githubuser

[2015-07-14 18:42] HaoK commented on #519
How are you registering it in DI, as Transient?

[2015-07-14 20:48] HaoK commented on #517
This should be fixed now with ab4ba794e546074a573fbf76d9150ffcf9752c89 issue should be fixed once packages are pushed

[2015-07-14 20:48] #517 closed

[2015-07-14 21:13] csunali commented on #517
Thanks. Will try it as soon as it is published and report back if the problem persists.

[2015-07-16 02:00] Pictuel commented on #516
Can this be a possibility, regarding the roadmap?
Do I need to pull a request for it?

[2015-07-16 02:03] rustd commented on #516
I think the question here is more generic on how to encrypt app specific data. You can use DataProtection to protect data in your app. more details are http://aspnet.readthedocs.org/en/latest/security/data-protection/index.html

[2015-07-16 02:09] Pictuel commented on #516
Thanks, for your answer, I'll learn how data protection works.
I already found a way to do it with a custom method, but I'm wondering if it can be an option in Identity.

[2015-07-16 09:15] imranbaloch commented on #519
Yes doing the same that you guys  doing https://github.com/aspnet/Identity/blob/715790c2134d5bd8904da65877c1fd4bce4b8035/src/Microsoft.AspNet.Identity/IdentityServiceCollectionExtensions.cs#L92

[2015-07-16 10:14] HaoK commented on #519
This behavior is directly related to the fact that its Transient, every time its asked for, you get a new instance.  Our default implementation is stateless.  You can just register it as Scoped if you wanted only a single instance to be created for each request.

[2015-07-16 10:22] davidfowl commented on #519
Should it be transient? If it's stateless why not make it a singleton?

[2015-07-16 23:48] csunali commented on #517
I guess the changes were pushed. I don't seem to have the same problem since I have updated to the latest dev bits.

Thanks for your efforts.

[2015-07-17 05:47] ursenix commented on #442
Excellent... seems I got an answer... Will workout this now

[2015-07-20 21:22] marcuslindblom commented on #521
It works when I use the API-key from the [sample project](https://github.com/aspnet/Identity/blob/dev/samples/IdentitySample.Mvc/Startup.cs#L57) so I guess it's my configuration that is wrong, can you show me how your account is configured?

[2015-07-20 21:24] alexsandro-xpt opened #522 "Multiple authentication context"
There a possible way do use multiple authentication context(Identity) at same web application in area scope like `/admin` and `/manufacturer`?

It's is useful, and I don't know how Identity manage cookie path works.

[2015-07-20 21:32] HaoK commented on #521
You probably didn't turn on API/Google plus access or something like that, there's some other detailed setting that you need to enable for google auth to work.

[2015-07-20 22:00] marcuslindblom commented on #521
Oh embarrassing, it was the Google+API, thanks for your help

[2015-07-20 22:00] #521 closed

[2015-07-23 05:48] HaoK commented on #519
We've decided to go ahead and switch to Scoped lifetimes for all identity services that are currently transient, we felt this was the best compromise

[2015-07-23 14:40] sherif-elmetainy opened #525 "Claim issuer information is not not saved in the database."
I wonder if it is possible to add an extra field to the AspNetUserClaims and AspNetRoleClaims tables to store the claim issuer?
Different external login providers my issue different claims with same claim type but different claim value and it's useful to know which claim is issued by which external login provider.

[2015-07-26 15:05] Phasiq commented on #518
I just tested it and I was able to retrieve the email claim without any problem. Perhaps in the user's facebook account, they have chosen not to provide their email address?

You may want to debug and set a breakpoint when you get the claims back from facebook and evaluate them manually to see if the email claim is in the collection. If it is not, it's likely the user account is not providing it (

[2015-07-26 18:20] weitzhandler opened #526 "Does this repo have a beta NuGet package for ASP.NET v5 MVC 6 (vNext)?"
I'm trying to build an MVC 6 class library built over DNX, and it doesn't look like one of this project's frameworks on the NuGet package.
Am I wrong?

[2015-07-26 18:35] weitzhandler commented on #526
Figured it out, I had to add the `frameworks` section in my DLL.

[2015-07-26 18:35] #526 closed

[2015-07-27 21:50] HaoK commented on #518
Yes, even though you ask for the email you might not get it (if the user doesn't want to share it for example).

[2015-07-27 21:50] #518 closed

[2015-07-27 22:05] rustd commented on #525
Claims stored in the database should be normalized to unique names as when an Identity is populated from the database the issuer is the application. By design.

[2015-07-27 22:05] #525 closed

[2015-07-27 22:09] rustd commented on #516
We will consider it for a future release.

[2015-07-27 22:10] HaoK commented on #228
No longer needed with named options going away

[2015-07-27 22:10] #228 closed

[2015-07-27 22:14] rustd commented on #522
This is not supported. Can you please elaborate more on what your requirements are?

[2015-07-27 22:14] #522 closed

[2015-07-27 22:20] rustd commented on #121
Closing this issue as the Security repo is tracking this.

[2015-07-27 22:20] #121 closed

[2015-07-27 22:20] rustd commented on #123
Closing

[2015-07-27 22:20] #123 closed

[2015-07-27 22:22] rustd commented on #193
This is not an Identity. This is tracked in templates.

[2015-07-27 22:22] #193 closed

[2015-07-30 20:25] alexsandro-xpt commented on #522
I wish to separate business users of system users.

[2015-07-30 20:32] joeaudette commented on #522
why can't you just use different roles or claims for the different permissions/authorirization and add the different user types to different roles or claims?

[2015-07-31 03:48] Kagamine opened #528 "How to use int userid in identity 3.0-beta6"
<img width="1289" alt="qq20150731-1 2x" src="https://cloud.githubusercontent.com/assets/2216750/9000446/eaf38ad6-3779-11e5-9e6b-0f60aa008cd6.png">

<img width="661" alt="qq20150731-2 2x" src="https://cloud.githubusercontent.com/assets/2216750/9000452/fc76458c-3779-11e5-85ca-4f4f6a42d57e.png">

[2015-07-31 20:41] alexsandro-xpt commented on #522
Yes, I could use different roles or claims for the different permissions/authorization but for a better security design, a second cookie authentication to another path(new context) sounds good.

[2015-07-31 21:59] jakeswenson commented on #465
Is there a plan for this to be in the RTM? Would it be ok if i try and tackle this to help get this done?

Thanks!

[2015-07-31 23:51] HaoK commented on #465
Go for it, submit a PR!

[2015-07-31 23:52] HaoK commented on #465
Its on my list of things to do, but that list appears to be growing faster than I'm able to finish things lately

[2015-08-01 03:14] heavenwing opened #529 "RoleExistsAsync throw a NullReferenceException with specific code in beta6"
I have this code that be invoked in Startup:
[code]
this code can run in beta5, but in beta6 it throw a NullReferenceException .
I have to change code into this :
[code]

[2015-08-01 03:48] heavenwing commented on #529
I found this issue should be problem of EntityFramework or DependencyInjection.
Because my other code which don't use Identity have same issue.

[2015-08-03 01:43] #528 closed

[2015-08-03 22:21] rustd commented on #529
What is actually null? Can you send us a stack trace or is it possible to create a repro sample?

[2015-08-03 22:24] rustd commented on #512
This is blocked on https://github.com/aspnet/EntityFramework/issues/2726

[2015-08-03 22:27] rustd commented on #512
Closing since there is no bug in Identity. We are using the EF issue to track this.

[2015-08-03 22:27] #512 closed

[2015-08-03 22:32] rustd opened #531 "Remove unused types"
eg. IdentityUserRole and make a pass at others as well.

[2015-08-04 00:43] #531 closed

[2015-08-04 17:20] jods4 opened #532 "Review all XML docs"
It says that you should pass the normalized name, when in fact it performs the normalization for you.

[2015-08-04 20:11] HaoK commented on #532
@blowdart

[2015-08-04 20:59] jods4 commented on #532
Sorry I edited the issue. It's not UserStore but UserManager!
In fact the whole description seems copy-pasted from `UserStore`, the parameters are not even right!
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNet.Identity/UserManager.cs#L390

[2015-08-04 21:01] HaoK commented on #532
Nah, I'm sure someone hand typed all of those doc comments :wink:

[2015-08-04 21:03] jods4 commented on #532
Let's do a blame to find out who's being lazy! ;)

[2015-08-04 21:44] divega commented on #532
FWIW, it seems that we need to revisit the comments but just removing a bunch of cancellationToken parameters from them should go a long way.

Should this one be assigned to @HaoK or @blowdart?

[2015-08-06 21:21] HaoK commented on #519
https://github.com/aspnet/Identity/pull/536

[2015-08-06 21:21] #519 closed

[2015-08-06 21:31] #514 closed

[2015-08-07 17:52] bmrpatel opened #537 "User login attempt is revealing the locked out status"
Once the user is locked out, any attempt to login with bad password results in locked out status. Hence it reveals that user with that username exists. I am trying to change that to just show invalid attempt message. It is part of SignInManager.PasswordSignInAsync and it always return IsLockedOut status even if it is invalid password. I think it would be better to return Failed.

[2015-08-08 01:30] heavenwing commented on #529
@rustd I created a sample, you can download from here: https://onedrive.live.com/redir?resid=F73516BAEAC50992!321461&authkey=!AK-MdwffjOB0y7I&ithint=file%2c7z

[2015-08-09 14:03] XiaoweiJia opened #539 "There is no way to change Login Url when using UseIdentity()?"
Is there no way to change login url when using UseIdentity()? It always redirect to "Account/Login". This is very inconvenient. Please advise. Thanks

[2015-08-11 18:41] PinpointTownes opened #540 "React to System.Security.Cryptography.* changes in CoreFX"
https://github.com/dotnet/corefx/commit/ce0506baea623efdb74707aee0e4aa169d6f468c

![image](https://cloud.githubusercontent.com/assets/6998306/9151283/543630a0-3dfd-11e5-9d66-d5b3e0d73dbd.png)

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNet.Identity/project.json#L30

/cc @Tratcher

[2015-08-11 22:09] #540 closed

[2015-08-12 02:11] sergeyzwezdin commented on #539
In `ConfigureServices()` something like this:

[code]

[2015-08-12 02:25] sergeyzwezdin opened #542 "Too long tokens"
The be honest I like idea of tokens which implemented for the moment. But I have some confusion about it. I build email confirmation token with `UserManager` this way:

[code]

It gives me token with 200 characters length. Also, it contains characters which can not be used in URL, so I encode it in this way:

[code]
And it gives me string 267 characters length. Next, I want to compose email confir

[2015-08-12 20:28] HaoK commented on #537
The app is free to treat IsLockedOut as other password failures.  We left that decision to the callee to interpret and use how they will, otherwise they would have no way to detect the difference.

[2015-08-12 20:28] #537 closed

[2015-08-12 20:29] HaoK commented on #537
See here: https://github.com/aspnet/Identity/blob/dev/samples/IdentitySample.Mvc/Controllers/AccountController.cs#L58

You can simply not check for IsLocked out and fall into the general error case

[2015-08-12 20:32] HaoK commented on #539
This will likely be addressed in a PR that's coming soon as we are exposing the individual cookie options.  It will look something like

` options.Cookies.AppliationCookie.LoginPath = new PathString("/login");`

[2015-08-12 20:52] bmrpatel commented on #537
It does not resolve my issue. :( I will try to fix it and submit a pull request. Thanks

[2015-08-13 12:10] anavgale opened #543 "VNext Web API bearer token authentication"
I am sorry if this a repeat.

BUT there is not clear guidance on how to issue bearer token in Web API and use that to secure WEB APIs using Claims are Roles. This was possible in Web Api 2.1/2.2

Can any one share a link which explains the way this is going to work in future. Docs.asp.net does not talk about this yet.

Thanks & Regards,

[2015-08-15 17:29] yetanotherchris commented on #542
The fix would be fairly easy, `EmailTokenProvider` should override the  `GenerateAsync` method it gets from `TotpSecurityStampBasedTokenProvider` instead of using `Rfc6238AuthenticationService` which is presumably for two way auth.

[2015-08-15 17:34] yetanotherchris opened #545 "Are there any plans for groups?"
One of the biggest problems for me with the last two attempts at creating user authentication APIs in ASP.NET was the lack of groups of users - users in a group, with a role (and also restricted to a certain database schema and tie in with that).

Without the group feature, you end up with a big mess of a UI to manage roles, as you can't apply them to groups of users. Are there any plans to add gr

[2015-08-16 02:46] sergeyzwezdin commented on #542
Thanks! Also, if move token to GET-parameter it resolves the issue.

[2015-08-16 02:46] #542 closed

[2015-08-17 04:44] davidfowl opened #546 "Fix travis build"
https://travis-ci.org/aspnet/Identity

[2015-08-17 07:59] divega commented on #546
Has it ever passed? I woud expect the same kind of issues ee had in EF tests that use databases.

[2015-08-17 08:21] davidfowl commented on #546
Not that I'm aware of. It's one of the few repositories that don't pass on travis. We should skip the localdb tests on mono.

[2015-08-17 20:10] issafram opened #547 "IdentityUser should be in Core project?"
Basically the same question I asked at http://stackoverflow.com/q/30835779/590774

Perhaps I don't understand why some classes are in one project and not the other.

In my eyes, EF is just one mechanism for storing and retrieving the data.  It shouldn't be a layer that defines the POCO.

Now I understand that EF is based on Entities, but couldn't there be some inheritance model that is used betwee

[2015-08-17 20:48] divega commented on #547
@issafram the design of Identity core is not coupled to EF or to any specific shape user and role types. Everything is abstracted by the stores. In fact, for any given persistence provider, the types don't even need to be POCOs at all!

We considered having our current POCO types in core (in fact, at some point we had them) but we got pretty solid feedback from people familiar with other persisten

[2015-08-18 21:01] #547 closed

[2015-08-19 09:00] stephenstroud commented on #495
In case anyone needs bearer tokens earlier. Basic example of Identity with Bearer tokens.

https://github.com/bigfont/AspNet.Security.OpenIdConnect.Server/tree/bigfont/samples/ResourceOwnerPasswordFlow

[2015-08-19 21:10] rustd commented on #545
There are no plans for groups or management UI..

[2015-08-19 21:10] #545 closed

[2015-08-20 10:25] leak commented on #543
I'm also interested in this topic. Especially in context with a pure Angular application without using MVC based controllers/pages at all.

All examples i found so far are somewhat outdated and also crazy over-engineered and complicated.

[2015-08-20 19:12] HaoK commented on #546
@davidfowl I skipped the tests, but looks like the travis build is failing on setup first... any ideas what's busto?

19.06s$ ./build.sh --quiet verify
Installing 'KoreBuild 0.2.1-beta7-15004'.
Successfully installed 'KoreBuild 0.2.1-beta7-15004'.
Unable to find version '0.2' of package 'Sake'.
Determining latest version
Latest version is 1.0.0-beta8-15118
Downloading dnx-mono.1.0.0-beta8-15118 fr

[2015-08-20 20:39] HaoK commented on #511
ab29d5f5e581dd4cf9a8996b8c940bd4e5b65490

[2015-08-20 20:39] #511 closed

[2015-08-20 22:11] HaoK commented on #529
What is actually throwing the null reference exception can you just copy the stack trace from the debugger on the line throwing?

[2015-08-21 14:33] stephenstroud commented on #543
See here https://github.com/aspnet/Identity/issues/495

[2015-08-21 20:17] HaoK commented on #493
4e0000163ba5067dcbe79a33f80192623fc4d5f3

[2015-08-21 20:17] #493 closed

[2015-08-24 09:06] leak commented on #495
Thanks for your example.

When I clone your repo and switch the startup project to yours i get 157 build errors and 2 warnings. Seems to be mostly related to the forked project. Any chance you could have a look at that?

[2015-08-24 09:40] stephenstroud commented on #495
@leak, have you upgraded to the latest dnvm? Doing the open connect conversation on gitter very active. https://gitter.im/aspnet-contrib/AspNet.Security.OpenIdConnect.Server not my repo sorry.

[2015-08-24 09:48] leak commented on #495
I am running dnx-clr-win-x86.1.0.0-beta6

[2015-08-24 09:52] stephenstroud commented on #495
Yeah I'm running successfully with dnx-clr-win-x86.1.0.0-beta7-12364. You will probably need to add all the nightly build feeds to your Nuget Package manager if you haven't already. That should sort you out.

[2015-08-24 20:41] HaoK commented on #502
@toddtsic does this still repro for you?  I tried the following repro which mimics your code and I don't see the Concurrent update exception (granted I'm not using MVC, but the flow should be similar)

[code]

[2015-08-25 05:22] dansiegel opened #551 "ToTable Rename of Identity Models causes migration error"
When trying to rename the Entity tables a ModelItemNotFoundException is thrown when a new migration is attempted. This occurs whether the base migration is left in place or not. The project is 100% the boiler plate project created when you start a new project with Individual Accounts. The only change is shown below.
[code]

PS C:\Repos\Test & Demo\WebApplication2\src\WebApplication2> dnx . ef migr

[2015-08-25 05:26] SharePointRadi commented on #225
So far I have a Microsoft.AspNet.Identity.MongoDb library with all unit tests passing: https://github.com/OneBitSoftware/Identity/tree/MongoDBImplementation

From a perspective of running unit tests and attempting all the plumbing - all good and a leap forward.

But, the challenges at the moment:
- dnxcore50 and getting the dependencies to always work for the ASP.NET sample application
- the Mongo

[2015-08-25 05:36] SharePointRadi commented on #225
Just to add, this is where the dnxcore discussion is happening for Mongo: https://github.com/mongodb/mongo-csharp-driver/pull/210

I'll be spending some free time there to see how I can help move it forward.

[2015-08-25 22:04] saan800 opened #552 "IUserRoleStore<TUser> uses the string roleName instead of IdentityRole object"
The interface for IUserRoleStore<TUser> is inconsistent with the rest of the IUserXxxxStore interfaces.

In the other user store interfaces (eg IUserLoginStore, IUserClaimStore) the object is passed to the data layer, but IUserRoleStore<TUser> only passes the roleName.

When implementing a document store implementation of the UserStore, this is an issue as the whole IdentityRole details (ie role +

[2015-08-28 05:57] SharePointRadi commented on #552
Hey saab800, you should check out https://github.com/aspnet/Identity/issues/225, maybe we should be aligning

[2015-08-29 03:14] sergeyzwezdin opened #554 "Configure email/phone confirmation requrement separatelly for each authentication method"
I would like to configure email/phone confirmation requrement separatelly for each authentication method. For example, require email confirmation for password based sign in and don't for google auth.

I noticed it's impossible now, as there is check for all authentication methods - https://github.com/aspnet/Identity/blob/670614cdc59200f70a8045a7a5f346165d816fa1/src/Microsoft.AspNet.Identity/SignIn

[2015-09-01 13:17] vanillajonathan opened #555 "Swedish localization"
I request Swedish localization.

[2015-09-01 17:53] saan800 commented on #552
@SharePointRadi - possibly yes.
I definitely like the way you did the DB connection stuff, so can have both user and role collections available to the store's, think I will use that instead of what I have going on.

Out of curiosity - why do you have UserCliams, UserLogins, UserRoles, RoleClaims in separate collections?
I would have thought that the main benefit of using MongoDB is all associated

[2015-09-01 19:34] robfarmergt opened #556 "Cookies: Secure and HttpOnly"
Is there a way to require the cookies created by the identity middleware be HttpOnly and Secure only?

I've tried this but it does not seem to work:

[code]

[2015-09-03 00:26] HaoK commented on #539
2113ef5abcb64bf1c49d8485bcfae45b703f4b78

[2015-09-03 00:26] #539 closed

[2015-09-03 16:21] hvanbakel opened #557 "Use constants in UserManager for token purposes"
Currently, methods like `GenerateEmailConfirmationTokenAsync` and `ConfirmEmailAsync` in https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNet.Identity/UserManager.cs use strings as purpose for generating a token. Say I want to override one of these methods, it would be helpful if I could just reuse the purpose.
If this would be exposed as a const the code would be cleaner anyway since

[2015-09-04 09:33] HaoK commented on #529
Feel free to reopen this if you can repro once you have a stack trace

[2015-09-04 09:33] #529 closed

[2015-09-04 16:35] mlynam opened #558 "UserOptions.AllowedUserNameCharacters?"
I am wondering what value was added here.  Previously we set a regex for this option.  It appears now we need to assign an entire character map via string.  I much preferred the regex method as our validation method was standardized, it allowed us to force a particular username format and in most cases required far fewer characters to define.

[2015-09-04 17:32] blowdart commented on #558
We have been moving away from regular expressions throughout asp.net as part of our security effort. Some folks tend to write complicated regular expression based validators that leave themselves open to DoS, and that's very hard to mitigate against.

You could, if you wished to continue with regular expressions, implement your own IUserValidator implementation and register that with the IdentityB

[2015-09-04 17:51] mlynam commented on #558
Fair enough.

[2015-09-04 17:51] #558 closed

[2015-09-04 21:28] HaoK commented on #546
2161f42086ca0f5b9c0c04460a0dc45e72b678bd

[2015-09-04 21:28] #546 closed

[2015-09-09 17:51] HaoK commented on #552
The current interface expects only the role name to be stores, which is enough to find the role.  The main reason for this difference is because we didn't want to flow the Role type into the UserStore interfaces as it would bring in an additional generic

[2015-09-09 17:51] #552 closed

[2015-09-09 17:53] HaoK commented on #551
@divega any ideas what might cause this error?

[2015-09-09 21:23] HaoK commented on #557
We will expose them as protected const string ResetPasswordPurpose/ConfirmEmailPurpose etc.

[2015-09-09 21:25] HaoK commented on #555
Localization story is still being worked on

[2015-09-09 21:26] HaoK commented on #555
@rustd Can you take a look?

[2015-09-09 21:28] HaoK commented on #554
This is an interesting idea that we will consider in the future

[2015-09-09 21:31] HaoK commented on #551
@AndriySvyryd Should the call to ToTable erase all the previous configuration from the base.OnCreating call?

[2015-09-09 21:32] HaoK commented on #543
Yep dupe of 495

[2015-09-09 21:32] #543 closed

[2015-09-09 22:00] AndriySvyryd commented on #551
I don't see anything wrong with this code, so it's probably a bug in EF

[2015-09-09 22:19] divega commented on #551
@AndriySvyryd Thanks for taking a look. That is what we thought. Could you use this as a start point for a repro? The base class is [IdentityDbContext](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNet.Identity.EntityFramework/IdentityDbContext.cs).

[2015-09-10 06:53] bitbonk opened #559 "UserManager constructor-overinjection and service locator antipattern"
The [constructor of `UserManager`](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNet.Identity/UserManager.cs#L48-L55) has very many dependencies. It is a case of the [constuctor over-injection antipattern](http://blog.ploeh.dk/2010/01/20/RebuttalConstructorover-injectionanti-pattern/).

Both of this is a hint that the `UserManager` class does way too much and violates the SRP. The l

[2015-09-10 16:25] HaoK commented on #502
Feel free to reopen this if you are still seeing this

[2015-09-10 16:25] #502 closed

[2015-09-10 22:31] #557 closed

[2015-09-10 22:33] HaoK commented on #556
This is being tracked via https://github.com/aspnet/HttpAbstractions/issues/42

[2015-09-10 22:33] #556 closed

[2015-09-12 06:48] Kagamine opened #561 "[Question] How to allow the simple password"
How to allow the simple password?

[2015-09-14 06:21] satyajit-behera opened #562 "Token Expiration"
There are no ways where a generated Token for asp.net web api can be forced to expire other than the default time allocated to the token.

It may be good to have a mechanism where the token can be expired when the user logout or some other scenarios where the token needs to be deactivated.

Thanks

[2015-09-14 21:11] rustd commented on #278
@HaoK will this happen for Beta8?

[2015-09-14 21:15] rustd commented on #561
@HaoK can you point to the latest answer to this.

[2015-09-14 22:12] HaoK commented on #561
Something like this should work:

[code]

[2015-09-14 22:12] #561 closed

[2015-09-14 22:15] HaoK commented on #278
This is a nice to have and not really sure this is the right thing to do.  Moving to 1.0.0 backlog is probably best

[2015-09-16 12:15] bmrpatel opened #563 "login attempt with bad password is revealing the locked out status"
refer to #537 for more info. Please let me know and I will provide more details.

[2015-09-16 18:04] dvdcrr77 opened #564 "Cookie persistence"
I am not sure if this is the desired behaviour but when expiration is set via ConfigureIdentityApplicationCookie and then making a call to PasswordSignInAsync with persist the token is not being set even though the signin status result is returning success status.

[2015-09-16 18:10] israelito3000 opened #565 "IdentityBuilder does not contain AddSignInManager however it do contain AddUserManager"
If you want to implement your own SignInManager and UserManager you have to activate them like:
[code]

so what is the purpose of: AddUserManager
[code]
it does not work.

would be better if we can declare them like:
[code]
or simply remove the AddUserManager method.

[2015-09-16 19:32] israelito3000 opened #566 "Hard to extend SignInManager, property UserManager need more visibility (protected)"
I was trying to add PasswordExpiration to the current framework and I found a very hard mechanism to extend SignInManager. Currently UserManager is private as well as other important methods like: PreSignInCheck, IsLockedOut, ResetLockout, In my case I needed to create another: PasswordSignInAsync method and ask for password expiration after PasswordCheck but many methods are private, seems like t

[2015-09-17 19:22] sunsided commented on #521
Because I had the very same problem and was a bit puzzled by the answer, here's a guide:

* In the Google Developers Console, select your project
* go to `APIs & auth`, `Social APIs`, `Google+ API`
* enable that one

After that, the application defined under `Credentials` should be able to login with the `openid profile email` scopes.

[2015-09-18 02:49] slaneyrw opened #567 "IdentityUserClaim type hardcoded into UserStore"
I'm investigating moving a MVC 5 app with Asp.NET identity v2 to MVC 6 and Identity v3 and I have noticed an issue with User Claims.

In our existing application we're using the 5 type generic argument of UserStore to change the TUserClaim type **from** IdentityUserClaim **to** a subclass of IdentityUserClaim that adds a Issuer property (string) to the data schema, mapped to the Issuer property of

[2015-09-18 05:26] winecraft opened #568 "Clarification from the AccountControllers view - lockout is set in 2 different places"
Hello, I am using the Microsoft guidance from your blog and your sample code. Is the AccountController there still valid?

For e.g. there are references to the `SigninManager` and `Helper` helping to configure lockout... can you please help on how to proceed forward?

1. Inside this class... you've

           public class ApplicationUserManager : UserManager<ApplicationUser, string>
           ..

[2015-09-18 05:46] winecraft opened #569 "Multitenancy and Groups, for e.g. mapping users and common roles to unique companies"
Hello, please help with a feature or some guidance - how is a public SaaS web app, beyond an intranet to handle multi-tenancy with just roles and users, when the same roles can exist across various groups such as companies registering?

In a web app, there are many common `Roles` for e.g. employees, managers etc. across companies...

While you let us extend the users and roles, there is no-conveni

[2015-09-19 15:52] NeoAnomaly commented on #418
For an unit tests purposes I need something like this:

[code]

Any workaround for this?

[2015-09-19 20:26] NeoAnomaly opened #570 "Pass in DbContextOptions to Microsoft.AspNet.Identity.EntityFramework.IdentityDbContext"
In the #418 discussed why this might be required.
I want a single context and for an unit tests purposes I need something like this:

[code]

[2015-09-21 22:09] rustd commented on #562
How and where are you generating token?

[2015-09-21 22:13] rustd commented on #551
@AndriySvyryd Is this going to make it in for beta8?

[2015-09-21 22:17] AndriySvyryd commented on #551
@rustd Not currently. Talk to @divega if you think it should.

[2015-09-21 22:25] rustd commented on #457
@HaoK Can you please link the Security related bugs for this migration case.

[2015-09-21 22:33] rustd commented on #564
Can you please post your Startup code where you configure.

[2015-09-21 22:36] rustd commented on #565
We are not going to have this for RTM but will consider it for the future.

[2015-09-21 22:40] rustd commented on #569
Identity is not meant for multi-tenant scenarios.

[2015-09-21 22:40] #569 closed

[2015-09-21 22:45] rustd commented on #568
This issue is for ASP.NET Identity v2. This repo is for ASP.NET Identity v3. Can you please ask this question on aspnetidentity.codeplex.com

Is your question around migrating to v3?

[2015-09-21 22:48] rustd commented on #409
Core implementation for ASP.NET Identity.
ASP.NET Identity providers that use Entity Framework.

[2015-09-21 23:55] divega commented on #551
@AndriySvyryd could @smitpatel work on this?

[2015-09-21 23:58] AndriySvyryd commented on #551
@divega Yes

[2015-09-22 00:00] divega commented on #551
Assigned.

[2015-09-22 00:58] smitpatel commented on #551
The entity added by base OnModelConfiguring is `IdentityUserRole<TKey>` where `TKey` is string, so entity type name for EF is `IdentityUserRole<string>` which is different from `IdentityUserRole` (used for table rename above) therefore EF adds a new entity for that. For all other classes EF assigns PK by convention but fails to do so for `IdentityUserRole` and throws exception.

[2015-09-22 18:33] dvdcrr77 commented on #564
Its been a while I can't seem to replicate the issue as of this moment.

[2015-09-22 18:33] #564 closed

[2015-09-23 01:04] divega commented on #551
@HaoK @rustd this is a bug on Identity. @smitpatel did the analysis and it turn out that on `IdentityDbContext<...>.OnModelCreating()` we are configuring `IdentityUserClaim<TKey>`, `IdentityRoleClaim<TKey>`, `IdentityUserRole<TKey>` and `IdentityUserLogin<TKey>` as the generic entities themselves. We actually don't use the non generic versions of those classes anywhere so if a user tries to config

[2015-09-23 01:04] divega commented on #551
I talked to @HaoK and option two is apparently how things used to look like in Identity 2.0, but he prefers option one to avoid the 4 additional generic arguments to be created in store types and `AddIdentity()`

[2015-09-23 01:05] divega commented on #551
Moving to @HaoK and beta8. Thanks @smitpatel for the analysis.

[2015-09-23 20:14] HaoK commented on #551
Looks like these were already nuked in a previous beta... so nothing to be done now

[2015-09-23 20:14] #551 closed

[2015-09-23 20:14] HaoK commented on #551
only identityRole and IdentityUser remain

[2015-09-23 20:17] HaoK commented on #409
df1fe83992088fcdc831946607808a5f18650f78

[2015-09-23 20:17] #409 closed

[2015-09-23 20:25] divega commented on #551
Thanks. Good to know. I still wonder how providers that don't support generics would handle customization of the key type, e.g. the EF6 provider that @cherrydev worked on had to use non-generic entity types.

[2015-09-23 21:38] HaoK commented on #570
5c0700791ae4f36e6618008301d2953cb4b40352

[2015-09-23 21:38] #570 closed

[2015-09-24 18:58] anpete opened #572 "Logging: Add event ids to all publication sites"

[2015-09-24 19:02] anpete commented on #572
Any calls to ILogger.Log should specify a non-zero event id that is unique within the current logging category.

[2015-09-25 13:14] stephenstroud commented on #562
@satyajit-behera I achieved this with JwtBearerAuthentication(VNext), the tokens are self contained, so you can't force it, however, you can persistently store the token and validate it exists when making requests or delete it on logout so subsequent requests will be denied. You could also achieve sliding token lifetimes in the same way. You could do the same with the older version OAuthBearerToke

[2015-09-25 13:23] stephenstroud commented on #503
+1 - #495   Would be nice to have a identity sample template with OpenIdConnectServer and JWT tokens.

[2015-09-25 19:47] PinpointTownes commented on #503
I'd be happy to collaborate with someone from the Identity team to create a template :+1:

[2015-09-27 13:07] farleigh opened #573 "UserValidator doesn't appear to be quite right for updates"
On the last line of AddLoginAsync in Microsoft.AspNet.Identity.UserManager

[code]
which in turn calls
[code]
which calls ValidateAsync on each of the validators from the IEnumerable that was injected into the constructor.

If Microsoft.Framework.DependencyInjection.IdentityServiceCollectionExtensions is used and AddIdentity is called then Microsoft.AspNet.Identity.UserValidator is set as a valida

[2015-09-27 13:24] #573 closed

[2015-09-27 13:31] farleigh commented on #573
I can get around this by making sure the User IDs match during update - which makes sense if the system allows for changes to username.

[2015-09-28 06:49] angelsix opened #574 "AddIdentity for non-IdentityUser class"
My data models live in Core, so that every area of the application can access them. They are all POCO classes.

I want to use the Entity frameworks Identity for ASP.Net, however it appears the class for Entity Framework to do that must base class IdentityUser, which would bind my Core class project to EntityFramework reference just for the class.

I could create a seperate class and cast it to/fro

[2015-09-28 12:51] dvdcrr77 commented on #574
if you check out the IdentityUser class it would very simple to roll your own

https://github.com/aspnet/Identity/blob/4e5bba35da259fa79a90426ed02a72f0c03ec861/src/Microsoft.AspNet.Identity.EntityFramework/IdentityUser.cs

[2015-09-28 14:58] angelsix commented on #574
The problem is if I have to create a custom class in my core library, I have to remake all classes (roles, claims, login providers, user stores etc.. basically the entire EntityFramework code in this Identity branch.

I was trying to avoid that but nevermind I will just create my own version.

[2015-09-28 14:58] #574 closed

[2015-09-29 10:11] satyajit-behera commented on #562
Thanks @stephenstroud Can you give some more details or reference examples to elaborate this.

[2015-09-29 10:15] satyajit-behera commented on #562
thanks @rustd . I am using the default asp.net identity provider while using the web api template in visual studio.

[2015-09-29 14:19] SetTrend opened #576 "Request: Improve MSDN documentation on ASP.NET Identity 3"
Currently, the information available on the different types and approaches of ASP.NET Identity 2 is a mess. There is not a single comprehensive documentation available on the web. A documentation on the `IAppBuilder` interface is not even available anywhere.

I wonder how people are supposed to take educated decisions if there is no comprehensive documentation available? Are we supposed to wade th

[2015-09-29 16:06] stephenstroud commented on #562
@satyajit-behera  which template version are you using? Are you using VS 2013?

[2015-09-29 17:03] satyajit-behera commented on #562
@stephenstroud  VS 2013

[2015-09-30 04:05] Kagamine opened #577 "PasswordSignInAsync throw an exception in 3.0.0-rc1-15792"
AccountController.cs Line 25:
[code]

[code]

[2015-09-30 04:20] Kagamine commented on #577
https://ci.appveyor.com/project/Kagamine/forum/build/1.0.0-alpha1-5/tests

[2015-09-30 21:22] HaoK commented on #563
We don't think this is an issue because your app doesn't need to show different error messages for lock out/wrong password.  Can you explain why you feel this is an issue?

[2015-09-30 21:22] #563 closed

[2015-09-30 21:26] HaoK commented on #567
Unfortunately no, we decided that its pretty easy to implement a store for this scenario, and you can mostly just reuse the existing UserStore code.

[2015-09-30 21:26] #567 closed

[2015-09-30 21:27] HaoK commented on #577
Can you please include more of the app code, at least the Startup.cs lines involving AddIdentity

[2015-09-30 21:28] #568 closed

[2015-09-30 21:49] bmrpatel commented on #563
When someone tries wrong password, Identity framework returns that user is locked out. I only want to show that user is locked out if the password is correct. How would I do this?

*Please don't close the issue before you understand my issue first.*

[2015-09-30 22:44] PinpointTownes commented on #563
Congrats, you made @blowdart rant :trollface:

![image](https://cloud.githubusercontent.com/assets/6998306/10208664/30a35698-67d5-11e5-9d8e-7ed4f2146b3f.png)

[2015-09-30 22:46] HaoK commented on #563
Check the password manually first as you pointed out in the other issue.

[2015-09-30 22:48] HaoK commented on #563
We don't check the password if you are locked out in the other method.  So if you really care that much, you need to check yourself

[2015-09-30 22:48] blowdart commented on #563
We do close issues because the issue opener hasn't responded within what we consider a reasonable amount of time.

[2015-09-30 22:49] HaoK commented on #563
Well in this case, it wasn't that.  This is by design :)

[2015-09-30 23:26] Kagamine commented on #577
[code]

[2015-09-30 23:26] Kagamine commented on #577
https://github.com/Topicomb/Forum/
this is the full source

[2015-09-30 23:30] HaoK commented on #577
Is this a regression in RC or is this the first time you've tried this code?  Just trying to narrow down where the issue might be

[2015-09-30 23:31] Kagamine commented on #577
Yes, it does not throw the exception when I using beta 8 or beta 7

[2015-09-30 23:33] HaoK commented on #577
Okay perfect, @divega this appears to be a potential EF regression then given the call stack...

[2015-09-30 23:33] Kagamine commented on #577
:smile:

[2015-09-30 23:34] Kagamine commented on #577
There was no problem with beta 8
[code]

[2015-09-30 23:51] divega commented on #577
Assigned to @maumar for investigation in case we have regressed this in the last few hours.

[2015-10-01 00:26] bmrpatel commented on #563
@HaoK I understand that it is by design. I am sure there is a reason behind this. Possibly to make it faster in case of user locked out (so no need to check for password). :smile:

@blowdart  Sorry, but I wasn't passive aggressive. This is the second issue(question) I created for this and closing comments weren't very clear to me. I think have responded to comments in detail.

[2015-10-01 01:11] Kagamine commented on #577
The problem has been solved when I upgrade EF to rc1-15865

[2015-10-01 01:11] #577 closed

[2015-10-01 01:12] divega commented on #577
Thanks for following up @Kagamine.

[2015-10-01 01:14] Kagamine commented on #577
@divega There are something wrong with sqlite, and I opened an issue.
https://github.com/aspnet/Microsoft.Data.Sqlite/issues/147

[2015-10-01 01:15] divega commented on #577
Yeah, I just saw that. We'll look at it.

cc @natemcmaster

[2015-10-02 13:49] GVX111 opened #578 "The CancellationTokenSource has been disposed"
When I authorizing showing this error:
The CancellationTokenSource has been disposed
Can someone help me?

[2015-10-02 21:58] HaoK commented on #566
acfee9e7e05bfb8ef25c8a7628c200c4cc715ff0

[2015-10-02 21:58] #566 closed

[2015-10-03 19:50] gisek opened #579 "UserManager<ApplicationUser>.CheckPasswordAsync alway returns false"
The code below always produces false (also for valid credentials)

[code]

On the other hand, if I use ```SignInManager<ApplicationUser>``` instead, the code below works fine

[code]

[2015-10-03 21:09] angelsix opened #580 "Beta 8?"
Any idea when beta 8 is out? I have to use beta 8 of Entity Framework and with ASP.Net Identity only in beta 7 there are a lot of conflicts.

[2015-10-03 21:23] GuardRex commented on #580
The milestones for dnx, dnvm, identity, abstractions, configuration, diagnostics, hosting, security, razor, and mvc are 100%. Entity Framework is showing 94% with 3 open issues. DI and Common are 75% each with 1 open issue each. Must be close!

[2015-10-03 21:27] angelsix commented on #580
Cool. If Identity is 100% is there anyway to get it? Does it mean the github identity dev repo is the "beta8" as it currently stands?

To be more specific of my issue I'm getting a MethodMissingException in Mvc when adding an Identity provider (an Entity Framework one)

services.AddIdentity<IdentityUserDataModel, IdentityRoleDataModel>()

Which I am guessing is due to the fact the extesion AddIden

[2015-10-03 21:56] DAllanCarr commented on #579
If you check code for SignInManager it performs a FindByNameAsync to retrieve the user.

https://github.com/aspnet/Identity/blob/acfee9e7e05bfb8ef25c8a7628c200c4cc715ff0/src/Microsoft.AspNet.Identity/SignInManager.cs#L239-L248

[2015-10-03 22:22] gisek commented on #579
@DAllanCarr You are right. I was using it the wrong way. The issue should be closed.

[2015-10-03 22:51] angelsix commented on #580
Also, I could use Beta 7 if I could define a one to many relationship as thats the only thing I cannot find in beta 7 (the .HasMany calll):

I would need to do the following equivalent in beta 7:
b.Many(u => u.Claims).WithOne().ForeignKey(uc => uc.UserId);

Where u is a user that has multiple claims, and the claim has a UserId referencing the Id of the user

[2015-10-03 23:51] DAllanCarr commented on #579
You can close issue your end.

[2015-10-03 23:52] #579 closed

[2015-10-05 17:19] mdmoura opened #581 "ASP.NET Identity 3 without Roles and using only Claims"
Hello,

Is it possible to use ASP.NET Identity 3 in a MVC project only with Claims table and without Roles table?

I am asking this because Role is itself a Claim of type Role so isn't it redundant to have a Roles table?

Thank You

[2015-10-05 18:13] leastprivilege commented on #581
spot on ;p

@blowdart @HaoK @rustd

[2015-10-05 18:25] alexsandro-xpt commented on #581
In a ASP.net Identity on ASP.net MVC 5 is fully possible. In MVC 6 I guess, yes!

[2015-10-05 19:25] mdmoura commented on #581
IMHO I see to options:

1 - Using only roles and having one roles table;
     In this case there would be the RolesStore ...

2 - Using claims, including roles, and having only one claims table.
     In this case there would be the ClaimsStore ... Role is a Claim of type Role.

If this results in unwanted complexity why not having only one Claims table and if configuration includes only Roles then

[2015-10-05 19:53] alexsandro-xpt commented on #581
Using Identity abstraction c# classes you can optimize change Identity behavior as you wish, se some links:

http://www.asp.net/identity/overview/extensibility/overview-of-custom-storage-providers-for-aspnet-identity

http://www.asp.net/identity/overview/extensibility/implementing-a-custom-mysql-aspnet-identity-storage-provider

http://typecastexception.com/post/2014/02/19/ASPNET-MVC-5-Identity-Im

[2015-10-05 22:10] rustd commented on #578
Is there a repro available? There is not enough detail in this bug.

[2015-10-05 22:19] rustd commented on #580
Please see https://github.com/aspnet/Home/wiki/Roadmap for the updated dates for beta8

[2015-10-05 22:19] #580 closed

[2015-10-06 20:52] JohnGalt1717 opened #584 "Where did IUser go?"
I'm using Elastic DB and don't want to use your baked in implementation for EntityFramework. In the past I used IUser<> and all of the rest of the interfaces. They all appear to be there in AspNet 6 except IUser which makes them largely useless.

What am I missing?

[2015-10-07 15:09] joshmouch commented on #551
I'm not sure sure what "nuked in previous beta" means?  I have the latest versions and I'm still getting this exception.

[2015-10-07 15:15] joshmouch commented on #551
I'll create another ticket for this, but I prefer Identity 2.0 signature with the extra generic arguments.  It allows us to extend every table, as needed.

This is actually a huge pain for me, as I cannot upgrade to Identity 3.0 right now because those generic type arguments are missing.

[2015-10-07 15:21] joshmouch opened #585 "Generic Arguments missing from IdentityUser"
In Identity 2.0, we had a lot of flexibility in extending the Identity* entities.  That flexibility gave us further flexibility in how EF code first migrations interacted with Identity 2.0.

That seems to be completely missing in Identity 3.0.
For one, the following:

    IdentityUser<Key, UserLogin, UserRole, UserClaim>

is changed to:

    IdentityUser<Key>

This means I can no longer inherit fr

[2015-10-07 23:08] divega commented on #585
@joshmouch thanks for the feedback on this. This change was intentional but I think it is something that we can discuss.

The goal of the change was to not have as many generic arguments leaking into all our types and extension methods. The main disadvantage is that the extensibility scenario you describe now requires replacing the Entity Framework provider with your own code.

cc @rustd @HaoK

[2015-10-08 01:27] joshmouch commented on #585
@divega
As far as I know not having the generic arguments means you can't extend IdentityUserLogin, IdentityUserRole, or UserClaim, because the schema that will get created when EF looks at MyUser : IdentityUser, will have properties of the base types (e.g. IdentityUserLocing rather than MyUserLogin).

I tried for hours to get EF7 to treat MyUser.UserLogins as a type MyUserLogin, but I didn't have

[2015-10-08 10:41] ltvan commented on #86
At least please provide a static method like `IdentityResult.SetResourceProvider(IIdentityResultResourceProvider provider)`. Is there any plan to incorporate this to version 2.x?

Thanks

[2015-10-08 11:21] ddddddddeee22211 opened #586 "Group Based Permission Assignment"
in projects with complex roles & claims assignment between multiple departments it is difficult
to assign roles and claims to individual users and ineffective when the user counts increase over time.

therefore, major enterprise apps rely on security groups by creating a group for a set of users
and assign roles and claims to group. Then start enrolling users to group

this approach makes administ

[2015-10-08 12:16] xivSolutions commented on #586
Hi -

Author of that post here. I should note for the record that that implementation is a bit of a hack. I needed it to solve a specific problem, but my understanding is the Identity team has determined that in-built group management is outside the scope of the basic Identity implementation. The way I did it was useful in my own context, and perhaps others, but can still become a permissions mana

[2015-10-08 13:39] ddddddddeee22211 commented on #586
I admire the effort  you put to implement groups back in identity 2 .
while my argument here is lacking this implementation in identity 3 will make important
segment of enterprise developers from adopting identity 3

identity 3 is versatile product that addresses and solved many draw backs of legacy membership and simplemembership and universal providers

the addition of claims to identity was a r

[2015-10-09 12:10] gvx111 opened #587 "Indentity To INT"
Application startup exception: System.Reflection.TargetInvocationException: Exce
ption has been thrown by the target of an invocation. ---> System.ArgumentExcept
ion: GenericArguments[0], 'ITN.TS.UserStore.Models.Account', on 'Microsoft.AspNe
t.Identity.EntityFramework.UserStore`3[TUser,TRole,TContext]' violates the const
raint of type 'TUser'. ---> System.TypeLoadException: GenericArguments[0], '

[2015-10-09 20:25] BenjiZombie commented on #578
I'm also experiencing this issue with beta7.

I've implemented a custom `AspNetIdentityUserService` for signing in into my app. This service is registered as Scoped in my DI. `UserManager<ApplicationUser>` is also registered as Scoped by the `services.AddIdentity<ApplicationUser, IdentityRole>()()` registration in `Startup.cs`.

	public AspNetIdentityUserService(UserManager<ApplicationUser> userMa

[2015-10-10 00:20] DAllanCarr commented on #587
I think the Account class is being incorrectly mapped in the call to AddIdentity.

[2015-10-10 10:48] gvx111 commented on #587
Its my account class
<pre> public class Account : IdentityUser
    {
        public string Firstname { get; set; }
        public string Lastname { get; set; }
        public DateTime Birthdate { get; set; }
        public bool Gender { get; set; }
        public virtual ICollection<AccountMeta> AccountMeta { get; set; }
        public string GetGender()
        {
            return Gender ? "Male

[2015-10-10 10:54] DAllanCarr commented on #587
Looks good I just saw this code and was not sure.

[code]

[2015-10-10 11:25] DAllanCarr commented on #587
Diving into the codebase all of the identity classes use string keys by you ar requesting an int key type

https://github.com/aspnet/Identity/blob/5da757642dd7c7a25315250ae3738b87f622cb4c/src/Microsoft.AspNet.Identity.EntityFramework/IdentityEntityFrameworkServices.cs#L22-L23

[2015-10-10 16:44] GuardRex commented on #587
May I suggest ...
[code]
to
[code]
... jk, but it's not very nice referring to women as a "false" gender. :smile:

[2015-10-11 03:01] rbarbe opened #588 "EntityFramework.MicrosoftSqlServer depency in Microsoft.AspNet.Identity.EntityFramework"
It seems that EntityFramework.MicrosoftSqlServer is not needed for Microsoft.AspNet.Identity.EntityFramework project.
It should be replaced by EntityFramework.Relational

[2015-10-11 18:02] fabiomaulo opened #589 "Optional IRoleStore"
Previously the IRoleStore was an optional implementation but now is "something mandatory" due IdentityServiceCollectionExtensions.AddIdentity extension.
As you know we can use just the ClaimType Role to store user's role (user claims are enough in many cases)
Nice to have :
IdentityServiceCollectionExtensions.AddIdentity without the IRoleStore impl.
Thanks

[2015-10-13 10:45] hieupious commented on #580
How about beta 8? I don't see any updates from it.

[2015-10-14 08:06] Anderman opened #590 "Rename isNotAllowed to isNotConfirmed"
The status isNotAllowed is too generic and is only set if phone or email is not confirmed

[2015-10-14 21:17] rustd commented on #589
Does #581 capture your requirements?

[2015-10-14 21:18] rustd commented on #590
This is a generic behavior to support other conditions.

[2015-10-14 21:18] #590 closed

[2015-10-14 21:22] rustd commented on #587
Please refer this test and derive from `IdentityUser<int>`
https://github.com/aspnet/Identity/blob/dev/test/Microsoft.AspNet.Identity.EntityFramework.Test/UserStoreIntKeyTest.cs#L9

[2015-10-14 21:22] #587 closed

[2015-10-14 21:24] rustd commented on #586
Closing as duplicate of this https://github.com/aspnet/Identity/issues/545

[2015-10-14 21:24] #586 closed

[2015-10-14 21:26] rustd commented on #584
IUserStore is the one that has this functionality now. You need to implement IUserStore

[2015-10-14 21:26] #584 closed

[2015-10-14 21:32] rustd commented on #578
Can you make sure that your code is not running after the request is done?

[2015-10-14 21:33] rustd commented on #578
Try changing the lifetime to be Singleton of  AspNetIdentityUserService

[2015-10-14 21:36] rustd commented on #495
Closing since #503 is tracking this

[2015-10-14 21:36] #495 closed

[2015-10-14 21:39] rustd commented on #423
@divega can you please check if there is EF issue tracking the EF + SQLLite testing.

[2015-10-14 21:41] rustd commented on #194
#423 is tracking this

[2015-10-14 21:41] #194 closed

[2015-10-14 21:50] HaoK commented on #588
a754b9cb6186aa5ad39d67a5f184244295049fa7

[2015-10-14 21:50] #588 closed

[2015-10-14 23:16] divega commented on #578
Just to clarify, this is a way to test the hypothesis that what is happening is that your service is getting disposed before the query executes, not necessarily a good workaround.

[2015-10-15 08:01] Anderman commented on #590
It is implemented as notconfirmed and thats ok.  So you can give the user a correct message

[code]

[code]

[2015-10-15 12:16] JohnGalt1717 commented on #584
Ok, in the past IUserStore also required an implementation of IUser?

[2015-10-16 08:02] lazarofrancoe opened #592 "Decouple Identity.EntityFramework from Web Project?"
HI !
    I updated to beta-8, now I can reference Library Class Projects from my Web Project in order to decouple the solution.
    But I'd like to know if it's possible install Microsoft.AspNet.Identity.EntityFramework in a Library Class Projects, so the Web Project doesn't have any references to persistence elements. I was able to install EntityFramework.SqlServer, but when trying to install Mic

[2015-10-16 20:58] HaoK commented on #376
c847f9c50df478ef826f6d4781ddcd760325da78

[2015-10-16 20:58] #376 closed

[2015-10-16 22:11] divega opened #593 "Test coverage for cascade deletes of UserClaims and UserLogins and RoleClaims"
We should have a case with nullable `TKey` types to avoid regressing that scenario, since EF will not cascade if the FK doesn't appear to be required.

[2015-10-19 04:25] Kagamine opened #594 "Calling the Db.Database.EnsureCreated() will throw an exception with cidev rc1-15911"
[code]

[2015-10-19 04:26] Kagamine commented on #594
/cc @divega  @HaoK

[2015-10-19 13:48] BenjiZombie commented on #578
@rustd It previously was registered as Singleton and I had the same issue. The UserManager<> passed in my service's ctor was then invalid since it had been disposed (since UserManager<> is Scoped).

[2015-10-19 21:51] gvx111 commented on #578
@rustd can you post example how to change?

[2015-10-19 22:13] rustd commented on #589
Closing as #581 is capturing this. Please add any more details to #581

[2015-10-19 22:13] #589 closed

[2015-10-19 22:18] HaoK commented on #578
@BenjiZombie Can you give us your startup.cs to start?

[2015-10-19 22:18] rustd commented on #576
Thank you for your feedback. Documentation for ASP.NET 5/ Identity 3 is open sourced https://github.com/aspnet/Docs/blob/master/aspnet/index.rst and can be found here docs.asp.net/

[2015-10-19 22:18] #576 closed

[2015-10-19 22:19] rustd commented on #592
ASP.NET Identity 3 can only be used in ASP.NET 5 projects. You can install this package in DNX based Class Library projects

[2015-10-19 22:19] #592 closed

[2015-10-19 22:21] rustd commented on #555
Identity 3 will be localized in the same set of languages ASP.NET 5 will be localized in. I am closing this specific issue as this is tracked all up in general.

[2015-10-19 22:21] #555 closed

[2015-10-19 22:21] #257 closed

[2015-10-19 22:23] gvx111 commented on #578
<pre>   public static class UserStore
    {
        public static IApplicationBuilder UseUserStore(this IApplicationBuilder app)
        {
            app.UseStaticFiles()
               .UseIdentity()
               .UseDeveloperExceptionPage();

            return app;
        }

        public static IServiceCollection UserStoreServices(this IServiceCollection services)
        {
            se

[2015-10-19 22:24] rustd commented on #400
Closing as https://github.com/aspnet/Templates/issues/234 is tracking this

[2015-10-19 22:24] #400 closed

[2015-10-19 22:56] HaoK commented on #578
Where's the code that actually calls this in startup

[2015-10-20 00:44] gvx111 commented on #578
<pre>   public IServiceProvider ConfigureServices(IServiceCollection services) {

            services
                .UserStoreServices()
                .WebHost();

            services.Modules("~/Modules");
            services.AddSignalR(options =>
            {
                options.Hubs.EnableDetailedErrors = true;
            });
            return services.BuildServiceProvider();

[2015-10-20 00:49] HaoK commented on #578
What does host.Start() do?  That certainly looks like it could cause lifetime issues.

[2015-10-20 02:15] slaneyrw commented on #567
Ok, so I'll override all 5 ``IUserClaimStore<TUser>`` functions on ``UserStore<TUser, TRole, TContext, TKey>``, but what TContext do I use ?  As the ``IdentityDbContext<TUser, TRole, TKey>`` has also hardcoded IdentityUserClaim into it's model (OnModelCreating), so I have to replace the entire IdentityDbContext as well.

i.e.
``IdentityDbContext<TUser, TRole, TKey>.UserClaims : DbSet<IdentityUserC

[2015-10-20 02:27] slaneyrw commented on #559
Also, I can't see the value of injecting ``IOptions<IdentityOptions>`` instead of just `IdentityOptions``.

This, and the issue raised by bitbionk feels like you are catering for the limitations of the default IoC implementations

[2015-10-20 02:42] slaneyrw opened #596 "Expose internals of UserManager and UserStore functions and properties to help implementors"
As I extended aspects of the UserManager and UserStore object I keep having to re-implement private functions.  Can you please make all private ( and maybe internal ) functions and properties available to protected scope as well.

i.e.

`UserManager<TUser>.CancellationToken { get; }`
`UserManager<TUser>.GetClaimStore()`
`UserManager<TUser>.UpdateSecurityStampInternal(TUser)`
**`UserManager<TUser>.

[2015-10-20 02:47] slaneyrw commented on #596
Happy to submit a pull request if you want me to do the leg work

[2015-10-20 03:06] slaneyrw commented on #567
Oh, and I've just discovered ( as I was trying to implement by own DBContext, IdentityUserClaims<TKey> is exposed directly off IdentityUser as well, meaning I have to replace IdentityUser as well, essentially the entire object graph.

[2015-10-20 11:45] Kagamine commented on #594
Hi @divega , I have updated to rc1-15920, the problem still occurred.

[2015-10-20 11:50] Kagamine commented on #594
Oh, I am so sorry, I forgot that I should use EntityFramework.MicrosoftSqlServer instead of EntityFramework.SqlServer. I will have a try and feedback later.

[2015-10-20 12:35] #594 closed

[2015-10-20 12:51] divega commented on #594
Thanks for reporting this anyway. Due to the rename, we keep seeing folks hit a state un which they have version mismstches and it is hard for the to track down why. We are planning to address this by creating an EntityFramework.SqlServer meta package that downloads (the right version of) EntityFramework.MicrosoftSqlServer.

Cc @rowanmiller

[2015-10-20 12:59] Kagamine commented on #594
Hah, there was no breaking change announcement in the aspnet/Announcements repo. So I forgot the rename. When I change into EntityFramework.MicrosoftSqlServer, the problem has been solved. Thank you @divega .

[2015-10-20 14:13] Kagamine commented on #594
For EF6? @divega

![image](https://cloud.githubusercontent.com/assets/2216750/10609776/bf3b5796-7777-11e5-926c-bc9743a54fad.png)

[2015-10-20 14:22] christophermllr opened #598 "ASP.NET Identity generates tokens (e.g. email confirmation, password reset) even when User.SecurityStamp is null"
I noticed that ASP.NET Identity will still generate tokens even if the user's SecurityStamp is null.  My understanding is that these tokens would never be valid.  Shouldn't UserManager throw an Exception in this case?

Possibly out of scope because if the user is created using UserManager, SecurityStamp won't be null.  However, as was the case for me, if an external process is creating users by ma

[2015-10-20 18:13] runxc1 commented on #539
Note to others looking at this as it is not evident but
this worked in beta7 and is no longer how you set the login path.
[code]
This seems to work for setting the login path
[code]

[2015-10-20 22:37] HaoK commented on #572
4ce3efd28fb33bc40f63bc150ff12182543b3a07

[2015-10-20 22:37] #572 closed

[2015-10-21 00:45] slaneyrw commented on #596
Further more this will allow per-user PasswordHashing, as at the moment it's a one size fits all.

Say I want to increase the number of iterations for password hashing over time ( as hardware power increases ).  I would need to store the number of iterations last used, read that off the user record and verify the password with that number of iterations.  If the number of iterations is lower than c

[2015-10-21 02:42] slaneyrw commented on #585
If I could add a voice to this discussion ( also see issue 567 - closed by HaoK ), the current state of the IdentityUser lacks extensibility, but it also affects UserStore and UserManager and IdentityDbContext.

I'm trying to convert an existing v2 application( in the context of ASP.NET 4 -> 5 ) to access the feasibility.

In order for me to replace IdentityUserClaim I have to replace IdentityUser

[2015-10-21 02:54] slaneyrw opened #599 "AspNetUserLogins can have a null UserId"
That doesn't make sense to me.  With the removal of the UserId from the composite primary key was the non-null metadata for this property missed ?

[2015-10-21 14:50] joshmouch commented on #585
@slaneyrw Thanks for the support!  Identity 2.0 definitely made it a design goal to make things one size fits all.

[2015-10-21 15:07] joshmouch opened #600 "Migration Identity 2.0 to 3.0 namespaces"
When migrating from Identity 2.0 to 3.0, am I correct in assuming that the namespaces Microsoft.Owin.* have been replaced replaced by Microsoft.AspNet.*?
Are the classes within functionally similar (enough to start the migration off with, at least)?

[2015-10-21 21:32] rustd commented on #599
Fixed in c847f9c50df478ef826f6d4781ddcd760325da78

[2015-10-21 21:32] #599 closed

[2015-10-21 21:38] rustd commented on #598
Default should always have a value.

[2015-10-21 21:43] rustd commented on #596
Sure. Please send a PR so we can look at all places where you need this.
Also consider replacing services as a way to extend Identity.

[2015-10-21 21:51] rustd commented on #578
Can you please try reproing this without SignalR?

[2015-10-21 23:06] divega commented on #578
@halter73 I hope you may have enough context to be able to comment on this. In summary:

- @gvx111 is using SingalR with Identity (see the [startup.cs](https://github.com/aspnet/Identity/issues/578#issuecomment-149386966) above)
- If this was a regular MVC app the exception he is observing would be a symptom of trying to do work with services obtained from a DI scope that has been disposed (Identi

[2015-10-21 23:18] gvx111 commented on #578
I have already removed Signalr from my project and same problem.

[2015-10-21 23:19] divega commented on #578
Ok @gvx111. Would it be possible for you to provide the full repro with SignalR removed?

[2015-10-21 23:25] gvx111 commented on #578
I can't because it is Framework and 10 Projects are referenced. :| I can show you debug mode.

[2015-10-22 01:20] divega commented on #598
To clarify: we discussed this and came to the conclusion that we should create a SecurityStamp early on when the user is added.

[2015-10-22 05:35] Bartmax opened #601 "Add support for UserManager CreateAsync to add external login as an atomic operation"
Right now, if you look at the templates of Individual Account you will see code like this:

[code]

Interesting enough, if `AddLoginAsync` fails, the result is a new user with no way to log in nor register again.

But that may not be the only reason, it could be because server error, or whatever.
I think it will be great if we can add a new overload to `CreateAsync` that accepts `UserLoginInfo` so

[2015-10-22 19:47] halter73 commented on #578
@divega Sorry I missed your @ mention yesterday. Even if a connection is dropped, SignalR should wait until it is finished invoking user code before completing the app func and allowing scoped services to be disposed.

There might be an issue with the WebSocket transport and async Hub methods, but since @gvx111 said this repros without SignalR it looks like I'm off the hook for now :)

[2015-10-23 14:00] gvx111 commented on #578
I think problem is another.
When i enter wrong password SignInResult return Failed.
I trying to debug singin ExceptionMessage: InnerException = {"The connection was not closed. The connection's current state is open."}
<pre>
  public async void TestLogin(HttpContext httpContext)
        {
            try
            {
                var user = new Account() { UserName = "GVX111" };

[2015-10-25 00:44] gvx111 commented on #578
@halter73 @divega I found problem. Error on GetSecurityStampAsync()

[2015-10-25 02:14] gvx111 opened #602 "The response headers cannot be modified because the response has already started."
<pre>InvalidOperationException: The response headers cannot be modified because the response has already started.</pre>
On SignIn and Singout

[2015-10-25 12:21] SetTrend opened #603 "ASP.NET Identity 3: What is the standard procedure for using local authentication plus OpenID Connect?"
I want my users to choose between either creating a local account (similar to the early Forms Authentication) and logging in using OpenID Connect using one of their existing social provider accounts.

What's the standard procedure for providing for this using ASP.NET Identity 3?

What steps are neccessary to be added to the DB to provide for storing user preferences no matter which kind of log in

[2015-10-26 14:48] kennyrulez commented on #539
@runxc1 Thanks for the tip.
Now I see that Identity team removed the Notifications, and then I cannot access to OnApplyRedirect. Do you have any idea how to get this back?

Thanks!

[2015-10-26 15:55] runxc1 commented on #539
@kennyrulez can you get to that property from the IdentityOptions?
[code]

[2015-10-26 16:02] kennyrulez commented on #539
@runxc1 nope. Does not exist anymore...

[2015-10-26 16:21] azeyad commented on #387
So is it considered as a good practice to use the LDAP authentication(Authentication.ValidateCredentialsAsync) inside the account controller itself besides the usermanger authentication(_userManager.FindByNameAsync)? Or it would be better if I inherited a new class from the usermanger and modified the FindByNameAsync method to do the LDAP piece as well to encapsulate the authentication logic in on

[2015-10-26 20:11] slaneyrw commented on #599
thanks

[2015-10-26 22:04] rustd commented on #602
This is possibly related to https://github.com/aspnet/Identity/issues/578

[2015-10-26 22:04] #602 closed

[2015-10-26 22:13] HaoK commented on #601
@rustd we can consider deleting the user if AddLogin fails in this flow (or they might be able to still reset their password today)

[2015-10-26 22:13] #601 closed

[2015-10-26 23:07] Bartmax commented on #601
Meh...

[2015-10-27 01:55] slaneyrw commented on #596
Had a first cut, but I'm getting errors doing a package restore in the IdentitySample.MVC project, and also getting a exception from DNX when discovering tests.  I can't verify any of my changes apart from a compile.  Any ideas on what is wrong ?

I have Installed Beta8 tooling and runtime

DNX Core 5.0 References

  NotFound https://api.nuget.org/v3-flatcontainer/microsoft.extensions.optionsmodel

[2015-10-27 03:49] slaneyrw commented on #596
I have the follow changeset in my fork you can look at

https://github.com/slaneyrw/Identity/commit/f2722c96b5845687ed5c7305a302be09c93a6c75

[2015-10-28 09:04] Gentlehag opened #604 "Controller in API meaning , should not redirect to Login View on unauthorized access"
A very common usecase is that controllers used in an api style way are supposed to have other behavior on unauithorized access then view style controllers.

In detail this means: When having an unauthorized acces  the expected behavior for controller used in a view orientied way is to redirect to a login page with status code 200 ; a api style controller should return a status code indicating NotA

[2015-10-29 18:23] miroslavsiska opened #605 "Identity with multiple DbContext"
I see only small support for multitenant applications. Am I right please?
Identity working only with one database (One Connection String). Its not possible store Identity data for each user isolated in to different database. This can be great feature for creating multitenant applications (with separate databases) as folowing Example:
Target database (exactly connection string) can be determined by

[2015-10-29 18:57] LorenDorez opened #606 "ID column to Int"
I am having an issue setting the ID column to an INT. I tried to follow the article posted here https://ericswann.wordpress.com/2015/03/14/nozus-step-3-adding-asp-net-identity-to-mvc-6/

However im having no success. I get an error message about "Cannot insert the value NULL into column 'Id', table 'Oversii.dbo.AspNetRoles'; column does not allow nulls. INSERT fails."

Some Code below

Startup.cs

[2015-10-29 21:19] HaoK commented on #598
I looked and the security stamp is always set to something if the user was created via identity APIs.  So If the user was created in some other fashion, a valid (non null) security stamp should be created as well as part of that process.  Or simply update the user in some other fashion before trying to use the two factor APIs that require a stamp.

[2015-10-29 21:19] #598 closed

[2015-10-29 21:19] HaoK commented on #598
The current behavior is by design

[2015-10-29 21:39] HaoK opened #607 "Should NTLM/Negotiate show up as External Auth Types in Templates"
[Also they don't currently work when clicked on, so if the answer is yes, we need to make them work :)]

We have some logic in SignInManager that returns all auth types that have a DisplayName.  This will include windows auth which doesn't actually work

[2015-10-29 21:42] rustd commented on #607
rc1?

[2015-10-29 21:47] HaoK commented on #607
Isn't that more or less done?  Just hide them for rc1 and we can figure out what the right thing to do is with this bug.

[2015-10-29 22:53] rustd commented on #607
Yeah. Templates have a workaround for rc1

[2015-10-30 07:44] jerriep opened #608 "Forcing recreation of User Principal"
I have a CustomSignInManager class which inherits from `SignInManager<ApplicationUser>`. In the `CreateUserPrincipalAsync` method I set a couple of claims which I read from the `ApplicationUser` class, so they can be retrieved easily elsewhere in the application without having to re-query the database.

This al works great, but because these are value which are stored on the ApplicationUser class,

[2015-11-01 14:22] miroslavsiska opened #609 "error CS0648: '' is a type not supported by the language"
I will use no DI scenario for userManager with folowing code:

           const string SuperAdminUserName = "test@test.com";
            const string SuperAdminPassword = "Password*";
            const string adminRole = "ADMIN";
            string con = "Connection string";
            UserManager<ApplicationUser> TESTuserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(T

[2015-11-01 19:28] Gentlehag commented on #604
any thoughts about this?

[2015-11-01 20:25] YZahringer opened #610 "Navigation Property in IdentityUserRole"
Hello,

How to add a navigation property in IdentityUserRole to IdentityRole? Why this entity is not customizable like IdentityRole and IdentityUser? Why this navigation property does not exist by default?

Thanks,
Yann

[2015-11-01 21:07] #605 closed

[2015-11-02 06:38] slaneyrw commented on #606
Doesn't appear you are setting the Id of the new IdentityUser instances.  The default implementation set's the string Id to a new Guid in the constructor

[2015-11-02 15:25] miroslavsiska opened #611 "Multi-database functionality ?"
How can I provide User login and User registration on one application instance, until each user is stored in separate database??? (Databases have the same table structure). I see no possible solution. Thank you

[2015-11-02 20:02] Eilon opened #612 "Add doc comments for mainline APIs"
At least these APIs:
* AddEntityFrameworkStores method
* UserManager class cleanup
* SignInManager class cleanup
* IdentityDbContext class and methods
* IdentityUser class

[2015-11-02 23:21] rustd commented on #610
Related issue: https://github.com/aspnet/Identity/issues/585

[2015-11-02 23:24] rustd commented on #609
This is probably a compilation error and not an exception thrown by Identity.

[2015-11-02 23:24] #609 closed

[2015-11-02 23:27] rustd commented on #608
You can also call UpdateSecurityStamp() on UserManager which will update the cookie automatically whenever the SecurityStamp changes.

[2015-11-02 23:27] #608 closed

[2015-11-02 23:59] rustd commented on #612
#532

[2015-11-03 00:31] divega commented on #612
Talked to @Eilon and he thinks if we can do some of these for RC1 it would be great. So asking @blowdart, @HaoK and @rustd if that would be possible :smile:

[2015-11-03 00:33] blowdart commented on #612
Given your timescales it's doubtful.

[2015-11-03 12:29] GVX111 opened #613 "Question AD"
Is it possible to authorize with Active Directory?
If yes can someone explain how?

[2015-11-03 18:28] HaoK commented on #604
@blowdart can you comment on this?

[2015-11-03 18:32] blowdart commented on #604
I am confused. Are you accessing the controllers with cookie auth? Only interactive auth schemes would issue a redirect. You ought to be using a bearer scheme for WebAPI controllers.

@HaoK didn't we discuss changing this in security so the redirect didn't happen on Ajax requests if you did do the wrong thing and used cookies?

This isn't an identity issue, it's a security middleware issue.

[2015-11-03 18:33] HaoK commented on #604
Yeah in rc1 we added some logic where cookies doesn't redirect for XmlHttpRrequests, it just sets the location header

[2015-11-03 18:35] blowdart commented on #604
So that would fix this issue, probably. Can you link this issue to that commit?

[2015-11-03 18:40] HaoK commented on #604
Sure fixed by 1d2c6ba1223748df02a879622e8deb6ac23db5b7

[2015-11-03 18:40] #604 closed

[2015-11-03 19:46] HaoK opened #614 "Revisit Template sugar in SigninManager"
- Consider moving the checks for Windows Auth into the sugar method GetExternalAuthenticationSchemes
- Review the various methods that only exist for the template or template like scenarios that currently live in SignInManager, like:
1. GetExternalAuthenticationSchemes
2. ConfigureExternalAuthenticationProperties

[2015-11-03 21:30] tugberkugurlu opened #615 "From IList<T> returning APIs to IReadOnlyList<T> returning ones"
Some interface APIs return `Task<IList<T>>` which seems weird as I don't want the list I am passing to be mutable. I would rather have `IEnumerable<T>` but I assume it has not been preferred as it may not be evaluated. If that's the case, let's at least return `IReadOnlyList<T>`.

[2015-11-03 22:18] rustd commented on #612
I emailed you guys with a proposal for a smaller set of docs that we should update for rc1.

[2015-11-04 20:45] tugberkugurlu opened #617 "Provide UserClaimsPrincipalFactory<TUser>"
Currently, `IUserClaimsPrincipalFactory<TUser>` has an implementation as `UserClaimsPrincipalFactory<TUser, TRole>`. However, this is not convinent for implementations which don't support `IRoleStore<TRole>`. Providing `UserClaimsPrincipalFactory<TUser>` would be great.

[2015-11-04 20:48] tugberkugurlu opened #618 "Provide IdentityServiceCollectionExtensions.AddIdentity<TUser>"
Currently, there is an `AddIdentity<TUser, TRole>` extension on `IServiceCollection` which registers bunch of stuff including Role related things. This is not convenient for implementations which don't support `IRoleStore<TRole>`. Providing `AddIdentity<TUser>` and only registering `TUser` related stuff would be nice.

Also, the sample application should use this extension rather than the other on

[2015-11-04 20:49] tugberkugurlu commented on #617
Happy to PR for this if this sounds reasonable.

[2015-11-04 20:49] tugberkugurlu commented on #618
Happy to PR for this if this sounds reasonable.

[2015-11-04 20:53] tugberkugurlu commented on #618
This also effects `IdentityBuilder`.

[2015-11-04 22:25] tugberkugurlu commented on #618
This is what I had to do now to get around this: https://github.com/tugberkugurlu/Identity/blob/9ba9408e62d7d72446cbf4fc15cf30966ac26557/samples/IdentitySample.Mvc/Startup.cs#L39-L72

[2015-11-04 23:24] HaoK commented on #618
Yeah this is the same issue as https://github.com/aspnet/Identity/issues/581.  We are considering it for RC2.  cc @divega

[2015-11-04 23:25] HaoK commented on #607
Replaced by https://github.com/aspnet/Identity/issues/614

[2015-11-04 23:25] #607 closed

[2015-11-05 13:16] danicomas opened #620 "(Question) Aspnet Identity only will work with Code First?"

[2015-11-05 19:12] tugberkugurlu commented on #122
I am interested in this. How do we listen to these events and act on them?

[2015-11-05 19:13] tugberkugurlu commented on #122
ow, how did I do that?

![image](https://cloud.githubusercontent.com/assets/328122/10978897/54c520b4-83f1-11e5-9e97-86f3a003d423.png)

[2015-11-05 19:43] tugberkugurlu commented on #581
:+1:

[2015-11-05 19:43] tugberkugurlu commented on #618
@HaoK awesome, thx!

[2015-11-05 19:43] #618 closed

[2015-11-05 21:32] HaoK commented on #612
379f1928a4d676d2ad14ba026f50b204ed33d518

[2015-11-05 21:32] #612 closed

[2015-11-05 21:32] HaoK commented on #532
379f1928a4d676d2ad14ba026f50b204ed33d518

[2015-11-05 21:32] #532 closed

[2015-11-06 14:40] brockallen opened #621 "UseIdentity is a confusing name -- perhaps a better name is in order?"
UseIdentity is a confusing name, since ASP.NET Identity is mainly about managing data in a database. This extension method only registers cookie middleware that's used in conjunction with ASP.NET Identity.

Perhaps UseIdentityCookies (or something similar) would be more clear because that indicates it's encapsulating registering several cookie middleware?

[2015-11-06 14:47] davidfowl commented on #621
Like, but oh man is this a breaking change

[2015-11-06 14:49] brockallen commented on #621
*shrug*

[2015-11-06 14:52] mikeandersun commented on #621
:+1:

[2015-11-06 14:54] brockallen commented on #621
I guess my main reason for bringing this up is because there's already a lot of confusion over what ASP.NET Identity is and does. Conflating it with cookie middleware just muddies the waters. I'm just trying to suggest an approach for keeping the distinction clear (since the distinction is important, IMO).

[2015-11-06 15:03] SetTrend opened #622 "Why the OwinStartupAttribute?"
All other plug-ins to ASP.NET are getting configured in Application_Start. Why does Katana take a different approach and use the `OwinStartupAttribute`?

It's hard to examine project behaviour and searching sources if NuGet packages take different approaches for achieving the same kind of result, not abiding by the same strategy.

[2015-11-06 15:07] SetTrend opened #623 "What is necessary in StartUp.Auth.cs to opt-out from having the user agree to reveal his profile data?"
According to [this article](http://www.asp.net/web-api/overview/security/external-authentication-services), Facebook and Microsoft Account ask the user for revealing user profile data to a web application:

![](http://i1.asp.net/media/4319405/webapimicrosoft03.png?cdn_id=2015-10-16-001)

I only want the user to authenticate. I do not want him/her to reveal anything to my web application. So, what

[2015-11-06 17:25] Schlurcher opened #624 "Question about ITicketStore and ApplicationCookie.SessionStore injection"
I'm currently playing around with cookies and session storage, as mentioned in the title. I'm trying to write an ITicketStore which uses an IDistrubutedCache to store the AuthTickets.

SqlServerCache is nice enough to provide an extension method to add it to ServiceCollection as IDistributedCache, so no problems there.
[code]

My ctor looks like this: ```SqlServerCacheTicketStore(IDistributedCache

[2015-11-06 18:35] divega commented on #621
@HaoK @rustd @blowdart thoughts?

I like this suggestion. We would need to check what our bar for breaking changes is going to be post RC1.

[2015-11-06 18:37] blowdart commented on #621
Damnit, I agree with @davidfowl. You see what you did @brockallen?

[2015-11-06 18:56] HaoK commented on #621
I'm not sure I like it, as we already do slightly more than just include the cookies ( we also ensure that AddIdentity was called here, and in the future could potentially add more identity specific middleware in the future without the name being a problem).

Another example of where we are just wrapping a middleware would be UseMvc which is basically UseRouting().

Going forward we can always hav

[2015-11-06 20:11] brockallen commented on #621
Ok, I can acquiesce on this one. I suppose I'm so used to adding cookie middleware myself that the fact that AddIdentity also does it wasn't obvious. Perhaps this is just an education thing.

At least I was able to frustrate @blowdart.

[2015-11-06 20:11] #621 closed

[2015-11-06 22:52] tugberkugurlu commented on #225
Here is an implementation for this http://www.tugberkugurlu.com/archive/asp-net-5-identity-mongodb-implementation which supports dnx452 for beta8 runtime. It's available on NuGet: https://www.nuget.org/packages/Dnx.Identity.MongoDB.

[2015-11-06 23:09] brockallen opened #625 "UserClaimsPrincipalFactory.CreateAsync and authenticationType param"
The XML docs for this has a authenticationType param, but the implementation does not. I think it should have an authenticationType since that's how you can populate the ClaimsIdentity with things like "password" or "2fa" so the app knows how the user authenticated (and perhaps change it's behavior accordingly).

Using Options.Cookies.ApplicationCookieAuthenticationScheme is not very useful and ar

[2015-11-06 23:15] brockallen opened #626 "GUIDs for security stamp"
So a GUID is being used for the security stamp. On windows that has ~96 bits of entropy (according to @GrabYourPitchforks), but on linux there's no guarantee (unless that's changed and something in CoreCLR addresses this). So I worry that somehow the lack of entropy could be used to abuse ASP.NET Identity if/when running on linux, and perhaps crypto RNG is better.

If this is still an issue, then

[2015-11-06 23:40] GrabYourPitchforks commented on #626
They actually have 122 bits of entropy. Regardless, as of the last time I looked at the code base, the security stamp doesn't need to be secret or unpredictable. It's used simply to version existing payloads like refresh tokens or reset tokens. If the security stamp in the incoming refresh token doesn't match the security stamp in the DB, then the request should be rejected. The refresh token in t

[2015-11-07 00:34] brockallen commented on #626
Just raising it as an issue to be considered given how the guid is being used.

As for:

IIRC, the security stamp is the main input to the TOTP (as well as time, but that's well known-ish for 2FA given the steps) and thus if an attacker has just read-only access to the DB they can predict the SMS code for 2FA. I guess in theory if the security stamp is also predictable then it's also potentially a

[2015-11-07 00:47] HaoK commented on #617
Feel free to submit a PR for this sure :)

[2015-11-07 01:37] GrabYourPitchforks commented on #626
Ah, I thought there was an additional source of entropy for the TOTP code paths. This is something @HaoK and @blowdart should look at.

[2015-11-07 01:42] brockallen commented on #626
Same issue exists in AspId v2 :)

[2015-11-07 01:52] blowdart commented on #626
Darnit Linux :) Yea, we should switch to an CNG based random array of bytes, of the maximum size the TOTP algorithm uses. @HaoK

[2015-11-07 14:36] SetTrend opened #627 "How can I unit test OAuth2 authentication on Web API using Microsoft.Owin.Testing?"
Hi,

given the following VS solution setup:

[code]

I have installed the `Microsoft.Owin.Diagnostics` and `Microsoft.Owin.Testing` NuGet packages.

Now I want to test internal and external authentication using this set-up. How can I do this?

I have been googling this but can't find any documentation on how to apply TestServer here.

Thank you for enlightening me.

[2015-11-08 17:14] TerribleDev opened #628 "Improve mechanism for flowing additional claims to identity cookie on SignIn"
In ExternalLoginCallback there are claims set by middlewear components that are being dropped in ExternalLoginSignInAsync.

Specifically, I am using the [github](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/src/AspNet.Security.OAuth.GitHub/GitHubAuthenticationHandler.cs#L35) external provider which sets a bunch of claims, and I see the claims during ExternalLoginCallb

[2015-11-09 22:22] Schlurcher commented on #624
Hi there, again!

After toying around with this on the weekend, I came up with a pretty simple but somewhat smelly solution to avoid wiring up the dependencies manually.
[code]

It's used during Configure[Staging|Production]Services. I can live with cunked cookies during development, plus no additional setup necessary.

[code]

I don't like that I have to use BuildServicePovider() for this. Feels

[2015-11-11 18:04] angelsix opened #629 "Entity Framework Identity doesn't set securiry stamp"
In the UserStore in various methods like creating, updating the user, setting email, phone etc... the Entity Frameworks UserStore should be setting a new SecurityStamp for the user.

If not, using that as a store, then using UserManager.SignInAsync fails with a null exception as the UserClaimsPrinciple checks the UserManager.SupportsUserSecurityStamp which checks that it implements the IUserSecuri

[2015-11-11 18:32] angelsix commented on #629
Oh nevermind, it turns out that should be handled by the next layer up, the UserManager. I have a custom UserManager that doesn't have dependecies on Mvc so thats why mine is crashing. I'll add the logic to my UserManager.

[2015-11-11 18:32] #629 closed

[2015-11-11 22:11] divega commented on #581
Moving to RC2 so we can look into it soon.

[2015-11-11 22:11] rustd commented on #627
This is not related to Identity 3. This is a question for the Katana project. Please open an issue http://katanaproject.codeplex.com/

[2015-11-11 22:11] #627 closed

[2015-11-11 22:31] rustd commented on #617
https://github.com/aspnet/Identity/issues/581

[2015-11-11 22:42] rustd opened #630 "Revisit User.IsSignedIn()"

[2015-11-11 23:04] mikeandersun opened #631 "Separated Authentication functionalities from persistent functionalities."
Separated Authentication functionalities from persistent(IMO, Data.Abestractions is a good name) functionalities is a nice to have. And of course having two Nuget packages.
For example sometime we just need to store and retrieve user data and authentication done by identity server (e.g IdentityServer3).

[2015-11-12 00:12] SetTrend commented on #627
Actually [I did do that a week ago](http://katanaproject.codeplex.com/discussions/646845). But to no avail. Apparently no-one there know the answer themselves :(

I was hoping someone here would know the answer as it seems closely related.

[2015-11-13 08:44] angelsix opened #632 "UserManager.GetUsersInRoleAsync XML comment wrong"
Just a heads up. The XML comment for GetUsersInRoleAsync is wrong. It's copy/pasted from the claim, needs updating to the correct comment.

Also the comment for GetUsersForClaimAsync is missing.

[2015-11-13 20:37] HaoK commented on #578
Please reopen this if the issue is still happening for you

[2015-11-13 20:37] #578 closed

[2015-11-13 20:40] HaoK commented on #632
Mr Dorrans, your awesome wordsmith skills are needed again! @blowdart

[2015-11-13 20:50] blowdart commented on #632
You are perfectly capable of cutting and pasting the correct comments yourself :p (because inheritdoc doesn't work)

[2015-11-13 22:10] HaoK commented on #632
Merged @blowdart s poetic changes :)  2084a95f0ac68dfc6739a47745c9f2a500975e50

[2015-11-13 22:10] #632 closed

[2015-11-13 22:10] HaoK commented on #626
Are we backloging this @blowdart ?

[2015-11-13 22:11] HaoK commented on #628
@rustd can you point him at the samples of how this is typically handled, this is always how things have worked

[2015-11-13 22:12] HaoK commented on #613
@blowdart

[2015-11-13 22:14] HaoK commented on #624
Yeah the provider model for cookies isn't really DI aware.  cc @Tratcher

[2015-11-13 22:16] HaoK commented on #623
This is behavior that comes from the 3rd party auth providers, most likely based on what scopes you ask for (i.e. profile/email)

[2015-11-13 22:19] HaoK commented on #631
This already is factored today, Security/HttpAbstractions handles the low level AuthZ decisions/ClaimsPrincipal.  Identity layers on top of that the concept of users, and 'sign in' via password social etc.  You can replace parts of identity or replace it entirely with your own authentication mechanism if desired

[2015-11-13 22:19] #631 closed

[2015-11-13 22:37] blowdart commented on #626
I guess so, it's too big a change to make now unfortunately.

[2015-11-13 22:38] blowdart commented on #613
Not with identity. You can use NT authentication to automatically login for intranet apps, but you cannot login via forms using AD.

[2015-11-13 23:54] GVX111 commented on #613
@blowdart thank you

[2015-11-13 23:54] #613 closed

[2015-11-14 09:41] Riva81 commented on #413
Thanks it looks like v2.0 is dead as there have been no updates ever since.

[2015-11-14 11:00] brockallen commented on #631
I think he might mean separate the AspId3 manager and store APIs from the SignIn manager. Right now the whole thing has a dependency on HttpAbstractions, whereas the core identity management (user management APIs) could be separate and a separate package that assumes the ASP.NET pipeline and cookie MW.

[2015-11-14 12:32] SetTrend commented on #623
Thank you, Hao.

I was looking for some kind of consent, i.e. when providing a particular scope the above confirmation screen would be skipped.

So apparently there is no such consent scope?

Thank you for enlightening me.

[2015-11-14 13:01] PinpointTownes commented on #626
A big change? Heh, why?

Using `RandomNumberGenerator` doesn't seem really complicated. And if switching to a non-GUID format string is not an option, nothing prevents you from creating a GUID using the bytes generated by the RNG (instead of using `Guid.NewGuid()`), like you already do for the session middleware.

[2015-11-14 17:07] HaoK commented on #626
The change being considered would be moving to a per login factor secret.

The guid thing wasn't as big of a deal.

[2015-11-16 21:21] divega commented on #623
Reopening as a discussion so that @HaoK can answer the last question if possible.

[2015-11-16 21:31] HaoK commented on #623
I don't have any further insight into this.  At this point, this is entirely 3rd party auth behavior.  We don't control any of that flow.  Scopes are entirely defined by each auth provider

[2015-11-16 21:31] #623 closed

[2015-11-16 21:33] HaoK commented on #623
But to elaborate, I would assume the consent is triggered by what scopes you ask for.  I.e. if you ask for email or any other 'restricted' user info, the consent screen gets triggered.  I doubt you can opt out of that, its probably based on how the user has configured their privacy settings.

[2015-11-16 23:13] rustd commented on #615
This would be a nice to have at this point, but it would be a breaking change from RC1 and does not provide much value to users.

[2015-11-16 23:13] #615 closed

[2015-11-17 05:57] singlewind opened #633 "The scope of DBContext of Identity"
We are using identity beta-8 for a project. When use AddClaimAsync in RoleManager, it gives error  "[Some Class]" cannot be tracked because another instance of this type with the same key is already being tracked.

The dbcontext was injected in Startup.cs

[code]

Nothing is special here. I wonder any Jedi master here can show me some force to light the road for me.

I know by default the Identity

[2015-11-17 14:57] moliveto commented on #453
Hello,
I have the same problem. I have an UserStore without RoleStore.
You have been able to solve your problem?

[2015-11-17 16:29] mayur4monto opened #634 "DB connection issue with AspNet.ApplicationCookie"
I have used ASP.net identity in my mvc5 application. but gives the following error randomly

 A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections. (provider: SQL Network Interfaces, error: 26 - Error

[2015-11-17 23:24] singlewind commented on #633
I found a closed ticket #536 which changed to scope from transient, which is good. However, it may brings issue when we use attach method in our code without check whether entity is already in the context

[2015-11-18 00:16] Fosol opened #635 "Oauth Implementation Question"
I'd like to be able to authenticate a user with my custom Microsoft.AspNet.Identity implementation and also provide an Oauth token.

I get the following error however;
[code]
I'm trying to use JwtBearerAuthentication.
[code]

[2015-11-18 00:40] #635 closed

[2015-11-18 00:41] Fosol commented on #635
I forgot to include

app.UseIdentity();

[2015-11-18 08:02] rhegner opened #636 "Double-check in SignInManager"
While looking through the code of SignInManager.cs I noticed that in `PasswordSignInAsync` you first call `PreSignInCheck` and then check `IsLockedOut`. But inside of `PreSignInCheck` you already check `IsLockedOut`. So you end up checking twice if the user is locked out. Is this intentionally so?

[2015-11-18 08:26] rhegner opened #637 "How to use a custom SignInManager?"
I'd like to use my own `SignInManager` which overrides some methods of the original `SignInManager`. How do I register my own implementation as a service?

`AddIdentity` adds the default implementation of `SignInManager`. Is there a way to exchange the implementation in `ConfigureServices` after the call of `AddIdentity` (maybe this question is mor DI related than Identity related...)

[2015-11-18 09:35] egorpavlikhin opened #638 "Sample AccountController does not populate ViewBag.LoginProviders on Login"
ViewBag.LoginProviders is populated on GET Login action, but not on POST, which results in a RuntimeBinderException when trying to login.

https://github.com/aspnet/Identity/blob/dev/samples/IdentitySample.Mvc/Controllers/AccountController.cs#L42

[2015-11-18 11:12] rhegner commented on #637
Actually, it is very easy...

In `ConfigureServices` after `AddIdentity` I added:

    services.AddScoped<SignInManager<MyUser>, MySignInManager>();

This seems to overwrite the previous registration made by `AddIdentity` and works fine.

[2015-11-18 11:12] #637 closed

[2015-11-18 11:45] WiredUK commented on #585
I could be wrong, but I don't have a problem with having one or two (or several!) generic versions of the IdentityDbContext class to allow for those people who want to extend the model. I think that can be done pretty cleanly?

[2015-11-18 12:26] joshmouch commented on #585
@WiredUK I'm with you.  I think the concern is that many classes get touched.  But it still seems clean as it's all "generically typed" touching.

[2015-11-18 13:00] WiredUK commented on #585
@joshmouch I've taken a closer look at the code and it's super easy to extend it. Would a PR to do that be welcome here?

[2015-11-18 13:03] joshmouch commented on #585
@divega @rustd @WiredUK I'm not very familiar with how this github development works in general.  It sounds like the team may already be working on it for RC1.  I think you'd have to ask them if they would welcome a PR.

[2015-11-18 14:04] TLogik commented on #567
I have the same issue.Replacing all that code seems to be very counter productive.
Could a better approach possible be considered?

[2015-11-18 15:40] Anderman opened #640 "How to Unit test AccountController and mock the signInManager.PasswordSignInAsync"
I tried to test the account controller with Xunit and Moq. But I have a problem to mock the PasswordSignInAsync

I have no idea how to set the result. I looked to this issue https://github.com/aspnet/Identity/issues/344 and the musicstore

I used this for mocking UserManager and SignInManager
[code]

    // Arrange
            var MockUserManager = Microsoft.AspNet.Identity.Test.MockHelpers.MockUs

[2015-11-18 19:19] MaximRouiller commented on #76
Just bumping this up to see if there's any progress on this front.

[2015-11-18 19:39] rustd commented on #603
You can add OpenIdConnect middleware as another provider. If you create ASP.NET 5 Web App with Individual Account, it comes with Facebook and other providers. You can login and store user information in the database. You can add OpenIdConnect in a similar manner.
I am closing this issue as this is not a product bug.

[2015-11-18 19:39] #603 closed

[2015-11-18 19:41] rustd commented on #600
There are more changes other than namespaces. We will be documenting the migration process https://docs.asp.net/en/latest/migration/index.html
For now you can create a new ASP.NET 5 Web Application with Individual Account and compare the Startup class and Account/ Manage Controller to look at the code changes.
Closing this as this is not a bug.

[2015-11-18 19:41] #600 closed

[2015-11-18 19:43] rustd commented on #622
This is not a question for ASP.NET Identity 3. Please ask Katana specific questions http://katanaproject.codeplex.com/

[2015-11-18 19:43] #622 closed

[2015-11-18 19:57] Eilon commented on #76
@MaximRouiller we are not planning on building this provider at this time, so no updates. If anyone wants to work on it I think we'd be happy to collaborate on the design.

[2015-11-18 20:15] MaximRouiller commented on #76
Let's say that maybe I would perhaps be interested in doing it. ;-)

Who would I need to bother? Would it be integrated into the main framework or would it need to be a separate package?

Finally, if you need my email for further discussions let me know. :)

[2015-11-18 22:10] rustd commented on #76
Email is fine for packaging details. You can post any questions in this repo to @HaoK @divega and we will be happy to help.

[2015-11-18 22:13] rustd commented on #638
Update the sample to match the templates

[2015-11-18 22:17] rustd commented on #636
Yes this is by design. We want to track the error case where the user is signed in or not which is defined in PreSignInCheck.

[2015-11-18 22:17] #636 closed

[2015-11-18 22:18] HaoK commented on #640
Call SignInResult.Success to create a success

[2015-11-18 22:18] #640 closed

[2015-11-18 22:23] rustd commented on #633
Can you please send us the snippet of code for this "When use AddClaimAsync in RoleManager"?

[2015-11-18 22:25] rustd commented on #624
Closing this and opening it in security https://github.com/aspnet/Security/issues/581

[2015-11-18 22:25] #624 closed

[2015-11-18 22:26] rustd commented on #634
This is unrelated to ASP.NET Identity. Please discuss it http://forums.asp.net/25.aspx/1?Security

[2015-11-18 22:26] #634 closed

[2015-11-18 22:45] singlewind commented on #633
It is very easy to replicate. Any time, the second call to userManager, roleManage related to a same entity will fail. For example, the ResetAccessFailedCountAsync is OK, but SetLockoutEndDateAsync will fail, because user is already in tracker.

[code]

[2015-11-20 03:14] Eilon commented on #76
Looks like @MaximRouiller is going to take crack at this. Thank you!

[2015-11-20 12:07] ahmad-moussawi opened #642 "Any hint on how to extends the UserManager Class in Identity3"
What am trying to do is to migrate from the old membership provider, but I have no idea how to extend the UserManager class especially on:
 - Use my custom `SqlPasswordHasher`
 - Put the `CustomUserManager` in the DI container, and use it on the controller

[2015-11-20 13:15] MaximRouiller commented on #76
I'll give it my best!

[2015-11-20 17:54] Morcatko commented on #518
It does not work for me. Based on some googling it seems to be related to change in facebook api.

[2015-11-20 19:02] SetTrend commented on #623
OK, that you for all your efforts.

From what I understand this would be an issue to discuss in the OAuth2/OpenID workgroup then, since the authorization server is proprietearily deciding whether to show a confirmation screen or not. There may be a certain scope to be defined that would be accepted by all security providers to skip the confirmation screen as it only returned the user Id and author

[2015-11-20 23:43] joshmouch commented on #585
@rustd Did this make it into RC1?  If not then I need to look elsewhere for authentication.

[2015-11-21 01:47] slaneyrw commented on #585
This missed RC1, is it going to be targeted for RC2 ?

[2015-11-21 20:08] msmaldi opened #644 "Why Identity use string ID instead Guid ID?"
Why Identity use string ID instead Guid ID?

[2015-11-22 13:35] msmaldi commented on #606
Try use your code with `IdentityRole<int>` instead `ApplicationRole`
[code]

[2015-11-22 13:37] tugberkugurlu opened #645 "UserManager.UpdateNormalizedEmailAsync not to call IUserStore.SetNormalizedEmailAsync when user doesn't have an e-mail"
Not sure about the disadvantages but it seems to me that [`UserManager.UpdateNormalizedEmailAsync`](https://github.com/aspnet/Identity/blob/0249c6181c077db4ecbff7cf70f0768f3408168a/src/Microsoft.AspNet.Identity/UserManager.cs#L1247) should not call [`IUserStore.SetNormalizedEmailAsync`](https://github.com/aspnet/Identity/blob/0249c6181c077db4ecbff7cf70f0768f3408168a/src/Microsoft.AspNet.Identity/U

[2015-11-22 15:56] rhegner opened #646 "Add UserLoggedIn hook to SignInManager"
I'm writing my custom SignInManager which is derived from `Microsoft.AspNet.Identity.SignInManager`. Right now I'm looking for a way to perform some action whenever the user has successfully logged in, regardless of the method he used (password, external, with/without two factor). That action could for example be setting a `LastLogin` field in my `ApplicationUser`.

I could override `SignInAsync`

[2015-11-23 14:50] joshmouch commented on #585
@slaneyrw @divega What do you think the chances are this will make into RC2?  And when in December to you approximate RC2 being available?  I was kind of relying on this being available in RC1, and now I'm scrambling on what to do about it not being available.  Worse case I'll have to download the code and make the changes myself, but that's adding work to an already accelerated project.

[2015-11-23 17:09] hamuk opened #647 "Installing packages in Class Library project"
Hi

I'm trying to create a Class Library project to contain my identity models so I can share them throughout my solution. However whenever I install the Microsoft.AspNet.Identity.EntityFramework package it installs all the dependencies then fails for some reason and rolls back.

How can I go about sharing my identity models across my solution?

Cheers
![image](https://cloud.githubusercontent.com/

[2015-11-23 20:12] divega commented on #585
@joshmouch, @slaneyrw and others, the reason we had this tagged as a discussion and assigned to me was that I was planning to do a write up detailing the team's thinking on the generic arguments. Unfortunately I was busy and the write up missing the RC1 deadline.

In the interest of clarifying this and setting realistic expectations, I am just going to try to summarize the situation quickly:

Afte

[2015-11-23 20:54] joshmouch commented on #585
I think you nailed it with "we don't understand the whole set of scenarios".
You've essentially hard-coded multiple table schemas with the way things are.
Isn't it enough to know that somebody may want to add a column to IdentityUserRole<TKey>, whatever their reasons?
I'll try to come up with some more concrete scenarios...

[2015-11-23 21:31] joshmouch commented on #585
Here's one broken scenario: I override UserManager in order to add logic so that users can't re-use passwords they've previously used.  I use an Int32 as the TKey.
In this class, I call UserManager.FindByIdAsync, which is hard coded to use a string now, rather than TKey.

[2015-11-23 21:34] HaoK commented on #585
Keys are always string at the UserManager level in Identity 3.  The store is free to convert the string into whatever type it wants for storage but those key generics are definitely gone in the UserManager APIs

[2015-11-23 23:02] rustd commented on #647
https://github.com/aspnet/Identity/issues/592 You need to use Identity in DNX Console projects.

[2015-11-23 23:02] #647 closed

[2015-11-24 02:58] madmunsterdaddy commented on #642
I'm also having troubles getting a custom PasswordHasher. This seemed much easier in Identity 2.

[2015-11-24 09:52] ahmad-moussawi commented on #642
I've ended up to extend the UserManagerClass and passing the custom PasswordHasher in the constructor,
Now the constructor takes much params then before
Here's my class code (Its working now, but may there is a better way to achieve this)

[code]

[2015-11-24 10:36] miroslavsiska commented on #611
Solved - it is possible with current implementation.

[2015-11-24 15:10] madmunsterdaddy commented on #642
Yeah, I also tried that route but found it ugly. I wish we could get some official guidance here on the right way to do this.

[2015-11-25 02:47] madmunsterdaddy opened #650 "Add CreatedDate, LastLoginDate, etc... to IdentityUser"
These were part of former Membership Provider. Would be nice to have this in the default implementation again as it seems like a common requirement? :)

[2015-11-26 04:34] slaneyrw commented on #585
@divega In both this issue and #567 you have been given concrete examples of where changing the 3 hardcoded aspects ( Claims, Roles and Logins ).  In our existing application that using v2 we have extended both Claims and Logins

Claims:  Added Issuer to we can track ( and make decisions on ) claims that originate of 3rd party identity systems, like Google, Facebook or our own OAuth 2 server.

Log

[2015-11-26 13:10] slaneyrw commented on #585
Tests are completed.  There is a now a full test suite in the Microsoft.AspNet.Identity.EntityFramework.InMemory.Test project that uses each extensibility point.  I have also included some extra tests to prove that the stores are using the extra information, not just round tripping the information

[2015-11-26 14:17] MaximRouiller commented on #604
Is there an actual link? Finding the commit hash for this can be hard. Which repo at least?

[2015-11-27 09:50] prasannavl opened #651 "Revisit identity factoring and react to Auth 2.0"
The SignInManager currently is too coupled to cookies. It should ideally be able to switch methods for persistence. Currently, there's no way to use the `SignInManager` and enable a simple token style authentication using either the standard `Bearer` tokens, or a custom headers which are required for pure API services.

Either that, or the `SignInManager` should be moved into a namespace that emph

[2015-11-27 10:51] alexsandro-xpt commented on #651
LOL, it's fun.... at my knowledge, it's not make any sense... :full_moon_with_face:

[2015-11-27 11:15] SychevIgor opened #652 "Pass in DbContextOptions to *.IdentityDbContext for all version of IdentityDbContext <>"
We need to configure dbcontext as it mentioned here: https://github.com/aspnet/EntityFramework/wiki/Configuring-a-DbContext

It's cool that we make it possible to pass DbContextOptions via constructor for this class:

[code]
https://github.com/aspnet/Identity/issues/570
https://github.com/aspnet/Identity/issues/418

But for 2 others we still can't do it without modifications of our context:
[code]

[2015-11-27 11:15] tstar opened #653 "Make "store" option null supported in UserManager and RoleManager"
My code does not need UserStore or RoleStore, but I need it create, because my custom UserManager and RoleManager need it in constructor. I think, that "store" option can be null supported.

In extreme cases it can be implemented as follows:
[code]
 And change UserManager and RoleManager in constructor:
[code]
on
[code]

[2015-11-27 11:16] SetTrend opened #654 "UserManager/OWIN: Odd implementation"
To it looks rather odd and hard to survey that the UserManager class, created by the Web API 2.2 template, uses a factory method to create an object instead of using a constructor for that purpose (which is the intrinsic objective of an constructor).

Using the factory method is creating an unnecessary (as I see it) dependency: OWIN must provide a dedicated function to create a UserManager object,

[2015-11-27 11:23] SychevIgor commented on #652
Looks like somebody already propose this changes https://github.com/aspnet/Identity/pull/643 and I hope that team will get it to a project.

[2015-11-27 15:33] davidfowl commented on #654
This repository doesn't have the Katana/OWIN implementation so not sure if this feedback is relevant to the new API surface.

[2015-11-27 15:35] davidfowl opened #655 "Make dependency in IHttpContextAccessor optional"
React to https://github.com/aspnet/Hosting/commit/7c8b37bcc726895d12724ba2d7f657c8400c6c4d

[2015-11-27 15:59] SetTrend opened #656 "Callbacks in CreatePerOwinContext() never called - what's wrong?"
In Startup.cs I am using Lambdas to create an instance of my `UserManager` class:

    app.CreatePerOwinContext(() => new IdentityContext("AuthDatabase"));
    app.CreatePerOwinContext((IdentityFactoryOptions<UserManager> options, IOwinContext owin) => new UserManager(new UserStore<User, Role, Guid, UserLogin, UserRole, UserClaim>(owin.Get<IdentityContext>()), options.DataProtectionProvider));
<br

[2015-11-27 16:41] quasilatent opened #657 "IdentityDbContext.Database.CurrentTransaction is null when context is instantiated with existing connection"
IdentityDbContext throws
*BeginExecuteReader requires the command to have a transaction when the connection assigned to the command is in a pending local transaction.  The Transaction property of the command has not been initialized.*
it was instantiated with existing connection with transaction when in my case ValidateUserName() is called.

lib version 2.2.1

Should be that way and I supposed to

[2015-11-27 18:56] divega commented on #657
Yes. If the transaction is also initiated externally, you need to call `UseTransaction(transaction)` to tell the EF about it. Feel free to reopen if that doesn't work.

[2015-11-27 18:56] #657 closed

[2015-11-27 18:57] divega commented on #655
What is the recommended action? Add it to DI ourselves or stop depending on it?

[2015-11-27 21:16] SetTrend commented on #654
Please forgive me if I mistakenly have posted to the wrong group.

I believed because my feedback mainly targets the `UserManager` class my issue belongs to this group.

The Katana group @ Codeplex seems to have deceased, by the way. Reponses there are fairly sparse.

[2015-11-27 23:33] brockallen commented on #655
+1

[2015-11-28 00:16] davidfowl commented on #655
Use it if it exists and all cancellation token overloads with default values. The functionality lost isn't that critical

[2015-11-28 02:56] bprentice commented on #596
I am also caught up here in looking at implementing a custom UserManager in order to extend
`public virtual Task<TUser> FindByIdAsync(int companyCode, string userId) {...}`
and
`public virtual Task<TUser> FindByNameAsync(int companyCode, string userName) {...}`
(Reason for this is to enable me to manage a custom multitenant implementation).
But I am also constantly running into issues with the pri

[2015-11-28 04:12] divega commented on #655
OK, thanks.

[2015-11-29 23:22] alexjusti opened #658 "Is it possible to remove password complexity checks?"
I have written my own password complexity check (it differs from that of the Identity UserManager), and I'd like to implement my check while also replacing the default check.  Is there a way to do that without rewriting the entire CreateAsync method in the UserManager?

[2015-11-30 11:56] ghrapan commented on #416
I have created a direct port of Identity.EntityFramework namespace (RC1) to EF6:

https://github.com/EntrypointSoft/AspNet.Identity.EntityFramework6

Would somebody be interested to incorporate it?

[2015-11-30 13:41] adrianhara opened #659 "Get user claims immediately after signin"
I customized the out-of-the-box `AccountController` so that I add a custom Claim before calling `userManager.CreateAsync()`, both when registering

* with a local account (email/password), in the `Register()` method of the controller
* with an external provider (google/facebook), in the `ExternalLoginConfirmation()` of the controller

Now what I'd like to do is, immediately after the user logs in,

[2015-11-30 23:07] rustd commented on #659
You need to refresh the CurrentPrincipal after adding Claims.

[2015-11-30 23:09] rustd commented on #658
@HaoK how can we do this? Can we do it by replacing this service in DI?

[2015-11-30 23:11] rustd commented on #653
How are you storing the User and Roles information? The stores are needed to persist data in a persistent store.

[2015-11-30 23:16] rustd commented on #651
So far Identity is based on cookies only. We can consider this in a future release.

[2015-11-30 23:17] rustd commented on #650
What other properties were you looking for?

[2015-11-30 23:20] tstar commented on #653
I'm all realized in the UserStore or RoleStore.

[2015-11-30 23:20] rustd commented on #646
Would #650 meet your requirements?

[2015-11-30 23:21] rustd commented on #645
@HaoK what do you think?

[2015-11-30 23:23] rustd commented on #644
String is supported in more databases as a column type.

[2015-11-30 23:23] #644 closed

[2015-11-30 23:24] rustd commented on #642
@HaoK do you have any recommendations?

[2015-11-30 23:25] rustd commented on #633
@HaoK maybe we have a bug. Can you please look into it?

[2015-12-01 00:51] rustd commented on #654
This is related to Identity 2.x. Please open an issue at https://aspnetidentity.codeplex.com/

[2015-12-01 00:51] #654 closed

[2015-12-01 00:52] rustd commented on #656
This is related to Identity 2.x. Please open an issue at https://aspnetidentity.codeplex.com/

[2015-12-01 00:52] #656 closed

[2015-12-01 00:53] divega commented on #416
@ghrapan Thanks for the heads up. Have you considered a strategy to have automated test for this provider? Is there anything we can do, .e.g. refactoring our tests to enable reuse?

@cherrydev since you asked the same question first, are you still interested in contributing this? Did you ever get to implement automated tests for your provider?

[2015-12-01 01:09] singlewind commented on #633
I didn't observe the issue again after upgrade to RC1. I believe this may be an issue of EF instead of Identity. I will keep an eye on it.

[2015-12-01 01:10] cherrydev commented on #416
@divega It loos like what @ghrapan has is probably a bit further ahead than what I have, though what I have seems to work for my use cases so far.  I think my private version uses a much earlier beta of AspNet.Identity.EntityFramework as a starting point and assuming that he's started with something much more recent, his implementation is probably more robust than mine is.
My sticking point for co

[2015-12-01 01:12] cherrydev commented on #416
@divega Feel free to e-mail me at this username at gmail if you want to discuss it.

[2015-12-01 01:25] divega commented on #416
@cherrydev Personally I am not sure that PowerShell commands and a DNX-like command line interface are full replacements for each other. And sorry I didn't come back to you on that thread but the truth is that many things are being discussed about the command line tools, e.g. https://github.com/aspnet/EntityFramework/issues/3925.

What about the automated test part?

[2015-12-01 01:30] cherrydev commented on #416
No, I have not specifically write automated tests for the EF provider for the Identity framework.  I have, however, ported over a portion of the EF7 self-test utilities that automate the creation and destruction of databases for the purposes of tests.  That might be a prerequisite to writing effective and efficient tests for a EF6 identity provider.

[2015-12-01 01:36] madmunsterdaddy commented on #650
Just some of those that would be common. CreatedDateTime, LastLoginDateTime, LastActivityDateTime and have signinmanager/usermanager deal with them. Like I said, seems like a pretty common scenario that would be nice to have supported OOTB.

[2015-12-01 05:06] adrianhara commented on #659
Not sure I understand what you mean. I add the Claims when the user registers and they get saved to the DB. Later (meaning maybe much later, e.g. days) the user logs in: at this point I don't have the claims to add, they are already saved in the DB, I just have the user credentials which I use to call the `SignInAsync()` method.

What I was wondering is if the framework should populate the Claims

[2015-12-02 03:48] rhegner commented on #646
No because I also need to perform some project specific actions after login.

[2015-12-02 11:10] alexsandro-xpt commented on #651
There a substitute for `Identity` to work with `Bearer` tokens?

[2015-12-03 15:09] brockallen commented on #651
Sorry Pranav, but this concept makes no sense. Cookies authenticate users in a browser and are unrelated to ASP.NET Identity. An identity management library (such as ASP.NET Identity) is what stores and validates users credentials. It's really independent of the consuming application. These two "things" are separate because you don't have to use them together. Conflating cookie authentication and

[2015-12-03 21:58] HaoK commented on #642
Adding it as scoped should work fine.  Try putting it before the `AddIdentity` call and see if that makes a difference.

[2015-12-03 22:00] madmunsterdaddy commented on #642
Thanks. it works fine after addidentity, I just didn't know if that was the right way to do it. i.e. If you guys wrote documentation on "How do implement a custom password hasher" is that how you'd say to do it? ;)

[2015-12-03 22:01] HaoK commented on #642
Yes, use DI is the standard way to replace services.

[2015-12-03 22:01] #642 closed

[2015-12-03 22:04] HaoK commented on #658
Replace the IPasswordValidator or just turn it off via

[code]

[2015-12-03 22:04] #658 closed

[2015-12-03 22:16] HaoK commented on #645
Well what if they are nulling out the email, we also need to null it out, I think we need to do this always.

[2015-12-03 22:36] HaoK commented on #638
267d0ac20671ec80ae0d45c1988f1347a2dff0b9

[2015-12-03 22:36] #638 closed

[2015-12-03 22:37] HaoK commented on #638
Fixed this specific login provider bug.  Updating the samples entirely will be done later

[2015-12-03 22:38] #633 closed

[2015-12-04 21:23] #645 closed

[2015-12-05 03:52] rustd commented on #659
@HaoK ?

[2015-12-06 15:13] AdnanCukur opened #662 "What happened to the PasswordValidator from UserManager in 3.0.0 ?"
Has it been completely removed ? What other way can I change my password requirements in beta5

[2015-12-06 17:29] AdnanCukur commented on #662
This https://github.com/aspnet/Identity/issues/658#issuecomment-161799388 helped me solve it

[2015-12-06 17:29] #662 closed

[2015-12-06 18:14] brockallen opened #663 "GetUserId extension method doesn't honor IdentityOptions.ClaimsIdentity.UserIdClaimType"
Same for GetUserName. They're both hard coded to use the legacy SOAP/WS-* `ClaimTypes` enum.

[2015-12-07 15:04] steve-warwick opened #665 "'AADSTS65005: The application needs access to a service that your organization test has not subscribed to."
First off, forgive me if this not the correct group for this issue. I've already posted this to the Azure AD forum and I have a support ticket pending in the Azure portal for someone to help look into this issue. In the meantime I thought it may be worth posting this here since it could be a bug in the Azure identity system.

I took the ToDoListItemService Azure AD sample posted to GitHub and port

[2015-12-07 17:18] steve-warwick commented on #665
It turns out this issue was due to not having client Id of the WebApp configured in the WebApi's "knowClientApplications" array property in the manifest file. This needs information needs to be documented in the other multi-tenant Azure AD samples

[2015-12-07 17:18] #665 closed

[2015-12-07 20:01] natemcmaster opened #666 "Make SQL Server tests configurable"
Two scenarios:

1. our CI agents that use LocalDB and overwhelm its capability => test failures. LocalDB locks due to slow file I/O on azure VMs and the number of create/delete db operations in universe testing.
2. x-plat. LocalDB does not exist on Windows.

Possible solution: use what EF does:
See [SqlConnectionStringBuilderExtensions.cs](https://github.com/aspnet/EntityFramework/blob/dev/test/En

[2015-12-07 22:54] divega commented on #666
@HaoK after talking to @natemcmaster, we should try the solution that increases the timeout first. If that is not enough, then we can move from LocalDB to SQLExpress (we are not 100% confident that doing so helped us much on EF).

[2015-12-07 23:07] rustd commented on #663
Add this to the announcements repo.

[2015-12-07 23:09] rustd commented on #653
This is not something we plan to support. Managers need a store for persisting Identity information.

[2015-12-07 23:09] #653 closed

[2015-12-07 23:28] brockallen commented on #663
I'm guessing you're not looking for a fix, so might I suggest adding these as extension methods to the VS template project and not into the core identity framework? In many projects the display name should not be the same as the username the user enters to login.

[2015-12-07 23:38] rustd commented on #630
Delete this and in the templates add User.IsAuthenticated()

This is a breaking change so please post it in the Announcements repo.

[2015-12-07 23:46] rustd commented on #659
Can you please post a sample which reproes this? esp on how are you adding claims, signing in the user and getting the claims for the user.

[2015-12-08 05:51] leastprivilege commented on #663
really? I always say "good morning MICROSOFT/PRANAV" when I meet him him the hallway.

[2015-12-08 14:02] MaximRouiller commented on #663
I'll have to greet him that way at the next Summit. ;-)

[2015-12-08 17:35] wenbinke opened #668 "Identity Authentication cookie too long?"
The authentication cookie is too long. When I use one domain for both front-end and back-end.
In front-end, some third-party service creates cookies(maybe also long) under the sub domain(.exmple.com). Now the authentication function doesn't work anymore and it always redirects to login page. Only when I remove some cookies and it starts to work again.

I think it is better to reduce the size of th

[2015-12-08 20:28] Derrick- commented on #659
Here's an example that worked for me.

I'm using the following in the controllers OnActionExecuting override. Request.IsAuthenticated is false before this, and true after.
This excerpt from that function logs in the user after querying the user table for a unique key:

                            var authuser = UserManager.Users.SingleOrDefault(m => m.PersonNo == personno);

[2015-12-09 00:25] HaoK commented on #666
Increased timeout to 30s to match EF tests for now: 7ae091d2a4f3624229fd6c8eddde0865abddf77b

[2015-12-09 00:25] #666 closed

[2015-12-09 01:34] HaoK opened #670 "XPlat tests: EntityFramework Store Tests need replacement for localdb"
Currently Identity.EntityFramework provider tests are skipped for SqlServer since there's no LocalDb on xplat.

[2015-12-09 02:24] divega commented on #670
The basic plan here could be to refactor the tests to take the connection string from configuration and then point to a network instance of SQL Server. We have taken this approach for EF tests.

[2015-12-09 02:25] divega commented on #670
Another possibility is to start testing with a different database provider, e.g. PostgreSQL but that seems a bit more far out.

[2015-12-09 05:20] HaoK commented on #663
We are actually going to nuke this extension since it was only important in 2.0 because all the user manager APIs took user id, now that they take the user itself, its no longer needed

[2015-12-09 05:28] brockallen commented on #663
yay. the less people are forced to use certain claims types, the better. thx.

[2015-12-09 05:50] HaoK commented on #625
I'll remove the doc comment, basically in 3.0 the auth stack has changed the contract to be around creating principals now, unlike in 2.0 which was about creating ClaimsIdentities.  You are free to set whatever authentication type you want in any of the identities your principle creates, we do not look at the authentication type for anything anymore, as authentication handlers are now responsible

[2015-12-09 05:50] #625 closed

[2015-12-09 06:34] HaoK commented on #663
Gone 1c26e8f5fa1b36febaca1f9a63b2a2f65fb11727

[2015-12-09 06:53] HaoK commented on #663
Looks like we need to provide alternate sugar for the templates in some from before removing these

[2015-12-09 08:00] HaoK opened #673 "XPlat: Enable in memory tests for non SqlProviders"
Shared code currently means the tests are globally skipped, would be best to skip only on EF. Alternatively this could be moot if we fix https://github.com/aspnet/Identity/issues/670.

[2015-12-09 08:04] dotnetjunkie opened #674 "SignInManager constructor incorrectly checks contextAccessor.HttpContext"
At [line 44](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNet.Identity/SignInManager.cs#L44), the `SignInManager`'s constructor verifies the `contextAccessor` input argument for null. This is correct, however, it incorrectly checks whether the `HttpContext` returns a not-null value:

[code]

This behavior of the `SignInManager` is incorrect. The `IHttpContextAccessor` exists to be

[2015-12-09 08:04] davidfowl commented on #674
+1

[2015-12-09 08:25] divega commented on #674
We should make sure the check goes away with the fix for #655 which will make `IHttpContextAccessor` optional. Assigning to RC2.

cc @HaoK @rustd @blowdart

[2015-12-09 09:11] HaoK commented on #673
a66f50c1ba2dec01b0ca001dc22767d77ece29f2

[2015-12-09 09:11] #673 closed

[2015-12-10 07:39] rustd opened #675 "ASP.Net Identity: IdentityResult: Add additional FlagEnum field containing a list of error types"
Feedback on ASP.NET UserVoice https://aspnet.uservoice.com/forums/41199-general-asp-net/suggestions/7832709-asp-net-identity-identityresult-add-additional-f#/history?filter=admin

For now we have only one "Errors" field with list of stringified errors. Sometimes we have to react on particular errors, for example, don't provide information that user name already in use and in this case we have seve

[2015-12-11 04:30] yuezhongxin opened #676 "HttpContext.Authentication.SignInAsync not working"
This is my code:

[code]

[code]

The problem is that the loop executes `/Account/Login` code.

"Microsoft.AspNet.Authentication.Cookies": "1.0.0-rc1-final"
"Microsoft.AspNet.Identity": "3.0.0-rc1-final"

[2015-12-11 14:13] brockallen commented on #676
When you create your `ClaimsIdentity` you need to pass the `authenticationType` ctor param, otherwise your user's `IsAuthenticated` will still be `false`.

[2015-12-11 16:06] ericgreenmix opened #677 "UserManager - UpdateAsync InvalidOperationException"
When calling UpdateAsync on the UserManager the following error occurs:

```InvalidOperationException: The instance of entity type MyUser cannot be tracked because another instance of this type with the same key is already being tracked. For new entities consider using an IIdentityGenerator to generate unique key values.```

UserManager/Store are being registered as scoped and UpdateAsync is the o

[2015-12-11 21:00] dougbu opened #678 "Reduce contention for `model` database between tests"
Errors on the CI machines indicate multiple tests are competing for the same resources. Though we initially thought the issue was reuse of connection strings between test classes, the problematic database is actually `model`. Most likely fix would be to use an xUnit test fixture to create and delete databases and to allow individual tests to run in any order without breaking initial state assumpti

[2015-12-11 21:00] dougbu commented on #678
/cc @divega new issue as we discussed offline. Note the underlying problem is different than I'd thought.

[2015-12-11 22:00] divega commented on #678
@natemcmaster will take a look today.

[2015-12-12 02:30] yuezhongxin commented on #676
@brockallen About `authenticationType ` ctor param, I should write what values? In `CookieAuthenticationOptions` type, I did not find `AuthenticationType` property:

![qq20151212-0 2x](https://cloud.githubusercontent.com/assets/6800671/11759664/4199849e-a0bb-11e5-9a9c-9ebed20d478b.png)

[2015-12-12 14:12] brockallen commented on #676
It's means to indicate how the user logged in. So "password" for a password based login, "2fa" for two-factor, etc.

[2015-12-12 18:47] tessSnap opened #679 "SqlServer Custom Identity class names"
I am using a "Database first" approach   with "Users", "Roles"  as my Identity tables .I am also using EF 7 MVC 6  with Web API  . In my DbContext class I map  the default AspNetUser class to my Custom  table "Users"  using modelBuilder.Entity<IdentityUser>().ToTable("Users");
 But I get this error  "Cannot use table 'Users' in schema '' for entity 'ApplicationUser' since it is being used for anot

[2015-12-12 22:01] lasrol opened #680 "Usermanager.ResetPasswordAsync not working"
I recently posted a question on stackoverflow, adding it here as well. Not sure if its a bug or if it is something i have done wrong.

Basicly when i call Usermanager.ResetpasswordAsync i get success, but when i try to login it fails.
Also it seem to be something wrong with the Password validation, i had to turn off all the

``` IdentityOptions.Password.Require* ```

Because it complained about no

[2015-12-13 02:15] dougbu commented on #678
This happened again with two different tests:
[code]
and
[code]

[2015-12-13 03:32] yuezhongxin commented on #676
@brockallen Sorry, I still can not understand what you mean, can you help me write an example code?

[2015-12-13 14:18] brockallen commented on #676
`var identity = new ClaimsIdentity();`

[2015-12-13 15:16] tessSnap commented on #679
Found the solution . The error was a result of mapping the ApplicationUser class to entity tyoe Users as well as having a separate Users entity . After deleting the Users entity everything now works fine .

[2015-12-13 15:16] #679 closed

[2015-12-14 23:08] rustd commented on #677
Can you please post the code that reproes this?

[2015-12-14 23:10] rustd commented on #676
@yuezhongxin please see the comment above and update your code.

[2015-12-14 23:10] #676 closed

[2015-12-14 23:13] rustd commented on #675
This is done in v3.

[2015-12-14 23:13] #675 closed

[2015-12-14 23:16] rustd commented on #668
What browser are you using and what is the size of the other cookies? How many claims are in your Identity? What is the size of the Identity Authentication cookie for your case?

[2015-12-15 01:11] yuezhongxin commented on #676
@brockallen @rustd This is the modified code:

[code]

[code]

But sometimes does not work:

![untitled](https://cloud.githubusercontent.com/assets/6800671/11799076/ca6833b8-a30b-11e5-9bd0-5ad621a9261d.gif)

[2015-12-15 23:15] #678 closed

[2015-12-15 23:40] HaoK commented on #680
From the stack overflow post it looks like you are mixing your own cookie options with identity.  In RC1 the application cookie options are actually part of IdentityOptions you should be setting them via: `identityOptions.Cookies.ApplicationCookie`

[2015-12-15 23:52] divega commented on #678
@moozzyk @Tratcher heads up that with this fixed, Identity tests more stable on CI. Let us know if that isn't the case.

[2015-12-16 00:33] moozzyk commented on #678
@divega @natemcmaster :clap:

[2015-12-16 14:37] lasrol commented on #680
I get the stackoverflow post was a bit confusing, i did try several things to make it work. I have reproduced the issue in this repo https://github.com/lasrol/EmptyDB/

[2015-12-16 16:14] mdmoura commented on #581
Any change this to be available on RC2?

[2015-12-16 20:36] HaoK commented on #680
So lets break this down into the exact issues.

1. You are trying to reset the password and then log in with the new password?  Can you try it explicitly via the user manager APIs to see if those are doing the right things.  There are many reasons that could cause the app cookie to not be valid which would look like login failed.

2. Same thing with the password validator, there are many things th

[2015-12-16 20:45] HaoK commented on #659
Normally the ClaimsPrincipal is only modified with the result of sign in for the next request when it returns with the Cookie.  If you want it to happen immediately (which is a bit weird), then you need to do something like what you are doing now, where you modify the Principal on the context yourself.

[2015-12-16 20:45] #659 closed

[2015-12-16 21:28] lasrol commented on #680
I am sorry, it was a big mistake on my part and i cannot belive i didn't see it! I was not passing in the correct variable to ResetPassword API. Sorry to take up your time.

[2015-12-16 21:28] #680 closed

[2015-12-16 22:12] rustd commented on #677
Please reopen this bug once you have the repro.

[2015-12-16 22:12] #677 closed

[2015-12-16 22:13] rustd commented on #668
Please reopen this issue once you have more information.

[2015-12-16 22:13] #668 closed

[2015-12-16 23:57] HaoK opened #682 "Interop with 4.5 (doc/sample story)"
Need to clean up a few things still:
- Add initial EF6 migration
- Add code to do property updating of normalized columns as part of SaveChanges

[2015-12-16 23:59] HaoK commented on #651
FWIW these were split apart in 2.0

[2015-12-16 23:59] HaoK commented on #457
Tracking the samples work here https://github.com/aspnet/Identity/issues/682 for Rc2, remaining package/documentation can be done post RC2

[2015-12-17 00:44] divega commented on #655
@davidfowl the functionality lost may not be critical for `UserManager` and `RoleManager` but `HttpContext` is critical for most things in `SignInManager` (as #674 states we will stop trying to access `contextAccessor.HttpContext` in the constructor but we sill need it in 14 other places in the class). So,
- Should we `TryAdd()` the service on `AddIdentity()` or
- Should be split `AddIdentity()` i

[2015-12-17 16:45] jvelezc opened #683 "How to add column to AspNetRoleClaims I cant register IdentityRoleClaim via constructor to add more fields"
My main issue: I want to add a property to IdentityRoleClaim called description.
Why? So that when I build the front end I can display friendly text as to what the claim is all about.

My current work around: I basically extended the role and have to map it to my CustomIdentityRoleClaim. My dba's are complaining....
[code]
Before asp.net identity 2 I was able to pass a little bit more information

[2015-12-17 17:06] Sally-Xu opened #684 "UserManager.FindByXXX function returns with user.Roles.Count = 0"
When I use UserManager to find a user, the returned user.Roles is always empty. This was not the case before EF 7.  Not sure this is the bug in UserManger or EF 7 bug.

Testing code:
var user = await UserManager.FindByIdAsync(id);   // this user has roles
var roleCount = user.Roles.Count;  ----- this is always 0

I'm using
"Microsoft.AspNet.Identity.EntityFramework": "3.0.0-rc1-final",
"EntityFram

[2015-12-17 17:47] brockallen commented on #684
Does EF7 do lazy loading? Also, you're sort of going around the AspId programming model -- there are store interfaces for loading specific kinds of data.

[2015-12-17 17:50] MaximRouiller commented on #684
@brockallen https://github.com/aspnet/EntityFramework/wiki/Roadmap#high-priority-features

Nope. No lazy loading yet but it's in the roadmap.

[2015-12-17 17:52] brockallen commented on #684
So then that's my guess as to why @Sally-Xu is seeing this behavior. But still, you should use the designated APIs for loading the designated things from AspId.

[2015-12-17 18:10] Sally-Xu commented on #684
I found Eager loading with "Include" is already implemented in EF7. If UserStore.FindByXXX function use "include(u=>u.Roles) to get the roles back, this problem can be solved right now.

[2015-12-17 18:47] atrauzzi opened #685 "Unable to add "Microsoft.AspNet.Identity.Core" in a coreclr project"
I'm not sure if this is a tooling issue or something else, but I'm unable to add `Microsoft.AspNet.Identity.Core` to my project.  I'm running the latest Visual Studio.

It does give me a red squiggly line with the hover message:

[code]

[2015-12-17 18:52] MaximRouiller commented on #685
It looks like the package hasn't been updated since April 2015.

Another package named [`Microsoft.AspNet.Identity`](https://www.nuget.org/packages/Microsoft.AspNet.Identity/) seem to have taken off where .Core left off. As in, no < 3.X releases, all betas and following the ASP.NET 5 releases.

Can you try that package?

PS: Not currently in front of VS2015 or any working implementation thereof.

[2015-12-17 18:54] MaximRouiller commented on #685
Oh and `Microsoft.AspNet.Identity.Core` has never been DNX compatible, as in ever, but is still available through the NuGet gallery so that might lead to confusion.

[2015-12-17 18:54] atrauzzi commented on #685
That does restore successfully, but now `Microsoft.AspNet.Identity.IUser` doesn't exist.

[2015-12-17 18:59] MaximRouiller commented on #685
You are converting old code to the new identity model, right?

[2015-12-17 19:00] MaximRouiller commented on #685
And look at that... [no documentation](http://docs.asp.net/en/latest/migration/identity.html#stub-icon-migrating-from-asp-net-identity-2-x-to-3-x) :stuck_out_tongue:

//cc: @rustd

[2015-12-17 19:03] atrauzzi commented on #685
Ah, no, I'm writing new code in a new project.  But I'm not necessarily using Entity Framework.

[2015-12-17 19:06] MaximRouiller commented on #685
Care to share a bit of code for your use case? Maybe we can help.

[2015-12-17 19:18] atrauzzi commented on #685
This is gonna seem silly, but it's really just a bare class that I'm starting out with.  I'm going through making an ASP.NET 5 project from scratch to study it.

[code]

Nothing special at all in dependencies:

[code]

[2015-12-17 19:28] atrauzzi commented on #685
I should add, the problem here is that it can't find the `IUser` interface.  Nothing implementation specific.  It's just not available, despite having the package installed.

[2015-12-17 19:44] MaximRouiller commented on #685
From what I can see in the samples, they are using `IdentityUser` and not `IUser`.

https://github.com/aspnet/Identity/blob/3.0.0-rc1/src/Microsoft.AspNet.Identity.EntityFramework/IdentityUser.cs

[2015-12-17 19:46] atrauzzi commented on #685
Oh... Did they just eliminate the interface all together?  Is the generic parameter what it uses to infer the key type?

[2015-12-17 19:52] atrauzzi commented on #685
Maybe it's that all the keys are handled through the repository/store?

[2015-12-17 19:56] MaximRouiller commented on #685
Looks like it.

`IdentityUser<TKey>` is defined in that file at line 42. :)

And don't forget your towel.

[2015-12-17 19:57] atrauzzi commented on #685
Hah!  Brave new world! :)

[2015-12-17 19:57] #685 closed

[2015-12-17 20:11] brockallen commented on #684
@Sally-Xu just so you know, you're now bypassing the storage abstraction for this and not using the formally designed API for loading that data. If you're cool with that, then godspeed.

[2015-12-17 22:04] divega commented on #684
:+1: to @brockallen's comment. While you are free to execute your own queries against the EF model underlying the default Identity stores, the Identity APIs (I would say UserManager and RoleManager and not the stores) are the recommended way of interacting with Identity. These should give you the correct data and are independently of the store provider in use.

FWIW, the EF store providers for Ide

[2015-12-17 22:07] #684 closed

[2015-12-18 19:03] mdmoura commented on #683
Same problem here ... Where is the option:

    public class IdentityDbContext : IdentityDbContext<IdentityUser, IdentityRole, string, IdentityUserLogin, IdentityUserRole, IdentityUserClaim>

[2015-12-21 03:44] kinshines opened #688 "How to persist the login information after closing Broswer?"
I want to persist the login information as long as possible once the user login my website,so the user don't need to login again when they reopened their Broswer,just like the github.com,when I once login the github,it can persist my information for many days,So I don't need to login again every day.Are there any methods can implment this feature with Identity?

[2015-12-21 13:48] MaximRouiller commented on #688
Hi @kinshines, I think you'll get fast answer if you head out to www.stackoverflow.com for questions of this kind.

This repository to report possibles defects or missing feature. You might get an answer here, but it might take days or weeks (especially with the holidays).

[2015-12-21 22:07] jvelezc opened #689 "Claims are not loading even when I override FindByNameAsync"
Problem: I want to know a user his roles and his claims.
I try to use
   var currentUserName = HttpContext.User.GetUserName();
            var user = _userManager.FindByNameAsync(currentUserName).Result;
but because of lazy loading it does not load the related entities.

Then I went ahead and tried to load them explicitly but only the roles are populated.

It does not load claims associated with t

[2015-12-22 02:56] kinshines commented on #688
thank you @MaximRouiller ,I think it is exactly the missing feature for persisting login information in ASP.NET Identity,and it is not simply a question which can be answered in www.stackoverflow.com.

[2015-12-22 05:30] arashnorouzi opened #690 "RoleManager.FindByNameAsync does not include Users and Claims"
When I use RoleManagerto find a role, the returned role.Claims and role.Users is always empty.
I have checked Identity source code and in line 270 on  RoleStore.cs we have:
[code]
It seems Claims and Users are not included by default.
EF7 lazy loading is not implemented yet and I was wondering if Identity should load these explicitly.
To get it working for now I had to create my own RoleManager, r

[2015-12-22 09:14] Eneuman commented on #689
If I'm not misstaken, getting a claim should be as easy as this:

var email = User.FindFirst(“email”);

where "email" is the claim you want to get.

[2015-12-22 14:51] weitzhandler opened #691 "How do I retrieve password?"
Hi,

I'm in a scenario where I need to display the password to the user. How do I achieve that? I found no matching option on the `UserManager`.

[2015-12-22 15:54] jvelezc commented on #689
yes I agree that you can use that. Is there any reason why it did not load with my query ?this.Users.Include(roles=>roles.Roles).Include(y=>y.Claims).

[2015-12-22 16:32] brockallen commented on #691
You don't. If you can, then it'd not be very secure, would it?

[2015-12-22 16:39] MaximRouiller commented on #691
Please refer to the [Password Storage Cheat Sheet](https://www.owasp.org/index.php/Password_Storage_Cheat_Sheet).

Here's the quoted part you are interested in @weitzhandler :

Adaptive one-way functions compute a one-way (irreversible) transform

The rest is also very interesting to read if you are into this. I know @brockallen is :stuck_out_tongue:

[2015-12-22 16:47] MaximRouiller commented on #691
Basic principle is... assume somebody is going to download your whole database and have all the time in the world to hack those passwords.

If you are using clear text... you are basically insane.  If you are using encryption with a single key, they only need this to get everything (bad!). If you use hashing, they have to try every password one by one to get them (better). If you use hashing with

[2015-12-22 17:56] Eneuman commented on #689
In EF7 you have to user ThenInclude I think.. Try:
 ?this.Users.Include(roles=>roles.Roles).ThenInclude(y=>y.Claims).

[2015-12-22 17:58] Eneuman commented on #689
Start SQL Profiler and see what SQL is created.
I'm gonna give it a try in my end as well

[2015-12-22 22:30] capesean opened #692 "JWT tokens with ASP.NETv5"
I've written a website with v4 (OWIN) that uses JWTs by issuing & validating them with a custom authorization server provider (basically following http://bitoftech.net/2015/02/16/implement-oauth-json-web-tokens-authentication-in-asp-net-web-api-and-identity-2/).

I'm now trying to migrate to v5 and I'm not making much headway. I can get everything working on a project using cookies, but the steps

[2015-12-22 23:00] rustd commented on #692
Please see the following issues where this is discussed https://github.com/aspnet/Security/issues/83 and
https://github.com/aspnet/Security/issues/359

[2015-12-22 23:00] #692 closed

[2015-12-23 00:18] DaisyDave opened #693 "Email Address Validation Problems"
My email address conatains 2 '-' characters. It is correct according to the RFC but the default ASP.NET5 project with simple authentication tells me my email address can only contain letters an numbers.

[2015-12-23 08:34] weitzhandler commented on #691
In my scenario, the server doesn't hold very secure information and the customers are senior people most of them without computers or internet access, and they're accessing the system via phone authentication (the password consists of digits only).
One of the requirements of my customer is to provide a back-office that gives complete control over the users and their passwords, so the secretary tha

[2015-12-23 12:39] brockallen commented on #691
Why do you need to reveal the password? Is this so a back-office user can login as an end-user?

[2015-12-23 13:11] weitzhandler commented on #691
No, it's so that when the end user calls up the back office asking "hello what's my password" she can tell her the answer after verifying other identity details.
This is my customer's demand.

[2015-12-23 13:27] brockallen commented on #691
Well, that's a tough call how to really design it for that requirement and also have any sort of meaningful security.

To answer your original question, why not replace the password hasher with your own that does a Nop?

[2015-12-23 13:50] MaximRouiller commented on #691
Or just have the lady up front reset the password to anything she wants. Unsecure as hell... but hey. If there's nothing to protect.

[2015-12-23 14:02] brockallen commented on #691
Yes, especially if they're just 4-digit pins -- that's easily brute forceable. A pin on the web is just keeping honest people honest.

[2015-12-23 20:04] leastprivilege commented on #692
http://leastprivilege.com/2015/07/22/the-state-of-security-in-asp-net-5-and-mvc-6-oauth-2-0-openid-connect-and-identityserver/

[2015-12-23 23:01] jvelezc commented on #683
Please add this pull request !https://github.com/aspnet/Identity/pull/643

[2015-12-24 11:16] weitzhandler commented on #691
It's not that easy, those people want to KNOW the password THEY have previously chosen and can't remember it.

[2015-12-24 23:41] weitzhandler commented on #691
I didn't actually think it's going to be a real issue, but it's my customer's demand to let the backoffice RETRIEVE the users password without having to reset it.

Isn't there a way to un-hash the password?

[2015-12-25 03:08] brockallen commented on #691
No, and that's by design. If you want it reversible, then you want to encrypt it (but then you have another problem, which is key management).

[2015-12-25 11:35] halilkoca opened #694 "How do i list users and users roles?"
I want to list of users and users roles togetger. Which method i can use without userId ?

[2015-12-25 11:39] halilkoca commented on #694
Which method connect to ApplicationUserRole table ?

[2015-12-25 16:05] brockallen commented on #694
The RoleManager has APIs to manage and query roles.

[2015-12-26 10:06] jbomhold3 commented on #691
This is a BAD BAD BAD idea but @weitzhandler You could.... simply add a field to the database to store a copy of the password in however you want it to be. When its created/updated without changes to the identity model at all...  Or better yet explain to the customer that... While his/her company's data in this system does not need to be secured some reason. People often use the same password for

[2015-12-28 15:16] blowdart commented on #691
You can't. You won't ever be able to. We will not support this at all.

[2015-12-28 15:16] #691 closed

[2015-12-28 15:34] weitzhandler commented on #691
@blowdart
Thanks for the update.
I've notified my customer and we agreed there will be a single-click way for the back office to rest password for user.

[2015-12-30 17:45] mlynam opened #695 "SignInManager GetExternalLoginInfoAsync returns null"
I'm using Twitter authentication along with cookie authentication and i'm getting null when the application returns to my ExternalLoginCallback action and asks the SignInManager for the login info.  I've registered a callback in the twitter middleware for when the ticket is being created and I've confirmed that I've received an access token from twitter.  I've also watched the chatter on fiddler a

[2015-12-31 00:11] mlynam commented on #695
I kept investigating and did something that causes it to work.  When I add Identity to my service collection, I am configuring it as follows:

[code]

is this the practice I should be using when using cookie authentication, external authentication, and Identity?

[2015-12-31 10:06] SharePointRadi opened #696 "Microsoft.AspNet.Identity.Test as a nuget package"
Do you have plans to release the Microsoft.AspNet.Identity.Test project as a nuget package? Currently, if we are building a custom user store and want to reuse the UserManagerTestBase class (from the Shared folder), we have to clone, build, reference, etc.

It would be useful if it is reusable.

[2015-12-31 17:17] mlynam commented on #688
What @MaximRouiller is saying is that you are describing an extremely general behavior that the majority of frameworks implement, including aspnet. Have you heard of cookies?

[2015-12-31 17:20] blowdart commented on #688
It's not missing at all. The templates which include ASP.NET Identity include it.

If you are not using the templates then you should look at the [cookie middleware documentation](https://docs.asp.net/en/latest/security/authentication/cookie.html) where you can see an example that creates a persistent cookie

[code]

[2015-12-31 17:44] mlynam commented on #695
I've continued reviewing the src and found that when I add the Twitter authentication middleware, I can set the SignInScheme via the options callback to
[code]
Which is the default string used in the IdentityCookieOptions class for the external cookie authentication scheme.
This configuration works as well (I removed the options callback when adding Identity to my service collection. I'm still uns

[2016-01-02 02:04] cjpomer opened #697 "EF Migrations reset FK relationships on Identity* entities every migration"
[code]

and then
[code]

[2016-01-02 02:05] cjpomer commented on #697
This happens every single migration.

[2016-01-03 15:47] miroslavsiska opened #698 "UserManager - DI - Custom UserManager Instance"
I'm developing multitenant application. I use separate databases for each tenant. UserData are for each tenant in separate database.

I would like create admin account for each tenant in "custom" database. In MVC 5 was possible to instantiate UserManager base on connection string. But UserManager in mvc6 depends on HttpContext... This is problem if you need something similar like my scenario...

C

[2016-01-03 18:44] miroslavsiska opened #699 "UserStore constructor"
Interface IUserStore do not implement constructor, until you use other Identity primary key than string.

Example:

    public class TenantUser : IdentityUser<Guid>
    {
        public virtual ICollection<BookMark> BookMark { get; set; }
        public virtual ICollection<DirectoryTenantUser> DirectoryTenantUser { get; set; }
        public virtual ICollection<AddressTenantUser> AddressTenantUser

[2016-01-03 20:14] miroslavsiska commented on #698
Solved
http://stackoverflow.com/questions/34578462/mvc-6-vnext-usermanager-di-create-user-in-specific-database

[2016-01-03 20:14] #698 closed

[2016-01-03 20:15] miroslavsiska commented on #699
Solved!
http://stackoverflow.com/questions/34578462/mvc-6-vnext-usermanager-di-create-user-in-specific-database

[2016-01-03 20:15] #699 closed

[2016-01-04 08:23] huytnd opened #700 "Null values when calling CreatAdminUser function."
I follow the sample, and stuck at creating Identity Database step. When debugging, I found that 2 fields of IdentityDbContextOptions were null.
![null](https://cloud.githubusercontent.com/assets/2102905/12085809/9351540e-b2f6-11e5-8ee4-ce8c00a5afae.jpg).
If I don't comment these lines, the process will pass over, and won't call CreateAdminUser function.
[code]
I use these line of code to call Crea

[2016-01-04 16:46] candoumbe commented on #585
Nothing new on this ?

[2016-01-04 21:53] HaoK commented on #663
Going to remove all the identity claims principal extensions and add instance methods on SignInManager:

GetUserId/UserName/IsSignedIn...

Templates will need to be updated

[2016-01-05 07:56] XcoderTeam opened #702 "[Question] - Rename Identity"
Hi

Using rc1-final, when I add the Entity and modify the table name.
What is the proper way to config change the table name but I want the PK is Int rather than string.

[code]

performing
<code>
dnx ef database update
</code>
It generate this to the database, is this bug on Identity 3.0?
![image](https://cloud.githubusercontent.com/assets/1622986/12110190/8a291d8e-b3c4-11e5-9a1c-bcacdc5e4f41.png

[2016-01-06 18:25] aconstant commented on #307
I agree with ljwagerfield too
The intended design of the feature is to be unaware of why the token is invalid.
But it should be possible to know if a reset password token is invalid without actually trying to change the password.
ljwagerfield said he didn't want to copy / paste code for this, that looks possible.

[2016-01-06 18:39] larsfjerm commented on #503
Any updates on this? #495

[2016-01-07 07:42] prog-moh opened #704 "User Manager Add FindByPhoneNumber"
some times phone number used as identity of user it will be good enhancement to add method to
find user by Phone Number

[2016-01-07 08:42] nocommonsense opened #705 "Injecting UserManager into AllowAnonymous controller causes nested properties to be null"
Hey,

I'm raising this here following advice from the EF team. I'm having problems when Injecting UserManager into a razor view whereby nested relations of the ApplicationDbContext model are null, but only within an AllowAnonymous controller - I can confirm that controllers marked Authorize do pull them through. Is this expected behaviour? I'm using EF 7 with the SQL Server provider.

Thanks,

Ian

[2016-01-07 12:53] flagbug commented on #697
I'm seeing this behavior too. I wonder if that's the fault of EF 7, so maybe the bug should be raised there?

[2016-01-07 17:32] chrisjmccrum opened #706 "Allow Custom Roles to be visible from User Entity instead of Base IdentityRoles"
In my project I extended the attributes of both IdentityUser and IdentityRole to an entity called ApplicationUser and ApplicationRole.  As expected, when the database was created the additional custom columns were created for each entity, extending what I needed to define Users and Roles.  Unfortunately when I query ApplicationUser I don't receive ApplicationRole in return - instead it gives me a

[2016-01-07 22:23] HaoK commented on #674
167bb54c8d7aaafa12983164f8033cc25d0af39e

[2016-01-07 22:23] #674 closed

[2016-01-07 22:25] HaoK commented on #655
For now we just use an empty cancellation token if the accessor is not found

167bb54c8d7aaafa12983164f8033cc25d0af39e

[2016-01-07 22:25] #655 closed

[2016-01-07 22:26] jvelezc opened #707 "UserTore defined IdentityUser hard coded string but it sould be tkey"
Currently:
[code]
Proposal:
[code]
Why? Because if I define
[code]
I will subsequently not be able to use the userstore.

[2016-01-07 22:35] HaoK commented on #423
Nothing to do for this right now so unassigning

[2016-01-08 22:29] PinpointTownes commented on #503
No update from MSFT, but you can read these two blog posts about OpenIddict, a new easy-to-use OpenID Connect server for vNext that uses ASP.NET Identity 3 and AspNet.Security.OpenIdConnect.Server:

http://capesean.co.za/blog/asp-net-5-jwt-tokens/
http://overengineer.net/Using-OpenIddict-to-easily-add-token-authentication-to-your-.NET-web-apps/

[2016-01-11 12:45] tedd opened #708 "Expand tests to include multiple operations"
ASP.Net 5 RC1
Microsoft.AspNet.Identity.EntityFramework 3.0.0-rc1-final
Not sure where it loads "Microsoft.AspNet.Identity" from. DNX has some magic adding of /references, maybe there? Anyway not important.

Creating a migration script for adding multiple users. Very simple script that reads json-file and attempts to execute command multiple times.

* Adding multiple users (multiple calls to Creat

[2016-01-11 15:17] leastprivilege commented on #503
here's the official statement

http://leastprivilege.com/2016/01/11/announcing-identityserver-for-asp-net-5-and-net-core/

[2016-01-11 16:52] danroth27 commented on #503
@leastprivilege Nice!

[2016-01-11 18:51] MaximRouiller commented on #503
Congrats @leastprivilege for the announcement!

[2016-01-12 02:55] JGrzybowski opened #709 "RequireNonLetterOrDigit does not allow to use letters and digits"
I used ASP.NET 5 MVC6 Project Template with User Authentication, changed default password requirements to:

[code]

When I try to register with passwords having Upper, lower and digit the user manager fails to create an account because `Failed : PasswordRequiresNonLetterAndDigit` When I change `RequireNonLetterOrDigit ` to false problem disappears.

1.0.0-rc1-final

[2016-01-12 09:09] leak commented on #503
What I am really missing is a very simple solution to replace cookie authentication with bearer tokens.

The OpenIdict examples above are going in the right direction, sadly the first is broken at the moment and the second one is, even as the folder structure itself claims, "Overengineered" (Multi-project approach, dedicated authentication server).

What I am really looking for is a basic drop in

[2016-01-12 10:44] nrkarthick opened #710 "RC1 Update identity not working"
In beta7, i used EF 6.1.3 with oracle code first and in my startup class under Configure method I have `app.UseIdentity() ` and its worked well (code as follows)

     Claim[] claims = SampleUser.Create_Claims(); // get claims
     var identity = new ClaimsIdentity(claims,CookieAuthenticationDefaults.AuthenticationScheme);
     ClaimsPrincipal principal = new ClaimsPrincipal(identity);
     await

[2016-01-12 12:08] PinpointTownes commented on #503
@leak if you're still experiencing issues with the OpenIddict nightly builds, feel free to open a new ticket or ping me on JabbR (https://jabbr.net/#/rooms/AspNetvNext) :clap:

[2016-01-12 12:29] 717009629 commented on #676
大神我就是这个问题，你让我给你发邮件了 @yuezhongxin

[2016-01-12 12:49] larsfjerm commented on #503
@leak I got it working using the first article (http://capesean.co.za/blog/asp-net-5-jwt-tokens/).

[2016-01-12 12:50] Fosol commented on #710
You're using EF 6.1.3 and the new Identity 3 uses EF 7.  Presently you cannot use two different versions of EF by default.  You would most likely have to figure out a way to make them play nice.

[2016-01-12 13:04] yuezhongxin commented on #676
@717009629 这个测试代码写的有些问题，所以才会出现上面的问题。

[2016-01-12 13:16] MaximRouiller commented on #709
Do you have a sample password that fails?

[2016-01-12 13:18] JGrzybowski commented on #709
user0Pass

[2016-01-12 13:22] MaximRouiller commented on #709
Seems to be a bug.

Here's the corresponding line: https://github.com/aspnet/Identity/blob/3.0.0-rc1/src/Microsoft.AspNet.Identity/PasswordValidator.cs#L55

And relevant code:

    if (options.RequireNonLetterOrDigit && password.All(IsLetterOrDigit))
    {
        errors.Add(Describer.PasswordRequiresNonLetterAndDigit());
    }

Basically, if you only have digits and no special characters, it will

[2016-01-12 13:24] MaximRouiller commented on #709
That seems to be the bug. If a password have a digit, with `RequireNonLetterOrDigit`, it should be valid... yet if the password is all letters or digits... it fails.

[2016-01-12 13:26] MaximRouiller commented on #709
Maybe the name should have been `RequireNonLetter` since this is exactly what this is doing.

@rustd? What do you think?

[2016-01-12 14:08] leak commented on #503
Ok, after a bit of fiddling i got the example running. (No OpenIddict issue)

One question remains:

As far as i understand OpenIddict was created to get IdentityServer to play nice with ASP.Net 5, now that IdentityServer4 was announced it would be nice if you guys (@PinpointTownes, @leastprivilege) could ellaborate a bit what your future plans are.
Keep two seperate implementations? Merge? Make i

[2016-01-12 14:16] brockallen commented on #503
They are two different and unrelated OIDC implementations.

As for your original issue -- if all you want is a Web API from your JS, then use cookies with an anti-forgery token. Microsoft is providing samples and support for that.

[2016-01-12 14:40] leak commented on #503
True, my bad, got "OpenIdConnect.Server" mixed up. Still the question remains about the future and their particular goals.

[2016-01-12 14:58] PinpointTownes commented on #503
As mentioned by @brockallen, ASOS, OpenIddict and IdentityServer are different stacks (though OpenIddict is based on [ASOS](https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server)):
* ASOS is inspired from `OAuthAuthorizationServerMiddleware` and can be seen as an OIDC server framework offering you full flexibility, while IdSrv is rather a read-to-use server/turnkey solution (that

[2016-01-12 15:05] nrkarthick commented on #710
@Fosol , Thank u.. But here i have two questions
1. Will you help me to figure out this issue ?
2. When will EF 7 support Oracle ?

[2016-01-12 15:41] MaximRouiller commented on #710
@nrkarthick I think you are better going to https://github.com/aspnet/EntityFramework to ask that question. :smile:

[2016-01-12 15:47] Fosol commented on #710
Regrettably I don't have the time to go through all the details.  I am currently working on a project that uses Oracle.  As such I've had to do a lot of workarounds to handle the EF issues.

1) EF 6.1.3
2) Oracle.ManagedDataAccess 12.1.22
3) Oracle.ManagedDataAccess.EntityFramework 12.1.22
3) Custom implementation of Identity 3 using my own implementation of EF 6.1.3 and Oracle
4) Don't reference

[2016-01-12 16:13] smitpatel commented on #697
This is bug in EF7. See aspnet/entityframework#3751.
It has been fixed already and will be shipped in RC2.

[2016-01-12 17:54] ryanschuler opened #711 "SignInManager fails to log user in on Linux due to threading issue"
Using RC2 nightlies. Project uses Sqlite, EF7, Mono 4.0.5, and kestrel with nginx. The Linux box uses Ubuntu 14.04.3 which is on a fairly slow machine (Digital Ocean $5 droplet)

Also fails with the same exception using postgresql with Npgsql

Log in works just fine on my relatively fast Windows machine.

Fails on both
[code]
or
[code]
Log from server:
[code]

[2016-01-12 17:58] rustd commented on #709
@HaoK?

[2016-01-12 21:34] HaoK commented on #709
It's always been this way. it means there must be one non letter and non digit.

[2016-01-12 22:09] divega commented on #709
Ah, I think it is starting to make sense to me... So, if we could use parenthesis in names it would be called `RequireNon(LetterOrDigit)` :smile: But honestly, when I read it the first time I interpreted the same way as @JGrzybowski and @MaximRouiller apparently did, i.e.  `Require(NonLetter)OrDigit`.

Maybe we can come up with a name that is no ambiguous. Was `RequireNonAlphanumeric` ever conside

[2016-01-12 22:12] HaoK commented on #709
I forget the exact naming history. I think it was called that at some point. Also RequireNonLetterAndDigit I think too.

[2016-01-12 22:25] divega commented on #709
See the SO questions:

http://stackoverflow.com/questions/25865952/requirenonletterordigit-not-correctly-validated

(I think there is a bug in the question, e.g. the flag should be set to true instead of false)

http://stackoverflow.com/questions/24796454/how-to-change-password-validation-in-asp-net-mvc-identity-2/24819318#24819318

And this forum thread:

http://forums.asp.net/t/1998093.aspx?Erro

[2016-01-12 23:26] divega commented on #711
@mikary @HaoK I think this is very interesting. See exception at the bottom of the log:

[code]

@mikary recently added async guards in EF code that should throw when code is run that tries to start async operations concurrently on the same DbContext. It seems that this guard is triggering on a slow machine. I can see a few possible explanations:

1. The guard logic could contain a bug that cause

[2016-01-12 23:29] JGrzybowski commented on #709
Also, there should be a way to require nonletter character. I think it was possible in previous version of framework.

[2016-01-13 00:19] HaoK commented on #709
How about we go with RequireNonAlphanumeric and change the error text to be: "Passwords must have at least one non alphanumeric character."

[2016-01-13 00:22] #697 closed

[2016-01-13 00:23] HaoK commented on #708
Can you provide the code you are using to insert multiple users

[2016-01-13 00:28] HaoK commented on #690
Identity's default EF provider is no longer including anything, since identity provides APIs to directly access Role claims and role users via the RoleManager api.  You can certainly override the default implementation to include things like this if desired, but this is no longer behavior we are supporting by default...

@divega might be able to provide more guidance on the best way to approach th

[2016-01-13 00:30] HaoK commented on #689
@divega is this the proper way to include with EF 7?

[2016-01-13 00:30] #688 closed

[2016-01-13 00:34] HaoK commented on #695
You basically are bypassing the external cookie when you do this
[code]

The UseIdentity call is registering two cookie middlewares, one for the ApplicationCookie and one for the ExternalApplicationCookie.  These are set to different authentication schemes by default.  It should just work if you remove all of these explicit authentication scheme settings and rely on the default values...  In gener

[2016-01-13 00:34] #695 closed

[2016-01-13 00:36] HaoK commented on #696
Seems reasonable to consider in the future...backlog @divega @rustd ?

[2016-01-13 00:42] HaoK commented on #693
Can you include your AddIdentity configuration if any?  This is actually triggered by the username validation, which is just looking for the identityOptions.User.AllowedUserNameCharacters which contains '-' by default so it shouldn't be blocking this.

We'll update this error since its a bit outdated

[2016-01-13 00:52] HaoK commented on #646
As discussed with @rustd last week

[2016-01-13 00:55] HaoK commented on #630
Tracking via https://github.com/aspnet/Identity/issues/663

[2016-01-13 00:55] #630 closed

[2016-01-13 00:59] ryanschuler commented on #711
I am currently attempting to run the project with the CoreCLR instead of Mono but ran into a completely separate issue.

[code]

Found in AspNet.Security.OpenIdConnect.Server

internal static RSA GenerateKey(IRuntimeEnvironment environment) {
    if (string.Equals(environment.OperatingSystem, "Windows", StringComparison.OrdinalIgnoreCase)) {
#if DNXCORE50
        // On CoreCLR, use RSACng.

[2016-01-13 01:06] divega commented on #689
The name of the variables in the lambda look a bit strange but I think the Includes are fine. I would have written something like this:

[code]

Note however that this will only load the IndentityUserRole and not the actual Role instances. It won't load the RoleClaim instances either.

There are no navigation property on `IndentityUserRole` so there is no way to navigate to the actual `IdentityRol

[2016-01-13 01:12] divega commented on #689
Also for context on why ASP.NET Identity 3.0 won't load this additional information by default: In Identity 2.0 the EF provider used to contain additional code to load the whole graph of objects associated with a user in case it was needed by user code. This caused a big performance overhead so in ASP.NET Identity 3.0 we changed that to only load the related objects that are needed to resolve the

[2016-01-13 01:21] #689 closed

[2016-01-13 01:22] HaoK commented on #690
See the comments in a similar issue for more guidance: https://github.com/aspnet/Identity/issues/689#issuecomment-171119975

[2016-01-13 01:22] #690 closed

[2016-01-13 06:09] nrkarthick commented on #710
@Fosol , U r absolutely right.. I too worked it out already.. Only thing I cant figure out is that applicationUser and role in identity 3.0.. but the following url throw some light and i will test and come back here...
sharing link
http://stackoverflow.com/questions/29289731/example-of-using-asp-net-5-mvc-6-with-identity-and-ef-6

[2016-01-13 09:08] tedd commented on #708
I have deleted the code as I was rewriting it to work (ended up with manual inserts directly into the table). But I have one piece of code that still doesn't work. This is running on the vanilla ASP.Net Web project with Areas added.

I am using MSSQL as db storage: data source=10.0.0.60;initial catalog=TheDb;persist security info=True;user id=TheUser;password=ThePassword;MultipleActiveResultSets=T

[2016-01-13 09:20] tedd commented on #708
Changing it to this makes it work:
    if (!roleManager.RoleExistsAsync(role).Result)
        roleManager.CreateAsync(new IdentityRole(role)).Wait();

So it may be related to code not blocking on "async void" and continuing to do other stuff / dispose of the object?

[2016-01-13 14:23] MaximRouiller commented on #709
@HaoK sounds very good! :smile:

[2016-01-13 17:22] ryanschuler commented on #711
The AspNet.Security.OpenIdConnect.Server guys fixed their bug with the CoreCLR, however now that I can run it with CoreCLR I still get the same exception.  Here's the log now that I switched the project over to postgresql

[code]

[2016-01-13 21:41] DaisyDave commented on #693
I just created an ASP.NET v5 project using the ASP.NETv5 Web Application template with Individual User Accounts authentication. I made no code changes, just compiled and ran the project.

The only occurance of AddIdentity is in Startup.cs and looks like this:
`// Add Identity services to the services container.`
`services.AddIdentity<ApplicationUser, IdentityRole>()`                `.AddEntityFram

[2016-01-13 22:13] rustd commented on #707
Duplicate of https://github.com/aspnet/Identity/issues/585 which is tracking this.

[2016-01-13 22:13] #707 closed

[2016-01-13 22:16] rustd commented on #705
Do you have some sample code which we can look at?

[2016-01-13 22:18] rustd commented on #694
yup. Use the RoleManager

[2016-01-13 22:18] #694 closed

[2016-01-13 22:22] rustd commented on #683
Duplicate of #585

[2016-01-13 22:22] #683 closed

[2016-01-13 22:56] HaoK commented on #711
@mikary can you take a look?

[2016-01-13 23:00] HaoK commented on #708
Can you try removing the dictionary/values enumeration and directly calling the APIs to see if it still repos?  Also can you provide the full stack trace for the exception?

[2016-01-13 23:01] HaoK commented on #708
Actually looks like you are missing await in your call to execute.  Can you add it and see if that fixes the issue?

[code]

[2016-01-13 23:53] mikary commented on #711
The guard is effectively a top level reentry check that doesn't do any kind of synchronization. Having a race condition would imply some kind of concurrency on the same context which is exactly what this check is designed to detect.

If you can provide a stand-alone reproduction of the issue it would be very helpful, but there are a couple common mistakes that can result in this kind of error:
 -

[2016-01-14 19:27] HaoK commented on #610
Not going to make it in today

[2016-01-14 21:21] HaoK commented on #663
2dade94404d3198b19e6af9083b410287e11314f

[2016-01-14 21:21] #663 closed

[2016-01-14 21:48] HaoK commented on #709
84804fec20e8f301194474cc5d31fba359e8a090

[2016-01-14 21:48] #709 closed

[2016-01-14 23:27] HaoK commented on #700
I've updated the samples to match the latest templates, we no longer have an EnsureCreatedCall, EF migrations should be used to create the initial database now...

[2016-01-14 23:27] #700 closed

[2016-01-14 23:31] HaoK commented on #593
Won't get to this in RC2

[2016-01-15 07:40] divega commented on #696
Yes. We did this with the EF tests for provider writers and has been working well.

[2016-01-15 15:13] joshmouch opened #713 "Multi-tenant / delegated login page"
I have a multi-tenant environment.  When a user is not authenticated, I want to redirect the user to a login page specific to their client (e.g. /client/{blah}/Account/Login).

In Identity 2.0, I couldn't do this, so I just created a custom filter that inherited from AuthorizeAttribute and added it to the MVC global filters.  However, this doesn't seem to be working in Identity 3.0.  There's a lot

[2016-01-15 19:04] MaximRouiller commented on #709
:+1:

[2016-01-16 13:14] nocommonsense commented on #705
Hey @rustd,

HelpController.cs

[code]

UserImage.cs
[code]

IdentityModels.cs

[code]

_Layout.cshtml

[code]

I've stripped a lot of stuff out just so you can easily see what I'm trying to do.

Within _Layout.cshtml, if UserImage has a record for the logged in user and the `[AllowAnonymous]` attribute is attached to the HelpController, `user.ProfileImg` is null. However, if I change the attribut

[2016-01-16 13:27] SharePointRadi commented on #416
I have also created an EF6 library for Identity 3. Its quite important because EF7 is not that feature-complete.
You can take a look here:
https://github.com/OneBitSoftware/Microsoft.AspNet.Identity.EntityFramework6

All unit tests pass and I have included a sample MVC6 project so people can get started easily. I would love to put more work in and get it contributed.

[2016-01-16 13:50] SharePointRadi commented on #696
Further to this discussion, UserManager.cs has internal methods that are referenced from UserManagerTestBase.cs.

This means that we (provider writers?) could not really reuse UserManagerTestBase because it refers those internal methods. I had a similiar need and had to use reflection to refer to those internal methods.

https://github.com/OneBitSoftware/Microsoft.AspNet.Identity.EntityFramework6/

[2016-01-18 18:41] SharePointRadi commented on #76
Hey @MaximRouiller do you need a hand? I've built my own MongoDB provider and have most likely run into similiar issues/challenges. I'm also condidering a Document DB provider.

[2016-01-18 18:49] MaximRouiller commented on #76
I've looked at it and asked several people around and they all told me the same thing.

It's not a good idea as it won't be able to scale after a while. Perfect for small solutions but once you start to hit anything bigger, you will encounter performance issues and full table scan.

So at that point you'll need to migrate which won't be as easy. If you are on the cloud, there's already something o

[2016-01-18 18:54] SharePointRadi commented on #76
Table Storage doesn't make that much sense, but DocumentDB does :)

[2016-01-18 19:02] MaximRouiller commented on #76
Oh absolutely. :smile: I've just decided to not waste time on Table Storage.

[2016-01-18 19:05] alexsandro-xpt commented on #76
+1

[2016-01-18 19:20] dlmelendez commented on #76
Table Storage Provider working on Identity 3.0 RC1 - https://www.nuget.org/packages/ElCamino.AspNet.Identity.AzureTable/2.0.0-beta2
Unfortunately, I have not had the time to move the project to GitHub yet, it is in the works..- https://identityazuretable.codeplex.com/

[2016-01-20 13:59] kidtsui opened #716 "UserManager does not normalize role name before passing to UserStore"
When I read the code for FindByNameAsync, the UserManager will first normalize the user name then pass to UserStore to find the user by the normalized user name.

However, when adding roles to a user, the UserManager only pass the rolename without any normalizations. This pattern is not consistent with the previous case.

And the related issue is  that the UserStore in entityframework search for t

[2016-01-21 02:51] dburriss opened #717 "Missing migrations"
https://github.com/aspnet/Identity/tree/dev/samples/Interop45/Migrations
Seems to be missing:
- 201511031830242_InitialCreate
- 201511232040531_Identity3Migration
- 201511232057540_IdentityV3Schema
- 201511232103169_Identity3Migration1

They seem to be in the Interop45 csproj file but the actual .cs files are not in source control.

[2016-01-21 11:36] flensrocker opened #718 "RoleManager and IRoleStore don't have a TKey for custom key types"
That means you cannot use FindByIdAsync and GetRoleIdAsync, because the id is expected to be a string.

Additionally there's a typo in the comment of the class (TUser => TRole):
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNet.Identity/RoleManager.cs#L20

[2016-01-22 00:46] AlissonRS commented on #518
Yep, they changed things since api 2.4 as far as I know. I found a solution [here](http://stackoverflow.com/questions/31714500/access-email-address-in-the-oauth-externallogincallback-from-facebook-v2-4-api-i).

[2016-01-23 17:48] PMExtra opened #720 "How to custom PreSignInCheck in SignInManager."
Our project want to custom a check when login, and that will return a custom SignInResult.
I found only a method named CanSignInAsync, but that will return a bool, and final it return the SingInResult.NetAllow.

So, why the PreSignInCheck method is private? It's for this reason that I must override many SignIn method like PasswordSignInAsync, TwoFactorSignInAsync, ExternalLoginSignInAsync.

So, I

[2016-01-23 20:00] PMExtra opened #721 "Consider overload of SignIn that specifies whether CanSignIn is checked before signing in"
When I set "RequireConfirmedEmail = true" in SignInOptions, the SignInManager.SignInAsync will skip PreSignInCheck (ex. Check the Email confirmed).
The visual studio template Account/Register action will take the SignInAsync method.
So, When I register a new account, I will sign-in successful. Then, if I log out, I could't sign-in again.

So, I think that SignInAsync method should take the PreSign

[2016-01-24 08:50] Marren85 opened #722 "No Option To Map To Stored Procedures"
There is no option to map Idenetiy to stored procedures. I cannot run my code without it and don't know how to do a workaround.

In MVC 5 I simply added:

modelBuilder.Entity<IdentityUser>().MapToStoredProcedures();

overriding onmodelcreating in my Identity model but I can't seem to do that now.

Anyone help?

[2016-01-24 20:21] joshmouch commented on #604
What is the link and what is the fix?

[2016-01-25 19:05] HaoK commented on #708
Please reopen this if you can still repro this after adding the await

[2016-01-25 19:05] #708 closed

[2016-01-26 00:09] mikary commented on #711
I attempted to reproduce the issue based on the provided description, but it does not appear to be reproducible at this point so I will close the issue.

If you are still encountering this problem and can provide us with code and steps to reliably reproduce the problem, please feel free to respond and reopen this issue.

[2016-01-26 00:09] #711 closed

[2016-01-26 16:05] Tratcher opened #723 "ASP.NET 5 Identity with one table and 4 columns"
_From @kjanshair on January 26, 2016 15:37_

I creating an ASP.NET MVC 6 application which uses Identity with Entity Framework on SQL Server. By default, it creates 5 tables in the database

AspNetRoles
AspNetClaims
AspNetLogins
AspNetRoles
AspNetUsers

But I want only 1 table in the database instead of these 5 with 4 columns integer Identity Column, UserName, Email and Password (Hashed). How do I

[2016-01-26 18:40] SharePointRadi commented on #723
You can look at a user store implementation here : https://github.com/OneBitSoftware/Microsoft.AspNet.Identity.EntityFramework6/blob/master/src/Microsoft.AspNet.Identity.EntityFramework6/UserStore.cs
That should give you enough info on how ant what to do. If you look at IdentityDbContext you will see how the model gets created, you can tweak it to your liking.

[2016-01-26 22:03] erlimar opened #724 "UserManager.FindByName does not load custom properties of UserIdentity"
Package versions:

[code]

My Startup services configuration:

[code]

My Context:

[code]

My Model:

[code]

I am adding a user as follows:

[code]

At some point I need to recover data from a user, and do as follows:

[code]

Then I get an error:

[code]

I realized that `user.Profile` is null.

Out of curiosity, I tried to load the profile alone without even assign to any variable.

[code]

An

[2016-01-27 22:33] rustd commented on #724
Accessing the child entities through the DbContext is fine.
For the future add a new extensibility point which loads the child entities. (include extra data)

[2016-01-27 22:34] rustd commented on #723
Please look at the above comment.

[2016-01-27 22:34] #723 closed

[2016-01-27 22:36] rustd commented on #722
@rowanmiller what is the bug number tracking this in EF? @divega mentioned it is in the backlog

[2016-01-27 22:40] rustd commented on #720
Please use CanSignIn() https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L122

[2016-01-27 22:40] #720 closed

[2016-01-27 22:43] rustd commented on #718
This is by design. In this version the id is always a string. The store can persist it in whatever type you want.
@HaoK can you please update the comment.

[2016-01-27 22:45] rustd commented on #713
Duplicate of #266

[2016-01-27 22:45] #713 closed

[2016-01-27 22:49] rustd commented on #705
Please refer to the comments here for more details
https://github.com/aspnet/Identity/issues/471

[2016-01-27 22:49] #705 closed

[2016-01-27 22:54] rustd commented on #702
Call `AddIdentity<ApplicationUser,IdentityRole,int>()` in Startup.cs
Please reopen if this does not help.

[2016-01-27 22:54] #702 closed

[2016-01-27 23:49] divega commented on #710
Closing this issue as it seems that all the questions have already been answered. In summary, we don't offer an EF6-based store for the new ASP.NET Core Identity out of the box but the components have been designed so that you can register your own. Thanks @Fosol and @nrkarthick for including the details.

Please create new issues if you find bugs or have feature suggestions.

[2016-01-27 23:49] #710 closed

[2016-01-28 00:03] divega commented on #722
Found it.

The Identity stores we offer out of the box are for EF Core, and EF Core will not support stored procedure mapping in the initial release (we use the following issue to track the feature in our backlog: https://github.com/aspnet/EntityFramework/issues/245).

In the meanwhile it should be possible to produce your own Identity store implementations (i.e. UserStore and RoleStore) that use

[2016-01-28 00:03] #722 closed

[2016-01-28 00:16] divega commented on #724
Just to add a bit more detail: as a performance optimization ASP.NET Core Identity currently only loads the entities related to a user or a role as needed to satisfy API calls. I.e. it won't load related entities (not even the built-in ones) eagerly on a method call like such as `FindByName()` because the find methods are only required to return the root.

At this point issuing queries against the