[2017-05-31 17:09] #1211 closed

[2017-05-31 17:16] danroth27 commented on #1206
@Eilon @javiercn I think we need this. Otherwise you have to a do a bunch of work to setup the JwtBearer options in an environment independent way.

[2017-05-31 17:54] #1205 closed

[2017-05-31 19:11] blowdart commented on #1252
Exceptions are, well, exceptional. Like database is on fire. Duplicate usernames, or validation failures are typical errors, they're not exceptional, so we don't use exceptions.

[2017-05-31 19:11] #1252 closed

[2017-05-31 19:12] blowdart commented on #1251
@javiercn

[2017-05-31 19:13] blowdart commented on #1250
Do you have data protection configured to share a keyring? https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview

[2017-05-31 19:13] blowdart commented on #1248
Yes :)

[2017-05-31 19:23] blowdart commented on #1248
OK we considered it, it would suck too much, and we have enough breaking changes. Bumping to 3.0.

[2017-05-31 19:33] blowdart commented on #1245
OK this is dependent on time remaining which we're not sure about yet. If we have time, then yes, along with OriginalIssuer too.

[2017-05-31 19:35] blowdart commented on #1244
OK we've talked about this, and @HaoK has promised that he can make the tables optional, so they won't appear unless you ask for them in code in your constructors. Which hopefully alleviates @brockallen's concern.

Naming on the other hand is a whole other discussion :D

[2017-05-31 19:36] blowdart commented on #1243
@javiercn I believe this is you, the user's roles aren't flowing as expected, and as they used to before the service appeared.

[2017-05-31 19:37] blowdart commented on #1241
Dupe of https://github.com/aspnet/Identity/issues/1243

[2017-05-31 19:37] #1241 closed

[2017-05-31 19:42] blowdart opened #1254 "Schema Migration Tracking & Verification"
- [ ] Test migrations from 1.1 schema.

- [ ]  Check interop with database sharing from a 1.0/1.1 app.

- [x]  Ensure it's opt-in for existing code, and opt-in automatically for File -> New Project

- [ ]  Document how to create change scripts

- [ ]  Test how VS Publish would apply migrations to azure, and document

[2017-05-31 19:44] #650 closed

[2017-05-31 19:58] Ponant commented on #1250
I am running on the template provided by VS 2017 for .Net Core 1.1 and VS 2017 Preview 1 for .Net Core 2.0; these were untouched and do not seem to have data protection configured. Where you able to reproduce the bug?

[2017-05-31 21:51] HaoK opened #1255 "Switch Identity service config to ConfigureDefaultOptions/format"

[2017-05-31 22:45] Ibro commented on #1252
duplicate username doesn't really resonate like typical error

[2017-06-01 19:39] javiercn commented on #1251
That foreign key is going to go away before RTM, but I see the issue, when the relationship is optional the key needs to be Nullable<T>

[2017-06-01 19:39] #1251 closed

[2017-06-01 19:45] gbfromhb commented on #1251
OK, let me get this straight. I think you and I saw the same issue the foreign key was causing the problem, and your are saying  this key is going away on a future release, right? So it sounds like problem solved.

[2017-06-01 20:45] javiercn commented on #1251
Yep

[2017-06-01 20:50] gbfromhb commented on #1251
Thanks

[2017-06-02 00:32] HaoK commented on #1244
Moving to preview 2 for visibility

[2017-06-02 00:34] HaoK commented on #1253
@ajcvickers is this still considered cleanup?  Basically moving classes between assemblies, would not have any real customer impact as currently they always get the AspNetCore assembly, we'd just be enabling more stuff working when using the new Microsoft.Extensions.Identity...

But using a strict interpretation of 'features', this would be enabling some scenarios around that (using Microsoft.Exte

[2017-06-02 00:35] ajcvickers commented on #1253
@HaoK If it doesn't impact any customer experience and won't break apps, then it's fine to do post preview2.

[2017-06-02 00:38] HaoK commented on #1245
@ajcvickers feature?

[2017-06-02 00:38] HaoK commented on #1245
If push comes to shove for scheduling, this is something we could do in 2.1 anyways...

[2017-06-02 00:39] ajcvickers commented on #1245
Yes, should probably punt out to 2.1.

[2017-06-02 00:44] HaoK commented on #1244
As part of this work, we would also make IdentityRoles optional

[2017-06-02 00:44] brockallen commented on #1244
Sounds interesting.

[2017-06-02 01:11] AbdelrahmanGIT opened #1258 "Setting Cookies.ApplicationCookie.Events from services.Configure<IdentityOptions> prevents security stamp validation from working"
### Setting Cookies.ApplicationCookie.Events from services.Configure<IdentityOptions> prevents security stamp validation from working
*setting events inside configure service disables security stamp validation check which is hard to spot*

### Functional impact
Disables security stamp validation completely without any errors and it's hard to spot

### Minimal repro steps
1. Create project with ide

[2017-06-02 01:53] HaoK commented on #1258
Can't you just modify the existing ApplicationCookie.Events instead of new'ing it up?  Doesn't that solve things?

[2017-06-02 06:09] danroth27 opened #1259 "Add extension method overloads that takes a specific config section to bind to"
By default the identity service has a default config schema, but you should be able to specify a specific config section to bind to.

[2017-06-02 10:12] HaoK commented on #1157
Clearing assignment for now since this isn't something I plan on doing anytime soon given the 2.0 bar

[2017-06-02 10:17] HaoK commented on #670
Moving to backlog not high pri

[2017-06-02 20:40] ajcvickers opened #1260 "API Review for new Identity Service code"
Discussed this with @HaoK today as something we should do to ensure that the new stuff is fully baked and not burnt on the outside with a soggy bottom. 🍰 This includes packages, and whether or not they should live here or elsewhere.

Possibly also code reviews as well as just API review reviews.

[2017-06-02 21:16] HaoK opened #1261 "Move IdentityOptions from Microsoft.AspNetCore.Builder to identity namespace"
I guess it has been in Microsoft.AspNetCore.Builder all this time, this used to be the pattern so intellesense would work before we switched consistently to lambdas everywhere...  Seems like we should welcome the options class home.  This realistically shouldn't break many apps, as its rare for the options type to be used by itself without any other identity classes...  Maybe something we can do p

[2017-06-02 21:17] HaoK commented on #1261
The benefit isn't that big, so I don't think its worth adding any build stability issues to try and slam it in right now

[2017-06-03 08:07] BenjaminCharlton commented on #1236
Hi again @HaoK,

I have migrated my solution to ASPNET Core 2.0 and installed your recently updated pre-release of ASPNET Core Identity.

I can't find the IdentityUser in the Microsoft.Extensions.Identity.Stores namespace, and I can't find a Nuget package for Microsoft.Extensions.Identity.Stores even if I search pre-release packages.

Please could you point me in the right direction?

Many thanks!

[2017-06-03 08:19] HaoK commented on #1236
It will be in preview 2 which hasn't been released yet, but they are in the dev branch, so if you wanted to use the nightly builds you could, see https://github.com/aspnet/Home specifically the latest dev build section

[2017-06-05 07:36] jwhijazi commented on #1068
@HaoK your solution worked,
Please correct me: doing this means get me new instance of the signInManager service, not the one in the scope of the application.
Right?

[2017-06-05 07:37] anhlee24 commented on #1068
@jwhijazi yup

[2017-06-05 14:45] PinpointTownes commented on #1261
If you do that, please also consider moving all the scheme handlers options (in aspnet/Security) to their respective repos :smile:

[2017-06-05 19:06] HaoK commented on #1261
You mean moving the options for the security/auth handlers to the right namespace?  I think they are in the right repo today :)

[2017-06-05 19:29] PinpointTownes commented on #1261
lol yeah, I meant namespace, not repo, sorry for the confusion :sweat_smile:

[2017-06-05 20:21] danroth27 opened #1264 "Move identity as a service out of 2.0"
We've decided to push identity as a service out of the 2.0 release to give it some more back time. We should mark the related packages as not shipping and remove them from the metapackage.

[2017-06-05 20:21] danroth27 commented on #1264
@Eilon please assign.

[2017-06-05 21:03] #1228 closed

[2017-06-05 21:06] #1220 closed

[2017-06-05 21:09] danroth27 commented on #1200
Proposal: Microsoft.AspNetCore.Authentication.Applications.ClientExtensions

[2017-06-05 23:08] Ponant opened #1265 "Illogical flow for PasswordSignInAsync through PreSignInCheck when RequireConfirmedEmail = true"
App Requirement: require confirmed email before user can login.
When you require a confirmed email in `Startup.cs`, checking whether the email is confirmed or not makes little sense until the POST username and pwd match what is in the DB.

The current flow for login violates this because `PasswordSignInAsync` calls `PreSignInCheck` prior to `CheckPasswordAsync`, an order which makes sense only for

[2017-06-06 19:05] ryanbrandenburg opened #1266 "Fix and unskip broken tests"
ValidateLogoutUri_FailsIfTheUriIsRelative and ValidateRedirectUri_FailsIfTheUriIsRelative were failing, they're skipped for preview2 so we can get a passing build of identity as a whole.

[2017-06-06 20:28] HaoK opened #1269 "Make Roles optional at the Microsoft.Extensions.Identity layer"
High level idea is to enable something akin to:

Related to #651

I think this should be safe to do in 2.1, but we might want to consider doing something like this in RTM (as this is really finishing what we started in 651)

[code]

Would be equivalent to today's (which we would still support):
[code]

[2017-06-07 07:37] Ponant opened #1270 "PasswordSignInAsync(TUser user, string password, bool isPersistent, bool lockoutOnFailure) could return SignInResutl.Failed instead of throw"
In a way similar to
`PasswordSignInAsync(string userName, string password,  bool isPersistent, bool lockoutOnFailure)` ,
`PasswordSignInAsync(TUser user, string password,  bool isPersistent, bool lockoutOnFailure)` could return `SignInResult.Failed` instead of throwing when `user = null`.

[2017-06-07 07:44] HaoK commented on #1270
Where does it throw?

[2017-06-07 07:56] Ponant commented on #1270
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L258

[2017-06-07 08:03] HaoK commented on #1270
The two scenarios are different, one is clearly a developer error, passing in a null user, the API that takes a username, returns failed if you pass in a user name that doesn't exist.

[2017-06-07 09:38] Ponant commented on #1270
@HaoK , I see what you mean, and thought about it before raising up this thread. However, in my opinion, I think it is a pity not to take advantage of the return type `SignInResult.Failed`. this will avoid a dev to add the check `if(user !=null)`. Cheers

[2017-06-07 19:06] HaoK commented on #1270
So its intentional in general you should never pass a null user into any identity APIs.

[2017-06-07 19:06] #1270 closed

[2017-06-07 19:16] HaoK commented on #1269
High level idea is to enable something akin to:

Related to https://github.com/aspnet/Identity/issues/651

I think this should be safe to do in 2.1, but we might want to consider doing something like this in RTM (as this is really finishing what we started in 651)

[code]

Would be equivalent to today's (which we would still support):

 `services.AddIdentity<TUser, TRole>().AddEntityFrameworkStore

[2017-06-07 19:24] divega commented on #1269
@HaoK do you always need to configure in `storeOptions` in the call to `AddEntityFrameworkStores` whether the schema for roles needs to be included or can they be inferred automatically by the fact that you called `AddRoles`?

[2017-06-07 19:29] HaoK commented on #1269
Its an optional thing, I just was showing it to make it obvious that was where you will can opt into things.

AddEntityFrameworkStores() would do something by default appropriately...

[2017-06-07 19:31] HaoK commented on #1269
But its likely there will be ways to mismatch things, like calling AddRoles() and then doing storeOptions.SupportsRoles = false...  We won't be able to block all of those, but it should be easy to validate

[2017-06-07 19:32] HaoK commented on #1269
Basically misconfiguring storeOptions will cause userManager apis to throw if they end up calling into store functionality that they disable

[2017-06-07 22:49] #1264 closed

[2017-06-07 22:52] #1255 closed

[2017-06-08 08:22] gladkiy opened #1271 ".NET Core Identity doesn't refresh auth cookie for static files and throws 500 error"
I have .NET Core Web API app with Angular 2 on client-side (also use lazy loading).
I setup .NET Core Identity with the following options in **Startup.cs**:

[code]

So,
User is logged in - auth cookie is set.
60 seconds later - calls to **API/*** end-points update this cookie to a new value .. so calls work
However calls to **HTML/JS** files do not update the cookie - they continue to use the pre

[2017-06-08 21:22] Ponant commented on #1138
If Email is not unique you can have 2 usernames for the same Email, but the `ForgotPassword `method defines the user by `FindByEmailAsync`, hence which user will be returned??

[2017-06-08 21:46] HaoK commented on #1138
Undefined, you probably shouldn't use FindByEmail if you don't have unique emails.  But the template uses email as the user name to simplify things, which effectively enforces that emails are unique as user names are always required to be unique.

[2017-06-08 22:17] Ponant commented on #1138
I have seen another issue where you correctly argued the use of `FindByUserName` until the template switched to `FindByEmail `. The unicity of UserName is fundamental, but now that `FindByEmail ` is in the template and furthermore UserName = Email in the template, this template becomes dangerous out of the box. I really think the template should start with UserName + Email as fields for login and

[2017-06-09 07:15] Ponant commented on #865
@blowdart

Younger generations in public facing websites remember username or phone.

[2017-06-09 10:38] ivankarpey commented on #1239
The same story happen for me. However I find out, that this exception happen if I activate development environment. When switching to "production" - error disappear.

[2017-06-09 17:19] #1213 closed

[2017-06-09 17:19] #1212 closed

[2017-06-09 22:17] Eilon commented on #267
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:17] #267 closed

[2017-06-10 14:29] Ponant opened #1274 "Consider making SignInOrTwoFactorAsync public"
Here https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L680

This will help in overriding the `PasswordSiginInAsync` method
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L252
. The method `SignInOrTwoFactorAsync  `is used only in `PasswordSiginInAsync `and `ExternalLoginSignInAsync `.
See discussion here

[2017-06-10 21:58] jayrulez commented on #1198
AzureConnect

[2017-06-11 07:31] Braed commented on #1082
Can we PLEASE get some sort of official solution for this? MS Docs need updating.

[2017-06-11 09:03] vRITHNER opened #1275 "still get ArgumentException: Options.ClientId must be provided Parameter name: ClientId with latest Template"
In VS2017 Enterprise preview latest version, I still can make work project with Template ASPNET Core MVC Authentication Individual. The same error happens each time I simple press F5 or Ctrl+F5:

The appsettings.json contains the clientId, so I don't get it

`"Authentication": { "IdentityService": { "ClientId": "D67625E3-714E-4A2E-9E1E-365AB5744B05", "TokenRedirectUrn": "urn:self:aspnet:identity:i

[2017-06-11 12:44] Ponant opened #1276 "Consider splitting SignInResult.NotAllowed in SignInResult.EmailConfirmationRequired and SignInResult.PhoneNumberConfirmationRequired"
`SignInResult.NotAllowed` is used in one place here
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L748 .
It does not distinguish between `IsEmailConfirmedAsync ` and `IsPhoneNumberConfirmedAsync`.
Distinguishing will make the code cleaner as it becomes more precise in returning errors to the dev and then the end UI user (see discussion here https://

[2017-06-12 16:37] HaoK commented on #1274
Feel free to submit a PR, I think protected virtual is more appropriate as this still isn't something Controllers should call directly for example.

[2017-06-12 16:41] HaoK commented on #1204
This is meant only to be used with derived classes, AddIdentity already registers the base manager types.  See https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IdentityBuilder.cs#L193 which would be a infinite loop if this was the same type.

[2017-06-12 16:41] #1204 closed

[2017-06-12 16:48] #1150 closed

[2017-06-12 16:49] HaoK commented on #1265
We can look at this as part of https://github.com/aspnet/Identity/issues/1058 which currently scheduled for 2.1

[2017-06-12 16:50] HaoK commented on #1276
Feel free to file a PR for this and any related issues but we likely won't get to this until 2.1

[2017-06-12 16:58] #940 closed

[2017-06-12 16:59] HaoK commented on #832
@ngohungphuc 's code should work

[2017-06-12 16:59] #832 closed

[2017-06-12 17:01] HaoK commented on #1012
Closing as this is a mysql issue tracked via https://bugs.mysql.com/bug.php?id=84814

[2017-06-12 17:01] #1012 closed

[2017-06-12 17:03] HaoK commented on #902
Closing, not related to identity

[2017-06-12 17:03] #902 closed

[2017-06-12 17:03] #901 closed

[2017-06-12 17:07] HaoK commented on #1269
Also related to https://github.com/aspnet/Identity/issues/581

[2017-06-12 17:09] HaoK commented on #1185
Will no longer be an issue going forward, was needed before the move to netstandard 2

[2017-06-12 17:09] #1185 closed

[2017-06-12 17:12] #1173 closed

[2017-06-12 17:13] HaoK commented on #1173
Yep what @Singularity222 said, you can just new it up and pass in the dependencies.

[2017-06-12 21:27] HaoK opened #1278 "Consider backing out schema changes store versioning until 2.1"
We should consider backing out https://github.com/aspnet/Identity/commit/be8232d3f9c7a312314ab42dfe37047ec3b16665 since identity service didn't make it into 2.0, this would give us more time to react/update things without having backcompat issues.

The main motivation from my perspective is not introducing a 2.0 schema change that only adds 2 properties, that seems like a waste.

There doesn't app

[2017-06-12 21:29] HaoK commented on #1278
Basically we should only add this complexity when we have a large schema update/optional features that are compelling enough to justify all of this stuff...

[2017-06-13 05:56] Ponant commented on #1274
@HaoK ok, done.

[2017-06-13 14:20] JStepien90 opened #1280 "ToTable does not change the Table name"
Hello,

I use Identity with the configuration with EntityFramework and SqlServer. I'm trying to change the default names of identity tables. Below it's my code to create database context.

 public class XXXContext : IdentityDbContext<User, IdentityRole<int>, int>
    {
        public XXXContext(DbContextOptions options) : base(options)
        {

        }
        public DbSet<User> User { get; se

[2017-06-13 14:47] VahidN commented on #1280
`base.OnModelCreating(modelBuilder);` will override your custom settings. so put it at the beginning of the `OnModelCreating` method.

[2017-06-13 15:17] ajcvickers commented on #1280
Closing as @VahidN has answered the question.

[2017-06-13 15:17] #1280 closed

[2017-06-13 19:31] HaoK commented on #1278
After talking to @ajcvickers plan is to back these out for now, we can add this back along with our next schema update, most likely in 2.1

We'll be focusing on making Roles optional at the new lower Microsoft.Extensions.Identity layer instead

[2017-06-13 19:33] HaoK commented on #1269
After chatting with @ajcvickers today we agreed that this is something important to do in 2.0, some nice sideffects that fell out of the refactoring/exploring this. we can nuke all of the entities on TUser/TRole except for TKey...  That cleans things up quite a bit.

[2017-06-13 19:34] HaoK commented on #581
Yup we plan on doing this for 2.0, tracked via https://github.com/aspnet/Identity/issues/1269

[2017-06-13 19:34] #581 closed

[2017-06-13 20:06] HaoK commented on #1278
a9192d99dc79e64c6ebc8bc434917af8bea02573

[2017-06-13 20:06] #1278 closed

[2017-06-13 20:21] danroth27 commented on #1269
@blowdart @Eilon @DamianEdwards

Could you please clarify a bit more what this means?

[2017-06-13 20:25] HaoK commented on #1269
We had a bunch of generics that were on the base POCOs that were only needed for the navigation properties, see: https://github.com/aspnet/Identity/blob/dev/src/Microsoft.Extensions.Identity.Stores/IdentityUser.cs#L54

There will only be TKey now.

[2017-06-13 20:29] HaoK commented on #1269
To clarify the plan, we are leaving the existing AddIdentity alone that lives in Microsoft.AspNet.Identity, that will behave the same and add the same old user + roles scheme.

Since we are adding a new public AddIdentityCore API in Microsoft.Extensions.Identity.Core anyways, we might as well expose it the 'right way', meaning Users are the only required entity, with Roles being an add on.

[2017-06-13 20:31] danroth27 commented on #1269
Ah, I was curious how those extra generic parameters got used since they don't appear on any of the type members. When you say they are currently needed for the navigation properties, what does that mean? Aren't navigation properties typically represented as properties on the type? Does EF Core do something special with the extra generic parameters in this case? Or does Identity?

Regardless, not

[2017-06-13 20:32] HaoK commented on #1269
StoreOptions are gone, so there's none of that complexity.  There will be a new UserStore base class that doesn't implement any of the Role interfaces, that will be what is used when roles isn't enabled.  Otherwise, the usual roles + user store will be used.

We'll actually have proper base classes for 2.0 that do not have a TRole at all (IdentityDbContext/UserStore)

[2017-06-13 20:34] HaoK commented on #1269
The POCOs used to live inside of EF Core, and they had navigation properties.  I removed them as part of the move to Extensions for preview 2.  This is finishing the rest of the move as there's no way to actually use Extensions.Identity today.

[2017-06-14 00:41] HaoK commented on #1269
@divega @ajcvickers Well, there's a tiny complication to removing the generics off IdentityUser...  turns out we were using them to use reflection to automagically register the correct UserStore so they didn't have to manually add their own `UserStore<MyUser, MyRole, MyUserClaims, MyUserLogins...>`.

We added the smarts to infer generics in 1.1.  We do have another generic type with the same infor

[2017-06-14 17:46] HaoK commented on #1253
Tracking this via https://github.com/aspnet/Identity/issues/1269

[2017-06-14 17:46] #1253 closed

[2017-06-14 17:53] HaoK commented on #1274
98263cca298fb234344c436dd2ee866ab9567a22

[2017-06-14 17:53] #1274 closed

[2017-06-14 20:13] HaoK commented on #1143
a1b9857d94926b47e9d6acef779458e5658fa8fd

[2017-06-14 20:13] #1143 closed

[2017-06-14 21:08] alexsorokoletov opened #1283 "Passwordless authentication example with bearer token"
### How to implement passwordless authentication with ASP.NET Identity and bearer token
I'd like to add a passwordless authentication to my Web API project so that I can get a bearer token using phone number and one-time code.

With that, I also would like to keep login/password token authentication in place (for example, for web).

### Expected result
Would be great to have a supported and more o

[2017-06-14 22:28] vicchy-platform opened #1284 "Improvement for external provider flow when user already has local account"
Hi:

I am testing the case where a user creates a local account (e.g., test@gmail.com) and comes back to the site a time after and does not remember if it created a local account or used a external provider (e.g., Google), so it decides to attempt to login with its Google account; or simply, a user that does not remember its password and he hates the password recovery process so it decides to atte

[2017-06-16 15:53] cuoilennaocacban commented on #991
this SO answer give you a better view of the same approach
[https://stackoverflow.com/a/38199890/4506315](https://stackoverflow.com/a/38199890/4506315)

[2017-06-20 21:08] HaoK commented on #1269
f555a26b4a554f73eea70b4b34fca823fab9a643

[2017-06-20 21:08] #1269 closed

[2017-06-23 17:27] blowdart commented on #1284
This would only work where the external flow sends you the email address, which isn't guaranteed by any means. It also means we'd end up having to ask for an email address from the google flow by default, which goes against asking for just what you need.

I'll pop it in backlog for now and we can mull it over.

[2017-06-23 17:29] blowdart commented on #1283
Unless there's a RFC based standard for this it's not something we'd consider implementing, adding a custom authentication scheme (leaving aside cookies) is something we'd avoid.

[2017-06-23 17:30] blowdart commented on #1271
What order is your middleware in? i.e. is static before or after auth?

[2017-06-23 18:13] alexsorokoletov commented on #1283
@blowdart thank you for the feedback. I understand that.
What about other ways to implement that with ASP.NET Identity?

I do not want to implement passwordless by re-implementing whole OAuth bearer support that is in ASP.NET Identity

[2017-06-23 18:14] blowdart commented on #1283
You could have your password-less flow create a JWT token, then use the standard JWT middleware for it?

[2017-06-26 22:17] patricknolan opened #1288 "Identity EF with custom fields"
Hi,

I'm trying to add a custom field to the IdentityRole, IdentityRoleClaim and IdentityUserClaim. This all seems to work ok. I can even modify the ApplicationDbContext to accept my new ApplicationRole, ApplicationRoleClaim and ApplicationUserClaim classes.

When I call AddIdentity I get the following error. Even if I implement and add my own UserStore I still get the same error

[code]

My code

[2017-06-27 01:06] patricknolan commented on #1288
Seem to have solved my issue by replacing the call to AddUserStore and AddEntityFrameworkStores with the following

[code]

[2017-06-27 13:52] gladkiy commented on #1271
@blowdart I've updated my question. Do you mean `app.UseDefaultFiles();` and `app.UseStaticFiles();` need to be over `app.UseIdentity();`?

[2017-06-27 13:53] blowdart commented on #1271
No, .UseIdentity should be first. Admittedly static files doesn't support auth in any way, but the cookie should still refresh imo. @HaoK any ideas?

[2017-06-27 17:09] HaoK commented on #1271
The cookie is being refreshed by the security stamp validator, I don't think static files would interfere with that, @Tratcher does this issue sound familiar to you at all?

[2017-06-27 17:10] HaoK commented on #1271
Is your static content cached on the client maybe?

[2017-06-27 17:22] Tratcher commented on #1271
The 500 is caused by an exception on the server. Check the logs to see what the exception was.

[2017-06-27 22:19] HaoK commented on #1261
@ajcvickers ok for me to move the options type to the proper namespace now?  We already moved it to a different assembly in (Extensions), might as well move it to the proper home namespace

[2017-06-27 23:40] ajcvickers commented on #1261
Yes

[2017-06-28 06:15] minhnhat2807 commented on #1187
@danroth27 Where can I change **grant_types_supported** because when I looked at this link **xxx/v2.0/.well-known/openid-configuration** it's always empty

I tried to use ASP.NET Core Identity for issue token to user, how?

[2017-06-28 06:40] danroth27 commented on #1187
@minhnhat2807 Please note that we recently made a [decision](https://github.com/aspnet/Announcements/issues/243) to postpone the identity as a service work until after 2.0 so that it has more time to bake.

The configuration document is provided by the `IdentityServiceConfigurationController` in the template. See https://github.com/aspnet/Identity/blob/dev/samples/IdentityOIDCWebApplicationSample/

[2017-06-28 13:05] aneequrrehman opened #1290 "Shadow properties are introduced while configuring Identity schema manually"
I am trying to change the schema of `AspNetUserRoles` table because I have two other fields `FieldA` and `FieldB` and I want both of these fields to be primary keys.

When I do something like this:

[code]

It configures the primary keys but doesn't remove the default Unique Constraint that is on `UserId` and `RoleId`. What I want is all four fields to be primary key, and remove the default unique

[2017-06-28 19:37] HaoK opened #1291 "Revisit RequireConfirmedEmail behavior/design"
Related: https://github.com/aspnet/Templates/issues/832#issuecomment-311758344

We also should rationalize if we need a concept of AccountConfirmation which a more generic class what EmailConfirmation is today.

- Should this flag affect external login providers, or only password flows?
- Do we need a AccountDisabled flag that replaces this for use in ExternalSignIns?

Do we need to do anything he

[2017-06-28 19:50] Ponant commented on #1291
You/we can solve this issue in one shot by doing the following, as we discussed last time.

Drill into these issues as you linked them to other issues opened by other devs
https://github.com/aspnet/Identity/issues/1265
https://github.com/aspnet/Identity/issues/1276

All these issues will be closed at once. I am not sure this is what @blowdart proposed but to me it is solid and logical. At least I

[2017-06-28 19:50] HaoK commented on #1180
@ajcvickers seems safe to move this to 2.1, no breaking changes here

[2017-06-28 19:58] blowdart commented on #1291
It's not going to be 2.0, because we simply don't have the bandwidth

[2017-06-28 20:02] Ponant commented on #1291
Reminder: The culprit is here
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L747

1) PreSignInCheck which checks for pwd but called by ExtrernalLogin. Solution--> break it into pieces in order to call only the necessary pieces (it is called 4 times in SignInManager)
2) SignInResult.NotAllowed--> split into email and phone confirmation flags, to be m

[2017-06-28 22:02] blowdart commented on #1290
@HaoK

[2017-06-28 22:14] HaoK commented on #1290
@ajcvickers @divega any ideas?

[2017-06-29 17:51] PericlesSouza commented on #1187
Typical of how .Net Core is mismanaged.

Make a decision to go off on a tangent that nobody asked for (while ignoring the most wanted features), and then swerve to another direction at the last moment.

You guys need to be managed by the folks that carefully husband the C# language. They know what they are doing.

[2017-06-29 23:35] HaoK commented on #1261
eb3ff7fc32dbfff65a1ba6dfdca16487e0f6fc41

[2017-06-29 23:35] #1261 closed

[2017-07-03 13:45] gladkiy commented on #1271
May be it's cache, I don't know. So, app is started (needed angular modules are loaded), wait for the minute and click on page that require new angular module, it failed.
In browser console I see the following:
`ERROR Error: Uncaught (in promise): Error: (SystemJS) XHR error (500 Internal Server Error) loading http://example.com/app/account/account.module.js`

IIS Express "Logs" folder I see this:

[2017-07-04 07:22] AxelAndersen opened #1300 "Possible wrong error message from ChangePasswordAsync"
Hi

I believe the method ChangePasswordAsync in Microsoft.AspNetCore.Identity.UserManager can return wrong error message.
If I type in a wrong currrentPassword, It will return the error message PasswordMismatch.
It shoud return a IncorrectPassword message.
Otherwise there will be no diffrence in 2 different new passwords and wrong current password.

Here is the method:

[code]

[2017-07-05 11:52] tlycken opened #1301 "Trying to build rel/1.1.0 locally: 'TaskCache' is inaccessible due to its protection level"
I've cloned this repository, opened Identity.sln in Visual Studio 2017 (Version 15.2 (26430.14) Release, pro edition, to be precise) and tried to compile, but it fails [here](https://github.com/aspnet/Identity/blob/rel/1.1.0/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L695) with the error `'TaskCache' is inaccessible due to its protection level.`.

My ultimate goal is to obtain debugging sy

[2017-07-05 12:40] RobinHerbots opened #1302 "IRoleClaimStore: Why is the claimtype System.Security.Claims.Claim"
Why isn't the type TRoleClaim from rolestore used instead?

[code]

[2017-07-05 19:04] blowdart commented on #1300
This is deliberate. Say someone left themselves logged in and you got hold of their browser. We don't want to give any information away - so we don't tell you if you got the current password wrong, or if there's a mismatch.

We could revisit this in 2.1.

[2017-07-05 19:06] blowdart commented on #1302
That's an implementation detail, Claims are the user facing thing, TRoleClaim is how you persist it to the store. Everything maps to claims because it's standard, and it's what we check.

[2017-07-05 19:06] #1302 closed

[2017-07-05 19:08] blowdart commented on #1301
What else are you building? You're going, at a minimum, also compile in https://github.com/aspnet/Common/tree/rel/1.1.0/src/Microsoft.Extensions.TaskCache.Sources

[2017-07-05 22:55] blowdart commented on #626
In addition we should change old TOTP entropy to use something other than security stamps, because there's a risk that people leak those.

[2017-07-06 06:59] tlycken commented on #1301
Hm, I didn't build anything but the sources from this repo. I'll try again after also building that.

Do they have to reside in some special relation to each-other on the file system? Is it documented somewhere that there's a dependency on building that locally, too?

[2017-07-07 00:35] jeffputz opened #1306 "Using error handling pages causes multiple identities to be populated in HttpContext.User.Identities"
For back story, check out a bug a user found in my project:
https://github.com/POPWorldMedia/POPForums/issues/54

The TL;DR version is that configuring error handling pages in startup, specifically `app.UseStatusCodePagesWithReExecute(..)` and `app.UseExceptionHandler(..)`, appears to cause HttpContext.User.Identities to be populated with two copies of any configured identities when the framework

[2017-07-07 00:48] john2014 opened #1307 "Encrypting string"
Hi, I am not sure which is the correct repository to post this to. I apologize if this is not the correct one.

Goal: Create a function to encrypt and decrypt string using Asp.net Core and System.Security.Cryptography

Solution: The nearest match I found was this url: http://mikaelkoskinen.net/post/encrypt-decrypt-string-asp-net-core

However when I run this I immediately get an error message "Pad

[2017-07-07 09:15] Misiu commented on #1283
@alexsorokoletov in previous version it was easy to do using custom Provider in OAuthAuthorizationServerOptions. In Your custom class (derived from OAuthAuthorizationServerProvider) all You had to do is to override `GrantCustomExtension`. This way You can for example give different permissions based on login type:

[code]

I'm looking for similar thing, because I'm thinking about moving my existin

[2017-07-07 10:27] generik0 opened #1308 "SignInManager, IUserManager and IRoleManager - Interfaces needed"
Hi

Why is there no interfaces for all the identity managers e.g.
SignInManager, IUserManager and IRoleManager. it is impossible to:

.AddUserManager<UserManager>()
.AddRoleManager<RoleManager>()
.AddSignInManager<SignInManager>()

Use case:
Is a standard (web) application we want to deploy to different sites with different user, role manages to be handled by the IoC
So that each enterprises speci

[2017-07-07 13:38] brockallen commented on #1283
IdentityServer: https://identityserver.io/

[2017-07-07 18:48] alexsorokoletov commented on #1283
@Misiu your approach looks interesting.
I'm not fond of what I ended up with.
My approach was to establish a trust between controller and custom `OAuthAuthorizationServerProvider` so that these guys can exchange tickets and basically run bearer tokens.

Having a JWT flow + Bearer token is an overkill when using this from mobile app, so I ended up with a simpler scheme.

I understand that there are

[2017-07-10 06:56] Misiu commented on #1283
@alexsorokoletov my custom `GrantCustomExtension` has about 50 lines of code. In it I have support for two custom grants, first (grant_type="sms_code_request") sends code to user prone number, and second (grant_type="sms_code") validates that code and returns valid JWT token.

@brockallen won't IdentityServer be an overkill? I don't need external auth providers, just single endpoint that would all

[2017-07-10 13:32] Tratcher commented on #1271
I meant application logs: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging

[2017-07-10 14:51] per3ian opened #1310 "UserRole table name does not change after inheriting form IdentityUserRole"
I could change IdentityCore tables name before. I used this code before and it worked.

[code]

but I needed to add some new properties to UserRole table. so I created a class and I inherited from IdentityUserRole<string> . now it added my properties but it does not changed table name. it changed to default name after inheriting. this is my class code :

[code]

and this is my modelbuilder :

[cod

[2017-07-10 15:33] alexsorokoletov commented on #1283
@Misiu could you maybe share your HTTP request flow (from the client side)?

[2017-07-10 16:11] PinpointTownes opened #1311 "Should Identity set DefaultForbidScheme and DefaultSignOutScheme?"
/cc @HaoK

[2017-07-10 16:26] HaoK commented on #1311
Those still fallback to Challenge/SignIn which are set

[2017-07-10 16:29] PinpointTownes commented on #1311
Sure. But wouldn't that be clearer if they were set by Identity? (+ it would avoid the fallback logic).
I discovered this oddity when creating my own "post initializer" for `AuthenticationOptions`, so I presume other people might be confused by that too.

[2017-07-10 16:31] PinpointTownes commented on #1311
BTW, is there any particular reason you need the double-fallback (`DefaultForbidScheme` -> `DefaultChallengeScheme` -> `DefaultScheme`), now that we have a universal fallback scheme (`DefaultScheme`)?

[2017-07-10 16:36] HaoK commented on #1311
Nothing has really changed conceptually, before we used DefaultAuthenticateScheme as the universal fallback scheme, now we have an explicit one.  Without the double fallback you'd have really weird behavior where challenge/forbid and sign in/out would be out of sync, its still possible if they set forbid/sign out without setting sign in/challenge, but that's almost certainly going to be something

[2017-07-10 16:39] PinpointTownes commented on #1311
That still seems too magical for me (a single fallback should be enough), but okay. Thanks for the explanation :sweat_smile:

[2017-07-10 16:39] #1311 closed

[2017-07-10 18:17] joaomello opened #1312 "Generating tokens and confirming other server/application"
Hi!
I'm generating `UserManager.GenerateEmailConfirmationTokenAsync` tokens (email confirmation) and confirming them on other server/application. But I always get `VerifyUserTokenAsync() failed with purpose: EmailConfirmation for user 7c86207c-af5d-4cd0-9ff9-f0aec8fb1add.`

I have already configures DataProtection
[code]

What could I missing?

[2017-07-10 18:46] eherrera commented on #790
Set ApplicationCookie.AutomaticAuthenticate to true:
`services.AddIdentity<MyIdentityUser, MyIdentityRole>(config =>`
               `                  {`
                        `config.Cookies.ApplicationCookie.AutomaticAuthenticate = true;`
                `}).AddEntityFrameworkStores<MyContext>()`
               ` .AddDefaultTokenProviders();`

[2017-07-10 19:04] eherrera commented on #790
//Identity must be placed before UseMVC()
app.UseIdentity();
app.UseMvc();
 [https://stackoverflow.com/questions/38968422/no-authentication-handler-is-configured-to-handle-the-scheme](no-authentication-handler-is-configured-to-handle-the-scheme)

[2017-07-10 19:57] joaomello commented on #1312
It's necessary to put same **ApplicationName**, too.

[code]

[2017-07-10 19:57] #1312 closed

[2017-07-11 12:35] Misiu commented on #1283
@alexsorokoletov I have two flows:

1. With password - standard flow:

- user makes request to /auth/login and sends grant_type=`password`, his login and password
- in return he gets JWT token that he must include in each request

2. Without password:
- user makes request to /auth/login and sends grant_type=`sms_code_request` and his login
- server (my API) generates one time code and send it to p

[2017-07-12 08:05] gladkiy commented on #1271
I think I found out what's the reason of that error. Unfortunatelly Logger didn't help me, but VS helped.
This is error - https://www.screencast.com/t/gllPne2r

So I have app with dynamic db connection strings.

In **Startup.cs ConfigureServices** method I have the following rows:
[code]

Inside **DbNameExtension.Get** method I did checking if request doesn't have extension then get db name else e

[2017-07-12 19:03] blowdart commented on #1310
Which version are you using?
Can we see your AddIdentity pieces and related calls from startup?

[2017-07-12 19:05] blowdart commented on #1308
Dupe of https://github.com/aspnet/Identity/issues/215

[2017-07-12 19:05] #1308 closed

[2017-07-12 19:06] blowdart commented on #1307
This is not the correct repo, not is it a source question. Honestly you'd be better off asking on Stack Overflow for general use questions like this.

[2017-07-12 19:06] #1307 closed

[2017-07-12 19:07] blowdart commented on #1306
As there's no Identity here, I'm moving this to security.

[2017-07-12 19:07] #1306 closed

[2017-07-12 20:36] generik0 commented on #1308
Thanks. Didn't see that...

[2017-07-13 10:18] smithaitufe commented on #1310
I am having an error with relation to UserRole as well. Here is the error

[code]
I am using DotnetCore 2.0.0 Preview2. I did not have this error in Preview1

Here are my classes
User.cs
[code]
Role.cs
[code]

[2017-07-14 14:50] marcosph opened #1316 "'User' does not contain a definition for 'Roles' and no extension method 'Roles' acceptiong a first argument of type 'User' could be found(are you missing a using directive or an assembly reference ?)"
I'm using net core Version="2.0.0-preview2-final"
Note: Image of the error
![one](https://user-images.githubusercontent.com/5003847/28216995-fab7a66c-6889-11e7-9bf6-64b775fbf796.png)

[2017-07-17 08:59] per3ian commented on #1310
@blowdart This is my ConfigureServices section :

[code]

[2017-07-17 09:40] seven1986 opened #1319 "violates the constraint of type parameter 'TUser'"
GenericArguments[0], 'WebApplication1.Models.AppUser', on 'Microsoft.AspNetCore.Identity.EntityFrameworkCore.UserStore`9[TUser,TRole,TContext,TKey,TUserClaim,TUserRole,TUserLogin,TUserToken,TRoleClaim]' violates the constraint of type parameter 'TUser'.

I spend much time, still can not sovle this issue, please help, thanks a lot!

![image](https://user-images.githubusercontent.com/20808494/282627

[2017-07-17 14:25] blowdart commented on #1310
@HaoK can you take a look?

[2017-07-17 15:39] MovGP0 opened #1320 "Missing the UserManager.VerifyPasswordResetTokenAsync method"
I want to implement a password change flow. Naturally I would expect it to work like this:

[code]
Unfortunately, I only find this method:
[code]
This makes it confusing what to use as token provider and purpose strings. Allowing to use custom token providers and purposes seems like a good idea, but when just starting out, there should be a default implementation.

[2017-07-17 15:45] MovGP0 commented on #1320
Implementation is pretty straight-forward:
[code]

[2017-07-17 17:11] HaoK commented on #1310
@per3ian please also include your ApplicationUser and xDbContext classes

[2017-07-18 05:47] per3ian commented on #1310
@HaoK @blowdart  this is my applicationUser class :

[code]

and my dbcontext :

[code]

[2017-07-18 07:05] series0ne commented on #1319
I believe I've had the same problem, documented [here ](https://stackoverflow.com/questions/45127666/aspnetcore-identity-custom-implementation-not-working)on StackOverflow.

The best answer given was

The constraint is `where TRole : IdentityRole<TKey, TUserRole, IdentityRoleClaim<TKey>>`. Since this is class constraint, there is no co/contravariance. IMO they simply forgot to add `TRoleClaim` gen

[2017-07-18 07:09] series0ne commented on #1319
In fact, the issue I posted above isn't exactly the same, but still closely related to this issue. The problem above is that custom identity types for `TUser`, `TRole` etc. can't be used with

`.AddEntityFrameworkStores<AppDbContext,long>()` and `.AddDefaultTokenProviders();` You need to implement all of this yourself.

See this article
https://github.com/aspnet/Identity/issues/1082

[2017-07-18 08:18] HaoK commented on #1319
This was fixed in 1.1, dupe of https://github.com/aspnet/Identity/issues/855

[2017-07-18 08:18] #1319 closed

[2017-07-18 08:20] HaoK commented on #1316
The navigation properties were removed from IdentityUser since we weren't populating them anyways, you will need to add them back in your application specific user class.

[2017-07-18 08:32] HaoK commented on #1316
I filed an announcement for this breaking change here: https://github.com/aspnet/Announcements/issues/263

[2017-07-18 08:32] #1316 closed

[2017-07-18 08:34] HaoK commented on #1320
You are looking for the ResetPassword method I believe:

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.Extensions.Identity.Core/UserManager.cs#L862

[2017-07-18 08:54] MovGP0 commented on #1320
No I don't. I want to implement the token verification.

[2017-07-18 18:10] fujiy opened #1321 "TicketDataFormat does not use the DataProtectionProvider configured."
The CookieAuthenticationOptions.TicketDataFormat (https://github.com/aspnet/Security/blob/bd19ba9533cfd3ffd81e4ef2c874109e8b3dbccd/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationOptions.cs#L125) says:

The TicketDataFormat is used to protect and unprotect the identity and other properties which are stored in the cookie value. **If not provided one will be created using DataPro

[2017-07-18 18:57] HaoK commented on #1321
Ugh, taking a look now, FYI @Tratcher

[2017-07-18 19:07] HaoK commented on #1321
@fujiy are you sure the post configure isn't running?  identity is just calling AddCookie: https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IdentityServiceCollectionExtensions.cs#L72

which adds the post configure for all cookies: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieExtensions.cs#L28

What versions are you u

[2017-07-18 19:16] fujiy commented on #1321
@HaoK I'm not sure if the cause is the PostConfigure not running. But it doesn't work if I set just the DataProtectionProvider

[2017-07-18 19:23] fujiy commented on #1321
The code changed a lot since 1.1.2: https://github.com/aspnet/Identity/blob/rel/1.1.2/src/Microsoft.AspNetCore.Identity/IdentityServiceCollectionExtensions.cs#L47

[2017-07-18 19:25] HaoK commented on #1321
So are you trying to share cookies with 1.1.2 and 4.5 or 2.0 and 4.5? or 1.1.2 and 2.0?

[2017-07-18 19:26] HaoK commented on #1321
Can you include both startups for both apps labeling which is which?

[2017-07-18 19:31] fujiy commented on #1321
Sure. They are just projects from scratch that I created to reproduce the steps documented at https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/cookie-sharing#sharing-authentication-cookies-between-aspnet-4x-and-aspnet-core-applications

I have a WebForms 4.6.2:

[code]

And a ASP.NET Core running on .NET Framework 4.6.2

[code]

[2017-07-18 19:33] HaoK commented on #1321
What version of the packages are you using for the Core app, 1.1.2?

[2017-07-18 19:35] fujiy commented on #1321
Yes, here is my csproj:

[code]

[2017-07-18 19:44] HaoK commented on #1321
Can you try https://github.com/blowdart/idunno.CookieSharing I believe that one might be more up to date.  cc @blowdart

[2017-07-18 19:45] blowdart commented on #1321
@Rick-Anderson Could you take a look at updating the docs from my cookie sharing sample if this works for @fujiy ?

[2017-07-18 19:45] HaoK commented on #1321
We'll also need to update it to work for 2.0 as well.

[2017-07-18 19:52] fujiy commented on #1321
@HaoK, the difference at https://github.com/blowdart/idunno.CookieSharing is that TicketDataFormat is configured.
I already sent a PR updating the docs: https://github.com/aspnet/Docs/pull/3761

[2017-07-18 19:55] fujiy commented on #1321
@blowdart, it's working for me when setting TicketDataFormat, I sent a PR to update the docs. But it seems more like a bug in version 1.1.2 of Identity.
The 2.0 version calls AddCookie, so it should work without setting TicketDataFormat

[2017-07-18 21:00] Rick-Anderson commented on #1321
@fujiy thanks for the PR. Any chance you could help update the doc for 2.0?

[2017-07-19 05:01] fujiy commented on #1321
@Rick-Anderson to be honest I haven't used 2.0 yet

[2017-07-19 12:28] kangze commented on #1301
i hava some question, did you get it? why Microsoft Dever did not care it?

[2017-07-19 19:05] blowdart commented on #1320
This was a deliberate design choice, to avoid the weird intermediate state of verifying a token, but not using it for an action. Your work around is correct, but its unlikely the flow/api will change, unless we get more people asking for this.

[2017-07-19 23:26] HaoK commented on #1321
So there's no issue here that we need to address right?  This is just how things worked in 1.x

[2017-07-19 23:33] fujiy commented on #1321
Right, we need to update the docs.

[2017-07-19 23:33] #1321 closed

[2017-07-20 07:55] usarskyy commented on #1036
Hi everyone,

can somebody explain why UseIdentity() call is required for reverse-proxy setup? Here is the code:
[code]

There is nothing special there except check for "IdentityMarkerService" registration, which is registered inside AddIdentity<>() call.
"AddIdentity" is also not required by itself for reverse-proxy, except for this line of code:

[code]
But even if I register this service by mys

[2017-07-20 12:17] dallancarr commented on #1036
@usarskyy I think you are correct. There is still confusion why you would need to call UseIdentity is this scenario.

[2017-07-20 21:50] usarskyy commented on #1036
@Vaiune did you use `AddIdentity<>()` before adding `UseIdentity()`? It seems to be the requirement right now. Unfortunately in my case it will require additional refactoring because authentication was built long time ago and it doesn't use ASP.NET Identity. That's why I'm trying to find another way that doesn't involve all this Identity stuff.

[2017-07-21 07:05] seven1986 opened #1323 "Doesn't support hierarchyid type"
I need add a property in ApplicationUser Class which datatype is hierarchyid.
How can I do that?

[2017-07-21 10:07] KalibGao commented on #1045
With time goes by , cellphone  is more and more frequently used in daily life .
Every country include EU , Telecom organizations managed well with the unique phone numbers ,
At global view sight, what we do is only append one more property  named ['CountryCode' or `AreaCode'](https://en.wikipedia.org/wiki/ISO_3166-1)

[2017-07-22 09:17] tlycken commented on #1301
@kangze I actually never managed to build this locally, mostly because I figured out what my real problem was anyway (I only needed a local build to step through with the debugger).

[2017-07-22 11:13] per3ian commented on #1310
@blowdart @HaoK  any news?

[2017-07-22 17:48] usarskyy opened #1325 "User manager constants should be publicly accessible"
Whenever somebody implements `IUserTwoFactorTokenProvider` interface, he usually wants to be able to verify token based on its purpose.
"purpose" argument comes from `UserManager` and all its values are currently hardcoded directly in `UserManager` as three constants:

[code]

The problem is that developer cannot reference those constants and would need to introduce "magic strings" in his code.

T

[2017-07-24 07:05] per3ian commented on #1310
I fixed this by adding IdentityUserRole after inherited class in my dbContext like this :

[code]

I dont know why but it works!
I mean my own fields added and table name changed!

[2017-07-24 12:32] ctolkien opened #1326 "SignInManager<T>.SignInAsync(user) persists more changes than expected."
(Using 2.0.0-preview2)

`await _signInManager.SignInAsync(user, isPersistent: true);` this will fire off a call to the database to persist information like the `LastLoginDate`. However, the update statement it issues will update _all_ properties on the `user` being passed in. This means that any other changes which have been made against `user` will be persisted against the database.

This is, at

[2017-07-24 19:59] sidshetye opened #1329 "ASP.NET Core Web App doesn't support in-app identity provider"
Using Visual Studio 2017 Preview (15.3.0 Preview 5.0) + .NET Core 2.0 we currently don't see an option to create an in-app / native / on-premise identity provider when selecting "Individual User Accounts". Nor do we see support for people coming from `Microsoft.AspNet.Identity.Core` 2.x. See image below which only shows Azure AD B2C. Having Azure hosting options is fine as opt-in but they shouldn'

[2017-07-27 22:18] craigahanson opened #1333 "Very difficult to unit test with SignInManager"
I am really struggling to add unit tests over a service I have developed which has a dependency on the SignInManager<TUser>. Is there a reason there is no interface for the sign in manager?

[2017-07-27 23:38] avechuche opened #1334 "Identity 2.0 issues - MVC 5"
Hi. I'm starting to use Identity in ASP .NET MVC 5 and I already have some questions

1) What is the function of the "Identity_UserId" column. In all tables that appear (UserRoles, UserLogins, and UserClaims), it is always "NULL".
It has an FK relationship with the Users table.

![1](https://user-images.githubusercontent.com/11781418/28696307-2c65235c-730b-11e7-8593-530f87c03ba2.JPG)

2) Why **awa

[2017-07-28 08:13] craigahanson commented on #1323
Can you not simply inherit from ApplicationUser and add the properties you want to your new class?

[2017-07-28 14:08] gregoryagu commented on #1187
@danroth27 So what does this mean?  Will it have to wait until aspnetcore 3.0? Or will it get released as part of an update to 2.0?

[2017-07-28 14:18] PinpointTownes commented on #1187
@gregoryagu

https://github.com/aspnet/Announcements/issues/253

[2017-07-28 17:15] PinpointTownes commented on #1283
If you like `OAuthAuthorizationServerMiddleware`'s low-level experience, you might want to give OpenIddict's underlying OIDC framework - [ASOS](https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server) - a try: it was forked from `OAuthAuthorizationServerMiddleware` and uses the same events model. Implementing custom flows is of course definitely supported.

For more information, you

[2017-07-29 05:33] MovGP0 commented on #1333
I have similar concerns about the dependencies on classes rather than interfaces. they should get removed. Ie. the constructor of `SignInManager` has a hard dependency on `UserManager<TUser>`, rather than on `IUserManager<TUser>` (which doesn't exist either).

My workaround so far was to subclass everything and put proper interfaces on them.

[2017-07-29 05:39] MovGP0 opened #1335 "*Manager classes lack cancellation support"
The `I*Store` interfaces (`IUserPasswordStore<TUser>`, `IUserEmailStore<TUser>`, `IUserClaimStore<TUser>`, `IRoleClaimStore<TRole>`, etc.) provide cancellation support by supporting a `CancellationToken`, ie. in case the connection to the database time out.

However, this is not exposed by the `Manager` classes, so a canceled HTTP request cannot cancel the database access.

[2017-07-29 05:55] MovGP0 commented on #1325
to be precise, those constants should be in a dedicated static class, rather than in the `SignInManager` (because of the Single-Responsibility-Principle).

[2017-07-29 06:48] MovGP0 opened #1336 "Some async methods are not named async"
Some of the methods which return a Task<T> are not named by the `xxxAsync(CancellationToken)` convention and should be renamed. The current interface should stay and be marked with an `[Obsolete]` attribute.

[2017-07-29 07:57] usarskyy commented on #1325
Single Responsibility Principle is about something else, but if those constants are extracted into a separate class, like is suggested by @MovGP0, that is easy to find (like FacebookDefaults for FacebookOptions, for example) then, as a developer, I would be also satisfied.

[2017-07-29 16:13] HaoK commented on #1336
Which methods are missing the Async suffix?

[2017-07-29 16:15] HaoK commented on #1335
Identity uses the RequestAborted cancellationToken from HttpContext by default, you can replace it with a different one by setting the property in 2.0 with a custom manager https://github.com/aspnet/Identity/blob/dev/src/Microsoft.Extensions.Identity.Core/UserManager.cs#L52

[2017-07-29 16:16] #1335 closed

[2017-07-29 16:20] HaoK commented on #1333
The main reason was we wanted the ability to add new API to the managers without causing breaking changes.  You can still mock the managers, see: https://github.com/aspnet/Identity/blob/dev/test/Microsoft.AspNetCore.Identity.Test/SignInManagerTest.cs#L197

What is it you are trying to do that an interface would let you do that you can't do today in your tests?  Effectively the manager types are th

[2017-07-30 00:17] shawnwildermuth opened #1337 "Preventing Redirect based on rules"
I used to do this with the CookieAuthenticationOptions, but it doesn't seem to be working in ASP.NET Core Identity Preview2. Any ideas?

[code]

[2017-08-01 00:17] PuttItOut opened #1338 "IIS Restarts Invalidate Identity Cookies?"
I am hosting a core 2 preview 2 app in IIS on windows 2012 R2 using AspNetCoreModule and whenever I restart IIS or Stop/Start, the identity cookies sent are not recognized after the restart.

I can not reproduce this any other way but by hosting in IIS and cycling the server process. Kestrel restarts work as expected when directly hitting the dotnet process.

I figure this is a configuration issue

[2017-08-01 00:24] DamianEdwards commented on #1338
Please see the instructions for configuring "Data Protection" when hosting under IIS at https://docs.microsoft.com/en-au/aspnet/core/publishing/iis

[2017-08-01 00:32] PuttItOut commented on #1338
Perfect! Thank you so much.

[2017-08-01 00:32] #1338 closed

[2017-08-02 04:02] penihel opened #1339 "Error on CreateUserPrincipalAsync when UserId is Guid.Empty"
I have a User (GUID as PK) that PK value is Guid.Empty (like a defult user)

When i call
`
var user = await _userManager.FindByIdAsync(Guid.Empty);
var principal = await _signInManager.CreateUserPrincipalAsync(user);
`
throws a Exception "value source is null"

Due this....
https://github.com/aspnet/Identity/blob/b355f59a013f263e7d41dbeca518ea96866640f0/src/Microsoft.Extensions.Identity.Stores/Use

[2017-08-02 18:02] blowdart opened #1341 "GDPR Support"
- [x] Extension points to enable encryption of user data
- [x] Extension point to enable downloading of user data
- [x] Extension point to enable deletion of user data

[2017-08-02 18:04] blowdart opened #1342 "Revisit and tidy up TOTP flow"
- [ ] Ability to back out of rolling keys
- [ ] Support for multiple tokens (Yubikey etc)
- [ ] Ability to turn off individual 2fa providers

[2017-08-02 18:05] blowdart commented on #1334
This repo is for ASP.NET Identity for ASP.NET Core, not for older versions I'm afraid. It looks like your linking is failing.

[2017-08-02 18:05] #1334 closed

[2017-08-02 18:21] blowdart commented on #1329
This could be a bug in your preview version.

![snip_20170802112038](https://user-images.githubusercontent.com/796298/28888226-b058be90-7774-11e7-97a5-ba06e33713d5.png)

[2017-08-02 18:21] #1329 closed

[2017-08-02 18:23] blowdart commented on #1323
This is more of an entity framework question, they would need to support it. @divega any idea on a timescale here?

[2017-08-02 18:24] vdevappa commented on #1329
When is this coming to VS 2017 RTM version?

[2017-08-02 18:47] sidshetye commented on #1329
It's not a bug - see the background window of my submitted screenshot (`WebAPI`)

[2017-08-02 18:47] sidshetye commented on #1329
I mean it's not a bug on my installation instance, it's a bug in the product / template itself as reported.

[2017-08-02 18:57] vdevappa commented on #1329
Then maybe someone should assign this bug to the VS 2017 team?

[2017-08-02 19:12] blowdart opened #1343 "Formalize interfaces for 2fa providers"
Mail providers, text providers etc.

[2017-08-02 19:13] blowdart commented on #1339
This is here because the PK can be anything (which people wanted a lot). So default for string, for example, is null, and that's not good.

It's a virtual method, so if it's blocking you, override it and implement your own.

[2017-08-02 19:15] blowdart commented on #1337
Linked to https://github.com/aspnet/Security/issues/1347

Cookie Auth is in the security repo, so closing this.

[2017-08-02 19:15] #1337 closed

[2017-08-02 19:17] blowdart commented on #1326
This is how POCOs/EF works unfortunately. Because LastLoginDate is a property of the user the entire user gets saved. We can't change it.

[2017-08-02 19:17] #1326 closed

[2017-08-02 19:17] blowdart commented on #1325
We'll look at this for 2.1

[2017-08-02 19:18] blowdart commented on #1310
OK closing because you've got it working :)

[2017-08-02 19:18] #1310 closed

[2017-08-02 19:19] #1288 closed

[2017-08-02 19:20] blowdart commented on #1271
It sounds like it yes, if you're not resolving the DB, its going to barf :)

[2017-08-02 19:20] #1271 closed

[2017-08-02 20:08] HaoK commented on #1337
What's not working here exactly?  Are you using identity or only a single cookies?

[2017-08-02 20:20] HaoK commented on #1325
We'll just make them public for now, we can consider extracting the constants into a shared class in the future, there is an IdentityConstants but its in the wrong layer for these purposes to go.

[2017-08-02 20:38] penihel commented on #1339
Nice, i agree.

Adictionally, i think the library would thrown a specifc exception for this. I spent 1 day debugging to find out the problem.

thanks

[2017-08-03 11:30] chassq commented on #1187
In general the identity xp over the years has been a tumultuous one (e.g. ASP Role/Membership, Identity, AD Integration, OWIN OAuth, etc..) It has kind of bounced us all over the place and caused a good bit of complexity and time consuming R&D. I hope this implementation ultimately comes down to making it easier for us not more complex! I want to spend more time thinking about my business requirem

[2017-08-03 13:47] mcquiggd commented on #1187
@chassq

I agree with your points regarding the `identity journey` we have had over the last few iterations. Also agree with the cost of Azure B2C

IDS4 is actually a very good attempt at making a highly complex subject, easy to use. The samples and documentation are thorough, <i>and its essential to understand the concepts behind the industry standards it employs, whatever backend you choose, in

[2017-08-03 15:21] blowdart commented on #1329
Oh, WebAPI

Yea, that's never been there in Core, in any shape or form.

It will come in v2.1, when we have a token service in box.

[2017-08-03 19:26] blowdart commented on #1339
A more specific exception sounds look. We'll look at this in 2.1

[2017-08-03 19:53] HaoK commented on #1339
object.equals shouldn't throw, what line are you seeing throw?

[2017-08-03 19:55] HaoK commented on #1339
Oh its due to id being null and != Guid.Empty() so it throws on id.ToString()

[2017-08-03 19:58] HaoK commented on #1339
So we are normalizing the default(Guid) to null, which is the proper behavior in this method, can you attach the callstack for your exception @penihel ?

[2017-08-03 20:00] #1325 closed

[2017-08-03 20:02] HaoK commented on #1341
Should tackle along with https://github.com/aspnet/Identity/issues/836

[2017-08-03 21:42] HaoK commented on #1341
@blowdart how do we want this encryption to work?  I.e. is this something that's done at the store level, so the public APIs don't really change, we'd just add a new service or two with some new options and our default EF implementation would use some kind of new IIdentityDataProtectionService that would basically a string Protect/Unprotect that the store would use automatically on most of the use

[2017-08-03 21:51] blowdart commented on #1341
Yea, I think we have a protect/unprotect (not encrypt/decrypt, that's a loaded term). It needs to be on a per object basis, and the stores call protect before writing, and unprotect after reading, then it's in plain text in memory (the regulations are aimed at protection at rest). We'd also need the protect/unprotect for individual items we lookup/search on.

I don't think we can limit it to just

[2017-08-03 21:55] HaoK commented on #1341
So you are thinking more like IIdentityProtector<TEntity> with Protect()/Unprotect() and it manipulates the POCO?

[2017-08-03 21:55] HaoK commented on #1341
This would be something the managers would do not the stores, we want the stores to be dumb simple and just responsible for serialization of the data.

[2017-08-03 21:56] blowdart commented on #1341
Or a copy of the Poco, so we don't mutate the clear text one. managers doing it are fine.

[2017-08-03 21:56] HaoK commented on #1341
Not sure we can copy without doing bad things to EF...  @divega @ajcvickers thoughts?

[2017-08-03 21:57] blowdart commented on #1341
Clone doesn't work? Bah. Well then we'd unprotect on the way back out. Which is expensive :(

[2017-08-03 21:58] HaoK commented on #1341
That sounds pretty terrible...Let me noodle around a bit

[2017-08-03 21:59] blowdart commented on #1341
Thing is, if we change it, well, if the user tries to use the instance after saving, it's going to be full of unintelligible crap.

[2017-08-03 22:01] HaoK commented on #1341
Yup, not really sure how we can make this work, I guess clone before save is cleanest there

[2017-08-03 23:21] divega commented on #1341
We should chat about this in depth. At this point I cannot think of a way this could be implemented without adding a new layer of indirection that would impact the whole Identity stack, unless protection can happen "transparently" in layers below Identity.

E.g. one of the stretch goals for EF Core in 2.1 is to enable setting up "conversions" as part of the mapping, which need to be applied when p

[2017-08-03 23:35] Eilon commented on #1187
One of the goals here is to at least standardize on the OpenID Connect (OIDC) protocol. That makes it a lot easier to swap out the back end. If you started with one backend and need to switch to another, you still have to figure out how to migrate your data (that's nearly always true anyway), but at least the app's frontend shouldn't need to change.

[2017-08-04 11:54] ssteiner opened #1345 "Running synchronous methods on UserManager means UserStore methods have no access to HttpContext.Current"
I've built my own simple UserManager and SigninManager with a custom store storing accounts to a json file.

While testing, I came across something peculiar - in the end, the demonstrator serves as a template for a bigger endeavor where the IUserStore is based on a REST service, and to make remote calls, I need access to HttpContext.Current inside the IUserStore implementation.

Yet every so often

[2017-08-04 12:04] rishikeshjadhav commented on #665
@steve-warwick  This worked like charm :)

[2017-08-04 12:12] penihel commented on #1339
about the full stack, I dont have it now. But i will reproduce again and post it soon.

But, the specific line is that
https://github.com/aspnet/Identity/blob/eb3ff7fc32dbfff65a1ba6dfdca16487e0f6fc41/src/Microsoft.Extensions.Identity.Core/UserClaimsPrincipalFactory.cs#L77

thank you

[2017-08-05 00:45] javiercn opened #1346 "Issue creating tokens using a certificate in full framework"
Tracking issue for: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/667

[2017-08-06 09:13] stuart-lawrence opened #1347 "Email with two factory email verification"
The IdentityConfig RegisterTwoFactorProvider does not accept html email template

this code fails as input string not in correct format:

  var m = new IdentityMessage()
            {
                Subject = "Email verification token",
                Body = "Your token code is {0}"
            };

            string body = helper.GetPartialViewString("~/views/Shared/emailTemplates/_UserVerifyCo

[2017-08-07 18:55] HaoK commented on #1149
Looks like everything was undone now as all the linked issues are closed merged

[2017-08-07 18:55] #1149 closed

[2017-08-07 19:05] HaoK commented on #1342
Some of these are template issues.  But we'll need to change identity to have the 2fa cookies also sign out everywhere when the security stamp changes which it doesn't do today...

[2017-08-07 23:27] valcs007 opened #1349 "SecurityException: Unable to retrieve security descriptor for this frame."
Getting this  below error in my ASP.Net Core 1.1 app/IIS 8.

Tried to impersonate @ middleware level but ran into various issues, so trying to impersonate as a actual windows user instead of IIS app pool user @ the controller level.

Have this below code in my controller
[code]

**Error:**
SecurityException: Unable to retrieve security descriptor for this frame.

Any help will be appreciated.;

[2017-08-08 08:40] Jenan opened #1350 "IdentityUserToken - how works this "table""
Hello,

how works this table - IdentityUserToken, what is the purpose of this table?

I can't find the relationship with other objects becuase I've use the external providers but this table is still empty. :)

Thank you for your clarification.

[2017-08-09 03:46] liamdawson opened #1352 "When using `CheckPasswordSignInAsync`, how should you protect against timing attacks?"
Within a multi-tenanted environment (without public registration), we use `CheckPasswordSignInAsync` as one of the login steps (as we also need to check permissions before logging in, too). When the user does not exist in the system, how can I effectively still run a hash before returning, so that the existence/absence of the user isn't given away via a timing attack?

I haven't measured yet, but

[2017-08-09 04:09] benaadams commented on #1352
Not strictly serious, but you could do:
[code]

@blowdart might have a more sensible suggestion...

[2017-08-09 10:31] flatproject commented on #926
Sorry for digging out this but since it's not closed I would like to ask if we will be able to get a list of users with their roles by default at any of the forthcoming versions?
An official example of how to get a list of all users with all their role names would be great whether the above functionality requested is implemented or not.

[2017-08-09 10:46] rmja commented on #1290
I am having the same problem. A fix is to explicitly set the foreign key when creating the model, e.g.:

[code]

I think the problem is related to the removal of the navigation properties in https://github.com/aspnet/Announcements/issues/263.

[2017-08-10 02:46] slaneyrw opened #1353 "SignInManager.PasswordSignInAsync resets AccessFailed count before checking TwoFactor enabled"
I would have expected that if a user has a second factor enabled that getting the password correct would not reset the access count.

This means that you could attack the second factor by passing the password screen every (x-1) failed codes.

Consider only resetting AccessFailed if TwoFactor is not enabled/available

[2017-08-10 05:05] kodithuwa opened #1354 "Set IdentityOptions values when project runs"
Hello,
I have try to dynamically set DefaultLockoutTimeSpan value because it is needed to change from frontend.
what i did, IdentityOptions gets into my service with injecting constructor and change its value. but, seems it is not effected to configured Identity service. how can i change identity options values when project runs?
Thanks
CK

[2017-08-10 10:06] urbanhusky commented on #724
Why is this issue closed?
I do think it is rather ugly and unsafe (encapsulation etc.) to have to manually include required referenced entities, when they are part of the user identity.

Instead of being able to rely on `await userManager.FindByNameAsync(username)` we have to wrap that in a separate service and remember that we cannot use `UserManager` for reading?

[2017-08-11 15:35] khaledelmahdi opened #1355 "Phone Number Validation (without two-factor authentication)"
I am trying to validate that the user entered a valid email address and phone number. I don't want to use them for two-factor authentication, just to confirm that we have both valid email and mobile.

The email part is working fine. My issue is with the phone part.

This is what I am doing:

1. The user register and I insert the data as follow:

[code]

2. Email verification happen.

4. When the u

[2017-08-11 18:19] HaoK commented on #1333
We still unit test them and fake them in the tests whether or not they are interfaces or classes, you can still use something like Moq to fake and inject them, see:

https://github.com/aspnet/Identity/blob/dev/test/Shared/MockHelpers.cs#L19

[2017-08-14 17:27] #1180 closed

[2017-08-14 20:10] HaoK commented on #1029
Fixed via https://github.com/aspnet/Identity/pull/1348/files#diff-e4eb25d41ae824584d1c4c8a9b91a7e4R2321

UpdatePasswordHash protected

[2017-08-14 20:10] #1029 closed

[2017-08-14 21:54] javiercn opened #1356 "Add functional E2E tests for Identity as a service"

[2017-08-14 23:00] javiercn opened #1357 "Cleanup test website and sample"

[2017-08-14 23:02] javiercn opened #1358 "Support multiple client secrets"
* Provide a name for a given client secret.
* Provide an expiration date for a given client secret.

[2017-08-14 23:06] javiercn opened #1359 "Cleanup startup experience"

[2017-08-15 10:29] Elfocrash opened #1360 "Multiple Identities with different token providers"
_From @Elfocrash on August 15, 2017 10:15_

## Intro

On my application I need to have two different Identities with different options for each Identity.
What I initially did is to simply add the identities with `services.AddIdentity<AdminUser, IdentityRole>`, `services.AddIdentity<User, IdentityRole>`
and do a `.AddDefaultTokenProviders()` at the end of the call, as the project does anyway.

## T

[2017-08-15 10:29] Elfocrash commented on #1360
_From @davidfowl on August 15, 2017 10:20_

This should be moved to http://github.com/aspnet/Identity/.

[2017-08-15 10:29] Elfocrash commented on #1360
@davidfowl I actually just saw that Identity is it's own project. Should i close it and recreate it in Identity or is that something you can do?

[2017-08-15 10:29] Elfocrash commented on #1360
_From @davidfowl on August 15, 2017 10:27_

https://github-issue-mover.appspot.com/ 😄

[2017-08-15 12:02] andrew-vandenbrink opened #1361 "How to include Roles in IdentityUser?"
https://github.com/aspnet/Identity/commit/f555a26b4a554f73eea70b4b34fca823fab9a643

I see the change by making roles optional....
As I need to use the roles in IdentityUser, how can I do that?
Not using compatibility namespace I hope...

[2017-08-15 13:48] andrew-vandenbrink commented on #1361
[code]

Once I add this to my poco object, another issue come up, it seems IdentityRole property changed from RoleId to Id

[2017-08-15 15:16] sebastianbk opened #1362 "Infinite redirect loop to /Account/Login on Azure Web App"
I have just upgraded my ASP.NET Core app to `netcoreapp2.0` following both the general guide for migrating from [1.x to 2.0](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/) and the guide for migrating to [the new Identity interfaces](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x). After a bit of debugging, I got it to work on my local dev machine wit

[2017-08-15 15:46] JanEggers commented on #1361
hi @andrew-vandenbrink  same issue here although i got a little further: it has to be `public ICollection<IdentityUserRole<string>> Roles { get; set; }` because user to role relation is m2n. that way my code is compiling but have trouble when starting. if i do nothing ef generates another user id property in the userroles table.

then i added the following in OnModelCreating

`builder.Entity<MyUse

[2017-08-15 16:22] HaoK commented on #1362
That's weird it looks like your error page is requiring you to be logged in?  Do you hvae an [Authorize] on your error page?  /Home/Error?

[2017-08-15 16:37] HaoK commented on #1354
Resolve `IOptions<IdentityOptions>` and configure DefaultLockoutTimeSpan however you like dynamically

[2017-08-15 16:45] HaoK commented on #1345
This repo is only for Identity on AspNetCore, you appear to be using the older versions of aspnet/identity in your sample, feel free to file this issue over at https://aspnetidentity.codeplex.com/workitem/list/basic

But in general yes, async can cause issues with HttpContext.Current if it runs on a different thread.

https://stackoverflow.com/questions/19111218/httpcontext-current-null-inside-asy

[2017-08-15 16:45] #1345 closed

[2017-08-15 16:46] HaoK commented on #1336
Closing due to inactivity, feel free to reopen with specific instances

[2017-08-15 16:46] #1336 closed

[2017-08-15 17:16] brijesh-1111 opened #1363 "IdentityBuilder is missing in Identity-rel-2.0.0 compare with Identity-rel-2.0.0-preview2"
Hi Team,

Compare to `Identity-rel-2.0.0-preview2,` `Identity-rel-2.0.0` is not having the extension methods like `AddCookieAuthentication`?

When I was comparing the file `IdentityServiceCollectionExtensions.cs` under `Microsoft.Extensions.DependencyInjection` (between both the version) I found that  #using `Microsoft.AspNetCore.Builder`  namespace is not there in release version.

Can I ask, wha

[2017-08-15 18:00] HaoK commented on #1363
See https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x

[2017-08-15 18:01] HaoK opened #1364 "2.0 Migration Questions/Issues"
Consolidated thread for any migration questions and issues for identity

Official migration doc: https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x

[2017-08-15 18:02] HaoK commented on #1363
If you have any further questions after reading the doc, please use this issue: https://github.com/aspnet/Identity/issues/1364

[2017-08-15 18:02] #1363 closed

[2017-08-15 18:08] HaoK commented on #1360
Yeah today there's only really support for a single identity options and related managers that consume them (you could have multiple managers with different entities, but they would all have to share the same options today).  We could address this by switching to named options if this is something frequently asked for.

With the token providers, you can always drop down and configure them on the m

[2017-08-15 18:38] Elfocrash commented on #1360
I didn't have any luck configuring them on the manager as they have to be set to used by the manager somehow and the options are again system wide.

It would be helpful separating them moving forward especially for saas products.

[2017-08-15 20:51] sebastianbk commented on #1362
No, I don't. Everything worked fine under v1.1. Then I did the upgrade and it stills works on my dev machine with IIS Express. However, when deploying to Azure, it doesn't.

Is there any diagnostics info I can extract, which would be helpful to you? Or parts of my code you are interested in?

[2017-08-15 21:11] baumatron opened #1365 "dotnet new mvc --auth Individual CreateIdentitySchema class breaks Sqlite migrations"
Not sure if this issue might belong in https://github.com/aspnet/Mvc or elsewhere.

Looks like the generated CreateIdentitySchema class needs to be updated to match the current models used for identity so as to not create a migration requiring an `AddForeignKey` operation which isn't supported by Sqlite.

A simple way to repro the problem:
[code]
Produces the error:
[code]

The `dotnet db database

[2017-08-16 00:44] svallis commented on #1269
@HaoK This was a breaking change for me and I'd like to add the functionality back in. The migration docs [here](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x) says:

I was using the roles collection on the user and the users collection on the role, but they used to operate without needing to traverse the link table. How, specifically, can I restore that exact functio

[2017-08-16 01:18] HaoK commented on #1269
You need the navigation property to be pointing at TUserRole, which is what it was in 1.x:

In 1.x: IdentityDbContext.OnModelCreating:
[code]

In 2.x:
[code]

[2017-08-16 03:35] AZDeveloper777 opened #1367 "Document Branches"
Hi !
Please consider a cleanup and document effort for this repository.
I'm an experienced developer (20+ years). I'm still fairly new to Git and GitHub, but I feel like I should have been able to come to the main page for this repository and be able to answer these questions:

1.  If I create a new VS2017 Project of the type "ASP.NET Web Application (.Net Framework)", choose the MVC template, cli

[2017-08-16 07:28] sebastianbk commented on #1362
@HaoK, thanks for trying to help me out. I managed to attach a remote debugger on my site, I realized I was getting this error:

See the stack trace below.

I am confused about this error, as I am indeed including `Microsoft.AspNetCore.All`, which should contain the latest version of the Application Insights SDK. It says so in the migration guide:

How come I am getting this error in my Azure Web

[2017-08-16 07:28] #1362 closed

[2017-08-16 08:43] svallis commented on #1269
Thanks @HaoK - for some reason I had in my head that the many to many relationship was exposed through the navigation properties without having to go through the link table, I guess due to the name of the properties. Appreciate the clarification.

[2017-08-16 12:08] andrew-vandenbrink commented on #1361
@JanEggers thanks, as you suggest it should be **IdentityUserRole** instead of IdentityRole
Once I change it to that, I can at least SignIn now.

I still have another issue during upgrading the razor thus I can't test your case yet...

[2017-08-16 12:17] MaximBalaganskiy commented on #1361
I just "stole" a line from the sources
[code]

[2017-08-16 18:41] madmunsterdaddy commented on #1364
I'm pretty confused by migrating custom user types as in https://github.com/aspnet/Identity/issues/1001.

So, just like that scenario I have a custom User object, but everything else just uses a Guid Key.

So I do this...

            services.AddIdentity<User, IdentityRole<Guid>>()
            .AddEntityFrameworkStores<REV23DbContext>()
            .AddDefaultTokenProviders();

And get this..

'A

[2017-08-16 19:10] adeministr commented on #1361
how can i migrate to core 2.0?
 public class ApplicationUser : IdentityUser {}
public class ApplicationRole : IdentityRole{}
public class ApplicationUserRole : IdentityUserRole {}

[2017-08-16 20:11] baumatron commented on #1365
Closing this. I've created an issue here which seems more appropriate: https://github.com/dotnet/templating/issues/1211

[2017-08-16 20:11] #1365 closed

[2017-08-16 20:13] chadwackerman2 commented on #1364
@madmunsterdaddy I immediately hit the same issue as well. And I also cannot figure out what I'm supposed to implement.

[2017-08-16 21:04] erwinwildenburg opened #1368 "Always correlation error on Azure Webapp on Linux (docker)"
The application I'm trying to get to work is a basic IdentityServer4 app with ASP.NET Core 2.0.
When running locally it works (using just "dotnet run" and in a Docker container).

When publishing the Docker container to Azure Webapp on Linux I get a correlation error (see stacktrace below).
I actually have no clue what is going on...

Local IdentityServer4 authentication is working, but the Azure

[2017-08-16 23:40] MaximBalaganskiy commented on #1361
@adeministr I did the following which was enough
[code]

[2017-08-17 01:41] pealmeid commented on #1364
I'm having the same issue, any help is appreciated.

[2017-08-17 02:12] mxa0079 opened #1370 "`UnauthorizedAccessException` thrown when checking if a user is SignedIn while using IIS Windows Authentication and"
When using EF Identity along with IIS Windows Authentication, the [SignInManager](https://github.com/aspnet/Identity/blob/eb3ff7fc32dbfff65a1ba6dfdca16487e0f6fc41/src/Microsoft.AspNetCore.Identity/SignInManager.cs) throws a `UnauthorizedAccessException` when checking if the user is signed in (line 120).

The root cause of the issue [is described here](https://github.com/aspnet/IISIntegration/issue

[2017-08-17 02:16] pealmeid commented on #1364
I changed my code to use a user-defined Role class instead of `IdentityRole<int>` and apparently it's working now.

I was using `services.AddIdentity<User, IdentityRole<int>>`  in `ConfigureServices` and getting the error.

I created a class `MyRole`:

    public class MyRole : IdentityRole<int>
    {
        public PtaServerRole() : base()
        {
        }

        public PtaServerRole(string

[2017-08-17 05:52] JanEggers commented on #1361
@MaximBalaganskiy  tried your code, but it does not work for me. when i add a migration ef still creates another MyUserId column like that: (from ModelSnapshot)

[code]
that is quite confusing as the modelbuilder in onmodelcreating seems to pick it up correctly (OnModelCreating => builder.Model.DebugView)

[code]

[2017-08-17 07:26] MaximBalaganskiy commented on #1361
I did have a duplicate column before I added the manual mapping for the
navigation property

On 17 Aug 2017 3:52 PM, "JanEggers" <notifications@github.com> wrote:

[2017-08-17 09:26] andrew-vandenbrink commented on #1361
This was working in version 1, I'm not quite a fan of EF, is this caused by the same issue that you are facing now @JanEggers ?
[code]

[2017-08-17 10:09] MaximBalaganskiy commented on #1361
I had the same issue when there was no mapping setup for the navigation property. In this case EF creates the default mapping which has a different column name.

[2017-08-17 10:45] JanEggers commented on #1361
@andrew-vandenbrink : jup that is exact my issue.

@MaximBalaganskiy: as i said i used your code and the mapping is still wrong

[2017-08-17 10:51] JanEggers commented on #1361
@HaoK official feedback would be very welcome btw

[2017-08-17 10:53] MaximBalaganskiy commented on #1361
I haven't actually tried to create a new migration. Just with this change current code base works with the existing DB. It might be that the current snapshot is out of sync with models and this is preventing migration engine from working correctly

[2017-08-17 10:59] MaximBalaganskiy commented on #1361
@JanEggers I guess it would make it faster, if you had a reproduction repo

[2017-08-17 11:03] andrew-vandenbrink commented on #1361
@JanEggers I just add what @MaximBalaganskiy suggest
![image](https://user-images.githubusercontent.com/12871379/29409390-3fa1c014-834c-11e7-85c9-b7dfae612dc8.png)

I don't run any ef migrations and it just works

[2017-08-17 11:11] MaximBalaganskiy commented on #1361
@andrew-vandenbrink if this workaround creates the identical snapshot then it's fine. I got an impression that the following migration failed. This could mean that models and current snapshot are out of sync. But again, can only be confirmed with the demo repo.

[2017-08-17 11:13] JanEggers commented on #1361
@andrew-vandenbrink thx for the context i had my line before calling base.OnModelCreating(builder).
when putting it after that line it works.

[2017-08-17 12:24] andrew-vandenbrink commented on #1361
@MaximBalaganskiy I brave enough to try migration...

[code]

![image](https://user-images.githubusercontent.com/12871379/29411206-19c3d8c0-8354-11e7-8ef3-13525bc662ce.png)

[code]
![image](https://user-images.githubusercontent.com/12871379/29411229-35d6a9de-8354-11e7-802d-d51097a8c3ea.png)

![image](https://user-images.githubusercontent.com/12871379/29411955-241dc490-8357-11e7-9cda-fbb12a4fe81c.p

[2017-08-17 12:33] andrew-vandenbrink commented on #1361
@HaoK is this workaround expected or I miss something?

[2017-08-17 13:02] MaximBalaganskiy commented on #1361
That mapping was copied from the previous identity context code for SQL
server. I suggest you checkout identity repo for 1.2 and copy the
respective line from sqlite related context

On 17 Aug 2017 10:33 PM, "andrew-vandenbrink" <notifications@github.com>
wrote:

[2017-08-17 18:10] nixxholas commented on #1364
Here's what I've faced so far.

<img width="1439" alt="screen shot 2017-08-18 at 2 09 04 am" src="https://user-images.githubusercontent.com/4703269/29426763-482bff9c-83ba-11e7-977c-bc18bc6d0332.png">

Didn't modify anything related to roles...

[code]

[2017-08-17 23:20] joalcava opened #1372 "How DefaultTokenProviders Work?"
Hello everyone. I'm new to Identity, I have created a new application and now I'm testing with some users.
I have found that my confirmation emails does not last more than 24 hours.
My question is: Is this the expected behavior or it is because i have a bug in my code?.
And if that is the expected behavior how can i change the token expire time.
Thank you!

[2017-08-17 23:21] chadwackerman2 commented on #1364
@nixxholas I've tried this a few ways now and my results are incomprehensible exception message of similar length.

Middleware gotchas are impossible to debug. Let alone when two of the dorkiest technologies Microsoft ever released -- Identity and Entity Framework -- partner up at the dance.

This was an entirely unnecessary break. The people who keep deleting things and moving functions from asse

[2017-08-18 02:55] HaoK commented on #1372
Take a look at https://github.com/aspnet/Identity/issues/859, that's basically the same issue

[2017-08-18 02:55] #1372 closed

[2017-08-18 03:06] HaoK commented on #1364
It looks like there's a bug with AddEntityFrameworkStores that prevents using the generic base IdentityRole<TKey> directly, @pealmeid 's workaround of using a dervied TRole should work

@nixxholas what's your startup look like? particularly the AddIdentity section?

[2017-08-18 03:08] HaoK commented on #1364
@madmunsterdaddy you need to do the same thing, introduce a dervied class `MyRole: IdentityRole<Guid>` to workaround the bug preventing the base generic from being used directly.

[2017-08-18 03:10] HaoK opened #1373 "AddEntityFrameworkStores blocks using the generic IdentityRole<TKey> directly"
The check should allow using the generic type directly, instead of requiring a derived type.

`AddIdentity<ApplicationUser, IdentityRole<int>>` won't work
while
`AddIdentity<ApplicationUser, ApplicationRole> where ApplicationRole : IdentityRole<int>` works

@ajcvickers @blowdart this is hitting a lot of people, something we can consider fixing in the next patch as it should be a low risk fix.

[2017-08-18 03:40] nixxholas commented on #1364
@HaoK
[code]

[2017-08-18 06:19] andrew-vandenbrink commented on #1361
He doesn't care to comment in this thread but here is his answer

![image](https://user-images.githubusercontent.com/12871379/29446647-9d15fd36-83ed-11e7-8d77-d25bdaa62046.png)

In other word, the workaround is needed.

[2017-08-18 06:19] #1361 closed

[2017-08-18 10:40] VahidN commented on #1364
Cookie.SecurePolicy value in `AddApplications` method is set to
[code]
Which means HTTPS only and local development will also need to be done with HTTPS urls.
I'm sure you will see these kind of issues very quickly:
- I can't login anymore.
- `PasswordSignInAsync` doesn't work anymore.
- `PasswordSignInAsync` doesn't set any cookies at all.

It would be better to set it to
[code]

[2017-08-18 11:02] nixxholas commented on #1364
This will no longer generate a user friendly token for the user to input in conjunction with Twilio.

`var code = await _userManager.GenerateChangePhoneNumberTokenAsync(user, model.PhoneNumber);`

[2017-08-18 13:37] gregoryagu commented on #1187
@mcquiggd, @chassq  I looked at the current cost of AzureB2C.  For less than 1,000,000 users, the cost works out to 18 cents per month based on 50 logins per month ($0.0028 each login), plus 1.1 cents per user per month. Add in Multi-Factor auth at once per month at 3 cents each.

That seems pretty reasonable pricing to me.

Am I missing something?

[2017-08-18 13:39] gregoryagu commented on #1187
I watched @danroth27 build demo of Identity As A service and it seems pretty cool to me.  Is there a way to get the bits for this so I can give it a spin?

[2017-08-18 14:11] chassq commented on #1187
The azure price calculator (see https://azure.microsoft.com/en-us/pricing/calculator/ ) has 1 million stored users at $1,045.00/Mo. Add 1 million authentications = $2,660.00/mo. Add 10,000 multi-factor = $300/mo for a total of $4,005.00/mo. So please tell me what I have wrong here. Am I not using the calculator correctly?

[2017-08-18 14:21] gregoryagu commented on #1187
Your calculations comes to one half cent per user, per month.   If it's a totally free app with several million users, I can see the case for rolling your own auth.  But that seems pretty reasonable to me for a paid app.

[2017-08-18 14:51] chassq commented on #1187
Yep. If they drop the price they could gain more adoption and become a defacto for Identity. And make it far easier on the dev community by having one place to turn for Identity. Just look at the costs for Azure Functions. An execution is next to nothing by comparison. Why is Identity so expensive? A stored user cannot take that much disk space and an authorization should be on par time and resour

[2017-08-18 16:18] mcquiggd commented on #1187
You will always have considerably more authentications than 1 per user per month.

If not, your app is a failure.

Compare the above cost estimated by @chassq - $4,005.00/mo. which assumes the very low active authentication rate of 1 per month:

Hosting my own IdentityServer on an auto-scaled App Service, Standard Level, even with _3 permanently running S1_ instances that never auto-scale down dur

[2017-08-18 16:38] chassq commented on #1364
We have extended SignInManager<TUser> and created an override for
 `public override async Task SignInAsync(TUser user, bool isPersistent, string authenticationMethod = null){}`

When we call
`await Context.Authentication.GetAuthenticateInfoAsync(scheme.Name);`
`var scheme = await SchemeProvider.GetSchemeAsync(Microsoft.AspNetCore.Identity.IdentityConstants.ExternalScheme);`

The code throws an exc

[2017-08-18 16:51] chassq opened #1374 "Cannot get AuthenticateInfo in Extended SignInManager Class"
How in Core 2.0 would we get the Microsoft.AspNetCore.Http.Authentication.AuthenticateInfo class if we are extending the SignInManager<TUser> class. In Specific we have a ctor:

[code]

And an override method:

`public override async Task SignInAsync(TUser user, bool isPersistent, string authenticationMethod = null)`

In the method we need the AuthenticateInfo:
`var scheme = await SchemeProvider.G

[2017-08-18 16:53] ajcvickers commented on #1373
@HaoK Yes, we should try to patch this. if you get fix done as a priority and I'll see if there is still time to get it approved for 2.0.1.

[2017-08-18 17:00] madmunsterdaddy commented on #1364
Ok, created my new derived type per @HaoK

`    public class Role : IdentityRole<Guid>
    {
        [System.Diagnostics.CodeAnalysis.SuppressMessage("Microsoft.Usage", "CA2214:DoNotCallOverridableMethodsInConstructors")]
        public Role()
        {
            Id = Guid.NewGuid();
        }
    }`

Then I use it in AddIdentity

`            services.AddIdentity<User, Role>(o =>
            {

[2017-08-18 17:33] Bartmax commented on #1187
Just to be clear, Auth0 is kind-of the same stupid 💸 pricing model.
When one player enters the market and takes all the developers don't 😢 and said we didn't warn you.

I wish I could use xxxx (insert name Azure, Auth0, whatever) for identity.
As of right now, we are *strongly* suggesting all our customers/clients to roll their own login mechanism. With libraries like open iddict I really don't se

[2017-08-18 17:48] jvelezc opened #1375 "Updated 2.0 but now IDesignTimeDbContextFactory vs IDbContextFactory"
The compiler states
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0619	'IDbContextFactory<ApplicationDbContext>' is obsolete: 'Use IDesignTimeDbContextFactory instead.'

However, I do not see any way of doing what I used to do using IDbCOntextFactory. In my case I was using IDbContextFactory to apply migrations from 1 project without having to pass connection string and set

[2017-08-18 18:51] benaadams commented on #1187
@chassq multi-factor is sms based; which has a 3rd party cost per auth. You are better using the authenticator app version for 2fa that's in 2.0 (also advised to use it instead of sms based 2fa as per current security advice) so that shouldn't be a cost worth worrying about?

[2017-08-18 19:20] chadwackerman2 commented on #1364
@madmunsterdaddy I don't think you need either of those HasKey lines. The type becomes a primary key automatically. For now try commenting them out. It won't fix things but you'll get farther.

[2017-08-18 23:37] dchristensen opened #1376 "Using Identity with JWT Authentication"
I have an API that is using a ASP.NET Core Identity and JWT tokens.  The application is only using the Identity system to manager users (adding, removing and updating passwords & profile data), not to do any kind authentication (that is handled externally).  I am now trying to port this application from ASP.NET Core 1.x to 2.0 and running into problems.  Prior to 2.0 I could call `services.AddIden

[2017-08-19 03:06] HaoK commented on #1376
Yeah, try `AddIdentityCore()` https://github.com/aspnet/Identity/blob/dev/src/Microsoft.Extensions.Identity.Core/IdentityServiceCollectionExtensions.cs#L22

[2017-08-19 03:11] HaoK commented on #1370
If you are using windows auth, you can probably just replace the call to SignInManager with something like User.Identity.IsAuthenticated

[2017-08-19 05:37] chadwackerman2 commented on #1364
In addition to the breaking change in IdentityServiceBuilderExtensions.cs, the file was not renamed properly so history was lost. Digging it up, the changes make no sense. Also, the services used to be AddScoped but now they are AddTransient which explains some of the breakages I'm seeing all over the place.

All the call used to do was this:

[code]

Everything about it is now broken.

[2017-08-19 20:39] plaisted commented on #1375
Think this is EntityFramework question not identity. See https://github.com/aspnet/Announcements/issues/258 for more information about the changes.

If you look at the error it tells you to use `IDesignTimeDbContextFactory`. From the link above they simply renamed `IDbContextFactory` to `IDesignTimeDbContextFactory` and removed the `DbContextFactoryOptions` parameter (that you weren't using anyway

[2017-08-19 21:06] hardhub commented on #1175
How to set CookieName?

[2017-08-19 21:51] jkotalik commented on #1175
It is now on the CookieBuilder instead of CookieAuthenticationOptions. CookieBuilder lives in [HttpAbstractions](https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http.Abstractions/CookieBuilder.cs).

[2017-08-19 22:54] hardhub commented on #1175
I think I have found it...
https://github.com/aspnet/Announcements/issues/257

[2017-08-20 05:06] HaoK commented on #1374
Http.Authentication and all its classes have been depricated in favor of https://github.com/aspnet/HttpAbstractions/tree/dev/src/Microsoft.AspNetCore.Authentication.Abstractions

You would just call context.AuthenticateAsync(scheme) in 2.0, AuthenticateInfo is now AuthenticateResult

[2017-08-20 07:05] chassq commented on #1374
Ok thanks! But how can I get to the cookie settings that we configured in ConfigureApplicationCookie in startup.cs? We used to get to them via IdentityOptions. AuthenticateAsync returns null for properties both pre and post Sign in call. For example the Properties property is null no matter when we call AuthenticateAsync. What would I be missing?

[code]

[2017-08-20 21:07] wdominik commented on #1355
Got the same issue with 2.0.0 final. I migrated to the new way of 2FA but I still need SMS for urgent user communication and phone verification is required for obvious reasons.

I suggest to either change this back to 6 digits code which are more reasonable in this case (imho) or provide a way to configure the behavior.

Thanks!

[2017-08-21 00:31] hahn-kev opened #1378 "User Id null error ambiguous"
I've been working with aspnet Identity recently, I've run into an issue a couple times where my user didn't have an Id and was therefore null. In the [following method](https://github.com/aspnet/Identity/blob/e2ef51b57c916345a09e1ba1f58f54b58efb723f/src/Microsoft.Extensions.Identity.Core/UserClaimsPrincipalFactory.cs#L82) if the `UserId` is null the `Claim` constructor throws an argument null exce

[2017-08-21 09:17] nphmuller opened #1379 "IdentityBuilder methods not compatible with 3rd party service providers"
I've been scratching my head on this for a couple of hours during my migration from 1.x to 2.0.

The IdentityBuilder class uses a couple of calls that add services to the service provider of which I don't really understand how they work, but they work with the default service provider and don't with 3rd party service providers (at least Autofac).

For example: https://github.com/aspnet/Identity/bl

[2017-08-21 09:27] nphmuller commented on #1379
The workaround:

Instead of this:
[code]
do this:
[code]

[2017-08-21 09:57] nphmuller opened #1380 "Consider adding AddDefaultTokenProviders() to Identity.Core"
`UserManager`, which is available in Identity.Core, contains methods like `GeneratePasswordResetTokenAsync` and `GenerateEmailConfirmationTokenAsync`. For these to work I would have to add a token provider via `IdentityBuilder.AddTokenProvider`, in which I would have to specifiy the provider name and provider type.

Previously I simply used `AddDefaultTokenProviders()` which took care of all the d

[2017-08-21 14:21] PinpointTownes opened #1381 "Consider updating AddIdentity() to avoid overriding default schemes when they were previously set"
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IdentityServiceCollectionExtensions.cs#L66-L71

[2017-08-21 14:24] PinpointTownes commented on #1381
@HaoK in the meantime, maybe it would be worth adding a tiny note indicating that `AddIdentity()` will always override your default schemes if you call `AddAuthentication(options => ...)` before `AddIdentity()` in either the docs or the announcement?

[2017-08-21 15:03] mattgross76 commented on #1364
I am having an issue with serializing the logins, which was detected by my automated tests.  Prior to migrating to 2.0, everything was working perfectly, but I now receive the error below when calling the result = await _userManager.AddLoginAsync(user, info); inside the AccountController.ExternalLoginConfirmation method.

I am using the DocumentDBUserStore from codekoenig (https://github.com/codek

[2017-08-21 18:55] ajcvickers opened #1382 "Method incorrect declaration"
Moving from https://github.com/aspnet/EntityFrameworkCore/issues/9500 by @roonikz
When you want to use IdentityBuilder to setup Identity services for your application (e.g. AddUserStore<>() AddRoleStore<>() AddPasswordValidator<>() and so on). When you have looked at these methods' declarations, you will see:

[code]

Looking at _**TUser**_ type, you are thinking about passing User type as generic

[2017-08-21 19:43] ajcvickers commented on #1373
@HaoK Please add risk assessment either here on directly in the OneNote.

[2017-08-21 19:59] QuantumHive commented on #1364
I'm trying to migrate from .NET Core `1.1` to `2.0` following the [migrations guide](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x#add-identityuser-poco-navigation-properties) and I'm getting the following exception:

`System.Data.SqlClient.SqlException (0x80131904): Invalid column name 'UserId'.`

Like other people in this thread, I have the following:

[code]

So th

[2017-08-21 20:08] ajcvickers commented on #1364
@HaoK Can we get the configuration needed for the navigation properties added to the guide? See also https://github.com/aspnet/EntityFrameworkCore/issues/9503

[2017-08-21 20:53] HaoK commented on #1373
The fix should be low risk as it will just involve and additional check to allow the base generic type to be  used instead of only derived types.

[2017-08-21 21:01] ajcvickers commented on #1373
Thanks @HaoK. I updated the OneNote.

[2017-08-21 22:28] dcarl1 opened #1383 "2FA changes from 1.0 to 2.0"
We previously had a simple, email based, 2FA setup with ASP.Net Identity core 1.0 - but on moving to 2.0 we get:

Store does not implement IUserAuthenticatorKeyStore<User>.

I do not see any references to this (or 2fa at all) in the migration guide or breaking change lists.

Am I missing something or is this gone?

[2017-08-21 22:51] isaacOjeda commented on #1376
I am also having this issue and the `AddIdentityCore()` didn't work for me.

Any other way to make this work?

[2017-08-21 23:15] isaacOjeda commented on #1376
Well, actually I only need the dependencies from Identity framework. Looking the source [code](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IdentityServiceCollectionExtensions.cs#L59) I added the services manually:
[code]

[2017-08-22 11:06] rpundlik opened #1384 "How to modify login url when using asp.net identity"
Can we modify the default `/account/login` url to some custom url while redirecting the user to login page in case of unauthorized access ?

Let's say client name need to be appended to url which will look like `/ClientABC/account/login` which will redirect to login page and after login will redirect to respective url which is present in return url parameter.

I am trying this in below way. Settin

[2017-08-22 11:35] sriram5052 commented on #1376
Use the following configuration for Asp.net core 2.0
set the DefaultAuthenticateScheme  and DefaultChallengeScheme  in AddAuthentication method.
[code]

[2017-08-22 16:18] dchristensen commented on #1376
Thanks @HaoK  & @sriram5052 , I think `AddIdentityCore` does solve my issue, my only lingering concern is discover-ability of this API.  I haven't see it documented anywhere and its implemented in a completely different assembly from the rest of the identity related configuration stuff so it is difficult to find.

[2017-08-22 16:18] #1376 closed

[2017-08-22 16:20] HaoK commented on #1376
Yup its a future building block at this point, but it is the more granular way to add identity that you are looking for

[2017-08-22 16:54] isaacOjeda commented on #1376
When I'm using `services.AddIdentityCore<ApplicationUser>(setupAction: null)` I get the following exception:

`The number of generic arguments provided doesn't equal the arity of the generic type definition.
Parameter name: instantiation`

I think this is because IdentityBuilder needs the `TRole` type but the extension AddIdentityCore doesn't allow to specify it

What am I missing?

PS. I know thi

[2017-08-22 17:15] dchristensen commented on #1376
@isaacOjeda I ran into the same problem and resolved it by just instantiating a new `IdentityBuilder` that specifies the roles type:

[code]

[2017-08-22 17:49] duncanawoods commented on #1364
The overload for configuring the application user primary key type has been removed from IdentityEntityFrameworkBuilderExtensions.cs

    AddEntityFrameworkStores<TContext, TKey>()

This breaking change is not mentioned in the migration docs. What is the fix please?

[2017-08-22 17:51] HaoK commented on #1364
Just call `AddEntityFrameworkStores<TContext>` it should be smart enough to infer what's needed now

[2017-08-22 18:10] HaoK commented on #1364
@scottaddie can we update the official identity migration doc to include the additional snippet that is needed for people who were relying on the navigation properties?

[code]

[2017-08-22 19:19] QuantumHive commented on #1364
@HaoK @ajcvickers I'm not sure that's the correct way to configure the many-to-many table?

The database schema looked like this pre-`2.0`:

![capture](https://user-images.githubusercontent.com/2554952/29582782-4a3ddf40-877e-11e7-9889-65b010fc09c7.PNG)

You can see the [many-to-many](https://en.wikipedia.org/wiki/Many-to-many_(data_model)) table `dbo.AspNetUserRoles` that connects `dbo.AspNetRoles

[2017-08-22 22:24] HaoK opened #1386 "IdentityService travis failures"
Looks like some of the tests fail on travis right now, @javiercn can you take a look?

Failed   Microsoft.AspnetCore.Identity.Service.FunctionalTests.TraditionalWebApplicationTests.CanPerform_AuthorizationCode_Flow
Error Message:
 System.InvalidOperationException : There was an error ensuring the presence of the developer certificate.
Stack Trace:
   at Microsoft.AspnetCore.Identity.Service.Functi

[2017-08-22 22:54] natemcmaster opened #1387 "Shorten folder names to avoid max_path issues"
Discussed in-person with @javiercn. We should try to shorten the folder names in this repo to avoid max_path issues on Windows.

E.g. opening in VS can cause this:
![image](https://user-images.githubusercontent.com/2696087/29591173-2c231682-8752-11e7-99a5-65f43bbf04af.png)

[2017-08-22 23:09] natemcmaster commented on #1387
cref https://github.com/aspnet/Universe/issues/531

[2017-08-22 23:14] HaoK commented on #1387
Yes please, git clean -xdff hates those long file names...

[2017-08-22 23:16] natemcmaster commented on #1387
This one needs some discussion first. Most repos had a common prefix, like Microsoft.Extensions, which made it easy to decide how to shorten the names. This one has a mix of a several prefixes: Microsoft.AspNet., Microsoft.AspNetCore, and Microsoft.Extensions.

[2017-08-22 23:34] HaoK commented on #1387
I'd suggest:

AspNetCoreCompat
Core.Diagonstics.XIdentity
Core.Identity.Xyz
Extensions.Identity.Xyz

@javiercn is in the process of moving some of these around/collapsing some but I think that covers all of the general buckets

[2017-08-22 23:39] HaoK commented on #1387
Ideally if we end up with everything having Identity in the name here, we could drop that off too.

AspNet.CoreCompat
Core
Core.Diagnostics
Core.EntityFramework
Core.Service.Xyz
Core.SpecificationTests
Extensions.Core
Extensions.Stores

[2017-08-23 00:20] natemcmaster commented on #1387
I'm curious. Is this working for anyone else? I moved the repo to the shortest possible folder and even then I still can't use `C:\i\Identity.sln` because of  this one:

[2017-08-23 00:23] javiercn commented on #1387
@natemcmaster I see that issue on VS, but everything works for me.

[2017-08-23 01:13] javiercn commented on #1386
Looks like an issue on the certificate creation. I'm changing the tests to use a pfx to sign tokens on the E2E tests.

[2017-08-23 05:11] Tratcher opened #1388 "GenerateChangePhoneNumberTokenAsync is not generating an SMS-friendly token in ASP.NET Core 2.0"
_From @leodip on August 22, 2017 14:53_

In **ASP.NET Core 1.1**, if you call:

`var code = _userManager.GenerateChangePhoneNumberTokenAsync(user, "(21) 92345-7154");`

... you get back a token that is SMS-friendly, for example: "293688"

In **ASP.NET Core 2.0**, the same call returns a token that looks like:

"CfDJ8NlUtDo9xLxKnOBUmUICyLsPm6IFT3Xdp9OIBPwggxd2XdFiJxW+3x4DZf4sGlHhyXC4oPMgMVLzq0la6Di

[2017-08-23 05:26] HaoK commented on #1388
Yeah this looks like an unintended regression caused in the refactoring:

1.1.2 code: https://github.com/aspnet/Identity/blob/rel/1.1.2/src/Microsoft.AspNetCore.Identity/UserManager.cs#L1569

2.0 code that no longer uses the Rfc service which generates the nice ints:
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.Extensions.Identity.Core/UserManager.cs#L1582

The current tests weren't c

[2017-08-23 05:33] HaoK commented on #1388
Workarounds aren't great since https://github.com/aspnet/Identity/blob/dev/src/Microsoft.Extensions.Identity.Core/Rfc6238AuthenticationService.cs is internal, the best option would probably be for these SMS apps to register a derived UserManager and copy the 1.1.2 implementation and Rfc6238AuthenticationService.cs to override `VerifyChangePhoneNumberTokenAsync/GenerateChangePhoneNumberTokenAsync`

[2017-08-23 05:34] jkotalik commented on #1388
I don't see any tests for the Rfc6238AuthenticationService class (direct unit tests), maybe we should add some in to as it may have caught some of these issues.

[2017-08-23 05:35] Luis-DdlFG commented on #1364
Hello,

Trying to complete the migration to 2.0.

I'm getting the following error on Startupcs:

'IdentityBuilder' does not contain a definition for 'AddDefaultTokenProviders' nor is there any extension method 'AddDefaultTokenProviders' that accepts a first argument of type 'IdentityBuilder' (are missing some using directive or an assembly reference?)

Did the package that contains 'AddDefaultToke

[2017-08-23 05:36] HaoK commented on #1388
There was no regression in Rfc6238, its the user manager methods no longer use that service, its these tests that are missing one that validates that the token is an integer:

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.Specification.Tests/UserManagerSpecificationTests.cs#L1517

Basically there is no test: "VerifyGenerateChangePhoneNumberTokenIsInteger"

[2017-08-23 05:42] HaoK commented on #1364
Its in Microsoft.AspnetCore.Identity, see https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IdentityBuilderExtensions.cs#L21

[2017-08-23 06:18] shaltukaz opened #1389 "ASP.NET core 2.0 Authentication does persist more than 30 minutes."
I do not manage to keep users logged in for more than 30 minutes.

Lets take default Visual Studio example "ASP.NET Core Web Application" -> .NET Framework 4.6.1 + ASP.NET Core 2.0 + MVC + Individual User Accounts.

ConfigureServices:
`services.AddDbContext<ApplicationDbContext>(options =>
                options.UseSqlServer(Configuration.GetConnectionString("DefaultConnection")));
            se

[2017-08-23 06:38] HaoK commented on #1389
Can you check the security stamp column for your users?  30 minutes is the default timespan for the cookie to be rechecked against the security stamp for the user, i.e. if the user changes his password, that will expire all login cookies...

https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SecurityStampValidatorOptions.cs#L20

If there is something wrong with the secur

[2017-08-23 06:52] shaltukaz commented on #1389
Thanks for reply. How should I identify a problem with security stamp?
In my database it looks like this:
![capture](https://user-images.githubusercontent.com/31269374/29602390-9e1cdc14-87e8-11e7-8b8f-bac229be1968.PNG)
Then I mention 30 minutes, nothing is done during this interval that could change password or any of user data. I just refresh the page.

[2017-08-23 07:28] HaoK commented on #1389
You can try nulling out the security stamp validator logic to see if that fixes the issue to start:

`services.ConfigureApplicationCookie(o => o.Events = new CookieAuthenticationEvents())`

[2017-08-23 07:44] shaltukaz commented on #1389
ok. after setting this I got logged out in 2 minutes 30 seconds.

[2017-08-23 07:50] HaoK commented on #1389
What does the cookie header actually look like?

[2017-08-23 07:56] shaltukaz commented on #1389
By saying cookie header you mean this:
![capture2](https://user-images.githubusercontent.com/31269374/29604926-b6339348-87f1-11e7-9043-e1ffcd08570b.PNG)

[2017-08-23 08:21] VahidN commented on #1389
Is `services.ConfigureApplicationCookie` defined before or after the `services.AddIdentity`. If you define it before the `services.AddIdentity`, your custom values will be overwritten.

And this how you can change the `ValidationInterval` interval:
[code]

[2017-08-23 08:33] shaltukaz commented on #1389
Strange things happens... My current CofigureServices method looks like this:

            services.AddDbContext<ApplicationDbContext>(options =>
                options.UseSqlServer(Configuration.GetConnectionString("DefaultConnection")));

            services.AddIdentity<ApplicationUser, IdentityRole>()
                .AddEntityFrameworkStores<ApplicationDbContext>()
                .AddDefaul

[2017-08-23 09:27] shaltukaz commented on #1389
Thank you @VahidN and @HaoK . Setting `ValidationInterval` to more than 30 minutes, seems to solve the problem.
`   options.ValidationInterval = TimeSpan.FromHours(12);`

However, `options.ValidationInterval = TimeSpan.Zero;` does not work as you have noted; user does not get logged out instantly.

Now if would not mind, please explain me shortly how does this `ValidationInterval` work. Is it glob

[2017-08-23 09:42] VahidN commented on #1389
[SecurityStampValidator](https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SecurityStampValidator.cs#L67) will be called for every single request to the server, but it will decide based on the `ValidationInterval` value and cookie issue time to determine when it should check the validity of the cookie again. If you set the `ValidationInterval` to zero, it will check and

[2017-08-23 11:11] shaltukaz commented on #1389
It seems there was a big gap in my understanding about how does this all work. I also found that I have lied a little. So to finish up for other as stupid as me.

    services.AddIdentity<ApplicationUser, IdentityRole>()
        .AddEntityFrameworkStores<ApplicationDbContext>()
        .AddDefaultTokenProviders();
    services.Configure<SecurityStampValidatorOptions>(options => options.ValidationI

[2017-08-23 11:11] #1389 closed

[2017-08-23 12:07] blowdart opened #1390 "ConfirmEmail doesn't work"
Moved from https://github.com/aspnet/Home/issues/2152 by @kironet

Hey,

I was following this tutorial: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?tabs=aspnetcore2x%2Csql-server

And email is sent, I'm getting url like this:
_https://localhost:44343/Account/ConfirmEmail?userId=e714dc1d-1b6b-4dfd-8288-78f8b429d506&amp;code=CfDJ8GPqscMYofFCs%2FRH3ucxQlVR4O2ONj8uP

[2017-08-23 15:53] Luis-DdlFG commented on #1364
Hello,

In the previous version I was able to feed my model the number of Users from the Identity package, specifically `IdentityRole`:

[code]

Now there is an error mentioning that Users is not defined. Was this property deleted or moved?

Name and Id is extracted from:

[code]
`Description` property is a property defined by me on this project.

Thanks

[2017-08-23 16:01] HaoK commented on #1364
Yes the navigation properties were removed from the base pocos, you will need to add them back to your TUser class if you were using

[2017-08-23 16:04] Luis-DdlFG commented on #1364
Thanks, HaoK, is good to have a reply for all these changes.

I'm very new to this world and I'm very much self taught. Is there any guide you can share with me about how to add them back?

[2017-08-23 16:09] HaoK commented on #1364
You should be able to follow the steps here: https://github.com/aspnet/EntityFrameworkCore/issues/9503

[2017-08-23 16:13] cbettero commented on #999
No, it's not the duplicate of #859,
we have the same problem: even if we set the ExpireTimeSpan like this:

`options.Cookies.ApplicationCookie.ExpireTimeSpan = TimeSpan.FromMinutes(120);`
the authentication seems to expire, randomly, after about 20 minutes.

What can be the problem ?
We are running ASP.NET Core 1.1 on IIS.

Thanks

[2017-08-23 19:09] blowdart commented on #1388
@Eilon We need to consider this for a patch release.

[2017-08-23 19:11] blowdart commented on #1384
Have you trying hooking the OnRedirectToLogin event? You can then modify the context.RedirectUri inside there.

[2017-08-23 19:12] blowdart commented on #1383
Can we see your call stack please? Is this a custom store?

[2017-08-23 19:17] blowdart commented on #1378
So under what circumstances did your user end up without an ID? This shouldn't happen if you're going through identity, but if you're manipulating the database all on your own, or creating a user directly then you're on your own.  Claim values in general can be null, it's perfectly valid, so we aren't even going to change that.

[2017-08-23 19:17] #1375 closed

[2017-08-23 19:19] blowdart commented on #1370
@brentschmaltz do you still own WindowsIdentity? This seems to be a problem with WindowsIdentity.

[2017-08-23 19:19] dcarl1 commented on #1383
Yes, I will grab a callstack as soon as I can.

I am using this for the store:

https://github.com/mrahhal/MR.AspNet.Identity.EntityFramework6

On second thought... the issue could be in that lib.

[2017-08-23 19:21] blowdart commented on #1368
This issue was moved to aspnet/Security#1384

[2017-08-23 19:21] #1368 closed

[2017-08-23 19:26] blowdart commented on #1367
1. This depends on the version of the .net framework. If it's not core, it's probably on codeplex somewhere.
2. Don't look at branches, look at tags, which map to releases, which you can then map into your csproj package versions.
3. None. The codeplex stuff is just on codeplex.

Branches don't matter. We branch for feature work, it's just how git functions. Dev is latest, whatever we're currently

[2017-08-23 19:26] #1367 closed

[2017-08-23 19:27] blowdart commented on #1360
Do you have multiple managers or something? We don't really support multiple instances of identity within a single app.

[2017-08-23 19:28] blowdart commented on #1355
Dupe of https://github.com/aspnet/Identity/issues/1388

[2017-08-23 19:28] #1355 closed

[2017-08-23 19:28] #1354 closed

[2017-08-23 19:30] blowdart commented on #1353
Lumping into https://github.com/aspnet/Identity/issues/1342

[2017-08-23 19:30] #1353 closed

[2017-08-23 19:33] blowdart commented on #1352
We've never worried about this, because, well, we assuming a user being registered or not is public information (i.e. you can test it via register). So what you could do is in each tenant is create a fake user in your database when onboarding a tenant and then then check against that when the user doesn't exist. We really aren't designing for private registration scenarios.

[2017-08-23 19:33] hahn-kev commented on #1378
I had a null ID using the Identity provider from LinqToDB, I've reported the issue [Here](https://github.com/linq2db/LinqToDB.Identity/issues/10).

If a Claim value can be null then why does [this constructor](https://referencesource.microsoft.com/#mscorlib/system/security/claims/Claim.cs,205) throw an exception if you pass null in? I'm not sure if the source is on Github for Claims, but after dec

[2017-08-23 19:34] blowdart commented on #1350
It's where we store "tpkens". We don't user it by default, unless you are using authenticator apps. You could use it to add things like refresh tokens for external logins, but we don't do that by default, you have to use APIs to store them.

[2017-08-23 19:34] #1350 closed

[2017-08-23 19:35] blowdart commented on #1349
This issue was moved to dotnet/cli#7502

[2017-08-23 19:35] #1349 closed

[2017-08-23 19:38] blowdart commented on #1347
This isn't a Identity Core issue, this looks like previous, non-Core versions of identity and MVC. You could log a bug on codeplex but to be honest we're not doing any active work there. Stackoverflow might be a good option.

[2017-08-23 19:38] #1347 closed

[2017-08-23 20:22] dcarl1 commented on #1383
Yep, looks like its in that package. Thanks.

[2017-08-23 20:22] #1383 closed

[2017-08-23 20:41] ajcvickers commented on #1388
@HaoK Can you write the Justification/Risk statements needed to get approval for the patch?

[2017-08-23 20:47] HaoK commented on #1388
Justification: The Generate/ValidateChangePhoneNumberToken methods generated integer codes in 1.x as their purpose is to be used for SMS codes.  These were unintentionally changed to generate long dataprotection strings in 2.0, which are totally not appropriate for SMS two factor codes.  Any apps that were using these APIs for SMS code generation would be affected.

Risk: Low, this fix will just r

[2017-08-23 21:31] chadwackerman2 commented on #1364
@HaoK bug 9503 is unresolved. Why are you pointing someone to an open issue with no resolution?

Likewise above you state:

You know darn well that code is broken, too. What's going on here? This is not the work of a level 63/64 SDE.

[2017-08-23 21:32] jvelezc commented on #1375
thanks for helping even thought it wasnt the right github project!

[2017-08-23 22:29] javiercn commented on #1386
This should be fixed now

[2017-08-23 22:29] #1386 closed

[2017-08-24 07:01] QuantumHive commented on #1364
@HaoK @ajcvickers is my question and issue being ignored?

[2017-08-24 07:06] HaoK commented on #1364
@QuantumHive have you tried the steps in https://github.com/aspnet/EntityFrameworkCore/issues/9503 to add back the navigation properties and configure the model as described in the workaround there?

[2017-08-24 07:20] QuantumHive commented on #1364
@HaoK I've written an [entire explanation](https://github.com/aspnet/Identity/issues/1364#issuecomment-324125416) (even provided with screenshots) that those steps **do not** work. Did nobody care or read that? Obviously the steps in https://github.com/aspnet/EntityFrameworkCore/issues/9503 don't work if someone read [my comment](https://github.com/aspnet/Identity/issues/1364#issuecomment-32412541

[2017-08-24 07:46] HaoK commented on #1364
From the errors you are getting it looks like your navigation properties might not be typed properly, they should be typed like this

[code]

For Users/Roles entity configuration, e should be UserRole, not `IdentityRole<int>` which is why you are getting errors about UserId.

[2017-08-24 14:15] J0nKn1ght commented on #926
I'd add to the previous posts in reiterating that this feature is a necessity if Identity is to be usable in anything but the most trivial of applications.
We've just started a major new project, and decided to switch from MVC5 to ASP.Net Core MVC.  However, I've now started on the User Administration part of the site, and found that it's currently not possible to query the users by role.  The sit

[2017-08-24 16:28] QuantumHive commented on #1364
@HaoK sorry, my bad. I've overlooked the type. It works now, my migration is complete.

[2017-08-24 16:34] KeithT commented on #1364
We are still stuck/blocked re how to migrate this:
            services.AddIdentity<UserEntity, UserRoleEntity>()
                .AddEntityFrameworkStores<HotelApiContext, Guid>()
                .AddDefaultTokenProviders();
As we get error re ....cannot be inferred by usage, if we remove the params.
Thanks in advance for any further suggestions.

[2017-08-24 16:38] HaoK commented on #1364
Take a look at this test, I'm guessing you are trying something basically like this: https://github.com/aspnet/Identity/blob/dev/test/Microsoft.AspNetCore.Identity.EntityFrameworkCore.Test/UserStoreGuidKeyTest.cs#L60

[2017-08-24 17:54] KeithT commented on #1364
Many thanks, we were able to solve it using that test as a reference.

[2017-08-24 20:28] chadwackerman2 commented on #1364
@KeithT can you post your code? For some reason @HaoK is choosing to manage this issue by haiku instead of providing actual answers. @ajcvickers

[2017-08-24 21:00] chadwackerman2 commented on #1388
This may be the canonical example of what happens when you lay off all the testers and move to a Dev + CI model.

Thousands of devs performing a major rev of a multi-billion dollar technology and nobody tested 2FA with an actual phone. (Twilio is broken, too.) Shameful.

[2017-08-24 21:58] madmunsterdaddy commented on #1364
I got the workaround for the role added, but it added a Discriminator column to my Role table. Presumably because I have now Role: IdentityRole<Guid> and IdentityRole<Guid> being recognized?

[2017-08-24 22:37] madmunsterdaddy commented on #1364
Ok, I'm FINALLY getting closer with my Guid based Role, but now I'm getting this.

The key value at position 0 of the call to 'DbSet<IdentityUserToken<Guid>>.Find' was of type 'Guid', which does not match the property type of 'string'.

And my migration inexplicably contains this:
            migrationBuilder.AddForeignKey(
                name: "FK_UserToken_User_UserId",
                table: "

[2017-08-24 23:37] HaoK commented on #1364
What is your DbContext deriving from?  `IdentityDbContext<TUser, TRole, Guid>`?

[2017-08-25 00:27] madmunsterdaddy commented on #1364
Yep! IdentityDbContext<User, Role, Guid>

[2017-08-25 05:35] KeithT commented on #1364
@chadwackerman2 yep no probs.

In Startup:

`            services.AddIdentity<UserEntity, UserRoleEntity>()
                .AddEntityFrameworkStores<BodiMeAPIContext>()
                .AddDefaultTokenProviders();`

and everything else:
[code]

Good luck with it

[2017-08-25 06:03] Eilon commented on #1388
@HaoK this bug is marked as 2.0.1, but the PR was to `dev`. Should this bug be in 2.1.0, and we need to log a separate bug for 2.0.1?

[2017-08-25 06:03] Eilon commented on #1388
(Re-opening just to make sure this doesn't get lost.)

[2017-08-25 08:07] farshid3003 opened #1394 "Multi name claim issue"
I have a User with UserName field and name claim.
I use IUserClaimsPrincipalFactory

[code]
there is problem bu createAsync method that convert UserName to name claim and in the result I will have more than one name claims

by the way I use entity framework with sql for the Identity
when I use this result for Open Id authentication it throw and error in core 2.0 version.

[2017-08-25 10:00] HaoK commented on #1388
Yeah this was checked into dev, so yeah fixed in 2.1, and I'll file a port issue for 2.0.1

[2017-08-25 10:01] HaoK opened #1395 "Port ChangePhoneNumber fix to 2.0.1"
Port https://github.com/aspnet/Identity/issues/1388

Change: b7d5a461d4234f0522a01e5de3c14b7a05dc019a

[2017-08-25 10:03] HaoK opened #1396 "Port AddEntityFrameworkStores fix to 2.0.1"
Port fix for https://github.com/aspnet/Identity/issues/1373

b865d5878623077eeb715e600d75fa9c24dbb5a1

[2017-08-25 10:03] #1373 closed

[2017-08-25 10:04] #1388 closed

[2017-08-25 10:46] bhubanstha opened #1397 "Changing datatype of primary key"
Shouldn't we consider changing string or guid datatype to int for PK in identity. Well there might be some cases where guid or string PK is unavoidable but I think most of us use int for PK. So leaving string/guid as PK one has to create lots of identity related classes wasting time that was supposed to minimize by identity. I personally feel if int was used instead of string one can start writing

[2017-08-25 14:48] AdrienTorris commented on #1397
Our primary keys datatype is not the business of Microsoft, it's the reason why the default pk type in Identity is string, who is the less restrictive datatype format. It's a design choice.

But you can easily override the data type of the primary keys in identity without customize the classes, the 2min procedure is explained here : https://docs.microsoft.com/en-us/aspnet/core/security/authenticat

[2017-08-25 18:51] twilliamsgsnetx commented on #1364
What happened to the Domain portion of User.Identity.Name when using Windows Authentication? It's just giving me username, without the domain portion?

I got GSNETX\twilliams before, and now I just get twilliams

How do I get access back to the domain portion?

[2017-08-27 00:36] chadwackerman2 commented on #1397
@AdrienTorris unfortunately that's broken as of 2.0.0.

Also: it's not 2003 any more. Identity should take a generic of the PK type you want -- string, int or guid -- and it should just work. There's acres of stackoverflow posts where people try to get this simple thing working. Given the confusion it's obviously a non-intuitive and poorly-documented design. And as of 2.0 untested, too.

@bhubanst

[2017-08-28 05:20] bhubanstha commented on #1397
@AdrienTorris the documentation link you have provided seems to provide configuration details for previous version of Identity. I am using Identity in .NET Core 2.0 so following tutorial in provided doc gives me error which is as follows

[code]

Provided approach would be great but unfortunately that didn't work.

[2017-08-28 06:37] AdrienTorris commented on #1397
Hum you're right the link I sent to you is out to date.
This migration documentation should help you : https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x
And this thread too : https://github.com/aspnet/Identity/issues/1364
Is your source code on GitHub ?

[2017-08-28 14:22] glatzert commented on #1275
Im seeing this in ASP.NET Core 2.0 RTM. Was there any solution to this? Or do we have to set all entries by using `opt => opt.XXX = Configuration["Section:XXX"]`?

[2017-08-28 15:14] PinpointTownes commented on #1387
Shortening all the project paths is probably a simple option, but it makes navigating across tags/branches a total PITA (not to mention that you also loose all the changes history associated with a file). Yet, I'm sure many folks (including me) use that as a way to determine what's changed between 2 ASP.NET Core versions :sweat:

Personally, I've opted for a better workaround that forces MSBuild t

[2017-08-28 15:16] PinpointTownes commented on #1381
More context:

https://github.com/openiddict/openiddict-core/issues/436
https://github.com/openiddict/openiddict-core/issues/424#issuecomment-323721847
https://github.com/openiddict/openiddict-core/issues/424#issuecomment-324377691

[2017-08-28 15:47] javiercn commented on #1387
@natemcmaster Is there a better way to do this than to shorten the paths?

[2017-08-28 16:20] natemcmaster commented on #1387
Depends on what you're optimizing for. If you're optimizing for git history and GitHub browsing, renaming a folder is not the best approach. However, shorter folder names are the simplest way to solve the issue, and is one we've already implemented in other projects such as EF and Kestrel.

There are other options. As @PinpointTownes points out, you can try working around by changing individual fi

[2017-08-28 16:38] HaoK commented on #1387
I already renamed folders in 2.0 and moved files around, so doing it again is unlikely to make things that much worse

[2017-08-28 16:39] HaoK commented on #1387
The file names are still the same, so they can always navigate to the branch/tag and search for the file, its not that unreasonable

[2017-08-28 17:01] PinpointTownes commented on #1387
My remark was not limited to this repo (I suppose this plan is going to be adopted globally for consistency). Fortunately, Identity is pretty much the only repository whose structure was radically changed in 2.x :sweat_smile:

[2017-08-28 17:04] natemcmaster commented on #1387
Current thinking on https://github.com/aspnet/Universe/issues/531 is that we'll only shorten folders in repos as required. Identity is _definitely_ one of those cases.

[2017-08-28 17:50] blowdart commented on #1394
What error is thrown? Are you saying a username field gets mapped to a name field in OpenID? What OpenID provider are you using? Do you have code you can show us for your user?

[2017-08-28 18:16] HaoK opened #1401 "AddIdentity should set DefaultScheme and DefaultChallengeScheme only"
There's a bug because we added DefaultScheme but didn't update identity to set the default, instead it sets the individual schemes which ends up making setting the default less useful than it could be:

We should update AddIdentity to set the DefaultScheme + DefaultChallengeScheme instead

[2017-08-28 20:38] farshid3003 commented on #1394
would you pleae look at this
https://github.com/aspnet/Security/issues/1383#issuecomment-325432124

[2017-08-29 13:23] kwameg-a opened #1402 "AspNet Core 2.0 MVC/Web API Identity Service Issue"
I get this error "**System.InvalidOperationException: Unable to configure HTTPS endpoint** ........." - when I do Update-Database in Visual Studio Package Manager console after I have done file-new-project with an individual user account for an MVC or Web API.

This means I'm unable to add profile data for application users by adding properties to the ApplicationUser class

[2017-08-29 19:30] KiselN commented on #1319
@HaoK TRole issue doesn't seem to be fixed in 1.1.1
https://github.com/aspnet/Identity/blob/rel/1.1.1/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs#L164

[2017-08-30 15:28] brentschmaltz commented on #1370
@blowdart We don't 'own' it, but we have done some work in WindowsIdentity.  From time to time we help out with issues.  It looks like a fix is needed.

[2017-08-30 15:29] blowdart commented on #1370
@brentschmaltz Who should be tagged to do the work?

[2017-08-30 15:31] brentschmaltz commented on #1370
@blowdart you can tag me. Ill investigate.

[2017-08-30 15:31] blowdart commented on #1370
Consider yourself tagged then :)

[2017-08-30 19:03] blowdart commented on #1402
@javiercn

[2017-08-30 19:04] blowdart commented on #1394
OK then that's not identity, and the security repo issue is where it should be. Closing.

[2017-08-30 19:04] #1394 closed

[2017-08-30 20:08] farshid3003 commented on #1394
why you close this. there is a big bug here. you convert Username to name claim and this is wrong.

[2017-08-30 20:56] yarsiemanym opened #1405 "[Question] How to do SSO with a Forms Auth MVC app that is not using OWIN?"
Hi all,

Not sure if this is an appropriate place to ask this question but here goes anyway.

I have a couple of older ASP.NET MVC apps that use Forms Authentication, ASP.NET Membership and do _not_ use OWIN.  Moving forward I would like develop new apps in .NET Core using IdentityServer4 for auth.  I implemented a custom IUserStore et al so IdentityServer can use my existing ASP.NET Membership da

[2017-08-30 21:37] brockallen commented on #1394
This is a valid complaint, but probably different than the one you originally raised. I agree that ASP.NET Identity should not be putting the user's username as the display name claim. But it's done that for a while now (unfortunately).

[2017-08-30 21:45] blowdart commented on #1405
It's not just the encryption, it's always the format. I'd look at moving to Identity Server as the main auth point, and then federate all your applications to that. So for WebForms go with [WS-Fed](https://docs.microsoft.com/en-us/dotnet/framework/security/how-to-build-claims-aware-aspnet-web-forms-app-using-wif) support, then for Core use OIDC.

[2017-08-30 22:09] yarsiemanym commented on #1405
Hmmmm.  If at all possible, I'd like to avoid making changes to my legacy apps.  Less risky that way.  Is there no way to override parts of ASP.NET Identity and customize the cookie to the point where Forms Authentication would recognize it?

[2017-08-30 22:10] blowdart commented on #1405
Well there's a ticketformat extension point, but oh lord, it'll be ugly, you'd have to yank a lot of the old stuff up.

[2017-08-30 22:15] yarsiemanym commented on #1405
At this point, I'm trying to determine which is worse: overhauling the auth framework in a number of legacy apps or going down this rabbit hole.  What kind of old stuff are you referring too?  Just point me in the right direction and I'll see how far I can get.

[2017-08-30 22:19] blowdart commented on #1405
You'd dragging core *down* to the level of web forms security, and I'll be honest I'm not even sure it'd work. Add to that none of the code that old is actually on reference source, so I can't point you to it. You'd have to fire up a decompiler and go hunting yourself. At which point licensing issues kick in, and I can't advise anything.

[2017-08-30 22:24] yarsiemanym commented on #1405
Gotcha.  I'm no security expert and I was able to figure out how to deal with the hashed passwords in my ASP.NET Membership database.  That little flicker of glory might have gone to my head.

Let me bounce this off you.  If my legacy apps where built in OWIN would that change anything?

[2017-08-30 22:31] blowdart commented on #1405
If they didn't use identity? No. The recommendation would be the same. If you pulled them up to identity 2.0 then you could use the forward compat pieces with a bit of work to share the keys.

[2017-08-30 22:37] yarsiemanym commented on #1405
OK. Yeah that's what I meant.  I saw some articles about Framework45 compatibility mode but found out pretty quick that wasn't going to work for me unless I moved to OWIN and Identity.  I don't know much about WS-Fed but I don't know a bit about OWIN and Identity so I'm wondering if the bigger bang for my buck might be to port the apps over to OWIN and Identity and do the Framework45 compatibility

[2017-08-30 22:38] blowdart commented on #1405
None of this is simple if I'm honest. But if you're wanting to use Identity Server it would be the way to go, that way every app is going to use the same auth point.

[2017-08-30 22:39] yarsiemanym commented on #1405
WS-Fed would be simpler than porting the app to Identity and using Framework45 compatibility mode?

[2017-08-30 22:42] blowdart commented on #1405
Well no, I think you'd do both. You use WS-Fed to bind the old apps to Identity Server as their login mechanism. It'd probably take less time, but it'd need WIF (at a minimum), better would be moving to the version inside .NET, which takes, I think, .NET 4.0.

[2017-08-30 23:04] yarsiemanym commented on #1405
I've never done anything with WS-Fed before so I'm likely not fully understanding something.  Can you list the coarse-grained steps I'd have to take to convert my legacy app to use Identity Server?

[2017-08-30 23:53] brockallen commented on #1405
You can just as easily use OIDC from WebForms -- just put Kanata in front and use the OIDC authentication MW (like in our webforms sample: https://github.com/IdentityServer/IdentityServer3.Samples/tree/master/source/Clients/WebFormsClient).

[2017-08-31 00:07] adeministr commented on #892
how to do this in custom classes in core 2.0

[2017-08-31 01:03] yarsiemanym commented on #1405
Thanks, Brock!  Sounds like MvcCodeFlowClientManual is going to do the trick. I'll dig into this in the morning.

[2017-08-31 04:12] brockallen commented on #1405
The beauty of OIDC is that it's designed to be easy for clients to consume. So webforms, php, JS, python, etc. should all have an easy time. The main requirement is a JWT processing library. The one from Microsoft requires .NET 4.5, but there are others for .NET pre-4.5.

[2017-08-31 20:01] HaoK commented on #1379
Yeah there's a bug in AddRoles, it shouldn't be calling AddRoleStore at all...

[2017-08-31 20:10] nphmuller commented on #1379
Ah, that explains it. Never thought it could be a bug since it seemed too big to be in the final release. But I guess these things happen. :)

It's at least a better explanation than the magic that I had in mind.

[2017-08-31 20:19] HaoK commented on #1379
Yeah the tests typically always call AddRoleStore after anyways, since you can't use identity without a store registered, so it was masked until your issue

[2017-08-31 20:35] HaoK commented on #617
This was done in 2.0 to support roles being optional

[2017-08-31 20:35] #617 closed

[2017-08-31 20:35] HaoK commented on #617
Done via https://github.com/aspnet/Identity/issues/1269

[2017-08-31 20:37] HaoK commented on #818
Rolled into https://github.com/aspnet/Identity/issues/1342

[2017-08-31 20:37] #818 closed

[2017-09-01 02:54] #1405 closed

[2017-09-01 19:39] brockallen opened #1409 "Refactor AddIdentity splitting out Authentication from core identity"
ASP.NET Identity is a library, and should not have such an opinion and side-effect on a hosting application. By setting the default signin scheme to external, you're making assumptions about the hosting application. If the hosting app wants to use external cookies, then it should do that configuration itself.

I understand why it was added in here -- it makes the templates easier. But it's a bad l

[2017-09-01 21:13] HaoK commented on #1409
Yup, the new refactored surface area won't set things up this way, but we had to preserve existing behavior for `AddIdentity<TUser, TRole>`

[2017-09-01 21:17] HaoK commented on #1409
In 2.1, you should be able to switch to something like:

[code]

[2017-09-01 21:49] davidfowl commented on #1409
I agree m, Hao an I spoke about this earlier and threw around some ideas. I don't think identity should set the default scheme at all and should have extensions methods on both IServiceCollection and Authentication builder.

[2017-09-01 22:05] HaoK commented on #1409
Yup, we'll use this bug to track that work

[2017-09-02 08:32] ActionJ4ckson opened #1410 "UserManager.ConfirmEmailAsync always returns "Invalid Token" - Multiple applications"
Hey,

In my application running, I am not able to confirm user's emails as UserManager.ConfirmEmailAsync method is always returning false and error message says "Invalid token". I have verified in every way that the token issued (before URL encoding) and received (after URL encoding) are exactly same.

The application is designed to issue the confirmation email from a window service (hence token i

[2017-09-02 15:01] brockallen commented on #1409
The name `DefaultSignInScheme` is really the wrong one given what I think the intent of this feature is. I think your intent is that this is meant for the external authentication middleware, right? This property should be renamed to be `DefaultExternalSignInScheme`. Perhaps the optional `scheme` param on all the `HttpContext` APIs should be removed and make it explicit. Given these global defaults

[2017-09-02 16:01] davidfowl commented on #1409
No, it maps to any call to SignInAsync without parameters.

In what version? 3.0?

[2017-09-02 19:19] HaoK commented on #1409
It's already possible to specify schemes explicitly everywhere the only thing the defaults are mandatory for is the UseAuthentication() middleware to determine what context.User gets set to.

We started with almost no defaults and very quickly we ended up with defaults for everything again. So I don't think it's realistic to expect people to set schemes everywhere, especially when they only have o

[2017-09-02 21:45] brockallen commented on #1409
You are promoting two different semantics and it's unclear which is the intended use case. One scenario is you have someone building a login page that wants to issue a cookie, so they use `SignInAsync` without the `scheme` (thus getting the `DefaultSigninSceme`, or `DefaultScheme`). Then there's the other scenario where you set the `DefaultSigninSceme` to be an external cookie so the external auth

[2017-09-02 21:48] brockallen commented on #1409
Right, and we've always recommended that people *do* explicitly set them so there's no magic and/or misunderstanding. That's why I suggested removing the ability to not pass a scheme to the various authentication service API. And as you said, perhaps the only default scheme that makes sense anywhere is the `DefaultAuthenticationScheme` to be used by the authentication middleware.

[2017-09-02 22:04] HaoK commented on #1409
There is indeed two slightly different scenarios that you described but the default sign in behavior is still consistent.

The default sign in is used when a scheme is not specified. That applies to both remote authentication when they choose not to specify the sign in scheme in the RemoteAuthOptions and also when you explicitly call sign in and don't specify the scheme.

In the past pre core and

[2017-09-02 22:15] brockallen commented on #1409
Sure the behavior is consistent but if affects how your write all that other code. And if all that other code has been written based on one of the semantics and the config value is changed it changes semantics. So it's the semantics that are not consistent.

How would code in a library know the intended semantics and do the right thing? I know the answer -- it's to always pass a scheme explicitly

[2017-09-02 22:33] brockallen commented on #1409
@davidfowl  Also, I'm really sorry that it's only now that I have had time to provide this feedback (I wasn't being paid to work on the OSS, whereas you guys were and I had my own bills to pay). I know that this feedback and suggestions would be breaking changes. But that's part of the price for pushing releases so fast without giving time to foster more feedback. Perhaps you guys should hire folk

[2017-09-03 00:35] HaoK commented on #1409
Correct the remote auth schemes job is to just call sign in with the sign in scheme.  It's up to the app/library to configure things in a sensible way.

Historically our identity based templates rely on AddIdentity wiring things up, with the external cookie being the default sign in scheme (only to prevent having to set sign in scheme on every remote auth explicitly). SignInManager uses explicit s

[2017-09-03 01:22] brockallen commented on #1409
So it sounds like this motivated the `DefaultSigninScheme`, which sounds more like my 2nd description of the intended use case. Would that be accurate?

[2017-09-03 01:29] davidfowl commented on #1409
Since we're not making any braking changes, are you suggesting we add another setting?

[2017-09-03 02:04] HaoK commented on #1409
Not really identity is typically the only one who uses this. The two common ones that were being set are DefaultAuthenticateScheme and DefaultChallengeScheme. We don't have any templates that register external auth by default.

The sign in and sign out behavior was added to make everything consistent in the authentication service.

[2017-09-03 04:09] brockallen commented on #1409
Ok, I'll rephrase what I think the problem is. Maybe it'll help the discussion.

There are 3 main scenarios for the SignInAsync method:

* Login code within in the app needs to issue the authentication cookie (high trust)
* External authentication needs to issue the main authentication cookie because the external provider is first-party (high trust, AAD/OIDC)
* External authentication needs to iss

[2017-09-03 04:59] Ibro commented on #1364
@HaoK How do I override AspNet* table names if I am starting from scratch with 2.0 and having User and Role classes, and int as key.

If I try this

[code]

then I get ApplicationRoleId and ApplicationUserId keys in other tables, along with UserId and RoleId. Considering that nowhere in my application I have ApplicationUser or ApplicationRole, it seems very weird.

[2017-09-03 05:28] HaoK commented on #1364
Are you sure there aren't any old migrations or anything like that laying around?

[2017-09-03 06:56] leastprivilege commented on #1409
You should attend our workshop @davidfowl @HaoK @blowdart

[2017-09-03 07:07] davidfowl commented on #1409
:trollface:

[2017-09-03 07:44] leastprivilege commented on #1409
I was actually serious.

[2017-09-03 08:38] HaoK commented on #1409
Not every application supports external authentication, and for many apps that have only a single application cookie/bearer sign in scheme, there's no confusion with the defaults.

In general, libraries/frameworks should always specify the scheme when its available, the only time the defaults should be used is in application code, i.e. [Authorize].

Some of the confusion here is simply due to the

[2017-09-03 09:04] Ibro commented on #1364
@haok Yeah, I deleted Migrations folder, dropped the database, cleaned solution and also removed bin/obj folders. 😄

I double check with a new project.

[2017-09-03 13:30] brockallen commented on #1409
This thread has also made me realize that the same can be said for DefaultSignOutScheme, as that falls back to the DefaultSignInScheme rather than just jumping to the DefaultScheme.

[2017-09-04 02:56] zuosc opened #1411 "why use "hash != null"???"
https://github.com/aspnet/Identity/blob/e36e681d5477e8fc4de7cc46717bb73f5fe92a0b/src/Microsoft.Extensions.Identity.Core/UserManager.cs#L710

I think use ```if (!string.IsNullOrWhiteSpace(hash))``` is better.

so,why use ```if (hash != null)```???

@HaoK

[2017-09-04 16:17] hey-red commented on #1376
In addition, if we want to use `RoleManager`
[code]

@HaoK I think that it would be nice to have extension method like `AddIdentityCore<TUser, TRole>` (in 2.1.0 maybe?).

[2017-09-04 19:56] adeministr commented on #1364
builder.Entity<ApplicationRole>(entity =>
            {
                entity.HasMany(x => x.Users).WithOne().HasForeignKey(ur => ur.RoleId).IsRequired();
                entity.ToTable("MyRoles", "dbo");
            });
i use this code to rename AspNetRoles tables to MyRoles but in migration it renames tables as ApplicationRole. It was working in core 1.1. After upgrading to core 2.0 doesn't wor

[2017-09-04 22:39] NinoFloris commented on #991
I'd love to see a version of the IdentityErrorDescriber that uses this SO approach so we don't have to override all of methods ourselves just to add the localizer call

[2017-09-05 06:35] zuosc opened #1412 "’IdentityError‘、’Description‘ and ’Resources.resx‘"
In Identity， all error descriptions  are   in Resource.resx. The Language  is English。

and  in  my program,I want output other Language。

so, how i can do ?

[2017-09-05 06:38] #1412 closed

[2017-09-05 06:51] zuosc commented on #1412
https://github.com/aspnet/Identity/issues/991#issuecomment-256516328

hhhhhhh

[2017-09-05 11:09] nmathur opened #1413 "SendTwoFactorCodeAsync returning 'UserId not found' after successful login"
Hello,

Using SignInManger (Identity 2.0) through dependency injection. Trying to send two factor authentication code .. but sending code is returning "UserId not found" ..

All samples are first redirecting to another view on successful login with TwoFactor enabled .. then sending code SMS and loading the view to ask for the code ..

If I follow above process then a simple refresh on enter key pr

[2017-09-05 16:40] HaoK commented on #1413
This isn't a Identity Core issue, this looks like previous, non-Core versions of identity, stack overflow is the correct place for this issue, we are only tracking Identity Core issues in this repo.

[2017-09-05 16:40] #1413 closed

[2017-09-05 16:41] HaoK commented on #1410
This isn't a Identity Core issue, this looks like previous, non-Core versions of identity, stack overflow is the correct place for this issue, we are only tracking Identity Core issues in this repo.

[2017-09-05 16:41] #1410 closed

[2017-09-05 17:47] HaoK commented on #1379
Fixed via https://github.com/aspnet/Identity/pull/1406

[2017-09-05 17:47] #1379 closed

[2017-09-05 20:00] #1356 closed

[2017-09-05 20:04] adeministr commented on #1364
solved by changing IdentityDbContext:
public class ApplicationDbContext : IdentityDbContext<ApplicationUser, ApplicationRole, string, ApplicationUserClaim,ApplicationUserRole,ApplicationUserLogin,IdentityRoleClaim<string>,IdentityUserToken<string>>

[2017-09-05 20:20] Palmer11 commented on #1411
Because we are assuming something or nothing. An Empty string wont/shouldnt be returned. So checking for WhiteSpace would be redundant.

[2017-09-05 20:41] anester opened #1414 "Setting the LoginPath not working int ASP.NET Core 2.0"
services.ConfigureApplicationCookie(options =>
            {
                options.LoginPath = "/Login/Index";
                options.ReturnUrlParameter = "RedirectUrl";
                options.LogoutPath = "/Login/Logout";
                options.AccessDeniedPath = "/Login/Index";
                options.ExpireTimeSpan = new TimeSpan(0, 15, 0);

            });

After setting this "/Account/Lo

[2017-09-06 04:09] seven1986 opened #1415 "How to relation identity and identityserver entities?"
[code]
I want make a relationship between IdentityUser and IdentityServer Client.
IdentityUser can create clients, what the best solution?

Help!!

[2017-09-06 12:06] rooonikz commented on #1382
@HaoK I think it still has some stuff to be done. As i mentioned before, this renamings should be applied to all Identity services. As i see, AddPasswordValidator, AddRoleValidator and AddUserValidator generic parameters declarations are invaid. Thx!

[2017-09-06 12:12] rooonikz commented on #1384
@rpundlik For ASP.NET Core Identity 2.0 I did this:
`services
                .ConfigureApplicationCookie(options =>
                {
                    options.Events.OnRedirectToLogin = (context) =>
                    {
                        context.Response.StatusCode = StatusCodes.Status401Unauthorized;
                        return Task.CompletedTask;
                    };

[2017-09-06 14:00] ActionJ4ckson commented on #1410
Hey @HaoK

My bad, you are absolutely right. It turned out be some other piece of code (my code ofcourse, who else does poor coding) overwriting the DataProtector instance attached to my UserManager instance at a later stage.
Thanks for replying. Have a good one.
AJ

[2017-09-06 14:11] madmunsterdaddy commented on #1364
I still don't get what to do with this one when trying to upgrade. @HaoK?

**ArgumentException: The key value at position 0 of the call to 'DbSet<IdentityUserToken<Guid>>.Find' was of type 'Guid', which does not match the property type of 'string'.**
Microsoft.EntityFrameworkCore.Internal.EntityFinder.FindTracked(Object[] keyValues, out IReadOnlyList<IProperty> keyProperties)
Microsoft.EntityFrame

[2017-09-06 16:03] HaoK commented on #1364
@madmunsterdaddy Is your db context specifying the correct generic arguments?  Looks like that error would be a mismatch between `IdentityUserToken` and `IdentityUserToken<Guid>`  Can you include what your dbcontext looks like?

[2017-09-06 16:08] HaoK commented on #1382
Ah right, I'll rename the others today

[2017-09-06 16:40] madmunsterdaddy commented on #1364
@HaoK yep. It always used to work... Even tried to full on IdentityDbContextOverload specifying everything with no success.

    public class REV23DbContext : IdentityDbContext<User, Role, Guid>
    {
 ....
        protected override void OnModelCreating(ModelBuilder builder)
        {
            base.OnModelCreating(builder);
            // Customize the ASP.NET Identity model and override the d

[2017-09-06 17:03] HaoK commented on #1364
Try extending from `IdentityDbContext<User, Role, Guid, IdentityUserClaim<Guid>, IdentityUserRole<Guid>,IdentityUserLogin<Guid>,IdentityRoleClaim<Guid>,IdentityUserToken<Guid>` and  updating your OnModelCreating to the same types as well

[2017-09-06 17:10] madmunsterdaddy commented on #1364
Yeah, that was what I had already tried. Did again, with same results :(

My OnModelCreating does have the <Guid> in there, but GitHub stripped it. I'll try again.

`        protected override void OnModelCreating(ModelBuilder builder)
        {
            base.OnModelCreating(builder);
            // Customize the ASP.NET Identity model and override the defaults if needed.
            // For exa

[2017-09-06 17:22] HaoK commented on #1364
Try getting rid of your on db context entirely and just use `IdentityDbContext<User, Role, Guid, IdentityUserClaim<Guid>, IdentityUserRole<Guid>,IdentityUserLogin<Guid>,IdentityRoleClaim<Guid>,IdentityUserToken<Guid>` to see if that makes things work

[2017-09-06 17:32] Awd60 opened #1416 "How to get current user for web API request ?"
How to get current user for web API request ?
 this example does not work
var claims = ((ClaimsIdentity)User.Identity).Claims;

[2017-09-06 18:14] madmunsterdaddy commented on #1364
Where would I do that? In AddEntityFrameworkStores? Nothing seems to like that definition as far as setting it up is concerned.

[2017-09-06 18:27] HaoK commented on #1364
I just mean to narrow down what could be causing the issue, you can try directly using the base identity dbcontext instead of wherever you are using `REV23DbContext`.  You should be able to use it as your TContext in `AddEntityFrameworkStores<>`.  Alternatively it should be more or less equivalent to just define your context as an empty subclass to see if that makes things work as well:

[code]

A

[2017-09-06 18:30] madmunsterdaddy commented on #1364
I see.. yeah, that's what that is currently inherting.

And yep. Those look like this:

[2017-09-06 18:41] madmunsterdaddy commented on #1364
I think it might have something to do with the fact that my Migration to this release adds this FK?

            migrationBuilder.AddForeignKey(
                name: "FK_UserToken_User_UserId",
                table: "UserToken",
                column: "UserId",
                principalTable: "User",
                principalColumn: "Id",
                onDelete: ReferentialAction.Cascade);

W

[2017-09-06 18:47] HaoK commented on #1382
Fixed the rest bc75b1a0e73d782fbe221fb6f12855d1a337a5b1

[2017-09-06 18:47] #1382 closed

[2017-09-06 18:50] HaoK commented on #1250
Closing as this was a preview 1 issue and we didn't ship identity service in 2.0

[2017-09-06 18:50] #1250 closed

[2017-09-06 18:51] HaoK commented on #1203
We no longer have any navigation properties as of 2.0, you are free to add these yourself in your pocos.

[2017-09-06 18:51] #1203 closed

[2017-09-06 18:52] #1176 closed

[2017-09-06 18:58] blowdart commented on #1416
How are you authenticating to the webapi?

[2017-09-06 19:00] blowdart commented on #1415
@brockallen / @leastprivilege

[2017-09-06 19:08] blowdart commented on #1414
How is the challenge triggering? Is it just via [Authorize]? Can you show us all your config?

[2017-09-06 19:09] blowdart commented on #1411
Pretty much :)

[2017-09-06 19:09] #1411 closed

[2017-09-06 19:11] brockallen commented on #1415
I'm unclear on what's being asked.

If they want to setup some additional FKs in their DB, then go for it. But that's beyond the scope of either IdentityServer or ASP.NET Identity, I'd think.

[2017-09-06 19:19] HaoK commented on #1364
Well there should be a FK relationship between the User and UserTokens, just like the other child entities, i.e. UserClaims/UserRoles

[2017-09-06 22:20] madmunsterdaddy commented on #1364
And that makes sense-- but when creating a new Identity database with a new webapplication, no such FK exists, which threw me off... unless I missed it.

I guess I'll need to wait until the fixes in 2.01 to see if this fixes my issue because I'm stumped at this point :(

[2017-09-07 02:27] seven1986 commented on #1415
@brockallen / @leastprivilege I think you get the point. I have tried lots of time, but still can not find the way.

Could you give me a example, thanks a lot!

[code]

[code]

[2017-09-07 04:40] nmathur commented on #1413
Can you please answer it on stackoverflow .. I am facing issue which can be regenerated very easily ..

[2017-09-07 08:05] jansivans commented on #1415
I have achieved this by forking IdentityServer4.EntityFramework into my solution and extending it's entities right there. Looks a bit ugly but I don't know if there are better solution to extend IdentityServer's entities.

[2017-09-07 08:28] Awd60 commented on #1416
We are using AAD to register App for WebAPI.  (Active Directory Authentication)

[2017-09-07 10:02] seven1986 commented on #1415
@jansivans  share me a link?

[2017-09-08 18:04] Ibro opened #1418 "Razor Pages - Based on Individual Auth template- weird login/register errors."
Using SDK 2.0.0
Microsoft.AspNetCore.All - 2.0.0

Only things I changed is DbContext and User/Role classes.

When I register, it manages to create an account but fails during this line:

`  var code = await _userManager.GenerateEmailConfirmationTokenAsync(user);`

Here is the raw exception details: https://gist.github.com/Ibro/3587ab122aa82dbca8de889bd500e1e9

On login it fails on this line:
`var

[2017-09-08 18:52] justin-ruffin commented on #1414
Try configuring "Services.AddIdentity" then "Services.ConfigureApplicationCookie" as shown below.

![image](https://user-images.githubusercontent.com/24457439/30226797-2daa92cc-948c-11e7-8d69-74b906836f8c.png)

[2017-09-08 21:09] blowdart commented on #1416
And how are you getting the AAD token? What are you doing with it after? How are you sending it with each request to the api endpoint?

[2017-09-10 10:30] kinosang commented on #1395
I wanna to know when will this patch released?

or should I use the nightly build before you publish it?

[2017-09-11 07:03] lugrugzo opened #1421 "Support for two-factor when using Jwt"
Here is my Startup.cs

[code]

My login action:

[code]

GenerateToken():

[code]

If I enable two-factor login for user, `GetTwoFactorAuthenticationUserAsync()` returns `null`.

When testing example MVC app that comes with --auth option, I saw it's putting a cookie named `Identity.TwoFactorUserId` when logging if two-factor login enabled, how can I reproduce this using Web Api & Jwt?

Thanks.

[2017-09-11 07:53] AlexOliinyk1 opened #1422 "asp.net core 2.0 + angular 4 + jwt authorization"
Hi All

I can't find way how configure my application using bearer token authorization, I used this article as example https://wildermuth.com/2017/08/19/Two-AuthorizationSchemes-in-ASP-NET-Core-2

I'm implemented it successful   on the empty application. But after moving logic to my already created asp.net core 2 and anngular  4 using angular cli.

I'm got error like this '404 not found ' for more

[2017-09-11 12:32] N41m0r opened #1423 "JWT Bearer Authentication : Set-Cookie in header response filled"
Hello,

I don't understand why i have a cookie filled in my response header while i use  JWT Bearer Authentication. And i can't find way how to configure correctly.

When I authenticate on my webAPI, in my reponse i have :
`Set-Cookie: .AspNetCore.Identity.Application=CfDJ8KKk9DCF-3ZMv5e0QMpwpsulx6nT_6d68JTe0a8VPBM ...; path=/; samesite=lax; httponly
api-supported-versions: 1
`

My startup look li

[2017-09-11 14:28] scottsauber opened #1424 "Difference between User.Identity.IsAuthenticated and SignInManager.IsSignedIn(User)?"
What's the difference between `User.Identity.IsAuthenticated` and using like `SignInManager.IsSignedIn(User)`?  Is there any?

Why I'm asking - I'm not a huge fan of the new `@inject` keyword in Razor, mostly because of the same reasons why a lot of the JS frameworks are trending towards a unidirectional data flow.  So in the template, in /Shared/_LoginPartial I want to replace: `@inject SignInMan

[2017-09-11 14:31] blowdart commented on #1424
User.IsAuthenticated will work even if the current user identity doesn't come from ASP.NET identity (for example a bearer token, or Integrated authentication). SignInManager is Identity only.

[2017-09-11 14:33] scottsauber commented on #1424
Ok - so for my purposes I should be good then.

Thanks for the ridiculously fast response @blowdart!

[2017-09-11 14:33] #1424 closed

[2017-09-11 17:25] hey-red commented on #1423
See https://github.com/aspnet/Identity/issues/1376
With JWT you will have to manage the authentication yourself.

[2017-09-11 17:38] HaoK commented on #1423
Yep, dupe of #1376

[2017-09-11 17:38] #1423 closed

[2017-09-11 17:40] HaoK commented on #1421
The current TFA support is only intended for cookies flows

[2017-09-11 17:48] lugrugzo commented on #1421
Are there any plans to integrate it to Jwt authentication?

[2017-09-11 20:14] jcmordan commented on #1376
Hi, I know this is closed but I'm getting this error:

[code]

[2017-09-12 00:41] jcmordan commented on #1423
@hey-red @HaoK  What do you mean by:

I can't use _signInManager.PasswordSignInAsync anymore? what is the alternative?

[2017-09-12 05:57] hey-red commented on #1423
@jcmordan
You can achieve it like this:

[code]

[2017-09-12 07:49] N41m0r commented on #1423
@hey-red Thx, using CheckPasswordSignInAsync solved my problem.

[2017-09-12 12:39] jcmordan commented on #1423
@hey-red when I do that a got this error:

[code]

Trying to solve it a Add the UserStorage<TUser> like this:

`builder.AddUserStore<UserStore<User>>();`

But then I got this error:

`InvalidOperationException: Unable to resolve service for type 'Microsoft.EntityFrameworkCore.DbContext' while attempting to activate 'Microsoft.AspNetCore.Identity.EntityFrameworkCore.UserStore`1[User]'.`

I had to a

[2017-09-12 14:32] blowdart commented on #1422
You can't put authorize on the login endpoint, that's kind of defeating the purpose - it needs to allow anonymous access so you can actually login. You don't really say what the problem is though.

[2017-09-12 14:33] blowdart commented on #1421
The 2fa in this case should really be at the JWT issuance point, that's where login takes place, that's what needs protected.

[2017-09-12 15:23] #1421 closed

[2017-09-12 17:59] B-Esmaili opened #1425 "Cookie expiration time configured in `ConfigureApplicationCookie` ignored by Identity"
Here is my configuration for identity cookie :
[code]
![cookie](https://user-images.githubusercontent.com/9152515/30341168-4e958efc-980a-11e7-9c92-e24f24d5b4f1.png)

as you can see cookies is generated for 15 days but it expires in almost half an hour.could anyone clarify what is problem with my configuration?

[2017-09-12 18:48] VahidN commented on #1425
Have you configured your server to store the cookie decryption keys permanently? if not, whenever the server restarts or the app pool restarts, your users will have to login again.
[More info](https://docs.microsoft.com/en-us/aspnet/core/publishing/iis#data-protection)

[2017-09-13 08:51] AlexOliinyk1 commented on #1422
This example from article is worked for me, it seems I something was missed from article above, before crearted this issue.

[2017-09-13 08:51] #1422 closed

[2017-09-13 09:19] Awd60 commented on #1416
We are using standard Azure authentication.
![authentication](https://user-images.githubusercontent.com/30531953/30369536-28a18852-9875-11e7-9d4a-ecf732bab8c6.PNG)
![authentication1](https://user-images.githubusercontent.com/30531953/30369535-2890f2d0-9875-11e7-895f-88bd496a2c2e.PNG)
Application itself does not handle authentication and rely for Azure .

[2017-09-13 09:29] Awd60 commented on #1416
Issue was closed by my mistake

[2017-09-13 11:28] B-Esmaili commented on #1425
I went through the documentation and did as mentioned but still i get logged out after 30minutes.

[2017-09-13 19:12] HaoK commented on #1401
Is this something we can do in 2.1, as its kinda a breaking change...

cc @blowdart @ajcvickers @davidfowl @Tratcher

[2017-09-13 19:15] blowdart commented on #1401
Is it a good breaking change? :)

[2017-09-13 19:23] HaoK commented on #1401
Well it makes Identity play nicer with the new defaults we added, of course the tradeoff is that people don't really know the side effects of calling AddIdentity, so changing them in 2.1 might result in different effective defaults for apps which will cause another wave of migration issues.

For example:

Today:
[code]

After this change:

[code]

So it might have been the correct thing to do...bu

[2017-09-13 19:24] blowdart commented on #1401
This feels more like fixing a bug than a breaking change to me, but @Eilon should weigh in.

[2017-09-13 19:24] HaoK commented on #1401
I think we might be stuck with AddIdentity for 2.x, and we should maybe switch to the `AddIdentityCore<TUser>` method which decouples authentication from identity

[2017-09-13 19:27] HaoK commented on #1401
Basically once we do https://github.com/aspnet/Identity/issues/1409 we switch templates over to using that in 2.1, and just deprecate AddIdentity in 3.0 but leave it alone in 2.x

[2017-09-13 20:01] natemcmaster commented on #1425
Can you try changing your code to this?
[code]

As mentioned in the xmldocs, Cookie.Expiration is ignored on CookieAuthenticationOptions.

https://github.com/aspnet/Security/blob/a53bf093a7d86b35e019c80515c92d7626982325/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationOptions.cs#L62

Possible duplicate of https://github.com/aspnet/Security/issues/1293

[2017-09-14 03:57] scottsauber opened #1426 "Move Options Defaults to Summary instead of Remarks"
Just wanted to open a issue about the Defaults for things like `PasswordOptions` defaults being in the [Remarks tag of the xml doc comments instead of the Summary tag](https://github.com/scottsauber/Identity/blob/bc75b1a0e73d782fbe221fb6f12855d1a337a5b1/src/Microsoft.Extensions.Identity.Core/PasswordOptions.cs#L14).

I think for discoverability from a Developer point of view, it would be better if

[2017-09-14 04:35] HaoK commented on #1426
Sure a PR would be great!

[2017-09-14 05:03] B-Esmaili commented on #1425
I have done this as well but no luck.@natemcmaster could you give me a reference to code which checks for ticked expiration?

[2017-09-14 05:10] scottsauber commented on #1426
Awesome!  I'm headed to bed now, but I will send one tomorrow.

[2017-09-14 13:07] jcmordan opened #1427 "Logout/Invalidate token using JwtBearer"
Hi, I'm trying to figure out how to implement logout using JwtBearer. I have a login action that create the token like this:

[code]

but now I need an action logout

[code]

[2017-09-14 15:20] B-Esmaili commented on #1425
I found the location in which check for expiration is done and figured out that the problem is ,identity checks every 30  minutes (bu default) to see if issued authentication ticked is valid, consequently it checks to see if the class which is implementing `UserStore<>` is implementing `IUserSecurityStampStore` (`UserManager.SupportsUserSecurityStamp` in following code) for that matter.

https://g

[2017-09-14 15:59] brockallen commented on #836
So I'll remind you guys about this issue, now that I notice in ASP.NET Identity 2 that the authenticator TOTP key and recovery codes are being kept in this table as plaintext. Not ideal.

[2017-09-14 16:36] natemcmaster commented on #1425
Ok, thanks for letting us know @B-Esmaili. We'll use aspnet/Security#1293 for further follow up on the Cookie.Expiration vs ExpireTimeSpan discussion.

[2017-09-14 16:36] #1425 closed

[2017-09-14 17:06] HaoK commented on #836
Yeah this is on our list, and be part of the GPDR work which needs encryption as well

[2017-09-14 19:03] blowdart opened #1428 "Remove .vscode files"
Those are yours @javiercn - they're not supposed to be in source control :p

[2017-09-14 19:07] blowdart commented on #1427
This issue was moved to aspnet/Security#1426

[2017-09-14 19:07] #1427 closed

[2017-09-14 19:07] blowdart commented on #1416
This issue was moved to aspnet/Security#1427

[2017-09-14 19:07] #1416 closed

[2017-09-14 19:08] #311 closed

[2017-09-14 19:12] blowdart commented on #559
It is what it is, managers extend over everything like an octopus, giving a central entry point. Whilst this isn't great from a no god object PoV it is easy from a users perspective. And it's the ordinary users that we're trying to address.

[2017-09-14 19:12] #559 closed

[2017-09-14 19:17] #830 closed

[2017-09-14 19:18] #894 closed

[2017-09-14 19:21] #956 closed

[2017-09-14 19:21] #962 closed

[2017-09-14 19:25] #1030 closed

[2017-09-14 19:26] #1034 closed

[2017-09-14 19:28] blowdart commented on #1038
Link to #836 and #1341, and close in favour of the more recent ones.

[2017-09-14 19:28] #1038 closed

[2017-09-14 19:32] blowdart commented on #1120
Hmm, I don't remember writing anything like that. Could you give me some idea of what you want? I assume you're not wanting to just use EF and take the pain away that way?

[2017-09-14 19:35] blowdart commented on #1127
We've heard from the Windows folks they're looking at fixing it on their side, so we're closing this.

[2017-09-14 19:35] #1127 closed

[2017-09-14 19:35] #1138 closed

[2017-09-14 19:45] blowdart commented on #1159
Given you say this goes away when you restart we're thinking you actually do have a concurrency issue - do other parts of your web site also adjust the user?

[2017-09-14 19:46] blowdart commented on #1184
You could just call your external API when you get asked to validate the details.

[2017-09-14 19:46] #1184 closed

[2017-09-14 19:49] blowdart commented on #1191
Do you really need identity? (Roles, claims etc.) or do you just want a login process? If it's the later then [using cookie authentication on its own](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x) might work well for you.

[2017-09-14 19:51] #1209 closed

[2017-09-14 19:51] #1210 closed

[2017-09-14 19:51] #1258 closed

[2017-09-14 19:52] #1301 closed

[2017-09-14 19:52] #1320 closed

[2017-09-14 19:53] blowdart commented on #1323
This is by design in EF. You should ask in the EF repo about this. https://github.com/aspnet/EntityFrameworkCore

[2017-09-14 19:53] #1323 closed

[2017-09-14 19:53] #1352 closed

[2017-09-14 19:54] blowdart commented on #1360
Closing due to lack of response.

[2017-09-14 19:54] #1360 closed

[2017-09-14 19:55] blowdart commented on #1378
This is just an identity assumption, you must have an id for a user. This isn't going to change.

[2017-09-14 19:55] #1378 closed

[2017-09-14 19:56] blowdart commented on #1384
Closing due to lack of response.

[2017-09-14 19:56] #1384 closed

[2017-09-14 20:00] blowdart commented on #1390
@Rick-Anderson are the docs correct? The problem here sees to be there's URL encoding on the query string, you can see the &amp in there and that's screwing it all up.

[2017-09-14 20:35] HaoK commented on #1120
Something like this doc? https://docs.microsoft.com/en-us/aspnet/identity/overview/extensibility/overview-of-custom-storage-providers-for-aspnet-identity

[2017-09-14 20:40] HaoK commented on #1418
Its most likely the new Id in your user, since the its probably the base property that's being used by Identity which is null.

[code]

I would use the base property

[2017-09-14 20:43] Ibro commented on #1418
@HaoK  yeah, I forgot to post here afterwards. I realised I had an extra Id property.
If I remember correctly, after removing it I wasn't able to sign in at all. The error wouldn't occur but I wouldn't be able to sign in. I think it was same with registration.

[2017-09-14 20:48] HaoK commented on #1418
Can you check the database to ensure that the user was actually created in the DB?

[2017-09-15 07:39] NorDroN opened #1429 "How can I replace base64 in GenerateEmailConfirmationTokenAsync?"
Hi!
I'm developing a dotnet core template based on JavaScriptServices (angular 4) and OpenIddict - https://github.com/NorDroN/AngularTemplate

I've tried to add an email confirmation, but it turned up not so simple:
Microsoft.AspNetCore.Identity use base64 when generates token (GenerateEmailConfirmationTokenAsync), but base64 can contain slash (/) and also base64 is case sensitive
I've tried to so

[2017-09-15 12:09] alienlike commented on #1120
Yes, that doc is a good example of what I'm talking about. Most people will use OOB implementations, but there is still a need for custom. In our case we need an Oracle-based implementation consistent with existing data structures, and we don't use EF. We've now implemented what we need, but we muddled through by referring to other custom implementations such as https://github.com/tugberkugurlu/As

[2017-09-15 15:23] chassq opened #1430 "No User available until cookie created?"
When we run this call

`var signInResult = await _signInManager.PasswordSignInAsync(login.LoginName, login.Password, login.RememberMe, true);`

we cannot seem to get to the HttpContext.User until after the Action Method completes and has returned. Is that correct?

[2017-09-15 15:49] Eilon commented on #1396
This patch bug is **approved** for the 2.0.x patch. Please send a PR to the `feature/2.0.1` branch and get it reviewed and merged. When we have the `rel/2.0.1` branches ready please port the commit to that branch.

[2017-09-15 21:50] HaoK commented on #1396
Feature 2.0.1 created, with fix merged 73afa0af5e27b09aeaea684731bbe7a338e21903

[2017-09-16 04:29] saf-itpro opened #1433 "_userManager.ResetPasswordAsync(...) is returning Invalid Token validation message"
App: **ASP.NET MVC Core 1.1.1 with Individual User Accounts
Identity Core
Entity Framework Core
Visual Studio 2017 ver 15.3.3**

When clicking on `Forgot Password` link, the following code successfully sends an email with a generated link. Clicking on the link inside the email body correctly displays the `Reset Password` form.  But after entering login name, new password etc and clicking on Reset

[2017-09-16 12:40] blowdart commented on #1430
That's expected. Nothing can get populated in the user field until the cookie gets read, and that takes a new request. HttpContext is populated at the start of the request, so there's no user at the start.

[2017-09-16 13:01] chassq commented on #1430
Ok got it. Thanks!

[2017-09-16 13:01] #1430 closed

[2017-09-17 09:44] Ibro commented on #1418
Sadly, I could not find the old sample.
However, I tried to reproduce it, and indeed, when I add new Id on user class, that causes the issue.

If I run into it again, I will reopen this one. Thanks!

[2017-09-17 09:44] #1418 closed

[2017-09-18 11:48] jhermsen opened #1434 "Dev branch not resolving EntityFrameworkCore packages?"
I'm trying to do a clean build of the dev branch, but it won't get all packages.
I was hoping to test the Identity.Service packages.

All I did was:
-Clone: git clone https://github.com/aspnet/Identity.git
-Build: build.cmd

Resulting in these kind of errors with EntityFrameworkCore packages:
`C:\Source\Repos\Identity\src\Microsoft.AspNetCore.Identity.EntityFrameworkCore\Microsoft.AspNetCore.Ident

[2017-09-18 16:26] mcgiany commented on #1159
As i know, no one else access to the data. So, i dont think there is any concurrency issue (outside the framework). Only one user is logged into our application. None side effects in the application.
Anyway, the issue didnt show long time. But if it returns again, i will try to trace ConcurrencyStamp changes in User table. Maybe i will find something.

[2017-09-18 18:18] HaoK commented on #836
Tracking as part of https://github.com/aspnet/Identity/issues/836

[2017-09-18 20:58] HaoK commented on #1189
Actually, we can't do this, since this would effectively require an email, when today email is only required when this flag is on.

[2017-09-18 21:00] HaoK commented on #1189
Null/empty emails are allowed when this flag is off, which is intended right now

[2017-09-18 21:01] CMircea commented on #1189
Well... the ValidateEmail method can check if the email is required and not throw an error if the email is missing and it's optional.

[2017-09-18 21:03] HaoK commented on #1189
Oh I see, its only the valid email check that you want as opposed to that its non empty and valid

[2017-09-18 21:04] CMircea commented on #1189
Yep. That is skipped, but it shouldn't be.

[2017-09-18 21:13] CMircea commented on #1189
Might want to add the bug tag back, it is a bug if the email isn't validated in this case.

[2017-09-18 21:23] HaoK commented on #1189
Note to triage: @blowdart @ajcvickers this is probably a breaking change since with this bug fix, existing users with invalid emails that used to be able to function, would start failing to update/save until their emails were made valid.

[2017-09-18 21:24] HaoK commented on #1189
Might need a new flag to control this, an `alwaysValidateEmail` instead, so existing apps wouldn't be broken on upgrade.

[2017-09-18 21:59] Eilon commented on #1395
This patch bug is **approved** for the 2.0.x patch. Please send a PR to the `feature/2.0.1` branch and get it reviewed and merged. When we have the `rel/2.0.1` branches ready please port the commit to that branch.

[2017-09-18 21:59] Eilon commented on #1395
@kinosang we're working on setting up a feed for the upcoming 2.0.x patch that will have this fix.

[2017-09-18 22:17] HaoK commented on #1395
Pushed https://github.com/aspnet/Identity/commit/b7d5a461d4234f0522a01e5de3c14b7a05dc019a to `feature/2.0.1`

[2017-09-18 23:14] natemcmaster commented on #1434
EF is producing bad packages. Should be fixed with https://github.com/aspnet/EntityFrameworkCore/pull/9845

[2017-09-19 04:59] jhermsen commented on #1434
Oké thanks

[2017-09-19 05:02] #1434 closed

[2017-09-19 07:12] 1amirjalai commented on #1388
any workaround or news on this issue?
we just moved to 2.0 and encountered this issue.
is there any plan for releasing the patch?
a workaround would be nice.

[2017-09-19 14:34] dkent600 commented on #1414
@justin-ruffin 's suggestion worked for me

[2017-09-19 14:35] natelaff commented on #1364
@HaoK Was able to reproduce the error in a blank solution. I think there is an issue here.

ArgumentException: The key value at position 0 of the call to 'DbSet<IdentityUserToken>.Find' was of type 'Guid', which does not match the property type of 'string'.

Basically, start a new project with individual auth.

    public class User : IdentityUser<Guid>
    {
        public string MyProperty { get

[2017-09-19 16:03] wgutierrezr commented on #1364
Hi
After the upgrade to Core 2.0 I'm having this issue, please help.
**InvalidOperationException: The entity type 'IdentityUserLogin<int>' requires a primary key to be defined.**

Regards

[2017-09-20 02:06] Eilon commented on #1388
@1amirjalai maybe @HaoK can help if there's a possible workaround. We'll have a feed with the patch packages on them for people to test hopefully this week. I'll provide details here when that's available.

[2017-09-20 13:27] leodip commented on #1388
Here is what I did for a workaround.

In Startup.cs, where it has:

`services.AddIdentity<ApplicationUser, IdentityRole>(o => { ... });`

I added:

`o.Tokens.ProviderMap.Add("PhoneNumber", new TokenProviderDescriptor(typeof(PhoneNumberTokenProvider<ApplicationUser>)));`

In ManageController (method AddPhoneNumber), I generate the token like this:

[code]

I also modified this method (for security)

[2017-09-20 20:02] ptrstpp950 commented on #1388
The workaround is quite simple. Just one line of code is needed

[code]

[2017-09-20 20:23] NinoFloris opened #1439 "Why are all the Get...Store functions private or don't check Supports...Store"
Flabbergasted by this, as to disable a piece of functionality on a manager now requires much more overrides compared to overriding just the one method and throwing unconditionally.

I see more of these flaws in places where we'd like to take away or slightly remold functionality. Take for instance the idea of the feature interfaces for stores. The stores are great as we don't want to fully create

[2017-09-20 20:40] HaoK commented on #1439
The scenario you describe where you want to selectively disabled functionality while reusing our base store implementations is not something we have focused on.

The store interfaces are meant to be pretty simple to implement.

But have you tried overriding `UserManager.SupportsUserClaim` and making it false?  GetClaims(user) might still call through to the store, if your store actually implements

[2017-09-20 20:47] NinoFloris commented on #1439
Nobody does those checks before executing a method, and as witnessed in the manager code you don't expect them to either as you recheck support in those Get...Store methods.

I don't know what you mean with "GetClaims(user) might still call through to the store" as all the functions using that have been overridden to throw.

Easiest fix is to make Get...Store respect any overridden result of the S

[2017-09-20 20:56] HaoK commented on #1439
The original idea is that callers do not call methods on the manager that their store doesn't support.  Those private get methods are just a pattern used to consistently throw NotSupportException if the store doesn't implement the interface.

What are you actually trying to do?

If you disable UserClaims because you don't use them, nothing should be calling the Claims methods (other than the defau

[2017-09-20 21:09] NinoFloris commented on #1439
Yes that's why I'd like to see a more constructive solution where there is a store we can actually use as a base that doesn't already implement everything

[2017-09-21 09:56] Moobylicious commented on #1376
I had exactly this problem - trying to use Identity to just manage users, passwords etc.  and JWT for Auth.  I'm writing a pure Web API with no front end code so I didn't want the cookie auth stuff.
What I've found works from a functional perspective is to revert to using
[code]
**But** you **must** ensure this is added _before_ the jwt auth stuff:
[code]
if the identity stuff is added afterwards,

[2017-09-21 10:25] Moobylicious commented on #1376
AHA!  Actually, by following the linked issue above:
https://github.com/aspnet/Identity/issues/1423

I've been able to get it to work fine, and STOP SENDING THE DARN COOKIE...

Basically, do this:

[code]

And then when authenticating a username/password, you use `CheckPasswordSignInAsync` rather than `PasswordSignInAsync`:
[code]

And then everything seems to work....  no stupid cookie. :)

[2017-09-21 15:38] NinoFloris opened #1440 "Why isn't the normalized name used when adding roles to the claimsidentity?"
https://github.com/aspnet/Identity/blob/eb3ff7fc32dbfff65a1ba6dfdca16487e0f6fc41/src/Microsoft.Extensions.Identity.Core/UserClaimsPrincipalFactory.cs#L143

As `ClaimsPrincipal.IsInRole()` calls down to `ClaimsIdentity.HasClaim()` which uses an Ordinal comparison on the value it seems logical to save the normalized name for the role. Or if it's important to be able to display the original name to r

[2017-09-21 19:51] NtFreX commented on #877
Can we add this property to the startup configuration? Because when I can't find a (not crazy) solution to prevent the auto save from happening when I use the UserManager.

[2017-09-22 18:24] #1396 closed

[2017-09-22 18:27] HaoK commented on #1401
Closing in favor of https://github.com/aspnet/Identity/issues/1409 we'll add a new way to add identity without any authentication settings, leaving the existing settings alone to avoid any breaking changes

[2017-09-22 18:27] #1401 closed

[2017-09-22 19:59] claudioct commented on #1433
Can use System.Net.WebUtility.UrlEncode("string") and System.Net.WebUtility.UrlDecode("string") to resolve #2;
--

[2017-09-22 22:03] HaoK commented on #1409
Discussed with @ajcvickers today and the tentative plan for now is to end up with something like this:

[code]

Also as part of this work, we'll refactor the logic that SignInManager uses today for TFA/External/Lockout into new pieces that can be reused, and then switch SignInManager over to use the new implementation.

@davidfowl feedback/thoughts?  I know you mentioned possibly deprecating SignI

[2017-09-23 08:49] seven1986 commented on #1364
May I know the reason why navigation properties were removed from the base pocos??
Beacuse I just know how to use it, then upgrade to .net core 2.0 there are lot of things need to fix...  thanks

[2017-09-24 03:34] dfederm opened #1441 "UserManager.Logger is virtual and set in the constructor"
Pretty much as the title says.

This is considered bad practice, as ctor order is the most base class to the most derived class, so if the property is overridden in a subclass it may not be properly initialized.

Static Analysis even has a rule against this: https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2214-do-not-call-overridable-methods-in-constructors (note that properties are e

[2017-09-25 03:30] yuleyule66 commented on #1364
I changed a lot of content in identity 1.0, I'm very tired when migrations to 2.0 ,I think this is a design mistake of identity

[2017-09-25 11:29] wgutierrezr commented on #1364
Hi
After three attempts to "migrate" to Core 2 with many errors, I decided to create a new Core 2 project and copy paste my code. I had to do a lot of changes but not errors right now.

[2017-09-25 19:37] saf-itpro commented on #1433
@claudioct I tried your suggestion but still the same error. I've added **UPDATE 2** in my post above.

[2017-09-25 20:09] Rick-Anderson commented on #1390
security/authentication/accconfirm #4075

[2017-09-25 20:17] claudioct commented on #1433
If you're using ModelBinder, try to not use _System.Net.WebUtility.UrlDecode("string")_ .
I guess Net Core do the dirty work for us.

[2017-09-25 20:46] saf-itpro commented on #1433
@claudioct  Yes, I've read that at different places online to not to use Decode since, according to some, it may even bring back the issue you are trying to resolve. That's why, I mentioned in my UPDATE 2, that first I tried using Encoding part only. But after getting the same error, I tried Decoding part, as well, but still the same error.

[2017-09-25 20:59] claudioct commented on #1433
Did you debugged to make sure you're trying to change password with correct token?

[2017-09-25 22:47] saf-itpro commented on #1433
@claudioct In my Note in the post above I mentioned that the PasswordReset functionality works fine if I am logged in and want to reset my password to something else. Now the same functionality does not work when a generated link is clicked on the email body. I don't know how I would debug outside the visual Studio (please note that we are now not inside the Visual Studio anymore; it's PasswordRes

[2017-09-26 13:53] blowdart commented on #1433
@HaoK

[2017-09-26 13:53] blowdart commented on #1429
@HaoK

[2017-09-27 23:09] natelaff opened #1443 "Issue with IdentityUserToken Id data type"
Branching this into a new issue from https://github.com/aspnet/Identity/issues/1364 because I believe it's a bug and can reproduce it.

I override my datatypes in Identity with Guid. Nothing fancy. But getting this as of upgrade to 2.0.

ArgumentException: The key value at position 0 of the call to 'DbSet<IdentityUserToken>.Find' was of type 'Guid', which does not match the property type of 'strin

[2017-09-28 04:01] mkArtak opened #1444 "Email confirmation token becomes invalid after redeployment"
Hi.

I have an asp.net core 2 web application which is hosted in Azure AppService.
When a new user signs up the application sends an email confirmation request to the user (as an email), with a link in it for the user to click.
The link uses a token generated using the following method:
`UserManager<TUser>.GenerateEmailConfirmationTokenAsync(TUser user)`

When user clicks the link, the AccountCont

[2017-09-28 06:37] VahidN commented on #1444
This may help: ["... by default the keys will be held in memory ..."](https://docs.microsoft.com/en-us/aspnet/core/publishing/iis?tabs=aspnetcore2x#data-protection)

[2017-09-28 09:48] svethors opened #1445 "PasswordValidator.IsLower and .IsUpper only reconizing the english alphabet"
When validating passwords and requiring either upper or lower case characters, non-english characters are not properly recognized as being upper or lower case. For example the Norwegian character 'Æ' is the upper case of 'æ', but will not be regarded as either, and so setting PasswordOptions.RequireLowercase = true will result in an error even if the lower case 'æ' is present in a password.

The c

[2017-09-28 16:45] ajcvickers opened #1447 "Document how to customize the EF model"
People often seem to run into issues when attempting to customize the entities in the Entity Framework model. It would be good to have documentation showing the general approach (i.e. talk about OnModelCreating, that the model needs to remain in a consistent state, etc) as well as common scenarios (adding a property, adding an FK, changing to use a composite key, etc.)

[2017-09-28 16:53] HaoK commented on #1447
cc @Rick-Anderson @scottaddie

[2017-09-28 16:54] HaoK commented on #1447
Maybe we can expand the existing Customizing Foreign Keys doc into this?

[2017-09-28 18:22] scottaddie commented on #1447
@HaoK Are you referring to the following doc? https://docs.microsoft.com/aspnet/core/security/authentication/identity-primary-key-configuration

[2017-09-28 18:40] Rick-Anderson commented on #1447
@ajcvickers  can you provide a first draft for this and we'll take it from there? Should it go under https://docs.microsoft.com/en-us/ef/core/modeling/ ?

[2017-09-28 18:55] HaoK commented on #1447
Yeah @scottaddie basically that is one specific common customization, this new topic should include that, but also cover the other common scenarios that currently aren't documented

[2017-09-29 04:51] mkArtak commented on #1444
Thanks @VahidN .

I will try to persist those and see whether that will fix it or not. Hopefully, it will !

[2017-09-29 05:45] yodasad opened #1448 "The proper way to extend UserManager"
Assume I want to write a library that extends identity model with a new object called Organization.  It can look like this
[code]
A user can be a member of many organization.
The next step is to extend `UserManager` with some methods
[code]

My question is: what is the proper way to implement these methods?
1. Should I invent a new class `UserOgranizationInfo` (analogue of `UserLoginInfo`)?

So th

[2017-09-29 08:33] andreyshade commented on #1447
In my case I need guide how to run asp.net core + mvc + identity + sqlite

[2017-09-29 09:06] HaoK commented on #1448
So the main guiding factor is whether you are building something more like a library for reuse in different situations, or if this is specific to your app.  If you don't envision reusing this for other organization types in the future, you don't need the extra generic complexity...

There's no clear right or wrong choice between your options, the tradeoffs are between extra work/complexity for som

[2017-09-29 16:58] ajcvickers commented on #1447
@Rick-Anderson Yes, I will write a draft of this.

@andreyshade If you're looking for general docs on how to use ASP.NET Core (including the things you mention) then the best place to start is here: https://docs.microsoft.com/en-us/aspnet/index

[2017-09-29 19:36] natelaff commented on #1443
[WebApplication6.zip](https://github.com/aspnet/Identity/files/1345480/WebApplication6.zip)

Here's a repro project.

1) Create database
2) Register as a new user
3) Go to Manage page
4) Click Two Factor Auth

[2017-09-29 19:52] HaoK commented on #1443
@natelaff can you convert your zip to a repo on github instead?  And then I'll take a look thanks

[2017-09-29 20:43] natelaff commented on #1443
https://github.com/natelaff/aspnetcore20-identity-bug

[2017-09-29 21:24] HaoK commented on #1443
So I was able to get a simplified version what you were trying to accomplish to work I think:

1. Create a new MVC app with individual auth.
2. Customize the user + role with an additional property:
[code]
3. Update Startup: `AddIdentity<ApplicationUser, Role>`
4. Update `ApplicationDbContext : IdentityDbContext<ApplicationUser, Role, Guid>`
5. Delete all initial migrations/classes that the templa

[2017-09-29 21:26] HaoK commented on #1443
Note: the two big changes from your repro that I avoided was the OnModelCreating configuration, and leaving the ApplicationUser class name alone.

[2017-09-29 21:30] natelaff commented on #1443
I already have an existing database where I have those table names set so I'm kind of locked in there :)